= content_for :top_sub_navigation do
  .row-fluid
    .span12.manage-nav.buy-sell-top-navigation
      .navbar
        .navbar-inner.nav-links
          %ul.nav
            - Spree::Taxon.for_top_navigation.each do |taxon|
              %li
                = link_to buy_sell_taxon_path(taxon) do
                  %span= taxon.name
