{% query_graph 'conversation_threads_for_user', result_name: g , user_id: current_user.id %}

<div class="wrap-a reduce">
  <div class="contain">
    <h1 class="inbox-heading">{{ 'user_messages.inbox_header' | t }}</h1>
    <section class="user-messages-inbox" data-user-messages-inbox>
      {% if g.user.threads.size > 0 %}
        {% include "dashboard/user_messages/no_user_selected" %}
        {% include "dashboard/user_messages/contact_list", threads: g.user.threads %}
      {% else %}
        {% include "dashboard/user_messages/no_conversations" %}
      {% endif %}
    </section>
  </div>
</div>


