{% query_graph 'conversation_threads_for_user', result_name: g , user_id: current_user.id %}
{% query_graph 'user_message_conversation', result_name: conv , user_id: current_user.id, thread_id: params.id %}

<div class="wrap-a reduce">
  <div class="contain">
    <h1>{{ 'user_messages.inbox_header' | t }}</h1>
    <section class="user-messages-inbox" data-user-messages-inbox>
      {% include "dashboard/user_messages/conversation", thread: conv.user.thread %}
      {% include "dashboard/user_messages/contact_list", threads: g.user.threads, active_participant_id: conv.user.thread.participant.id %}
    </section>
  </div>
</div>


