<header class='dialog__header'>
  <h2 id='dialog__title'>{{ 'dashboard.user_recurring_bookings.host_actions.confirmations.decline' | translate }}</h2>
</header>

</div>
{% assign transactable = order.transactable %}
{% assign url = 'reject_dashboard_company_orders_received_path' | generate_url:  id: order.id, listing_id: transactable.id %}
{% form_for @order, as: :order, url: @url, form_for_type: dashboard %}
  <div class='dialog__body'>
    {% assign placeholder = 'dashboard.user_recurring_bookings.decline_reason_placeholder' | translate %}
    {% input rejection_reason, placeholder: @placeholder, label: false, tabindex: 1 %}
  </div>
  <div class='dialog__actions'>
    {% assign submit_label = 'dashboard.user_recurring_bookings.host_actions.decline' | translate %}
    {% submit @submit_label %}
  </div>
{% endform_for %}
