%header.dialog__header
  %h2#dialog__title= t('dashboard.user_recurring_bookings.host_actions.confirmations.decline')

= dashboard_simple_form_for(@order, as: :order, url: reject_dashboard_company_orders_received_path(@order, listing_id: @order.transactables.first)) do |f|
  .dialog__body

    = f.input :rejection_reason, placeholder: t('dashboard.user_recurring_bookings.decline_reason_placeholder'), label: false, tabindex: '1'

  .dialog__actions
    = f.submit t('dashboard.user_recurring_bookings.host_actions.decline')
