- title t('buy_sell_market.checkout.labels.order_details')

- content_for :page_header do
  %h1
    = link_to t('orders.title.orders_received'), dashboard_company_orders_received_index_path, class: 'hidden-xs hidden-sm'
    %span.hidden-xs.hidden-sm >
    = t('buy_sell_market.checkout.labels.order_details')


.panel
  .panel-body
    .orders-a
      = render @order, reservation: @order
