$icomoon-font-path: "fonts" !default;

$icon-tutarrow: "\e61e";
$icon-checked: "\e600";
$icon-unchecked: "\e605";
$icon-close: "\e616";
$icon-menu: "\e615";
$icon-check: "\e606";
$icon-pin: "\e607";
$icon-cross: "\e608";
$icon-arrow-down: "\e609";
$icon-arrow-right: "\e60a";
$icon-arrow-left: "\e60b";
$icon-arrow-up: "\e60c";
$icon-minus-circle: "\e60d";
$icon-plus-circle: "\e60e";
$icon-pencil: "\f040";
$icon-trash: "\f1f8";
$icon-star: "\e617";
$icon-search: "\e614";

