- title "Products"

.dash-head.clearfix
  %p MANAGE LISTINGS
  = link_to new_dashboard_company_product_type_product_path(@product_type), class: "dash-head-btn btn blue pull-right" do
    List New Item
.dash-body
  .dash-sub-nav
    %ul
      - Spree::ProductType.all.each do |product_type|
        %li{class: product_type == @product_type ? "active" : ""}
          = link_to product_type.name.pluralize, dashboard_company_product_type_products_path(product_type)

  %br
  .listings-header
    .row
      .col-md-3
        %p Picture
      .col-md-3
        %p Name
      .col-md-3
        %p Quantity
      .col-md-2
        %p Price
  = render partial: 'product', collection: @products
  = will_paginate_styled @products
