- title t('dashboard.analytics.title')

- content_for :page_header do
  %h1= yield :title

- tabs = []
- analytics_options.each do |tab|
  - tabs.push({ name: tab[0], url: url_for(:analytics_mode => tab[1]), active: tab[1] == @analytics.chart_type })

= dashboard_panel_multi_tabs(tabs)

.panel
  .panel-body
    = render partial: 'shared/chart'
    = render partial: 'shared/chart/list/' + @analytics.chart_type
