- only_inputs ||= []

- if only_inputs.empty? || (category = f.object.instance_profile_type.try(:categories).try(:roots).try(:detect) { |c| "Category - #{c.name}".to_sym == only_inputs.first}).present?
  = render partial: 'dashboard/shared/fields/category', locals: { category: category, f: f, categorizable: f.object.instance_profile_type }
- else
  - f.object.instance_profile_type.try(:custom_attributes).try(:each) do |attribute|
    = draw_attribute_for_form(attribute, properties_form) if only_inputs.empty? || only_inputs.include?(attribute.name.to_sym)

