- title "Reset Password"

.row-fluid
  #signup
    .span8.offset2
      .box
        %h2== Rejection reason
        %p.intro
          You can provide rejection reason

        = simple_form_for(@reservation, :url => reject_manage_listing_reservation_path(@listing, @reservation)) do |f|
          .input-icon-holder
            = f.input :rejection_reason, :label => false, :placeholder => "Rejection reason", :tabindex => '1'

          .actions
            = f.submit "Reject"

- if request.xhr?
  :javascript
    Modal.setClass('sign-up-modal')

:javascript
  $(function() {
    new ModalForm($('#signup'), $('from.edit_reservation'))
  });
