- title "Reset Password"

.row-fluid
  #signup
    .span8.offset2
      .box
        %br
        = simple_form_for(@reservation, :url => reject_manage_listing_reservation_path(@listing, @reservation)) do |f|
          .input-icon-holder
            = f.input :rejection_reason, :placeholder => "Optionally, provide a reason.", :label => false, :tabindex => '1'
          %br
          .actions
            = f.submit "Decline"

- if request.xhr?
  :javascript
    Modal.setClass('sign-up-modal')

:javascript
  $(function() {
    new ModalForm($('#signup'), $('from.edit_reservation'))
  });
