= dashboard_simple_form_for ['dashboard', 'company', @order.routing_object, @payment_subscription], data: { modal: true, "redirect-to" => @redirect_to }, html: {id: 'new_payment'} do |f|

  = render 'shared/payment_form', f: f

  .dialog__actions
    %button{type: "submit", data: { disable_with: t('general.processing') } }= t "dashboard.host_reservations.actions.accept"

:javascript
  $(document).trigger('init:paymentmodal.nearme');
