= dashboard_simple_form_for ['dashboard', 'company', @order.routing_object, @payment_subscription], data: { modal: true, "redirect-to" => @redirect_to }, html: {id: 'new_payment'} do |f|

  = render 'shared/single_payment', f: f

  .dialog__actions
    = yield :dialog_actions
