- if @global_errors.present?
  .errors-global
    %h3
      %b= t('dashboard.transactables.transactable_not_saved')
      = t('dashboard.transactables.address_errors_html', count: @global_errors.count)

    %ul
      - @global_errors.each do |msg|
        %li= msg
