- content_for :booking_type_schedule_tab_content do
  %div{:class => "row #{"error" if f.object.errors.include?(:fixed_price).present?}"}
    .col-md-3
      %label
        %abbr{:title => "required"}= t('simple_form.required.mark')
        =t('simple_form.labels.listings.schedule')
    .col-md-9
      = f.simple_fields_for :schedule, f.object.schedule || f.object.build_schedule(schedule: f.object.transactable_type.schedule.try(:schedule).try(:to_hash).try(:to_json)) do |schedule_form|
        = render 'schedules/fields', f: schedule_form
