.row-fluid.message
  .span1.profile
    .row-fluid
    - if ticket_message.user
      = image_tag ticket_message.user.avatar.url(:medium)

  .span11.text
    .name.pull-left
      = ticket_message.full_name
    .time.text-right.pull-right
      %abbr.timeago{:title => "#{ticket_message.created_at.to_time.iso8601}"}
        =ticket_message.created_at
    .clearfix
    =simple_format(ticket_message.message)
