.row-fluid.message
  .span1.profile
    .row-fluid
    - if ticket_message.user
      = image_tag ticket_message.user.avatar_url(:medium)

  .span11.text
    .name.pull-left
      = ticket_message.user.try(:name)
    .time.text-right.pull-right
      %time.timeago{:datetime => ticket_message.created_at.to_time.iso8601 }
        =ticket_message.created_at
    .clearfix
    =simple_format(ticket_message.message)
    .attachments.clearfix
      = render partial: 'support/ticket_message_attachments/attachment', collection: ticket_message.attachments, as: :ticket_message_attachment



