- admin_help_area('bulk-upload')

= admin_side_navigation(:advanced)

%h1 Bulk data upload

%p
  Entering multiple listings by hand can be quite tedious. You can create listings by uploading a specialy formatted
  %abbr{:title => "Comma Separated Values"} CSV
  file.
%p Below you'll see all of the possible field attributes describing your asset. You can reorder their position or move them to the list on the right to disable them altogether.
%p
  Based on your settings
  %a{:href => "#" } a customized template file
  is created that serves as a base for uploading data.
