%ul.nav.nav-tabs
  - controller.class.superclass::CONTROLLERS.each do |controller_name, settings|
    %li{:class => ("active" if controller.controller_name == (settings[:controller] || controller_name).split('/').last)}
      %a{href: "#{url_for controller: settings.fetch(:controller, controller_name), action: settings[:default_action]}"}= "#{controller_name.titleize}"
