%h4= t('instance_admin.manage.transactable_types.booking_settings')
.row
  .input-container.col-xs-12
    = f.input :allow_action_rfq, as: :boolean, :inline_label => true, label: t('instance_admin.manage.transactable_types.action_rfq')
