---
partial: false
---

<section class="home-hero">
    <div class="slideshow">
      <div class="slideshow-image slideshow-image-1"></div>
      <div class="slideshow-image slideshow-image-2"></div>
      <div class="slideshow-image slideshow-image-3"></div>
    </div>
    <div class="page-title">
      <h1>
        Invest In Your Style
      </h1>
      <p>
        Borrow and lend designer fashion delivered to your door
      </p>
    </div>
    <div class="home-search">
      <form class="home_search search-form" action="/search" method="get">
        <input id="filter" name="filter" type="hidden" />
        <input type="hidden" name="sort" value="created_at_desc" />
        <input type="hidden" name="lg_custom_attributes[item_type][]" value="" />

        <ul class="search-filters">
          <li data-filter="Dress" data-category-link>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-9.021 -11.284 101 126.097"><g stroke-miterlimit="10"><path d="M42.009 106.085c-18.472 0-35.347-3.759-45.141-10.059a1.432 1.432 0 0 1 1.548-2.409c9.21 5.922 25.913 9.604 43.592 9.604 17.57 0 33.689-3.479 43.118-9.304a1.433 1.433 0 0 1 1.969.465 1.43 1.43 0 0 1-.466 1.971c-9.858 6.092-26.54 9.732-44.62 9.732z"/><path d="M41.773 114.312c-21.336 0-40.824-3.762-49.649-9.583a1.43 1.43 0 0 1-.546-1.715l.104-.273.049-.11 34.977-71.463-3.977-25.457a1.435 1.435 0 0 1 .475-1.304c.146-.127 3.66-3.149 8.159-3.149 2.548 0 6.098 1.005 9.232 5.493 3.135-4.487 6.685-5.493 9.233-5.493 4.5 0 8.013 3.021 8.161 3.149.352.309.532.77.481 1.235L55.73 31.131l35.495 71.493c.065.126.107.264.13.404l.104.643a1.432 1.432 0 0 1-.662 1.454c-9.2 5.668-27.986 9.187-49.024 9.187zm-47.021-11.329c8.842 5.162 27.034 8.459 47.021 8.459 19.502 0 37.545-3.197 46.556-8.198L52.974 32.031a1.42 1.42 0 0 1-.143-.792l2.703-25.101c-.998-.701-3.199-2.009-5.703-2.009-3.043 0-5.685 1.958-7.852 5.822a1.439 1.439 0 0 1-1.252.734h-.259c-.52 0-.998-.281-1.251-.734-2.167-3.863-4.809-5.821-7.852-5.821-2.472 0-4.649 1.276-5.667 1.984l3.913 25.058c.045.29 0 .587-.129.851l-34.73 70.96z"/><path d="M29.969 3.473a1.436 1.436 0 0 1-1.435-1.436V-9.35a1.435 1.435 0 0 1 2.87 0V2.038a1.433 1.433 0 0 1-1.435 1.435zM51.1 3.473a1.437 1.437 0 0 1-1.435-1.436V-9.35a1.435 1.435 0 0 1 2.87 0V2.038A1.435 1.435 0 0 1 51.1 3.473zM41.506 35.333c-6.967 0-12.635-2.464-13.006-2.629a1.437 1.437 0 0 1-.727-1.896 1.432 1.432 0 0 1 1.894-.728c.129.056 13.097 5.669 23.064-.659a1.436 1.436 0 0 1 1.538 2.423c-4.164 2.646-8.687 3.489-12.763 3.489z"/><path d="M47.557 82.68a1.436 1.436 0 0 1-1.423-1.26l-5.821-47.194a1.436 1.436 0 0 1 1.248-1.602 1.444 1.444 0 0 1 1.602 1.25l5.82 47.194a1.435 1.435 0 0 1-1.426 1.612z"/><path d="M35.791 59.652a1.435 1.435 0 0 1-1.399-1.762l5.694-24.294a1.437 1.437 0 0 1 2.796.654l-5.695 24.295a1.436 1.436 0 0 1-1.396 1.107z"/></g></svg>
          </li>
          <li data-filter="Bag" data-category-link>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.74 69.855"><path fill-rule="evenodd" clip-rule="evenodd" stroke-width=".5" d="M28.285 34.284H45.872V46.523H26.867V34.284h1.418zm-3.778 22.181l2.828 10.556H45.404l2.829-10.556 2.734.73-2.633 9.825h3.069c7.842-.115 10.293-5.403 11.762-12.229l6.068-28.146H3.506l6.068 28.146c1.496 6.957 3.867 11.997 11.762 12.229h3.068l-2.631-9.825 2.734-.73zm11.863 13.39h15.034c9.33-.194 12.749-6.2 14.53-14.477l6.437-29.858.369-1.711H57.969C55.31 14.195 51.169 7.5 46.435 3.725 43.333 1.25 39.964.01 36.564 0c-3.391-.011-6.771 1.209-9.905 3.655-4.829 3.768-9.092 10.497-11.877 20.155H0l.368 1.711 6.438 29.858c1.733 8.062 5.309 14.477 14.53 14.477H36.37zM17.727 23.81c2.603-8.628 6.411-14.604 10.671-17.928 2.622-2.046 5.408-3.067 8.167-3.058 2.749.009 5.516 1.046 8.11 3.115 4.174 3.329 7.87 9.278 10.357 17.871H17.727zm25.311 13.307H29.702v6.57h13.336v-6.57z"/></svg>
          </li>
          <li data-filter="Millinery" data-category-link>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120.705 74.696"><path stroke-width=".5" stroke-miterlimit="10" d="M120.019 47.28c-.345-.437-.845-.765-1.509-1.006L90.268 29.319c-.081-.9-.246-2.611-.492-4.689-.714-6.027-1.957-13.88-3.828-17.071-1.745-2.975-6.63-5.451-10.282-6.67C74.842.616 73.042.25 66.949.25c-7.477 0-17.075.567-17.171.573l-.186.023c-1.006.205-9.886 2.132-11.889 6.867-1.626 3.845-2.414 12.999-2.79 20.001a238.122 238.122 0 0 0-.178 3.958L.421 44.892l-.116.765c-.07.453-1.502 11.25 16.025 23.155l.074.048c.255.149 6.374 3.685 16.976 5.19 2.691.382 5.824.647 9.344.646 9.2 0 21.04-1.806 34.517-8.026 8.994-4.153 12.931-7.357 16.094-9.932 1.516-1.234 2.825-2.3 4.449-3.277 1.591-.958 5.532-2.316 11.144-3.844 1.167 1.694 1.81 2.235 2.202 2.495 1.108.729 2.988 1.237 4.573 1.237.822 0 1.526-.135 2.091-.401 1.068-.506 2.093-1.934 2.422-2.77.146-.373.546-1.963-.197-2.898zM40.157 8.752c1.223-2.891 7.455-4.766 9.875-5.275 1.018-.059 9.919-.562 16.917-.562 5.538 0 7.311.314 7.874.503 4.104 1.368 7.732 3.625 8.826 5.49 1.279 2.179 2.516 7.874 3.481 16.036.228 1.926.385 3.531.47 4.447-.028.018-.057.034-.085.051-.34.194-.686.385-1.039.569-.113.06-.229.115-.344.173a31.09 31.09 0 0 1-1.814.849 35.863 35.863 0 0 1-2.606 1.011c-16.782 5.783-39.314.77-44.307-.469.031-.849.085-2.153.168-3.719.515-9.596 1.432-16.381 2.584-19.104zm70.793 37.519c-.454.142-1.02.316-1.789.522h-.001l-.056.014-1.714.458.005.009c-4.149 1.152-8.878 2.635-10.986 3.903-1.786 1.075-3.229 2.25-4.757 3.495-3.048 2.48-6.839 5.566-15.529 9.578-33.819 15.612-57.339 2.888-58.34 2.328-13.418-9.13-14.774-17.363-14.86-19.795L36.11 33.999c3.893 1.034 30.792 7.683 49.536-.633l.095-.043c.427-.191.85-.389 1.267-.596l.093-.045a34.518 34.518 0 0 0 1.478-.783c.14-.078.28-.155.42-.235l23.635 14.188c-.545.071-1.03.218-1.684.419zm5.703 4.269c-.094.044-.372.146-.951.146-1.169 0-2.524-.415-3.109-.8-.041-.026-.323-.229-.939-1.043l.085-.025c.727-.226 1.059-.328 1.522-.346.375-.013.87-.03 1.413-.03 1.422 0 2.233.129 2.694.255l.414.249a1.513 1.513 0 0 1-.046.258c-.161.407-.799 1.195-1.083 1.336z"/></svg>
          </li>
          <li data-filter="Menswear" data-category-link>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 152.53 228.18"> <path fill="#231f20" stroke="#000" stroke-miterlimit="10" d="M144.19 29.86a3.83 3.83 0 0 0-.11-.45l.12-.12-.48-.79a2.85 2.85 0 0 0-2.53-1.43 4.6 4.6 0 0 0-1.53.29l-.26.1-.24-.39-.1.29c-3.28-1.06-6.68-2-10.11-2.95-6.62-1.82-13.29-3.66-19.13-6.41S99.04 11.68 95.6 6.38c-.1-.44-.17-.88-.27-1.33a8 8 0 0 0-.35-1.23 3.21 3.21 0 0 0-1.29-1.6 6.14 6.14 0 0 0-2.28-.72 93.31 93.31 0 0 0-14.49-1 104.88 104.88 0 0 0-15.26 1 12.66 12.66 0 0 0-1.78.42 4.56 4.56 0 0 0-1.07.5 3.23 3.23 0 0 0-1.13 1.27 6.72 6.72 0 0 0-.51 1.59c-.08.39-.16.76-.23 1.13-3.49 5.4-8.33 9-14 11.64s-12.23 4.45-18.82 6.23c-3.54 1-7.11 1.93-10.62 3.07l-.1-.29-.23.44-.41-.15a4.44 4.44 0 0 0-1.38-.24A2.86 2.86 0 0 0 8.8 28.5l-.64 1.07.22.12v.18A731 731 0 0 0 .5 135.01a628.31 628.31 0 0 0 3.93 70.89 3.92 3.92 0 0 0 1.55 2.83 4.67 4.67 0 0 0 2.77.8h.56l8.94-.86c-.38 4.52-.64 9-.73 13.51v.1a5.24 5.24 0 0 0 1.51 3.7 5.39 5.39 0 0 0 3.58 1.6h.19l1.08.06v-.07h105.76a5.32 5.32 0 0 0 3.76-1.54l.81-.81-.09-.09a5.28 5.28 0 0 0 .79-2.32v-1c0-2.89-.47-9.7-.74-13l7.35.56c.74.06 1.48.12 2.21.12a4.9 4.9 0 0 0 2.76-.66 3.14 3.14 0 0 0 1.05-1.19 4.54 4.54 0 0 0 .45-1.65 625.42 625.42 0 0 0 3.94-70.83 731.3 731.3 0 0 0-7.74-105.3zm-.13 175.42a2.77 2.77 0 0 1-.47 0c-.36 0-.84 0-1.4-.08l-8.29-.64c-.84-8.57-2-17.18-3.21-25.76-2.15-15.47-4.27-30.85-4.27-45.71a128.54 128.54 0 0 1 .85-15.25l4-46.49-2.32-.27-1.41 9.85-4.36 36.41a133.73 133.73 0 0 0-.88 15.78c0 5.83.33 11.71.84 17.63-3.36 0-5.92.1-7.69.23-1 .07-1.75.15-2.31.25a4.33 4.33 0 0 0-.75.19 1.65 1.65 0 0 0-.43.23 1.3 1.3 0 0 0-.3.33 1.23 1.23 0 0 0 0 1.35 1.36 1.36 0 0 0 .53.46 3 3 0 0 0 .69.23 28.86 28.86 0 0 0 4.06.4c1.71.09 3.91.14 6.55.15q.5 4.94 1.12 9.9c-2.74 0-4.82.1-6.29.22a17.23 17.23 0 0 0-2 .25 3.46 3.46 0 0 0-.69.21 1.54 1.54 0 0 0-.42.27 1.31 1.31 0 0 0-.27.34 1.24 1.24 0 0 0 0 1.21 1.36 1.36 0 0 0 .49.49 2.54 2.54 0 0 0 .66.25 21.16 21.16 0 0 0 3.53.42c1.43.09 3.27.14 5.44.16 2.35 17.92 5.39 36.3 5.78 53.9a1.19 1.19 0 0 1-.35.86 1.18 1.18 0 0 1-.92.38H101.5a16.4 16.4 0 0 1-9.16-3.83c-3.66-3.11-6.14-7.9-7.91-13.37a128.8 128.8 0 0 1-3.84-17.24c-.51-2.88-1-5.64-1.56-8.22a121.82 121.82 0 0 0 4.17-29.86 87.36 87.36 0 0 0-4.94-29q1.43-4.06 2.83-8.15c6.83-10.1 13.31-20.27 19.26-30.55a330 330 0 0 0 16.15-31.3l.73-1.64h-.78a1.9 1.9 0 0 0-.51-.63l-10.44-8.31 11.53-9.09a2 2 0 0 0 .77-1.54 1.9 1.9 0 0 0-.69-1.46q-4.19-3.47-8.08-7.12c9.49 4.26 20.4 6.29 29.85 9.47l.35.12.23.38.33-.2.2.07.08-.24.23-.22a726 726 0 0 1 7.65 103.47 621.71 621.71 0 0 1-3.9 70.3zM51.4 223.5H22.81a1.32 1.32 0 0 1-.86-.37 1.12 1.12 0 0 1-.34-.82c.34-17.62 3.43-36 5.78-54 2.84 0 5.05-.11 6.63-.25a18.15 18.15 0 0 0 2.07-.27 3.63 3.63 0 0 0 .71-.21 1.58 1.58 0 0 0 .43-.26 1.29 1.29 0 0 0 .27-.34 1.24 1.24 0 0 0 .16-.61 1.25 1.25 0 0 0-.15-.59 1.33 1.33 0 0 0-.49-.5 2.33 2.33 0 0 0-.64-.25 19.91 19.91 0 0 0-3.38-.39c-1.34-.08-3.06-.13-5.14-.14q.62-5 1.12-9.9c3.42 0 6.07-.11 7.93-.24 1-.07 1.81-.16 2.38-.26a4.55 4.55 0 0 0 .77-.19 1.69 1.69 0 0 0 .44-.23 1.31 1.31 0 0 0 .31-.32 1.22 1.22 0 0 0 0-1.35 1.35 1.35 0 0 0-.53-.47 2.72 2.72 0 0 0-.67-.23 27.52 27.52 0 0 0-3.94-.39c-1.64-.08-3.75-.13-6.34-.15.52-5.92.84-11.81.84-17.65a132.59 132.59 0 0 0-.89-15.77l-4.33-36.41-1.34-9.85-2.32.26 4 46.46a128.56 128.56 0 0 1 .86 15.29c0 14.86-2.13 30.24-4.27 45.71-1.19 8.56-2.37 17.14-3.2 25.69l-9.66.93h-.53a621.51 621.51 0 0 1-3.92-70.41A725.9 725.9 0 0 1 12.22 31.5l.28.21.08.24.21-.07.32.19.23-.38.35-.12c7.47-2.51 15.88-4.25 23.79-7a70.7 70.7 0 0 0 6.57-2.61q-4.44 4.29-9.3 8.29a1.92 1.92 0 0 0-.25 2.7l.1.15.29.25c.88.73 3.71 3 6.49 5.15l5 3.89-10.51 8.31a1.91 1.91 0 0 0-.56 2.28c9.62 21.68 23.53 43.44 36.9 63.21q1.11 3.22 2.24 6.42c.76 2.16 1.41 4.28 2 6.39a3.51 3.51 0 0 0-.5 0 3.31 3.31 0 0 0-2.54 1.09 3.5 3.5 0 0 0-.84 2.31 3.58 3.58 0 0 0 .86 2.36 3.37 3.37 0 0 0 2.59 1.13 3.41 3.41 0 0 0 1.88-.54 84.08 84.08 0 0 1 1.48 15.71 95.59 95.59 0 0 1-.56 10.12 3.38 3.38 0 0 0-2.39-.94 3.31 3.31 0 0 0-2.54 1.09 3.5 3.5 0 0 0-.84 2.31 3.59 3.59 0 0 0 .86 2.36 3.37 3.37 0 0 0 2.59 1.07 3.44 3.44 0 0 0 1.6-.38c-2.33 14.89-7.47 29.59-12.33 45.31a14.86 14.86 0 0 1-5.63 8 22.62 22.62 0 0 1-8.74 3.5zM91.97 10.67a15 15 0 0 1-1.25 6.11c-.69 1.72-1.72 3.62-3.08 6.14-.8-1.52-1.67-3.19-2.65-4.78a19.27 19.27 0 0 0-3.49-4.33 61.16 61.16 0 0 0 10.2-6.77 28.42 28.42 0 0 1 .27 3.63zM63.3 27.5a1.82 1.82 0 0 0 1.6.95 1.77 1.77 0 0 0 1.51-.85c1.53-2.51 2.76-5.35 4.39-7.9.12.44.24.88.35 1.32a15.65 15.65 0 0 1 .58 3.4 1.75 1.75 0 0 1-.08.63c-4.32 9.48-6.08 19.24-6.88 29.1-.57 7.11-.65 14.35-.81 21.5-1-4-1.84-8-2.59-12a170.72 170.72 0 0 1-3.09-31.29c0-4.44.21-8.89.65-13.35a91.78 91.78 0 0 0 4.37 8.49zm30.28-8.54c.44 4.47.65 8.92.65 13.37 0 14.59-2.24 29.09-5.67 43.37-.16-7.2-.25-14.45-.83-21.64-.81-10-2.57-19.8-6.86-29a1.72 1.72 0 0 1-.08-.63 15.48 15.48 0 0 1 .58-3.39c.11-.44.23-.89.36-1.32 1.63 2.55 2.85 5.38 4.38 7.89a1.79 1.79 0 0 0 2.46.59 1.67 1.67 0 0 0 .41-.37 6 6 0 0 0 .44-.64c.53-.85 1.26-2.22 1.92-3.51s1.23-2.45 1.43-2.86c.28-.64.54-1.27.81-1.89zM76.26 15.5a4.77 4.77 0 0 1 2.68.79c-.25 1-.61 2.2-.94 3.45a19.29 19.29 0 0 0-.78 4.63 5 5 0 0 0 .4 2.13c6.58 14.18 7 30.17 7.3 46.21.11 5 .21 10 .51 14.87-2.73 9.6-5.89 19.11-9.16 28.53-3.27-9.42-6.43-18.93-9.16-28.53.29-4.9.4-9.88.51-14.87.33-16 .7-32 7.3-46.2a5.06 5.06 0 0 0 .4-2.12 19.41 19.41 0 0 0-.82-4.62c-.33-1.25-.69-2.46-.93-3.46a4.75 4.75 0 0 1 2.69-.81zm36.55 15.13l-11.62 9.17a1.87 1.87 0 0 0-.69 1.85l-.34.34 12.23 9.69a373 373 0 0 1-26.67 48.21 302.13 302.13 0 0 0 9.2-35.57 174.54 174.54 0 0 0 3.15-32 137.17 137.17 0 0 0-1.11-17.57 100.7 100.7 0 0 0 6.69 7.55c2.91 2.9 6 5.68 9.16 8.36zM76.26 12.12A56.32 56.32 0 0 1 64.11 4.8a82.33 82.33 0 0 1 10.58-.61 116.79 116.79 0 0 1 13.51.78 56.68 56.68 0 0 1-11.94 7.15zm-5.28 1.69a19.28 19.28 0 0 0-3.48 4.33c-1 1.59-1.86 3.28-2.66 4.8-1.34-2.5-2.41-4.44-3.13-6.12a14.28 14.28 0 0 1-1.29-6 25.6 25.6 0 0 1 .34-3.84 56.87 56.87 0 0 0 10.22 6.83zM57.6 64.32a309.9 309.9 0 0 0 10 38C57.17 86.4 47 69.5 39.43 52.77l11.8-9.36-.06-.22a1.92 1.92 0 0 0-.55-2.3l-11.63-9.18a141.33 141.33 0 0 0 12.68-12l.83-.86-1.09-1a35.39 35.39 0 0 0 4.24-3.5 136.93 136.93 0 0 0-1.16 18 174.53 174.53 0 0 0 3.11 31.97zm7.17 156.71a19 19 0 0 0 4.62-7.91c2.36-7.62 5.09-16 7.36-23.84A134.76 134.76 0 0 0 80.94 208a38.5 38.5 0 0 0 5.16 10.59 22.31 22.31 0 0 0 4.83 4.91H61.72a18.77 18.77 0 0 0 3.06-2.47z"/> </svg>
          </li>
          <li data-filter="Accessories" data-category-link>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.001 101 109.764"><g stroke-miterlimit="10"><path d="M50.726 86.016c-3.664 0-6.643 2.979-6.643 6.642s2.979 6.642 6.643 6.642c3.663 0 6.642-2.979 6.642-6.642s-2.979-6.642-6.642-6.642zm0 9.963c-1.832 0-3.321-1.492-3.321-3.321s1.489-3.321 3.321-3.321c1.829 0 3.319 1.492 3.319 3.321s-1.49 3.321-3.319 3.321z"/><path d="M96.686 1.627A1.657 1.657 0 0 0 94.581.588a1.658 1.658 0 0 0-1.039 2.104c10.959 32.273-4.484 52.718-19.99 64.395-.08-.08-.178-.137-.262-.21-.215-.182-.426-.368-.662-.522-.201-.133-.422-.236-.637-.347-.156-.078-.302-.175-.464-.24-.276-.115-.569-.189-.862-.269-.123-.032-.235-.083-.363-.106a6.763 6.763 0 0 0-1.311-.134 6.65 6.65 0 0 0-6.642 6.644c0 .415.049.823.125 1.228.024.134.063.259.097.388.045.179.075.357.135.529a38.89 38.89 0 0 0-5.556 4.087c-1.905-1.32-4.094-2.081-6.424-2.081-2.35 0-4.556.773-6.473 2.118a47.485 47.485 0 0 0-5.586-3.928c.059-.15.087-.312.133-.469.062-.204.134-.403.174-.617.082-.412.128-.83.128-1.255a6.65 6.65 0 0 0-6.642-6.644 6.606 6.606 0 0 0-4.753 2.019C12.045 55.584-3.542 35.099 7.464 2.692A1.658 1.658 0 0 0 6.424.588a1.659 1.659 0 0 0-2.105 1.039C-7.977 37.831 12.153 59.89 26.068 70.193a6.545 6.545 0 0 0-.25 1.708 6.649 6.649 0 0 0 6.642 6.642c1.627 0 3.102-.61 4.258-1.586a45.654 45.654 0 0 1 5.049 3.475c-2.65 3.038-4.326 7.388-4.326 12.227 0 9.155 5.959 16.605 13.285 16.605 7.323 0 13.282-7.45 13.282-16.605 0-4.868-1.693-9.243-4.375-12.283a36.837 36.837 0 0 1 4.93-3.558c1.178 1.061 2.721 1.727 4.428 1.727a6.65 6.65 0 0 0 6.643-6.642c0-.694-.137-1.353-.336-1.979C89.06 59.611 108.904 37.605 96.686 1.627zM32.459 75.222a3.325 3.325 0 0 1-3.321-3.32c0-.547.146-1.056.382-1.512.003-.009.011-.013.015-.021a3.366 3.366 0 0 1 1.205-1.297l.055-.029c.212-.127.44-.221.676-.297.056-.018.111-.037.168-.052.266-.07.539-.115.819-.115 1.83 0 3.321 1.49 3.321 3.321 0 .33-.062.654-.162.971-.011.034-.02.066-.032.1-.112.317-.27.626-.48.906-.006.005-.006.014-.009.019a3.304 3.304 0 0 1-2.637 1.326zm18.267 30.719c-5.495 0-9.963-5.96-9.963-13.284 0-7.325 4.468-13.284 9.963-13.284 5.493 0 9.963 5.959 9.963 13.284-.001 7.324-4.47 13.284-9.963 13.284zm18.265-30.719a3.32 3.32 0 0 1-2.748-1.459 3.28 3.28 0 0 1-.379-.787 2.132 2.132 0 0 1-.062-.202 3.275 3.275 0 0 1-.131-.872 3.325 3.325 0 0 1 3.32-3.321c.268 0 .526.04.777.102.068.018.134.042.199.062a3.253 3.253 0 0 1 .706.31c.463.278.865.668 1.158 1.159.002.007.01.011.012.016.291.492.47 1.059.47 1.672a3.33 3.33 0 0 1-3.322 3.32z"/></g></svg>
          </li>
        </ul>
        <div class="search-box">
          <div class="filters-dropdown">
            <button class="volte-dropdown-toggle" data-volte-toggle="dropdown" type="button"><span class="filter-active">Any</span></button>
            <ul class="volte-dropdown">
              <li data-filter="Any" data-filter-empty="true">Any</li>
              <li data-filter="Dress">Dresses</li>
              <li data-filter="Bag">Bags</li>
              <li data-filter="Millinery">Millinery</li>
              <li data-filter="Menswear">Menswear</li>
              <li data-filter="Accessories">Accessories</li>
            </ul>
          </div>

          <ul class="AvailabilityFilters">
            <li class="datetimepicker">
              <input type="text" data-availability-filter="from" value="{{ params['availability_exceptions']['fromDatetimepicker'] }}" placeholder="&#xf073; From" />
              <input type="hidden" name="availability_exceptions[from]" value="{{ params['availability_exceptions']['from'] }}" />
            </li>

            <li class="datetimepicker">
              <input type="text" data-availability-filter="to" value="{{ params['availability_exceptions']['toDatetimepicker'] }}" placeholder="&#xf073; To" />
              <input type="hidden" name="availability_exceptions[to]" value="{{ params['availability_exceptions']['to'] }}" />
            </li>
          </ul>

          <button>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 447.54001 447.62668"><path d="M270.413 261.831l-4.138 4.518-4.517 4.148c-24.753 22.637-56.907 35.112-90.552 35.112-35.882 0-69.608-13.974-94.977-39.343-25.328-25.328-39.27-59.064-39.27-94.986 0-35.923 13.942-69.65 39.27-94.977 25.37-25.368 59.095-39.342 94.977-39.342 35.872 0 69.608 13.974 94.977 39.342 25.368 25.369 39.342 59.106 39.342 94.977 0 33.644-12.475 65.8-35.112 90.551m169.687 142.4L308.963 273.094c21.726-29.332 33.521-64.874 33.521-101.813 0-45.75-17.811-88.766-50.162-121.117C259.972 17.814 216.954.001 171.206.001c-45.746 0-88.765 17.814-121.115 50.163C17.78 82.474 0 125.49 0 171.281c0 45.8 17.781 88.817 50.09 121.116 32.351 32.35 75.368 50.173 121.116 50.173 36.94 0 72.483-11.807 101.804-33.52l131.136 131.132a25.299 25.299 0 0 1 17.977 7.445c6.787 0 13.173-2.65 17.977-7.444 9.918-9.917 9.918-26.047 0-35.953"/></svg>
          </button>
        </div>
      </form>
    </div>
  </section>
  <main class="main">
    <section class="wrapper-a how-it-works">
      <header class="section-header">
        <h2>
          HOW IT WORKS
        </h2>
        <p>
          Accessing designer fashion in Australia has never been easier
        </p>
      </header>
      <div class="boxes">
        <a class="box" href="/borrow"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -55.749 100 111.498"><path d="M47.993 6.548H31.345a2.007 2.007 0 0 1 0-4.013h14.643v-20.497c0-2.367-2.176-4.293-4.85-4.293H24.119a2.006 2.006 0 1 1 0-4.012h17.019c4.887 0 8.862 3.726 8.862 8.306V4.543a2.008 2.008 0 0 1-2.007 2.005m-78.354 0h-17.633A2.007 2.007 0 0 1-50 4.541v-22.503c0-4.581 3.976-8.306 8.864-8.306h17.26a2.006 2.006 0 1 1 0 4.012h-17.26c-2.674 0-4.851 1.926-4.851 4.293V2.534h15.626a2.006 2.006 0 0 1 0 4.014"/><path d="M33.603 55.749h-67.204c-4.195 0-7.609-3.208-7.609-7.148V8.44a2.007 2.007 0 0 1 4.013 0v40.158c0 1.729 1.613 3.138 3.596 3.138h67.204c1.979 0 3.592-1.407 3.592-3.138V8.44a2.007 2.007 0 0 1 4.013 0v40.158c-.001 3.943-3.412 7.151-7.605 7.151"/><path d="M.629 39.361c-.336 0-.674-.089-.989-.267a1.816 1.816 0 0 1-.666-.64c-3.83-3.207-17.503-18.086-20.369-23.576-3.578-6.854-1.849-16 3.854-20.386 2.065-1.59 4.46-2.432 6.925-2.432 4.439 0 8.476 2.653 10.795 7.1.229.438.418.705.556.861.135-.156.327-.422.557-.862 2.319-4.444 6.354-7.1 10.795-7.1 2.465 0 4.857.842 6.924 2.434 5.701 4.384 7.43 13.529 3.854 20.384C19.993 20.381 6.261 35.32 2.468 38.479c-.17.258-.4.47-.672.617a2.044 2.044 0 0 1-.947.252 2 2 0 0 1-.22.013M-10.616-3.925c-1.572 0-3.119.553-4.478 1.599-4.232 3.255-5.463 10.14-2.745 15.349C-15.371 17.752-3.083 31.132.734 34.702c3.813-3.565 16.104-16.95 18.571-21.679C22.024 7.814 20.792.929 16.563-2.326c-1.359-1.047-2.906-1.6-4.478-1.6-2.916 0-5.622 1.848-7.237 4.942C3.474 3.649 1.853 4.202.734 4.202c-1.12 0-2.743-.555-4.114-3.186-1.615-3.093-4.318-4.941-7.236-4.941m9.778-12.263c-.142 0-.283-.015-.422-.046-3.003-.646-29.511-6.486-35.749-12.035-3.344-2.975-5.225-6.983-5.293-11.285-.069-4.287 1.67-8.334 4.897-11.396 3.259-3.095 7.624-4.799 12.29-4.799 4.454 0 8.676 1.575 11.89 4.434C-7.105-45.87-.072-22.678 1.016-18.998a2.008 2.008 0 0 1-1.838 2.811l-.016-.001m-24.277-35.548c-3.633 0-7.017 1.313-9.528 3.697-2.402 2.281-3.698 5.271-3.647 8.422.051 3.166 1.454 6.131 3.948 8.351 4.064 3.615 21.174 8.162 30.577 10.356-2.708-8.585-8.124-23.845-12.127-27.407-2.479-2.205-5.754-3.419-9.223-3.419"/><path d="M.837-16.188a2.007 2.007 0 0 1-1.924-2.571c.805-2.744 8.038-26.974 14.311-32.556 3.215-2.859 7.438-4.434 11.892-4.434 4.666 0 9.03 1.705 12.29 4.799 3.227 3.062 4.966 7.109 4.898 11.396-.069 4.302-1.949 8.31-5.293 11.285-6.239 5.549-32.748 11.388-35.75 12.035a1.953 1.953 0 0 1-.424.046m24.278-35.548c-3.47 0-6.744 1.215-9.224 3.42C11.89-44.755 6.474-29.495 3.767-20.91c9.402-2.194 26.512-6.741 30.576-10.356 2.496-2.22 3.897-5.186 3.948-8.351.052-3.15-1.245-6.141-3.647-8.421-2.514-2.385-5.896-3.698-9.529-3.698"/><path d="M.121-1.185a2.005 2.005 0 0 1-2.006-2.006v-15.681a2.005 2.005 0 1 1 4.012 0V-3.19A2.004 2.004 0 0 1 .121-1.185"/></svg>
          <h3>
            HOW TO BORROW
          </h3>
          <p>
            Borrow from the world’s largest designer marketplace
          </p>
        </a><a class="box" href="/lend"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -59.26 100 118.521"><path d="M15.132-45.306l-13.598 5.5a2.232 2.232 0 0 1-.764.17l-.225-.057c-.057-.067-.18-.384-.102-.968L2.131-54.54c.089-.519.258-.921.45-.921.146 0 .461.101.843.381l11.854 8.638c.462.338.597.609.608.609-.022.065-.214.313-.764.516m2.44-4.251L5.708-58.217c-3.16-2.306-6.952-.598-7.412 3.228l-.619 5.062c-20.424 1.012-38.195 14.318-44.933 33.629a49.63 49.63 0 0 0 2.35 38.174c3.601 7.377 8.954 13.776 15.51 18.512l2.272-3.138-.383-.303a46.373 46.373 0 0 1-13.914-16.781 45.68 45.68 0 0 1-2.158-35.181A46.32 46.32 0 0 1-2.82-46.036l-.607 4.904a4.93 4.93 0 0 0 1.069 4.003 4.152 4.152 0 0 0 3.137 1.395c.112 0 .226-.044.338-.066a5.603 5.603 0 0 0 1.878-.416l13.598-5.5c1.8-.731 2.946-2.048 3.138-3.601.192-1.574-.617-3.126-2.169-4.251m-32.707 94.815l13.609-5.534c.258-.068.461-.112.675-.112h.304c.067.089.191.394.112.989l-1.71 13.868c-.057.527-.259.922-.428.922-.079 0-.371-.01-.843-.37l-11.867-8.639c-.46-.336-.617-.618-.617-.618.033-.056.213-.304.753-.506m-2.418 4.251l11.855 8.648a5.304 5.304 0 0 0 3.137 1.114c2.273 0 3.949-1.688 4.286-4.318l.608-5.084c20.436-1.012 38.207-14.316 44.933-33.629a49.525 49.525 0 0 0-2.352-38.195c-3.586-7.366-8.952-13.767-15.508-18.513l-1.137 1.562h-.012l-1.147 1.597.395.305c16.105 11.967 22.607 33 16.083 51.963-6.129 17.59-22.179 29.805-40.76 31.009l.597-4.916a5.026 5.026 0 0 0-1.068-3.993 4.155 4.155 0 0 0-3.454-1.304 5.628 5.628 0 0 0-1.878.393l-13.609 5.5c-1.789.742-2.947 2.046-3.138 3.611-.193 1.573.595 3.113 2.169 4.25"/><path d="M-9.184-8.358c-.281-3.441 3.284-4.858 6.309-5.421 1.485-.292 3.014-.371 4.51-.371L-.512-2.475C-5.686-3.454-8.857-4.4-9.184-8.358M9.7 8.715c-.057 2.879-1.945 4.825-5.624 5.792-1.528.393-3.1.585-4.679.573L1.962 1.19c4.915 1.069 7.806 2.484 7.727 7.524M-12.3 11.357a1.556 1.556 0 0 0-2.104-.572c0 .012-.011.022-.021.022a1.56 1.56 0 0 0-.552 2.135h.001v.013c1.618 2.711 6.005 4.455 10.684 5.005l-.596 3.239a1.55 1.55 0 0 0 1.232 1.81h.016l.27.011c.742 0 1.406-.518 1.542-1.271l.665-3.565h.337c2.024 0 3.992-.203 5.702-.675 5.039-1.327 7.851-4.453 7.918-8.75.124-7.524-5.152-9.549-10.258-10.64l2.227-12.068c4.308.53 7.794 2.014 8.21 3.385a1.561 1.561 0 0 0 1.944 1.047h.001a1.57 1.57 0 0 0 1.036-1.946c-.922-3.07-5.602-4.916-10.629-5.534l.764-4.207a1.526 1.526 0 0 0-1.209-1.787l-.006-.001h-.012a1.52 1.52 0 0 0-1.809 1.182c-.012.021-.012.045-.012.067l-.832 4.51a25.7 25.7 0 0 0-5.668.395c-5.961 1.125-9.179 4.296-8.829 8.727C-11.76-1.654-6.226-.372-1.074.596l-2.654 14.306c-4.027-.495-7.591-1.889-8.57-3.53"/></svg>
          <h3>
            HOW TO LEND
          </h3>
          <p>
            List for free and turn your designer fashion into cash
          </p>
        </a><a class="box" href="/courier"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -37.35 100 74.699"><path d="M46.479 15.033h-5.263a13.653 13.653 0 0 0-10.71-5.222 13.653 13.653 0 0 0-10.717 5.222h-2.53v-35.291h20.438L46.49-.53l-.011 15.563zm0 10.311h-2.364c.072-.583.161-1.151.161-1.765a13.807 13.807 0 0 0-.97-5.017h3.172l.001 6.782zM30.507 33.84c-5.67 0-10.269-4.589-10.269-10.261 0-5.67 4.599-10.258 10.269-10.258 5.662 0 10.263 4.587 10.263 10.258 0 5.672-4.602 10.261-10.263 10.261m-45.217-8.496c.071-.583.178-1.151.178-1.765 0-1.721-.332-3.416-.974-5.017h33.194a13.88 13.88 0 0 0-.97 5.017c0 .613.093 1.182.172 1.765h-31.6zM-28.317 9.811a13.652 13.652 0 0 0-10.71 5.222h-7.45v-48.854H13.73v48.854h-31.323a13.682 13.682 0 0 0-10.724-5.222m0 24.03c-5.669-.012-10.255-4.612-10.249-10.269.01-5.673 4.61-10.261 10.275-10.25 5.671 0 10.261 4.607 10.251 10.269-.007 5.672-4.611 10.261-10.277 10.25m-18.16-8.497v-6.793h5.361a13.88 13.88 0 0 0-.974 5.029c0 .613.097 1.182.167 1.764h-4.554zm63.736-49.109V-37.35H-50v66.225h8.969c2.932 7.025 11.012 10.342 18.034 7.403a13.783 13.783 0 0 0 7.411-7.403H17.78c2.927 7.025 11.004 10.342 18.032 7.403a13.789 13.789 0 0 0 7.414-7.403H50V-.897L39.982-23.765H17.259z"/><path d="M18.646-6.058v3.526h14.575L34.762.723l2.324 4.989h8.016V2.193h-5.781l-.011-.042-3.855-8.208-16.809-.001z"/></svg>
          <h3>
            DOOR-TO-DOOR COURIER
          </h3>
          <p>
            Low rates Australia wide directly to your door
          </p>
        </a>
      </div>
    </section>
    <section class="wrapper-a benefits-of-joining">
      <header class="section-header">
        <h2>
          BENEFITS OF JOINING
        </h2>
        <p>
          Join the ultimate style squad at The Volte
        </p>
      </header>
      <div class="boxes">
        <div class="box">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 84.201"><path d="M17.941 4.171h64.12v46.475h-64.12V4.171zM13.77 54.817h72.462V0H13.77v54.817z"/><path d="M16.535 54.115h66.929l10.373 25.916H6.162l10.373-25.916zm-2.822-4.173L0 84.201h100L86.286 49.942H13.713z"/><path d="M39.573 71.69h20.853v4.17H39.573z"/><path d="M47.445 35.675a10.768 10.768 0 0 1-7.664-3.174c-2.047-2.047-3.174-4.769-3.174-7.664s1.127-5.616 3.174-7.663c2.047-2.048 4.769-3.175 7.664-3.175s5.618 1.127 7.665 3.175c3.408 3.408 4.152 8.726 1.812 12.933a10.892 10.892 0 0 1-1.812 2.394 10.772 10.772 0 0 1-7.665 3.174zm0-20.536a9.634 9.634 0 0 0-6.858 2.841 9.637 9.637 0 0 0-2.84 6.857 9.638 9.638 0 0 0 2.84 6.858 9.64 9.64 0 0 0 6.858 2.84 9.642 9.642 0 0 0 6.858-2.84 9.534 9.534 0 0 0 1.62-2.143c2.097-3.764 1.429-8.523-1.62-11.572a9.634 9.634 0 0 0-6.858-2.841z"/><path d="M60.264 40.785a3.559 3.559 0 0 1-2.52-1.042l-5.604-5.602.807-.805 5.604 5.601a2.424 2.424 0 0 0 3.426 0 2.426 2.426 0 0 0 0-3.427l-5.727-5.727.806-.806 5.728 5.727a3.566 3.566 0 0 1 0 5.039 3.552 3.552 0 0 1-2.52 1.042z"/></svg>
          <h3>
            Limitless<br class="hide-mobile" /><span class="hide-desktop">&nbsp;</span>fashion
          </h3>
          <p>
            Access is the new ownership.  Always be on trend by renting from individuals, designers and boutiques.
          </p>
        </div>
        <div class="box">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0.001 100 100.001"><path d="M19.549 39.101a2.038 2.038 0 0 1-1.443-.598L.598 20.994a2.04 2.04 0 0 1 0-2.886L18.106.601a2.04 2.04 0 1 1 3.484 1.442v6.564h23.228c1.127 0 2.041.914 2.041 2.041v11.101a2.041 2.041 0 0 1-4.082 0v-9.06H19.549a2.041 2.041 0 0 1-2.041-2.041V6.969L4.926 19.551l12.582 12.582v-3.679a2.04 2.04 0 0 1 2.041-2.04h11.36a2.04 2.04 0 1 1 0 4.081H21.59v6.564a2.042 2.042 0 0 1-2.041 2.042M80.451 100.002a2.039 2.039 0 0 1-2.041-2.041v-6.563H55.182a2.04 2.04 0 0 1-2.041-2.041V77.733c0-1.127.914-2.039 2.041-2.039s2.041.912 2.041 2.039v9.582h23.229a2.04 2.04 0 0 1 2.041 2.039v3.681l12.582-12.582-12.583-12.582v3.678a2.041 2.041 0 0 1-2.041 2.041H69.518a2.041 2.041 0 0 1 0-4.082h8.895v-6.563a2.043 2.043 0 0 1 3.485-1.443L99.4 79.01a2.037 2.037 0 0 1 0 2.886L81.895 99.403a2.043 2.043 0 0 1-1.444.599"/><path d="M50.002 80.244c-16.677 0-30.246-13.567-30.246-30.242s13.569-30.243 30.246-30.243c16.675 0 30.242 13.568 30.242 30.243S66.677 80.244 50.002 80.244m0-56.403c-14.427 0-26.164 11.736-26.164 26.161s11.737 26.161 26.164 26.161c14.424 0 26.16-11.736 26.16-26.161s-11.736-26.161-26.16-26.161"/><path d="M48.217 71.528v-5.295c-3.041-.057-6.186-.998-8.024-2.311l1.26-3.514c1.889 1.258 4.615 2.254 7.553 2.254 3.723 0 6.238-2.146 6.238-5.139 0-2.885-2.045-4.668-5.922-6.239-5.349-2.098-8.653-4.51-8.653-9.074 0-4.351 3.093-7.655 7.916-8.442v-5.295h3.252v5.086c3.146.105 5.297.944 6.815 1.835l-1.307 3.46c-1.104-.628-3.255-1.782-6.609-1.782-4.038 0-5.562 2.412-5.562 4.511 0 2.726 1.941 4.089 6.507 5.976 5.399 2.203 8.127 4.931 8.127 9.599 0 4.141-2.888 8.021-8.287 8.914v5.451h-3.306l.002.005z"/></svg>
          <h3>
            Make your wardrobe<br class="hide-mobile" /><span class="hide-desktop">&nbsp;</span>an investment
          </h3>
          <p>
            Earn cash from your wardrobe. Rent your designer items. It's free to list and easy with door-to-door courier.
          </p>
        </div>
        <div class="box">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -71.876 100 143.752" class="bond-verification"><path d="M-15.625-65.627h31.25v37.501h-31.25v-37.501zm-6.25 43.753h43.748v-50.002h-43.748v50.002z"/><path d="M37.725 71.876h-75.447C-44.49 71.876-50 66.368-50 59.602v-97.327c0-6.769 5.51-12.276 12.277-12.276h22.1v21.876h31.248V-50h22.1C44.495-50.001 50-44.494 50-37.725v97.326c0 6.767-5.504 12.275-12.275 12.275M-37.723-43.75a6.03 6.03 0 0 0-6.025 6.024V59.6a6.032 6.032 0 0 0 6.025 6.026h75.447a6.037 6.037 0 0 0 6.027-6.026v-97.325a6.034 6.034 0 0 0-6.027-6.024H21.873v21.875h-43.748V-43.75h-15.848z"/><path d="M.001 59.375c-8.849 0-17.661-.497-26.199-1.479l-2.842-.328.072-2.859c.512-19.246 10.798-29.842 28.967-29.842 18.17 0 28.457 10.596 28.968 29.842l.072 2.859-2.843.328A230.097 230.097 0 0 1 .001 59.375M-22.56 52a227.802 227.802 0 0 0 45.118 0c-1.209-14.047-8.613-20.886-22.56-20.886-13.944 0-21.349 6.839-22.558 20.886M.002 16.352c-7.85 0-14.238-6.391-14.238-14.24 0-7.851 6.389-14.234 14.238-14.234 7.846 0 14.235 6.385 14.235 14.234.001 7.851-6.389 14.24-14.235 14.24m0-22.224a7.998 7.998 0 0 0-7.988 7.984A7.997 7.997 0 0 0 .002 10.1a7.992 7.992 0 0 0 7.983-7.988A7.991 7.991 0 0 0 .002-5.872"/></svg>
          <h3>
            Bond and<br class="hide-mobile" /><span class="hide-desktop">&nbsp;</span>ID verficiation
          </h3>
          <p>
            We verify all borrowers and lenders. Lenders have the ability to list a bond amount.
          </p>
        </div>
        <div class="box">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100.001"><path d="M79.464 90.912H73.54c-9.932 0-18.011-9.841-18.011-21.938V31.025c0-12.095 8.079-21.936 18.011-21.936h5.924v3.702H73.54c-7.89 0-14.309 8.18-14.309 18.234v37.949c0 10.055 6.419 18.235 14.309 18.235h5.924v3.703z"/><path d="M43.452 48.15h36.012v3.702H43.452zM100 23.409H77.613V.001H100v23.408zm-18.685-3.703h14.981V3.702H81.315v16.004zM100 100.001H77.613V76.593H100v23.408zm-18.685-3.702h14.981V80.295H81.315v16.004z"/><path d="M100 61.703H77.613V38.297H100v23.406zm-18.685-3.702h14.981V42H81.315v16.001zM23.171 73.173C10.395 73.173 0 62.778 0 50.001 0 37.223 10.395 26.83 23.171 26.83s23.17 10.394 23.17 23.171c.001 12.777-10.393 23.172-23.17 23.172m0-42.642c-10.736 0-19.469 8.734-19.469 19.47S12.436 69.47 23.171 69.47c10.735 0 19.467-8.733 19.467-19.469s-8.731-19.47-19.467-19.47"/><path d="M22.508 62.492V60.01c-1.24-.156-2.249-.435-3.026-.835-.776-.399-1.447-1.044-2.013-1.936-.565-.893-.894-1.98-.985-3.27l2.495-.468c.193 1.333.533 2.312 1.02 2.938.699.882 1.536 1.374 2.509 1.475v-7.899c-1.02-.193-2.063-.587-3.129-1.187a4.584 4.584 0 0 1-1.827-1.833c-.427-.782-.641-1.669-.641-2.662 0-1.764.625-3.194 1.876-4.287.835-.736 2.077-1.186 3.721-1.352v-1.185h1.462v1.185c1.443.139 2.588.561 3.433 1.269 1.085.901 1.738 2.137 1.958 3.709l-2.565.385c-.147-.973-.452-1.721-.916-2.24-.464-.518-1.101-.862-1.91-1.027v7.156c1.25.313 2.078.556 2.482.731.772.341 1.402.754 1.889 1.241a4.975 4.975 0 0 1 1.124 1.737c.262.67.392 1.396.392 2.178 0 1.72-.546 3.153-1.64 4.302-1.094 1.149-2.509 1.765-4.247 1.849v2.509h-1.462zm0-21.729c-.964.146-1.725.533-2.281 1.158a3.23 3.23 0 0 0-.834 2.22c0 .845.236 1.554.71 2.122.473.571 1.275 1.026 2.405 1.366v-6.866zm1.462 17.151c.966-.119 1.763-.537 2.393-1.254.629-.718.944-1.604.944-2.661 0-.9-.223-1.624-.669-2.172-.446-.547-1.335-1.036-2.668-1.469v7.556z"/></svg>
          <h3>
            Manage your<br class="hide-mobile" /><span class="hide-desktop">&nbsp;</span>listings
          </h3>
          <p>
            Use your dashboard to help you track and manage your listings. Earning extra cash is so easy.
          </p>
        </div>
        <div class="box">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.999 100"><path d="M35.993 69.836C16.146 69.836 0 54.173 0 34.921 0 15.666 16.146 0 35.993 0c16.601 0 30.971 10.905 34.948 26.521a2.043 2.043 0 0 1-1.477 2.482 2.04 2.04 0 0 1-2.48-1.475C63.471 13.724 50.727 4.081 35.993 4.081c-17.596 0-31.912 13.835-31.912 30.84 0 17 14.316 30.833 31.912 30.833 5.048 0 9.876-1.105 14.353-3.287a2.042 2.042 0 0 1 1.788 3.669c-5.038 2.455-10.467 3.7-16.141 3.7"/><path d="M33.949 58.839v-5.89c-3.486-.057-7.101-1.105-9.208-2.562l1.449-3.902c2.163 1.397 5.288 2.505 8.66 2.505 4.277 0 7.162-2.388 7.162-5.71 0-3.207-2.343-5.188-6.8-6.937-6.138-2.328-9.928-5.008-9.928-10.078 0-4.835 3.553-8.504 9.085-9.381v-5.886h3.735v5.657c3.608.115 6.073 1.044 7.823 2.036l-1.509 3.845c-1.261-.702-3.733-1.979-7.583-1.979-4.63 0-6.372 2.676-6.372 5.006 0 3.035 2.226 4.55 7.456 6.645 6.198 2.449 9.327 5.479 9.327 10.664 0 4.598-3.308 8.916-9.506 9.898v6.067h-3.791zM74.006 100c-14.337 0-26-11.732-26-26.154 0-14.421 11.664-26.154 26-26.154 14.334 0 25.993 11.733 25.993 26.154C99.999 88.268 88.34 100 74.006 100m0-48.227c-12.086 0-21.919 9.9-21.919 22.071s9.833 22.073 21.919 22.073c12.082 0 21.913-9.902 21.913-22.073s-9.831-22.071-21.913-22.071"/><path d="M90.001 54.592h-4.082V39.631c0-6.25-5.045-11.334-11.246-11.334h-1.335c-6.203 0-11.249 5.084-11.249 11.334v14.314h-4.081V39.631c0-8.5 6.876-15.416 15.33-15.416h1.335c8.452 0 15.328 6.916 15.328 15.416v14.961zM80.887 71.038c0-3.827-3.084-6.929-6.883-6.929-3.801 0-6.883 3.102-6.883 6.929a6.901 6.901 0 0 0 4.57 6.497v9.851h4.623v-9.851a6.901 6.901 0 0 0 4.573-6.497"/></svg>
          <h3>
            Secure payment<br class="hide-mobile" /><span class="hide-desktop">&nbsp;</span>gateway
          </h3>
          <p>
            Rest assured that all payments are secure and encrypted.
          </p>
        </div>
        <div class="box">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="-9.021 -11.284 101 126.097"><g stroke-miterlimit="10" stroke-width="2"><path d="M42.009 106.085c-18.472 0-35.347-3.759-45.141-10.059a1.432 1.432 0 0 1 1.548-2.409c9.21 5.922 25.913 9.604 43.592 9.604 17.57 0 33.689-3.479 43.118-9.304a1.433 1.433 0 0 1 1.969.465 1.43 1.43 0 0 1-.466 1.971c-9.858 6.092-26.54 9.732-44.62 9.732z"/><path d="M41.773 114.312c-21.336 0-40.824-3.762-49.649-9.583a1.43 1.43 0 0 1-.546-1.715l.104-.273.049-.11 34.977-71.463-3.977-25.457a1.435 1.435 0 0 1 .475-1.304c.146-.127 3.66-3.149 8.159-3.149 2.548 0 6.098 1.005 9.232 5.493 3.135-4.487 6.685-5.493 9.233-5.493 4.5 0 8.013 3.021 8.161 3.149.352.309.532.77.481 1.235L55.73 31.131l35.495 71.493c.065.126.107.264.13.404l.104.643a1.432 1.432 0 0 1-.662 1.454c-9.2 5.668-27.986 9.187-49.024 9.187zm-47.021-11.329c8.842 5.162 27.034 8.459 47.021 8.459 19.502 0 37.545-3.197 46.556-8.198L52.974 32.031a1.42 1.42 0 0 1-.143-.792l2.703-25.101c-.998-.701-3.199-2.009-5.703-2.009-3.043 0-5.685 1.958-7.852 5.822a1.439 1.439 0 0 1-1.252.734h-.259c-.52 0-.998-.281-1.251-.734-2.167-3.863-4.809-5.821-7.852-5.821-2.472 0-4.649 1.276-5.667 1.984l3.913 25.058c.045.29 0 .587-.129.851l-34.73 70.96z"/><path d="M29.969 3.473a1.436 1.436 0 0 1-1.435-1.436V-9.35a1.435 1.435 0 0 1 2.87 0V2.038a1.433 1.433 0 0 1-1.435 1.435zM51.1 3.473a1.437 1.437 0 0 1-1.435-1.436V-9.35a1.435 1.435 0 0 1 2.87 0V2.038A1.435 1.435 0 0 1 51.1 3.473zM41.506 35.333c-6.967 0-12.635-2.464-13.006-2.629a1.437 1.437 0 0 1-.727-1.896 1.432 1.432 0 0 1 1.894-.728c.129.056 13.097 5.669 23.064-.659a1.436 1.436 0 0 1 1.538 2.423c-4.164 2.646-8.687 3.489-12.763 3.489z"/><path d="M47.557 82.68a1.436 1.436 0 0 1-1.423-1.26l-5.821-47.194a1.436 1.436 0 0 1 1.248-1.602 1.444 1.444 0 0 1 1.602 1.25l5.82 47.194a1.435 1.435 0 0 1-1.426 1.612z"/><path d="M35.791 59.652a1.435 1.435 0 0 1-1.399-1.762l5.694-24.294a1.437 1.437 0 0 1 2.796.654l-5.695 24.295a1.436 1.436 0 0 1-1.396 1.107z"/></g></svg>
          <h3>
            Style<br class="hide-mobile" /><span class="hide-desktop">&nbsp;</span>Squad
          </h3>
          <p>
            Dress like your fashion icon for every occasion because we make aspirational fashion accessible.
          </p>
        </div>
      </div>
      <!--<a class="button button-default">Benefits of Joining</a>-->
    </section>
  </main>
  <section class="testimonials-wrapper">
    <section class="wrapper-a testimonials">
      <header class="section-header">
        <h2>
          TESTIMONIALS
        </h2>
        <p itemprop="brand" itemscope="" itemtype="http://schema.org/Brand">
          Find out why people love <em itemprop="name">The Volte</em>
        </p>
      </header>
      <div class="boxes">
        <figure class="box">
          <img alt="Natalie Fardella" width="187"  height="187" src="https://d2rw3as29v290b.cloudfront.net/instances/194/uploads/ckeditor/picture/data/3078/1-natalie-borrower.jpg"/><figcaption itemprop="review" itemscope="" itemtype="http://schema.org/Review"><blockquote itemprop="reviewBody">“I love being able to browse so many Lender’s closets. I borrowed a dress through The Volte for a recent event and was impressed by the door-to-door service. I didn’t have to worry about a thing. Easier than shopping!”</blockquote><em itemprop="author">NATALIE FARDELLA</em></figcaption>
        </figure>
        <figure class="box">
          <img alt="Little Black Book" width="187" height="187" src="https://d2rw3as29v290b.cloudfront.net/instances/194/uploads/ckeditor/picture/data/3080/3-little-black-book-logo.jpg" /><figcaption itemprop="review" itemscope="" itemtype="http://schema.org/Review"><blockquote itemprop="reviewBody">“The Volte has enabled me to take my business online and reach a broader national audience. I also love how I am able to access their large number of complimentary services at a low cost.
”</blockquote><em itemprop="author">LITTLE BLACK BOOK</em></figcaption>
        </figure>
        <figure class="box">
          <img alt="Sinead O'Neil" width="187" height="187" src="https://d2rw3as29v290b.cloudfront.net/instances/194/uploads/images/ckeditor/picture/data/3598/2-sinead-lender-2-b_360.jpg" /><figcaption itemprop="review" itemscope="" itemtype="http://schema.org/Review"><blockquote itemprop="reviewBody">“Being able to earn income from my designer dresses is amazing. The Volte takes care of all of the logistics and I have peace of mind that I can hold a bond and all users are verified.”</blockquote><em itemprop="author">SINEAD O'NEILL</em></figcaption>
        </figure>
      </div>
    </section>
  </section>
