<h2>Welcome, {{ user.first_name }}!</h2>

<p>We are excited to welcome you to {{ platform_context.name }}!</p>

<p>I love hearing from our members; if you have any questions or feedback for me, please send me through a reply.</p>

<p>Cheers,</p>
<p>{{ platform_context.name }}</p>
