<h2>Welcome, {{ user.first_name }}!</h2>

<p>We are excited to welcome you to {{ platform_context.name }}!</p>

<p><a class="btn" href="{{ platform_context.host | append:user.search_url_with_tracking | append:signature_for_tracking }}">Find Ninja</a></p>

<p>I love hearing from our members; if you have any questions or feedback for me, please send me through a reply.</p>

<p>Cheers,</p>
<p>{{ platform_context.name }}</p>
