<h2>Welcome, {{ user.first_name }}!</h2>

<p>We are excited to welcome you to {{ platform_context_decorator.name }}, the fastest-growing community to find and rent workspaces in 250 cities across 50 countries.</p>

<p><strong>Find the perfect place to work</strong> – we'll help you find the right desk for you. Private desks and offices, conference rooms and a variety of other workspaces around the world can be easily booked both online and via our <a href="https://itunes.apple.com/us/app/desks-near-me/id529634519?mt=8">mobile app</a>. <i>To us the perfect desk means the perfect experience too. We're working hard to make sure you have a great experience once you've arrived at your desk.</i></p>

<p><strong>Rent your unused office space</strong> – reduce overhead, expand your networks and access tools to easily manage your space, guests and payments.</p>

<p>Easy, right? Start searching now! <a href="{{ user.search_url_with_tracking | append:signature_for_tracking }}">Find a desk</a>, or <a href="{{ user.space_wizard_list_url_with_tracking | append:signature_for_tracking }}">list your desk</a>.</p>

<p>I love hearing from our members; if you have any questions or feedback for me, please send me through a reply.</p>

<p>Cheers,</p>

<p>
Michelle Regner
<br />
CEO
<br />
Desks Near Me
</p>
