<h2>Welcome {{ user.first_name }}!</h2>

<p>Please, click the big button below to activate your account and get started! </p>

<a class="btn" href="{{ user.verify_user_url | append:signature_for_tracking }}">Activate account and login</a>
