Welcome, {{ user.first_name }}!

<p>We have created an account for you at {{ platform_context.host }}
 }}. Your login details are –</p>

Email: {{ user.email }}
Password: {{ user_password }}

This is one time email.

Best regards

