{% comment %}
<section class="box-a user-ratings-a">
  <h2>Ratings</h2>

  <article class="user-rating">
    <header>
      <figure><img src="https://rawgit.com/mdyd-dev/marketplaces/master/localdriva/images/avatar-big.png" alt="Jackie Bettye"></figure>
      <h3>Jackie Bettye</h3>
      <time datetime="2016-12-01">12/01/2016</time>
    </header>

    <div class="rating-body">
      <p class="overall-rating"><span>Overall rating:</span> <span class="rating-a" data-rating="4">4 out of 5</span></p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>

      <dl class="compound-ratings">
        <dt>Driver friendliness</dt>
        <dd><span class="rating-b" data-rating="4">4 out of 5</span></dd>

        <dt>Driver friendliness</dt>
        <dd><span class="rating-b" data-rating="4">4 out of 5</span></dd>

        <dt>Driver friendliness</dt>
        <dd><span class="rating-b" data-rating="4">4 out of 5</span></dd>

        <dt>Driver friendliness</dt>
        <dd><span class="rating-b" data-rating="4">4 out of 5</span></dd>
      </dl>
    </div>
  </article>

  <article class="user-rating">
    <header>
      <figure><img src="https://rawgit.com/mdyd-dev/marketplaces/master/localdriva/images/avatar-big.png" alt="Jackie Bettye"></figure>
      <h3>Jackie Bettye</h3>
      <time datetime="2016-12-01">12/01/2016</time>
    </header>

    <div class="rating-body">
      <p class="overall-rating"><span>Overall rating:</span> <span class="rating-a" data-rating="4">4 out of 5</span></p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>

      <dl class="compound-ratings">
        <dt>Driver friendliness</dt>
        <dd><span class="rating-b" data-rating="4">4 out of 5</span></dd>

        <dt>Driver friendliness</dt>
        <dd><span class="rating-b" data-rating="4">4 out of 5</span></dd>

        <dt>Driver friendliness</dt>
        <dd><span class="rating-b" data-rating="4">4 out of 5</span></dd>

        <dt>Driver friendliness</dt>
        <dd><span class="rating-b" data-rating="4">4 out of 5</span></dd>
      </dl>
    </div>
  </article>

  <article class="user-rating">
    <header>
      <figure><img src="https://rawgit.com/mdyd-dev/marketplaces/master/localdriva/images/avatar-big.png" alt="Jackie Bettye"></figure>
      <h3>Jackie Bettye</h3>
      <time datetime="2016-12-01">12/01/2016</time>
    </header>

    <div class="rating-body">
      <p class="overall-rating"><span>Overall rating:</span> <span class="rating-a" data-rating="4">4 out of 5</span></p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>

      <dl class="compound-ratings">
        <dt>Driver friendliness</dt>
        <dd><span class="rating-b" data-rating="4">4 out of 5</span></dd>

        <dt>Driver friendliness</dt>
        <dd><span class="rating-b" data-rating="4">4 out of 5</span></dd>

        <dt>Driver friendliness</dt>
        <dd><span class="rating-b" data-rating="4">4 out of 5</span></dd>

        <dt>Driver friendliness</dt>
        <dd><span class="rating-b" data-rating="4">4 out of 5</span></dd>
      </dl>
    </div>
  </article>
</section>
{% endcomment %}
