%header
  %h2== Crop And Rotate
= form_tag form_url, :method => :put, :id => 'crop-form', 'data-id' => object.model.id do 
  %a.badge.rotate-photo.photo-action{href: '#'}
    %i.icon-repeat.icon-white
  = image_tag object_url, 'data-image' => true,
    data: { rotate: object.transformation_rotate, crop: object.transformation_crop,
    original_dimensions: object.original_dimensions}
  .actions
    = submit_tag 'Process'

:javascript
  $(function() {
    new Photo.Manipulator($('#crop-form'), { aspectRatio: #{object.aspect_ratio} })
  });
