.modal-header
  .modal-title= t('manage.photos.resize_succeeded')
.modal-body
  %p.text-center{:style => 'margin: 40px 0px;'}
    = t('manage.photos.changes_applied_soon')

  .btn-toolbar
    = link_to '#', class: 'btn medium blue close-modal pull-right' do
      = t('manage.photos.continue')

