= render_modal "Image successfully cropped/rotated", { id: "crop-form-success" } do
  %p.text-center{:style => 'margin: 40px 0px;'}
    Your changes will be applied within a few minutes.
  .submit-bar
    = link_to '#', class: 'btn medium blue', data: { dismiss: 'modal' }, 'aria-label'=>"Continue" do
      Continue

