$('#crop-form-modal').remove();
$("body").append('#{escape_javascript( render :partial => "resize_form", :locals => { :form_url => manage_photo_path(@photo), :object => @photo.image, :object_url => @photo.image_url(:original) })}');
$('#crop-form-modal').modal('show')
