- if @additional_charges.blank?
  .content-container.blank-state-container
    .row
      .table-container.col-xs-12.dropshadow
        .text-center
          .question-icon !
          = t('instance_admin.upsell_addons.index.no_addons_yet')
          %br
          = link_to 'Add new Upsell', new_instance_admin_manage_upsell_addon_path
- else
  .content-container
    .row
      .table-container.col-xs-12.dropshadow
        %table.table
          %tbody
            %tr
              %td Name
              %td Service
              %td Amount
              %td Status
              %td= link_to 'Add Upsell', new_instance_admin_manage_upsell_addon_path
            - @additional_charges.each do |ac|
              = render partial: 'additional_charge', locals: { additional_charge: ac }
