{% if collection != blank %}
  <div class="entry-images" data-entry_images="">
    {% for image in collection %}
      <a href="{{ image.url }}" data-original-width="{{ image.image_original_width }}" data-original-height="{{ image.image_original_height }}">
        <img src="{{ image.url }}" />
      </a>
    {% endfor %}
  </div>
{% endif %}
