<div class="row">
  <div class="col-sm-6">Motorcycle | Broken Leg</div>
  <div class="col-sm-6" style="text-align: right">Days of Hospitalization: 45</div>
</div>
<div class="row">
  <div class="col-sm-6">Injury or Accident Date: 12/2/2015</div>
  <div class="col-sm-6" style="text-align: right">Death Case: N</div>
</div>
<div class="row">
  <div class="col-sm-6">Location of Injury or Accident: Missouri</div>
  <div class="col-sm-6" style="text-align: right"></div>
</div>

<p>{{ reservation.transactable.description | truncate: 500, "..." }}</p>
<hr/>
