<section class="search-form-wrapper">
    <div class="search-form-inner">
        <div class="search-form-type-toggle">
            <h2><span class="struct-label">Current search type:</span> <span class="current-type" tabindex="0">Case Search</span></h2>
            <h3 class="struct-label">Change search type to:</h3>
            <ul>
                <li class="selected"><a href="?casesearch">Case Search</a></li>
                <li><a href="?peoplesearch">People Search</a></li>
            </ul>
        </div>
        <form action="./" class="search-form">
            <div class="fields">
                <div class="query-field">
                    <label for="field-q" class="struct-label">Search keyword</label>
                    <input type="text" name="q" id="field-q" placeholder="Enter keywords&hellip;">
                </div>
                <div class="state-filter">
                    <label for="field-state" class="struct-label">Filter by state</label>
                    <span class="nice-select">
                        <select name="state" id="field-state" class="unstyled-select">
                            <option value="">By state</option>
                            <option value="AZ">AZ</option>
                            <option value="CA">CA</option>
                        </select>
                    </span>
                </div>
                <fieldset class="type-filter">
                    <legend class="struct-label">Case type</legend>
                    <ul>
                        <li>
                            <input type="radio" name="field-type" value="1" id="field-type-individual" checked>
                            <label for="field-type-individual">Individual Cases</label>
                        </li>

                        <li>
                            <input type="radio" name="field-type" value="1" id="field-type-group">
                            <label for="field-type-group">Group Cases (Mass Torts)</label>
                        </li>
                    </ul>
                </fieldset>
            </div>
            <div class="form-action">
                <button type="submit" class="btn-a">Search</button>
            </div>
        </form>
    </div>
</section>

<div class="search-results-wrapper">
    <section class="search-results">
        <div class="search-results-query-info">
            <span class="results-count"><b>2</b> Results Found</span>
            <form action="./" class="search-sort-form">
                <div>
                    <label for="search-order">Sort by:</label>
                    <span class="nice-select">
                        <select id="search-order" name="search-order" class="unstyled-select">
                            <option selected value="1">Newest</option>
                            <option selected value="2">Oldest</option>
                        </select>
                    </span>
                </div>
            </form>
        </div>


        <article class="search-result search-result-case">
            <header class="search-result-header">
                <h3><a href="./">Vehicle Accident</a></h3>

                <div class="search-result-meta-action">
                    <a href="./" class="btn-b">Bid on Case</a>
                    <p class="meta">
                        <span class="publish-date">posted 10 days ago</span>
                        |
                        <span class="favorite">
                            <a href="./">favorite</a>
                        </span>
                    </p>
                </div>
            </header>

            <ul class="search-result-case-properties">
                <li>Car</li>
                <li>Injury or Accident Date: <b>12/2/2015</b></li>
                <li>Location of Injury or Accident: <b>Missouri</b></li>
                <li>Days of Hospitalization: <b>5</b></li>
                <li>Death Case: <b>No</b></li>
            </ul>

            <div class="search-result-description">
                <p>In March 2015, my client was rear-ended by a truck owned by a large public company.  The accident occurred in Saint Louis, Missouri.  My client is also a resident of Missouri.  The driver of the truck was determined to be at fault in the accident report.  My client’s car was totaled and my client was hospitalized for 5 days and received physical therapy for 1 year.  My client was unable to work as a teacher for 2 months as a result of the accident.  My client’s injuries included broken ribs and a concussion.</p>
            </div>

            <p>Posted by <a href="./">Law Firm</a></p>

            <div class="tags-a">
                <h4>Tags</h4>
                <ul>
                    <li><a href="./">Car Accident</a></li>
                    <li><a href="./">Missouri</a></li>
                    <li><a href="./">Broken Leg</a></li>
                    <li><a href="./">Hospitalization</a></li>
                    <li><a href="./">Car Accident</a></li>
                    <li><a href="./">Missouri</a></li>
                    <li><a href="./">Broken Leg</a></li>
                    <li><a href="./">Hospitalization</a></li>
                </ul>

                <button type="button" class="tags-more-trigger">View 4 More</button>
            </div>
        </article>

        <article class="search-result search-result-case">
            <header class="search-result-header">
                <h3><a href="./">Vehicle Accident</a></h3>

                <div class="search-result-meta-action">
                    <a href="./" class="btn-b">Bid on Case</a>
                    <p class="meta">
                        <span class="publish-date">posted 10 days ago</span>
                        |
                        <span class="favorite">
                            <a href="./">favorite</a>
                        </span>
                    </p>
                </div>
            </header>

            <ul class="search-result-case-properties">
                <li>Car</li>
                <li>Injury or Accident Date: <b>12/2/2015</b></li>
                <li>Location of Injury or Accident: <b>Missouri</b></li>
                <li>Days of Hospitalization: <b>5</b></li>
                <li>Death Case: <b>No</b></li>
            </ul>

            <div class="search-result-description">
                <p>In March 2015, my client was rear-ended by a truck owned by a large public company.  The accident occurred in Saint Louis, Missouri.  My client is also a resident of Missouri.  The driver of the truck was determined to be at fault in the accident report.  My client’s car was totaled and my client was hospitalized for 5 days and received physical therapy for 1 year.  My client was unable to work as a teacher for 2 months as a result of the accident.  My client’s injuries included broken ribs and a concussion.</p>
            </div>

            <p>Posted by <a href="./">Law Firm</a></p>

            <div class="tags-a">
                <h4>Tags</h4>
                <ul>
                    <li><a href="./">Car Accident</a></li>
                    <li><a href="./">Missouri</a></li>
                    <li><a href="./">Broken Leg</a></li>
                    <li><a href="./">Hospitalization</a></li>
                    <li><a href="./">Car Accident</a></li>
                    <li><a href="./">Missouri</a></li>
                    <li><a href="./">Broken Leg</a></li>
                    <li><a href="./">Hospitalization</a></li>
                </ul>

                <button type="button" class="tags-more-trigger">View 4 More</button>
            </div>
        </article>

        <p class="search-results-more-trigger">
            <a href="./" class="btn-a">More Cases</a>
        </p>
    </section>

    <div class="search-results-filter">
        <h2>Filter by types:</h2>
        <ul>
            <li>
                <input type="checkbox" name="filter" id="filter-a"> <label for="filter-a">Individual Injury</label>

                <ul>
                    <li>
                        <input type="checkbox" name="filter" id="filter-b"> <label for="filter-b">Sub</label>
                        <ul>
                            <li>
                                <input type="checkbox" name="filter" id="filter-c"> <label for="filter-c">Sub sub long label that should wrap </label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <input type="checkbox" name="filter" id="filter-d"> <label for="filter-d">Individual Non-injury</label>
            </li>
        </ul>
    </div>
</div>
