<section class="search-form-wrapper">
    <div class="search-form-inner">
        <div class="search-form-type-toggle">
        <h2><span class="struct-label">Current search type:</span> <span class="current-type" tabindex="0">People Search</span></h2>
            <h3 class="struct-label">Change search type to:</h3>
            <ul>
                <li><a href="/search?transactable_type_id={{ searcher.transactable_types.first.id }}&amp;transactable_type_class=TransactableType">Case Search</a></li>
                <li class="selected"><a href="/search?transactable_type_id=580&amp;transactable_type_class=InstanceProfileType">People Search</a></li>
            </ul>
        </div>
    </div>
</section>
