.inbox {
    border: 1px solid $messages-border;
    border-bottom: none;

    .message {
        border-bottom: 1px solid $messages-border;

        > a {
            position: relative;
            padding: 10px 80px 10px 10px;
            display: block;
            overflow: hidden;

            &:hover, &:focus, &:active {
                background: $messages-message-background-hover;
            }
        }

        .avatar {
            float: left;
            width: 50px;
            height: 50px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        .avatar ~ * {
            margin-left: 70px;
        }

        .author {
            font-weight: bold;
            color: $messages-author-color;
        }


        .summary {
            color: $text-color;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .date {
            color: $messages-date-color;
        }

        .attachment a::before {
            content: $fa-var-paperclip;
        }

        .actions {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            margin: 0;

            span + span {
                margin-left: 15px;
            }
        }

        @media (min-width: $screen-sm) {
            > a {
                padding-right: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .avatar {
                float: none;
                margin-right: 20px;
            }

            .avatar ~ * {
                margin-left: 0;
            }


            .author {
                width: 100px;
                margin-right: 20px;
            }

            .date {
                float: none;
                width: 100px;
                margin-left: 20px;
            }

            .summary {
                flex-grow: 5;
            }
            .actions {
                position: relative;
                float: none;
                width: 50px;
                margin-left: 20px;
                text-align: right;
                top: 0;
                right: auto;
                transform: none;
            }
        }
    }
}


.inbox-thread {

    > header {
        @include clear;

        .hx {
            @extend .h4;
            float: left;
        }
        .actions {
            float: right;
        }
    }

    a:before, li > span:before {
        @include fa-icon();
        font-size: 18px;
        width: 20px;
        text-align: center;
        margin-right: 15px;
    }

    .message {
        position: relative;
        @include clear;
        padding: 10px $panel-body-padding;
        border-radius: $border-radius-base;
        background: $messages-background;
        border: 1px solid $messages-border;
        margin-bottom: 5px;


        > header {
            // @include clear;
            margin-bottom: 5px;
        }

        .avatar {
            float: left;
            width: 50px;
            height: 50px;
            overflow: hidden;
            border-radius: 100%;

            img {
                width: 100%;
                display: block;
            }
        }

        .avatar ~ * {
            margin-left: 70px;
        }

        .date {
            margin-left: 20px;
            color: $messages-date-color;
        }

        .attachment a::before {
            content: $fa-var-paperclip;
        }

        .author {
            font-weight: bold;
        }

        &.my-message {
            text-align: right;

            .avatar {
                float: right;
            }

            .author {
                float: right;
                margin-left: 20px;
            }

            .avatar ~ *{
                margin-left: 0;
                margin-right: 70px;
            }
        }

        .attachment {
            margin-top: 10px;

            .label {
                margin-left: 20px;
            }
        }
    }
}
