.links
  %ul
    %li
      %a.btn.btn-medium.upcoming-reservations{href: manage_guests_dashboard_path(state: 'unconfirmed'),
      class: guest_filter_class(@guest_list, 'unconfirmed')}
        %span Unconfirmed
    %li
      %a.btn.btn-medium.upcoming-reservations{href: manage_guests_dashboard_path(state: 'confirmed'),
       class: guest_filter_class(@guest_list, 'confirmed')}
        %span Confirmed
    %li
      %a.btn.btn-medium.upcoming-reservations{href: manage_guests_dashboard_path(state: 'archived'),
       class: guest_filter_class(@guest_list, 'archived')}
        %span Archived
