- current ||= :overview
- content_for :hero do
  .container-fluid.margin-bottom
    .dashboard-nav.row-fluid
      %ul
        %li{:class => ('current' if current == :account)}= link_to "Account", edit_user_registration_url
        %li{:class => ('current' if current == :bookings)}= link_to "Your Bookings", bookings_dashboard_url
        - if current_user.companies.any?
          %li{:class => ('current' if current == :spaces)}= link_to "Manage Locations", [:manage, :companies]
          %li{:class => ('current' if current == :reservations)}= link_to "Manage Guests", reservations_dashboard_url


