- if reservation.can_host_cancel?
  = link_to 'Cancel', host_cancel_manage_listing_reservation_path(reservation.listing, reservation),
              confirm: 'Do you really want to cancel this reservation?', :class => "btn btn-red btn-medium",
              method: :post

- if reservation.can_confirm?
  = link_to 'Confirm', confirm_manage_listing_reservation_path(reservation.listing, reservation),
              confirm: 'Do you want to confirm this reservation?', :class => "btn btn-green btn-medium ico-check",
              method: :post

- if reservation.can_reject?
  = link_to 'Decline', reject_manage_listing_reservation_path(reservation.listing, reservation),
              confirm: 'Do you really want to reject this reservation?', :class => "btn btn-red btn-medium ico-close",
              method: :post
