- title "Analytics"

= show_manage_navigation(:analytics)

%section#payments
  .row-fluid
    .span8.offset2
      .box
        .right
          .control-group.select
            .controls
              = select_tag :analytics_mode, options_for_select([['Revenue', 'revenue'], ['Bookings', 'bookings'], ['Location Views', 'location_views']], @analytics_mode), :class => 'analytics-mode'
        .clearfix
        .chart
          = render :partial => "dashboard/analytics_#{@analytics_mode}", :locals => { :reservation_charges => @reservation_charges, :last_week_reservation_charges => @last_week_reservation_charges, :all_time_totals => @all_time_totals, :visits => @visits, :last_month_visits => @last_month_visits, :reservations => @reservations, :last_week_reservations => @last_week_reservations, :weekly_chart => @weekly_chart }


- content_for :script do
  :javascript
    $(function() {
      new Dashboard.AnalyticsController($('#payments'))
    });
