- render 'dashboard/navigation', :current => :bookings

%h1 Your Bookings
- if @your_reservations.any?
  = render :partial => "user_reservation_list", :locals => {:reservations => @your_reservations}
