- render 'dashboard/navigation', :current => :bookings

%h1 Your Bookings

%section#my_reservations.tab
  - if @your_reservations.any?
    = render "user_reservation_list", :reservations => @your_reservations
