%section#login
  .login-form
    = image_tag 'instance_admin/logo.svg', class: 'text-center', width: '224',  height: '50'
    = simple_form_for resource, :as => resource_name, :url => session_path(resource_name) do |f|
      %input{type: 'hidden', name: 'return_to', value: session[:user_return_to] || instance_admin_path}
      %fieldset
        = f.input :email, :label => false, :placeholder => "Email", :input_html => { :tabindex => '1' }
        = f.input :password, :label => false, :placeholder => "Password", :input_html => { :tabindex => '2' }
        %button.btn.btn-blue.btn-block{type: "submit"} LOG IN
