<div class="control-group string required">
  <label class="string required control-label flush-top" for="availability">
  <abbr title="required">*</abbr>Availability</label>
  <div class="controls">
    <input id="defer_availability_rules" name="defer_availability_rules" type="hidden" value="{{defer_availability_rules}}">
    {{#checkbox availability_template_id}}
    <div>
      <input data-clear-rules="true" id="availability_rules_defer" name="availability_template_id" type="radio" value="">
      <label class="inline" for="availability_rules_defer">Use Location availability</label>
    </div>
    {{> templates_shared_ruleList}}
    {{/checkbox}}
    {{> templates_shared_customRules}} 
  </div>
</div>
