<section class="listings">
  <div class="accordion listings-holder"></div>
  <div class="action">
    <a href="" class="btn btn-blue btn-large add-listing" data-behavior="" data-disable-with="Loading..."><span class="ico-plus padding">Add Listing</span></a>
  </div>
</section>

