<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#{{id}}-listings-holder"
    href="#collapse-listings-{{id}}-overview">Overview</a>
  </div>
  <div id="collapse-listings-{{id}}-overview" class="accordion-body collapse in"
  style="height: 0px;">
    <div id="location-{{id}}-overview" class="accordion-inner">Overview content should come here</div>
  </div>
</div>

