<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#{{id}}-listings-holder"
    href="#collapse-listings-{{id}}-photos">Photos</a>
  </div>
  <div id="collapse-listings-{{id}}-photos" class="accordion-body collapse in"
  style="height: 0px;">
    <div id="listing-{{id}}-photos" class="accordion-inner">Photos content should come here</div>
  </div>
</div>
