.row-fluid
  - if f.object.express_payer_id.blank?
    = image_submit_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif")
  - else
    = t('buy_sell_market.checkout.payment_authorized')
    = f.hidden_field :express_token
