.padding-bottom.submit-secure-payment
  .row-fluid
    .span5.text
      .ico-lock= t('reservations_review.payments.submit')
    .span7.credit-card-images
      = image_tag 'credit-cards.png', alt: "Visa, Mastercard, American Express, Discover"
    .clearfix
