%li.listing.action-buttons
  .span3
    =image_tag(image.image.url(:medium))
  - if @product.has_variants?
    .span4
      =options_text_for(image)
  .span3
    = image.alt
  .span2
    .links
      = link_to manage_buy_sell_product_image_path(@product, image), :method => :delete,
          data: { confirm: 'Are you sure?' }, :class => "delete", style: 'padding-top: 0px;' do
        %span.ico-trash
        %span.text Delete

      = link_to edit_manage_buy_sell_product_image_path(@product, image), :class => "delete", style: 'padding: 0px 0 0 10px;' do
        %span.icon.ico-edit
        %span.text Edit
  .clearfix
