---
name: enquirer_government_funding_details
base_form: UserUpdateProfileForm
pages:
  - dashboard/consumer/government-fundings
configuration:
  buyer_profile:
    customizations:
      government_funding_details:
        properties:
          registration_type:
            validation:
              presence: {}
          registration_number:
            validation:
              presence: {}
          allocated_budget:
            validation:
              presence: {}
---
{% assign form_url = "/api/users/" | append: current_user.id %}
{% form_for form, url: @form_url, as: user, form_for_type: 'dashboard' %}
  <input value="{{ form_configuration.id }}" type="hidden" name="form_configuration_id" />
  <input value="{{ page.id }}" type="hidden" name="page_id" />
  <input value="/dashboard/consumer/emergency-contacts" disabled data-action='Save' type="hidden" name="return_to" />
  <input value="/dashboard/consumer/government-fundings" data-action='Save & Next' type="hidden" name="return_to" />
  {% fields_for buyer_profile %}
    {% fields_for customizations, form: buyer_profile %}
      <div class="customizations-fields-wrapper">
        <h3>Government funding details</h3>
        <h4>Here you can add government funding details</h4>
        <div class="customizations nested-fields-set">
          {% fields_for government_funding_details, form: customizations %}
            <div class="nested-container">
              {% include 'forms/government_funding_details_fields', form_object_government_funding_details: form_object_government_funding_details %}
            </div>
          {% endfields_for %}

          <div class="add-link">
            {% link_to_add_association label: 'Add Goverment Funding', form: customizations, class: 'btn', association: government_funding_details, partial: forms/government_funding_details_fields %}
          </div>
        </div>
      </div>
    {% endfields_for %}
  {% endfields_for %}
  {% include 'forms/submit_buttons' %}
{% endform_for %}
