---
name: enquirer_emergency_contacts
base_form: UserUpdateProfileForm
pages:
  - dashboard/consumer/emergency-contacts
configuration:
  buyer_profile:
    customizations:
      emergency_contacts:
        properties:
          contact_name:
            validation:
              presence: {}
          contact_phone:
            validation:
              presence: {}
          contact_email:
            validation: {}
          contact_address:
            validation: {}

---
{% assign form_url = "/api/users/" | append: current_user.id %}
{% form_for form, url: @form_url, as: user, form_for_type: 'dashboard' %}
  <input value="{{ form_configuration.id }}" type="hidden" name="form_configuration_id" />
  <input value="{{ page.id }}" type="hidden" name="page_id" />
  <input value="/dashboard/consumer/emergency-contacts" disabled data-action='Save' type="hidden" name="return_to" />
  <input value="/dashboard/consumer/my-needs" data-action='Save & Next' type="hidden" name="return_to" />
  {% fields_for buyer_profile %}
    {% fields_for customizations, form: buyer_profile %}
      <div class="customizations-fields-wrapper">
        <h3>Emergency Contacts</h3>
        <h4>Here you can add your emergency contacts</h4>
        {% include 'forms/emergency_contacts', form_object_customizations: form_object_customizations %}
      </div>
    {% endfields_for %}
  {% endfields_for %}
  <div class='actions'>
    {% submit 'Save', class: 'desksnearme submit btn btn-green', data-disable_with: 'Saving...', tabindex: 11  %}
    {% submit 'Save & Next', class: 'desksnearme submit btn btn-green', data-disable_with: 'Saving...', tabindex: 11  %}
  </div>
{% endform_for %}
