---
name: lister_web_profile
base_form: UserUpdateProfileForm
pages:
  - dashboard/carer/web-profile
configuration:
  first_name:
    validation:
      presence: {}
  current_address: {}
  seller_profile:
    validation:
      presence: {}
    custom_images:
      5016:
        validation:
          presence: {}
    properties:
      validation:
        presence: {}
      web_summary:
        validation:
          length:
            maximum: 200
          presence: {}
      web_profile:
        validation:
          length:
            maximum: 600
          presence: {}


---
{% assign form_url = "/api/users/" | append: current_user.id " %}
{% form_for form, url: @form_url, as: user, form_for_type: 'dashboard' %}
  <input value="{{ form_configuration.id }}" type="hidden" name="form_configuration_id" />
  <input value="{{ page.id }}" type="hidden" name="page_id" />
  {% comment %}To control where to redirect{%endcomment %}
  <input value="/dashboard/carer/web-profile" disabled data-action='Save' type="hidden" name="return_to" />
  <input value="/dashboard/carer/services-list" data-action='Save & Next' type="hidden" name="return_to" />
  {% fields_for seller_profile %}
    {% fields_for custom_images, form: seller_profile  %}
      {% fields_for 5016, form: custom_images %}
        {% input image, as: image, form: 5016 %}
      {% endfields_for %}
    {% endfields_for %}
    {% fields_for properties, form: seller_profile  %}
      {% input web_summary, as: text, form: properties %}
      {% input web_profile, as: text, form: properties %}
    {% endfields_for %}
  {% endfields_for %}

  <div class='actions'>
    {% submit 'Save', class: 'desksnearme submit btn btn-green', data-disable_with: 'Saving...', tabindex: 11  %}
    {% submit "Save & Next", class: 'desksnearme submit btn btn-green', data-disable_with: 'Saving...', tabindex: 11  %}
  </div>
{% endform_for %}
