---
name: lister_services_list
base_form: UserUpdateProfileForm
pages:
  - dashboard/carer/services-list
configuration:
  transactables:
    service:
      properties:
        validation:
          presence: {}
        ndis_category:
          validation:
            presence: {}
      action_types:
        pricings:
          price_cents:
            validation:
              presence: true
          validation:
            length:
              minimum: 1
        validation:
          presence: {}

---
{% assign form_url = "/api/users/" | append: current_user.id " %}
{% form_for form, url: @form_url, as: user, form_for_type: 'dashboard' %}
  <input value="{{ form_configuration.id }}" type="hidden" name="form_configuration_id" />
  <input value="{{ page.id }}" type="hidden" name="page_id" />
  {% comment %}To control where to redirect{%endcomment %}
  <input value="/dashboard/carer/services-list" disabled data-action='Save' type="hidden" name="return_to" />
  <input value="/dashboard/carer/general" data-action='Save & Next' type="hidden" name="return_to" />
  {% fields_for transactables %}
    <div class="services nested-fields-set">
      {% fields_for service, form: transactables %}
        <div class="nested-container">
          {% include 'forms/services_fields' %}
        </div>
      {% endfields_for %}
      <div class="add-link">
        {% link_to_add_association label: 'Add Service', form: transactables, class: 'btn', association: service, partial: forms/services_fields %}
      </div>
    </div>
  {% endfields_for %}

  {% include 'forms/submit_buttons' %}
{% endform_for %}
