#instance_admins_form
  .content-container
    %h4 Custom Attributes
    .row
      .table-container.col-xs-12
        %table.table
          %tbody
            %tr.instance-admins-table
              %td
                = link_to 'Custom Attributes', instance_admin_manage_instance_profile_type_custom_attributes_path(@instance_profile_type)
                = link_to 'Form Components', instance_admin_manage_instance_profile_type_form_components_path(@instance_profile_type)

