{{ user.first_name }},

<p>Congrats! Your application for LocalDriva has been approved! Welcome to the LocalDriva team.</p>

<p>We'll be sending you an email soon with our Driver Information Package.</p>

<p>Next step before you can get going is to come and meet us for a Driver Information Session. Keep an eye out for our email. We'll be in touch with you soon to set up a time. </p>

<p>Once you've uttended the information session, you'll be ready to start receiving bookings and making money with LocalDriva the fun way!</p>

<p>LocalDriva</p>
