{% if transactable.state != 'completed' %}
  <a href="{{ 'cancel_dashboard_company_transactable_path' | generate_url: transactable }}" data-confirm="Are you sure you want to delete this case?">Cancel Case</a>
{% endif %}
