<div class='panel'>
  <div class='panel-body'>
    {% if transactables.size > 0 %}
      {% if is_lister == "true" %}
        {% include 'dashboard/company/transactables/lister_view.html' %}
      {% else %}
        {% include 'dashboard/company/transactables/enquirer_view.html' %}
      {% endif %}
    {% else %}
      <p class='empty-resultset'>
        {{ 'dashboard.items.empty' | translate: name: 'cases' }}
      </p>
    {% endif %}
  </div>
</div>

{% will_paginate collection: transactables, inner_window: 1, outer_window: 0, class: '', renderer: dashboard, param_name: @param_name %}
