.two-thirds.column
  %h1 Or connect with your favorite service...
  %a.auth_provider.one-third{:href => "/auth/twitter"}
    = image_tag "twitter_service.png", :alt => "Twitter"
  %a.auth_provider.one-third.openid{:href => "/auth/open_id"}
    = image_tag "openid_service.png", :alt => "OpenID"
