.one-third.column.third-party
  %h3 Or #{action} using...
  %a.auth_provider.one-third{:href => "/auth/twitter"}
    = image_tag "sections/sign-up/twitter.png", :alt => "Twitter"
  %a.auth_provider.one-third.openid{:href => "/auth/open_id"}
    = image_tag "sections/sign-up/openid.png", :alt => "OpenID"
