- legacy false
- title "Sign In"

.row-fluid
  #signup
    .span8.offset2
      .box
        %h2 
          #{current_user.name}, you are already signed in
        %span
          You can #{link_to 'refresh the page here', new_user_session_url}. You will be redirected to the right place
          
