- if @reservations.empty?
  %p.text-center
    = t('reservations.no_bookings_html', {bookable_nouns: platform_context.bookable_nouns, type: booking_type_from_action(params[:action])})
- else

  - if @reservation
    = render 'dashboard/user_reservations/reservation_successful'

  - (@reservations - [@reservation]).each_with_index do |reservation, index|
    = render 'dashboard/user_reservations/reservation', reservation: reservation.decorate
