.modal-header
  .modal-title Your purchase was successful!
.modal-body
  = link_to 'Add to Calendar', export_dashboard_user_reservation_path(@reservation, format: :ics),
      class: 'btn blue'
  = link_to 'Manage', '#', class: 'btn gray close-modal'

