.modal-header
  .modal-title
    = t('dashboard.reservations.purchase_was_successful')
.modal-body
  = link_to 'Add to Calendar', export_dashboard_user_reservation_path(@reservation, format: :ics),
      class: 'btn blue'
  = link_to 'Manage', '#', class: 'btn gray close-modal'

