.modal-header
  .modal-title You are now being redirected.
.modal-body
  = form_tag @reservation.payment_gateway.gateway_url, :method => :post, id: 'remote-payment' do
    - @reservation.payment_gateway.payment_data.each do |key, val|
      = hidden_field_tag key, val

  =image_tag(@reservation.payment_gateway.logo_image)

:javascript
  $(function() {
    $('#remote-payment').submit()
  });
