<div class='booking-module-container'>
  <div class='booking-module'>
    <div class='booking-body'>
      <div class='booking-message'>
        <p>{{ 'reservations.booking_module.not_available' | translate: bookable_noun: listing.bookable_noun }}</p>
      </div>
    </div>
  </div>
</div>
