.row
  .col-xs-12
    %h4 Shipping categories
    = link_to 'New shipping category', new_instance_admin_buy_sell_shipping_category_path, class: 'pull-right btn btn-green'

%br

.content-container
  .row
    .table-container.col-xs-12.dropshadow
      %table.table.sortable
        %thead
          %tr
            %th Name
            %th
        %tbody
          - @shipping_categories.each do |shipping_category|
            = render 'index_row', shipping_category: shipping_category
