<p>Dear {{ inquiry.inquiring_user.name }},</p>

<p>Thanks for your inquiry about {{ inquiry.listing.name }}. on {{ platform_context.name }}. A copy of your message is set out below.</p>

<pre>{{ inquiry.message }}</pre>

<p></p>

<p>A representative will be in touch with you soon!</p>
