<p>Hi <%= @inquiry.inquiring_user.name %>,</p>

<p>We've passed your email on to the owner of <%= @inquiry.listing.name %>. They'll get back to you soon!</p>

<p>Cheers,<br>
 - The Desks Near Me Crew</p>