<p>Dear {{ inquiry.inquiring_user.name }},</p>

<p>Thanks for your inquiry about {{ inquiry.listing.name }}. on Desks Near Me. A copy of your message is set out below.

<pre>{{ inquiry.message }}</pre>

<p>The host will be in touch with you soon!</p>
