<p>Dear <%= @inquiry.inquiring_user.name %>,</p>

<p><%= @inquiry.inquiring_user.name %>. has asked a question about your listing <%= @inquiry.listing %></p>

<p>"<%= @inquiry.message %>"</p>

<p>Simply reply to this email to get in touch with them!</p>

