= link_to t('support.attachment.add'), '', data: { :'form-name' => f.object_name, upload: true, uploading: t('support.attachment.uploading'), error: t('support.attachment.error'), :'destroy-error' => t('support.attachment.destroy_error') }, class: 'btn btn-blue upload-attachment'
