<h2>Project Access Removed</h2>

<p>{{ lister.name }} has removed you from {{ transactable.name }}. This consideration could be based on many factors such as: availability, budget, timeline, experience, etc.</p>

<p>If you would like to send a message follow-up, please click <a href="{{ platform_context.host | append: user.user_message_path }}">here</a>.</p>

