= f.input :currency, :as => :currency, allowed_currencies: @transactable_type.allowed_currencies, default: @transactable_type.default_currency, :input_html => { "data-live-search" => "true", :class => 'selectpicker', :id => 'currency-select', 'data-currency-symbols' => all_currency_symbols_associations.to_json }, label_html: { class: 'block-label' }
