.row.nested-fields
  %hr
  - custom_model.custom_attributes.order('updated_at DESC').each_with_index do |ca, index|
    - if ca.uploadable?
      = render 'custom_attributes/uploadable', f: f, ca: ca, index: index
    - else
      = f.simple_fields_for :properties do |customization_properties_form|
        .col-xs-11
          = draw_attribute_for_form(ca, customization_properties_form)
        - if index.zero?
          .col-xs-1
            = link_to_remove_association f, class: 'remove_fields' do
              %button.action--remove

