- is_required = !f.object.transactable_type.skip_location?

= f.association :location, collection: @locations, required: is_required, input_html: { :"data-location-field" => true }, include_blank: false


%p.form-control-option{ :"data-location-actions" => true }
  - if !f.object.transactable_type.single_location?
    = link_to t('locations.add_new_location'), new_dashboard_company_location_path(with_deleted_link: true), data: { modal: true }

  = render partial: 'dashboard/company/locations/location', collection: @locations, f: f, transactable_type: f.object.transactable_type


.map-location
