= render "dashboard/company/transactables/form_fields/seller_attachments_header"

= f.input :attachment, as: :attachment, collection: @attachments, upload_url: dashboard_seller_attachments_path, label: false, attachment_template: "dashboard/shared/attachments/seller_attachment", input_html: { 'multiple' => true }, accept: SellerAttachmentUploader::ALLOWED_FILE_TYPES
