= f.hidden_field :id, value: f.object.id
= f.hidden_field :custom_attribute_id, value: ca.id
- options = { label: ca.label, as: :image }
- if f.object.persisted?
  - options[:edit_url] = edit_dashboard_custom_image_path(f.object)
  - options[:thumb] = :mini
= f.input :image, options
