%header.dialog__header
  %h2#dialog__title
    = t('phone_calls.headers.make_a_call_to', name: @user.first_name)

= form_tag user_phone_calls_path(@user), data: {modal: true} do

  .dialog__actions
    = submit_tag t('phone_calls.buttons.call'), class: 'btn btn-green'
