%h1 Partners
= link_to 'New Partner', new_global_admin_instance_partner_path(@instance), class: 'btn'

%table.table.table-striped
  %thead
    %tr
      %th Name
  %tbody
    - collection.each do |resource|
      = render 'global_admin/partners/index_row', :resource => resource
