.table-responsive
  %table.table
    %thead
      %tr
        %th=t('dashboard.payment_documents.table_head.order')
        %th=t('dashboard.payment_documents.table_head.user')
        %th=t('dashboard.payment_documents.table_head.date')
        %th=t('dashboard.payment_documents.table_head.document')
    %tbody
    - collection.each do |pd|
      %tr
        %td= pd.decorate.attachable_link
        %td= link_to pd.user.try(:name), user_path(pd.user)
        %td= I18n.l(pd.created_at, format: :day_month_year)
        %td.file= link_to pd.file.file_name, pd.file.url, target: '_blank', download: pd.file.file_name
