.DS_Store
.bundle
db/*.sqlite3
capybara-*
public/uploads
public/media
public/association
public/user
db/sphinx
config/*.sphinx.conf
config/initializers/stripe.rb
log
tmp
*.swo
*.swp
public/stylesheets/*.css
coverage
runner.html
.jhw-cache
