.sass-cache/
.DS_Store
.bundle
db/*.sqlite3
capybara-*
public/instances
public/uploads
public/media
public/association
public/user
public/assets
public/spree
public/capybara.html
public/staging*
public/qa*
db/sphinx
config/*.sphinx.conf
config/redis.yml
config/application.yml
config/database.yml
config/elasticsearch.yml
log
node_modules
tmp
*.swo
*.swp
public/stylesheets/*.css
coverage
runner.html
.jhw-cache
bin/
tags
dump.rdb
.eyrc
.idea/*
.rvmrc
.ruby-gemset
.envrc
.vimrc
work_files
instances/
instances
app/assets/javascripts/*-bundle.js*
app/assets/stylesheets/*.map
