.sass-cache/
.DS_Store
.bundle
db/*.sqlite3
capybara-*
public/instances
public/uploads
public/media
public/association
public/user
public/assets
public/capybara.html
public/staging*
public/qa*
public/javascripts
public/images
public/stylesheets
public/fonts
public/doc
db/sphinx
config/*.sphinx.conf
config/redis.yml
config/application.yml
config/database.yml
config/elasticsearch.yml
config/unicorn.conf
log
node_modules
vendor/assets/bower_components
tmp
*.swo
*.swp
coverage
runner.html
.jhw-cache
bin/
tags
.tags
.gemtags
dump.rdb
.eyrc
.idea/*
.rvmrc
.ruby-gemset
.envrc
.vimrc
.pryrc
npm-debug.log
work_files
vendor/assets/bower_components
*.sublime-project
*.sublime-workspace
*.org
