" ============================================================================
" Netrw Directory Listing                                        (netrw v140)
"   /Users/mkk/projects/rails/desksnearme/app/views/manage/locations
"   Sorted by      name
"   Sort sequence: [\/]$,\<core\%(\.\d\+\)\=\>,\.h$,\.c$,\.cpp$,*,\.o$,\.obj$,\.info$,\.swp$,\.bak$,\~$
"   Quick Help: <F1>:help  -:go up dir  D:delete  R:rename  s:sort-by  x:exec
" ============================================================================
../
_header.html.haml
_location.html.haml
_navigation.html.haml
edit.html.haml
index.html.haml
new.html.haml
