.two-thirds.column.alpha
  .box
    %h2
      %ul
        %li.complete
          %span Sign Up
        %li.current
          %span Company
        %li
          %span Your Space
        %li
          %span Desks &amp; Rooms

    %p.intro
      Enter the details of your company below. This information will be displayed on each Space you
      create.

    = simple_form_for Company.new, :html => { :class => "form-horizontal new_company" } do |f|
      = render 'companies/form', :f => f

.one-third.column.omega
  %h2 How do bookings work?
  %p
    Bookings are an automated process on the Desks Near Me website, however if you
    select “Confirm Bookings” then we’ll let you approve all bookings on a case-by-case basis.

  %h2 How do I get paid?
  %p
    Desks Near Me takes payment for your booking and deposits the money into your account.
    Desks Near Me charges a 5% commission on each booking sale.

  %h2 Can I have different prices for different desks or rooms?
  %p
    Yes! Desks Near Me lets you define each desk or room in your space separately if you wish.
    You might have a conference room at $100/day but a desk at $10/day.

  %h2 My question isn't here
  %p
    No problem. Drop us a line at #{mail_to "hello@desksnear.me"} and we’ll be happy to help you out!
