- only_reservations ||= false
.reservation-list
  - if @guest_list.reservations.empty? && !only_reservations && @guest_list.recurring_bookings.empty?
    .no-reservations
      = no_reservations_info_for_state(@guest_list.state)
  - else
    -if !only_reservations
      - @guest_list.recurring_bookings.each do |recurring_booking|
        = render 'dashboard/company/host_reservations/recurring_booking', recurring_booking: recurring_booking


    - @guest_list.reservations.each do |reservation|
      = render 'dashboard/company/host_reservations/reservation', reservation: reservation
