<h2>Congratulations, {{ enquirer.first_name }}!</h2>

<p>Your Bank Account ending with {{ bank_account.last4 }} is now verified.</p>

<p>You can find all your saved accounts in <a htef="{{ 'dashboard_bank_accounts_path' | generate_url }}">Dashboard/Account/BankAccounts</a> section.</p>
