<h2>Congratulations, {{ enquirer.first_name }}!</h2>

<p>Your Bank Account ending with {{ bank_account.last4 }} has beed added.</p>

<p>In order to verify it please go to <a htef="{{ 'dashboard_bank_accounts_path' | generate_url }}">Dashboard/Account/BankAccounts</a> section and provide transfer amounts sent to your account.</p>
