.content-container
  = simple_form_for @product, url: instance_admin_reports_product_path(@product), html: {multipart: true} do |f|
    .row
      .input-container.col-xs-12
        = f.input :featured, as: :boolean, inline_label: true
      .input-container.col-xs-12
        = f.submit t('instance_admin.save'), class: 'btn btn-blue pull-right'
