---
http_interactions:
- request:
    method: get
    uri: http://freegeoip.net/json/139.82.255.255
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"ip":"139.82.255.255","country_code":"BR","country_name":"Brazil","region_code":"21","region_name":"Rio
        de Janeiro","city":"Rio De Janeiro","zipcode":"","latitude":-22.9,"longitude":-43.2333,"metro_code":"","areacode":""}'
  recorded_at: Thu, 15 Aug 2013 19:08:58 GMT
recorded_with: VCR 2.4.0
