---
http_interactions:
- request:
    method: get
    uri: http://freegeoip.net/json/2.87.255.255
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"ip":"2.87.255.255","country_code":"GR","country_name":"Greece","region_code":"","region_name":"","city":"","zipcode":"","latitude":39,"longitude":22,"metro_code":"","areacode":""}'
  recorded_at: Thu, 15 Aug 2013 19:09:03 GMT
recorded_with: VCR 2.4.0
