---
http_interactions:
- request:
    method: post
    uri: http://us4.api.mailchimp.com/export/1.0/list/
    body:
      encoding: US-ASCII
      string: ! '%7B%22apikey%22%3A%226f9adc1d2924112f3c27494daa4a5e4e-us4%22%2C%22id%22%3A%223be1e89427%22%7D'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '["Email Address","First Name","Last Name","Verification url","Edit
        listing url","No pricing","Dashboard url","Share url","Space name","No photo","Location
        url","Updated price","Updated Photo","Verified","Deleted listing","MEMBER_RATING","OPTIN_TIME","OPTIN_IP","CONFIRM_TIME","CONFIRM_IP","LATITUDE","LONGITUDE","GMTOFF","DSTOFF","TIMEZONE","CC","REGION","LAST_CHANGED"]

        ["krajek6+1@gmail.com","Up[...]
- request:
    method: post
    uri: https://us4.api.mailchimp.com/1.3/?method=listBatchSubscribe
    body:
      encoding: US-ASCII
      string: ! '%7B%22apikey%22%3A%226f9adc1d2924112f3c27494daa4a5e4e-us4%22%2C%22id%22%3A%223be1e89427%22%2C%22batch%22%3A%5B%7B%22EMAIL%22%3A%22krajek6%2B3%40gmail.com%22%2C%22FNAME%22%3A%22James%22%2C%22LNAME%22%3A%22Jones%22%2C%22NOPHOTOS%22%3A1%2C%22DASHURL%22%3A%22http%3A%2F%2Fexample.com%2Fmanage%2Flocations%22%2C%22VERIFYURL%22%3A%22http%3A%2F%2Fexample.com%2Fusers%2Fverify%2F1%2Ftoken%22%2C%22MODVERIFY%22%3A1%2C%22DELLIST%22%3A0%7D%5D%2C%22email_type%22%3A%22html%22%2C%22double_optin%22%3Afalse%2C%22update_existing%22%3Atrue%2C%22replace_interests%22%3Afalse%2C%22send_welcome%22%3Afalse%7D'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"add_count":0,"update_count":1,"error_count":0,"errors":[]}'
  recorded_at: Fri, 17 May 2013 19:56:46 GMT
recorded_with: VCR 2.4.0
