<div id="TTWNotify" style="display:none;"></div>
<div class="dnm-page">
  <div class="container-fluid">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="logo-container pull-left">
          <a href="http://desksnear.me" id="logo">Desks Near Me</a>
        </div>
        <div class="links-container pull-right" id="header_links">
          <a href="/users/sign_out" class="header-link" data-method="delete" rel="nofollow"><span class="ico-logout padding">Log out</span>
              </a>
          <a href="/dashboard" class="header-link"><span class="ico-dashboard padding">Dashboard</span>
              </a>
          <a href="/controlpanel" class="header-link"><span class="ico-dashboard padding">New Dashboard</span>
              </a>
        </div>
      </div>
    </div>
  </div>
  <section class="companies" id="content">
    <div class="container-fluid legacy">
      <div class="row-fluid">
        <div class="span12" id="dyn-content"></div>
      </div>
  </section>
  <div class="footer-wrapper">
    <div class="container-fluid">
      <footer>
        <div class="row-fluid">
          <div class="span12">
            <ul>
              <li>
                <a href="mailto:contact@desksnear.me">Contact</a>
              </li>
              <li class="last">
                <a href="http://support.desksnear.me">Support</a>
              </li>
              <li>
                <a href="http://localhost:3000/privacy">Privacy</a>
              </li>
              <li>
                <a href="https://itunes.apple.com/us/app/desks-near-me/id529634519?mt=8">iPhone App</a>
              </li>
              <li>
                <a href="http://careers.stackoverflow.com/jobs/25136/ruby-on-rails-developer-desks-near-me">Jobs</a>
              </li>
              <li>
                <a href="http://blog.desksnear.me/" class="clear-footer">Blog</a>
              </li>
              <li>
                <a href="https://twitter.com/desksnearme">Twitter</a>
              </li>
              <li>
                <a href="https://www.facebook.com/DesksNearMe">Facebook</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="copyright">
          <p>© 2012 Desks Near Me Corp • 1.888.998.DESK</p>
        </div>
      </footer>
    </div>
  </div>
</div>
<div class="modal-overlay" style="display: none"></div>
<div class="modal-container" style="display: none">
  <a class="modal-close close ico-x" href=""></a>
  <div class="modal modal-content"></div>
  <div class="modal-loading"></div>
</div>

