<div id="TTWNotify" style="display:none;"></div>
<div class="dnm-page">
  <div class="container-fluid">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="logo-container pull-left">
          <a href="http://desksnear.me" id="logo">Desks Near Me</a>
        </div>
        <div class="links-container pull-right" id="header_links">
          <a href="/users/sign_out" class="header-link" data-method="delete" rel="nofollow"><span class="ico-logout padding">Log out</span>
              </a>
          <a href="/dashboard" class="header-link"><span class="ico-dashboard padding">Dashboard</span>
              </a>
          <a href="/controlpanel" class="header-link"><span class="ico-dashboard padding">New Dashboard</span>
              </a>
        </div>
      </div>
    </div>
  </div>
  <section class="companies" id="content">
    <section id="hero">
      <div class="container-fluid margin-bottom">
        <div class="dashboard-nav row-fluid">
          <ul>
            <li>
              <a href="http://localhost:3000/users/edit"><span class="ico-user padding account"></span>
                  </a>
            </li>
            <li>
              <a href="http://localhost:3000/dashboard/bookings"><span class="ico-bookings padding bookings"></span>
                  </a>
            </li>
            <li class="current">
              <a href="/dashboard/companies"><span class="ico-location padding locations"></span>
                  </a>
            </li>
            <li>
              <a href="http://localhost:3000/dashboard/reservations"><span class="ico-manage-guests padding guests"></span>
                  </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <div class="container-fluid legacy">
      <div class="row-fluid">
        <div class="span4">
          <ul class="nav">
            <li class="active">
              <a href="/dashboard/companies/885/edit"><strong>mycompany</strong>
        </a>
            </li>
            <li class=" location">
              <a href="/dashboard/locations/893/edit">location1
          </a>
            </li>
            <li class="">
              <a href="/dashboard/companies/886/edit"><strong>mycompany</strong>
        </a>
            </li>
            <li class="">
              <a href="/dashboard/companies/887/edit"><strong>mycompany</strong>
        </a>
            </li>
            <li class="">
              <a href="/dashboard/companies/888/edit"><strong>mycompany</strong>
        </a>
            </li>
            <li class="">
              <a href="/dashboard/companies/889/edit"><strong>mycompany</strong>
        </a>
            </li>
            <li class=" location">
              <a href="/dashboard/locations/889/edit">my location
          </a>
            </li>
            <li class=" location">
              <a href="/dashboard/locations/888/edit">my location
          </a>
            </li>
            <li class="">
              <a href="/dashboard/companies/890/edit"><strong>mycompany</strong>
        </a>
            </li>
            <li class=" location">
              <a href="/dashboard/locations/890/edit">boardroom
          </a>
            </li>
            <li class="">
              <a href="/dashboard/companies/891/edit"><strong>company</strong>
        </a>
            </li>
            <li class="">
              <a href="/dashboard/companies/892/edit"><strong>company</strong>
        </a>
            </li>
            <li class="">
              <a href="/dashboard/companies/893/edit"><strong>company</strong>
        </a>
            </li>
            <li class=" location">
              <a href="/dashboard/locations/891/edit">location1
          </a>
            </li>
            <li class="">
              <a href="/dashboard/companies/895/edit"><strong>mycompany</strong>
        </a>
            </li>
          </ul>
        </div>
        <div class="span8">
          <div class="box">
            <h2>Manage
              <strong>mycompany</strong>
            </h2>
            <ul class="box-nav">
              <li class="active">
                <a href="/dashboard/companies/885/edit">Description &amp; Details</a>
              </li>
              <li>
                <a href="/dashboard/companies/885/locations">Locations</a>
              </li>
            </ul>
            <form accept-charset="UTF-8" action="/dashboard/companies/885" class="simple_form form-horizontal"
            id="edit_company_885" method="post" novalidate="novalidate">
              <div style="margin:0;padding:0;display:inline">
                <input name="utf8" type="hidden" value="✓">
                <input name="_method" type="hidden" value="put">
                <input name="authenticity_token" type="hidden" value="ViR49yLSaNFfNPdbKFtHSd1u+zRfLVH2VdvqD5zoOas=">
              </div>
              <div class="control-group string required">
                <label class="string required control-label" for="company_name">
                  <abbr title="required">*</abbr>Your company name</label>
                <div class="controls">
                  <input class="string required" id="company_name" name="company[name]"
                  placeholder="Enter your business name" size="50" type="text" value="mycompany">
                </div>
              </div>
              <div class="control-group url optional">
                <label class="url optional control-label" for="company_url">Company website URL</label>
                <div class="controls">
                  <input class="string url optional" id="company_url" name="company[url]"
                  placeholder="www.mycompany.com" size="50" type="url" value="http://www.mycompany.com">
                </div>
              </div>
              <div class="control-group email optional">
                <label class="email optional control-label" for="company_email">Company email</label>
                <div class="controls">
                  <input class="string email optional" id="company_email" name="company[email]"
                  placeholder="yourname@example.com" size="50" type="email" value="">
                </div>
              </div>
              <div class="control-group description required">
                <label class="description required control-label" for="company_description">
                  <abbr title="required">*</abbr>Company description</label>
                <div class="controls">
                  <textarea cols="40" id="company_description" maxlength="250" name="company[description]"
                  rows="2">we are an awesome company</textarea>
                  <p class="help-block">You will get better results with a more concise description. Descriptions
                    are limited to 250 characters.</p>
                </div>
              </div>
              <div class="actions">
                <input class="btn" name="commit" type="submit" value="Update Company">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="footer-wrapper">
    <div class="container-fluid">
      <footer>
        <div class="row-fluid">
          <div class="span12">
            <ul>
              <li>
                <a href="mailto:contact@desksnear.me">Contact</a>
              </li>
              <li class="last">
                <a href="http://support.desksnear.me">Support</a>
              </li>
              <li>
                <a href="http://localhost:3000/privacy">Privacy</a>
              </li>
              <li>
                <a href="https://itunes.apple.com/us/app/desks-near-me/id529634519?mt=8">iPhone App</a>
              </li>
              <li>
                <a href="http://careers.stackoverflow.com/jobs/25136/ruby-on-rails-developer-desks-near-me">Jobs</a>
              </li>
              <li>
                <a href="http://blog.desksnear.me/" class="clear-footer">Blog</a>
              </li>
              <li>
                <a href="https://twitter.com/desksnearme">Twitter</a>
              </li>
              <li>
                <a href="https://www.facebook.com/DesksNearMe">Facebook</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="copyright">
          <p>© 2012 Desks Near Me Corp • 1.888.998.DESK</p>
        </div>
      </footer>
    </div>
  </div>
</div>
<div class="modal-overlay" style="display: none"></div>
<div class="modal-container" style="display: none">
  <a class="modal-close close ico-x" href=""></a>
  <div class="modal modal-content"></div>
  <div class="modal-loading"></div>
</div>

