= render partial: "manage/transactable_types/data_uploads/edit_finished"

%p= t('data_upload.manage.edit.errors_encountered')
%textarea{disabled: 'disabled', style: "width: 98%", rows: 10}= @data_upload.parsing_result_log
