= render 'shared/onboarding_heading', active_step: 1

.wrap-a.white
  .contain
    = simple_form_for :onboarding, url: onboarding_connect_url, html: { class: 'form-a' } do |f|

      .fields.location
        = f.input :location, required: false
        .map

      %p.action
        %button.button-a{:type => "submit"}
          = t :continue
