<h2>{{ user.first_name }},</h2> 
<p>At Upside of Talent we are here to help you get access to the best Subject Matter Experts (SMEs) at the right time!</p>
<p>We understand that defining your first project can be complicated and I'd like to personally help you through the process.</p>
<p>If you're interested in discussing your project requirements, please email me at <a href="mailto:lbailey@upsideoftalent.com">Lbailey@upsideoftalent.com</a> or call my cell, 720-386-5295.</p>
<p>We are committed to your success and believe that our marketplace of experts can be a valuable resource for your business.</p>