%li.listing
  .span3
    = property.name
  .span4
    = property.presentation

  .span2
    .links.right
      = link_to manage_buy_sell_property_path(property), :method => :delete, :confirm => 'Are you sure?', :class => "delete", style: 'padding-top: 0px;' do
        %span.ico-trash
      = link_to edit_manage_buy_sell_property_path(property), :class => "edit", style: 'padding-top: 0px;' do
        %span.icon.ico-edit
        %span.text
  .clearfix
