%li.listing.action-buttons
  .span4
    = property.name
  .span4
    = property.presentation
  .span3
    .links.right
      = link_to manage_buy_sell_property_path(property), :method => :delete, data: { confirm: 'Are you sure?' },
          :class => "delete", style: 'padding-top: 0px;' do
        %span.ico-trash
        %span.text Delete

      = link_to edit_manage_buy_sell_property_path(property), :class => "delete", style: 'padding: 0 0 0 10px;' do
        %span.icon.ico-edit
        %span.text Edit
  .clearfix
