%h1 Partners

= link_to 'New Partner', new_admin_instance_partner_path(instance), class: 'btn'

%table.table.table-striped
  %thead
    %tr
      %th Name
  %tbody
    - instance.partners.each do |resource|
      = render 'admin/partners/index_row', :resource => resource
