<div style="min-height: 100px">
Please <a data-modal="true" data-modal-class="sign-up-modal" data-modal-overlay-close="disabled" data-href="/users/sign_up?return_to={{ current_path }}&role=buyer" href="#"><span>Sign Up</span></a> first
</div>
