<div class='booking-description'>
  {% assign displayable_properties = "description|capacity|" | split: "|" %}
  {% for property in displayable_properties %}
    {% if listing[property] != blank %}
      <h3>{{ property | translate_property:listing.transactable_type }}</h3>
      <span>{{ listing[property] | filter_text | custom_sanitize }}</span>
    {% endif %}
  {% endfor %}
  <h3>{{ 'booking_module.hours' | translate }}</h3>
  <span>{{ listing.availability }}</span>
</div>
