<div class="row-fluid booking-submit-row book">
  <div class="btn btn-gray btn-large suggest-date">
    <span class="text">{{ 'reservations.booking_module.not_purchasable' | translate }}</span>
  </div>
</div>