.clearfix
  %h2 #{platform_context.bookable_noun.pluralize}
  %p Ordered by most recently created. Hover over a day to see how many #{platform_context.bookable_noun.pluralize} are available.

%section.list
  = render :partial => 'listings/listing', :collection => @listings
= will_paginate @listings

