- content_for :hero do
  .hero-wood-texture
    .container
      .twelve.columns.offset-by-two
        = render :partial => "search/bar", :locals => { :value => "" }

.clearfix
  = link_to "List Your Space!", new_listing_path, :class => "btn btn-blue btn-medium right"
  %h1 Listings
  %p Listing by most recently created. Hover over a day to see how many desks are available.

%section.list
  = render @listings
= will_paginate @listings

- content_for :script do
  :javascript
    $(function(){
      $("td.day details.availability a").click(function(e){
        $(".overlay-container").overlay('close');
        e.stopPropagation();
        var overlay = $("body").overlay({ ajax: $(this).attr("href"), position: { my: "top", at: "bottom", of: $(this).parents('td') }, html: 'Working&hellip;', 'class': "context" });
        $(".overlay-container a.cancel").live("click", function(e){
          e.stopPropagation();
          $(".overlay-container").overlay('close');
          return false;
        });
        return false;
      });
    });
