= content_for :meta do
  %meta{name: "robots", content:"noindex"}

.clearfix
  %h2= TransactableType.pluck(:name).join(', ')
  %p Ordered by most recently created. Hover over a day to see how many are available.

%section.list
  = render :partial => 'listings/listing', :collection => @listings
= will_paginate @listings

