- render_content_outside_container!
- no_header_links! unless user_signed_in?
- meta_title "Legal Desks Near Me"
- content_for :meta do
  %meta{:content => "law firm, attorneys, war room, legal firm, attorney office space, member of the bar association, National Lawyers Association, National Trial Lawyers, Lawyers", :name => "keywords"}/

%section#landing-page
  .row-fluid.landing-page-background
    .span12.header-image#header-law
      .hero-color#color-law
  .container-fluid.calltoaction
    %h1 Add your extra legal office or conference room here.
    .row-fluid
      %h2 When you list with DesksNear.Me you are connecting with thousands of trusted legal professionals looking for your space.
      - if !user_signed_in?
        = link_to '#', :class => 'btn btn-large btn-red', :title => 'List your desk', :data => { modal: true, href: new_api_user_url(:return_to => new_space_wizard_url), 'modal-class' => 'sign-up-modal', 'modal-overlay-close' => 'disabled' } do
          List your desk
      - else
        = link_to new_space_wizard_url, :class => 'btn btn-large btn-red', :title => 'List your desk' do
          List your desk
      .landing-page-search-link
        = link_to 'Or, search for a desk.', search_path
    = image_tag "landing-page/logo-landing_page.png"

