- render_content_outside_container!
- no_header_links! unless user_signed_in?
- meta_title "Accounting Desks Near Me"
- content_for :meta do
  %meta{:content => "accounting firm, AICPA, The American Accounting Association, National Society of Accountants: NSA, CPA resources, professional associations for accountants, Accounting Office Space, Certified Practicing accountants", :name => "keywords"}/

%section#landing-page
  .row-fluid.landing-page-background
    .span12.header-image#header-accounting
      .hero-color#color-accounting
  .container-fluid.calltoaction
    %h1 Add your spare accounting office and desk space.
    .row-fluid
      %h2 Connect with thousands of trusted accounting professionals looking for your space.
      - if !user_signed_in?
        = link_to '#', :class => 'btn btn-large btn-orange', :title => 'List your desk', :data => { modal: true, href: new_api_user_url(:return_to => new_space_wizard_url), 'modal-class' => 'sign-up-modal', 'modal-overlay-close' => 'disabled' } do
          List your desk
      - else
        = link_to new_space_wizard_url, :class => 'btn btn-large btn-orange', :title => 'List your desk' do
          List your desk
      .landing-page-search-link
        = link_to 'Or, search for a desk.', search_path
    = image_tag "landing-page/logo-landing_page.png"
