<p>Hello {{ user.first_name }},</p>

<p>You have successfully completed your handling lawyer profile. Now you're ready to work on cases. Search for cases by <a href="{{ 'search_url' | generate_url }}">clicking here</a></p>
