<p>Hello {{ user.first_name }},</p>

<p>You have successfully completed your expert profile. Now you're ready for next steps! Here are things to do:</p>

<p>#1 Blog on your topic!<br />
Clients are seeking experts with your expertise so be visible. The more you write in your blog, the more content we have to promote you and your knowledge.</p>

<p>#2 Connect with Clients<br />
Our community allows clients to directly start a conversation with you using the UoT InMail or Click to Talk. Conversations led to projects.</p>

<p>#3 Make sure your Linkedin Profile is up-to-date<br />
Clients will have easy access to your Linkedin profile so make read the materials we provide on mistakes to avoid to ensure a Pitch Perfect Profile.</p>

<p><b>Access the World’s Best Subject Matter Experts. On Demand.</b></p>
