<h2>Hello, {{ user.first_name }}!</h2>

<p>Thanks for registering! Welcome to LitVault, a <b>Global Marketplace connecting lawyers to cases.</b> </p>

<p style="padding-bottom: 0px;">We appreciate the trust you've placed in us to:</p>
<ul>
  <li>Build your team.</li>
  <li>Manage your cases.</li>
  <li>Achieve your goals.</li>
  <li>Grow to the next level.</li>
</ul>
<br/>
<p>We're always here to help. If you would like help from our support team, just email us! Send us a message at <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a> and we'll take care of you right away.</p>
