<p>Hello {{ user.first_name}},

<p>You have successfully completed your referring lawyer profile. Now you're ready to search for handling lawyers: {{ 'search_url' | generate_url: search_type: 'people' }}</p>
