%div{:class => (params[:action] == 'index') ? '' : 'box'}
  %ul.locations
    = yield



- content_for :script do
  :javascript
    $(function() {
      $(document).trigger('init:dashboardcontroller.nearme');
    });
