<p>Hello {{ user.first_name }},</p>

<p>You have successfully completed your expert profile. Now you're ready for next steps! Here are things to expect:</p>

<p>#1 Clients will want to connect with you<br />
UoT will allow Clients to find you. Work on projects that are best fit with your skills.</p>

<p>#2 Connect with People<br />
Our community allows you to send text communications or even call experts. Find out if they are the right fit for your project.</p>

<p>#3 Be invited to a Project<br />
Work on interesting projects!</p>

<p>Make it a great day!</p>
