<h2>Hello, {{ user.first_name }}!</h2>

<p>Thanks for registering! We're thrilled you've joined the UoT community.</p>

<p>We appreciate the trust you've placed in us and we want to support you to complete your projects successfully.</p>

<p>We're always here to help. If you would like help from our support team, just email us! Send us a message at <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a> and we'll take care of you right away.</p>
<p>Make it a great day!</p>
