<p>Hello {{ user.first_name}},

<p>You have successfully completed your profile. Now you're ready for next steps!  Here are three ways to get more done:</p>

<p>#1 Search for Experts<br />
UoT will allow you to find Experts from a wide range of industries and experience. Find the best people for your project.
</p>

<p>#2 Connect with People<br />
Our community allows you to send text communications or even call experts. Find out if they are the right fit for your project.
</p>

<p>#3 Invite Experts to a Project<br />
Now you can simply add a project and invite experts that may be interested to work with you. Begin getting offers and start the journey towards a successful project.
</p>

<p>Make it a great day!</p>
