<p>
  Hi <%= @user.name %>, thanks for signing up to <%= @theme.name %>!
</p>

<p>
  Please verify your email by clicking this link: <%= link_to "verfication link", verify_user_url(@user.id, @user.email_verification_token) %>
</p>

<p>
  Thanks,<br />
  The Desks Near Me team.
</p>
