<p>
Hi {{ user.first_name }},
</p>

<p>
  Thanks for signing up to {{ instance.name }}!
</p>

<p>
  Please <a href="{{ user.verify_user_url }}">click here to verify your email</a>.
</p>

<p>
  Thanks,
</p>

<p>
  The Desks Near Me team.
</p>
