<p>
  Hi {{ user.name }}, thanks for signing up to {{ instance.name }}!
</p>

<p>
  Please verify your email by clicking this link: <a href="{{ user.verify_user_url }}">verification link</a>.
</p>

<p>
  Thanks,<br />
  The Desks Near Me team.
</p>
