<h1>
Welcome to {{ platform_context_decorator.name }}, {{ user.first_name }}!
</h1>

<p class="first-paragraph">
Please, click the big button bellow to activate your account and get started.
</p>

<a class="btn" href="{{ user.verify_user_url }}">Activate account and login</a>
