<h2>Hello there?</h2>

<p>We tried to send you a text message, but it looks like your mobile number isn’t valid.</p>

<p>Having the correct contact information is vital so you can receive our text messages and don’t miss any bookings!</p>

<p>Please update your contact information in your personal account.</p>

<a class="btn" href="{{ user.edit_user_registration_url_with_token_and_tracking | append:signature_for_tracking }}">Go to My account</a>

<p>If you prefer, you can talk with us directly; just send an email to <a href="mailto:happydesk@desksnear.me">happydesk@desksnear.me</a> or call us on {{ platform_context.phone_number }}.</p>

<p>We'll be glad to help you!</p>
