<h1>Hi,</h1>

<p><a href="{{ commenter.profile_url }}">{{ commenter.name }}</a> commented on <a href="{{ commented_user.profile_url }}">your Update.</a> Click <a href="{{ commented_user.profile_url }}#activity">here</a> to read and respond.</p>
