<h1>Hi,</h1>

<p><a href="{{ 'profile_url' | generate_url: id: follower_user.slug }}">{{ follower_user.name }}</a> started following <a href="{{ transactable.listing_url }}#followers">{{ transactable.name }}</a>.
