<p>Invoice Approved</p>

<p>{{ lister.name }} has approved your invoice. Payment will be processed the next business day.</p>

<p>Remember, we're always here to help. If you would like help from our support team, just email or call us. Send us a message at <a href="mailto:support@bronXchange.com">support@bronXchange.com</a> or call {{ platform_context.phone_number }} and we'll take care of you right away.</p>

