---
name: Frequently Asked Questions
slug: faq
layout: community
---
<h1>How to navigate the Keepsake Ornament Club Community</h1>

<ol class="section-navigation-a">
  <li><a href="#how-do-i-get-back-to-the-home-page-of-the-site">How do I get back to the Home page of the site?</a></li>
  <li><a href="#what-do-the-following-labels-over-the-member-photos-mean-fan-superfan-artist-and-villager">What do the following labels over the member photos mean: Fan, Superfan, Artist, and Villager?</a></li>
  <li><a href="#what-are-topics-groups-and-clubs-and-diy-sections-of-the-community">What are Topics, Groups &amp; Clubs, and DIY sections of the community?</a></li>
  <li><a href="#how-do-i-set-up-a-topic">How do I set up a Topic?</a></li>
  <li><a href="#how-do-i-post-to-a-topic">How do I post to a Topic?</a></li>
  <li><a href="#how-do-i-set-up-a-group">How do I set up a Group?</a></li>
  <li><a href="#how-do-i-set-up-a-diy">How do I set up a DIY?</a></li>
  <li><a href="#how-do-i-update-my-member-profile">How do I update my Member Profile?</a></li>
  <li><a href="#how-do-i-upload-my-profile-photo-avatar">How do I upload my profile photo (Avatar)?</a></li>
  <li><a href="#how-do-i-edit-my-photo">How do I edit my photo?</a></li>
  <li><a href="#what-is-following">What is &ldquo;following&rdquo;?</a></li>
</ol>


<dl class="faq-a">
  <dt id="how-do-i-get-back-to-the-home-page-of-the-site">How do I get back to the Home page of the site?</dt>
  <dd>
    <p>Click on the Hallmark Keepsake Ornament Club logo and this will take you to the home page. After the first time you log in, we have you.</p>
  </dd>

  <dt id="what-do-the-following-labels-over-the-member-photos-mean-fan-superfan-artist-and-villager">What do the following labels over the member photos mean: Fan, Superfan, Artist, and Villager?</dt>
  <dd>
    <p>Members are participants in our community. There are 4 types of members.</p>

    <ul>
      <li><b>Fan</b> – the standard badge for anyone who loves ornaments.</li>
      <li><b>Superfan</b> – a badge fans earn by being highly active in the community or by showing through their posts that they have a particularly deep knowledge of Keepsake ornaments.</li>
      <li><b>Artist</b> – given only to our Keepsake Artists.</li>
      <li><b>Villager</b> – for those fans who work at Hallmark in the Keepsake Village (but aren&lsquo;t artists).</li>
    </ul>


    <p>Later this spring, when we add the ability for you to set up your own shop and sell ornaments online, we&lsquo;ll add &ldquo;Seller&rdquo; to our member titles.</p>
  </dd>

  <dt id="what-are-topics-groups-and-clubs-and-diy-sections-of-the-community">What are Topics, Groups &amp; Clubs, and DIY sections of the community?</dt>
  <dd>
    <p><b>Topics</b> are general areas of discussion that members can participate in. Any member can participate in a topic by adding a post from their own activity feed and then tagging it with an appropriate category. Members can also reply to any comment made in a topic. Think of Topics as a quick way to get to a type of activity, like &ldquo;In the News&rdquo; for news stories. Note, only the Admin can set up new topics.</p>

    <p><b>Groups &amp; Clubs</b> are public or private groups that anyone can set up. You can set one up for talking about a specific interest, like &ldquo;Peanuts Ornament Fans&rdquo; or for your own local Keepsake Club to communicate and share info with each other.</p>

    <p><b>DIY</b> pages are projects that you&lsquo;re working on and you want to share with each other. You can set up a DIY to show off how you decorated for Christmas, or what you cooked for dinner, or the gingerbread houses you made. What&lsquo;s special about DIY is that you can collaborate with others with images and links.</p>
  </dd>

  <dt id="how-do-i-set-up-a-topic">How do I set up a Topic?</dt>
  <dd>
    <p>Topics can only be set up by a Hallmark Admin for now.</p>
  </dd>

  <dt id="how-do-i-post-to-a-topic">How do I post to a Topic?</dt>
  <dd>
    <p>You can post to a Topic from your own profile or activity page by typing in the dialog box that shows up in your activity feed. Before you post, select a Topic to associate it with. Your post will now appear within the activity feed of that particular Topic page, as well as on your own profile page.</p>
  </dd>

  <dt id="how-do-i-set-up-a-group">How do I set up a Group?</dt>
  <dd>
    <p>Select the blue &ldquo;Create Group&rdquo; button from the Groups &amp; Clubs category page. This will take you to a Group setup screen. From here you can specify if you want a group &ldquo;public&rdquo; (open to anyone), &ldquo;private&rdquo; (open by invite only, though it is visible to the public), or &ldquo;secret&rdquo; (not visible to the public and participation is by invite only).</p>
    <p>When you set up your group you can add images, a link to a video, and other links, and as the owner of the group you can invite others to participate.</p>
    <p>You publish your group to the community by selecting the blue &ldquo;Publish&rdquo; button at the bottom of the set up screen.</p>
    <p>Note that you can edit a group you&lsquo;ve published by selecting your name in the upper right corner of the site and selecting &ldquo;My Groups.&rdquo; This will take you to a listing of all the groups you own and allow you to edit or remove them from the community.</p>
  </dd>

  <dt id="how-do-i-set-up-a-diy">How do I set up a DIY?</dt>
  <dd>
    <p>Select DIY (near the Thumbtack icon) and you will be taken to a DIY category screen. From here select the &ldquo;Create DIY&rdquo; button to open up an Add DIY screen. Here you can name your DIY, add a summary and description, and tag it with the appropriate Topic category or Group. Topics are great because you can add images and links and invite others to collaborate with you, meaning they can add new content to that particular DIY as well.</p>
  </dd>

  <dt id="how-do-i-update-my-member-profile">How do I update my Member Profile?</dt>
  <dd>
    <p>When you are signed in, click on your member picture (Avatar) in the upper right section of the screen. This will take you to your profile. Then click on the blue Edit button.</p>
    <p>You can write something about yourself in the About Me section. You can also write a short (144 character) bio about you. When other members search for you, they will often see this short bio first.</p>
    <p>From this page you can also upload your own photo or image to represent you (Avatar) and put in your own background image (the longer horizontal area at the top of your profile).</p>
  </dd>

  <dt id="how-do-i-upload-my-profile-photo-avatar">How do I upload my profile photo (Avatar)?</dt>
  <dd>
    <p>Within the Profile edit screen, scroll down until you see the word Avatar. Select the &ldquo;Upload Photo&rdquo; button next to it and choose to upload a photo from your desktop. You can upload a Cover Photo in the same manner. A cover photo is a horizontal image that you can use to add personality to your community profile.</p>
  </dd>

  <dt id="how-do-i-edit-my-photo">How do I edit my photo?</dt>
  <dd>
    <p>Within the Profile edit screen, once you have a photo uploaded you can move your cursor over your photo and a pencil icon and a trash can icon will appear. Click on the pencil icon to bring up a cropping tool, then drag your cursor over the photo until it is cropped to your liking. Finally, you can delete your current photo by clicking on the trash can icon.</p>
  </dd>

  <dt id="what-is-following">What is &ldquo;following&rdquo;?</dt>
  <dd>
    <p>Following is an action that any member can do. You can follow a member, a group, a topic, or a project. It&lsquo;s a quick way to stay up to date on your favorite people and subjects, as once you follow someone or something, you get posts automatically sent to your activity feed. Just click the blue &ldquo;Follow&rdquo; button beneath the person or thing you wish to receive updates on.</p>
  </dd>
</dl>
