---
name: Accessibility
layout: community
---

<h1>Our Commitment to Web Accessibility</h1>
<p>Hallmark.com, LLC and <a href="https://keepsakecommunity.hallmark.com">keepsakecommunity.hallmark.com</a> is committed to meeting the needs of its users and has been working to make its sites more accessible to those with disabilities.</p>

<p>If you are having trouble accessing <a href="https://keepsakecommunity.hallmark.com">keepsakecommunity.hallmark.com</a> or using any of its functions, please call your Keepsake Ornament Club Team at 1-800-HALLMARK (<a href="tel:+18004255627">1-800-425-5627</a>) or email us at <a href="mailto:accessibility@hallmark.com">accessibility@hallmark.com</a> for assistance and to let us know about the issue.</p>
