<p>Hello {{ enquirer.first_name }},</p>

<p>Congratulations! You have successfully completed your vendor profile. Now you're ready for next steps. Here are things to expect:</p>

<p>#1 Purchasers will want to connect with you<br />
BronXchange will allow Purchasers to find you, create an order and ask you to send your quote.
</p>

<p>#2 Connect with Purchasers<br />
Our community allows you to communicate with Purchasers directly through the BronXchange marketplace. Find out if they are the right fit for you.
</p>

<p>#3 Reply to a Purchaser's request for a proposal<br />
We make it easy for you to send your best offer to the purchaser and make them your new customer!
</p>

<p><b>Make it a great day!</b></p>

<p>Remember, we're always here to help. If you would like help from our support team, just email or call us. Send us a message at <a href="mailto:support@bronXchange.com">support@bronXchange.com</a> or call {{ platform_context.phone_number }} and we'll take care of you right away.</p>
