<p>Congratulations!</p>

<p>You have completed creating your first order. You are now able to begin asking a Vendor to review your order and provide you with a quote or proposal.</p>

<p>Remember, we're always here to help. If you would like help from our support team, just email or call us. Send us a message at <a href="mailto:support@bronXchange.com">support@bronXchange.com</a> or call {{ platform_context.phone_number }} and we'll take care of you right away.</p>

