{% if order.allows_draft? %}
  <button class="btn blue next" data-disable-with="{{ 'general.processing' | translate }}" name="save_draft">
    {{ 'reservations_review.buttons.draft' | translate }}
  </button>
{% endif %}

{% if order.is_draft? %}
  <button class="btn blue next" data-disable-with="{{ 'general.processing' | translate }}" name='cancel_draft'>
    {{ 'reservations_review.buttons.cancel_draft' | translate }}
  </button>
{% endif %}
