.padding-bottom
  .row-fluid
    .span5.text
      .ico-lock Submit a secure payment.
    .clearfix

= f.error :cc
#paypal-button

- if @payment_gateway.client_token.present?
  = javascript_include_tag "https://js.braintreegateway.com/v2/braintree.js"
  - content_for :script do
    :javascript
      $(function() {
        if('braintree' in window) {
          braintree.setup("#{@payment_gateway.client_token}", 'paypal', {
            container: 'paypal-button'
          });
        }
      });
