- disabled = false if !defined?(disabled)

.checkout-wizard{ :"data-shipping-country-controller" => true, :"data-payment-controller" => true  }
  - sidebar = capture_haml do
    = render 'checkout/sidebar', order: @order unless @order.instance_of?(Purchase)

  - if !sidebar.strip.empty?
    %aside.checkout-wizard-aside
      = sidebar

  .checkout-wizard-main

    %section.checkout-form
      = render 'checkout/summary', order: @order

    - if @order.inactive? || @order.unconfirmed? || (@order.confirmed? && disabled)

      = render 'checkout/form', disabled: disabled

