%header.dialog__header
  %h2#dialog__title
    = t('dimensions_templates.modal.add_new_dimensions_template')

= dashboard_simple_form_for [:dashboard, :company, @dimensions_template], html: {id: 'dimensions-template-form'}, data: { modal: true } do |f|

  .dialog__body
    = render 'dashboard/shared/fields/dimension_templates_admin', f: f, section_id: 'new-dimension-template'

  .dialog__actions
    = f.submit t('dimensions_templates.modal.save_dimensions_template')

