$(document).trigger('close.modal');
$('.dimensions-templates-select-container').html('#{escape_javascript( render 'shared/rental_dimensions_templates_select' )}');
setTimeout(function() { $('.dimensions-templates-select-container select').customSelect(); }, 100);
