section#w-hotels {

  .header-image {
    margin-top: -60px;
  }

  .span4 {
    position: relative;
  }

  .booking-module-container  {
    position: relative !Important;
    width: 100% !Important;
  }

}