.btn-empty {
  font-size: 18px;
}

.btn-submit {
  width: initial !important;
}

.cart-table {
  table-layout: fixed;

  .input-mini {
    width: 75px;
  }

  .btn-qty-update {
    width: inherit;
  }
}
