.btn-empty {
  font-size: 18px;
}

.btn-submit {
  width: initial !important;
}

.box-company {
  background-color: #d2d2d2;
}

.cart-table {
  table-layout: fixed;

  .input-mini {
    width: 75px;
  }

  .btn-qty-update {
    width: inherit;
  }
}

.centered {
  text-align: center;
}
