body.buy-sell {

  .products-container {
    float: left;
    margin-bottom: 25px;
  }

  article.product {

    @include box-sizing(border-box);
    float: left;
    position: relative;
    margin-top: 25px;
    background: $gray230;
    @include border-radius($border-radius-default);
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;

    @media (max-width: $iphone-landscape) {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
    }

    @media (min-width: $iphone-landscape) and (max-width: $ipad-width) {
      width: 46.9%;
      margin-left: 1.5%;
      margin-right: 1.5%;
    }

    @media (min-width: $ipad-width) and (max-width: $default-width) {
      width: 29.9%;
      margin-left: 1.5%;
      margin-right: 1.5%;
    }

    .heading {
      position: relative;
      @include box-sizing(border-box);
      padding: 0 5px;

      a {
        display: block;
        color: $gray120;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 60px;
        font-size: 90%;
      }

      span {
        position: absolute;
        right: 5px;
        top: 0;
        font-size: 110%;
      }
    }

    .photo {
      @include box-sizing(border-box);
      z-index: -1;
      padding-right: 1px;

      img {
        width: 100%;
        display: block;
      }
    }

    .photo-container {
      position: relative;
    }
  }

  .buy-sell-top-navigation {

    .navbar {
      background: $theme_white;

      .navbar-inner {
        background: $theme_white;
        @include border-radius($border-radius-bottom);

        @media (max-width: $booking-module-breakpoint) {
          display: none;
        }
      }
    }

    .nav {
      li {
        a {
          color: $gray100;
        }
      }
    } 
  }

  section.products {
    .container-row {
      width: 100%;

      .one-third.column {
        margin:0;
        width: 41.3333%;
        margin-left: 2%;

        @media (max-width: $booking-module-breakpoint-desktop) {
          width: 48%;
        }

        @media (max-width: $booking-module-breakpoint) {
          width: 100%;
          clear: both;
          margin-left: 0;
        }
      }

      .two-thirds.column {
        margin: 0;
        width: 56.6666%;

        @media (max-width: $booking-module-breakpoint-desktop) {
          width: 50%;
        }

        @media (max-width: $booking-module-breakpoint) {
          width: 100%;
          clear: both;
        }	
      }

      .description {
        font-size: 1.0em;
        line-height: 140%;
        color: $gray170;
      }

      .price {
        font-size: 1.2em;
        font-weight: bold;
        padding: 20px 0;
      }

      a.add_to_cart {
        padding: 0 50px;
      }

      table.product-properties {
        td.product-property {
          padding-right: 25px;
          font-weight: bold;
        }
      }

      .white-box {
        background-color: #fafafa;
        padding: 30px;
        padding-top: 20px;
        border: 1px solid $gray220;
        @include border-radius($border-radius-default);

        h4 {
          padding-bottom: 10px;
        }
      }

      .product-might-like {
        @media (max-width: $booking-module-breakpoint) {
          display: none;
        }
      }

      h4 {
        color: $gray100;
      }

      .administrator {
        position: relative;
        @include box-sizing(border-box);
        @include border-radius($border-radius-default);

        img {
          float: left;
          width: 50%;
          min-height: 145px;
          min-width: 145px;
          max-height: 190px;
          max-width: 190px;
          @include border-radius($border-radius-default);
        }

        .info {
          float: left;
          padding: 15px;
          padding-top: 0;
          width: 50%;
          height: 50%;
          @include box-sizing(border-box);

          span.name {
            display: block;
            color: $gray80;
            font-size: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          span.title {
            display: block;
            height: 2.4em;
            color: $gray120;
            font-size: 16px;
            line-height: 1.2em;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .buttons {
          float: left;
          bottom: 0px;
          right: 0px;
          width: 50%;
          padding-left: 15px;
          padding-right: 15px;
          @include box-sizing(border-box);

          a.btn {
            width: 100%;
            height: 42px;
            line-height: 42px;
            font-size: 18px;
            text-align: center;
            white-space: nowrap;
            @include border-radius($border-radius-default);
          }

          a.btn.ask {
            margin-top: 8px;
          }

          a.btn.view {
            border: 1px solid $gray170 !important;
            color: $gray120;
          }

        }

        @media (min-width: $host-card-breakpoint-tiny) and (max-width: $host-card-breakpoint-small),
          (min-width: $host-card-breakpoint-medium) and (max-width: $host-card-breakpoint-large) {

          .info {
            padding: 8px;
            padding-top: 0;

            span.name {
              height: 22px;
              font-size: 18px;
              line-height: 22px;
            }

            span.title {
              height: 2.4em;
              font-size: 14px;
              line-height: 1.2em;
            }
          }

          .buttons {
            margin-bottom: 8px;
            padding-left: 8px;
            padding-right: 8px;

            a.btn {
              height: 30px;
              line-height: 30px;
              font-size: 14px;
            }
          }
        }
      }

      .social-buttons-wrapper {
        position: relative;
        margin-left: 15px;
        padding: 0px 0px 0px 100px;

        .facebook {
          position: absolute;
          left: 0;
          top: -3px;
        }

        .social-buttons {

          height: 25px;
          overflow: hidden;

          > div {
            float: left;
            margin-right: 10px;
            margin-top: 5px;
            height: 20px;

            &:last-child {
              margin-right: 0px;
            }
          }

          .twitter iframe {
            width: 81px !important;
          }

          .google-plus iframe,
          .google-plus > div {
            width: 66px !important;
          }
        }

        @media (max-width: $booking-module-breakpoint) {
          margin-left: 0px;
        }
            
      }
    }

    h1 {
      font-size: 1.4em;
    }
  }

  section.search {
    .container-row {
      width: 100%;

      .one-third.column {
        @include box-sizing(border-box);
        margin: 0;
        width: 27.3333%;

        &.padding {
          padding: 0 20px;
        }

        @media (max-width: $ipad-width) {
          display: none;
        }
      }

      .two-thirds.column {
        @include box-sizing(border-box);
        margin: 0;
        width: 71.6666%;

        @media (max-width: $ipad-width) {
          width: 100%;
          clear: both;
        }
      }

      .rounded-box {
        @include border-radius($border-radius-default);
        background-color: #fafafa;
        padding: 10px 20px;
        border: 1px solid $gray220;
      }
    }

    .with-left-margin {
      margin-left: 2.3%;

      @media (max-width: $iphone-landscape) {
        margin-left: 0px;
        margin-right: 0px;
      }

      @media (min-width: $iphone-landscape) and (max-width: $ipad-width) {
        margin-left: 1.5%;
        margin-right: 1.5%;
      }

      @media (min-width: $ipad-width) and (max-width: $default-width) {
        margin-left: 1.5%;
        margin-right: 1.5%;
      }
    }

    .search-pagination {
      padding-top: 10px;
      padding-bottom: 15px;

      .page-entries-info {
        font-weight: bold;
        font-size: 0.9em;
      }

      .pagination {
        padding: 0;
        cursor: default;
        margin-top: 10px;

        a {
          color: $gray120;
        }

        span, em, a {
          display: inline-block;
          border: 1px solid $gray210;
          @include border-radius(2px);
          min-width: 30px;
          text-align: center;
        }

        span.disabled {
          display: none;
        }

        a:hover, em.current {
          color: $gray60;
          border-color: $gray120;
        } 
      } 
    }

    .sort {
      background-color: $gray60;
      line-height: 40px;
      height: 40px;
      padding: 10px;
      font-size: 90%;

      h3 {
        display: inline-block;
        color: $gray245;
      }

      .results-count {
        float: left;
      }

      .sort-by {
        float: right;
        text-align: right;

        span.customSelect {
          color: $gray245;
        }

        span.customSelectInner {
          padding-right: 7px;
          width: 75px !important;
          text-align: right;

          @media (max-width: $iphone-landscape - 1) {
            width: 65px !important;
          }
        }

        #sort {
          width: 95px !important;
          cursor: pointer;
        }
      }

      .per-page {
        float: right;
        text-align: right;
        padding-right: 30px;

        span.customSelect {
          color: $gray245;
        }

        span.customSelectInner {
          padding-right: 7px;
          width: 30px !important;
          text-align: right;
        }

        #per_page {
          width: 50px !important;
          cursor: pointer;
        }
      }

      .custom-select-dropdown-icon {
        position: static;
        font-size: 80%;
        color: $gray245;
      }

      @media (max-width: $iphone-landscape - 1) {
        height: 80px;

        > div {
          float: none !important;
          text-align: left !important;
        }
      }
    }

    header#listing_search {
      &.products {
        position: static;
        float: right;
        background: transparent;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 0;

        .search-container {
          width: 400px;

          @media (max-width: $iphone-landscape) {
            padding-right: 0;
            width: 330px;
          }
        }

        .search-icon {
          position: static;
          float: right;
          margin-top: 7px;
          margin-left: 10px;
        }
      }
    }
  } 

  nav#taxonomies {
    .taxonomy {
      margin-bottom: 25px;
    }

    .taxonomy-root {
      text-transform: uppercase;
      border-bottom: 1px;
      margin-bottom: 5px;
      font-size: 0.9em;
      font-weight: bold;
    }

    .taxons-list {
      padding-left: 10px;

      li {
        a {
          font-size: 0.9em;
          color: $gray120;
          display: block;
          padding: 0 10px;

          &:hover, &.current {
            background-color: $gray240;
          }
        }
      }
    }
  }

  #fullscreen-gallery {
    background: rgba(0, 0, 0, 1);

    .loading {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 11;
      width: 54px;
      height: 55px;
      margin-top: -27px;
      margin-left: -27px;
    }

    .carousel {

      .carousel-inner {
        height: 100%;
      }

      ol.carousel-indicators {
        width: auto !important;
      }

      .item {
        img {
          max-height: 100%;

          &.smaller-size {
            max-height: 90% !important;
          }
        }

        .info {
          position: static;
          background: none;

          .caption {
            position: static !important;
            padding-top: 20px;
          }
        }
      }
    }
  }

  .product-photos {

    #listing-siblings-container {
      img {
        @include border-radius($border-radius-bottom);
      }
    }

    .carousel-nav {
      width: 100%;
      max-width: $space-full-image-width;
      position: absolute;
      top: 45%;

      .carousel-control {
        color: $gray60;
        text-shadow: none;
        font-size: 20px;
        top: 45%;
        @include opacity(0.8);
        background: $gray230 !important;
        height: 48px;
        width: 33px;
        padding-top: 20px;


        &.right {
          left: auto;
          right: 0;
          @include border-radius($border-radius-left);
        }

        &.left {
          left: 0;
          right: auto;
          @include border-radius($border-radius-right);
        }
      }
    }

    .carousel {
      margin-bottom: 0;
      
      ol.carousel-indicators{
        position: static !important;

        li {
          width: 80px;
          height: 80px;
          text-indent: 0px;
          text-align: center;
          line-height: 80px;
          margin-left: 0;
          margin-right: 5px;
          margin-top: 5px;
          cursor: pointer;
        }

        @media (max-width: $booking-module-breakpoint-desktop) {
          width: auto;

          li {
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 14px;
          }
        }
      }

      .carousel-inner {
        width: 100%;
        max-width: $space-full-image-width; 

        .item {
          width: 100%;
          height: 100%;

          img {
            @include border-radius($border-radius-default);          
            height: auto;
          }
        }
      }

      &#photos-container {
        max-width: $space-full-image-width; 
      }

      &#photos-container-enlarged {

        ol.carousel-indicators {
          position: fixed;
        }

        .carousel-inner {
          max-width: 100%;

          .item {
            width: 100%;

            img {
              margin-left: auto;
              margin-right: auto;
            }

            .info {

              .caption {
                position: fixed;
                right: 0;
                left: 0;
              }
            }
          }
        }

        .carousel-nav {
          max-width: 100%;
        }
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        @include box-sizing(border-box);
        @include opacity(0.8);
        color: $gray60;
        background: $gray230 !important;
        display: block;
        text-align: center;
        text-shadow: none;
        font-size: 20px;
        width: 40px;
        height: 36px;
        @include border-bottom-left-radius($border-radius-default);
        cursor: pointer;

        &:focus {
          outline: none !important;
        }

        &::-moz-focus-inner {
          border: 0;
        }

        &.close {
          position: fixed;
          @include border-bottom-left-radius($border-radius-default);          
        }
      }

      .info {
        @include box-sizing(border-box);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 15%;
        color: $theme_white;
        font-size: 13px;
        @include background-image(linear-gradient(rgba(250,250,250,0), $black));
        @include border-radius($border-radius-bottom);
        

        .caption {
          position: absolute;
          bottom: 15px;
          padding-left: 5px;
          padding-right: 5px;
          right: 5px;
          font-family: $font-bold;
        }
      }
    }
  }

  #products-tabs {
    .nav {
      margin-bottom: 0;

      a {
        color: $gray170;
        padding: 15px 20px;
      }

      li.active {
        a {
          color: $gray80;
          border-left-color: $gray220;
          border-right-color: $gray220;
          border-top-color: $gray220;
          @include border-radius($border-radius-top);
        }
      }
    }

    .tab-content {
      background-color: #fafafa;
      padding: 20px 30px;
      border: 1px solid $gray220;
      @include border-radius(0 5px 5px 5px);
    }
  }

  /*** Home Page Search ***/
  #listing_search {
    .input-wrapper {
      input {
        padding-left: 10px;
      }
    }
  }
}
