%div.connection.clearfix
  %div.left
    %span.text
      Connected
    - if count
      %span.count
        =t "connections.#{provider}.count", count: count
  %div.icon.right
    =link_to '', link, class: icon, target: :blank, rel: rel
