%div{'data-phone-fields-container' => true}
  = f.input :country_name, :as => :select, :collection => user_country_name_options, :selected => user_country_default(f.object.country_name), input_html: { 'data-country-selector' => true, class: 'selectpicker', "data-live-search" => "true", autocomplete: false }, required: f.object.validation_for(:phone).try(:is_required?), include_blank: true

  - calling_code = '&nbsp;'
  - calling_code = "+#{f.object.country.calling_code}" if f.object.country

  = f.input :mobile_number, as: :tel, wrapper: :dashboard_addon, required: (f.object.validation_for(:phone).try(:is_required?) || f.object.validation_for(:mobile_number).try(:is_required?)), input_html: { data: { 'mobile-number': true }}, prefix: calling_code

