%form#listing_search.search_results{:action => search_path, :method => "get"}
  - search_geofields.each do |geofield|
    = hidden_field_tag geofield, ''

  .row-fluid
    %h1
      Search Results
      %strong #{pluralize(@listings.length, "listing")} found
  .row-fluid
    .span6
      %input#search{:name => "q", :placeholder => "Search by city or address", :type => "text", :value => @query, :class => "query", :autocomplete => "off"}
      .geolocation
        %span.ico-crosshairs
    .span6
      .three.columns.availability-date-start
        = text_field_tag "availability[dates][start]", search_availability_dates_start, :autocomplete => "off" 
        .calendar
          %span.ico-calender
      .three.columns.availability-date-end
        = text_field_tag "availability[dates][end]", search_availability_dates_end, :autocomplete => "off"     
        .calendar
          %span.ico-calender
