%form#listing_search.home_search{:action => search_path, :method => "get"}
  %input#search{:name => "q", :placeholder => "Search by city or address", :type => "text", :value => value || params[:q]}
  %input.geolocation{:name => "geolocate", :type => "button", :value => ""}
  %a.btn.btn-green.btn-outline.btn-medium{ :rel => "submit", :href => "" }
    %i.icon
    Search
