%form#workplace_search.big_search{:action => search_path, :method => "get"}
  .inner
    %input.geolocation{:name => "geolocate", :type => "button", :value => ""}/
    %input#search{:name => "q", :placeholder => "Search by city or address", :type => "text", :value => value || params[:q]}
      %input#submit{:type => "submit", :value => ""}
