<form id="workplace_search" action="#" method="get" class="big_search">
  <div class="inner">
    <input type="button" name="geolocate" value="" class="geolocation" />
    <input type="text" value="<%= value %>" placeholder="Search by city or address" name="q" id="search">
    <input type="submit" value="" id="submit">
  </div>
</form>
