#location-types-listings-ids.hidden{:'data-ids' => location_types_listings_ids, :'data-location-types-listings-ids' => true }
#listing-types-listings-ids.hidden{:'data-ids' => listing_types_listings_ids, :'data-listing-types-listings-ids' => true }
#industries-listings-ids.hidden{:'data-ids' => industries_listings_ids, :'data-industries-listings-ids' => true }
