- content_for :hero do
  %header#listing_search.container-fluid  
    .header-inner
      %form.search_results{:action => search_path(v: result_view), :method => "get"}
        - search_geofields.each do |geofield|
          = hidden_field_tag geofield, ''
        = hidden_field_tag :v, result_view
        = hidden_field_tag :ignore_search_event, 0
        = hidden_field_tag :page, 1
        .row-fluid
          .span12
            .list-map-toggle
              %a.map{ href: search_path(params.merge(v: 'map')), class: result_view == 'map' ? 'active' : nil, title: 'Map' }
                Map
              %a.list{ href: search_path(params.merge(v: 'list')), class: result_view == 'list' ? 'active' : nil, title: 'List' }
                List
            .search-container 
              %input#search{:name => "q", :placeholder => "Search by city or address", :type => "text", :value => query, :class => "query", :autocomplete => "off"}
              .geolocation
                %span.ico-crosshairs
            .search-icon.btn.btn-green
              %span.ico-search
