- content_for :hero do
  %header#listing_search.container-fluid
    %form.search_results{:action => search_path(v: result_view), :method => "get"}
      - search_geofields.each do |geofield|
        = hidden_field_tag geofield, ''
      = hidden_field_tag :v, result_view
      .row-fluid
        .span1
          %nav.search-view
            %a{ href: search_path(params.merge(v: 'Map')) }
              %span.ico-marker
            %a{ href: search_path(params.merge(v: 'List')) }
              %span.ico-list
        .span7
          %input#search{:name => "q", :placeholder => "Search by city or address", :type => "text", :value => query, :class => "query", :autocomplete => "off"}
          .geolocation
            %span.ico-crosshairs
        .span4
          .three.columns.availability-date-start
            = text_field_tag "availability[dates][start]", search_availability_dates_start, :autocomplete => "off", :placeholder => "Starting on"
            .calendar
              %span.ico-calender
          .three.columns.availability-date-end
            = text_field_tag "availability[dates][end]", search_availability_dates_end, :autocomplete => "off", :placeholder => "Ending on"
            .calendar
              %span.ico-calender