%section.search-results.list
  - unless @search.found_location?
    %p Please enter a city or address
  - else
    - if @listings.empty?
      %br/
      .span3
        = image_tag "marker_missing.png"
      .span9
        %br/
        %br/
        %h1.tk-adelle.fat No results found
        %p Try a different location or a post code. Make sure the location is properly formatted and include the city and state.
        %p
          Still cant find what your looking for? Why not #{link_to "create your own listing", new_space_wizard_path}!
    - else

      #listings
        = render :partial => '/listings/listing', :collection => @listings 
