- if @searcher.result_count > 0
  %section#results.list
    - @searcher.results.each do |listing|
      - cache i18n_cache_key('list', listing, listing.company, (current_user.try(:has_friends) ? current_user : nil)) do
        = render partial: 'search/list/listing', locals: { listing: listing, current_user: current_user, user_has_firends: current_user.try(:has_friends) }
    = will_paginate @searcher.results
    = render 'shared/loading_spinner'
- else
  %section#results.no_results
    = render 'shared/loading_spinner'
    .text-center
      %br/
      %br/
      %br/
      %br/
      %br/
      %h1.tk-adelle.fat No results found
