.search-filter{ 'data-transactable-type-filter' => true }
  = link_to '#', 'data-search-filter' => true do
    %h3
      %span.ico-chevron-down
      = t('search.service_types')
  %ul
    - current_instance.transactable_types.searchable.each do |transactable_type|
      %li.filter-option
        %label.radio.small-radio
          %input{:type => 'radio', :name => 'transactable_type_id', :value => transactable_type.id, :checked => (@searcher.transactable_type.id == transactable_type.id), 'data-list-view' => 1}
          %span.filter-label-text
            = transactable_type.translated_bookable_noun
