
<div class="grid_3 alpha">
  <h1 class="tk-adelle">Workplaces found near:</h1>
</div>

<div class="grid_9 omega">
  <%= render :partial => "search/bar", :locals => { :value => @location.try(:[], :name) || @query } %>
</div>

<div id="results">
  Loading...
</div>

<script type="text/javascript">Search.init("<%= search_results_path %>");</script>

