- content_for :hero do
  .container-fluid
    = render :partial => "search/bar", :locals => { :value => "" }


#results
  .results
    = render :partial => "search/listings" if @listings
  .loading.four.columns{:style => "display: none"}
    = image_tag "spinner-red.gif"

- content_for :domready do
  new DNM.SearchResultsPage($('#listing_search'), $("#results"))
