- legacy false
- title params[:q] if params[:q]
- content_for :hero do
  .container-fluid
    = render :partial => "search/bar", :locals => { :value => "" }

#results
  .google-map-wrapper
    .google-map
      #listings_map.inner{:tabindex => -1}

  .results
    = render :partial => "search/listings" if @listings

  .loading.four.columns{:style => "display: none"}
    = image_tag "spinner-red.gif"

- content_for :domready do
  new Search.SearchController($('#listing_search'), $("#results"))
