.content-container
  %h4= t('instance_admin.manage.admins.create_new_role')
  = simple_form_for [:instance_admin, :manage, :admins, @instance_admin_role ||= InstanceAdminRole.new] do |f|
    .row
      .input-container.col-xs-12
        = f.input :name, required: false, input_html: { class: 'form-control' }

    .row
      .input-container.col-xs-12
        = f.submit t('instance_admin.create'), :class => 'btn btn-blue pull-right'

