.booking-option {
    > label {
        display: block;
    }
}

.booking-option-example {

    h4 {
        font-weight: 300;
        text-transform: lowercase;
        color: $booking-option-heading-color;
        font-weight: 300;
        margin-bottom: 0;
    }

    img {
        display: block;
        max-width: 100%;
    }

    @media (min-width: $screen-desktop) {
        margin-left: 30px;
    }
}

.booking-option-or {
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
    margin: 10px 0;
    display: block;
}

.booking-option-item {
    display: inline-block;
    vertical-align: top;
}

@media (min-width: $screen-desktop) {
    .booking-option-or {
        margin: 10px 20px;
        display: inline-block;
        vertical-align: top;
    }
}

// discounts
.bulk-discount {
    display: inline-block;
    vertical-align: top;
}
