@media (min-width: $screen-sm-min) {
    .form-inline {
        .select.form-control {
            min-width: 140px;
        }
        .form-group, .form-unit {
            display: inline-block;
            margin-right: 20px;
            vertical-align: top;
            margin-bottom: 10px;
        }

        .removable-field {
            margin-bottom: 10px;

            .form-group, .form-unit {
                margin-bottom: 0;
            }
        }

        .control-label {
            margin-right: 20px;
        }

        .controls {
            display: inline-block;
        }

        .radio, .checkbox, .checkbox-standalone, .radio-standalone {
            margin-right: 20px;

            input[type=radio], input[type=checkbox] {
                position: absolute;
            }
        }

        + .form-inline, + .form-group {
            margin-top: $form-group-margin-bottom;
        }

        .control-label.block-label {
            display: block;
            margin-bottom: 5px;
            margin-right: 0;
        }
    }
}
