.form-group.search {
    position: relative;

    &::before {
        position: absolute;
        left: 10px;
        @include fa-icon();
        content: $fa-var-search;
        bottom: ($input-height-base - $font-size-base)/2;
        color: $input-color-placeholder
    }

    .form-control {
        padding-left: 30px;
    }
}
