.footer
  .container-fluid
    .row
      .col-md-7
        %a.footer-logo{href: "/"} Near Me
        %p
          185 Clara St. #102D, 2nd floor
          %br/
          San Francisco 94107
          %br/
        %p 888.998.3375
        %a{href: "mailto:support@near-me.com"} support@near-me.com
        %br/
        %span.copyright © 2014 Near Me

      .col-md-5
        .row
          .col-md-4
            .footer-nav
              %h5 PLATFORM
              %ul
                %li
                  %a{href: "/features-setup"} Features
                %li
                  %a{href: "/clients"} Clients
                %li
                  %a{href: "/faq-page"} FAQ
                %li
                  %a{href: "/#demo"} Request Demo
                %li
                  %a{href: "/privacy-policy"} Privacy Policy

          .col-md-4
            .footer-nav
              %h5 COMPANY
              %ul
                %li
                  %a{href: "/contact"} Contact
                %li
                  %a{href: "/about"} About Us
                %li
                  %a{href: "/advisors"} Advisors
                %li
                  %a{href: "/blog"} Blog
                %li
                  %a{href: "/press-media"} Press & Media
                %li
                  %a{href: "/brand"} Brand
                %li
                  %a{href: "/careers"} Careers

          .col-md-4
            .footer-nav
              %h5 LET’S CONNECT
              %ul
                %li
                  %a{href: "https://twitter.com/NearMeCo"} Twitter
                %li
                  %a{href: "https://www.facebook.com/NearMeCo"} Facebook
                %li
                  %a{href: "https://www.google.com/+Near-me"} Google+
                %li
                  %a{href: "https://www.youtube.com/channel/UC6VSo3LDi0PPKDLhDFM8hPw"} Youtube

.success-message
  .success-message-content
    %h3 WE’LL BE IN TOUCH.
    %p Thank you for your interest, our team will be in contact with you shortly!
