.header
  .container-fluid
    %a.brand{href: "/"} Near Me
    .menu-btn
      %span.glyphicon.glyphicon-align-justify
    .navbar{role: "navigation"}
      %ul.nav.nav-pills
        %li
          %a{href: "/features-setup"} FEATURES
        %li
          %a{href: "/contact"} CONTACT
        %li.active
          %a{href: "/#demo"} REQUEST A DEMO