.header
  .container-fluid
    %a.brand{href: "/"} Near Me  
    .menu-btn
      %span.glyphicon.glyphicon-align-justify
    %span.phone 1.888.998.3375  
    .navbar{role: "navigation"}
      %ul.nav.nav-pills
        %li
          %a{href: "/features-setup"} FEATURES
        %li
          %a{href: "http://blog.near-me.com"} BLOG
        %li.active
          %a{href: "http://get.near-me.com/contact-sales"} TALK TO SALES
