<h3>{{ 'simple_form.labels.company.payout.via_paypal' | translate }}</h3>
<div class="string optional merchant_account_paypal_email">
  <div class="row">
    <div class="col-md-3">
      <label class="string optional control-label" for="merchant_account_paypal_email">Paypal Email</label>
    </div>
    <div class="col-md-9 input-container">
      <input class="string optional" id="merchant_account_data_paypal_email" name="merchant_account[data][email]" placeholder="" type="text" value="{{ merchant_account.data.email}}">
    </div>
  </div>
</div>
