{% unless form_object_owners %}
  {% assign form_object_owners = owners %}
  {% assign owner = owners.object %}
{% endunless %}

<div class='panel nested-fields with-border'>
  {% unless master_owner %}
    <h3>{{ 'dashboard.merchant_account.additional_owners' | translate }}</h3>
  {% endunless %}

  {% input first_name, form: owners, required: true %}
  {% input last_name, form: owners, required: true %}

  <div class='datetimepicker' style='position: relative'>
    {% assign date_format = owner.date_format_readable %}
    {% input dob_formated, form: owners, required: true, input_html-data-date-picker: 'true', input_html-data-date-format: @date_format %}
  </div>

  {% assign count = 0 %}
  {% fields_for attachements, form: owners %}
    {% assign count = count | plus: 1 %}
    {% assign label = "dashboard.merchant_account.photo_id_" | append: count | translate %}
    {% input file, form: attachements, required: true, label: @label %}
  {% endfields_for %}

  {% fields_for current_address, form: owners %}
    <div class='fields location' data-address-field>
      {% input street, form: current_address, required: true %}
      {% input city, form: current_address, required: true %}
      {% input postcode, form: current_address, required: true %}
      {% input state, form: current_address, required: true %}
      {% input country, form: current_address, required: true %}
      {% input raw_address, form: current_address, required: true, input_html-value: true, as: hidden %}
      <div class="map">
        <div class="map-container"></div>
      </div>
    </div>
  {% endfields_for %}

  {% unless stripe_connect_owner_fields_count == 0 %}
    {% assign link_label = 'dashboard.merchant_account.remove_owner' | translate %}
    <div class='pull-right'>
      {% link_to_remove_association label: @link_label, form: owners %}
    </div>
  {% endunless %}
</div>

{% assign stripe_connect_owner_fields_count = stripe_connect_owner_fields_count | plus: 1 %}
