<h2>Hello, {{ lister.name }}</h2>

<p>{{ enquirer.name }} has been working on your project. They have recently submitted time and expense items for your approval.</p>

<p>Click <a href="{{ 'dashboard_order_order_items_path' | generate_url: @order_item.order, transactable_id: @order_item.order.transactable.id }}">here</a> to review time and expense details.</p>
