<h2>Hello, {{ lister.name }}</h2>

<p>{{ enquirer.name }} has been working on your project. They have recently submitted time and expense items for your approval.</p>

<p>Click <a href="{{ order_item.show_url }}">here</a> to review time and expense details.</p>
