- title "Settings"

.row-fluid
  .span8.offset2
    %h1
      %span.ico-settings.padding Settings
    .box
      = simple_form_for [:manage, @company], :html => { class: "form-horizontal form-expandable", :id => 'edit_company' } do |f|
        = render :partial => 'companies/company_form', :locals => { :f => f }
        .actions
          = f.submit "Save Changes"
