- title "Company"

= show_manage_navigation(:company)

.row-fluid
  .span8.offset2
    = simple_form_for [:manage, @company], :html => {multipart: true, class: "form-horizontal form-expandable", :id => 'edit_company' } do |f|
      .box
        = render :partial => 'companies/company_form', :locals => { :f => f }
        .actions
          = f.submit "Save"

:javascript
  $(function() {
    new CompanyForm($('#edit_company'))
  });
