<p>{{ 'buy_sell_market.checkout.order_mailer.shipping_info_for_seller_email.here_is_tracking_code' | translate }}:</p>

<p>{{ shipment.shippo_tracking_number }}</p>

<p>{{ 'buy_sell_market.checkout.order_mailer.shipping_info_for_seller_email.here_is_shippo_label' | translate }}:</p>

<p>{{ shipment.shippo_label_url }}</p>
