= f.input :shipping_profile_id, as: :radio_buttons, collection: dashboard_collection_for_shipping_profiles_radio_buttons(f.object), wrapper: :dashboard_radio_and_checkboxes, checked: f.object.shipping_profile_id || (f.object.persisted? ? 'disabled' : dashboard_collection_for_shipping_profiles_radio_buttons(f.object).first[1])
