<h2>We were not able to import data</h2>

<p>Either the upload file was not correct CSV file or it includes unexpected content which interrupted importing. We were notified about the issue and will fix it if it is the second case.</p>


{% if data_upload.parsing_result_log %}
  <p>
    Encountered validation errors log:
    {{ data_upload.parsing_result_log_html | make_html_safe }}
  </p>
{% endif %}

{% if data_upload.sanitized_encountered_error != blank %}
  <p>
    Encountered errors log:
    {{ data_upload.sanitized_encountered_error | raw_escape_string }}
  </p>
{% endif %}

