.file-manager-info-pane {
  background: #fff;
  padding: 20px;
  margin-top: 20px;

  h2 {
    font-family: $font-stack-default;
    font-weight: normal;
    margin: 0;
  }

  h3 {
    font-weight: normal;
    border-bottom: 1px solid $color-separator;
  }

  .no-file {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .file-type-icon {
    display: inline-block;
    width: 0.71387 * 1.5 * 1em;
    height: 1.5em;
    margin-right: 5px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    vertical-align: middle;
  }

  .selection-actions {
    padding: 0;
    margin: 0 0 20px;
    list-style: none;

    li {
      display: inline-block;
      margin-right: 5px;
    }

    a, button {
      display: inline-block;
      padding: 2px 10px;
      text-transform: uppercase;
      border: none;
      background: #ddd;
      color: $color-primary;
      font-family: $font-stack-alt;
      border-radius: 3px;
      font-size: 12px;
      line-height: 20px;
      text-decoration: none;
      font-weight: 500;

      &:before {
        font-family: FontAwesome;
        margin-right: 5px;
        font-weight: normal;
        font-size: 1em;
        line-height: 20px;
      }
    }
  }

  .properties {
    dt {
      color: #333;
      text-transform: uppercase;
      font-size: .75em;
      font-weight: bold;
    }

    dd {
      margin: 0;

      @include clear;
    }

    dd + dt {
      margin-top: 1em;
    }

    input[readonly] {
      border: none;
      padding: 0 10px;
      font-family: $font-stack-mono;
      font-size: 1em;
      background: rgba(0, 0, 0, 0.05);
      line-height: 2.5;
      color: #333;
      display: inline-block;
      width: calc(100% - 40px);
      float: left;
    }

    .clipboard-copy {
      border: none;
      background: $color-primary;
      border-radius: 0 3px 3px 0;
      color: #fff;
      font-size: 0;
      width: 40px;
      float: right;
      padding: 0;

      &:before {
        font-family: FontAwesome;
        content: $fa-var-clipboard;
        font-size: 18px;
        line-height: 2.22222;
      }
    }
  }

  .preview {
    img {
      display: block;
      margin: 0 auto;
    }
  }

  .file-access {}
}

@import "file_name_edit";
@import "access_level";
