<div class="case-invite-content">
  <header>
    <h2>Invite to case</h2>
    <button type="button" data-close>Cancel</button>
  </header>

  <p>Please <a data-modal="true" data-modal-class="sign-up-modal" data-modal-overlay-close="disabled" data-href="/users/sign_up?return_to={{ current_path }}&amp;role=buyer" href="#"><span>Sign Up</span></a> first</p>

  <div class="actions">
    <button type="button" class="button-b" data-close>Cancel</button>
  </div>
</div>
