<main id="main">
  <div class="container-fluid">
    <div class="listing-a">
      <article class="listing-details">
        {% assign search_result = request_referer | matches: 'search' %}
        {% if search_result %}
          <div class="back-to-results">
            <a href="/search">Back to Case Results</a>
          </div>
        {% endif %}
        {% if current_user == blank %}
          {% if is_xhr_request %}
            {% include 'listings/ask_for_sign_up.html' %}
          {% else %}
            {% include 'listings/show/ask_for_sign_up.html' %}
          {% endif %}
        {% else %}
          {% assign collaborator = current_user | find_collaborator: listing %}
          {% if collaborator.approved_by_owner? or current_user.id == listing.creator_id %}
            {% include 'listings/show/actual.html', transactable: listing %}
          {% else %}
            {% if is_xhr_request %}
              {% include 'listings/ask_for_permission.html', collaborator: collaborator %}
            {% else %}
              {% include 'listings/show/ask_for_permission.html', collaborator: collaborator %}
            {% endif %}
          {% endif %}

        {% endif %}
      </article>
      {% include 'listings/show/side.html' %}
    </div>
  </div>
</main>
