body {
  .alert.success {
    p {
      color: #ffffff;
    }

    background-color: #5dc988;
  }

  .alert.deleted {
    p {
      color: #ffffff;
    }

    background-color: #5dc988;
  }

  .alert.notice {
    p {
      color: #ffffff;
    }

    background-color: #5dc988;
  }

  .alert.error {
    p {
      color: #ffffff;
    }

    background-color: #e85c41;
  }

  .alert.warning {
    p {
      color: #ffffff;
    }

    background-color: #ffc840;
  }
}
