/*====== FORMS ===== */

form input[type="price"], form input[type="password"], form input[type="url"], form input[type="email"], form input[type="number"], form input[type="tel"], .selectpicker , .select2-drop, .select2-container-multi .select2-choices {
  background: #fff;
  border: solid #D4D4D4 1px;
  border-radius: 0;
  width: 100%;
  padding: 5px 10px;
  font-weight: 300;
  font-size: 14px;
}

input[type=checkbox] {
  margin-right: 10px;
}

label {
  vertical-align: top;
  font-weight: 400;
  color: $color-dark-gray;
  font-size: 16px;
 
  &.checkbox {
    margin-left: 20px;
    margin-top: 0;
  }
}

label, .input-container {
  display: inline-block;
}

form input[type="text"], form textarea {
  -webkit-appearance: none;
  background: #fff;
  border: solid #D4D4D4 1px;
  border-radius: 0;
  width: 100%;
  padding: 5px 10px;
  font-weight: 300;
  font-size: 14px;
}

textarea {
  resize:vertical;
}

::-webkit-input-placeholder {
   color: $color-placeholder;
}

:-moz-placeholder { /* Firefox 18- */
   color: $color-placeholder;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $color-placeholder;
}

:-ms-input-placeholder {
   color: $color-placeholder;
}

.field {
  padding: 5px 0;
  margin-bottom: 15px;
}

.input-container p {
  margin-top: 0;
  color: $color-dark-gray;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.radio-label {
  vertical-align: middle;
  margin-left: 30px;
}

.pac-container {
  z-index: 10000;
}

.map-container {
  height: 225px;
  margin-top: 30px;
}

.phone-number-country-code-field {
  position: relative;

  .country-calling-code {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 1px;
    line-height: 29px;
    width: 50px;
    text-align: right;
  }

  input {
    padding-left: 60px !important;
  }
}

.photo-box.no-padding {
  padding: 0;
}

.photo-top-label {
  height: 40px;
  font-weight: bold;
}

.select2-container {
  width:100%;
}

.error {
  input, textarea {
    border: solid #ec8473 1px !important; //TODO remove important here
  }

  .select2-container, .category_tree a {
    border: solid #ec8473 1px !important; //TODO remove important here
    input, textarea {
      border: none !important;
    }

  }


  .bootstrap-select {

    > button {
      border: solid #ec8473 1px !important; //TODO remove important here
    }

    input {
      border: solid #D4D4D4 1px !important;
    }
  }

  .error-block, .help-inline {
    float: right;
    color: #ec8473;
    font-size: 17px;
    padding-right: 15px;
  }

  .customSelect {
    border: solid #ec8473 1px !important;
  }

}

.custom-availability-rules .error-block {
  padding-right: 190px;
}

/* Shippo product form fields */
.product_form_shippo_enabled .row {
  margin-bottom: 0 !important;
}

.shippo_required_fields_row {
  margin-top: 0 !important;


  .dimensions_select_container {
    margin-left: 212px;
    padding-right: 17px;
  }

  .explanation {
    margin-left: 212px;

    .last {
      margin-bottom: 15px;
    }
  }

  .dimensions_element_container {
    margin-left: 198px;

    .first {
        .col-md-3 {
          display: block;
          font-size: 80%;
          float: none;
          width: 140px;
        }

        .col-md-9 {
          display: block;
          float: none;
          width: auto;
        }

        .row {
          margin-top: 12px;
          margin-bottom: 12px;
        }

        width: 70%;
        float: left;
    }

    .last {
      .row {
        .col-md-3 {
          display: block;
          font-size: 80%;
          float: none;
          width: 140px;
        }

        .col-md-9 {
          display: block;
          float: none;
          width: 100%;
        }

        margin-top: 12px;
        margin-bottom: 12px;
      }

      width: 30%;
      float: left;
    }
  }

  &.disabled {
    display: block;
    position: absolute;
    top: -5000px;
    left: -5000px;
  }

  &.enabled {
    display: block;
    position: relative;
  }
}

.modal-body.dimensions-template-container {
   margin-top: 0 !important;

   input {
     margin: 0;
   }

   .btn-toolbar {
     margin: 25px 0 0 0;
   }

  .dimensions_select_container {
    margin-left: 212px;
    padding-right: 17px;
  }

  .explanation {
    margin-left: 212px;

    .last {
      margin-bottom: 15px;
    }
  }

  .dimensions_element_container {
    .first {
        .col-md-3 {
          display: block;
          font-size: 80%;
          float: none;
          width: 140px;
        }

        .col-md-9 {
          display: block;
          float: none;
          width: auto;
        }

        .row {
          margin-top: 12px;
          margin-bottom: 12px;
        }

        width: 80%;
        float: left;
    }

    .last {
      padding-left: 10px;
      .row {
        .col-md-3 {
          display: block;
          font-size: 80%;
          float: none;
          width: 140px;
        }

        .col-md-9 {
          display: block;
          float: none;
          width: 100%;
          select {
            margin: 15px 0 15px 0;
          }
        }

        margin-top: 12px;
        margin-bottom: 12px;
      }

      width: 20%;
      float: left;
    }
  }

  &.disabled {
    display: block;
    position: absolute;
    top: -5000px;
    left: -5000px;
  }

  &.enabled {
    display: block;
    position: relative;
  }
}

.services-dimensions-templates {
   margin-top: 0 !important;

  .dimensions_select_container {
    margin-left: 212px;
    padding-right: 17px;
  }

  @media (min-width: 992px) {
    .dimensions_element_container {
      margin-left: 198px;
    }
  }

  .explanation {
    margin-left: 212px;

    .last {
      margin-bottom: 15px;
    }
  }

  .dimensions_element_container {
    .first {
        .col-md-3 {
          display: block;
          font-size: 80%;
          float: none;
          width: 140px;
        }

        .col-md-9 {
          display: block;
          float: none;
          width: auto;
        }

        .row {
          margin-top: 12px;
          margin-bottom: 12px;
        }

        width: 70%;
        float: left;
    }

    .last {
      .row {
        .col-md-3 {
          display: block;
          font-size: 80%;
          float: none;
          width: 140px;
        }

        .col-md-9 {
          display: block;
          float: none;
          width: 100%;
        }

        margin-top: 12px;
        margin-bottom: 12px;
      }

      width: 30%;
      float: left;
    }
  }

  &.disabled {
    display: block;
    position: absolute;
    top: -5000px;
    left: -5000px;
  }

  &.enabled {
    display: block;
    position: relative;
  }
}

.product_shipping_profile_fields_row {

  &.disabled {
    display: block;
    position: absolute;
    top: -5000px;
    left: -5000px;
  }

  &.enabled {
    display: block;
    position: relative;
  }
}
/* End Shippo product form fields */


/* ====== SHIPPING FIELDS ======= */

#shipping-info {
  &.disabled {
    display: block;
    position: absolute;
    top: -5000px;
    left: -5000px;
  }

  &.enabled {
    display: block;
    position: relative;
  }
}

.remove_shipping_profile, .remove-document-requirement {
  overflow: hidden;

  label {
    float: right;
    color: #e85c41;

    &:hover {
      opacity: 0.5;
    }
  }
}

.shipping_method_block.row {
  margin: 10px 0px 0px 0px;
}

.shipping-form {
  > .no-padding-top {
    margin-top: 0px;
  }
}

.row {
  &.no-padding-top {
    padding-top: 0px;
  }
  &.half-margin {
    margin:15px 0px;
  }
}

/* PRICE */

.price-containter {
  padding: 0px;

  > div:first-child {
    padding-left: 0px;
  }
}

.icui {

  input {
    line-height: normal;
  }

  > .DatePicker:first-child {
    margin-top: 0px;
  }
}

.photo-uploader-hint {
  padding: 5px 0 5px 0;
}

.spaced-helper-text {
  padding: 5px 0 5px 0;
}
