/*===== PAGE HEADER =====*/
.page-banner {
  padding: 90px 0;
  text-align: center;
  background: #5dbded;

  h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
  }
}

.page-wrapper {
  padding: 100px 0;
  margin: 0 auto;

  &.top {
    padding-top: 60px;
  }
}