.fileupload {
  position: relative;

  label.action {
    position: relative;
    width: 100%;
  }

  .uploaded .photo-item {

    .photo-action {
      position: absolute;
      top: 0px;
      right: 0px;

      &.resize-photo {
        top: 22px;

      }
    }

    img {
      margin: 0px;
      max-width: 100%;
      max-height: 100%;
      height: auto;
      width: auto;
    }
  }

  input.browse-file {
    display: block;
    height: 0px;
    width: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    cursor: pointer;
    right: 0px;
  }

  &.single-photo {
    .uploaded {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;

      .photo-item {
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        top: 0px;
        overflow: hidden;
        background: #fff;

      }
    }
  }

  &.multi-photo {
    .photo-item {
      position: relative;
      margin-bottom: 20px;
      margin-right: 20px;
      overflow: hidden;
      display: inline-block;
      padding: 4px;
      border: solid $color-blue 1px;
      .photo-position {
        left: 0px;
        top: 0px;
        position: absolute;
      }
    }

    .active.photo-box {
      padding: 0px;
    }
  }
}

#crop-form {
  position: relative;

  img {
    max-width: 100%;
  }

  .jcrop-holder {

    img {
      max-width: none;
    }
  }
}

.rotate-photo {
  position: absolute;
  z-index: 602;
  right: 0px;
  height: 18px;
}


.photo-upload .col-md-4 {
  padding: 0 5px;
}

.photo-box {
  position: relative;
  padding: 50px 0;
  border: dotted 1px solid #000;
  text-align: center;
  border: dashed 1px $color-light-gray;
  width: 100%;

  &.active {
    background: #def2fc;
    border: solid $color-blue 1px;
  }

  img {
    display: block;
    height: 25px;
    margin: 5px auto;
  }

  input {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.photo-select {
  visibility: hidden;
}

.photo-box.active .photo-select {
  visibility: visible;
}
