section#reviews {
  padding: 0;
  .dash-head {
    a {
      text-transform: uppercase;
    }
  }

  .comment {margin: 20px 0 0 20px;}

  .update-form:last-of-type, .create-form:last-of-type  {
    .review {
      border-bottom: none;
    }
  }

  a.show-details {
    display: block;
    margin-top: 10px;
  }

  .review .row-fluid {
    .span8 {
      float: left;
    }
    .span4 {float: right;}
  }

  .rating {
    margin: 4px 0;
    display: block;
    position: relative;
  }

  .comment-error, .rating-error{
    color: red;
  }

  .thanks {
    border: 3px solid #50bd87;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
    .fa {
      color: #50bd87;
      margin-right: 10px;
    }
  }
  a.edit, a.remove {
    margin-left: 15px;
    cursor: pointer;
  }
  .review a {color: #1C51A2;}
  .review p {margin: 0; line-height: 22px;}
  .review {border-bottom: solid grey 1px; padding: 40px 0;}
  .review-title {
    color: #1C51A2;
    margin-bottom: 25px;
    width: 350px;
    font-size: 26px;
  }

  .order-info {margin-bottom: 20px;}
  .order-info p:nth-child(1) {color: #000;}

  .order-image {display: inline-block; margin-right: 20px;}

  .review-actions {
    display: inline-block;
    vertical-align: top;

    .wrapper {
      position: relative;

      .actions {
        position: absolute;
        top: 10px;
        right: 90px;
      }
    }
  }

  .star {display: inline-block; background-image: url('/assets/ratings/reviews-emptyStar.png'); background-size: cover; background-position: center; height: 30px; width: 30px;}
  .star.filled {background-image: url('/assets/ratings/reviews-star-filled.png');}
  .star:hover {cursor: pointer;}

  .additional-ratings {float: right;}

  .page-tabs { margin-bottom: 40px; border-bottom: 3px solid #E0E1E0;}
  .page-tabs li {display: inline-block; margin-right: 30px; overflow: initial !important; padding-bottom: 10px;}
  .page-tabs li a {color: #6F6E6E; display: inline; padding-bottom: 13px}
  .page-tabs li.active a {color: #1C51A2; border-bottom: 3px solid #1C51A2; }

  .nav-tabs {margin: 0}
  .nav-tabs a {color: #6F6E6E; background: #E0E1E0; padding: 10px 20px !important;}
  .nav-tabs li.active a {color: #1C51A2;}
  .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {border: transparent; border-bottom: 1px solid #FAFAFA;}

  .reviews-additional-content {border: solid #E0E1E0 1px; padding: 15px;}
  .reviews-additional-content .row-fluid {margin-bottom: 15px;}
  .review-submit {
    width: auto;
  }

  .select-label {display: inline-block; margin-right: 30px}
  .select-container {border: solid #E0E1E0 1px; background: #fff; border-radius: 3px; font-size: 14px; padding: 0 10px; display:inline-block}

  @media (max-width: 400px) {
    .reviews-search {margin-bottom: 20px;}
    .page-tabs {clear: both}
    .additional-ratings {float: none;}
  }

}
