---
slug: about-overview
name: About Overview
layout: application
---
<div class="wrapper-a">
    <main>
        <header class="section-header">
            <h1 class="hx-a">About</h1>
            <h2 class="hx-b">Introducing Upside of Talent</h2>
        </header>

        <p>Imagine a global marketplace where subject matter expertise is the most valuable commodity, and it’s always available on-demand.</p>

        <h3>Welcome to Upside of Talent.</h3>

        <p>UoT gives businesses instant access to the world’s best subject matter experts(SMEs). It gives experienced SME’s a powerful community to showcase and market their expertise, whether for hire or pro bono.</p>

        <p>I launched UoT to empower senior professionals and businesses alike with a <a href="https://upsideoftalent.com/business-benefits">more efficient, on-demand consulting model</a> for the digital age.</p>

        <p>If you’re a seasoned expert, UoT gives you the support you need while providing a place to follow your heart and professional passion. Whether you were pushed into early retirement, are eager to give back, or are simply seeking a better work-life balance, UoT gives you the flexibility to work when and how you want, on the projects you want.</p>

        <p>If you’re a business in need of a higher level of expertise, UoT gives you access to a diverse talent pool full of the best experts online — whenever you need them.</p>

        <p>The perfect expertise at the perfect time; that’s the power and purpose of Upside of Talent.</p>

        <p>I invite you to grow with us and achieve your goals with us. Join the SME on-demand <a href="https://upsideoftalent.com/join-our-community-sme">community and marketplace</a> of Upside of Talent.</p>

       <p><img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/ckeditor/picture/data/2848/Jeanne_OKelley.jpg" alt="Photo of Jeanne O'Kelley" width="192" /></p>
        <p>Jeanne O’Kelley, CEO<br> Upside of Talent</p>

        <hr class="sep">

        <h3>Our Vision</h3>
        <p>We strive to be the marketplace of choice for the world’s best <a href="https://upsideoftalent.com/expertise">subject-matter experts online.</a></p>

        <h3>Our Mission</h3>
        <p>To create a vibrant, global marketplace where senior subject-matter experts can share and offer their expertise for hire or pro bono.</p>

        <a href="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/ckeditor/attachment_file/data/3315/UoT_Overview-Final.pdf" class="button-a">To     learn more download our overview!</a>

        <hr class="sep">

        <section class="team-a">
            <header>
                <h1 class="hx-a">A Marketplace For and By Subject Matter Experts</h1>
                <p>The UoT marketplace was created by UoT member subject-matter experts sharing seasoned expertise and a powerful vision for a new on-demand consulting model for the digital age.<p>
            </header>

            <ul class="members">
                <li class="member">
                    <img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/images/user/avatar/31637/big_Lisa_Bailey_bricks.jpg?v=1484174761" alt="Lisa Bailey">
                    <h4>Lisa Bailey</h4>
                    <div class="linkedin"><a href="https://www.linkedin.com/in/lisabaileyco">LinkedIn Profile</a></div>
                </li>

                <li class="member">
                    <img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/ckeditor/picture/data/2895/Joe_Sampson.jpg" alt="Joe Sampson">
                    <h4>Joe Sampson</h4>
                    <div class="linkedin"><a href="https://www.linkedin.com/in/joe-sampson-aa1a4a1">LinkedIn Profile</a></div>
                </li>

                <li class="member">
                    <img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/ckeditor/picture/data/2892/Edward_Thompson.jpg" alt="Edward Thompson">
                    <h4>Edward Thompson</h4>
                    <div class="linkedin"><a href="https://www.linkedin.com/in/edward-thompson-8247966">LinkedIn Profile</a></div>
                </li>

                <li class="member">
                    <img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/ckeditor/picture/data/2896/Jon_Hopkins.jpg" alt="Jon Hopkins">
                    <h4>Jon Hopkins</h4>
                    <div class="linkedin"><a href="https://www.linkedin.com/in/jon-hopkins-6b6925">LinkedIn Profile</a></div>
                </li>

                <li class="member">
                    <img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/ckeditor/picture/data/2903/George_Cross.jpg" alt="George Cross">
                    <h4>George Cross</h4>
                    <div class="linkedin"><a href="https://www.linkedin.com/in/george-cross-b42789">LinkedIn Profile</a></div>
                </li>

                <li class="member">
                    <img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/ckeditor/picture/data/2890/Cesar_Keller.jpg" alt="Cesar Keller">
                    <h4>Cesar Keller</h4>
                    <div class="linkedin"><a href="https://www.linkedin.com/in/cesarkeller">LinkedIn Profile</a></div>
                </li>

                <li class="member">
                    <img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/ckeditor/picture/data/2901/RT_Radanovic.jpg" alt="RT Radanovic">
                    <h4>RT Radanovic</h4>
                    <div class="linkedin"><a href="https://www.linkedin.com/in/radanovic">LinkedIn Profile</a></div>
                </li>

                <li class="member">
                    <img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/ckeditor/picture/data/2888/Adam_Broadway.jpg" alt="Adam Broadway">
                    <h4>Adam Broadway</h4>
                    <div class="linkedin"><a href="https://www.linkedin.com/in/abroadway">LinkedIn Profile</a></div>
                </li>

                <li class="member">
                    <img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/ckeditor/picture/data/2891/Dan_Pilone.jpg" alt="Dan Pilone">
                    <h4>Dan Pilone</h4>
                    <div class="linkedin"><a href="https://www.linkedin.com/in/danpilone">LinkedIn Profile</a></div>
                </li>

                <li class="member">
                    <img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/ckeditor/picture/data/2902/Ryan_Abbott.jpg" alt="Ryan Abbott">
                    <h4>Ryan Abbott</h4>
                    <div class="linkedin"><a href="https://www.linkedin.com/in/abbottry">LinkedIn Profile</a></div>
                </li>

                <li class="member">
                    <img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/ckeditor/picture/data/2898/Kevin_Cleary.jpg" alt="Kevin Cleary">
                    <h4>Kevin Cleary</h4>
                    <div class="linkedin"><a href="https://www.linkedin.com/in/writemessage">LinkedIn Profile</a></div>
                </li>

                <li class="member">
                    <img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/ckeditor/picture/data/2893/George_DeVaux.jpg" alt="George DeVaux">
                    <h4>George DeVaux</h4>
                    <div class="linkedin"><a href="https://www.linkedin.com/in/george-devaux-1859a83">LinkedIn Profile</a></div>
                </li>

                <li class="member">
                    <img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/ckeditor/picture/data/2889/Athur_Sinai.jpg" alt="Athur Sinai">
                    <h4>Athur Sinai</h4>
                    <div class="linkedin"><a href="https://www.linkedin.com/in/athursinai">LinkedIn Profile</a></div>
                </li>

                <li class="member">
                    <img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/ckeditor/picture/data/2897/Jonathan_Frieden.jpg" alt="Jonathan Frieden">
                    <h4>Jonathan Frieden</h4>
                    <div class="linkedin"><a href="https://www.linkedin.com/in/jonathanfrieden">LinkedIn Profile</a></div>
                </li>

                <li class="member">
                    <img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/ckeditor/picture/data/2894/Joe_Romagnoli.jpg" alt="Joe Romagnoli">
                    <h4>Joe Romagnoli</h4>
                    <div class="linkedin"><a href="https://www.linkedin.com/in/joe-romagnoli-cpa-abv-cva-318741b">LinkedIn Profile</a></div>
                </li>

                <li class="member">
                    <img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/ckeditor/picture/data/2900/Marshall_Mandell.jpg" alt="Marshall Mandell">
                    <h4>Marshall Mandell</h4>
                    <div class="linkedin"><a href="https://www.linkedin.com/in/marshall-mandell-3b0aa115">LinkedIn Profile</a></div>
                </li>
            </ul>
        </section>

        <hr class="sep">

        <section class="team-c">
            <header>
                <h1 class="hx-a">Introducing the new Upside of Talent Interns!</h1>
                <p>These bright young individuals have been brought into the UoT marketplace with high hopes that they too will become Subject Matter Experts.<p>
            </header>

            <ul>
                <li class="interns ">
                    <img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/images/user/avatar/32820/big_IMG_8753.JPG?v=1476152314" alt="Vy-Anh Nguyen">
                    <h4>Vy-Anh Nguyen</h4>
                    <div class="linkedin"><a href="https://www.linkedin.com/in/vy-anh-nguyen-92b66712a">LinkedIn Profile</a></div>
                </li>
                <li class="interns">
                    <img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/images/user/avatar/32164/big_pic.jpg?v=1474746483" alt="Bruce Toulon">
                    <h4>Bruce Toulon</h4>
                    <div class="linkedin"><a href="https://www.linkedin.com/in/bruce-toulon-501263114">LinkedIn Profile</a></div>
                </li>
                <li class="interns">
                    <img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/images/user/avatar/32245/big_image.jpeg?v=1474910655" alt="Taralyn Heard">
                    <h4>Taralyn Heard</h4>
                    <div class="linkedin"><a href="https://www.linkedin.com/in/taralyn-heard-554178127">LinkedIn Profile</a></div>
                </li>
                <li class="interns">
                    <img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/images/user/avatar/33011/big_CROPPED-DSC_0668.jpg?v=1477342136" alt="Mahder Kebede">
                    <h4>Mahder Kebede</h4>
                    <div class="linkedin"><a href="https://www.linkedin.com/in/mahderkebede">LinkedIn Profile</a></div>
                </li>
                <li class="interns">
                    <img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/images/user/avatar/32710/big_cbutler_selfpic.jpg?v=1476033315" alt="Christopher Butler">
                    <h4>Christopher Butler</h4>
                    <div class="linkedin"><a href="https://www.linkedin.com/in/chris-butler-76138a107">LinkedIn Profile</a></div>
                </li>
                <li class="interns">
                    <img src="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/images/user/avatar/33207/big_Justin_Headshot.jpg?v=1476922484" alt="Justin Cross">
                    <h4>Justin Cross</h4>
                    <div class="linkedin"><a href="">LinkedIn Profile</a></div>
                </li>
            </ul>
        </section>

    </main>
</div>
