---
slug: document-downloads
name: Document Downloads
layout: application
---
<div class="wrapper-a">
    <div class="register-splash">
		<h1>Download Center</h1>
		<h2>Download the Documents You Need</h2>
    </div>
	<p>Click a document below to open or download</p>
	<p>
	<a href="https://d2rw3as29v290b.cloudfront.net/instances/195/uploads/ckeditor/attachment_file/data/2970/UoT_SME_FAQ_Aug_2016.pdf" target="_self">
	Subject Matter Expert (SME) Frequently Asked Questions (FAQ)</a></p>
</div>
