---
slug: "/join-update"
name: Subject Matter Experts
layout: application
---
<div class="container">
	<div style="width: 450px" class="formatstyle ">
		<p><img style="width: 450px;" src="https://upsideoftalent.sharepoint.com/UoT%20Operations%20Team/_layouts/15/guestaccess.aspx?guestaccesstoken=n8p97oqd4VIVIff2fvrrW3aWq7ifwSStfVLpulvY5Nw%3d&docid=014133cad673043d08e3c5801a9e2ba51&rev=1"></p>
	</div>
	<div style="width: 710px" class="formatstyle ">
	<h1>Your Proven Expertise Is In Demand</h1>
	<h3><i>Let clients and projects find you fast on Upside of Talent</i></h3>
	<p></p>
	<p></p>
	<p><b>If You’re A Seasoned Subject Matter Expert, We’re A Community Just For You.</b></p>
	<p>Are you looking to start your next career or extend your current one? 
	Are you seeking projects that challenge you and stimulate you? 
	Are you turned off by the headaches of running your own business but turned on by the 
	chance to still make a difference professionally? 
	Upside of Talent is a community just for you.</p>
	<form action="https://upsideoftalent.com/join-our-community-sme">
                <button action="https://upsideoftalent.com/join-our-community-sme" name="UoT">
                Join the UoT Community!</button>
        </form>
	<p></p>
	<p><b>UoT Is A Different Kind Of Community Where Experience Matters.</b></p>
	<p>We’re a community developed by senior experts for senior experts. 
	In fact, our members average 20+ years of experience. 
	Our unique professional community gives you all the advantages you need 
	to succeed and grow in your “second act” consulting career:
	<ul>
		<li>
		Let clients find you instead of you finding them.
		</li>
		<li>
		Be marketed as a trusted advisor to small and medium size companies.
		</li>
		<li>
		Benefit from operational support without the hassles of running your own business.
		</li>
		<li>
		Thrive in a growing network of likeminded professionals 
		who can support and guide you through your next professional chapter.
		</li>
	</ul>
	<form action="https://upsideoftalent.com/join-our-community-sme">
                        <button name="Start">
		         Get Started Now</button>
        </form>
        <p></p>
	<p><b>Work On The Projects You Want, When You Want.</b></p>
	<p>UoT opens up a world of consulting possibilities for you. 
	It gives you the perfect platform to showcase your expertise for hire or pro bono. 
	And it gives you more ways and opportunities to use your proven know-how on your terms 
	for projects anywhere, anytime.</p>
	<form action="https://upsideoftalent.com/join-our-community-sme">
                        <button name="Find">
		         Let Projects Find You</button>
        </form>
	<p></p>
	<p><b>Why More Senior Experts Like You Are Joining UoT:</b>
	<ul>
		<li>
		To work longer and stay connected professionally.
		</li>
		<li>
		To consult without the business and entrepreneurial hassles.
		</li>
		<li>
		To gain more work/life flexibility.
		</li>
		<li>
		To share their knowledge with nonprofits and small businesses who inspire them.
		</li>
		<li>
		To raise their professional profiles for projects and contacts.
		</li>
	</ul>
	<form action="https://upsideoftalent.com/join-our-community-sme">
                        <button name="Join">
		         Join Your Peers on UoT</button>
        </form>
	</p>
        <p></p>
	</div>
</div>
