.row-fluid
  .span8.offset2
    %h1
      %span.ico-location.padding
        Manage Locations
    %section.locations-holder
      %section.locations-area
        = yield

- content_for :script do
  :javascript
    $(function() {
      new Dashboard.Controller($('section.locations-holder'))
    });

