= show_manage_navigation(:locations)

.row-fluid
  .span8.offset2
    %h1.manage-locations-home-link
      - if params[:action] == 'index'
        .actions.right
          %ul.locations
            %li.listing.new-location
              .links
                = link_to new_manage_location_path, :class => "btn btn-blue btn-medium" do
                  %span.icon.ico-add-location
                  %span.text
                    New Location

.row-fluid
  .span8.offset2
    %div{:class => (params[:action] == 'index') ? '' : 'box'}
      %ul.locations
        = yield

- content_for :script do
  :javascript
    $(function() {
      new Dashboard.Controller($('section.dashboard'))
    });

