.row-fluid
  .span8.offset2
    %h1.manage-locations-home-link
      = link_to manage_locations_path, :class => 'dashboard-home-link' do
        %span.ico-location.padding
          Manage Locations
      - if params[:action] == 'index'
        .actions.right
          %ul.locations
            %li.listing.new-location
              = link_to new_manage_location_path, :class => "btn btn-blue btn-medium ico-plus" do
                %span
                  New Location

.row-fluid
  .span8.offset2
    %div{:class => (params[:action] == 'index') ? '' : 'box'}
      %ul.locations
        = yield

      

- content_for :script do
  :javascript
    $(function() {
      new Dashboard.Controller($('section.dashboard'))
    });

