%header.listing
  %div.padding.listing-header
    %span.ico-desk.entity-icon
    %span.entity-name
      = listing.persisted? ? listing.name : 'New Listing'
    - if editable && listing.persisted?
      %span.ico-edit.right
