%header.location
  %div.padding.location-header
    %span.ico-location.entity-icon
    %span.entity-name
      = location.persisted? ? location.name : 'New Location'
    - if editable && location.persisted?
      %span.ico-edit.right 

    - if location.persisted?
      = link_to location_path(location) do
        %span.ico-open-link
