.mobile-nav
  .mobile-nav-head{"data-target" => "#mobile-nav-list", "data-toggle" => "collapse"}
    %p TODO ADD LINKS WHEN LEFT MENU READY
    = image_tag 'themes/orders_theme/hamburger.png'
  %ul#mobile-nav-list.nav.collapse
    %li
      %a{:href => "#"} My Orders
    %li
      %a{:href => "#"} Messages
    %li
      %a{:href => "#"} Shop Details
    %li.active
      %a{:href => "#"} Listings
    %li
      %a{:href => "#"} Payout
    %li
      %a{:href => "#"} Payment
    %li
      %a{:href => "#"} Orders Received
    %li
      %a{:href => "#"} Shipping Methods
    %li
      %a{:href => "#"} Blog
    %li
      %a{:href => "#"} Analytics
    %li
      %a{:href => "#"} Manage Admins
    %li
      %a{:href => "#"} Waiver Agreements
    %li
      %a{:href => "#"} White-Label
    %li
      %a{:href => "#"} Edit Profile
    %li
      %a{:href => "#"} Trust &amp; Verfication
    %li
      %a{:href => "#"} Notification Preferences