.mobile-nav
  .mobile-nav-head{"data-target" => "#mobile-nav-list", "data-toggle" => "collapse"}
    %p Orders Received
    = image_tag 'themes/orders_theme/hamburger.png'
  %ul#mobile-nav-list.nav.collapse
    = render 'manage/layout/menu'
