= show_manage_navigation(:users)

.row-fluid
  .span8.offset2
    %div{:class => (params[:action] == 'index') ? '' : 'box'}
      %ul.locations
        = yield

      

- content_for :script do
  :javascript
    $(function() {
      new Dashboard.Controller($('section.dashboard'))
    });
