%li.listing.action-buttons
  .span8
    = shipping_category.name
  .span3
    .links.right
      = link_to manage_buy_sell_shipping_category_path(shipping_category), :method => :delete, :confirm => 'Are you sure?', :class => "delete", style: 'padding-top: 0px;' do
        %span.ico-trash
        %span.text Delete

      = link_to edit_manage_buy_sell_shipping_category_path(shipping_category), :class => "delete", style: 'padding: 0 0 0 10px;' do
        %span.icon.ico-edit
        %span.text Edit
  .clearfix
