- title t("manage.buy_sell.shipping_categories.edit_title")

= show_manage_navigation(:configuration, :shipping_categories)

.row-fluid
  .span8.offset2
    .box
      %ul.location-and-listings
        %li.location
          .name.left
            =t("manage.buy_sell.shipping_categories.edit_header")

      = simple_form_for [:manage, :buy_sell, @shipping_category], :html => {multipart: true, class: "form-horizontal form-expandable" } do |f|

        = render 'form', f: f

        .actions
          = f.submit "Save"
