%header
  %h2== Image successfully cropped/rotated
%p.text-center{:style => 'margin: 40px 0px;'}
  Your changes will be applied within a few minutes.
.actions.text-center
  = link_to '#', :class => 'btn btn-large btn-green close-modal ' do
    %span.ico-check.padding Continue

