@mixin form-field {

  width: 100%;
  @include box-sizing(border-box);
  margin: 0;
  margin-bottom: 8px;
  padding: 8px 8px 8px 8px;
  background: $gray2;
  border: 2px solid $gray2;
  @include border-radius($border-radius);
  color: $gray8;
  font-size: 22px;
  line-height: 29px;
  @include transition(border .2s ease-in, opacity .2s ease-in, color .2s ease-in);

  &:focus {
    @include form-field-focus;
  }

  @include icon-form;    
}

@mixin form-field-focus {

  background: $gray1;
  border: 2px solid $gray7;
  color: $gray9;
  outline: none;
}


@mixin icon-form {

  .email-holder,
  .password-holder,
  .name-holder {
    position: relative;
    width: 100%;

    input {
      padding-left: 32px;

      &:focus {
        
        + span {
          color: $icon-hover
        }
      }
    }

    span {
      position: absolute;
      top: 11px;
      left: 8px;
      color: $icon;
    }
  }
}  