// Colors

$dnm_blue:   rgb(2,79,163);
$dnm_purple: #91529c;
$dnm_red:    #e83d33;
$dnm_orange: #FF8D00;
$dnm_green:  #157A49;
$dnm_grey:   #394449;
$dnm_gray:   $dnm_grey;
$dnm_black:  #1e2222;
$dnm_white: rgb(250,250,250);

$blue:   #1F539F;
$purple: #91529c;
$red:    #e83d33;
$green:  #0A7355;
$orange:  #E59100;
$grey:   #394449;
$gray:   $grey;
$light-gray: #E2E2E2;
$dark-gray: rgb(80,80,80);
$black:  #1e2222;

$gray1: rgb(240,240,240);
$gray2: rgb(230,230,230);
$gray3: rgb(220,220,220);
$gray4: rgb(210,210,210);
$gray5: rgb(160,160,160);
$gray6: rgb(120,120,120);
$gray7: rgb(80,80,80);
$gray8: rgb(60,60,60);
$gray9: rgb(40,40,40);

$link-color: $dnm_blue;
$link_hover: darken($dnm_blue, 10%);
$icon: $gray5;
$icon-hover: $gray7;


// Border Radius

$border-radius: 12px;
$border-radius-mobile: 6px;


// Padding

$padding: 15px;


// Webfonts

$font-light: 'Futura-regular', sans-serif;
$font-regular: 'Futura-regular', sans-serif;
$font-medium: 'Futura-medium', sans-serif;
$font-demi: 'Futura-demi', sans-serif;
$font-heavy: 'Futura-heavy', sans-serif;
$font-bold: 'Futura-heavy', sans-serif;


// Z index

$modal-z-index: 1000;
$nav-z-index: $modal-z-index - 2; // -1 is overlay, so it must be lower than overlay, that's why -2
$absolute-top-z-index: 9000;


// Breakpoints

$iphone-landscape: 480px;
$booking-module-breakpoint: 580px;
$booking-module-breakpoint-desktop: 900px;


// Booking Module

$listing-photo-width: 410px;
$listing-photo-height: 254px;
$booking-module-height: $listing-photo-height;
$booking-module-width: 280px;
$listing-header-height: 58px;

// IE support

$legacy-support-for-ie8: true;


