// Global Variables

// Typography

$font-light:   'Futura-regular', sans-serif;
$font-regular: 'Futura-regular', sans-serif;
$font-medium:  'Futura-medium', sans-serif;
$font-demi:    'Futura-demi', sans-serif;
$font-heavy:   'Futura-heavy', sans-serif;
$font-bold:    'Futura-heavy', sans-serif;

// Colors

$dnm_blue:   #024FA3;
$dnm_red:    #e83d33;
$dnm_orange: #FF8D00;
$dnm_green:  #157A49;
$dnm_black:  #1e2222;
$dnm_white:  #FAFAFA;

$blue:       $dnm_blue;
$red:        $dnm_red;
$green:      $dnm_green;
$orange:     $dnm_orange;
$black:      $dnm_black;
$white:      $dnm_white;

$gray1:      rgb(240,240,240);
$gray2:      rgb(230,230,230);
$gray3:      rgb(220,220,220);
$gray4:      rgb(210,210,210);
$gray5:      rgb(160,160,160);
$gray6:      rgb(120,120,120);
$gray7:      rgb(80,80,80);
$gray8:      rgb(60,60,60);
$gray9:      rgb(40,40,40);

$link-color: $blue;
$link_hover: darken($blue, 10%);
$icon: $gray5;
$icon-hover: $gray7;

$checkbox-radio-color: $blue;
$checkbox-radio-neutral: $gray3;


// Transitions

$navigation-animation-time: 0.1s;
$checkbox-radio-transition: 0.1s;

// Border Radius

$border-radius: 12px;
$border-radius-mobile: 6px;


// Padding

$padding: 15px;


// Z index

$modal-z-index: 1000;
$nav-z-index: $modal-z-index - 2; // -1 is overlay, so it must be lower than overlay, that's why -2
$flash-z-index: $nav-z-index - 1;
$absolute-top-z-index: 9000;


// Breakpoints

$iphone-portrait: 320px;
$iphone-landscape: 480px;
$booking-module-breakpoint: 580px;
$booking-module-breakpoint-desktop: 900px;


// Booking Module

$listing-photo-width: 410px;
$listing-photo-height: 254px;
$booking-module-height: $listing-photo-height;
$booking-module-width: 280px;
$listing-header-height: 58px;

// IE support

$legacy-support-for-ie8: true;


