.intro
  %h1 NEW MARKETPLACE

.main
  .container
    .row
      .content.col-md-12{style: "min-height: 320px;"}
        .section-head.text-center
          Please enter your pre-approved email address:
        %br
        .row
          .section.col-sm-6.col-sm-offset-3
            = simple_form_for :instance_creator, :url => '/new' do |f|
              = f.text_field :email, size: 40, class: 'form-control'
              %br
              = f.submit "Submit", class: 'btn btn-primary pull-right'

        .section.text-center
          = 'If you\'d like to be approved to create a marketplace, please <a href="/contact">contact us</a>.'.html_safe
