- title t('dashboard.nav.users')

.dash-page
  .dash-head.clearfix
    %p= t('dashboard.nav.users')
    = link_to '#', data: { modal: true, href: new_dashboard_company_user_path }, class: "dash-head-btn" do
      .btn.blue{:role => "button"} Add Admin
  .dash-body
    #users-list.table-responsive
      %table.table
        %thead
          %tr
            %th Name
            %th Email
            %th Actions
        %tbody
          = render @users
