.customizations-fields-wrapper
  %h3= custom_model.translated_bookable_noun(2)
  .customizations.nested-fields-set
    = f.simple_fields_for :customizations, f.object.customizations.sort_by { |c| c.created_at || 1.day.from_now } do |customization_form|
      - if customization_form.object.custom_model_type == custom_model
        .nested-container
          = render 'dashboard/company/transactables/form_fields/customization', f: customization_form, custom_model: custom_model
    .add-link
      = link_to_add_association t('dashboard.transactables.add_new_item') , f, :customizations, partial: 'dashboard/company/transactables/form_fields/customization', render_options: { locals: { custom_model: custom_model, show_hr: true } }, class: 'btn btn-primary'
