- if only_inputs.include?(:name)
  = f.input :name
- else
  - if only_inputs.empty? || only_inputs.include?(:first_name)
    = f.input :first_name, input_html: { value: f.object.first_name }
  - if only_inputs.empty? || only_inputs.include?(:middle_name)
    = f.input :middle_name, input_html: { value: f.object.middle_name }
  - if only_inputs.empty? || only_inputs.include?(:last_name)
    = f.input :last_name, input_html: { value: f.object.last_name }
