#intro-video {

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1100;
    transition: opacity .5s ease;
    opacity: 1;
    margin: 0;

    &.inactive {
        opacity: 0;
        pointer-events: none;
    }

    .no-csspointerevents &.inactive {
        display: none;
    }

    &:before {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1110;
        content: "";
        background: rgba(0,0,0,0.7);
    }

    .intro-video-wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        max-width: 1024px;
        transform: translate(-50%, -50%);
        z-index: 1120;
        margin: 0;

        &:before {
            display: block;
            content: "";
            width: 100%;
            padding-top: 56.25%;
        }

        iframe {
            display: block;
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 100%;
            margin: 0;
        }
    }
}

#intro-video-toggler {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #2071B9;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 20px 100px 50px;
    transform: rotate(45deg) translate(-35%, 100%);
    transform-origin: center bottom;
    text-transform: uppercase;

    span {
        display: block;
    }

    @media (max-width: 600px) {
        transform: rotate(45deg) translate(-35%, 100%) scale(0.75);
    }
}
