.hero-unit
  %h1 Welcome to the Admin

  %p
    This is a work in progress, we can add features to the Admin dashboard as needed.

%p
  In future, we can put any interesting dashboard lists or stats here...

