body.product-theme {
  margin: 0;
  background: #f2f2f2;

  header .container-fluid {
    width: 60%;
  }

  /*===== GENERAL STYLES =====*/
  p {
    color: #555555;
  }

  h1 {
    font-size: 40px;
  }

  a {
    color: #5dbded;
  }

  p, h1, h2, h3, h4, h5, a, label, td {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
  }

  h1, h2, h3, h4, h5 {
    color: #3a3a3a;
    font-weight: 600;
  }

  .inline {
    display: inline-block;
  }

  .page-wrapper {
    width: 60%;
    padding: 60px 0;
    margin: 0 auto;
  }

  .customSelect {
    border: solid #D4D4D4 1px;
    background:#fff asset-url('themes/product_theme/arrow-down.png') right no-repeat;
    width: 100%;
    padding: 5px 0 5px 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
  }

  /*===== BUTTONS =====*/

  .btn {
    text-align: center;
    padding: 6px 20px;
    font-weight: 300;
    font-size: 14px;
  }

  .btn.gray {
    background: #6d6d6d;
  }

  .btn.blue {
    background: #5dbded;
  }

  .submit-bar {
    text-align: center;
  }

  .submit-bar .btn {
    width: 30%;
  }

  .dash-head-btn {
    float: right;
  }

  /*===== NAV =====*/
  nav {
    padding-top: 45px;
  }

  nav li a, .mobile-nav .nav li a {
    color: #555;
    font-size: 14px;
  }

  nav li a {
    padding-left: 10px;
  }

  nav li.active, .mobile-nav .nav li.active {
    background: #5dbded;
  }

  nav li.active a, .mobile-nav .nav li.active a {
    color: #fff;
  }

  .mobile-nav {
    display: none;
  }

  .mobile-nav .nav {
    background: #fff;
  }

  .mobile-nav ul {
    margin: 0;
  }

  .mobile-nav ul li a {
    padding-left: 50px;
  }

  .mobile-nav-head {
    background: #b6b6b6;
    padding: 5px 15px;
  }

  .mobile-nav-head p {
    display: inline-block;
  }

  .mobile-nav-head img {
    float: right;
    margin-top: 5px;
  }

  /*===== DASHBOARD =====*/
  .dash-head {
    padding: 10px 40px;
    background: #dadada;
  }

  .dash-head p {
    display: inline-block;
  }

  .dash-page {
    margin-top: 50px
  }

  .dash-body {
    background: #fff;
    padding: 20px 50px;
  }

  .new-profile {
    padding-top: 30px;
  }

  .new-profile.empty {
    text-align: center;
  }

  .new-profile p, .new-profile a {
    font-size: 14px;
    vertical-align: top;
  }

  .delete {
    color: #e85c41;
    float: right;
    font-size: 14px;
  }

  /*===== DASH SUB NAV =====*/
  .dash-sub-nav {
    border-bottom: solid #f2f2f2 2px;
    margin: 30px 0;
  }

  .dash-sub-nav ul li {
    display: inline-block;
    margin-right: 20px;
    padding: 0 20px;
  }

  .dash-sub-nav ul li.active {
    background: #f2f2f2;
  }

  .dash-sub-nav ul li a {
    font-size: 14px;
    color: #555;
  }

  /*===== LISTINGS =====*/
  .listings-header {
    border-bottom: solid #f2f2f2 1px;
  }

  .dash-body .listings-header .row-fluid {
    margin: 0;
  }

  .listings-header p {
    font-size: 14px;
  }

  .dash-body .row-fluid {
    margin: 20px 0;
  }

  .listing-img img {
    width: 100px;
  }

  .listing-attr a, .listing-attr p {
    display: block;
    margin-top: 30px;
    font-size: 14px;
  }

  /*====== FORMS ===== */
  label, .input-container {
    display: inline-block;
  }

  label {
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #555555;
    font-size: 16px;
  }

  form input[type="text"], form textarea, ul.select2-choices, .select2-drop  {
    background: #fff;
    border: solid #D4D4D4 1px;
    border-radius: 0;
    width: 100%;
    padding: 5px 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
  }

  ::-webkit-input-placeholder {
     color: #cccccc;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: #cccccc;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: #cccccc;
  }

  :-ms-input-placeholder {  
     color: #cccccc;
  }

  .field {
    padding: 5px 0;
    margin-bottom: 15px;
  }

  .input-container p {
    margin-top: 0;
    color: #555555;
    font-size: 14px;
  }

  .photo-box {
    padding: 50px 0;
    border: dotted 1px solid black;
    text-align: center;
    border: dashed 1px gray;
    width: 100%;
  }

  .photo-select {
    visibility: hidden;
  }

  .photo-box.active {
    background: #def2fc;
    border: solid #5bdbed 1px;
  }

  .photo-box.active .photo-select {
    visibility: visible;
  }

  .photo-box img {
    display: block;
    margin: 0 auto;
  }

  .photo-box input {
    display: none;
  }

  .photo-box:hover {
    cursor: pointer;
  }

  /*===== MEDIA QUERIES =====*/

  @media (max-width: 1000px) {
    .dash-body {
      padding: 20px 30px;
    }

    .page-wrapper {
      width: 90%;
    }

    .delete {
      float: none;
      margin-bottom: 20px;
    }

    .dash-head p, .dash-head a {
      font-size: 12px;
    }
  }

  @media (max-width: 900px) {
    .dash-page {
      margin-top: 5px
    }
    .row-fluid .page-navigation {
      display: none !important;
    }

    .row-fluid .page-content {
      width: 100%;
    }

    .mobile-nav {
      display: block;
    }
  }

  @media (max-width: 767px) {
    .dash-sub-nav ul li {
      padding: 0 10px;
    }

    .listings-header {
      display: none;
    }

    .listings .row-fluid {
      margin-bottom: 40px;
    }

    .listing-attr a, .listing-attr p {
      margin: 0;
    }

    .dash-head-btn {
      float: none;
      display: block;
    }

    .submit-bar .btn {
      width: 100%;
      margin: 10px 0;
    }
  }
}