body.product-theme {

  margin: 0;
  background: #fff;

  header {
    height: 60px;
    background: black;
  }

  /*===== GENERAL STYLES =====*/
  form {
    width: 100%;
  }

  p, td {
    color: #555555;
  }

  p, h1, h2, h3, h4, h5, a, label, td {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
  }

  h1, h2, h3, h4, h5 {
    color: #3a3a3a;
    font-weight: 600;
  }

  h1 {
    font-size: 40px;
  }

  td {
    font-size: 16px;
    font-weight: 300;
  }

  td.country-price {
    padding-left: 20px;
  }

  section {
    padding: 40px 0;
  }

  section .container-fluid {
    width: 58%;
    margin: 0 auto;
    padding: 0;
  }

  .inline {
    display: inline-block;
  }

  .divider {
    border-top: solid #CACBD3 1px;
  }

  /*===== BUTTONS AND INPUTS =====*/

  .btn {
    width: 100%;
    padding: 7px 0;
    border-radius: 0;
    text-align: center;
    font-size: 16px;
    vertical-align: top;
    cursor: pointer;
  }

  .btn.blue {
    background: #5dbded;
    color: #fff;
  }

  .btn.gray {
    background: #f4f4f4;
    color: #555555;
  }

  .btn.disabled {
    background: #b6b6b6;
    color: #fff;
  }

  .customSelect {
    background: #fff image-url('themes/product_theme/arrow.png') right no-repeat;
    border: solid #D4D4D4 1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding: 0 5px;
    width: 60px;

  }

  .padding11 {
    padding: 11px 0;
  }

  /*===== PRODUCT IMAGES =====*/

  .product-img-large img {
    width: 100%;
  }

  .product-thumbnail {
    width: 100%;
  }

  .thumbnail-row {
    margin-top: 20px;
  }

  .thumbnail-row img {
    margin-right: 17px;
    width: 100px;
  }

  /*===== PRODUCT PRICE AND RATING =====*/

  .product-rating {
    margin-top: 35px;
  }

  .rating p {
    display: inline-block;
    margin-right: 25px;
    font-weight: 300;
  }

  .product-head label {
    font-weight: 300;
    margin-right: 10px;
  }

  .product-head {
    .btn.blue {
      margin-top: 30px;
    }

    .btn.disabled {
      margin-top: 30px;
    }
  }

  /*===== SOCIAL =====*/

  .social-wrapper {
    border: solid #f4f4f4 1px;
    padding: 20px;
    margin-top: 40px;
  }

  .social-wrapper .btn.gray {
    margin-bottom: 15px;
  }

  .social-wrapper .social-icon {
    margin-right: 3px;
  }

  /*===== TABS AND TABBED CONTENT =====*/
  .product-details {
    background: #f4f4f4;
  }

  .tab-content-container {
    float: left;
    width: 60%;
    border-bottom: solid #D5D5D5 2px;
  }

  .nav {
    margin: 0;
  }

  .nav-tabs li a:hover {
    background: transparent;
    border: solid transparent 1px;
  }

  .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    background: #fff !important;
    border: solid transparent 1px;
  }

  .nav-tabs li a {
    color: #3a3a3a;
    padding: 22px 25px;
    font-weight: 600;
  }

  .tab-content article {
    background: #fff;
    padding: 30px 40px;
  }

  .tab-content article p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 25px;
  }

  /*===== VENDOR PROFILE =====*/

  .vendor-profile {
    padding: 30px 40px;
    background: #fff;
    border-bottom: solid #D5D5D5 2px;
    width: 29%;
    vertical-align: top;
    float: right;
    margin-top: 50px;
  }

  .vendor-info {
    vertical-align: top;
    padding: 25px 15px;
  }

  .vendor-info p {
    font-size: 14px;
    font-weight: 300;
  }

  .vendor-pic {
    width: 100px;
    display: inline-block;
  }

  .verifications .row-fluid {
    margin: 15px 0;
  }

  .verifications p {
    display: inline-block;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
  }

  .vendor-profile .tn {
    margin: 15px 0 30px 0;
  }

  .vendor-rating {
    margin: 15px 0 30px 0;
  }

  .vendor-rating a {
    color: #5dbded;
    font-size: 14px;
    vertical-align: top;
    padding-left: 5px;
  }

  /*===== REVIEWS =====*/
  .reviews-summary {
    margin-bottom: 20px;
  }

  .rating-averages {
    margin-bottom: 35px;
  }

  #product-reviews p {
    font-size: 14px;
    margin: 0;
  }

  .review {
    border-top: solid #CACBD3 1px;
    padding: 35px;
  }

  .see-more {
    text-align: center;
    padding: 30px 0;
    border-top: solid #cacbd3 1px;
  }

  .see-more a {
    color: #5dbded;
    font-size: 14px;
  }

  .review-date {
    float: right;
    font-size: 12px;
    color: #858585;
  }

  /*===== MEDIA QUERIES =====*/
  @media (max-width: 1594px) {
    section .container-fluid {
      width: 95%;
    }

    .social-wrapper {
      text-align: center;
    }
  }

  @media (max-width: 924px) {
    .vendor-profile {
      float: none;
      width: 50%;
      margin: 50px auto;
    }

    .tab-content-container {
      width: 100%;
      float: none;
    }
  }

  @media (max-width: 585px) {
    .vendor-profile {
      width: 80%;
    }

    .nav-tabs li a {
      padding: 15px 7px;
      font-size: 12px;
    }

    .verifications .row-fluid {
      margin: 0;
    }
  }
}


