body.product-theme {

  margin: 0;
  padding: 0;
  background: #f4f4f4;

  .content-wrapper .dnm-page {
    padding-top: 0px;
  }

  header {
    padding: 30px 0;
    background: black;
  }

  /*===== GENERAL STYLES =====*/
  .page-wrapper {
    width: 62.5%;
    margin: 0 auto;
  }

  h1, h2, h3, p {
    font-family: 'Open Sans', sans-serif;
  }

  /*===== BUTTONS=====*/
  .btn {
    width: 100%;
    text-align: center;
    padding: 6px;
    font-weight: 300;
    font-size: 14px;
  }

  .btn.gray {
    background: #6d6d6d;
  }

  .btn.blue {
    background: #5dbded;
  }

  .btn.green {
    background: #5dc988;
  }

  .btn.medium {
    width: 25%;
  }

  .show-more {
    display: block;
    text-align: center;
  }

  .show-more-btn:hover {
    color: #000;
  }

  .show-more-btn {
    background: #f2f2f2;
    color: #000;
    width:50%;
  }

  .submit-bar {
    text-align: center;
    margin: 60px 0;
  }

  .submit-bar .btn {
    margin-right: 15px;
  }

  /*===== PAGE HEADER =====*/

  .page-banner {
    padding: 90px 0;
    text-align: center;
    background: #5dbded;
  }

  .page-banner h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
  }

  /*===== INDIVIDUAL SECTIONS =====*/

  .select2-container {
    width:100%;
  }

  section .container-fluid {
    width: 68%;
    margin: 0 auto;
  }

  section:not(#content) {
    background: #fff;
    padding: 50px 0;
    margin-bottom: 30px;
    border-bottom: solid #d5d5d5 2px;
  }

  section .row-fluid {
    margin-bottom: 30px;
  }

  .section-heading {
    color: #5dbded;
    font-weight: 300;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 600;
  }

  .section-heading:hover {
    color: #5dbded;
  }

  .map-container {
    height: 225px;
    margin-top: 30px;
  }

  #shipping-info .section-heading{
    display: inline-block;
  }

  #shipping-info .shipping-profile-top {
    float: right;
  }

  /*===== FIELDS AND LABELS =====*/
  label, .input-container {
    display: inline-block;
  }

  label {
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #555555;
    font-size: 16px;
  }

  input, textarea {
    border: solid #D4D4D4 1px;
    width: 100%;
    padding: 5px 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
  }

  .error {
    input, textarea {
      border: solid #ec8473 1px;
    }
    .error-block, .help-inline {
      float: right;
      color: #ec8473;
      font-size: 17px;
    }
  }

  .remove_shipping_profile label {
    float: right;
    color: red;
  }

  ::-webkit-input-placeholder {
     color: #cccccc;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: #cccccc;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: #cccccc;
  }

  :-ms-input-placeholder {  
     color: #cccccc;
  }

  .field {
    padding: 5px 0;
    margin-bottom: 15px;
  }

  .input-container p {
    margin-top: 0;
    color: #555555;
    font-size: 14px;
  }

  a.shipping-profile p, a.shipping-profile-top p {
    color: #5dbded;
    vertical-align: top;
    display: inline-block;
  }

  .customSelect {
    border: solid #D4D4D4 1px;
      background:#fff asset-url('themes/product_theme/arrow-down.png') right no-repeat;
    width: 100%;
    padding: 5px 0 5px 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
  }

  .photo-box {
    padding: 50px 0;
    border: dotted 1px solid black;
    text-align: center;
    border: dashed 1px gray;
    width: 100%;
  }

  .photo-select {
    visibility: hidden;
  }

  .photo-box.active {
    background: #def2fc;
    border: solid #5bdbed 1px;
  }

  .photo-box.active .photo-select {
    visibility: visible;
  }

  .photo-box img {
    display: block;
    margin: 0 auto;
  }

  .photo-box input {
    display: none;
  }

  .photo-box:hover {
    cursor: pointer;
  }

  /*===== SHIPPING PROFILES =====*/
  .profile {
    padding-right: 30px;
  }

  section .profile-row {
    margin-bottom: 0;
  }

  .profile p {
    display: inline-block;
    color: #000;
    margin: 0;
  }

  .profile a {
    color: #5dbded;
    float: right;
    font-size: 16px;
  }

  /*===== MEDIA QUERIES =====*/
  @media (max-width: 1300px) {
    .page-wrapper {
      width: 80%;
    }
  }

  @media (max-width: 650px) {
    .page-wrapper {
      width: 100%;
    }

    section .container-fluid {
      width: 80%;
    }

    .photo-box {
      margin-bottom: 20px;
    }

    .show-more-btn {
      width: 75%;
    }

    .submit-bar .btn {
      width: 75%;
      margin-bottom: 20px;
    }

    .shipping-form .btn {
      margin-bottom: 20px;
    }

    #shipping-info .shipping-profile {
      float: none;
    }
  }
}