<p>Congratulations, {{ user.first_name }}!</p>

<p>You have received an offer from {{ enquirer.name }} for {{ transactable.name }}. You can view offers under the "My Projects" > "Projects Pending" in your user dashboard.</p>
