<header class="masthead">
  <div class="wrapper-a">
    <h1 class="brand-a">
      <a href="/"><img src="http://lvh.me:8080/assets/logo.png" alt="Care Support Network - Logo" width="210" height="84">
      </a>
    </h1>

    {% if current_user == blank %}
      <div class="nav user-nav">
        <ul>
          <li><a href="/users?role=buyer" data-href="/users?role=buyer" data-modal="true" data-modal-class="sign-up-modal" data-modal-overlay-close="disabled" class="button-a">BECOME A MEMBER</a></li>
          <li><a href="/users?role=seller" data-href="/users?role=seller" data-modal="true" data-modal-class="sign-up-modal" data-modal-overlay-close="disabled"  class="button-a">BECOME A CARE WORKER</a></li>
          <li><a href="/users/sign_in?return_to=/" class="button-b">LOG IN</a></li>
        </ul>
      </div>
    {% else %}
      <div class="nav user-nav">
        <ul>
          <li>
            Logged in as
            <span tabindex="0">
              {{ current_user.first_name }}
              {% if pending_transactables_count > 0 %}
                <span class="count">{{ pending_transactables_count }}</span>
              {% endif %}
            </span>
          </li>
      </div>
    {% endif %}
  </div>

  <div class="nav main-nav">
    <div class="wrapper-a">
      <ul>
        <li><a href="/home">HOME</a></li>
        <li><a href="/how-it-works">HOW IT WORKS</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/services">SERVICES</a></li>
        <li><a href="/testimonials">TESTIMONIALS</a></li>
        <li><a href="/faqs">FAQS</a></li>
        <li><a href="/contact-us">CONTACT US</a></li>
      </ul>
    </div>
  </div>
</header>
