.dash-head.clearfix
  %form.pull-left{:action => ""}
    %select.messages{:name => "messages", onchange:"this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);"}
      %option{:value => dashboard_user_messages_path } Inbox (#{ current_user.unread_user_message_threads_count_for(platform_context.instance) })
      %option{:value => archived_dashboard_user_messages_path, selected: params[:action] == 'archived'} Archived