- if country.present?
  .span4
    %label
      = t('instance_admin.settings.integrations.payment_gateways_section.select_a_payment_gateway')
    = form_for("", url: payment_gateways_instance_admin_settings_integrations_path, remote: true) do
      = select_tag :payment_gateway, options_for_select(@payment_gateways), { prompt: "-- Select Gateway --", class: "payment-gateway-select" }
      = hidden_field_tag :country, country.alpha2
