.sub-header-nav
  %ul
    %li
      = link_to t('instance_admin.manage.search.tabs.search_settings'), instance_admin_manage_search_path, class: (tab == :global ? 'active' : '')
    %li
      = link_to t('instance_admin.manage.search.tabs.elastic_search'), instance_admin_manage_search_elastic_path, class: (tab == :elastic ? 'active' : '')

