#location-tabs{
  margin: 0px;
}

#location-tabs > li > a {
  background-color: $gray5;
  color: $gray2;
  border: none;
}

#location-tabs > li > a:hover {
  background-color: $gray6;
}

#location-tabs > li.active > a {
  background-color: $gray7;
}



#space, .space {

  .listing.box {
    overflow: hidden;
    height: $booking-module-height;
      
    @media (min-width: $booking-module-breakpoint-desktop) {
      height: $booking-module-height;
    }

    @media (max-width: $booking-module-breakpoint-desktop) {
      height: auto;
    }

    @media (max-width: $booking-module-breakpoint) {
      height: auto;
    }

    .bottom-fade {
      position: absolute;
      bottom: 0;
      left: $listing-photo-width;
      width: 100%;
      height: 40px;
      @include background-image(linear-gradient(rgba(250,250,250,0), $dnm_white));

      @media (max-width: $booking-module-breakpoint-desktop) {
        display: none;
      }
    } 

    .booking-module-container {

      @media (min-width: $booking-module-breakpoint) and (max-width: $booking-module-breakpoint-desktop) {
        float: right; 
        clear: both;
        width: 50%;
        top: $listing-header-height;
      }

      .booking-module {

      }  
    }  
  }

  header {
    display: none;

     @media (max-width: $booking-module-breakpoint-desktop) {
      display: block;
    }   
  }

  .listing-photo-container {
    position: absolute;
    left: 0;
    top: 0;
    height: $listing-photo-height;
    width: $listing-photo-width;
    overflow: hidden;

    @media (min-width: $booking-module-breakpoint) and (max-width: $booking-module-breakpoint-desktop) {
      position: relative;
      float: left; 
      clear: both;
      width: 55%;
      height: $booking-module-height;
      margin: -15px 0 0 -15px;

      img {
        width: $listing-photo-width;
        height: $listing-photo-height;
        margin: 0 auto;
        max-width: $listing-photo-width;
      }       
    }

    @media (max-width: $booking-module-breakpoint) {
      position: relative;
      float: left; 
      clear: both;
      width: 110%;
      height: auto;
      margin: -15px 0 0 -15px;
     
    }
  }

  .listing-name, .listing-description {
    float: left;
    width: 100%;
    padding: 0 300px 0 410px;
    @include box-sizing(border-box);

    @media  (max-width: $booking-module-breakpoint-desktop) {
      display: none;     
    }   
  }

  .listing-description {
    margin: 15px 0 0;

    @media (max-width: $booking-module-breakpoint-desktop) {
      display: block;
      float: left;
      clear: both;
      margin: 15px 0 0;
      padding: 0;
    }

    @media (max-width: $booking-module-breakpoint) {
      margin: 15px 0;
    }

    p {
      overflow: auto;

      @media (min-width: $booking-module-breakpoint) {
        max-height: 140px;
      }
    }
  }

  .description {

    .price {
      font-size: 22px;

      .period {
        font-size: 16px;
        font-weight: normal;
      }
    }
  }
}

.space-reservation-modal {
  // Fix hr's existing modal
  form {
    overflow: visible;
  }
  
  .summary {
    overflow: hidden;

    .date, .total-label {
      float: left;
      width: 30%;
    }

    .bookings, .total-amount {
      float: left;
      width: 70%;
    }
  }

  .total-label, .total-amount {
    font-weight: bold;
  }

  p.notice {
    font-size: 12px;
    color: gray2;
    margin: .5em 0;
    font-weight: 600px;
    @include opacity(.7);

    &:hover {
      @include opacity(1);
    }
  }

  form.payment .control-group {
    .control-label {
      width: auto;
    }
    .controls {
      margin-left: 30%;

      &.card-number input {
        width: 90%;
      }
      &.card-expires input, &.card-code input {
        width: 80px;
      }
    }
  }
}

.quick-book {
  
  .calendar-wrapper {
    display: inline-block;
    padding: 2px 8px;
    border: 2px solid $gray3;
    border-radius: 8px;
    background: white;
  }

  .quantity {
    display: inline-block;
    
    select {
      position: absolute;
      top: 0; 
      right: 0;
      margin: 0;
      vertical-align: middle;
      z-index: $modal-z-index - 3;
    }

    span.customSelect {
      font-size: 100%;
      min-width: 32px;
      padding: 2px 8px;
      border: 2px solid $gray3;
      @include border-radius(8px);
      background: white;
    }

    span.customSelect.changed {
    }

    .customSelectInner {
      width: 100% !important;
      background:url(components/customselect/canvas-list-nav-item-arrow.gif) no-repeat center right;
    }

  }
}

