$booking-module-breakpoint: 580px;

#space, .space {

  .listing.box {
    overflow: hidden;
    height: auto;

    @media (min-width: $booking-module-breakpoint) {
      height: 208px;
    }
  }

  .listing-photo-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 208px;
    width: 410px;

    @media (max-width: $booking-module-breakpoint) {
      position: relative;
      float: left; 
      clear: both;
      width: 100%;
      height: auto;
    }
  }

  .listing-description-container {
    float: left;
    width: 100%;
    padding: 0 280px 0 420px;
    @include box-sizing(border-box);

    @media (min-width: $booking-module-breakpoint) and (max-width: 900px) {
      position: absolute;
      left: 10px;
      color: white; 
      padding: 0;

      .listing-name {
        color: white;
        @include text-shadow(black 0 0 5px);
      }

      .listing-description {
        display: none;
      }
    }

    @media (max-width: $booking-module-breakpoint) {
      float: left; 
      clear: both;
      width: 100%;
      padding: 0;
    }    
  }

  .truncated-ellipsis {
    display: inline-block;
    padding: 0 4px 10px;
    margin: 0 4px;
    border-radius: 2px;
    border-radius: 4px;
    background: darken( $gray2, 10%);
    letter-spacing: 1px;
    color: $dnm_black;
    font-size: 20px;
    line-height: 6px;
    height:6px;
    vertical-align: middle;
    font-family: $font-bold;
  }

  .description {

    .price {
      font-size: 22px;

      .period {
        font-size: 16px;
        font-weight: normal;
      }
    }
  }
}

.space-reservation-modal {
  // Fix hr's existing modal
  form {
    overflow: visible;
  }
  
  .summary {
    overflow: hidden;

    .date, .total-label {
      float: left;
      width: 30%;
    }

    .bookings, .total-amount {
      float: left;
      width: 70%;
    }
  }

  .total-label, .total-amount {
    font-weight: bold;
  }

  p.notice {
    font-size: 12px;
    color: gray2;
    margin: .5em 0;
    font-weight: 600px;
    @include opacity(.7);

    &:hover {
      @include opacity(1);
    }
  }

  form.payment .control-group {
    .control-label {
      width: auto;
    }
    .controls {
      margin-left: 30%;

      &.card-number input {
        width: 90%;
      }
      &.card-expires input, &.card-code input {
        width: 80px;
      }
    }
  }
}

.quick-book {
  
  .calendar-wrapper {
    display: inline-block;
    padding: 2px 8px;
    border: 2px solid $gray3;
    border-radius: 8px;
    background: white;
  }

  .quantity {
    display: inline-block;
    
    select {
      display: inline-block;
      vertical-align: middle;
    }

    span.customSelect {
      font-size: 100%;
      min-width: 32px;
      padding: 2px 8px;
      border: 2px solid $gray3;
      @include border-radius(8px);
      background: white;
    }

    span.customSelect.changed {
    }

    .customSelectInner {
      width: 100% !important;
      background:url(components/customselect/canvas-list-nav-item-arrow.gif) no-repeat center right;
    }

  }
}

