#details{
  height: 554px;

  @media (max-width: 767px) {
    height:160px;
  }
  @media (max-width: 480px) {
    height:100px;
  }      
}

.location-photos.row-fluid {
  .span4.pull-right {
    width: 34%;
    margin-left: 0;

    @media (max-width: 767px ) {
      width: 100%;
    }
  }
  .map {
    .map-container {
      height: 554px;
      position: relative;
      z-index: 1;

      @media (max-width: 767px) {
        height:160px !important;
      }
      @media (max-width: 480px) {
        height:100px !important;
      }      
    }
    address {
      position: relative;
      background: rgba(0,0,0,0.7);
      @include box-sizing(border-box);
      padding: 10px 20px;
      margin-top: -65px;
      height: 65px;
      width: auto;
      color: rgb(240,240,240);
      z-index: 100;
      @include transition(background .2s ease-in);

      &:hover {
        background: rgba(0,0,0,.95);
      }
      strong {
        font-family: $font-medium;
      }

      @media (max-width: 768px) {
        width: 100%;
        max-width: none;
        height:40px;
        margin-top:-40px;
      }
      @media (max-width: 480px) {
        margin-top:0;
        font-size:14px;
        border: none;
        color: rgb(240,240,240);
        padding: 4px 20px;
        height: auto;
      }      
    }
  }

  .carousel {
    margin-bottom: 0;

    .carousel-control {
      font-size: 22px;
      top: 50%;
      width: 26px;
      height: auto;
    }

    .carousel-caption {
      padding: 20px;
      font-family: $font-medium;
      background: rgba(0,0,0,0);
      color: white;
      @include opacity(.5);
      @include transition(opacity .2s ease-in, text-shadow .1s ease-in);
      position: absolute;
      bottom: 20px;
      right: 20px !important;
      width: 2px;
      height: 6px;
      overflow: hidden;
      white-space:nowrap;

      &:hover {
        width: auto;
        color: white;
        @include opacity(1);
        @include text-shadow(black 0 0 2px, black 0 0 4px, black 0 0 6px);

        &:before {
          content:"";
        }
      }
    }
  }
}
