<div class='blog-container'>
  <ul class='tags-filters'>
    {% for tag in tags %}
      <li class='tag-filter-link'>{{ tag | tag_filter_link }}</li>
    {% endfor %}
  </ul>
  
  <div class='blog-posts'>
    {% for blog_post in blog_posts %}
      {% include 'blog/blog_posts/blog_post.html' %}
    {% endfor %}
  </div>
</div>

<img src='{{ "spinner.gif" | image_url }}' class='hidden-spinner hidden' alt='Spinner' />

{{ @blog_posts | pagination_links }}

<script>
  $(function() {
    new BlogPostsController();
  });
</script>
