<h2>Hello, {{ enquirer.first_name }}</h2>

<p>{{ lister.name }} has approved the latest time and expense submission. The payment for all approved items will be processed on the next weekly billing cycle.</p>
