<h2>Congratulations - Order Completed!</h2>

<p>{{ lister.name }} has marked {{ transactable.properties.order_title }} as complete. This means the order has been fulfilled, and it will be saved under Archived Orders in our system for your future reference.</p>

<p>Thank you for a job well done and for supporting the Bronx!</p>

