.wish-list {
    display: flex;
    flex-wrap: wrap;
}

$wish-list-item-padding: 20px;

.wish-list__item {
    position: relative;
    width: 100%;
    margin: 0 0 $wish-list-item-padding;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &:before {
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        content: "";
        background-image: inherit;
        background-size: cover;
        transition: all .5s ease;
        filter: blur(5px);
        transform: scale(1.1);
    }

    &:after {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        content: "";
        background-color: rgba(0, 0, 0, 0.5);
        transition: background-color .5s ease;
    }

    &:hover:before {
        opacity: 0;
        transform: scale(1);
    }

    &:hover:after {
        background-color: rgba(0, 0, 0, 0.2);
    }

    > * {
        position: relative;
        z-index: 2;
    }

    @media (min-width: $screen-md) {
        width: 49%;

        &:nth-child(2n+1) {
            margin-right: 2%;
        }
    }

    @media (min-width: $screen-lg) {
        width: 32%;
        margin-right: 2%;

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    .link {
        padding: $wish-list-item-padding $wish-list-item-padding ($wish-list-item-padding * 3);
        display: block;
        flex-grow: 1;
        color: $wish-list-color;
    }

    .name {
        font-size: 2em;
        margin-bottom: 10px;
        line-height: 1.2;

        a {
            color: $wish-list-color;
        }
    }

    .company {
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .price {}

    .actions {
        position: absolute;
        right: $wish-list-item-padding;
        bottom: $wish-list-item-padding;

        a {
            @extend .btn;
        }

        .action--delete {
            @extend .btn-warning;

            font-size: 0;
            padding-left: 5px;
            padding-right: 5px;

            &:before {
                @include fa-icon;

                content: $fa-var-close;
                font-size: 20px;
            }
        }
    }
}

.wish-list__item-user {
    display: block;

    .link {
        position: relative;
        padding: 0 0 100%;
    }

    .wish-list__item__content {
        position: absolute;
        left: $wish-list-item-padding;
        top: $wish-list-item-padding;
        right: $wish-list-item-padding;
        bottom: $wish-list-item-padding;
    }

    .name {
        font-size: 1.4em;
    }

    @media (min-width: 450px) {
        width: 49%;

        &:nth-child(2n+1) {
            margin-right: 2%;
        }
    }

    @media (min-width: 650px) {
        width: 32%;
        margin-right: 2%;

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    @media (min-width: 900px) {
        width: 23.5%;
        margin-right: 2%;

        &:nth-child(3n) {
            margin-right: 2%;
        }

        &:nth-child(4n) {
            margin-right: 0;
        }
    }
}
