<h2>You received a message!</h2>

<p>{{ listing_message.author_first_name }} sent you a message about one of their listings on {{ platform_context_decorator.name }}.</p>

<a class="btn" href="{{ listing_message.url }}">Login and read the message</a>

