<label class="control-label">
  {% if transactable.transactable_type.name == 'Group Case' %}
    Upload example of standard Engagement Agreement:
  {% else %}
    Upload Engagement Agreement:
  {% endif %}
</label>
