$color-blue: #5dbded;

.modal-wrapper, .modal-loading, .modal-content {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  border-radius: 0px !important;
}

.modal-content {
  padding: 0px !important;
}

