/*===== SASS VARIABLES =====*/
$color-brand: #1a7fbb;

$font-heading-bold: 'Brandon Bold', Helvetica, Arial, sans-serif;

$font-heading-regular: 'Brandon Medium', Helvetica, Arial, sans-serif;

$font-heading-light: 'Brandon Light', Helvetica, Arial, sans-serif;

$font-body-light: 'Avenir Light', Helvetica, Arial, sans-serif;

$font-body-bold: 'Avenir Bold', Helvetica, Arial, sans-serif;

$font-body-regular: 'Avenir Regular', Helvetica, Arial, sans-serif;

/*===== GENERAL STYLES =====*/
html body {
  background: #f7f7f7;
  overflow-x: hidden;
}

.dropshadow {
  border-bottom: solid #eeeeee 5px;
}

.alert {
  color: #e83d33;
}

a:hover {
  text-decoration: none;
}

h4 {
  font-family: $font-body-regular;
}

p {
  font-family: $font-body-regular;
}

/*===== HEADER =====*/

.main-header {
  background: #fff;
  border-bottom: 2px solid #e9e9e9 ;
  height: 61px;
  min-width: 100%;
  padding: 15px 15px 0 250px;
  position: fixed;
  z-index: 1;
}

.breadcrumbs {
  float: left;
  font-size: 22px;
  font-family: $font-heading-light;
  letter-spacing: 1.8;
}

.header-nav-wrapper {
  float: right;
  margin-bottom: 20px;
}

.btn-wrapper {
  margin-bottom: 20px;
  text-align: right;
}

.btn {
  color: #fff;
  font-family: $font-heading-regular;
  font-size: 13px;
  font-weight: 100;
  margin-left: 15px;
  padding: 7px 25px;
  text-transform: uppercase;
}

.btn:hover {
  color: #fff;
}

.btn:focus {
  color: #fff;
  outline: none;
}

.btn-green {
  background-color: #53bc86;
  border-bottom: solid #4aa571 3px;
}

.btn-green:hover {
  background-color: #72cc9b;
  border-bottom-color: #60b281;
}

.btn-green:focus {
  background-color: #46a36c;
  border-bottom-color: #3f9160;
}

.btn-grey, .btn-blue {
  background-color: #d1d1d1;
  border-bottom: solid #bcbcbc 3px;
}

.btn-grey:hover, .btn-blue:hover {
  background-color: #e2e2e2;
  border-bottom-color: #cccccc;
}

.btn-grey:focus, .btn-blue:hover {
  background-color: #afafaf;
  border-bottom-color: #939393;
}

/*===== SIDEBAR NAV  =====*/

.brand {
  background: $color-brand;
  padding: 15px 0 0px 25px;
  height: 59px;
}

.brand-logo {
  height: 30px;
}

.nav-wrapper {
  background: #2c2c2c;
  height: 100%;
  position: fixed;
  width: 217px;
  z-index: 2;

  .sidebar {
    height: 90%;
    overflow: auto;
    padding-top: 10px;

    ul {
      padding: 0;
    }

    li {
      margin: 0;
    }

    a {
      border-left: 5px solid transparent;
      color: #d9d9d9;
      display: inline-block;
      padding: 10px 0 6px 19px;
      text-decoration: none;
      width: 100%;
    }

    /*==Fix for Firefox auto-focus ==*/
    a:focus {
      background: none;
      outline: none;
    }

    a:hover, a:hover > .fa, a.active, a.active > .fa {
      background: #f7f7f7;
      border-left-color: $color-brand;
      color: $color-brand;
    }

    span {
      font-family: $font-body-regular;
      font-size: 14px;
    }

    .sub-nav span {
      padding-left: 43px;
      font-family: $font-body-light;
    }
  }
}

/*===== SIDEBAR NAV ICONS =====*/

.fa {
  color: #d9d9d9;
  display: inline-block;
  font-size: 14px;
  margin-right: 16px;
}

/*===== HELP BAR =====*/

#help-bar {
  background: #e9e9e9;
  float: right;
  height: 100%;
  padding: 0 5px;
  position: fixed;
  right: -316px;
  width: 346px;
  z-index: 0;
}

.help-bar-content {
  padding: 70px 20px;
}

.fa-long-arrow-left, .fa-long-arrow-right {
  bottom: 10px;
  color: #000;
  position: absolute;
}

/*===== MAIN CONTENT =====*/

#main-container {
  margin: 0px 0 25px 230px;
  width: 848px;
  padding-top: 90px;
}

.sub-header-nav {
  border-bottom: solid #eeeeee 2px;
  padding: 0;
  margin: 0 0 20px;
  width: 100%;

  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 5px;
  }

  li {
    margin-right: 20px;
    display: inline-block;
  }

  a {
    color: #7B7B7B;
    padding-bottom: 7px;
    font-weight: 300;
    font-family: $font-body-regular;
  }

  a:hover, a.active {
    color: $color-brand;
    text-decoration: none;
    border-bottom: solid $color-brand 2px;
  }

  .sub-nav-btn {
    float: right;

    a {
      color: $color-brand;
    }
  }
}

.preferences {
  label {
    float: left !important;
  }
}

.preferences > .preferences-row > .input-container {
  border-top: none !important;
}

.cancellation-settings > .input-container {
  border-bottom: solid #eee 2px;
}

#main-container .content-container.partner-content {
  margin-bottom: 37px;
}

.popover {
  border-radius: 0;
  width: 125px;
}

.popover-content ul {
  list-style-type: none;
  padding: 0;
}

.popover i {
  margin-right: 10px;
  color: $color-brand;
}

.file-name {
  height: 15px;
}

/*===== FORMS =====*/


#main-container .content-container{
  border-right: solid #eeeeee 2px;
  margin-bottom: 15px;
  width: 100%;

  .row {
    margin: 0;
  }

  .input-container, .table-container {
    background: #fff;
    border-top: solid #eee 2px;
    border-left: solid #eee 2px;
    padding: 15px 25px;
    font-family: $font-body-regular;
    float: left;
  }

  .line-item-container {
    background: #fff;
    border-top: solid #eee 1px;
    border-bottom: solid #eee 1px;
    padding: 10px 15px;
    font-family: $font-body-regular;

    label {
      margin: 0;
      -webkit-user-select: none; /* webkit (safari, chrome) browsers */
      -moz-user-select: none; /* mozilla browsers */
      -khtml-user-select: none; /* webkit (konqueror) browsers */
      -ms-user-select: none; /* IE10+ */
    }
  }

  .line-item-btn {
    float: right;
    color: $color-brand;
    visibility: hidden;
  }

  .line-item-category {
    border-left: solid #46B272 4px;
  }

  .line-item-container.hover:hover {
    background: #ebf6fc;
    cursor: pointer;
  }

  .line-item-container.hover:hover .line-item-btn {
    visibility: visible;
  }

  .line-item-child {
    border-left: solid #d5d5d5 4px;
    float: right;
    width: 97%;
  }

  .table-container {
    min-width: 475px;
  }
}

form {
  label {
    font-weight: 500;
    display: block;
    text-transform: uppercase;

    &.checkboxes-inline {
      input[type="checkbox"] {
        position: static !important;
        margin-right: 10px;
      }
    }
  }

  input {
    border: none;
    box-shadow: none;
    padding-left: 0;
    z-index: 0;
  }

  .checkbox input[type="checkbox"] {
    margin-left: 0px;
  }

  .check_boxes input[type="checkbox"] {
    position: relative;
    margin-right: 5px;
  }

  input:focus {
    box-shadow: none;
  }

  .error-block {
    color: #e60000;
  }
}

.form-group {
  margin: 0;
}

/*===== FORM FIELDS =====*/
.input-container, .line-item-container {

  .form-control {
    border: none;
    box-shadow: none;
    padding-left: 0;
    z-index: 0;
  }

  .form-control:focus {
    box-shadow: none;
  }

  .form-control::-moz-placeholder {
    color: #CACACA;
    font-style: italic;
  }

  .form-control:-ms-input-placeholder {
    color: #CACACA;
    font-style: italic;
  }

  .form-control::-webkit-input-placeholder {
    color: #CACACA;
    font-style: italic;
  }
}

.field-upload {
  border: dashed #eeeeee 2px;
  padding: 50px 5px;
  width: 125px;
  font-style: italic;
  color: #CACACA;
  font-weight: 100;
  text-align: center;
}

.upload-file {
  display: none !important;
}

.field-upload:hover {
  cursor: pointer;
}

.field-textarea {
  border: 1px solid #eee;
  width: 100%;
  resize: vertical;
}

.field-textarea:focus {
  outline: none;
}

.bootstrap-select {
  width: 100% !important;

  .dropdown-toggle {
    padding-left: 0;
    width: 100%;
  }
}

.selectpicker {
  display: block;
  background: #fff;
  border: none;
  outline: none;
  box-shadow: none;

}

.hidden {
  display:none;
}

.selectpicker:hover {
  background: #fff;
}

.selectpicker a {
  outline: none;
}

.dropdown-toggle.selectpicker.btn-default {
  background: #fff;
  box-shadow: none;
}

.form-group .bootstrap-select .btn:focus {
  background: #fff;
  box-shadow: none;
  outline: none !important;
}

.select-placeholder {
  color: #CACACA;
  font-style: italic;
}

#main-container .new-ticket-wrapper {
  background: #e9e9e9;
}

#main-container .new-ticket-wrapper textarea {
  padding: 20px 20px;
}

#main-container .new-ticket-wrapper.dropshadow {
  border-bottom: solid #d5d5d5 5px;
}

.color-thumbnail {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.color-select {
  display: inline-block;
  width: 80%;
  position: relative;
  bottom: 10px;
  margin: 20px 0 0 12px;
}

.color-thumbnail.header {
  background: #7f7d7f;
}
.color-thumbnail.footer {
  background: #000;
}
.color-thumbnail.search {
  background: $color-brand;
}
.color-thumbnail.list {
  background: #65df7d;
}

/*===== TABLES =====*/
.table {
  font-size: 14px;
  margin-bottom: 0 !important;

  th, td {
    font-weight: 100;
    border: none !important;
  }

  th {
    font-weight: 500;
  }

  a {
    text-decoration: none;
  }

  .table-head-link, .table-body-link {
    text-align: right;
  }

  .table-head-link a {
    margin-left: 20px;
  }

  .table-body-link > a, .table-body-link > label {
    visibility: hidden;
    margin-left: 15px;
    color: $color-brand;
  }
}

.table-hover tbody tr:hover td {
    background: #ebf6fc;
}

.table-hover tbody tr:hover td a, .table-hover tbody tr:hover td label  {
    visibility: visible;
}

.amount-due {
  font-size: 20px;
}

.ticket-number {
  color: $color-brand;
}

/*===== PANELS =====*/
.panel {
  border-color: #ebebeb;
  border-bottom: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.panel-heading {
  background: #ebebeb;
  font-weight: 300;

  p {
    display: inline;
  }

  .fa {
    color: #444444;
    float: right;
    font-size: 30px;
  }
}

.panel-heading:hover {
  cursor: pointer;
}

.panel-body {
  border-top: 0 !important;
  padding: 5px 15px;

  table tbody td {
    font-weight: 300;
    font-family: $font-body-regular;
    padding-left: 30px;
  }
}

/*===== AVATARS =====*/
.admin-avatar {
  height: 50px;
  float: right;
}

/*===== MEDIA QUERIES =====*/
@media (max-width: 700px) {
  .main-header {
    min-width: 700px;
  }
}

/****************************************/
/*** Manage/Users loading indicators ****/
/****************************************/
.instance-admins-table td {
  .loading {
    display: none;
  }
}

/**************/
/*** Flash ****/
/**************/

.alert {
  cursor: pointer;
  z-index: 997;
  border: none;
  border-radius: 3px;
  text-align: center;
  color: white;
  text-shadow: none;
  padding: 0px;
  width: 100%;

  &.static {
    position: static;
  }

  p {
      padding: 10px 49px 10px 0px;
      color: white;

      span.left-icon {
        margin-right: 15px;
      }

      span.right-icon {
        margin-left: 5px;
      }
  }

  a.close {
    position: absolute;
    right: 22px;
    color: white;

    &:hover {
      color: white;
    }
  }

  &.success {
    background-color: #5cb85c;
  }

  &.notice {
    background-color: #5bc0de;
  }

  &.error {
    background-color: #d9534f;
  }

  &.deleted {
    background-color: #d9534f;
  }

  &.warning {
    background-color: #f0ad4e;
  }

  &.timeout {
    display: none !important;
    z-index: 0;
  }
}

/******************/
/*** Login Page ***/
/******************/

body.login {
  background-color: $primary_nav_color;
}

#login {
  .login-form {
    width: 375px;
    margin: 0 auto;

    img {
      margin: 0 auto;
      margin-bottom: 30px;
      display: block;
    }

    input {
      font-family: 'Gotham A', 'Gotham B';
      padding-left: 26px;
      display: block;
      width: 100%;
      height: 40px;
      margin-top: 25px;
      @include box-sizing(border-box);
    }

    button {
      margin-top: 25px;
      margin-left: 0;
    }
  }
}

/********************/
/*** Photo Upload ***/
/********************/

.logo_image .fileupload .photo-item img{
  width: 240px;
  height: 60px;
}

.logo_retina_image .fileupload .photo-item img{
  width: 240px;
  height: 60px;
}

.favicon_image .fileupload .photo-item img{
  width: 32px;
  height: 32px;
}

.icon_image .fileupload .photo-item img{
  width: 60px;
  height: 60px;
}

.icon_retina_image .fileupload .photo-item img{
  width: 60px;
  height: 60px;
}

.hero_image .fileupload .photo-item img{
  width: 250px;
  height: 202px;
}

.single-photo .fileupload .uploaded .photo-item .thumbnail-processing {
  @include box-sizing(border-box);
  width: auto;
  height: auto;
  padding-top: 0px;
}

.logo_image .single-photo .fileupload .uploaded .photo-item .thumbnail-processing {
  height: 60px;
  padding-top: 11px;
}

.logo_retina_image .single-photo .fileupload .uploaded .photo-item .thumbnail-processing {
  height: 60px;
  padding-top: 11px;
}

.favicon_image .single-photo .fileupload .uploaded .photo-item .thumbnail-processing {
  height: 32px;
}

.icon_image .single-photo .fileupload .uploaded .photo-item .thumbnail-processing {
  height: 60px;
  padding-top: 11px;
}

.icon_retina_image .single-photo .fileupload .uploaded .photo-item .thumbnail-processing {
  height: 60px;
  padding-top: 11px;
}

.hero_image .single-photo .fileupload .uploaded .photo-item .thumbnail-processing {
  height: 202px;
  padding-top: 82px;
}

.jcrop-holder {
  margin-bottom: 30px;
  overflow: hidden;
}


.fileupload {
  .photo-action {
    position: relative;
    float: right;
    top: 0px !important;
    right: 0px !important;
  }

  .photo-item {
    @include box-sizing(border-box);
    width: 100%;
  }
}

.modal-content {
  h2 {
    font-size: 19px;
    line-height: 8px;
  }

  a.btn-green {
    @extend .btn;
    @extend .btn-primary;
    background-color: #2f7fbe;
  }
}

.modal-content .actions input[type='submit'] {
  @extend .btn;
  @extend .btn-primary;
}

#payment-gateways {
  .submit-country-instance-payment-gateway {
    margin-top:14px;
  }
}

/************/
/*** Misc ***/
/************/

.box {
  margin: 20px;
}

/***********************/
/*** Modal ***/
/***********************/

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
  @include opacity(0);
  @include transition(opacity 0.3s ease-in-out);

  &.visible {
    @include opacity(1);
  }

  html.no-rgba & {
    background: #000;
    @include opacity(0.6);
  }

  z-index: $modal-z-index - 1;
}

.modal-wrapper {
  background: $gray240;
  @include border-radius($border-radius-default);
}

.modal-container {
  z-index: $modal-z-index;
  padding-bottom: 50px;
  width: 600px;
  @include transition(opacity 0.5s ease-in-out);
  @include opacity(0);

  &.visible {
    @include opacity(1);
  }

  &.loading .modal-close {
    display: none;
  }

  @media (max-width: $ipad-width) {
    position: fixed;
    top: 20px;
    right: 20px;
    left: 20px;
    margin: 0;
    width: 100%;
    width: auto;
  }
}

.modal-loading {
  @extend .modal-wrapper;
  height: 200px;
  background: $gray220 image-url("components/modal/loader.gif") center center no-repeat;
}

.modal-content {
  @extend .modal-wrapper;
  padding: $padding-default;

  header {
    display: block;
    margin-top: -$padding-default;
    margin-right: -$padding-default;
    margin-bottom: $padding-default;
    margin-left: -$padding-default;
    padding: $padding-default;
    background: $gray210;
    color: $gray80;
    @include border-corner-radius(top, left, $border-radius-default);
    @include border-corner-radius(top, right, $border-radius-default);

    h2 {
      color: $gray80;
    }
  }

  hr,
  .hr {
    border-bottom: 0;
    margin-left: -$padding-default;
    margin-right: -$padding-default;
    margin-top: $padding-default;
    margin-bottom: $padding-default;
    text-align: center;
  }

  .hr span {
    position: relative;
    top: -10px;
    display: inline-block;
    padding: 0 8px;
    background: transparent;
    color: $gray120;
    font-weight: bold;
  }

  .intro {
    font-weight: bold;
    color: $dnm_white;
  }
}

.modal-close {
  position: absolute;
  top: 6px;
  right: 8px;
  z-index: $modal-z-index + 3;
  width: 18px;
  height: 18px;
  color:$icon;
  font-size: 18px;

  &:hover {
    color: $icon-hover;
  }
}

.modal-body-wrapper {
  position: fixed;
  width: 100%;
}

.btn.dropdown-toggle.selectpicker {
  border: 0 !important;
}

.bootstrap-select.btn-group .btn .filter-option {
  font-size: 12px;
  line-height: 20px;
  height: 20px;
}

th.actions-2 {
  width: 105px;
}

.icon-set {
  padding-top: 15px;
  padding-left: 15px;
  height: 60px;
}

.input-col-clearfix {
  height: 60px;
}

/* Shipping options */
#main-container.dimensions_templates {
  table {
    thead {
      span.header-link {
        float: right;
      }
    }
  }

  form {
    .row.submit-row {
      margin-top: 25px;
      float: right;
    }
  }

  &.dimensions_templates-index {
    .new_dimensions_template_container_explanation {
      font-size: 20px;
      margin-bottom: 25px;
    }

    .new_dimensions_template_link_container {
      font-size: 24px;
      text-align: center;
    }
  }
}

#main-container.providers {
  form {
    .row.submit-row {
      margin-top: 25px;
      float: right;
    }
  }
}
/* End shipping options */

/* Admin custom styles */
.admin-stylish-inputs {
  div.control-group {
    width: 100%;
    margin-bottom: 10px;

    label {
      float: left;
      width: 200px;
    }
    div.controls {
      float: left;
    }

    input {
      border: 1px solid #eee;
      padding: 3px;
      width: 300px;
    }
  }

  div.control-group:after {
    content: '';
    display: block;
    clear: both;
  }
}

.hidden_form_element {
  display: none;
}

/* Admin custom styles */
