.support {
  textarea {
    width: 98%;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .form {
    margin-bottom: 50px;
  }

  .attachments {

    .attachment {
      .tag {
        color: $gray204;
        margin-left: 10px;
      }

      .destroy {
        margin-left: 8px;
      }

      .edit a,
      .destroy a {
        color: $gray120;
      }

    }
  }

  .message-form {
    margin-bottom: 20px;
    overflow: hidden;
  }


  .upload-attachment {
    @extend .btn-primary;
  }
}
