= hidden_field_tag "reservation[quantity]", @reservation.quantity
- @reservation.periods.each do |period|
  = hidden_field_tag "reservation[dates][]", period.date.strftime('%Y-%m-%d')

= hidden_field_tag "reservation[start_minute]", @reservation.periods.first.try(:start_minute)
= hidden_field_tag "reservation[end_minute]", @reservation.periods.first.try(:end_minute)

