= hidden_field_tag "reservation_request[quantity]", @reservation_request.quantity
- @reservation_request.reservation_periods.each do |period|
  = hidden_field_tag "reservation_request[dates][]", period.date.strftime('%Y-%m-%d')

= hidden_field_tag "reservation_request[start_minute]", @reservation_request.reservation_periods.first.try(:start_minute)
= hidden_field_tag "reservation_request[end_minute]", @reservation_request.reservation_periods.first.try(:end_minute)

