#open_graph_content.hidden
  = render :partial => 'shared/og_meta', :locals => { :object => @reservation.listing, :url => location_url(@reservation.listing.location, @reservation.listing) }
%div{class: section_class}
  %header
    %h2
      %span.padding Your purchase was Successful!
  .buttons
    = link_to "Add to Calendar", export_reservation_path(@reservation, :format => :ics), class: "btn btn-large btn-white"
    = link_to "Manage", "#", class: "btn btn-large btn-green modal-close-manually"

- content_for :script do
  :javascript
    $(function() {
      $('.modal-close').hide();
      $('head').eq(0).append($('#open_graph_content').html());
      $('#open_graph_content').remove();
    });
