#open_graph_content.hidden
  = render :partial => 'shared/og_meta', :locals => { :object => @reservation.listing, :url => location_url(@reservation.listing.location, @reservation.listing) }
%div{class: section_class}
  %header
    %h2
      %span.padding Your purchase failed!

  .buttons
    = link_to "Manage", "#", class: "btn btn-large btn-white modal-close-manually"
    = link_to "Try again", remote_payment_reservation_path(@reservation), class: "btn btn-large btn-green"

- content_for :script do
  :javascript
    $(function() {
      $('.modal-close').hide();
      $('head').eq(0).append($('#open_graph_content').html());
      $('#open_graph_content').remove();
    });
