%h1 Book space at #{location_name(@reservation_request)}

%p Your reservation has been made!

- if @reservation_request.credit_card_payment?
  %p Your credit card will be charged when your reservation is confirmed by the host.

%p.text-center
  = link_to "Continue", "", :class => 'btn btn-medium btn-green close-modal'

:javascript
  Modal.reloadOnClose(#{raw bookings_dashboard_url.to_json})

