- unless current_user
  .please_signin
    %h1 Do we know you?
    %p
      Please #{link_to 'Sign In/Up', authentications_path} to book a desk.
- else
  - unless current_user.reservations.on(@date).any?
    = render :partial => "form", :locals => {:listing => @listing, :reservation => @reservation}
  - else
    .already_booked
      %h1 Awww Nuuu!
      %p You have already booked a desk for that date!
      %p= link_to "Close", @listing, :class => "cancel"
