.row-fluid
  .span8.offset2
    .box
      = render :partial => "shared/mailers/booking_details", :locals => { :listing => @listing, :reservation => @reservation}
      = render :partial => 'export_icons', :locals => { :reservation => @reservation }
