.password_strength {
    .form-control {
        border-bottom-left-radius: 0;
    }

    .input-group-addon {
        padding: 0;
    }

    button {
        font-size: 0;
        padding: 10px 20px;
        border-radius: 0 3px 0 0;
        height: 44px;

        &:before {
            @include fa-icon;

            content: $fa-var-eye;
            font-size: 20px;
            line-height: 22px;
        }
    }

    &[data-password-mode="text"] button:before {
        content: $fa-var-eye-slash;
    }
}

.password-strength-text {
    font-size: 0.75em;
    margin-top: 10px;

    b {
        color: #000;
    }
}

.strength-meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 3px;

    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.strength-meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

/* Webkit based browsers */
.strength-meter[value="1"]::-webkit-meter-optimum-value {
    background: red;
}

.strength-meter[value="2"]::-webkit-meter-optimum-value {
    background: yellow;
}

.strength-meter[value="3"]::-webkit-meter-optimum-value {
    background: orange;
}

.strength-meter[value="4"]::-webkit-meter-optimum-value {
    background: green;
}

/* Gecko based browsers */
.strength-meter[value="1"]::-moz-meter-bar {
    background: red;
}

.strength-meter[value="2"]::-moz-meter-bar {
    background: yellow;
}

.strength-meter[value="3"]::-moz-meter-bar {
    background: orange;
}

.strength-meter[value="4"]::-moz-meter-bar {
    background: green;
}
