.footer-wrapper
  .container-fluid
    %footer
      .row-fluid
        .span1.offset1.nested
          #logo-inverse
        .span2.nested
          %p 185 Clara Street
          %p San Francisco, CA 94107
          %p 888-998-3375
        .span2.nested
          .social-wrapper
            %ul.icons.clearfix
              %li
                %a{href: "https://www.facebook.com/NearMeCo", target:"_blank"}
                  %img{src: '/assets/facebook-ico.png'}
              %li
                %a{href: "https://twitter.com/NearMeCo", target:"_blank"}
                  %img{src: '/assets/twitter-ico.png'}
              %li
                %a{href: "https://plus.google.com/u/0/113390569055627999995", target:"_blank"}
                  %img{src: '/assets/gplus-ico.png'}
        .span5.questions.nested
          .pull-right
            %a{href: '/get-in-touch'}
              questions?
              %span GET IN TOUCH
        .span1.nested
