.footer
  .shell
    .footer-left
      .logo-footer
        %a{href: "#"} Near me
      .address
        %p 185 Clara St #100, San Francisco CA 94107
        %p 888.998.33758
      %p.copyrights © 2013 Near Me

    .footer-right
      .footer-cols
        .footer-col
          %h5 Platform
          .nav-footer
            %ul
              %li
                %a{href: "features.html"} Features
              %li
                %a{href: "request.html"} Request Demo
              %li
                %a{href: "contact.html"} Contact

        .footer-col
          %h5 Company
          .nav-footer
            %ul
              %li
                %a{href: "#"} About us
              %li
                %a{href: "#"} Contact
              %li
                %a{href: "http://blog.desksnear.me/"} Blog
              %li
                %a{href: "#"} Press & Media
              %li
                %a{href: "#"} Careers

        .footer-col
          %h5 Social
          .nav-footer
            %ul
              %li
                %a{href: "https://twitter.com/@nearmeco"} Twittere
              %li
                %a{href: "https://www.facebook.com/NearMeCo"} Facebook
              %li
                %a{href: "https://plus.google.com/u/0/+DesksnearMe/posts"} Google+
              %li
                %a{href: "http://linkedin.com/company/near-me"} Linkedin
