#wrapper.hidden-phone
  #background
    #active
    #image
      %a.ico.bulb.active{"data-position" => "360"}
      %a.ico.pointer{"data-position" => "300"}
      %a.ico.users-3{"data-position" => "240"}
      %a.ico.upwards{"data-position" => "180"}
      %a.ico.pie{"data-position" => "120"}
      %a.ico.dollar{"data-position" => "60"}
    #line
