.main-top
  %h2 Get to know more about us

.shell
  = render 'platform_home/shared/main_sidebar'

  .content
    .article
      %h2 About Us
      %p NearMe is a customizable marketplace solution powering the sharing economy. Global brands and Entrepreneurs now have a turnkey platform supported with go-to market strategy and expert advice for creating peer-to-peer marketplaces. Marketplace owners are empowered to augment the sharing ecosystem with their own branded sites that allow users to share, trade, swap, resell or rent anything. Headquartered in San Francisco with customers globally.

      %ul.team
        %li
          .photo
            %img{alt: "", src: "/assets/platform_home/michelle.jpg"}/
          .text
            %h4 Michelle Regner
            %p Founder/CEO

        %li
          .photo
            %img{alt: "", src: "/assets/platform_home/adam.jpg"}/
          .text
            %h4 Adam Broadway
            %p Founder/CTO

        %li
          .photo
            %img{alt: "", src: "/assets/platform_home/sai.jpg"}/
          .text
            %h4 Sai Perchard
            %p Product Manager

        %li
          .photo
            %img{alt: "", src: "/assets/platform_home/mike.jpg"}/
          .text
            %h4 Michael Mitchell
            %p Software Engineer

        %li
          .photo
            %img{alt: "", src: "/assets/platform_home/angela.jpg"}/
          .text
            %h4 Angela Baldwin
            %p Social Media Manager

        %li
          .photo
            %img{alt: "", src: "/assets/platform_home/curtis.jpg"}/
          .text
            %h4 Curtis Shelton
            %p Analyst

        %li
          .photo
            %img{alt: "", src: "/assets/platform_home/patricia.jpg"}/
          .text
            %h4 Patricia de Llano
            %p UX Designer

        %li
          .photo
            %img{alt: "", src: "/assets/platform_home/jared.jpg"}/
          .text
            %h4 Jared Calinisan
            %p Designer
