.intro
  %h1 ABOUT US
/ /.intro
.main
  .container
    .row
      .col-md-3
        .sidebar
          %ul.widgets
            %li.widget.widget-nav
              %ul
                %li.active
                  %a{href: "/about"} About Us
                %li
                  %a{href: "/contact"} Contact
                %li
                  %a{href: "/blog"} Blog
                %li
                  %a{href: "/careers"} Careers
                %li
                  %a{href: "/press-media"} Press & Media
                %li
                  %a{href: "/brand"} Brand
            / /.widget widget-nav
          / /.widgets
        / /.sidebar
      / /.col-md-3
      .col-md-9
        .content
          .section
            .section-head
              %h3.section-title WHAT IS NEAR ME?
              / /.section-title
            / /.section-head
            .section-body
              %p NearMe is a customizable marketplace solution powering the sharing economy. Global brands and Entrepreneurs now have a turnkey platform supported with go-to market strategy and expert advice for creating peer-to-peer marketplaces. Marketplace owners are empowered to augment the sharing ecosystem with their own branded sites that allow users to share, trade, swap, resell or rent anything. Headquartered in San Francisco with customers globally.
            / /.section-body
          / /.section
          .section.section-profiles
            .section-head
              %h3.section-title THE A TEAM
              / /.section-title
            / /.section-head
            .section-body
              .row
                .col-md-6
                  .profile
                    .profile-image
                      %img{alt: "", src: "css/images/profile-01.jpg"}/
                    / /.profile-image
                    .profile-content
                      .profile-content-inner
                        .profile-head
                          %h4.profile-title MICHELLE REGNER
                          / /.profile-title
                          %p FOUNDER AND CEO
                          %i.ico.ico-border
                        / /.profile-head
                        .profile-body
                          %p Entrepreneur. SheEO. Lover of all tech, chocolate chip cookies & snowboarding.
                        / /.profile-body
                        .profile-foot
                          %p
                            %strong STRENGTH:
                            Awesome mom
                            %br/
                            %strong WEAKNESS:
                            Chocolate chip cookies
                        / /.profile-foot
                      / /.profile-content-inner
                    / /.profile-content
                  / /.profile
                / /.col-md-6
                .col-md-6
                  .profile
                    .profile-image
                      %img{alt: "", src: "css/images/profile-02.jpg"}/
                    / /.profile-image
                    .profile-content
                      .profile-content-inner
                        .profile-head
                          %h4.profile-title ADAM BRAODWAY
                          / /.profile-title
                          %p CTO & FOUNDER
                          %i.ico.ico-border
                        / /.profile-head
                        .profile-body
                          %p Business Builder. Outdoor Adventure. The meaning of life. Practical Joker, with a serious side.
                        / /.profile-body
                        .profile-foot
                          %p
                            %strong STRENGTH:
                            Relentless
                            %br/
                            %strong WEAKNESS:
                            Chocolate
                        / /.profile-foot
                      / /.profile-content-inner
                    / /.profile-content
                  / /.profile
                / /.col-md-6
              / /.row
              .row
                .col-md-6
                  .profile
                    .profile-image
                      %img{alt: "", src: "css/images/profile-03.jpg"}/
                    / /.profile-image
                    .profile-content
                      .profile-content-inner
                        .profile-head
                          %h4.profile-title MICHAEL MITCHELL
                          / /.profile-title
                          %p SOFTWARE ENGINEER
                          %i.ico.ico-border
                        / /.profile-head
                        .profile-body
                          %p Full stack Ruby on Rails developer in the Bay Area, road biker and beer advocate.
                        / /.profile-body
                        .profile-foot
                          %p
                            %strong STRENGTH:
                            Curiosity
                            %br/
                            %strong WEAKNESS:
                            Mornings
                        / /.profile-foot
                      / /.profile-content-inner
                    / /.profile-content
                  / /.profile
                / /.col-md-6
                .col-md-6
                  .profile
                    .profile-image
                      %img{alt: "", src: "css/images/profile-04.jpg"}/
                    / /.profile-image
                    .profile-content
                      .profile-content-inner
                        .profile-head
                          %h4.profile-title PATRICIA DE LLANO
                          / /.profile-title
                          %p UX DESIGNER
                          %i.ico.ico-border
                        / /.profile-head
                        .profile-body
                          %p The only Spaniard in the team. Tech junkie by day, lucid dreamer by night. Synesthete all the time. Love the healthy lifestyle of San Francisco but still confused about the weather.
                        / /.profile-body
                        .profile-foot
                          %p
                            %strong STRENGTH:
                            Intuition
                            %br/
                            %strong WEAKNESS:
                            Level of sugar in blood
                        / /.profile-foot
                      / /.profile-content-inner
                    / /.profile-content
                  / /.profile
                / /.col-md-6
              / /.row
              .row
                .col-md-6
                  .profile
                    .profile-image
                      %img{alt: "", src: "css/images/profile-05.jpg"}/
                    / /.profile-image
                    .profile-content
                      .profile-content-inner
                        .profile-head
                          %h4.profile-title CURTIS SHELTON
                          / /.profile-title
                          %p ANALYST
                          %i.ico.ico-border
                        / /.profile-head
                        .profile-body
                          %p Huge fan of beer, hamburgers, movies, reading, staying up late, sleeping in, and any combination of those things.
                        / /.profile-body
                        .profile-foot
                          %p
                            %strong STRENGTH:
                            Can make the best pancakes you ever tasted
                            %br/
                            %strong WEAKNESS:
                            Afternoon naps
                        / /.profile-foot
                      / /.profile-content-inner
                    / /.profile-content
                  / /.profile
                / /.col-md-6
                .col-md-6
                / /.col-md-6
              / /.row
            / /.section-body
          / /.section
        / /.content
      / /.col-md-9
    / /.row
  / /.container
/ /.main