.main-top
  %h2 Get to know more about us

.shell
  .sidebar
    .nav
      %a.nav-menu{href: "#"} Menu
      %ul
        %li.current
          %a{href: "#"} About Us
        %li
          %a{href: "#"} Contact
        %li
          %a{href: "#"} Blog
        %li
          %a{href: "#"} Careers
        %li
          %a{href: "#"} Press & Media

  .content
    .article
      %h2 About Us
      %p Near Me is the only solution allowing anyone from individuals to brands to create a peer-to-peer marketplace. Consumer purchasing habits are changing and more and more people are looking to consume less, share more and tap into the connections made through the sharing economy. Whether it’s sharing RVs, band equipment, chefs, meals, outdoor gear or unused hotel space, you can create a marketplace using Near Me in less than a week.

      %ul.team
        %li
          .photo
            %img{alt: "", src: "/assets/platform_home/michelle.jpg"}/
          .text
            %h4 Michelle Regner
            %p Founder/CEO

        %li
          .photo
            %img{alt: "", src: "/assets/platform_home/adam.jpg"}/
          .text
            %h4 Adam Broadway
            %p Founder/CTO

        %li
          .photo
            %img{alt: "", src: "/assets/platform_home/sai.jpg"}/
          .text
            %h4 Sai Perchard
            %p Product Manager

        %li
          .photo
            %img{alt: "", src: "/assets/platform_home/mike.jpg"}/
          .text
            %h4 Michael Mitchell
            %p Software Engineer

        %li
          .photo
            %img{alt: "", src: "/assets/platform_home/angela.jpg"}/
          .text
            %h4 Angela Baldwin
            %p Social Media Manager

        %li
          .photo
            %img{alt: "", src: "/assets/platform_home/curtis.jpg"}/
          .text
            %h4 Curtis Shelton
            %p Analyst

        %li
          .photo
            %img{alt: "", src: "/assets/platform_home/patricia.jpg"}/
          .text
            %h4 Patricia de Llano
            %p UX Designer

        %li
          .photo
            %img{alt: "", src: "/assets/platform_home/jared.jpg"}/
          .text
            %h4 Jared Calinisan
            %p Designer
