.intro
  %h1 ADVISORS

- content_for :inner_page do
  .content.col-md-9
    .section
      .section-body
        .row
          .col-sm-4
            .profile
              .profile-image
                =image_tag "platform_home/pic-philip.jpg"

          .col-sm-8
            .section
              .section-head
                %h3 PHILIP LAY
              .section-body
                %p Philip is a seasoned strategy advisor to CEOs, management teams, and boards. In this capacity he has worked with major companies including Autodesk, Compuware, HP, Rackspace, Salesforce.com and SAP as well as numerous mid-sized and smaller companies. He also serves on the board of Covisint, (COVS). Philip's past includes IBM, Co-founder of TGR Software where he operated and eventually sold the successful security company in Sao Paulo, Brazil. He has also been invovled as a senior advisor to The Chasm Group for 20 years focussed on expanding the practice in Europe.

        .row
          .col-sm-4
            .profile
              .profile-image
                =image_tag "platform_home/pic-bardia.png"

          .col-sm-8
            .section
              .section-head
                %h3 BARDIA HOUSMAN
              .section-body
                %p Bardia Housman was the Co-Founder and CEO of Business Catalyst (businesscatalyst.com & goodbarry.com), a SaaS offering with a large reseller network of web designers in more than 50 countries. The platform served 100,000+ customers and was acquired in 2009 by Adobe (NASDAQ: ADBE). Prior to that he was the Co-Founder and CEO of Start (start.com.au), Australia's first free email. The service became Australia's most trafficked website (Hitwise), and powered British Telecom's Genie service (now O2) in Germany and France, with millions of users globally. It was acquired in 1999 by Looksmart (NASDAQ: LOOK).

= render template: "platform_home/layout/main_layout"
