- content_for :intro do
  %h1 BRAND

-content_for :inner_page do
  .col-md-9
    .content
      .section
        .section-head
          %h3.section-title LOGO DOWNLOADS

        .section-body
          .brands
            .row
              .col-md-6
                .brand-logo.brand-logo-light
                  .brand-logo-image
                    %img{alt: "", src: "/assets/platform_home/logo-01-light.png"}/

                  %p
                    %a{href: "#"} Download

              .col-md-6
                .brand-logo.brand-logo-dark
                  .brand-logo-image
                    %img{alt: "", src: "/assets/platform_home/logo-01-dark.png"}/

                  %p
                    %a{href: "#"} Download

            .row
              .col-md-6
                .brand-logo.brand-logo-light
                  .brand-logo-image
                    %img{alt: "", src: "/assets/platform_home/logo-02-light.png"}/

                  %p
                    %a{href: "#"} Download

              .col-md-6
                .brand-logo.brand-logo-dark
                  .brand-logo-image
                    %img{alt: "", src: "/assets/platform_home/logo-02-dark.png"}/

                  %p
                    %a{href: "#"} Download

            .row
              .col-md-6
                .brand-logo.brand-logo-light
                  .brand-logo-image
                    %img{alt: "", src: "/assets/platform_home/logo-03-light.png"}/

                  %p
                    %a{href: "#"} Download

              .col-md-6
                .brand-logo.brand-logo-dark
                  .brand-logo-image
                    %img{alt: "", src: "/assets/platform_home/logo-03-dark.png"}/

                  %p
                    %a{href: "#"} Download

            .row
              .col-md-6
                .brand-logo.brand-logo-factsheet
                  .brand-logo-image
                    %img.fact-sheet{alt: "", src: "/assets/platform_home/fact-sheet.png"}/

                  %p
                    %a{href: "#"} Download

= render template: "platform_home/layout/main_layout"