.shell
  = render 'platform_home/shared/careers_sidebar'

  .content
    .article
      %ul.list-features
        %li
          %h2 Director of Business Development

          %h3 Position Overview
          %p The Business Development Director (BD Director), will play a key role in managing and developing  the Near Me partnerships.  This role will work side by side with the Sales Representative and Near Me team to implement and follow up on partnerships that support and/or enhance the product and revenue goals of the company.

          %p We seek an individual with a proven track record of stellar sales in software services.  A strong and identifiable list of c-level contacts and leads within the “leading technology and Internet companies combined with a history of excelling and over achieving sales targets are essential requirements for this position.  In this extremely visible sales role, your mission is to partner with internal teams and cultivate new and existing business.

        %li
          %h3 Responsibilities:
          %ul
            %li The Business Development Director enables and/or supports the development of new initiatives in cooperation with Product Development, Partners and other internal commercial teams
            %li Develop the commercial relationships, while understanding the technical complexities of our products, the product roadmaps and evangelize our partners within the product development teams.
            %li Work with the product managers to guarantee the technical aspects of a partner's integration (both new and ongoing)
            %li Analyze and optimize the revenue flow of existing partners and advise on business/technical/product implementation improvements that would enhance the value of the partnership
            %li Identify technical/product requirements from partners and work with the Product team to implement such requirements
            %li Agree all the contracts and commercials with partners
            %li Internal relationships: senior management, sales, product development team
            %li Responsible for the revenue target for region
            %li Work with the product team to deliver and develop partner relationships
            %li Running the commercial relationships with key partners in the region
            %li Identify and implement new business opportunities with existing partnerships
            %li Incoming Project Request Oversight: Working to respond to incoming project requests by:
            %li Establishing a relationship with the potential client, creating a means for communication around ideas, expectations, and collaboration potential.
            %li Identifying requirements and next steps that will lead to a clear outcome and deliverable.
            %li Assembling the necessary team members to realize required deliverables. Leading and participating in the efforts by this team to compile, develop, and submit proposals.

        %li
          %h3 Skills and Experience
          %ul
            %li 7+ years experience in partner / business development of large software technologies and building partnering models with fortune 500 type companies.
            %li In-depth knowledge and experience in software industry, technologies and products required.
            %li Proven sales track record
            %li Experience with top global software companies and complex partner environments required.
            %li Experience and knowledge in the internet/browser market, competitor landscape and technologies.
            %li Excellent solution sales, business judgment, negotiation and decision-making skills.
            %li Demonstrated business acumen and experience working with senior level executives.
            %li Ability and flexibility for travel as needed
            %li BA/BS or relevant work experience

        %li
          %h3 Benefits Include:
          %p Equity, Health, Dental, Vision, Accident Life

        %li
          %h3 How to Apply:
          %p Send an email to jobs@near-me.com including the following:
          %ul
            %li A short paragraph on why you want to work at Near Me
            %li Link to LinkedIn profile