.intro.careers
  %h1 CAREERS

.main
  .container
    .row
      .sidebar.col-md-3
        %ul.widgets
          %li.widget.widget-nav
            %ul.expand-nav
              %li
                %a{href: "#bsuiness-dev"} Business Dev
              %li
                %a{href: "#sales-representative"} Sales Representative
              %li
                %a{href: "#operations-manager"} Operations Manager
              %li
                %a{href: "#ruby-developer"} Ruby Developer
              %li
                %a{href: "#designer"} Designer

      .left-bg
      .content.col-md-9
        %ul.expandables
          %li#business-dev.expandable
            .section
              .section-head
                %h3.section-title Director of Business Development

                .section-body
                  %h4 Position Overview
                  %p The Business Development Director (BD Director), will play a key role in managing and developing the Near Me partnerships. This role will work side by side with the Sales Representative and Near Me team to implement and follow up on partnerships that support and/or enhance the product and revenue goals of the company.
                  %p We seek an individual with a proven track record of stellar sales in software services. A strong and identifiable list of C-level contacts and leads within the leading technology and Internet companies combined with a history of excelling and over achieving sales targets are essential requirements for this position. In this extremely visible sales role, your mission is to partner with internal teams and cultivate new and existing business.
                  %h4 Responsibilities:
                  %ul
                    %li The Business Development Director enables and/or supports the development of new initiatives in cooperation with Product Development, Partners and other internal commercial teams
                    %li Develop the commercial relationships, while understanding the technical complexities of our products, the product roadmaps and evangelize our partners within the product development teams
                    %li Work with the product managers to guarantee the technical aspects of a partner's integration (both new and ongoing)
                    %li Analyze and optimize the revenue flow of existing partners and advise on business/technical/product implementation improvements that would enhance the value of the partnership
                    %li Identify technical/product requirements from partners and work with the Product team to implement such requirements
                    %li Agree all the contracts and commercials with partners
                    %li Internal relationships: senior management, sales, product development team
                    %li Responsible for the revenue target for region
                    %li Work with the product team to deliver and develop partner relationships
                    %li Running the commercial relationships with key partners in the region
                    %li Identify and implement new business opportunities with existing partnerships
                    %li Incoming Project Request Oversight: Working to respond to incoming project requests by:
                    %li Establishing a relationship with the potential client, creating a means for communication around ideas, expectations, and collaboration potential
                    %li Identifying requirements and next steps that will lead to a clear outcome and deliverable
                    %li Assembling the necessary team members to realize required deliverables. Leading and participating in the efforts by this team to compile, develop, and submit proposals
                  %h4 Skills and Experience
                  %ul
                    %li 7+ years experience in partner / business development of large software technologies and building partnering models with fortune 500 type companies
                    %li In-depth knowledge and experience in software industry, technologies and products required
                    %li Proven sales track record
                    %li Experience with top global software companies and complex partner environments required
                    %li Experience and knowledge in the internet/browser market, competitor landscape and technologies
                    %li Excellent solution sales, business judgment, negotiation and decision-making skills
                    %li Demonstrated business acumen and experience working with senior level executives
                    %li Ability and flexibility for travel as needed
                    %li BA/BS or relevant work experience
                  %h4 Benefits Include:
                  %p Equity, Health, Dental, Vision, Accident Life
                  %h4 How to Apply:
                  %p Send an email to jobs@near-me.com including the following:
                  %ul
                    %li A short paragraph on why you want to work at Near Me
                    %li Link to LinkedIn profile

          %li#sales-representative.expandable
            .section
              .section-head
                %h3.section-title Senior Sales Representative

              .section-body
                %h4 Position Overview
                %p We are looking for someone to join our quickly growing sales team. Ideal candidates have a successful track record exceeding goals in sales of technology/platforms to business executives, believes in the value of sales process, and uses technology to enable productivity. Candidates should be creative, entrepreneurial, and highly flexible.
                %h4 Responsibilities:
                %ul
                  %li Pioneer sales approach to both large brands and new entrepreneurs
                  %li Define and execute territory and account strategies to achieve defined sales targets
                  %li Develop new accounts through a mix of outbound prospecting activity and inbound leads
                  %li Assist with miscellaneous projects and duties to support team members and grow our business
                %h4 Skills and Experience
                %ul
                  %li 3-5+ years of demonstrated success in selling business applications to senior executives in relevant enterprises
                  %li Excitement to help build a business in a bleeding-edge market and develop new sales processes
                  %li Bachelor’s Degree from an accredited 4-year college/university
                  %li Willingness to travel a must
                %h4 Benefits Include:
                %p Equity, Health, Dental, Vision, Accident Life
                %h4 How to Apply:
                %p Send an email to jobs@near-me.com including the following:
                %ul
                  %li A short paragraph on why you want to work at Near Me
                  %li Link to LinkedIn profile

          %li#operations-manager.expandable
            .section
              .section-head
                %h3.section-title Operations Manager

              .section-body
                %h4 Position Overview
                %p Our Business Operations Manager will be our “Data Guru”, digging into the depths of data, asking the right business questions regarding its validity, ensuring our Executives and Business Partners are consistently informed about our business performance. We are looking for someone who is a big picture thinker who gets things done. Ideally, you love driving efficiencies and have a curious mind to want to make things better.
                %p In this key role you will be a Business Partner to our Executive, Product, Engineering, Sales, Business Development team members.
                %h4 Responsibilities:
                %ul
                  %li Keep your fingertip on the pulse of the business to ensure it is operating as successfully as possible; stepping in to help drive improvements, as needed
                  %li Create and manage models and operational dashboards to monitor product performance and to continually analyze growth and engagement drivers
                  %li Conduct in-depth analyses on product economics, member growth, and engagement
                  %li Communicate key insights to Product Leads and the cross-functional teams
                  %li Define and drive analyses aimed at developing a comprehensive understanding of products performance, growth drivers, and trajectory
                  %li Deliver on strategic projects for our leadership team
                  %li Constantly improve and implement processes and procedures to make our internal execution efficient and measurable
                  %li Work in close partnership with the cross-functional team (e.g. Product, Engineering, Sales, Marketing and BD) on a variety of projects and activities aimed at driving product success
                %h4 Skills and Experience
                %ul
                  %li Have a minimum of 5 years of work experience at a top-tier management-consulting firm, investment bank, or operating role in a software, media or Internet company
                  %li Undergraduate degree in a technical major from a top tier university is preferred
                  %li A BS or equivalent experience is required, an MBA or MS is preferred
                  %li Have a passion for the sharing economy and technology
                  %li Be proactive and relentless: Independently capable of seeking information, solving conceptual problems, corralling resources, and delivering results in challenging situations
                  %li Be results-oriented, with a discipline of measurement and improvement
                  %li Have high-energy, company and team-first attitude: Must be motivated to work hard in a fast-paced, demanding environment to help our growing business
                  %li Have project / program management experience including strong organizational skills and attention to detail
                  %li Have the ability to prioritize and multi-task in a fast paced, changing environment A team player who works collaboratively and effectively across a diverse set of functions, backgrounds, and working styles
                  %li Be intellectually curious. Strategic thinker and creative problem solver. Execution-oriented, persistent, and willing to roll up your sleeves
                  %li Have significant experience reporting analytics and insights to product leads and senior executives. Should also be highly proficient in using MS Excel and Salesforce, as well as translating into insightful MS PowerPoint presentations
                  %li Possess clear communication: Able to articulately present and debate recommendations with senior leadership
                  %li Have exceptional analytical skills and loves data: Experience solving real world business and product problems using advanced Excel modeling and relational databases
                  %li Have experience working with large datasets and using practical statistical analyses
                  %li Have practical business understanding - required
                %h4 Benefits Include:
                %p Equity, Health, Dental, Vision, Accident Life
                %h4 How to Apply:
                %p Send an email to jobs@near-me.com including the following:
                %ul
                  %li A short paragraph on why you want to work at Near Me
                  %li Link to LinkedIn profile

          %li#ruby-developer.expandable
            .section
              .section-head
                %h3.section-title Ruby on Rails Developer

              .section-body
                %h4 Position Overview
                %p We are looking for an experienced Ruby on Rails Developer to join us as a technical lead. Ideal candidates will love solving complex problems, detail-oriented and able to collaborate on a fast-moving team.
                %h4 Skills and Experience
                %ul
                  %li 3-5+ years of experience building Ruby on Rails applications
                  %li Advocates of comprehensive testing & continuous deployment
                  %li Applies object-oriented design principles & patterns (SOLID, DRY, et cetera)
                  %li Contribution to open source projects a plus
                  %li Worked at or founded a startup a plus
                  %li Bachelor’s Degree from an accredited 4-year college/university
                %h4 Our stack
                %ul
                  %li Ruby on Rails
                  %li Test::Unit and Cucumber
                  %li PostgreSQL
                  %li JavaScript (CoffeeScript), jQuery
                  %li Git
                %h4 Benefits Include
                %p Equity, Health, Dental, Vision, Accident Life
                %h4 How to Apply:
                %p Send an email to jobs@near-me.com including the following:
                %ul
                  %li A short paragraph on why you want to work at Near Me
                  %li Link to LinkedIn profile
                %p Our interview process is comprised of a 2-hour coding exercise, followed by a remunerated day or evening in the office (in which we can get to know each other, and ship some code).

          %li#designer.expandable
            .section
              .section-head
                %h3.section-title Designer

              .section-body
                %h4 Position Overview
                %p We are looking for a designer who is passionate about combining aesthetic quality & craftsmanship of both the user interface and back-end code to develop a customizable peer-to-peer marketplace for our clients. The ideal candidate will be detail-oriented, focused and able to work on a team. Candidates should be on top of best practices in web design and user-experience and be passionate about design.
                %h4 Skills and Experience
                %ul
                  %li Illustrator, HTML5, CSS3
                  %li BFA/MFA/equivalent, or equivalent commercial experience
                  %li Willingness to learn and take on new challenges
                  %li Strong written and verbal communication skills
                  %li Front-end development skills a plus
                %h4 Our stack
                %ul
                  %li Ruby on Rails
                  %li Test::Unit and Cucumber
                  %li PostgreSQL
                  %li JavaScript
                  %li Git
                  %li Sass, Haml, Compass
                %p We embrace an agile workflow using Agile from Atlassian, we work in feature branches, and use GitHub pull requests to conduct code reviews on every feature.
                %h4 Benefits Include
                %p Equity, Health, Dental, Vision, Accident Life
                %h4 How to Apply:
                %p Send an email to jobs@near-me.com including the following:
                %ul
                  %li A short paragraph on why you want to work at Near Me
                  %li LinkedIn profile
                  %li Link to your Portfolio
