.main-top
  %h2 We're hiring

.shell
  .article
    .careers
      %h2 Careers
      %ul
        %li
          .careers-text
            %h3 Business Development
          .btns
            %a.btn.btn-blue{href: "/careers/business-development"} Details

        %li
          .careers-text
            %h3 Sales Representative
          .btns
            %a.btn.btn-blue{href: "/careers/sales-representative"} Details

        %li
          .careers-text
            %h3 Operations Manager
          .btns
            %a.btn.btn-blue{href: "/careers/operations-manager"} Details

        %li
          .careers-text
            %h3 Ruby Developer
          .btns
            %a.btn.btn-blue{href: "/careers/developer"} Details

        %li
          .careers-text
            %h3 Designer
          .btns
            %a.btn.btn-blue{href: "/careers/designer"} Details
