- title "Careers | Near Me"
.intro.careers
  %h1 CAREERS

.main
  .container
    .row
      .sidebar.col-md-3
        %ul.widgets
          %li.widget.widget-nav
            %ul.expand-nav
              %li
                %a{href: "#sales-representative"} Sales Representative
              %li
                %a{href: "#ruby-developer"} Ruby Developer
              %li
                %a{href: "#senior-ruby-developer"} Sr. Ruby on Rails Developer
              %li
                %a{href: "#customer-success"} Customer Success Manager

      .left-bg
      .content.col-md-9
        %ul.expandables
          %li#sales-representative.expandable
            .section
              .section-head
                %h3.section-title Senior Sales Representative

              .section-body
                %h4 Position Overview
                %p We are looking for someone to join our quickly growing sales team. Ideal candidates have a successful track record exceeding goals in sales of technology/platforms to business executives, believes in the value of sales process, and uses technology to enable productivity. Candidates should be creative, entrepreneurial, and highly flexible.
                %h4 Responsibilities:
                %ul
                  %li Pioneer sales approach to both large brands and new entrepreneurs
                  %li Define and execute territory and account strategies to achieve defined sales targets
                  %li Develop new accounts through a mix of outbound prospecting activity and inbound leads
                  %li Assist with miscellaneous projects and duties to support team members and grow our business
                %h4 Skills and Experience
                %ul
                  %li 3-5+ years of demonstrated success in selling business applications to senior executives in relevant enterprises
                  %li Excitement to help build a business in a bleeding-edge market and develop new sales processes
                  %li Bachelor’s Degree from an accredited 4-year college/university
                  %li Willingness to travel a must
                %h4 Benefits Include:
                %p Equity, Health, Dental, Vision, Accident Life
                %h4 How to Apply:
                %p Send an email to jobs@near-me.com including the following:
                %ul
                  %li A short paragraph on why you want to work at Near Me
                  %li Link to LinkedIn profile

          %li#ruby-developer.expandable
            .section
              .section-head
                %h3.section-title Ruby on Rails Developer

              .section-body
                %h4 Position Overview
                %p We are looking for an experienced Ruby on Rails Developer to join us as a technical lead. Ideal candidates will love solving complex problems, detail-oriented and able to collaborate on a fast-moving team.
                %h4 Skills and Experience
                %ul
                  %li 3-5+ years of experience building Ruby on Rails applications
                  %li Advocates of comprehensive testing & continuous deployment
                  %li Applies object-oriented design principles & patterns (SOLID, DRY, et cetera)
                  %li Contribution to open source projects a plus
                  %li Worked at or founded a startup a plus
                  %li Bachelor’s Degree from an accredited 4-year college/university
                %h4 Our stack
                %ul
                  %li Ruby on Rails
                  %li Test::Unit and Cucumber
                  %li PostgreSQL
                  %li JavaScript (CoffeeScript), jQuery
                  %li Git
                %h4 Benefits Include
                %p Equity, Health, Dental, Vision, Accident Life
                %h4 How to Apply:
                %p Send an email to jobs@near-me.com including the following:
                %ul
                  %li A short paragraph on why you want to work at Near Me
                  %li Link to LinkedIn profile
                %p Our interview process is comprised of a 2-hour coding exercise, followed by a remunerated day or evening in the office (in which we can get to know each other, and ship some code).

          %li#senior-ruby-developer.expandable
            .section
              .section-head
                %h3.section-title SENIOR RUBY ON RAILS DEVELOPER / ARCHITECT

              .section-body
                %h4 Position Overview
                %p We are looking for an experienced Ruby on Rails developer to join us in a technical leadership role. The ideal candidate loves solving complex problems, is detail-oriented and able to collaborate on a fast-moving team.
                %h4 Responsibilities:
                %ul
                  %li In this role you will be a key contributor in the development of our Ruby on Rails app for our SaaS marketplace engine
                  %li You will assume a leadership position in the overall system design and implementation, in collaboration with our CTO and our head of product
                  %li You will ensure that the system architecture/design meets current industry standards and is highly scalable, reliable, and performant
                %h4 Skills and Experience
                %ul
                  %li 5+ years of experience building Ruby on Rails applications, preferably in the SaaS space
                  %li 10+ years of experience in software engineering, especially in web technologies
                  %li 2+ years of experience in a lead architect role
                  %li Capable of working in a fast-paced agile environment that fosters short design cycles and frequent code releases
                  %li Entrepreneurial mindset and startup experience are a plus
                  %li Extensive database architecture and design knowledge
                  %li Familiarity with Test Driven Development (TDD) and Behavior Driven Development (BDD) methodologies
                  %li Proficient in the area of efficient and scalable database design and SQL, particularly in the Rails ActiveRecord ORM
                  %li Knowledgeable in cloud-base service design and deployment
                  %li Experience in Service Oriented Architecture and development for high scale transactions
                %h4 Our Technology Stack
                %ul
                  %li Ruby on Rails
                  %li RDS / PostgreSQL
                  %li Redis
                  %li ElasticSearch
                  %li JQuery + (Coffee Script)
                %h4 How to Apply:
                %p Send an email to jobs@near-me.com including the following:
                %ul
                  %li A short paragraph on why you want to work at Near Me
                  %li Link to LinkedIn profile
                  %li Link to Github profile
                  %li Resume
                %p Our interview process is comprised of a 2-hour coding exercise, followed by a remunerated day or evening in the office (in which we can get to know each other, and ship some code)

          %li#customer-success.expandable
            .section
              .section-head
                %h3.section-title CUSTOMER SUCCESS MANAGER

              .section-body
                %p We are looking for a Customer Success Manager (CSM) to manage customer relations in the post-sales process. Customers use Near Me to build and execute peer to peer marketplaces and private communities. As an early CSM, you will be able to help shape the growth of this team.
                %h4 Responsibilities
                %ul
                  %li Deliver outstanding client services and ensure client success and happiness
                  %li Define upfront customer goals and track success metrics with clients through Near Me’s platform to ensure customer success
                  %li Grow revenue from existing accounts by creating new opportunities and optimizing existing engagements based on new service functionality and business models
                  %li Project and manage client success deliverables by communicating across multiple internal sales, product and engineering teams
                  %li Conduct presentations with customers concerning key initiatives, trends, new product features and other relevant content
                  %li Build relationships with the key operational and business stakeholders of key customers
                %h4 Requirements
                %ul
                  %li At least 4 years experience in account management and/or sales, some of that time ideally working with Fortune 1000 companies
                  %li Excellent verbal and written communication skills
                  %li Ability to work against tight goals and deadlines; Outgoing and comfortable working style
                  %li Strong understanding of the structure and inner workings of Fortune 1000 companies
                  %li Experience working with software products is a plus
                  %li Working knowledge of mobile advertising networks and social platforms and an understanding of the value of advertising for companies is also a plus
                %p Working at Near Me is fast-paced, fun, and challenging, and we thrive on innovation, both with our product and with processes. Come join our team and help shape the future of marketplaces. If this role sounds interesting to you, we would enjoy hearing from you. Please send your resume to jobs@near-me.com.

