- title "Portfolio of Clients | Near Me"
.intro
  %h1 CLIENTS

- content_for :inner_page do
  .content.col-md-12
    .section.gallery
      .article
        .row
          .col-sm-12.col-md-6
            .section-image
              %a{href:"https://rvwithme.com", target:"_blank"}
                =image_tag "platform_home/featured-marketplace-01.jpg"
            .section-body
              %h3 RVWITHME
              %p No one was offering this service, or at least the way Near Me was offering it. There are lots of clones and companies willing to build you a platform, but, as the owner of a marketplace over half of your time is spent simply managing the website. With Near Me managing the website, I am able to focus on my marketplace.
          .col-sm-12.col-md-6
            .section-image
              %a{href:"https://reggalo.com", target:"_blank"}
                =image_tag "platform_home/featured-marketplace-02.jpg"
            %h3 REGGALO
            %p The Near Me team gives us plenty of ideas, shout outs and best practices - making us feel that they are invested in our success.
      .article
        .row
          .col-sm-12.col-md-6
            .section-image
              %a{href:"https://desksnear.me", target:"_blank"}
                =image_tag "platform_home/featured-marketplace-04.jpg"
            %h3 DESKS NEAR ME
            %p Any entrepreneur thinking of a building a marketplace should use the Near Me platform. With the technology end of our business taken care of, our team was able to rapidly build the supply and demand globally.
          .col-sm-12.col-md-6
            .section-image
              =image_tag "platform_home/featured-marketplace-05.jpg"
            %h3 NEW MARKETPLACES ON THE WAY
            %p Keep an eye out for more exciting marketplaces.

= render template: "platform_home/layout/gallery_layout"
