.main
  .main-top
    %h2
      We're here to help you build
      %br/
      a better marketplace

  .shell
    .contacts
      .cols
        .col
          .text
            %h2 Phone
            %p Give us a call at 888-998-3375 (DESK)

        .col
          .form-contact
            = simple_form_for @platform_inquiry, url: '/save-inquiry' do |f|
              .form-head
                %h2 Email

              .form-body
                .form-row
                  %label.form-label{for: "full-name"} First & Last Name
                  .form-controls
                    %input#full-name.field{name: "full-name", type: "text"}/

                .form-row
                  %label.form-label{for: "email-contact"} Email
                  .form-controls
                    %input#email-contact.field{name: "email-contact", type: "text"}/

                .form-row
                  %label.form-label{for: "subject"} Subject
                  .form-controls
                    %input#subject.field{name: "subject", type: "text"}/

                .form-row
                  %label.form-label{for: "comments-contact"} Comments
                  .form-controls
                    %textarea#comments-contact.field.field-textarea{cols: "30", name: "comments-contact", rows: "10"}

                / .form-row
                /   .checkbox
                /     %input#check2{name: "check2", type: "checkbox"}/
                /     %label{for: "check2"} Check box: update me on "insert copy here"

              .form-foot
                %input.btn-submit.btn-blue{type: "submit", value: "Send"}/
