- content_for :intro do
  %h1 BRAND

-content_for :inner_page do
  .col-md-9
    .content
      .section
        .section-head
          %h3.section-title GIVE US A CALL

        .section-body
          %p We would be happy to hear from you. We are available at 888.998.3375 Monday through Friday 8 a.m to 6 p.m PDT

      .section
        .section-head
          %h3.section-title LEAVE A MESSAGE

        .section-body
          %p Feel free to contact us with any questions, potential partnerships, or just a hello.
          .form-contact
            %form{role: "form"}
              .form-group
                %input#field-name.form-control{placeholder: "First & Last Name", title: "First & Last Name", type: "text", value: "First & Last Name"}/
              .form-group
                %input#field-company.form-control{placeholder: "Company", title: "Company", type: "text", value: "Company"}/
              .form-group
                %input#field-email.form-control{placeholder: "Email", title: "Email", type: "text", value: "Email"}/
              .form-group
                %select#field-marketplace.select.selectpicker{name: "field-marketplace"}
                  %option{value: ""} Marketplace Type
                  %option{value: "Option2"} Option2
                  %option{value: "Option3"} Option3
                  %option{value: "Option4"} Option4
              .form-group
                %textarea#field-message.form-control{placeholder: "Comments", rows: "3", title: "Comments"} Comments
              .form-actions
                %button.btn{type: "submit"} SEND

= render template: "platform_home/layout/main_layout"