.main-top
  %h2 Get ready to lead the sharing economy

.shell
  .form-request
    = simple_form_for @platform_demo_request, remote: true, url: '/demo-request-submit' do |f|
      .form-head
        %h2 Request Demo

      .form-body
        .form-row
          %label.form-label{for: "name"} First & Last Name
          .form-controls
            %input#name.field{name: "platform_demo_request[name]", type: "text"}/

        .form-row
          %label.form-label{for: "email"} Email
          .form-controls
            %input#email.field{name: "platform_demo_request[email]", type: "text"}/

        .form-row
          %label.form-label{for: "company"} Company
          .form-controls
            %input#compnay.field{name: "platform_demo_request[company]", type: "text"}/

        .form-row
          %label.form-label{for: "phone"} Phone
          .form-controls
            %input#phone.field{name: "platform_demo_request[phone]", type: "text"}/

        .form-row
          %label.form-label{for: "comments"} Comments
          .form-controls
            %textarea#comments.field.field-textarea{cols: "30", name: "platform_demo_request[comments]", rows: "10"}

        .form-row
          .checkbox
            %input#check1{name: "platform_demo_request[subscribed]", type: "checkbox", checked: "checked"}/
            %label{for: "subscribed"} Send me updates by email.

      .form-foot
        %input.btn-submit.btn-blue{type: "submit", value: "Request demo"}/
