.shell
  = render 'platform_home/shared/careers_sidebar'

  .content
    .article
      %ul.list-features
        %li
          %h2 Designer

          %h3 Position Overview
          %p We are looking for a designer who is passionate about combining aesthetic quality & craftsmanship of both the user interface and back-end code to develop a customizable peer-to-peer marketplace for our clients. The ideal candidate will be detail-oriented, focused and able to work on a team. Candidates should be on top of best practices in web design and user-experience and be passionate about design.

          %h3 Skills and Experience
          %ul
            %li Illustrator, HTML5, CSS3.
            %li BFA/MFA/equivalent, or equivalent commercial experience.
            %li Willingness to learn and take on new challenges.
            %li Strong written and verbal communication skills.
            %li Front-end development skills a plus.

          %h3 Our stack
          %ul
            %li Ruby on Rails
            %li Test::Unit and Cucumber
            %li PostgreSQL
            %li JavaScript
            %li Git
            %li Sass, Haml, Compass

          %p We embrace an agile workflow using Agile from Atlassian, we work in feature branches, and use GitHub pull requests to conduct code reviews on every feature.

          %h3 Benefits Include:
          %p Equity, Health, Dental, Vision, Accident Life

          %h3 How to Apply:
          %p Send an email to jobs@near-me.com including the following:
          %ul
            %li A short paragraph on why you want to work at Near Me
            %li LinkedIn profile
            %li Link to LinkedIn profile
