.shell
  = render 'platform_home/shared/careers_sidebar'

  .content
    .article
      %ul.list-features
        %li
          %h2 Ruby on Rails Developer

          %h3 Position Overview
          %p We are looking for an experienced Ruby on Rails Developer to join us as a technical lead. Ideal candidates will love solving complex problems, detail-oriented and able to collaborate on a fast-moving team.

          %h3 Skills and Experience
          %ul
            %li 3-5+ years of experience building Ruby on Rails applications
            %li Advocates of comprehensive testing & continuous deployment
            %li Applies object-oriented design principles & patterns (SOLID, DRY, et cetera)
            %li Contribution to open source projects a plus
            %li Worked at or founded a startup a plus
            %li Bachelor’s Degree from an accredited 4-year college/university

          %h3 Our stack
          %ul
            %li Ruby on Rails
            %li Test::Unit and Cucumber
            %li PostgreSQL
            %li JavaScript (CoffeeScript), jQuery
            %li Git

          %h3 Benefits Include:
          %p Equity, Health, Dental, Vision, Accident Life

          %h3 How to Apply:
          %p Send an email to jobs@near-me.com including the following:
          %ul
            %li A short paragraph on why you want to work at Near Me
            %li Link to LinkedIn profile

          %p Our interview process is comprised of a 2-hour coding exercise, followed by a remunerated day or evening in the office (in which we can get to know each other, and ship some code).