-content_for :feature do
  .col-md-9
    .content
      .section
        .section-image
          %img{alt: "", src: "/assets/platform_home/feature-image-04.png"}/

        .section-body
          .article
            %h3 Blogging Platform
            %p Your marketplace comes with its own blog. Become a thought leader in your industry and get involved with your customer community. Your visitors can comment and share content on Facebook, Twitter, and Linkedin.

          .article
            %h3 Email Platform
            %p Manage your own custom emails to connect with your customers and strengthen your brand. You can define the type of email, content and frequency.  Engage users and bring more traffic to your site.

          .article
            %h3 Direct Messaging
            %p Near Me marketplaces has a built-in internal messaging system so your customers can communicate with each other and shop all in the same place

          .article
            %h3 Social Connections
            %p You can easily display social sharing links in mailers and different pages of your marketplace so your customers can share their activity with their friends and followers on  Facebook, Twitter, Linkedin and Google+.

= render template: "platform_home/layout/features_layout"