-content_for :feature do
  .col-md-9
    .content
      .section
        .section-image
          =image_tag "platform_home/feature-image-09.png"

        .section-body
          .article
            %h3 Help
            %p
              Our customer care team will assist you over the phone, live chat, email, Twitter and Facebook. Check out our
              %a{href: "/blog"} Blog
              for the latest news and tips to help you improve your marketplace.

          .article
            %h3 Customer Service Management Tool
            %p Forget third party customer service ticketing, Near Me has built-in tools that allow you to answer and manage your customers inquiries all from one dashboard.

          .article
            %h3 Live Chat Support
            %p We’re here to help you build a better marketplace. You can contact us via live-chat during weekdays from 9:00 am PST until 6:00 pm PST Monday through Friday.

= render template: "platform_home/layout/features_layout"