-content_for :feature do
  .content.col-md-9
    .section
      .section-image
        =image_tag "platform_home/feature-image-07.png"

      .section-body
        .article
          %h3 Your marketplace, your domain name
          %p Near Me provides you with a free custom domain name [marketplacename.near-me.com]  If you have your own domain name you can use it with Near Me.

        .article
          %h3 A marketplace with a solid foundation
          %p No need to worry about your marketplace’s performance. Near Me can handle the huge traffic that comes along with the success of your business.

        .article
          %h3 Security
          %p The security of your client data is protected using industry-standard security measures. We require HTTPS access for all data stored on our platform and our Payment Gateway Partners provide PCI Compliance for all your client CC transactions.

        .article
          %h3 Automatic updates
          %p Your marketplace will be automatically updated with any new features so you can focus on running your business.

= render template: "platform_home/layout/features_layout"
