-content_for :feature do
  .col-md-9
    .content
      .section
        .section-image
          %img{alt: "", src: "assets/platform_home/feature-image-01.png"}/
        .section-body
          .article
            %h3 A powerful dashboard
            %p Near me gives you a complete dashboard to manage all aspects of your business. Don’t worry about huge development costs, server infrastructure, payment gateway integration and on-going feature enhancements -  We take care of these things so you can focus on what you do best.

          .article
            %h3 Support (we’re just a phone call away)
            %p After signing up, our customer care team will schedule a call to help with any setup questions you may have. Your marketplace will be up and running before you know it.

          .article
            %h3 Account Management
            %p We recognize the uniqueness of each client’s needs and we are focused in providing effective support for your marketplace.  Our team will provide you expert advice, mentoring and will assist with the Go-To-Market strategy. You’ll have all the support you need to build a successful marketplace.

          .article
            %h3 Your marketplace in any language
            %p The Near Me platform supports marketplaces in any language. Translations can be managed through the dashboard, where you can customize messaging throughout your marketplace.

= render template: "platform_home/layout/features_layout"
