-content_for :feature do
  .col-md-9
    .content
      .section
        .section-image
          %img{alt: "", src: "css/images/feature-image-06.png"}/

        .section-body
          .article
            %h3 Track your KPIs
            %p Our built-in analytics dashboard provides you with a detailed analysis of user behavior. Track KPIs, and gather important insight about the performance of your marketplace. The interface displays intuitive visuals, giving you the ability to understand your marketplace at a glance - and If you feel like digging deeper, easily export your data to an excel document with a single click.
            %p Track data across the entire history of your marketplace, going as far back as you need. With near-me analytics, you have access to all your data. Understand important trends over time, and analyze metrics by the hour, day, week, month or year. Track the performance of key metrics, including:
            %ul
              %li Revenue
              %li Reservations
              %li Listings
              %li Locations
              %li Users
            %p View the distribution of listings and reservations on your marketplace, and uncover important insights that help you move your business in the right direction. Identify top users to better understand where your revenue is coming from, and discover the top converting products.

= render template: "platform_home/layout/features_layout"