- title "Design | Marketplace Features | Near Me"
-content_for :feature do
  .content.col-md-9
    .section
      .section-image
        =image_tag "platform_home/feature-image-02.png"

      .section-body
        .article
          %h3 Your marketplace, your design
          %p You can easily create new pages and adapt the entire site to match your own brand. Customize titles and buttons, upload your own logo and photos and change colors with just a few clicks.

        .article
          %h3 HTML/CSS access
          %p You get access to your marketplace’s HTML/CSS. You are free to add more pages and custom code your content the way you want it.

        .article
          %h3 Mobile
          %p Near Me is fully responsive and accessible on any device - mobile to tablet, iPhone to Android. Our mobile-first approach ensures first-class user experience across devices, allowing users to search, book, and list, anywhere, any time.

        .article
          %h3 Web designers at your service
          %p
            Whether you want to refresh your company’s brand or need your company’s brand created from the ground up, our in-house design team has your back.
            %a{href: "/#demo"} Get a quote.

= render template: "platform_home/layout/features_layout"