- title "Management | Marketplace Features | Near Me"
-content_for :feature do
  .content.col-md-9
    .section
      .section-image
        =image_tag "platform_home/feature-image-03.png"

      .section-body
        .article
          %h3 Key data at your fingertips
          %p Quickly view the data you care about and track your marketplace’s performance. Monitor key metrics like revenue, bookings, and listings.

        .article
          %h3 Bring on new partners
          %p We know how important partnerships can be for your business, but setting them up can be time consuming. Our dashboard is designed to allow for you to co-brand your marketplace with other businesses and manage all partners in an easy and convenient way. Focus on finding the right business partners for your marketplace, we do the rest.

        .article
          %h3 Add admins to your marketplace
          %p Share your account and grant access to other people in your business. You can easily create and define roles with custom levels of access in your Near Me dashboard. You will able to edit or delete roles and access levels at any time

        .article
          %h3 Inventory management with a few clicks
          %p View your entire inventory from your dashboard. The Near Me dashboard makes it simple to upload and take down products.

        .article
          %h3 Customer support
          %p Share your account and grant access to other people in your business. You can easily create and define roles with custom levels of access in your Near Me dashboard. You will able to edit or delete roles and access levels at any time.

= render template: "platform_home/layout/features_layout"