.main-top
  %h2 Features

.shell
  .sidebar
    .nav
      %a.nav-menu{href: "#"} Menu
      %ul
        %li
          %a{href: "#setup"} Setup
        %li
          %a{href: "#design"} Design
        %li
          %a{href: "#manage"} Manage
        %li
          %a{href: "#marketing"} Marketing
        %li
          %a{href: "#payments"} Payments
        %li
          %a{href: "#analytics"} Analytics
        %li
          %a{href: "#hosting"} Hosting & Security
        %li
          %a{href: "#integrations"} Integrations
        %li
          %a{href: "#support"} Customer Support

  .content
    .article
      %ul.list-features
        %li#setup
          %h2 Setup
          %h3 Create the Perfect Marketplace. Hassle-Free.
          %p Near Me is a complete solution that lets you set up, customize and manage a marketplace in an easy manner. You’ll have access to a very intuitive dashboard to manage all aspects of your business. Don’t worry about huge development costs, server infrastructure, payment gateway integration and on-going feature enhancements - we do all that, so that you can focus on what you do best.
          %h3 Support (we’re just a phone call away)
          %p Near Me will help you launch your marketplace. After signing up, our customer care team will schedule a call with you and will help you with the set up and all the questions you might have. You will be up and running very quickly.

        %li#design
          %h2 Design
          %h3 Customizable Design
          %p Our beautifully designed theme will suit your marketplace making it look modern and professional.
          You can easily create new pages and adapt the entire site to match your own brand. Customize titles and buttons, upload your own logo and photos and change colors with just a few clicks. No coding required (unless you want to!)

        %li#manage
          %h2 Manage
          %h3 Manage your entire business from our powerful dashboard
          %p Monitor everything from your Near Me control panel. You can easily manage your inventory and get full control over analytics, marketing, sales, partnerships, customer support... Keep track of key data of your business. All in one place.
          %h3 Contributors
          %P Share your account and grant access to other people in your business. You can easily create roles with custom levels of access in your Near Me dashboard. You will be able to edit or delete roles and access levels at any time.

        %li#marketing
          %h2 Marketing
          %h3 Engage with your customers and manage all the social interactions within the dashboard.
          %h3 Blogging Platform
          %p You’ll be able to edit your own blog and let your visitors comment and share content on Facebook, Twitter, and Linkedin.
          %h3 Email Platform
          %p Manage your own emails to connect with your customers and strengthen your brand. You can define the type of email, content and frequency.  Engage users and bring more traffic to your site.
          %h3 Direct Messaging
          %p Provide a direct messaging tool for your customers to communicate between each other about transactions related to sharing items.  Allow your users through the internal messaging tool to quickly communicate.
          %h3 Social Connections
          %p You can easily display social sharing links in mailers and different pages of your marketplace so your customers can share their activity with their friends and followers on Facebook, Twitter, Linkedin and Google+.

        %li#payments
          %h2 Payments
          %h3 Hassle-Free Payments
          %p No need to have any previous e-commerce experience. Our secure platform will provide many levels of payments for a seamless experience for you and your customers. You’ll be able to accept payments, automate payouts to customers and set your transaction fees instantly, via Paypal, Balanced Payments or Stripe and track all the transactions made in your marketplace.

        %li#analytics
          %h2 Analytics
          %h3 Track your KPIs
          %p Our built-in analytics dashboard will provide you with an accurate traffic analysis and audience behavior. The intuitive interface displays the data as pie charts, timelines and tables, and you can also export all data into an excel document. Quickly analyze all the metrics that matter to your marketplace, daily or over time:
          %ul
            %li Revenue
            %li Reservations
            %li New Listings
            %li Sign-ups
          %p Identify top users and the most successful products to get the most out of you business.


        %li#hosting
          %h2 Hosting & Security
          %h3 Hosting
          %p Near Me provides you with a free custom domain name, or if you have your own domain name you can use it with Near Me.
          %h3 Security
          %p The security of data is ensured via industry-standard security measures. We require HTTPS access for all data stored on our platform and provide Level 1 PCI compliance and 128 bit SSL encryption of credit card data.

        %li#integrations
          %h2 Integrate with leading business applications
          %p Near Me integrates with Stripe, Balanced, and PayPal to manage your payments and Olark to provide live chat customer support. No coding needed. Near Me also includes social media integration. Your users can connect through their social accounts on Linkedin, Twitter, Facebook and Instagram to provide social trust and follow their friend’s activities on your marketplace. They can also authenticate through Facebook, Twitter or Linkedin. We’ll be adding new applications soon to meet your marketplace needs.

        %li#support
          %h2 Customer Support
          %h3 Help Center
          %p Near Me is committed to offering you all the support you need to make a successful marketplace. We will help you to launch your dream marketplace and will go with you along the way to promote and grow your business. Our customer care team will assist you over the phone, live chat, email, Twitter and Facebook. Check also our Blog for the latest news.
          %h3 Customer Service Management Tool
          %p Forget third party customer service ticketing, you can answer and manage your customers inquiries, all from one dashboard.
          %h3 Live Chat Support
          %p You can contact us via live chat during weekdays from 9:00 am PST until 6:00 pm PST Monday through Friday.
