.top-slider
  %ul.slides
    %li.slide-item
      %img.slide-image.slide-image-desktop{alt: "", src: "assets/platform_home/homepage-hero-backgrounds-1.png"}/
      %img.slide-image.slide-image-mobile{alt: "", src: "assets/platform_home/homepage-hero-backgrounds-2.png"}/

    %li.slide-item
      %img.slide-image.slide-image-desktop{alt: "", src: "assets/platform_home/homepage-hero-backgrounds-3.png"}/
      %img.slide-image.slide-image-mobile{alt: "", src: "assets/platform_home/homepage-hero-backgrounds-4.png"}/

    %li.slide-item
      %img.slide-image.slide-image-desktop{alt: "", src: "assets/platform_home/homepage-hero-backgrounds-5.png"}/
      %img.slide-image.slide-image-mobile{alt: "", src: "assets/platform_home/homepage-hero-backgrounds-6.png"}/

    %li.slide-item
      %img.slide-image.slide-image-desktop{alt: "", src: "assets/platform_home/homepage-hero-backgrounds-7.png"}/
      %img.slide-image.slide-image-mobile{alt: "", src: "assets/platform_home/homepage-hero-backgrounds-8.png"}/

    %li.slide-item
      %img.slide-image.slide-image-desktop{alt: "", src: "assets/platform_home/homepage-hero-backgrounds-9.png"}/
      %img.slide-image.slide-image-mobile{alt: "", src: "assets/platform_home/homepage-hero-backgrounds-10.png"}/

  .slider-caption
    .slide-content
      .slide-caption
        %h2 CREATE YOUR OWN MARKETPLACE
        %p Near Me is a complete solution for creating your own branded marketplace. No coding required.
        .slide-content-buttons
          %a.btn.btn-primary{href: "/#demo"} request demo

  .slide-foot
    %a.link-more{href: "#"}
      Learn More
      %i.ico.ico-arrow-down

.main.main-secondary
  #section-tabs.section.section-tabs
    .container
      %ul#myTab.nav.nav-tabs
        %li
          %a{"data-toggle" => "tab", href: "#home"} For Entrepreneurs
        %li.active
          %a{"data-toggle" => "tab", href: "#profile"} For Brands

      #myTabContent.tab-content
        #home.tab-pane
          %h3 LAUNCH YOUR BUSINESS.
          .row
            .col-md-4
              .feature
                %i.ico.ico-time
                %h4 SAVE TIME
                %p We're your CTO. You can grow your business.

            .col-md-4
              .feature
                %i.ico.ico-cost
                %h4 REDUCE COSTS
                %p Your marketplace built in just days.

            .col-md-4
              .feature
                %i.ico.ico-key
                %h4 ALL-IN-ONE
                %p Everything you need to run your marketplace.

        #profile.tab-pane.active
          %h3 HAS YOUR BRAND JOINED THE SHARING ECONOMY?
          .row
            .col-md-4
              .feature
                %i.ico.ico-avatar
                %h4 Increase Customer  Loyalty
                %p Retain your customers

            .col-md-4
              .feature
                %i.ico.ico-heart
                %h4 Grow Traffic
                %p Drive new valuable customers

            .col-md-4
              .feature
                %i.ico.ico-buble
                %h4 Build Community
                %p Peers build a trusted brand getting what they want from each other.

  .section.section-secondary
    .container
      %h2 HAVE AN IDEA? WE CAN POWER IT

      %p Monitor everything from your Near Me control panel. Easily manage your inventory, customers, partners, and get full control over analytics and payments.
      .slider-small
        .slider-paging

        .slider-clip
          %ul.slides
            %li.slide
              %img{alt: "", src: "assets/platform_home/slide-01.png"}/

            %li.slide
              %img{alt: "", src: "assets/platform_home/slide-02.png"}/

            %li.slide
              %img{alt: "", src: "assets/platform_home/slide-03.png"}/

            %li.slide
              %img{alt: "", src: "assets/platform_home/slide-04.png"}/

        .slider-actions
          %a.prev{href: "#"}
          %a.next{href: "#"}

  #demo.section.section-form
    %img.bg{alt: "", src: "assets/platform_home/section-form-bg.jpg"}/
    .section-inner
      .section-head
        %h2 GET INTO THE BUSINESS OF SHARING
        %p We’ll power your marketplace with all of the features, tools, and support you need to grow your sharing economy business and lead the collaborative consumption movement.

      .form-contact
        = render partial: 'platform_home/shared/contact_form', locals: { platform_contact: @platform_contact }
