- title "Create Your Own Marketplace | Near Me"
.top-slider
  %ul.slides
    %li.slide-item
      =image_tag "platform_home/homepage-hero-background-1.jpg", class: 'slide-image slide-image-desktop'
      =image_tag "platform_home/homepage-hero-background-1-sm.jpg", class: 'slide-image slide-image-mobile'

    %li.slide-item
      =image_tag "platform_home/homepage-hero-background-2.jpg", class: 'slide-image slide-image-desktop'
      =image_tag "platform_home/homepage-hero-background-2-sm.jpg", class: 'slide-image slide-image-mobile'

    %li.slide-item
      =image_tag "platform_home/homepage-hero-background-3.jpg", class: 'slide-image slide-image-desktop'
      =image_tag "platform_home/homepage-hero-background-3-sm.jpg", class: 'slide-image slide-image-mobile'

    %li.slide-item
      =image_tag "platform_home/homepage-hero-background-4.jpg", class: 'slide-image slide-image-desktop'
      =image_tag "platform_home/homepage-hero-background-4-sm.jpg", class: 'slide-image slide-image-mobile'

  .slider-caption
    .slide-content
      .slide-caption
        %h2 CREATE YOUR OWN MARKETPLACE
        %p Near Me is a complete solution for creating your own branded marketplace. No coding required.
        %div
          %a.btn.btn-primary{href: "http://get.near-me.com/demo-video"} Watch Video

  .slide-foot
    %a.link-more{href: "#"}
      Learn More
      %i.ico.ico-arrow-down

.main.main-secondary
  #section-tabs.section.section-tabs
    .container
      %ul#myTab.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", href: "#home"} For Entrepreneurs
        %li
          %a{"data-toggle" => "tab", href: "#profile"} For Brands

      #myTabContent.tab-content
        #home.tab-pane.active
          %h3 LAUNCH YOUR BUSINESS.
          .row
            .col-md-4
              .feature
                %i.ico.ico-time
                %h4 SAVE TIME
                %p We're your CTO. You can grow your business.

            .col-md-4
              .feature
                %i.ico.ico-cost
                %h4 REDUCE COSTS
                %p Your marketplace built in just days.

            .col-md-4
              .feature
                %i.ico.ico-key
                %h4 ALL-IN-ONE
                %p Everything you need to run your marketplace.

        #profile.tab-pane
          %h3 HAS YOUR BRAND JOINED THE SHARING ECONOMY?
          .row
            .col-md-4
              .feature
                %i.ico.ico-avatar
                %h4 Increase Customer  Loyalty
                %p Retain your customers.

            .col-md-4
              .feature
                %i.ico.ico-heart
                %h4 Grow Traffic
                %p Drive new valuable customers.

            .col-md-4
              .feature
                %i.ico.ico-buble
                %h4 Build Community
                %p Build a trusted brand by helping people get what they want from each other.
  
  .section.banner
    .container
      %p FEATURED IN...
      .row
        %a{href: "http://www.fastcolabs.com/3031868/creative-ways-to-make-a-name-for-yourself-when-bootstrapping", target: "_blank"}
          =image_tag "platform_home/banner-logo-02.png"
        %a{href: "http://live.wavecast.co/socialbusinessleaders/2014/08/02/michelle-regner/", target: "_blank"}
          =image_tag "platform_home/media-logo-10.png"
        %a{href: "http://www.pressheretv.com/predictions-for-2014/", target: "_blank"}
          =image_tag "platform_home/media-logo-03.png"
        %a{href: "http://www.sfgate.com/technology/article/Near-Me-offers-platform-for-sharing-economy-5650167.php", target: "_blank"}
          =image_tag "platform_home/banner-logo-01.png"
        %a{href: "http://www.virgin.com/entrepreneur/how-the-worlds-biggest-brands-came-to-love-the-sharing-economy", target: "_blank"}
          =image_tag "platform_home/media-logo-05.png"
        %a{href: "http://www.shareable.net/blog/3-platforms-to-start-your-own-sharing-service", target: "_blank"}
          =image_tag "platform_home/media-logo-02.png"

  .section.section-secondary
    .container
      %h2 HAVE AN IDEA? WE CAN POWER IT

      %p Let us help you bring your vision for a peer-to-peer marketplace to life.
      .slider-small
        .slider-paging

        .slider-clip
          %ul.slides
            %li.slide
              =image_tag "platform_home/slide-01.png"

            %li.slide
              =image_tag "platform_home/slide-02.png"

            %li.slide
              =image_tag "platform_home/slide-03.png"

            %li.slide
              =image_tag "platform_home/slide-04.png"

        .slider-actions
          %a.prev{href: "#"}
          %a.next{href: "#"}

  .section.section-form
    =image_tag  "platform_home/section-form-bg.jpg", class: 'bg'
    .section-inner
      .section-head
        %h2 Featured Resource
        %a.featured-resource{href: "http://get.near-me.com/marketplace-101", target: "_blank"}
          =image_tag "platform_home/banner-ebook.jpg"
