%section.background-video
  #logo
    %a{href: '/'}
  %img.video_fallback{src: "/assets/video-poster.jpg"}
  :plain
    <video id="video" preload="preload" poster="/assets/video-poster.jpg" loop>
      <source src="/assets/background-video.mp4" type="video/mp4">
      <source src="/assets/background-video.ogv" type="video/ogg">
    </video>
  #video-filter
  .body
    %h1
      Get in the Business
      %br
      of Sharing.

    .arrow
      %a{href: '#'}
        %img{src: '/assets/chevron-down.png', border: 0, alt: 'down'}


%section.create-and-manage.section.pink-section
  %h2 
    Create and manage your own
    %br
    peer-to-peer marketplace.

  .laptop.hidden-phone
    .title
      I want to create a website where people can:

    .input-left
      %ul.simply-scroll-list
        %li share
        %li rent
        %li swap
        %li exchange
    .input-right
      %ul.simply-scroll-list
        %li bikes
        %li classic cars
        %li clothing
        %li toys


%section.empower.section.light-section
  %h2
    Empower any sharing ecosystem
    %br
    you can imagine.

  .container-fluid
    .row-fluid
      .span1.offset1
      .span4.box.entrepreneurs
        %h3 For Entrepreneurs
        .icon
          %img{src: '/assets/for-entrepreneurs-ico.png'}
        .body
          Have the entrepreneurial spirit? No developers needed to setup a custom marketplace website in minutes.
      .span4.box.brands
        %h3 For Brands
        .icon
          %img{src: '/assets/for-brands-ico.png'}
        .body
          More people are sharing every day. Don't miss out on the new way that people consume.
      .span1.offset1


%section.how-it-works.section.pink-section
  %h2
    How it works.

  .title
    Near Me is a simple, easy, customizable marketplace solution that allows
    %br
    you to share, trade, swap, or rent anything by providing everything you
    %br
    need for a successful online marketplace.

  .container-fluid
    .row-fluid.animation
      .span6.hidden-phone
        .wheel
          = render 'spinner'


      .span6.text.boxes
        .box{:data => {:for => "360"}}
          %h3 Choose your marketplace
          .text-body
            Anything from camping gear to furniture. Decide what type of marketplace you'd like to create and turn your idea into a business ready to launch.

        .box.hidden{:data => {:for => "300"}}
          %h3 Create your Custom Site
          .text-body
            Build your branded marketplace in a simple and intuitive manner. Everything you need is included in our solution and all is mobile ready from the start.

        .box.hidden{:data => {:for => "240"}}
          %h3 Build a Community
          .text-body
            Communicate with your users across social channels and create a community around your marketplace. Our social tools and integration allow you to provide a great customer experience.

        .box.hidden{:data => {:for => "180"}}
          %h3 Grow the Business
          .text-body
            Save time and money with Near Me. Grow your marketplace using our promotional and online marketing tools and drive traffic to your site.

        .box.hidden{:data => {:for => "120"}}
          %h3 Measure
          .text-body
            You'll have full control of your website's analytics. Data is power, use it effectively and improve the performance of your site all from your own dashboard.

        .box.hidden{:data => {:for => "60"}}
          %h3 Money in your pocket 
          .text-body
            Monetize your customer base and start generating revenue. No membership fees, no barriers between you and your cash, accept payments instantly.

        .navigation
          %a.left{href: '#'}
            %img{src: '/assets/chevron-left.png', border: 0}/

          %a.right{href: '#'}
            %img{src: '/assets/chevron-right.png', border: 0}/



%section.get-in-the-business.section.light-section
  %h2
    Get in the Business of Sharing.

  .container-fluid
    .row-fluid
      .span1
      .span3.box
        .icon
          %img{border: 0, src: '/assets/bulb-ico-2.png'}
        %h3 No coding needed
        .body
          Creating your marketplace is easy without developers. Customize your branding, pages, settings and so much more.
      .span3.box.middle-box
        .icon
          %img{border: 0, src: '/assets/lock-ico.png'}
        %h3 Reliable Infrastructure
        .body
          Pick your domain name and we take care of the rest!
      .span3.box
        .icon
          %img{border: 0, src: '/assets/check-ico.png'}
        %h3 Hassle-free Payments
        .body
          Instantly accept payments from your users and set the fees that suit your business so you can start making money.
      .span1

    .row-fluid
      .span1
      .span3.box
        .icon
          %img{border: 0, src: '/assets/conversation-ico.png'}
        %h3 Personalized Support
        .body
          Support for you and your users. Our customer team will respond to your request in a timely manner. The team will help get you set up or bring your business to the next level.
      .span3.box.middle-box
        .icon
          %img{border: 0, src: '/assets/mobile-device-ico.png'}
        %h3 Go Mobile
        .body
          Our technology allows you to customize a mobile app for your business. The world is going mobile and we'll get you there.
      .span3.box
        .icon
          %img{border: 0, src: '/assets/upward-trend-ico.png'}
        %h3 Powerful Analytics
        .body
          Analyze traffic and user behavior to unlock new revenue opportunities.
      .span1



%section.build-yours-now.section.light-section
  %h2
    Build yours now.

  %form{method: 'POST', action: '/notify-me', id: 'notify-me'}
    .title Launching soon. Be the first to know!
    %input{type: 'email', name: 'email', placeholder: 'enter your email address here.'}
    %br
    %a.btn.btn-large.btn-red{href: '#'} NOTIFY ME

  .title
    love it? please share, we like sharing.

  .social-icons
    %ul.icons.clearfix
      %li.popup
        %a{href: twitter_share_url, :class => 'share-link', :'data-network' => 'Twitter', :'data-window-width' => 550, :'data-window-height' => 420}
          %img{src: '/assets/twitter-ico.png'}
      %li.popup
        %a{href: linkedin_share_url, :class => 'share-link', :'data-network' => 'LinkedIn', :'data-window-width' => 600, :'data-window-height' => 472}
          %img{src: '/assets/linkedin-ico.png'}
      %li.popup
        %a{href: facebook_share_url, :class => 'share-link', :'data-network' => 'Facebook', :'data-window-width' => 420, :'data-window-height' => 339}
          %img{src: '/assets/facebook-ico.png'}
      %li.popup
        %a{href: gplus_share_url, :class => 'share-link', :'data-network' => 'Google+', :'data-window-width' => 500, :'data-window-height' => 470}
          %img{src: '/assets/gplus-ico.png'}
      %li.send-email
        %a{href: "#", :class => 'share-link', :'data-network' => 'Email'}
          %img{src: '/assets/mail-ico.png'}

  #email-modal.modal.fade.hide{"aria-hidden" => "true", "aria-labelledby" => "email-modal-label", role: "dialog", tabindex: "-1"}
    .modal-dialog
      .modal-content
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &times;
        .modal-header
        .modal-body
          %form{method: 'POST', action: '/send-email', id: 'send-email'}
            %label{for: 'emails'} To
            %input{type: 'text', name: 'emails', placeholder: 'Multiple emails? Use commas.'}
            %label.middle-label{for: 'your_name'} Your Name
            %input{type: 'text', name: 'your_name'}
            %label.middle-label{for: 'emails'} Message
            %p.disabled-block
              Check out Near Me, a new platform for creating peer-to-peer marketplaces: #{host}
        .modal-footer
          %a.btn.btn-red{href: '#'} SEND

%script
  $(function(){ new HomeController(); });
