.shell
  = render 'platform_home/shared/careers_sidebar'

  .content
    .article
      %ul.list-features
        %li
          %h2 Operations Manager

          %h3 Position Overview
          %p Our Business Operations Manager will be our “Data Guru”, digging into the depths of data, asking the right business questions regarding its validity, ensuring our Executives and Business Partners are consistently informed about our business performance. We are looking for someone who is a big picture thinker who gets things done.  Ideally, you love driving efficiencies and have a curious mind to want to make things better.

          %p In this key role you will be a Business Partner to our Executive, Product, Engineering, Sales, Business Development team members.

          %h3 Responsibilities:
          %ul
            %li Keep your fingertip on the pulse of the business to ensure it is operating as successfully as possible; stepping in to help drive improvements, as needed
            %li Create and manage models and operational dashboards to monitor product performance and to continually analyze growth and engagement drivers
            %li Conduct in-depth analyses on product economics, member growth, and engagement
            %li Communicate key insights to Product Leads and the cross-functional teams
            %li Define and drive analyses aimed at developing a comprehensive understanding of products performance, growth drivers, and trajectory
            %li Deliver on strategic projects for our leadership team
            %li Constantly improve and implement  processes and procedures to make our internal execution efficient and measurable
            %li Work in close partnership with the cross-functional team (e.g. Product, Engineering, Sales, Marketing and BD) on a variety of projects and activities aimed at driving product success

          %h3 Skills and Experience
          %ul
            %li Have a minimum of 5  years of work experience at a top-tier management-consulting firm, investment bank, or operating role in a software, media or Internet company. Undergraduate degree in a technical major from a top tier university is preferred
            %li A BS or equivalent experience is required, an MBA or MS is preferred
            %li Have a passion for the sharing economy and technology
            %li Be proactive and relentless: Independently capable of seeking information, solving conceptual problems, corralling resources, and delivering results in challenging situations
            %li Be results-oriented, with a discipline of measurement and improvement
            %li Have high-energy, company and team-first attitude: Must be motivated to work hard in a fast-paced, demanding environment to help our growing business
            %li Have project / program management experience including strong organizational skills and attention to detail
            %li Have the ability to prioritize and multi-task in a fast paced, changing environment A team player who works collaboratively and effectively across a diverse set of functions, backgrounds, and working styles
            %li Be intellectually curious. Strategic thinker and creative problem solver. Execution-oriented, persistent, and willing to roll up your sleeves
            %li Have significant experience reporting analytics and insights to product leads and senior executives. Should also be highly proficient in using MS Excel and Salesforce, as well as translating into insightful MS PowerPoint presentations
            %li Possess clear communication: Able to articulately present and debate recommendations with senior leadership
            %li Have exceptional  analytical skills and loves data: Experience solving real world business and product problems using advanced Excel modeling and relational databases
            %li Have experience working with large datasets and using practical statistical analyses.
            %li Have practical business understanding - required

          %h3 Benefits Include:
          %p Equity, Health, Dental, Vision, Accident Life

          %h3 How to Apply:
          %p Send an email to jobs@near-me.com including the following:
          %ul
            %li A short paragraph on why you want to work at Near Me
            %li Link to LinkedIn profile