.intro
  %h1 PRESS & MEDIA

- content_for :inner_page do
  .content.col-md-9
    .row
      .col-md-6
        .media-item
          .media-logo
            %a{href: "https://medium.com/all-things-crowd/fe1e46b8c02f", target: "_blank"}
              =image_tag "platform_home/media-logo-01.png"

          .media-body
            %p "The convergence of all things crowd had quite a 2013. Startup to watch Near-Me.com..."

      .col-md-6
        .media-item
          .media-logo
            %a{href: "http://www.shareable.net/blog/need-a-place-to-work-here-are-9-coworking-apps-that-can-help", target: "_blank"}
              =image_tag "platform_home/media-logo-02.png"

          .media-body
            %p "DesksNear.Me is the largest provider of shared work spaces with over 9,000 listings at over 1,400 companies worldwide..."

    .row
      .col-md-6
        .media-item
          .media-logo
            %a{href: "http://www.pressheretv.com/predictions-for-2014/", target: "_blank"}
              =image_tag "platform_home/media-logo-03.png"

          .media-body
            %p "A major hotel chain will launch their own branded version of Airbnb..."

      .col-md-6
        .media-item
          .media-logo
            %a{href: "#"}
              =image_tag "platform_home/media-logo-04.png"

          .media-body
            %h3 FOR INQUIRES
            %p Please email press@near-me.com

= render template: "platform_home/layout/main_layout"
