.shell
  = render 'platform_home/shared/careers_sidebar'

  .content
    .article
      %ul.list-features
        %li
          %h2 Senior Sales Representative

          %h3 Position Overview
          %p We are looking for our first sales leader to help build and execute a productive software sales team.  Ideal candidates have a successful track record exceeding goals in sales of technology/platforms to business executives, believes in the value of sales process, and uses technology to enable productivity. As the first sales hire, candidates should be creative, entrepreneurial, and highly flexible.

        %li
          %h3 Responsibilities:
          %ul
            %li Pioneer sales approach to both large brands and new entrepreneurs
            %li Define and execute territory and account strategies to achieve defined sales targets
            %li Develop new accounts through a mix of outbound prospecting activity and inbound leads
            %li Assist with miscellaneous projects and duties to support team members and grow our business

        %li
          %h3 Skills and Experience
          %ul
            %li 3-5+ years of demonstrated success in selling business applications to senior executives in relevant enterprises
            %li Excitement to help build a business in a bleeding-edge market and develop new sales processes
            %li Bachelor’s Degree from an accredited 4-year college/university
            %li Willingness to travel a must

        %li
          %h3 Benefits Include:
          %p Equity, Health, Dental, Vision, Accident Life

        %li
          %h3 How to Apply:
          %p Send an email to jobs@near-me.com including the following:
          %ul
            %li A short paragraph on why you want to work at Near Me
            %li Link to LinkedIn profile