%section.unsubscribe.section.light-section
  #logo
    %a{href: '/'}

  .title 
    You have been successfully unsubscribed.
    .links
      %a{href: @resubscribe_url} Resubscribe
      &nbsp; &bull; &nbsp;
      %a{href: '/'} Home

