- title t('dashboard.nav.edit')

- content_for :page_header do
  %h1= yield :title

  .options
    = link_to t('dashboard.user_profile.view_profile'), user_path(current_user)

= render 'dashboard/shared/profile_nav', active: :default

= render :partial => "registrations/form", :locals => { :url => registration_path(resource_name), :country => @country }
