- title t('dashboard.nav.social_accounts').html_safe

- content_for :page_header do
  %h1= yield :title

- if @supported_providers.any?
  = render "registrations/networks", supported_providers: @supported_providers

- if HiddenUiControls.find('registrations/click_to_call').visible?
  = render "registrations/click_to_call"


- if @supported_providers.empty? && HiddenUiControls.find('registrations/click_to_call').visible? == false
  .panel.verification
    .panel-body.notifications
      %p.empty-resultset= t('registrations.social_accounts.no_social_providers', marketplace_name: platform_context.name).html_safe
