/*
		Site wide styles for widgets and elements
*/

/* === Workplace Detail */

article.workplace { }

article.workplace h1 {
	font-weight: 400;
}

div.workplace details {
  float: left;
  width: 35%;
  padding-top: 20px;
}

div.workplace table td details {
  float: none;
  width: auto;
  padding-top: inherit;
}

div.workplace details img {
  float: left;
  margin-right: 10px;
}

div.workplace table.bookings {
  float: left;
  width: 65%;
}

/* === Booking table */

table.bookings.extended {
	width: 100%;
	border: none;
}

table.bookings.extended tr th {
	border-bottom: 2px solid #CCC;
}

table.bookings.extended tr td {
	border-bottom: 1px solid #CCC;
	text-align: center;
	height: 32px;
	line-height: 32px;
	font-size: 16px;
	width: 20%;
}

table.bookings.extended tr td details.availability {
	display: none;
	margin: 6px 3px;
	border-radius: 3px;
}

table.bookings.extended tr td.hover time, table.bookings.extended tr td:hover time {
	display: none;
}

table.bookings.extended tr td time {
	display: block;
	margin: 6px 3px;
	border-radius: 3px;
}

table.bookings.extended tr td.hover details.availability,
table.bookings.extended tr td:hover details.availability {
	display: block;

}

table.bookings.extended tr td.day.available time {
	background: #87C97B;
}

table.bookings.extended tr td.day.last_bookings time {
	background: #DCC060;
}

table.bookings.extended tr td.day.booked time {
	background: #D2666B;
}

table.bookings.extended tr td.day.unavailable time {
	background: #CCC;
	color: #666;
}

table.bookings.extended tr td.unavailable.hover details.availability,
table.bookings.extended tr td.unavailable:hover details.availability {
	display: none;
}

table.bookings.extended tr td.unavailable.hover time,
table.bookings.extended tr td.unavailable:hover time {
	display: block;
}

/* === Big form search */

form.big_search .inner {
	background: rgba(0,0,0,0.1);
	border-top: 1px solid rgba(0,0,0,0.2);
	border-bottom: 1px solid #FFF;
	border-radius: 20px;
	height: 40px;
	overflow: hidden;
	position: relative;
}

form.big_search .inner input[type='text'] {
	background: transparent;
	border: none;
	outline: none;
	height: 38px;
	padding-left: 38px;
	font-size: 16px;
  width: 85%;
	font-weight: bold;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.3);
	color: #2B69B2;
}

form.big_search .inner input[type='submit'] {
	float: right;
	width: 26px;
	border: none;
	background: transparent url(/images/magnifier.png) no-repeat center center;
	height: 40px;
	margin-right: 10px;
}

form.big_search .inner input[type='submit']:hover {
	background: transparent url(/images/magnifier_alt.png) no-repeat right center;
}

form.big_search .inner input[type='submit']:active {
	background: transparent url(/images/magnifier_down.png) no-repeat right center;
}

form.big_search .inner input[type='text']::-webkit-input-placeholder {
	color: #888;
	font-style: italic;
}

form.big_search .inner input.geolocation {
	position: absolute;
	left: 10px;
	top: 8px;
	border: 0px solid #004ea1;
	background: #008ccb;
	width: 22px;
	height: 22px;
	border-radius: 11px;
	background: transparent url(/images/geolocation_inactive.png) no-repeat center center;
}

form.big_search .inner input.geolocation.active {
	-webkit-animation-name: geopulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	background: transparent url(/images/geolocation.png) no-repeat center center;
}

div.search input.geolocation.active.hover, div.search input.geolocation.active:hover {
	background: transparent url(/images/geolocation_alt.png) no-repeat center center;
}

div.search input.geolocation.active:active {
	background: transparent url(/images/geolocation_down.png) no-repeat center center;
}

@-webkit-keyframes geopulse {
 0% {
   -webkit-box-shadow: 0px 0px 6px rgba(0,174,239,0);
 }
 50% {
   -webkit-box-shadow: 0px 0px 6px rgba(0,174,239,1);
 }
 100% {
   -webkit-box-shadow: 0px 0px 6px rgba(0,174,239,0);
 }
}

/* === Headline */

section#headline {
	margin: 0 0 24px 0;
	overflow: hidden;
}

section#headline h2 {
	font-size: 48px;
	line-height: 48px;
	margin-top: 65px;
	margin-bottom: 12px;
	font-weight: 700;
	text-shadow: 0px 2px 0px #FFF;
}

section#headline .search {
	margin-top: 12px;
}

/* === Search results */

section#content.search div.workplace {
  border-bottom: 2px solid #CCC;
}

section#content.search div.workplace:last-of-type {
  border: 0;
}

/* === Google Map */

div.google-map {
	background: #FFF;
	background: rgba(255,255,255,0.7);
	padding: 12px;
	border-radius: 6px;
	margin: 12px 0;
}

div.google-map .inner {
	border: 1px solid #CCC;
	border-radius: 6px;
}

/* === Search results */

section#content.search h1 {
	font-size: 19px;
	font-weight: 600;
	line-height: 42px;
	margin-bottom: 12px;
}

/* === Footer */

footer {
	margin-bottom: 32px;
	border-top: 3px solid #EEE;
	padding-top: 12px;
}

footer div.copyright {
	line-height: 46px;
}

footer div.copyright img {
	float: left;
	margin-right: 12px;
	vertical-align: middle;
}

/* === Flashes */

div.flash {
	border-top: 1px solid rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.6);
	background: #EEE;
	padding: 6px 12px;
	border-radius: 6px;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 6px;
}

div.flash.notice, div.flash.alert {
	background: #FFF9B1;
	color: #995700;
}

div.flash.error {
	background: #FFC7C1;
	color: #991104;
}

div.flash.message {
	background: #BBF6FF;
	color: #206C99;
}