<h2>Great job, {{ listing.creator.first_name }}!</h2>

<p>Your listing {{ listing.name }} has been approved.</p>

<p>It will be accessible for all users. See how <a href="{{ listing.listing_url }}">it looks</a>

