- if Authentication.available_providers.any?
  %span#service_buttons

    - Authentication.available_login_providers.each do |provider|
      - provider = provider.downcase
      = link_to provider_auth_url(provider), :class => "btn btn-large #{provider} submit", :id => provider do
        %i{:class => "icon ico-#{provider}"}

  .hr.divider
    %span= t 'sign_up_form.or'
