- title "Sign In Options"
.grid_4.alpha
  %h1.tk-chaparral-pro Sign In with your favourite service
  %br/
  %p Do you hate having to sign up with a username and password for every single website you use? We do too!
  %p Thats why we use your other services to authenticate for you. So you can use your existing Twitter or OpenID account and login without setting up another account.
  %p It just takes seconds and its uber-awesome!
.grid_8.omega
  %a.auth_provider.grid_4.alpha{:href => "/auth/twitter"}
    = image_tag "twitter_service.png", :alt => "Twitter"
  %a.auth_provider.grid_4.omega.openid{:href => "/auth/open_id"}
    = image_tag "openid_service.png", :alt => "OpenID"
