%li.listing
  = link_to edit_manage_waiver_agreement_template_path(waiver_agreement_template), :class => "edit" do
    .bar-text
      = waiver_agreement_template.name
    .links
      %span.icon.ico-edit
      %span.text
        Edit Waiver Agreement
    .clearfix
