- title "Waiver Agreement"

= show_manage_navigation(:waiver_agreement_template)

.row-fluid
  .span8.offset2
    %div{:class => (params[:action] == 'index') ? '' : 'box'}
      %ul.locations
        %li
          .box
            %header
              %ul.location-and-listings
                %li.location
                  .name
                    Waiver Agreement Templates
            %ul.location-and-listings
              = render partial: 'waiver_agreement_template', collection: @waiver_agreement_templates
              %li.listing
                = link_to new_manage_waiver_agreement_template_path do
                  .links
                    %span.icon.ico-plus
                    %span.text
                      Add Waiver Agreement Template
                  .clearfix
