---
name: refer_a_friend
base_form: CustomizationForm
authorization_policies:
  - form_policy
workflow_steps:
  - test step
configuration:
  properties:
    enquirer_name:
      validation:
        presence: true
email_notifications:
  - some_email_notification
api_call_notifications:
  - api_notification
sms_notifications:
  - some_sms
---
<h1>Refer a Friend</h1>
