---
name: refer_a_friend
base_form: CustomizationForm
authorization_policies:
  - form_policy
workflow_steps:
  - test step
configuration:
  properties:
    enquirer_name:
      validation:
        presence: true
---
  <h1>Refer a Friend</h1>
