- content_for :domready do
  - if params[:action] == 'booking_successful'
    $(document).trigger('load:modal.nearme', ['#{booking_successful_listing_reservation_path(@reservation.listing, @reservation)}']);
