.credit-card-fields
  - if @reservation_request.errors[:cc].present?
    .flash.error
      %ul
        - @reservation_request.errors[:cc].each do |e|
          %li= e

  .padding-bottom.submit-secure-payment
    .row-fluid
      .span5.text
        .ico-lock Proceed to secure payment.
      .span7.credit-card-images
      .clearfix

  .padding-bottom.credit-card
    #paypal-button

  .clearfix
