.h1
  You're being redirected to secured payment ...

= form_tag @url, :class => 'hidden', :id => 'redirect-form' do
  = hidden_field_tag :payment_token, @token
  = submit_tag

:javascript
  $(function() {
    setTimeout(function() {
      var form = $('#redirect-form');
      form.submit();
    }, 5000);
  });
