<h2>Order Access Removed</h2>

<p>{{ lister.name }} has removed your access to the order. This consideration could be based on many factors such as: availability, budget, timeline, experience, etc.</p>

<p>The BronXchange team is interested in your success and always here to help. For more details, please click here or contact our support team at <a href="mailto:support@bronXchange.com">support@bronXchange.com</a> or {{ platform_context.phone_number }}, and we'll take care of you right away.</p>
