<h1>Congratulations!</h1>

<p>
You have been invited to submit a quote for an order by {{ lister.name }}. You will now have the ability to see the order details and contact the Purchaser through BronXchange marketplace for any questions or follow-up. You can make an offer anytime, but don't wait! You don't want to miss this opportunity. If you are not interested you may kindly reject the order as well.
</p>

<p><a href="{{ transactable.listing_url }}">Click here to view the order details.</a></p>

<p>If you would like help from our support team, just email or call us! Send us a message at <a href="mailto:support@bronXchange.com">support@bronXchange.com</a> or call {{ platform_context.phone_number }} and we'll take care of you right away.</p>

