.content-container
  %h4 FAQ
  .row
    .table-container.col-xs-12
      %table#faqs.table.sortable
        %thead
          %tr
            %th Name
            %th
        %tbody
          = render partial: 'faq', collection: @faqs
  .row
    .text-container.col-xs-12
      = link_to 'Add Question', new_instance_admin_manage_support_faq_path, class: 'btn btn-blue pull-right'

- content_for :domready do
  $(function() { new InstanceAdmin.FaqsController($('table#faqs')); });
