%h4 FAQ

.content-container
  .row
    .table-container.col-xs-12.dropshadow
      %table#faqs.table.sortable
        %thead
          %tr
            %th Name
            %th
        %tbody
          = render partial: 'faq', collection: @faqs
.content-container
  = link_to 'Add Question', new_instance_admin_manage_support_faq_path, class: 'btn btn-green pull-right'

- content_for :domready do
  $(function() { new InstanceAdmin.FaqsController($('table#faqs')); });
