%legend FAQ

= link_to 'Add Question', new_instance_admin_manage_support_faq_path, class: 'btn btn-primary pull-right'
%br

%table#faqs.table.sortable
  %thead
    %tr
      %th Name
      %th
  %tbody
    = render partial: 'faq', collection: @faqs

- content_for :domready do
  $(function() { new InstanceAdmin.FaqsController($('table#faqs')); });
