<div class="span2">
  <input class='search_date' type="text" name='start_date' readonly="readonly" value="From"/>
  <input type="hidden" name="availability[dates][start]"/>
</div>

<div class="span2">
  <input class='search_date' type="text" name='end_date' readonly="readonly" value="To"/>
  <input type="hidden" name="availability[dates][end]"/>
</div>
