  <div class="{{ transactable_type.calculate_input_size }}">
    <input class="query" name="query" placeholder="{{ 'homepage.search_field_placeholder.full_text' | translate }}" type="text" ></input>
  </div>