<div class='panel'>
  <div class='panel-body'>
    {% if transactables.size > 0 %}
      {% if is_client == "true" %}
        {% include 'dashboard/company/transactables/lister_listing.html' %}
      {% else %}
        {% include 'dashboard/company/transactables/enquirer_listing.html' %}
      {% endif %}
    {% else %}
      <p class='empty-resultset'>
        {{ 'dashboard.items.empty' | translate: name: transactable_type.bookable_noun_plural }}
      </p>
    {% endif %}
  </div>
</div>

{% will_paginate collection: transactables, inner_window: 1, outer_window: 0, class: '', renderer: dashboard, param_name: param_name %}
