---
name: About
---

<div class="container_main pages-about">
  <h1>About</h1>

  <h2>Challenge</h2>

  <p>The Bronx economy presents a vexing paradox: though residents, institutions, and local businesses spend billions of dollars each year, very little wealth stays within our communities to improve the economic prospects of local residents.  Instead, most of this spending bypasses local businesses, contributing to the Bronx’s place as one of the poorest urban counties in the United States. </p>

  <h2>Opportunity</h2>

  <p>Redirecting local purchasing power and shifting investment patterns in the Bronx will keep more dollars circulating within our neighborhoods. This means increased investment in the Bronx, which can be transformative for small and minority- and women-owned businesses owners and their employees, families, and communities.</p>

  <p>Accessing new markets through the BronXchange will allow Bronx entrepreneurs to expand their businesses, hire their neighbors at fair wages with good benefits, provide new training and asset-building opportunities for their employees, and improve health outcomes and environmental quality in the Bronx.</p>

  <h2>How BronXchange Works</h2>

  <p>The BronXchange connects purchasers with high-road local businesses and allows them to do business through shared ecommerce services and innovative financing tools. In addition to this virtual community, the marketplace also offers staff support to help broker new market opportunities and strengthen supplier networks, assess the needs of vendors and purchasers, and establish triple-bottom-line standards for the borough’s business community.</p>

  <h2>The BronXchange serves three primary functions:</h2>
  
  <ul class="list-unstyled">
    <li>We connect non-profits with local businesses through a searchable business directory and local network of vetted Bronx-based vendors that can meet procurement needs and offer favorable pricing.</li>
    <li>We provide shared business services and customized support - both online and offline - to streamline transactions and facilitate local sourcing.</li>
    <li>We promote sustainable and equitable business practices to improve the Bronx economy and build community wealth.</li>
  </ul>

  <h2>CommonWise Education and the Bronx Cooperative Development Initiative (BCDI)</h2>

  <p>The BronXchange was developed by CommonWise Education, Inc. and the Bronx Cooperative Development Initiative, a network of community and labor organizations, non-profit institutions, and small businesses working together to build a foundation for economic democracy in the Bronx. We believe that the Bronx already holds many of the resources needed to address its greatest challenges. By leveraging our existing assets we can achieve an equitable, sustainable, and democratic local economy.  For more information about CommonWise or BCDI please visit our website at <a href="http://www.commonwise.nyc">www.commonwise.nyc</a>.</p>

  <h2>BronXchange Team</h2>

  <ul class="list-unstyled">
    <li>Dara Nussbaum-Vazquez, CEO</li>
    <li>Joseph Carrano, CTO</li>
    <li>Paul Lipson & Luis Torres / Barretto Bay Strategies, Project Consultants</li>
    <li>Ernst Valery / EVI, Strategic Finance Partner</li>
    <li>Misra Walker, Marketing & Communications</li>
    <li>Maggie Tishman, Project Manager</li>
    <li>Ralph Castro, Office Manager</li>
  </ul>
</div>