---
name: FAQ
---

<div class="container_main pages-faq">
  <h1>Frequently Asked Questions</h1>

  <h2>How is LocalDriva different from other rideshare services?</h2>
  <p>LocalDriva is a new type of rideshare service that provides hourly bookings at fares well below other rideshare services. We are not a taxi service. We are much more. We provide affordable hour-to-hour driving and guide services, specifically for travellers, wanting the convenience and comfort of an affordable driver who is a local in the city and can provide you with real local advice.</p>

  <h2>Why use LocalDriva instead of other tour guides?</h2>
  <p>LocalDriva focus is on creating authentic travel experiences. We provide you the opportunity of being driven around in a private car to any location of your choice by a local driver at a fraction of the cost you would pay for other private chauffeurs or tour guides. With LocalDriva, you not only save time and money but you also gain access to advice and tips from a local, helping you to get a real feel for the city you are visiting.</p>

  <h2>How does LocalDriva work exactly?</h2>
  <p>When you make a booking you will choose different categories that best reflect your interests and trip goals, e.g. food, scenery, beaches, history, etc. Based on your responses, the driver guide will prepare some options for you. Whether you want a step-by-step plan or you are happy to let the driver guide give you a general outline, it’s entirely up to you. Anyway, you can alter the booking anytime you like. If you are enjoying one location, you can stay there longer or you can shorten your time there to get to another location.</p>

  <h2>Will the driver accompany me to each location?</h2>
  <p>That entirely depends on you! Do you want the driver to provide you with local advice, direct you where to go, drop you off and pick you up? Maybe you want your driver to take you and show you around different locations. That’s fine too! Driver guides want to make your trip as enjoyable and memorable as possible, any way they can.</p>

  <h2>How do I make a booking?</h2>
  <p>Input your travel destination and dates on our website homepage to view profiles of available local driver guides. Contact any driver guide directly via the LocalDriva website in order to discuss the details of your booking. Once you have agreed on the booking terms, you will receive a written confirmation and instructions to pay online.</p>

  <h2>How do I pay for bookings?</h2>
  <p>Payment for bookings are made online at the time of booking by credit card. All bookings details and costs are confirmed in writing before you pay.</p>

  <h2>How are the fees set for driver guide bookings?</h2>
  <p>Hourly rates for all drivers are set at a standard level, providing you excellent value. There are three categories of drivers. All drivers in each category charge the same affordable rates.</p>

  <h2>What driver categories are there?</h2>
  <p>The three LocalDriva driver categories are:</p>
  <ul>
    <li><strong>LocalDrivaX</strong> – Locals who know their city well but are not professional tour guides will show you around their city using their vehicle.</li>
    <li><strong>LocalDrivaPro</strong> – Drivers who have formal qualifications and recognised experience as a tour guide in the city they are providing the service, or a vehicle that can sit more than 6 passengers.</li>
    <li><strong>LocalDrivaPlus</strong> – Drivers with a luxury car providing a service for business travellers or other travelers seeking the extra comfort of a luxury vehicle.</li>
  </ul>

  <h2>What expenses are not included in booking fees?</h2>
  <p>The booking fee covers all travelling expenses. However, if any road tolls or parking fees are required, you will be informed beforehand and given a choice whether the expense is acceptable. If so, the passenger will pay the amount according to LocalDriva’s policy (currently cash and soon LocalDriva will provide a payment app).</p>

  <p>Any other expenses such as food, drink, etc. are to be paid by passengers.</p>

  <h2>Why do I need to join LocalDriva to make a booking?</h2>
  <p>It is free to join LocalDriva. While anyone can view driver profiles, we require that you set up a basic profile in order to make a booking. LocalDriva is more than just a driving service. We are a community platform built on friendship and trust. Just as passengers can learn about their drivers, so to do drivers have the opportunity to know a bit about their passengers.</p>

  <h2>Are LocalDriva driver guides professional tour guides?</h2>
  <p>While professional tour guides can be a very valuable resource, we recognize that not every traveller will require that level of expertise. That is why we provide the LocalDriva Standard service, using local drivers who love their city and have undergone LocalDriva’s own in-house training. We strongly believe that the main goal of a guide is to ensure that the traveler has a great time, sees the sights they want to see and customizes the tour to the interests of each traveller! We are confident that our driver guides will provide all of the above. We also have professional tourist guides on our platform. LocalDriva clearly states which driver are professional tour guides and which are not.</p>

  <h2>Where is LocalDriva available?</h2>
  <p>Localdriva currently available in Sydney, Australia and will soon be available in Melbourne and Brisbane. We will also be expanding our service to major cities cross the globe. Look out for more on this soon....</p>

  <h2>Is LocalDriva safe to use?</h2>
  <p>All LocalDriva driver guides must comply with all local rideshare driver regulatory requirements. Regardless, LocalDriva ensures that all driver guides have undergone a criminal history check, driving record review and have full personal liability insurance in place. LocalDriva also requires all vehicles to be inspected or to be examined by a qualified mechanic.</p>

  <h2>I don’t usually use tour guides when I travel. Why should I try LocalDriva?</h2>
  <p>LocalDriva drivers are more than just tour guides. They are there to give you a local experience and make sure you get to everywhere you want to go on your trip in comfort and at a cost that anyone can afford!

  <p>LocalDriva driver guides are as involved as you want them to be. You may just want a fast, reliable and cost-effective form of transport on your trip or you may want a planned itinerary. LocalDriva does it all. It's up to you!</p>

  <h2>Is LocalDriva only for international tourists?</h2>
  <p>Although LocalDriva is a great new service for international tourists, we also have a service catering to and business travelers. We are also happy to serve domestic tourists and even locals looking for a cost efficient hourly driver.</p>

  <h2>What is LocalDriva’s cancellation policy?</h2>
  <p>Cancellations may be made 48 hours before your booking and we will refund the total booking fee.</p>

  <h2>What if I am not happy with my driver guide?</h2>
  <p>In the very unlikely event that you are not fully satisfied with your booking, please contact us at <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a> within 24 hours after completion of your booking to inform us of the reason for your dissatisfaction. LocalDriva will conduct an investigation into the matter and may partially or full refund passengers in the event that the service has failed to live up to our high standards.</p>

  <h2>If I have any questions about LocalDriva’s service, who can I contact?</h2>
  <p>We are here to ensure that you have an amazing trip. We welcome you to contact us anytime with any questions or requests at <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a>.</p>
</div>
