---
name: FAQ
---

<div class="container_main pages-faq">
  <h1>Frequently Asked Questions</h1>

  <h2>How do I get involved?</h2>
  <p>Sign up to be an “early adopter” and get in on the ground floor! We have great incentives and discounts for you as a purchaser or vendor on the platform. Contact us here or at <a href="mailto:info@bronxchange.com">info@bronxchange.com</a> or [phone number].</p>

  <h2>What does it cost?  (Barretto Bay, Ernst, Daniel…)</h2>
  <p>Best way to message this?  (Note: It is free for purchasers; will have nominal transaction fee for vendors-5% and payment processing fees as typical with any e-commerce marketplaces or credit card transactions, everything waived for first 90 days, complimentary with marketplace picking up the tab. Invoice financing will also have small interest rate, TBD per Ernst).</p>

  <h2>What is invoice financing, and how do I take advantage of it?</h2>
  <ul class="list-unstyled">
    <li>Non-profit organizations can often take 30, 60, 90, or even 120 days to process payments to vendors. Such long payment cycles are often prohibitive for local businesses, and present a significant barrier for increasing local purchasing.</li>
    <li>We offer invoice financing in order to bridge the gap between when institutional purchasers remit payment and when vendors receive it.</li>
    <li>With our strategic financing partner Ernst Valery Investments (EVI) we are able to pay our local businesses within 48 hours of product delivery, so that they can continue to serve our Bronx non-profits.</li>
    <li>Unlike factoring companies, which often charge predatory interest rates in the double digits, or traditional lending or government-backed loan programs that require stacks of paperwork and can take up to several months to approve; our invoice financing provides rapid payment based off of the order itself, without a cumbersome approval process. Please contact us here or at <a href="mailto:info@bronxchange.com">info@bronxchange.com</a> or [phone number] to access this benefit.</li>
  </ul>

  <h2>How does the BronXchange support itself?</h2>
  <p>The BronXchange was founded by a mission-driven, non-profit organization in order to support local economic development. The BronXchange is designed to be financially self-sustaining, with revenues reinvested in the platform’s basic operations and other local economic development activities. </p>

  <h2>What is an M/WBE? What is the difference between an M/WBE vendor and a woman-owned or person of color-owned business?</h2>
  <ul class="list-unstyled">
    <li>M/WBE stands for minority- and/or woman-owned business enterprise. The majority of businesses on the BronXchange are owned by women or people of color because we seek to address the unequal wealth distribution in the Bronx—and society at large.</li>
    <li>Those with the designation M/WBE in their vendor profile have received official certification from the City or State government.</li>
    <li>If you are a vendor interested in receiving that certification, which can open the door to more business opportunities, please contact us at <a href="mailto:info@bronxchange.com">info@bronxchange.com</a> or [phone number].</li>
  </ul>

  <h2>What does pre-vetted or pre-qualified mean?</h2>
  <ul class="list-unstyled">
    <li>We have carefully selected the first set of featured businesses to meet rigorous standards for high-quality, affordable products and services AND good business practices. Our thorough intake process was designed to identify local businesses that can provide the products and services our institutions are seeking, while ensuring a broader community benefit.</li>
    <li>Our BronXchange team has interviewed key leadership on criteria such as workforce, operations, business practices, sustainability, and aspirational goals.</li>
  </ul>

  <h2>What is the X Factor business assessment, and how do you rate vendors?</h2>
  <ul class="list-unstyled">
    <li>The BronXchange has partnered with B Lab and Best for NYC to design and deploy a customized business assessment tool that measures businesses’  sustainable and equitable business practices.</li>
    <li>Through a participatory process, our community-based organizations and businesses identified the areas that were most impactful in transforming our local economy to broadly benefit the Bronx: community wealth, labor, and environment and health.</li>
    <li>BronXchange staff provide the assessment to businesses during the intake process and highlight the results in their vendor profiles so that customers know how their purchasing is benefiting the community.</li>
  </ul>

  <h2>How does communication work between vendor and purchaser?</h2>
  <ul class="list-unstyled">
    <li>The BronXchange connects buyers and sellers directly through the platform, and streamlines communication to make it as easy as possible for you to get the information you need.</li>
    <li>Institutional purchasers and organizations can search by vendor, product, or service; submit a request for a quote; receive proposals; and communicate with local vendors about their order details.</li>
    <li>Local businesses can receive order requests; submit proposals and quotes to potential customers or clients; and use the platform to communicate about order details and request any supplemental information.</li>
  </ul>

  <h2>What types of businesses do you have on BronXchange?</h2>
  <ul class="list-unstyled">
    <li>The BronXchange launched with a curated initial set of high-road Bronx-based businesses—primarily minority-, women-, and/or immigrant-owned—in procurement categories identified by Bronx institutional purchasers.</li>
    <li>Sectors and business categories include food and beverage wholesale and specialty manufacturing, building and maintenance supplies and services, skilled trades, technology, and energy and renewables, among others.</li>
  </ul>

  <h2>Does the BronXchange collaborate with other local economic development efforts?</h2>
  <ul class="list-unstyled">
    <li>The BronXchange helps businesses understand their needs and provides referrals to other procurement, business development, and capital access initiatives, as needed, to create a seamless and coordinated business ecosystem. </li>
    <li>Through partnerships with business service and technical assistance providers, we can certify BronXchange vendors to be added to  M/WBE vendor databases administered by the City, State, and City University of New York. Access to financing is also crucial as businesses experience growth through entry into new markets.</li>
    <li>The BronXchange is excited to collaborate with other initiatives highlighting the importance of local, such as NYC and B Lab’s “Best for NYC” Challenge and B Lab’s “Certified B Corporations” for triple-bottom-line companies, NYS Department of Agricultural and Markets “Pride in NY” for appropriate food businesses, and the Pratt Center’s “Made in NYC” for qualifying manufacturing businesses.</li>
  </ul>

  <h2>How does this platform compare with other procurement initiatives?</h2>
  <p>The BronXchange stands apart from other available procurement platforms in several important ways. First, it is a social enterprise, rooted in the community and tailored to address social and environmental challenges in the Bronx and build shared wealth for Bronxites. Second, it is not just a database but has the ability to process transactions online through shared ecommerce technology. Third, no single anchor or purchaser drives the marketplace, rather it is designed to meet the procurement needs of all local purchasers while organizing both local supply and demand in the aggregate.</p>

  <h2>What do you mean by “off-line” services?</h2>
  <ul class="list-unstyled">
    <li>Many BronXchange interactive features occur online through the platform in order to streamline transactions and save our customers time and money. However, our work does not stop there. Our team provides customized technical assistance to purchasers and vendors to meet your individualized local sourcing and business needs—at no additional cost to you.</li>
    <li>The BronXchange is a community marketplace, and we know that face-to-face interactions and long-term relationships are what build deep trust and knowledge needed to strengthen the local economy. . This sets us apart from other ecommerce platforms. We are proud to offer trade shows and merchant events with networking opportunities, business coaching, referrals, and a wide variety of other services.</li>
    <li>Please contact us here or at <a href="mailto:info@bronxchange.com">info@bronxchange.com</a> or [phone number] for an individual consultation.</li>
  </ul>

  <h2>What kind of marketing assistance do you provide?</h2>
  <ul class="list-unstyled">
    <li>The BronXchange is a community marketplace designed to feature and showcase our high-road institutions, organizations, and local businesses that are supporting the Bronx.</li>
    <li>Let us know how we can amplify your message among our users and wider community of non-profits, local businesses, community-based organizations, business service providers, elected officials, and other local stakeholders.</li>
  </ul>

  <h2>How do I launch this in my city?</h2>
  <p>Please contact us here or at <a href="mailto:info@bronxchange.com">info@bronxchange.com</a> or [phone number]. We would love to talk with you about this!</p>
</div>
