---
name: Purchaser benefits
---

<h1>Purchaser Benefits</h1>
<h2>Align your purchasing with your values</h2>

<ul class="list-unstyled">
  <li>Easily search our database of pre-qualified, vetted vendors to meet your institutional procurement needs</li>
  <li>Take advantage of exclusive discounts that leverage the collective buying power of Bronx institutions</li>
  <li>Benefit from customized sourcing assistance and business introductions</li>
  <li>Access full ecommerce functionality including electronic ordering and payment</li>
  <li>Discover performance standards for businesses and rating system to help maximize your community impact</li>
  <li>Enjoy organizational marketing highlighting your local economic impact</li>
</ul>