- locations.each do |location|
  %p You currently have no reservations. Promote your locations by tweeting or sharing a direct link!
  %ul
    %li
      =link_to tweet_location_url(location), :ref => "mg", :class => 'btn btn-blue btn-large twitter submit' do
        %span.ico-twitter.padding="Share #{location.name}"
    %li
      = link_to location_url(location), :class => 'btn btn-blue btn-large' do
        %span.ico-link.padding= "#{location.name} Link"
    %li
      .clearfix
  .clearfix