/ content wrapper
.wrap-a.reduce-top
  .contain
    / white box
    .box-a
      = simple_form_for :search_filter, url: root_url do |f|
        .filters-a
          .results
            = f.input :sort, as: :select, collection: ['Name', 'Date'], input_html: { class: 'selectize', data: { placeholder: t(:sort, scope: [:simple_form, :placeholders, :search_filter] )}}, wrapper_html: { class: 'sort' }

      = render 'shared/listing_projects', projects: @user.all_projects, see_more_type: "projects", see_more_route: see_more_projects_path(id: @user.id, type: @user.class.name)
