.content-container
  %h4
    = t('instance_admin.settings.locations.add_new_location_type')
  = simple_form_for [:instance_admin, :settings, LocationType.new], :defaults => {:required => false} do |f|
    .row
      .input-container.col-xs-12
        = f.input :name, label: 'Location Type Name', placeholder: 'Location type name', input_html: { class: 'form-control' }
    .row
      .input-container.col-xs-12
        = f.submit t('instance_admin.settings.locations.add'), :disable_with => 'Saving ...', :class => 'btn btn-light pull-right'
