= simple_form_for [:instance_admin, :settings, LocationType.new], :defaults => {:required => false} do |f|
  %h4 Add New Location Type
  .content-container
    .row.dropshadow
      .input-container.col-xs-12
        = f.input :name, label: 'Location Type Name', placeholder: 'Location type name'
  .content-container
    .row
      = f.submit "Add", :disable_with => 'Saving ...', :class => 'btn btn-grey pull-right'
