= "Are you sure you want to delete the '#{@location_type.name}' location type?"

= simple_form_for @location_type, :url => instance_admin_settings_location_type_path(@location_type), :method => :delete do |f|
  .pull-right
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
    = f.button :submit, 'Delete', class: 'btn btn-danger'
