= simple_form_for resource, :as => resource_name, :url => url, :html => { class: "form-horizontal form-expandable" } do |f|

  = render :partial => 'registrations/attributes', :locals => { f: f, only_inputs: [], country: @country }

  .actions
    = f.submit (resource.persisted?) ? "Save" : "Sign Up"

