= simple_form_for resource, wrapper: :bs3, :as => resource_name, :url => url, :html => { class: "form-horizontal form-expandable" } do |f|

  = render :partial => 'registrations/new_attributes', :locals => { f: f, only_inputs: [], country: @country }

  .submit-bar
    = f.submit "Save", class: "btn medium blue"
