%ul.services_list
  - supported_providers.each do |provider|
    %li{:class=>"service_provider", :id => "#provider_#{provider.downcase}"}
      %div{:class => "service_provider_name"}
        =provider
      .service_provider_link
        - if (authentication = Authentication.find_by_provider_and_user_id(provider.downcase, current_user.id))
          -if authentication.is_only_login_possibility?
            Not disconnectable
          -else
            = link_to authentication_path(authentication), :method => :delete do
              Disconnect 
        - else 
          = link_to provider_auth_url(provider.downcase) do
            Connect 
