- title "Your Account"

= render 'dashboard/navigation', :current => :account
.sign-up
  .two-thirds.column
    .box
      %h2== Your Account
      %p.intro
        You can change your account details below

      = render :partial => "registrations/form", :locals => { :url => registration_path(resource_name) }

      %h2== Your Networks
      %p.intro
        You can add various networks

      = render :partial => "registrations/networks", :locals => { :supported_providers => @supported_providers }

  .one-third.column.third-party

