- title "Your Account"

.row-fluid
  .span8.offset2
    %h2
      %span.ico-settings.padding Account Settings
    .box
      %p
        You can change your account details below


      = render "registrations/networks", :supported_providers => @supported_providers
      = render :partial => "registrations/form", :locals => { :url => registration_path(resource_name) }


:javascript
  $(function() {
    new EditUserForm()
  });
