- title t('dashboard.nav.edit')

.dash-page
  .dash-head.clearfix
    %p= t('dashboard.nav.edit')
    %p.pull-right= link_to "View Profile", user_path(current_user)
  .dash-body
    = render :partial => "registrations/form", :locals => { :url => registration_path(resource_name), :country => @country }
