- title "Edit profile"

.row-fluid
  .span8.offset2
    %h1
      %span.ico-settings.padding Settings
    .box
      %h2
        %span.ico-user.padding Profile
      %p
      = render "registrations/networks", :supported_providers => @supported_providers
      = render :partial => "registrations/form", :locals => { :url => registration_path(resource_name) }

:javascript
  $(function() {
    new EditUserForm()
  });
