%h2 Account
%p Here you can edit your details.
= render :partial => "registrations/form", :locals => { :url => registration_path(resource_name), :submit => "Save Account", :html => { :method => :put } }
