<h2>Account</h2>
<p>Here you can edit your details.</p>
<%= render :partial => "registrations/form", :locals => { :url => registration_path(resource_name), :submit => "Save Account", :html => { :method => :put } } %>
