- title "Your Account"

.row-fluid
  .span8.offset2
    .box
      %h2== Your Account
      %p.intro
        You can change your account details below


      = render "registrations/networks", :supported_providers => @supported_providers
      = render :partial => "registrations/form", :locals => { :url => registration_path(resource_name) }


:javascript
  $(function() {
    new EditUserForm()
  });
