%header.dialog__header
  %h2#dialog__title
    = t('user_messages.mobile_number.headers.updated')

#missing-mobile-number
  .dialog__actions
    = link_to t('user_messages.mobile_number.buttons.continue'), '#', data: { href: @return_path, modal: true }, class: 'btn btn-green btn-full'
