- legacy false
- title "Sign up to Desks Near Me"

#signup
  - if registration_wizard
    = render :layout => "#{registration_wizard}_wizard/wizard_layout", :locals => { :step => 0 } do
      = render 'registrations/signup_form'

  - else
    .row-fluid
      .span8.offset2
        .box
          %h2== Sign up to Desks Near Me

          = render 'registrations/signup_form'

- if request.xhr?
  :javascript
    Modal.setClass('sign-up-modal')

- content_for :script do
  :javascript
    analytics.track('Signed Up');
