- legacy false
- title "Sign up to Desks Near Me"
.sign-up
  .two-thirds.column
    .box
      %h2== Sign up to Desks Near Me
      %p.intro
        Sign up now to Desks Near Me and keep track of your spaces, bookings, favourites and reviews.

      = render :partial => "registrations/form", :locals => { :url => registration_path(resource_name), :submit => "Continue", :html => {} }

  .one-third.column.third-party
    = render "sessions/connect_provider", action: "sign up"
