<h2>Sign up</h2>
<p>Complete the rest of the signup by telling us a bit about yourself.</p>

<%= render :partial => "registrations/form", :locals => { :url => registration_path(resource_name), :submit => "Continue", :html => {} } %>
