- title t('sign_up_form.sign_up_to', marketplace_name: platform_context.name)

#signup
  .row-fluid
    .span8.offset2
      .box
        %header
          %h2= t 'sign_up_form.sign_up_to', marketplace_name: platform_context.name

        = render 'registrations/signup_form'

- if request.xhr?
  :javascript
    Modal.setClass('sign-up-modal')
