- title "Sign up to #{platform_context.name}"

#signup
  .row-fluid
    .span8.offset2
      .box
        %header
          %h2
            Sign up to
            = platform_context.name

        = render 'registrations/signup_form'

- if request.xhr?
  :javascript
    Modal.setClass('sign-up-modal')

- content_for :domready do
  analytics.track('Signed Up');
