= render :layout => 'space_wizard/wizard_layout', :locals => { :step => 0 } do
  .signup

- content_for :script do
  - if apply_analytics?
    :javascript
      analytics.track('Add a Space - Step 0 - Sign Up');
