- title "Set password"


#signup
  .row-fluid
    .span8.offset2
      .box
        %header
          %h2
            Choose How To Log In, #{current_user.first_name}
        %p
          You can use third party services
        = render 'authentications/services'
        .hr.divider
          %span Or
        %p
          You can just set your password
        = render "registrations/set_password_form"
