.slider-a.photos {
  .loading {
    .placeholder {
      display: block;
      margin-bottom: 10px;
      width: 100%;
      padding-top: 140 / 250 * 100%;
      background: $color-white-1;
      border: 1px solid $color-white-1;
    }

    .user {
      font-size: 0;

      &::before {
        display: inline-block;
        content: "";
        width: 30px;
        height: 30px;
        background: $color-white-1;
        vertical-align: middle;
        margin-right: 10px;
      }

      &::after {
        content: "";
        height: 18px;
        display: inline-block;
        width: calc(90% - 40px);
        background: $color-white-1;
        vertical-align: middle;
      }
    }
  }

  .thumbnail {
    display: block;
    margin-bottom: 10px;

    img {
      display: block;
      width: 100%;
      font-size: 0;
      text-align: center;
      border: 1px solid $color-white-1;

      &::before, &::after {
        content: "";
        display: block;
        height: 60px;
      }
    }
  }

  .user {
    font-size: 16px;
    line-height: 30px;

    img {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 0 5px 0 0;
      vertical-align: top;
    }
  }
}
