.content-container
  %h4= t('instance_admin.blog.settings.edit_settings')
  - if @blog_instance.present?
    = simple_form_for @blog_instance, url: instance_admin_manage_blog_settings_path, html: { multipart: true } do |f|
      = render "form", f: f
  - else
    %p= t('instance_admin.blog.settings.blog_not_available')

