<div class='case-invite-content'>
  <header>
    <h2>Bulk Invite to Case</h2>
    <button type="button" data-close>Cancel</button>
  </header>

  <p>Selected handling lawyers has been invited to {{ transactable.name }}</p>

  <div class="actions">
    <button type="button" class="button-b" data-close>I'm done</button>
  </div>
</div>
