- if current_user.nil?
  =# render 'home_not_signed_in'
- else
  =# render 'home_signed_in'

#activity
  .wrap-a.reduce-top
    .contain
      .page-a
        .primary
          .box-a

            %h1.h2
              Hello Hallmark
            %h1.h2
              Hello Hallmark
            %h1.h2
              Hello Hallmark
            %h1.h2
              Hello Hallmark
            %h1.h2
              Hello Hallmark
            %h1.h2
              Hello Hallmark
            %h1.h2
              Hello Hallmark
            %h1.h2
              Hello Hallmark
            %h1.h2
              Hello Hallmark
            %h1.h2
              Hello Hallmark
