- if flash[:context_success]
  .flash.success
    %a.close{:href => ""}
    =flash[:context_success]

- if flash[:context_error]
  .flash.success
    %a.close{:href => ""}
    = flash[:context_error]

- if flash[:context_notice]
  .flash
    %a.close{:href => ""}
    = flash[:context_notice]



