.span2.page-navigation
  %nav
    %ul
      %li
        %a{:href => "#"} Shop
      %li.active
        %a{:href => "#"} Listings
      %li
        %a{:href => "#"} Orders Received
      %li
        %a{:href => "#"} My Orders
      %li
        %a{:href => "#"} Reviews
      %li
        %a{:href => "#"} Payout
      %li
        %a{:href => "#"} Payment
      %li
        %a{:href => "#"} Shipping Methods
      %li
        %a{:href => "#"} Notifications
      %li
        %a{:href => "#"} Analytics
      %li
        %a{:href => "#"} Users
      %li
        %a{:href => "#"} Waiver Agreements
      %li
        %a{:href => "#"} White-Label
.span10.page-content
  .dash-page
    .mobile-nav
      .mobile-nav-head{"data-target" => "#mobile-nav-list", "data-toggle" => "collapse"}
        %p Orders Received
        =image_tag("themes/product_theme/hamburger.png")
      %ul#mobile-nav-list.nav.collapse
        %li
          %a{:href => "#"} Shop
        %li.active
          %a{:href => "#"} Listings
        %li
          %a{:href => "#"} Orders Received
        %li
          %a{:href => "#"} My Orders
        %li
          %a{:href => "#"} Reviews
        %li
          %a{:href => "#"} Payout
        %li
          %a{:href => "#"} Payment
        %li
          %a{:href => "#"} Shipping Methods
        %li
          %a{:href => "#"} Notifications
        %li
          %a{:href => "#"} Analytics
        %li
          %a{:href => "#"} Users
        %li
          %a{:href => "#"} Waiver Agreements
        %li
          %a{:href => "#"} White-Label