- filter_width = 320
- filter_width = width if defined?(width)
.filter.search.multiline
  = label
  %div.relative{ style: "width: #{filter_width}px;" }
    %input{placeholder: placeholder, type: 'text', name: param_name, value: params[param_name]}
    %input{type: 'submit', name: 'commit', value:'submit', class: 'hidden_form_element2'}
    =fa_icon "search", class: 'fa-action-icon-submit'
