- # See InstanceAdmin::InventoriesController which sets this up.
.alert.static.warning{ "data-flash-message" => true }
  %p
    %i
      Currently browsing the website as #{current_user.name}.
      = link_to "Go back.", restore_session_instance_admin_manage_users_path,
          :method => :post
      %a.close.ico-close.right{href: '#'}

