.modal-overlay{:style => "display: none"}
.modal-container{:style => "display: none"}
  %a.modal-close.ico-close{:href => ""}
  .modal-content
  .modal-loading

:javascript
  $(function() {
    Modal.listen();
  });
