olark('api.visitor.updateFullName', {fullName: "#{current_user.name}"});
olark('api.visitor.updateEmailAddress', {emailAddress: "#{current_user.email}"});
olark('api.visitor.updateCustomFields', {internalCustomerId: "#{current_user.id}"});
-if current_user.phone.present?
  olark('api.visitor.updatePhoneNumber', {phoneNumber: "#{current_user.phone}"});
