- [:success, :warning, :error, :deleted, :notice].each do |key|
  - if flash[key].present?
    %div{class: "alert #{class_for_flash_type(key)}", 'data-flash-message' => true}
      %p
        %i
        = flash[key].html_safe
        %a.close.ico-close.right{href: '#'}
