.black-box.row-fluid
  %form#listing_search.home_search{:action => search_path, :method => "get"}
    .input-wrapper
      %input#search{:name => "q", :placeholder => "Search by city or address", :type => "text", :value => "", :class => "query"}
      .geolocation.no-bookings
        %span.ico-crosshairs
    .button-wrapper
      %a.btn.btn-green.btn-large{ "data-disable-with" => "Searching...", :rel => "submit", :href => "" }
        %span.ico-search
        Search
      #suggest_location{:style => "display: none"}

    - search_geofields.each do |geofield|
      = hidden_field_tag geofield, ''

