%br

.row-fluid
  .span12
    - if step == :address
      = link_to 'Back to cart', cart_index_path, class: 'btn btn-blue btn-large'
    - else
      = link_to 'Back', previous_wizard_path, class: 'btn btn-blue btn-large'


    - if defined? form
      = form.submit 'Next step', class: 'btn-submit' # TODO Styling
