%br

.row-fluid
  .span6
    - if step == :address
      = link_to 'Back to cart', cart_index_path, class: 'btn btn-blue btn-large'
    - else
      = link_to 'Back', previous_wizard_path, class: 'btn btn-blue btn-large'

  .span6
    - if defined? form
      = form.submit 'Save and continue' # TODO Styling
