.box
  = simple_form_for @order, url: wizard_path do |f|
    .row-fluid
      .span8

        %h2 Order Summary

        .order-summary
          .summary-line
            .summary-line-label Products total
            .summary-line-value.subtotal-amount=humanized_money_with_cents_and_symbol @order.monetize(@order.item_total)
            .clearfix

          - if @order.additional_tax_total > 0
            .summary-line
              .summary-line-label Additional Tax
              .summary-line-value.total-amount=humanized_money_with_cents_and_symbol @order.monetize(@order.additional_tax_total)
              .clearfix

          - if (@order.adjustment_total - @order.additional_tax_total)> 0
            .summary-line
              .summary-line-label Adjustment
              .summary-line-value.total-amount=humanized_money_with_cents_and_symbol @order.monetize((@order.adjustment_total - @order.additional_tax_total))
              .clearfix

          - if @order.service_fee_buyer_percent > 0
            .summary-line
              .summary-line-label Service fee
              .summary-line-value.service-fee-amount=humanized_money_with_cents_and_symbol @order.service_fee_amount_guest
              .clearfix

          .summary-line
            .summary-line-label Shipment total
            .summary-line-value.total-amount=humanized_money_with_cents_and_symbol @order.monetize(@order.shipment_total)
            .clearfix

          .summary-line
            .summary-line-label Total
            .summary-line-value.total-amount
              %em
                =humanized_money_with_cents_and_symbol @order.total_amount_to_charge
            .clearfix

        - if @order.billing_authorization.nil?
          = render 'payments/credit_card_fields', :f => f
        - else
          Credit Card has been already authorized. Please proceed.

    .span4.box
      = render partial: 'checkout_order_summary', locals: { order: @order }

    = render partial: 'checkout_buttons', locals: { form: f }
