{{ platform_context.set_render_content_outside_container }}
{{ platform_context.set_blank_theme_name }}

{% content_for 'litvault-hero' %}
    <section class="hero-a">
        <div class="container-fluid">
            <h1>The Easiest Way For Experienced Trial<br> Lawyers To Get <em>Quality Contingent Fee Referrals</em></h1>

            {% include 'home/search_box_inputs.html' %}

            <div class="call-to-action">
                <button type="button" data-call-to-action>Learn More</button>
            </div>
        </div>
    </section>
{% endcontent_for %}

<section class="home-section how-it-works" id="how-it-works">
    <div class="container-fluid">

        <header class="section-header">
            <h2 class="hx-a">How it Works</h2>
        </header>

        <div class="items">
            <div class="item item-save-time-energy">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.91 44.64" width="76" height="90"><path d="M37.91,22.05a.75.75,0,0,0-.21-.52l-4.16-4.15a.73.73,0,0,0-1,0l-1.77,1.76V9.5a.66.66,0,0,0,0-.19v0l0-.09h0l-.05-.08v0L30.52,9,21.71.22,21.63.15l0,0-.08,0h0l-.08,0h0l-.09,0H2A2.05,2.05,0,0,0,0,2V42.59a2.05,2.05,0,0,0,2,2H28.69a2,2,0,0,0,2-2V29.53l4.07-4.07h0l2.89-2.89A.74.74,0,0,0,37.91,22.05Z" fill="#022d32"/><rect x="20.07" y="25.99" width="13.61" height="4.41" transform="translate(-12.07 27.3) rotate(-45.05)" fill="#fff"/><polygon points="19.94 32.96 22.12 35.14 19.43 35.65 19.94 32.96" fill="#fff"/><path d="M21.92,2.51l6.31,6.31H22.5a.58.58,0,0,1-.58-.57Z" fill="#fff"/><path d="M29.27,42.59a.57.57,0,0,1-.58.58H2a.58.58,0,0,1-.58-.58V2A.58.58,0,0,1,2,1.47H20.45V8.24a2,2,0,0,0,2,2h6.76V20.61L18.95,30.93l-.06.07,0,0a.76.76,0,0,0-.09.18v0l0,.1h0l-1,5.11a.75.75,0,0,0,.73.87h.13l5.1-1h0l.09,0h0a.65.65,0,0,0,.17-.09h0l.07-.07L29.27,31Z" fill="#50c7e0"/><rect x="32.34" y="19.22" width="2.62" height="4.41" transform="translate(-5.3 30.05) rotate(-44.96)" fill="#fff"/><path d="M4.64,8.07a.73.73,0,0,1,.73-.73h9.26a.73.73,0,1,1,0,1.47H5.37A.74.74,0,0,1,4.64,8.07Z" fill="#022d32"/><path d="M4.64,12.47a.73.73,0,0,1,.73-.73H19a.73.73,0,0,1,0,1.47H5.37A.73.73,0,0,1,4.64,12.47Z" fill="#022d32"/><path d="M4.64,16.88a.74.74,0,0,1,.73-.74h9.26a.73.73,0,1,1,0,1.47H5.37A.73.73,0,0,1,4.64,16.88Z" fill="#022d32"/><path d="M17.57,21.29a.74.74,0,0,1-.73.74H5.37a.73.73,0,0,1,0-1.47H16.84A.73.73,0,0,1,17.57,21.29Z" fill="#022d32"/><path d="M14.83,33.75a.36.36,0,0,0-.51.05c-.42.52-1.53,1.69-2.81,1.25a.38.38,0,0,0-.41.11A1.78,1.78,0,0,1,9.63,36l0,0c.44-2.52.6-5.8-.37-6.94a1.16,1.16,0,0,0-.91-.45H8.23a1.71,1.71,0,0,0-1.62.78c-.57,1,0,2.89,1.56,5.62l0,.05.33.55.07.11-.11,0a2.14,2.14,0,0,0-2.37-.07,1.48,1.48,0,0,0-.62,1.7,3.47,3.47,0,0,0,2.06,2,1.32,1.32,0,0,1-.18.27.73.73,0,1,0,1,1,3.64,3.64,0,0,0,.7-1.19,1.67,1.67,0,0,0,.5-.25A1.88,1.88,0,0,0,10,36.69a2.65,2.65,0,0,0,1.53-.87,3.41,3.41,0,0,0,3.38-1.55A.36.36,0,0,0,14.83,33.75Z" fill="#022d32"/><path d="M7.25,29.69c.05-.1.23-.41,1-.41h.1a.46.46,0,0,1,.36.19c.56.67.69,2.89.34,5.47l-.2-.33,0-.06C6.81,31.19,7,30,7.25,29.69Z" fill="#50c7e0"/><path d="M6.19,37a.76.76,0,0,1,.35-.9c.49-.35.91-.19,1.63.14l.59.25c-.14.67-.3,1.3-.46,1.82a.73.73,0,0,0-.42.23A2.75,2.75,0,0,1,6.19,37Z" fill="#50c7e0"/><path d="M9.17,38.51a.68.68,0,0,1-.16.1l0,0c.15-.43.27-.91.39-1.43C9.67,38,9.44,38.31,9.17,38.51Z" fill="#50c7e0"/></svg>
                </span>
                <h3>Save Time + Energy</h3>
                <p>Our specialized marketplace connects <strong>Referring and Handling Lawyers</strong> to engage on a wide variety of contingent fee cases.</p>
            </div>

            <div class="item item-quality-case-selection">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55.83 50.19" width="112" height="100"><path d="M21.26,32.86h-.18a11.23,11.23,0,0,0,4.56-9.38c0-5.25,0-10.67-8.71-10.67S8.21,18.23,8.21,23.48a11.24,11.24,0,0,0,4.55,9.38h-.18c-4.74.66-8,2.53-10,5.71S.15,46.06,0,49.42a.74.74,0,0,0,.73.77H33.11a.73.73,0,0,0,.73-.77c-.15-3.36-.58-7.62-2.59-10.85S26,33.52,21.26,32.86Z" fill="#022d32"/><path d="M9.68,23.48c0-5.88.34-9.21,7.24-9.21s7.24,3.33,7.24,9.21c0,5.08-3.25,9.21-7.24,9.21S9.68,28.55,9.68,23.48Z" fill="#fff"/><path d="M16.92,34.15a7.36,7.36,0,0,0,3.62-1l-3.62,5.23L13.3,33.19A7.33,7.33,0,0,0,16.92,34.15Z" fill="#fff"/><path d="M1.51,48.72c.45-7.87,2.55-13,10.83-14.34l4,5.75a.73.73,0,0,0,.6.32.75.75,0,0,0,.61-.32l4-5.75c8.28,1.33,10.37,6.47,10.84,14.34Z" fill="#50c7e0"/><path d="M53.37,0H29.89a2.46,2.46,0,0,0-2.46,2.46V16.53A2.47,2.47,0,0,0,29.89,19H32.6v3.91a.74.74,0,0,0,.49.69.81.81,0,0,0,.24,0,.72.72,0,0,0,.57-.27L37.47,19H53.37a2.46,2.46,0,0,0,2.46-2.46V2.46A2.46,2.46,0,0,0,53.37,0Z" fill="#022d32"/><path d="M54.36,16.53a1,1,0,0,1-1,1H37.12a.72.72,0,0,0-.57.27l-2.49,3.05V18.26a.73.73,0,0,0-.74-.73H29.89a1,1,0,0,1-1-1V2.46a1,1,0,0,1,1-1H53.37a1,1,0,0,1,1,1Z" fill="#fff"/><path d="M40.27,7.28,38.13,7,37.17,5a.73.73,0,0,0-.66-.41.72.72,0,0,0-.65.41L34.89,7l-2.14.31a.73.73,0,0,0-.41,1.25L33.9,10l-.37,2.13a.75.75,0,0,0,.3.72.73.73,0,0,0,.77.06l1.91-1,1.92,1a.77.77,0,0,0,.34.08.72.72,0,0,0,.43-.14.73.73,0,0,0,.29-.72L39.13,10l1.55-1.51a.73.73,0,0,0-.41-1.25Z" fill="#022d32"/><path d="M37.82,9.26a.73.73,0,0,0-.21.65l.18,1-.94-.49a.73.73,0,0,0-.68,0l-.94.49.18-1a.73.73,0,0,0-.21-.65l-.76-.74,1-.15A.74.74,0,0,0,36,8l.46-1L37,8a.73.73,0,0,0,.55.4l1,.15Z" fill="#50c7e0"/><path d="M50.5,7.28,48.36,7,47.4,5a.74.74,0,0,0-1.32,0L45.13,7,43,7.28a.73.73,0,0,0-.41,1.25L44.13,10l-.37,2.13a.74.74,0,0,0,.29.72.72.72,0,0,0,.44.14.76.76,0,0,0,.34-.08l1.91-1,1.91,1a.74.74,0,0,0,1.07-.78L49.36,10l1.55-1.51a.73.73,0,0,0-.41-1.25Z" fill="#022d32"/><path d="M48.06,9.26a.73.73,0,0,0-.21.65L48,11l-.94-.49a.72.72,0,0,0-.34-.08.73.73,0,0,0-.34.08l-.94.49.18-1a.73.73,0,0,0-.21-.65l-.76-.74,1-.15a.73.73,0,0,0,.55-.4l.47-1,.47,1a.73.73,0,0,0,.55.4l1,.15Z" fill="#50c7e0"/></svg>
                </span>
                <h3>Quality Case Selection</h3>
                <p>We provide a purpose-built platform that <strong>asks Referring Lawyers all the right questions</strong> so you don't have to.</p>
            </div>

            <div class="item item-secure-compliant">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.14 34.4" width="82" height="69"><path d="M41.14,1.82A1.82,1.82,0,0,0,39.32,0H1.82A1.83,1.83,0,0,0,0,1.82V25.94a1.82,1.82,0,0,0,1.82,1.82H15.19c-.22,1.32-.81,4-2.24,5.39a.72.72,0,0,0-.16.8.74.74,0,0,0,.68.45h14.2a.75.75,0,0,0,.68-.45.73.73,0,0,0-.16-.8c-1.43-1.42-2-4.06-2.24-5.39H39.32a1.82,1.82,0,0,0,1.82-1.82Z" fill="#022d32"/><path d="M26.18,32.93H15a14.76,14.76,0,0,0,1.72-5.18h7.78A14.74,14.74,0,0,0,26.18,32.93Z" fill="#fff"/><path d="M39.32,26.29H35.7v-.61a.74.74,0,0,0-1.48,0v.61H31.29v-.61a.73.73,0,0,0-1.47,0v.61h-28a.35.35,0,0,1-.34-.35V23.58h38.2v2.36A.36.36,0,0,1,39.32,26.29Z" fill="#fff"/><path d="M39.67,22.11H1.47V1.82a.35.35,0,0,1,.34-.35H39.32a.36.36,0,0,1,.35.35V22.11Z" fill="#50c7e0"/><path d="M20.57,19.87a8.08,8.08,0,1,1,8.08-8.08A8.09,8.09,0,0,1,20.57,19.87Z" fill="#fff"/><path d="M25.11,8.33a.74.74,0,0,1,0,1l-5.87,5.88a.74.74,0,0,1-1,0L16,13.08a.73.73,0,0,1,0-1,.73.73,0,0,1,1,0l1.65,1.64,5.36-5.36A.73.73,0,0,1,25.11,8.33Z" fill="#022d32"/></svg>
                </span>
                <h3>Secure + Compliant</h3>
                <p>Our cloud-based platform offers advanced security in a <strong>HIPAA compliant environment</strong> to protect private information.</p>
            </div>
        </div>

        <p class="more-a">
            <a href="/how-it-works" class="button-a inverted">Learn More</a>
        </p>
    </div>
</section>

<section class="home-section video">
    <div class="container-fluid">
        <div class="video-cta">
            <div class="video-container">
                <iframe width="1280" height="720" src="https://www.youtube.com/embed/0YmLUmGOukU" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<section class="home-section benefits">
    <div class="container-fluid">
        <header class="section-header">
            <h2 class="hx-a">Benefits to <span>LitVault Members</span></h2>
            <h3 class="hx-b">
                <strong>Designed by lawyers for lawyers.</strong>
                Enjoy the time saving tools and process we have created.
            </h3>
        </header>

        <div class="items">
            <div class="item item-experience-is-rewarded">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47.79 54.29" width="77" height="88"><path d="M26.63,35.26c-.73,1-1.56,2.1-2.74,2.1s-2-1.11-2.74-2.1c-.43-.58-1-1.3-1.33-1.4l-.16,0a5.58,5.58,0,0,0-1.78.57,6.52,6.52,0,0,1-2.36.69,2,2,0,0,1-1-.25c-1-.58-1.15-1.88-1.29-3.15a4.37,4.37,0,0,0-.47-1.92,4.36,4.36,0,0,0-1.92-.47C9.6,29.17,8.3,29,7.72,28s-.05-2.19.44-3.34a4.31,4.31,0,0,0,.56-1.93c-.1-.37-.82-.9-1.4-1.33-1-.73-2.1-1.55-2.1-2.74s1.12-2,2.1-2.73c.58-.43,1.3-1,1.4-1.33a4.3,4.3,0,0,0-.56-1.94c-.5-1.16-1-2.35-.44-3.34S9.6,8.19,10.86,8a4.34,4.34,0,0,0,1.92-.47,4.37,4.37,0,0,0,.47-1.92c.14-1.26.29-2.57,1.29-3.15a1.94,1.94,0,0,1,1-.25,6.44,6.44,0,0,1,2.36.69,5.58,5.58,0,0,0,1.78.58l.16,0c.37-.1.9-.82,1.33-1.4.73-1,1.56-2.1,2.74-2.1s2,1.12,2.74,2.1c.43.58,1,1.3,1.33,1.4l.16,0a5.6,5.6,0,0,0,1.77-.57,6.43,6.43,0,0,1,2.36-.69,2,2,0,0,1,1,.25c1,.58,1.15,1.88,1.29,3.15A4.3,4.3,0,0,0,35,7.57,4.32,4.32,0,0,0,36.93,8c1.26.14,2.57.29,3.15,1.29s.05,2.18-.44,3.34a4.34,4.34,0,0,0-.56,1.93c.1.37.82.91,1.4,1.33,1,.73,2.1,1.55,2.1,2.73s-1.11,2-2.1,2.74c-.58.43-1.3,1-1.4,1.33a4.35,4.35,0,0,0,.56,1.93c.5,1.15,1,2.35.44,3.34s-1.89,1.15-3.15,1.29a4.32,4.32,0,0,0-1.92.47,4.29,4.29,0,0,0-.47,1.92c-.15,1.26-.3,2.57-1.29,3.15a2,2,0,0,1-1,.25,6.48,6.48,0,0,1-2.36-.69,5.58,5.58,0,0,0-1.77-.57l-.16,0C27.6,34,27.06,34.67,26.63,35.26Z" fill="#022d32"/><path d="M27.57,32.36a2.16,2.16,0,0,1,.56-.07,6.47,6.47,0,0,1,2.39.7,5.64,5.64,0,0,0,1.74.56.42.42,0,0,0,.21,0c.33-.19.45-1.22.53-2a4.75,4.75,0,0,1,.91-2.83,4.74,4.74,0,0,1,2.84-.92c.76-.09,1.79-.21,2-.54s-.25-1.3-.53-2a4.8,4.8,0,0,1-.63-2.95,4.65,4.65,0,0,1,2-2.17c.62-.46,1.47-1.09,1.47-1.5s-.85-1-1.47-1.49a4.67,4.67,0,0,1-2-2.17,4.8,4.8,0,0,1,.63-2.95c.28-.65.71-1.64.53-2s-1.23-.44-2-.53a4.73,4.73,0,0,1-2.84-.92A4.78,4.78,0,0,1,33,5.82c-.09-.76-.21-1.79-.53-2a.41.41,0,0,0-.21,0,5.55,5.55,0,0,0-1.74.56,6.47,6.47,0,0,1-2.39.7A2.16,2.16,0,0,1,27.57,5a4.67,4.67,0,0,1-2.17-2c-.46-.62-1.09-1.47-1.5-1.47S22.86,2.4,22.4,3a4.68,4.68,0,0,1-2.17,2,2.16,2.16,0,0,1-.56.07,6.47,6.47,0,0,1-2.39-.7,5.52,5.52,0,0,0-1.74-.56.42.42,0,0,0-.21,0c-.33.19-.44,1.22-.53,2a4.73,4.73,0,0,1-.91,2.84A4.73,4.73,0,0,1,11,9.58c-.76.09-1.79.21-2,.53s.24,1.3.52,2A4.81,4.81,0,0,1,10.21,15a4.66,4.66,0,0,1-2,2.17c-.62.46-1.47,1.09-1.47,1.49s.85,1,1.47,1.5a4.65,4.65,0,0,1,2,2.17,4.81,4.81,0,0,1-.63,2.95c-.28.65-.71,1.64-.52,2s1.23.45,2,.54a4.75,4.75,0,0,1,2.84.92,4.71,4.71,0,0,1,.91,2.83c.09.76.2,1.79.53,2a.42.42,0,0,0,.21,0A5.65,5.65,0,0,0,17.28,33a6.47,6.47,0,0,1,2.39-.7,2.16,2.16,0,0,1,.56.07,4.67,4.67,0,0,1,2.17,2c.46.62,1.09,1.47,1.49,1.47s1-.85,1.5-1.47A4.66,4.66,0,0,1,27.57,32.36Z" fill="#50c7e0"/><path d="M21.34,36.65a.77.77,0,0,0-1.08.18L10.09,51.28,9.68,45a.77.77,0,0,0-1-.69l-6,1.72L12.1,32.64a.77.77,0,0,0-1.26-.89L.14,47A.77.77,0,0,0,1,48.14L8.2,46.08l.5,7.48a.77.77,0,0,0,.56.69l.21,0A.77.77,0,0,0,10.1,54L21.53,37.72A.77.77,0,0,0,21.34,36.65Z" fill="#022d32"/><path d="M47.65,47,37,31.75a.77.77,0,0,0-1.27.89l9.44,13.41-6-1.72a.76.76,0,0,0-.66.11.77.77,0,0,0-.33.58l-.42,6.26L27.53,36.83a.77.77,0,0,0-1.26.89L37.69,54a.77.77,0,0,0,.63.33l.21,0a.78.78,0,0,0,.56-.69l.5-7.48,7.21,2.06A.77.77,0,0,0,47.65,47Z" fill="#022d32"/><path d="M28,26.17,23.9,24l-4.06,2.14a.73.73,0,0,1-.36.09.76.76,0,0,1-.45-.15.77.77,0,0,1-.31-.76l.78-4.53-3.29-3.2a.77.77,0,0,1,.43-1.32l4.54-.66,2-4.12a.77.77,0,0,1,1.39,0l2,4.12,4.54.66a.77.77,0,0,1,.43,1.32l-3.29,3.2.77,4.53a.77.77,0,0,1-1.12.81Z" fill="#022d32"/><path d="M27.29,24.07l-.58-3.38a.77.77,0,0,1,.22-.68l2.46-2.4L26,17.12a.78.78,0,0,1-.58-.42L23.9,13.62,22.38,16.7a.78.78,0,0,1-.58.42l-3.39.49L20.86,20a.77.77,0,0,1,.22.68l-.58,3.38,3-1.6a.79.79,0,0,1,.72,0Z" fill="#fff"/></svg>
                </span>
                <h3>Experience is Rewarded</h3>
                <p>This is not a place to develop a new practice area. Handling Law Firms can only compete for a case listing if they can show competence and experience in that practice area.</p>
            </div>

            <div class="item item-auto-case-notifications">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55.83 24.3" width="112" height="50"><path d="M55.41.61A1.78,1.78,0,0,0,54,0H24.13A2.23,2.23,0,0,0,22,1.85L18.8,22.22a1.83,1.83,0,0,0,.4,1.47,1.77,1.77,0,0,0,1.36.61H50.48a2.22,2.22,0,0,0,2.15-1.85L55.81,2.08A1.84,1.84,0,0,0,55.41.61Z" fill="#022d32"/><path d="M54.36,1.85,51.18,22.22a.77.77,0,0,1-.7.61H20.56a.32.32,0,0,1-.25-.1.34.34,0,0,1-.06-.28L23.43,2.08a.77.77,0,0,1,.69-.61H54a.32.32,0,0,1,.25.1A.35.35,0,0,1,54.36,1.85Z" fill="#50c7e0"/><path d="M51.73,4a.74.74,0,0,1-.29,1l-14,7.77a.73.73,0,0,1-.76,0L25,5a.73.73,0,0,1,.82-1.22l11.23,7.52L50.73,3.74A.74.74,0,0,1,51.73,4Z" fill="#022d32"/><path d="M2.61,2.43a.74.74,0,0,1,.74-.73H19.51a.73.73,0,0,1,0,1.47H3.35A.74.74,0,0,1,2.61,2.43Z" fill="#022d32"/><path d="M17.63,14.47a.74.74,0,0,1-.73.73H.73a.73.73,0,1,1,0-1.47H16.9A.74.74,0,0,1,17.63,14.47Z" fill="#022d32"/><path d="M18.94,8.27A.74.74,0,0,1,18.2,9H8.36a.73.73,0,1,1,0-1.47H18.2A.74.74,0,0,1,18.94,8.27Z" fill="#022d32"/></svg>
                </span>
                <h3>Auto Case Notifications</h3>
                <p>Receive automatic notifications about new case listings in your practice area and your geography. Save your valuable time to work on cases instead of finding new cases.</p>
            </div>

            <div class="item item-simple-case-offer-engine">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.26 35.13" width="103" height="91"><path d="M36.56,21.62V2.77A2.77,2.77,0,0,0,33.79,0h-31A2.78,2.78,0,0,0,0,2.77V29a2.78,2.78,0,0,0,2.77,2.77H26.93a7.21,7.21,0,1,0,9.63-10.1Z" fill="#022d32"/><path d="M2.77,1.11h31a1.67,1.67,0,0,1,1.66,1.67V8.21H1.11V2.77A1.67,1.67,0,0,1,2.77,1.11Z" fill="#50c7e0"/><path d="M2.77,30.62A1.66,1.66,0,0,1,1.11,29V9.32H35.45V21.12a7.2,7.2,0,0,0-9.09,9.49Z" fill="#fff"/><circle cx="33.05" cy="27.92" r="6.1" fill="#fff"/><path d="M35.69,25.31a.56.56,0,0,1,.78,0,.55.55,0,0,1,0,.78L32,30.53a.55.55,0,0,1-.79,0l-1.63-1.64a.55.55,0,1,1,.78-.78l1.24,1.25" fill="#50c7e0"/><circle cx="22.29" cy="4.56" r="0.89" fill="#022d32"/><circle cx="26.73" cy="4.56" r="0.89" fill="#022d32"/><circle cx="31.16" cy="4.56" r="0.89" fill="#022d32"/><path d="M14.1,20.85a.27.27,0,0,0,.19-.08.28.28,0,0,0,.07-.2c-.09-2-.53-3.81-3.1-4.24a3,3,0,0,0,1-2.31c0-1.3,0-2.78-2.28-2.78S7.73,12.72,7.73,14a3,3,0,0,0,1,2.31c-2.57.43-3,2.29-3.1,4.24a.28.28,0,0,0,.07.2.27.27,0,0,0,.19.08Z" fill="#022d32"/><path d="M8.26,14c0-1.48.08-2.25,1.75-2.25s1.75.77,1.75,2.25A2.05,2.05,0,0,1,10,16.27,2,2,0,0,1,8.26,14Z" fill="#fff"/><path d="M10,16.8a1.89,1.89,0,0,0,.68-.13l-.68,1-.68-1A1.88,1.88,0,0,0,10,16.8Z" fill="#fff"/><path d="M8.81,16.86l1,1.41a.27.27,0,0,0,.44,0l1-1.41c2,.34,2.49,1.57,2.62,3.46H6.2C6.32,18.43,6.85,17.2,8.81,16.86Z" fill="#50c7e0"/><path d="M19.41,24.48a3,3,0,0,0,1-2.32c0-1.3,0-2.78-2.28-2.78s-2.28,1.47-2.28,2.78a3,3,0,0,0,1,2.32c-2.57.43-3,2.29-3.1,4.24a.27.27,0,0,0,.07.2.27.27,0,0,0,.19.08h8.18a.27.27,0,0,0,.19-.08.26.26,0,0,0,.07-.2C22.42,26.77,22,24.91,19.41,24.48Z" fill="#022d32"/><path d="M16.4,22.16c0-1.48.08-2.25,1.75-2.25s1.75.77,1.75,2.25a2,2,0,0,1-1.75,2.25A2,2,0,0,1,16.4,22.16Z" fill="#fff"/><path d="M18.15,24.94a1.89,1.89,0,0,0,.68-.13l-.68,1-.68-1A1.89,1.89,0,0,0,18.15,24.94Z" fill="#fff"/><path d="M14.34,28.46C14.46,26.58,15,25.34,17,25l1,1.41a.26.26,0,0,0,.43,0l1-1.41c2,.34,2.49,1.57,2.62,3.46Z" fill="#022d32"/><path d="M12,27.24a.29.29,0,0,1,0,.2L11.08,29a.26.26,0,0,1-.23.14.28.28,0,0,1-.13,0,.26.26,0,0,1-.1-.36l.5-.9a3.56,3.56,0,0,1-4.18-1.79,3.57,3.57,0,0,1,0-3.24.27.27,0,1,1,.47.24,3,3,0,0,0,3.73,4.22L10,26.66a.27.27,0,0,1,.26-.46l1.57.88A.26.26,0,0,1,12,27.24Z" fill="#50c7e0"/><path d="M14,12.51l.87-1.57a.27.27,0,0,1,.46.26l-.5.9a3.56,3.56,0,0,1,4.18,5,.26.26,0,0,1-.24.15l-.12,0a.27.27,0,0,1-.12-.36,3,3,0,0,0-3.73-4.22l1.11.62a.27.27,0,0,1-.13.5.25.25,0,0,1-.13,0l-1.58-.88A.26.26,0,0,1,14,12.51Z" fill="#50c7e0"/></svg>
                </span>
                <h3>Simple Case Offer Engine</h3>
                <p>Negotiate and contract on case listings using our simple, intuitive case offer engine.  It provides consistency and saves you time and energy.</p>
            </div>

            <div class="item item-rich-case-details">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46.42 27.64" width="123" height="74"><path d="M38.21,0h-30A2.91,2.91,0,0,0,5.3,2.91V23.64a.58.58,0,0,0,.58.58H40.54a.58.58,0,0,0,.58-.58V2.91A2.91,2.91,0,0,0,38.21,0Z" fill="#50c7e0"/><path d="M40.54,24.22H5.88a.58.58,0,0,1-.58-.58V2.91A2.91,2.91,0,0,1,8.21,0h30a2.91,2.91,0,0,1,2.91,2.91V23.64A.58.58,0,0,1,40.54,24.22ZM6.45,23.07H40V2.91a1.76,1.76,0,0,0-1.76-1.76h-30A1.76,1.76,0,0,0,6.45,2.91Z" fill="#022d32"/><path d="M40.73,27.64h-35A6.49,6.49,0,0,1,.07,23.92a.58.58,0,0,1,.51-.85H45.84a.58.58,0,0,1,.51.85A6.49,6.49,0,0,1,40.73,27.64ZM1.62,24.22a5.1,5.1,0,0,0,4.07,2.26h35a5.1,5.1,0,0,0,4.07-2.26Z" fill="#022d32"/><path d="M10.84,6.33h-.45a.58.58,0,0,1,0-1.15h.45a.58.58,0,1,1,0,1.15Z" fill="#022d32"/><path d="M10.84,9.11h-.45a.58.58,0,0,1,0-1.15h.45a.58.58,0,1,1,0,1.15Z" fill="#022d32"/><path d="M10.84,11.89h-.45a.58.58,0,0,1,0-1.15h.45a.58.58,0,1,1,0,1.15Z" fill="#022d32"/><path d="M10.84,14.67h-.45a.58.58,0,0,1,0-1.15h.45a.58.58,0,1,1,0,1.15Z" fill="#022d32"/><path d="M10.84,17.45h-.45a.58.58,0,0,1,0-1.15h.45a.58.58,0,0,1,0,1.15Z" fill="#022d32"/><path d="M10.84,20.23h-.45a.58.58,0,0,1,0-1.15h.45a.58.58,0,1,1,0,1.15Z" fill="#022d32"/><path d="M20.32,6.33H16.25a.58.58,0,0,1,0-1.15h4.07a.58.58,0,0,1,0,1.15Z" fill="#022d32"/><path d="M20.32,9.11H16.25a.58.58,0,0,1,0-1.15h4.07a.58.58,0,0,1,0,1.15Z" fill="#022d32"/><path d="M27.23,11.89H23.16a.58.58,0,1,1,0-1.15h4.07a.58.58,0,1,1,0,1.15Z" fill="#022d32"/><path d="M25.2,6.33h-2a.58.58,0,1,1,0-1.15h2a.58.58,0,1,1,0,1.15Z" fill="#022d32"/><path d="M32.28,9.11H23.16a.58.58,0,1,1,0-1.15h9.11a.58.58,0,0,1,0,1.15Z" fill="#022d32"/><path d="M32.11,11.89h-2a.58.58,0,0,1,0-1.15h2a.58.58,0,1,1,0,1.15Z" fill="#022d32"/><path d="M20.32,14.67H16.25a.58.58,0,0,1,0-1.15h4.07a.58.58,0,0,1,0,1.15Z" fill="#022d32"/><path d="M25.2,17.45H21.13a.58.58,0,0,1,0-1.15H25.2a.58.58,0,0,1,0,1.15Z" fill="#022d32"/><path d="M27.23,20.23H23.16a.58.58,0,1,1,0-1.15h4.07a.58.58,0,1,1,0,1.15Z" fill="#022d32"/><path d="M18.29,17.45h-2a.58.58,0,0,1,0-1.15h2a.58.58,0,0,1,0,1.15Z" fill="#022d32"/><path d="M32.28,14.67H23.16a.58.58,0,1,1,0-1.15h9.11a.58.58,0,0,1,0,1.15Z" fill="#022d32"/><path d="M32.11,20.23h-2a.58.58,0,0,1,0-1.15h2a.58.58,0,1,1,0,1.15Z" fill="#022d32"/></svg>
                </span>
                <h3>Rich Case Details</h3>
                <p>Our robust, curated case listing form already asks the Referring Lawyer the important questions about the facts of the case so you don't have to.</p>
            </div>

            <div class="item item-deal-with-confidence">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.14 34.4" width="101" height="84"><path d="M41.14,1.82A1.82,1.82,0,0,0,39.32,0H1.82A1.83,1.83,0,0,0,0,1.82V25.94a1.82,1.82,0,0,0,1.82,1.82H15.19c-.22,1.32-.81,4-2.24,5.39a.72.72,0,0,0-.16.8.74.74,0,0,0,.68.45h14.2a.75.75,0,0,0,.68-.45.73.73,0,0,0-.16-.8c-1.43-1.42-2-4.06-2.24-5.39H39.32a1.82,1.82,0,0,0,1.82-1.82Z" fill="#022d32"/><path d="M26.18,32.93H15a14.76,14.76,0,0,0,1.72-5.18h7.78A14.74,14.74,0,0,0,26.18,32.93Z" fill="#fff"/><path d="M39.32,26.29H35.7v-.61a.74.74,0,0,0-1.48,0v.61H31.29v-.61a.73.73,0,0,0-1.47,0v.61h-28a.35.35,0,0,1-.34-.35V23.58h38.2v2.36A.36.36,0,0,1,39.32,26.29Z" fill="#fff"/><path d="M39.67,22.11H1.47V1.82a.35.35,0,0,1,.34-.35H39.32a.36.36,0,0,1,.35.35V22.11Z" fill="#50c7e0"/><path d="M18.37,10a.44.44,0,0,1-.44-.44V8.54A2.86,2.86,0,0,1,21,5.9a2.86,2.86,0,0,1,3,2.65v1a.44.44,0,1,1-.87,0v-1A2,2,0,0,0,21,6.77,2,2,0,0,0,18.8,8.54V9.6A.44.44,0,0,1,18.37,10Z" fill="#222"/><path d="M24.81,17.73h-7.7A1.12,1.12,0,0,1,16,16.61V10.92a1.11,1.11,0,0,1,.92-1.1l2.32-.48h0a10.35,10.35,0,0,1,3.45,0h0L25,9.82a1.11,1.11,0,0,1,.92,1.1v5.69A1.12,1.12,0,0,1,24.81,17.73Z" fill="#fff"/><path d="M24.81,17.73h-7.7A1.12,1.12,0,0,1,16,16.61V10.92a1.11,1.11,0,0,1,.92-1.1l2.32-.48h0a10.35,10.35,0,0,1,3.45,0h0L25,9.82a1.11,1.11,0,0,1,.92,1.1v5.69A1.12,1.12,0,0,1,24.81,17.73ZM19.4,10.2l-2.32.48h0a.25.25,0,0,0-.2.24v5.69a.25.25,0,0,0,.25.25h7.7a.25.25,0,0,0,.25-.25V10.92a.25.25,0,0,0-.2-.24h0l-2.29-.48A9.48,9.48,0,0,0,19.4,10.2Z" fill="#222"/><path d="M21,14.55a1.61,1.61,0,1,1,1.61-1.61A1.61,1.61,0,0,1,21,14.55Zm0-2.35a.74.74,0,1,0,.74.74A.74.74,0,0,0,21,12.2Z" fill="#222"/><path d="M21,15.57a.44.44,0,0,1-.44-.44v-1a.44.44,0,1,1,.87,0v1A.44.44,0,0,1,21,15.57Z" fill="#222"/></svg>
                </span>
                <h3>Deal With Confidence</h3>
                <p>Reputations matter here. Members receive quality scores from other members on a variety of applicable criteria based on actual interactions on this site.</p>
            </div>

            <div class="item item-secure-and-hippa-compliant">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.06 31.53" width="129" height="72"><path d="M24.64,22a1.68,1.68,0,0,0-.9-.2h-.79v1.9h.79q1.2,0,1.2-1A.79.79,0,0,0,24.64,22Z" fill="#022d32"/><path d="M35.34,22.69l-.24-.91h0l-.23.91q-.12.45-.25.89l-.19.67h1.39l-.19-.67Q35.46,23.15,35.34,22.69Z" fill="#022d32"/><path d="M20.79,11.57a2.35,2.35,0,0,0-1.27-.28H18.4V14h1.12q1.7,0,1.7-1.4A1.11,1.11,0,0,0,20.79,11.57Z" fill="#022d32"/><path d="M26.75,13.81q-.19-.61-.36-1.26l-.34-1.29h0l-.33,1.29q-.17.64-.35,1.26l-.27.94h2Z" fill="#022d32"/><path d="M33.92,13.81q-.19-.61-.36-1.26l-.34-1.29h0l-.33,1.29c-.11.43-.23.85-.36,1.26l-.27.94h2Z" fill="#022d32"/><path d="M46.43,0a9.64,9.64,0,0,0-8.58,5.26H3.5A3.51,3.51,0,0,0,0,8.76V28a3.51,3.51,0,0,0,3.5,3.5H49.05a3.51,3.51,0,0,0,3.5-3.5v-11A9.63,9.63,0,0,0,46.43,0Zm-14,10.2H34l2.51,7.71H35.09l-.6-2.09H31.9l-.6,2.09H29.91Zm-7.17,0h1.6l2.51,7.71H27.93l-.6-2.09H24.73l-.6,2.09H22.74Zm-19.36,0H7.25v3.1h3.12V10.2h1.37v7.71H10.38V14.49H7.25v3.42H5.89ZM8.74,26.39a2.14,2.14,0,0,1-.94.2,2.56,2.56,0,0,1-1-.18A2.18,2.18,0,0,1,6,25.86,2.58,2.58,0,0,1,5.51,25a3.49,3.49,0,0,1-.19-1.2,3.43,3.43,0,0,1,.2-1.2,2.65,2.65,0,0,1,.54-.9,2.29,2.29,0,0,1,.8-.56,2.52,2.52,0,0,1,1-.19,1.89,1.89,0,0,1,.9.21,2.46,2.46,0,0,1,.66.48l-.54.6a1.77,1.77,0,0,0-.45-.33,1.2,1.2,0,0,0-.56-.12,1.39,1.39,0,0,0-.62.14,1.42,1.42,0,0,0-.48.39,1.85,1.85,0,0,0-.32.62,2.81,2.81,0,0,0-.11.83,2.37,2.37,0,0,0,.41,1.47,1.31,1.31,0,0,0,1.1.53,1.35,1.35,0,0,0,.64-.14,1.83,1.83,0,0,0,.51-.4l.54.59A2.39,2.39,0,0,1,8.74,26.39Zm5.75-1.46a2.63,2.63,0,0,1-.5.9,2.16,2.16,0,0,1-.76.57,2.54,2.54,0,0,1-2,0,2.11,2.11,0,0,1-.76-.57,2.66,2.66,0,0,1-.49-.9,3.77,3.77,0,0,1-.17-1.19A3.71,3.71,0,0,1,10,22.55a2.53,2.53,0,0,1,.49-.88,2.14,2.14,0,0,1,.76-.55,2.58,2.58,0,0,1,2,0,2.18,2.18,0,0,1,.76.55,2.5,2.5,0,0,1,.5.88,3.7,3.7,0,0,1,.17,1.18A3.77,3.77,0,0,1,14.49,24.93Zm.58-7H13.7V10.2h1.37Zm5.52,8.58h-.91V24c0-.13,0-.27,0-.42s0-.3,0-.46,0-.3,0-.45,0-.28,0-.41h0l-.44,1.24L18.39,26h-.45L17,23.5l-.43-1.24h0c0,.13,0,.27,0,.41l0,.45c0,.15,0,.3,0,.46s0,.29,0,.42v2.5h-.89V21h1.07l1,2.69.36,1h0l.35-1,1-2.69h1.07v5.46Zm.19-11.56a4.37,4.37,0,0,1-1.16.15H18.4v2.83H17V10.2h2.59a5.43,5.43,0,0,1,1.17.12,2.44,2.44,0,0,1,.93.4,2,2,0,0,1,.61.74,2.53,2.53,0,0,1,.22,1.13,2.56,2.56,0,0,1-.22,1.11,2.17,2.17,0,0,1-.62.78A2.58,2.58,0,0,1,20.78,14.93Zm4.95,8.57a1.54,1.54,0,0,1-.44.56,1.83,1.83,0,0,1-.66.33,3.09,3.09,0,0,1-.82.1h-.87v2H22V21h1.84a3.87,3.87,0,0,1,.83.08,1.73,1.73,0,0,1,.66.28,1.41,1.41,0,0,1,.43.52,2.05,2.05,0,0,1,0,1.58Zm4.42,3H26.92V21h1v4.64h2.27Zm1.92,0h-1V21h1Zm4.35,0L36,25H34.16l-.43,1.48h-1L34.53,21h1.14l1.78,5.46Zm5.78,0h-1l-1.7-3.07L39,22.26h0q0,.43.08.91t0,.94v2.39h-.93V21h1l1.7,3.07.56,1.16h0c0-.28,0-.59-.08-.91s0-.64,0-.95V21h.93v5.46Zm5-4.64H45.66v4.64h-1V21.85H43.12V21h4.12v.82Zm5.32-7.27a7.88,7.88,0,1,1,1.75-4.94A7.87,7.87,0,0,1,52.56,14.58Z" fill="#022d32"/><path d="M12.25,21.77a1.21,1.21,0,0,0-1,.52,2.41,2.41,0,0,0-.38,1.44,3.17,3.17,0,0,0,.1.83,2,2,0,0,0,.28.63,1.29,1.29,0,0,0,.44.4,1.27,1.27,0,0,0,1.17,0,1.3,1.3,0,0,0,.44-.4,2,2,0,0,0,.28-.63,3.19,3.19,0,0,0,.1-.83,2.41,2.41,0,0,0-.38-1.44A1.21,1.21,0,0,0,12.25,21.77Z" fill="#022d32"/><path d="M50.9,6a.55.55,0,0,0-.78,0l-4.78,4.78L42.88,8.28a.55.55,0,0,0-.78,0l-.78.78a.55.55,0,0,0,0,.78L44.8,13.3a.55.55,0,0,0,.78,0l5.95-5.95a.55.55,0,0,0,0-.77Z" fill="#50c7e0"/></svg>
                </span>
                <h3>Secure and HIPAA-Compliant</h3>
                <p>Our platform is built in a Amazon's HIPAA compliant AWS cloud platform for secure transmission of all types of case information.</p>
            </div>
        </div>
    </div>
</section>

<section class="home-section referring-lawyers">
    <div class="container-fluid">
        <header>
            <h2>Referring Lawyers</h2>
            <h3>Sign up and find out how  easy it is to list your first case.</h3>

            {% unless current_user %}
                <a href="/sign-up" class="button-a">Sign Up</a>
            {% endunless %}
        </header>


        <div class="manage-on-mobile">
            <p><em>Manage</em> all your cases, offers, and communications from any mobile device.</p>
        </div>
    </div>
</section>

<section class="home-section trusted-firms">
    <div class="container-fluid">

        <header class="section-header">
            <h2 class="hx-a">Trusted firms using <span>LitVault</span></h2>
            <h3 class="hx-b">Designed by lawyers for lawyers. Enjoy the time saving tools and process we have created.</h3>
        </header>

        <ul class="brands">
            <li><img src="https://d2rw3as29v290b.cloudfront.net/instances/198/uploads/ckeditor/picture/data/2799/partner-bigcommerce.png" alt="Bigcommerce"></li>
            <li><img src="https://d2rw3as29v290b.cloudfront.net/instances/198/uploads/ckeditor/picture/data/2805/partner-mindbody.png" alt="MindBody"></li>
            <li><img src="https://d2rw3as29v290b.cloudfront.net/instances/198/uploads/ckeditor/picture/data/2804/partner-insightly.png" alt="insightly"></li>
            <li><img src="https://d2rw3as29v290b.cloudfront.net/instances/198/uploads/ckeditor/picture/data/2808/partner-receipt-bank.png" alt="Receipt Bank"></li>
            <li><img src="https://d2rw3as29v290b.cloudfront.net/instances/198/uploads/ckeditor/picture/data/2803/partner-google.png" alt="Google"></li>
            <li><img src="https://d2rw3as29v290b.cloudfront.net/instances/198/uploads/ckeditor/picture/data/2806/partner-microsoft.png" alt="Microsoft"></li>
            <li><img src="https://d2rw3as29v290b.cloudfront.net/instances/198/uploads/ckeditor/picture/data/2807/partner-paypal.png" alt="PayPal"></li>
            <li><img src="https://d2rw3as29v290b.cloudfront.net/instances/198/uploads/ckeditor/picture/data/2812/partner-stripe.png" alt="Stripe"></li>
            <li><img src="https://d2rw3as29v290b.cloudfront.net/instances/198/uploads/ckeditor/picture/data/2811/partner-squarespace.png" alt="SquareSpace"></li>
            <li><img src="https://d2rw3as29v290b.cloudfront.net/instances/198/uploads/ckeditor/picture/data/2809/partner-shopify.png" alt="Shopify"></li>
            <li><img src="https://d2rw3as29v290b.cloudfront.net/instances/198/uploads/ckeditor/picture/data/2802/partner-bill-com.png" alt="Bill.com"></li>
            <li><img src="https://d2rw3as29v290b.cloudfront.net/instances/198/uploads/ckeditor/picture/data/2810/partner-square.png" alt="Square"></li>
        </ul>
    </div>
</section>

<section class="home-section testimonials">
    <div class="container-fluid">

        <header class="section-header">
            <h2 class="hx-a">Testimonials</h2>
            <h3 class="hx-b">Learn what other lawyers have to say about LitVault.</h3>
        </header>

        <div class="items">
            <figure class="item">
                <img src="https://d2rw3as29v290b.cloudfront.net/instances/198/uploads/ckeditor/picture/data/2827/portrait-a.jpg" alt="John Smith" class="portrait">
                <blockquote>
                    <p>“LitVault takes a tedious process and converts into actionable simple steps.  I was able to get my case listed and live for review in a matter of minutes.”</p>
                    <cite class="author">John Smith</cite>
                </blockquote>
            </figure>

            <figure class="item">
                <img src="https://d2rw3as29v290b.cloudfront.net/instances/198/uploads/ckeditor/picture/data/2828/portrait-b.jpg" alt="Robert Mills" class="portrait">
                <blockquote>
                    <p>“Posting cases and getting responses from interested and qualified lawyers is as easy as it gets.  I highly recommend LitVault to everyone!”</p>
                    <cite class="author">Robert Mills</cite>
                </blockquote>
            </figure>

            <figure class="item">
                <img src="https://d2rw3as29v290b.cloudfront.net/instances/198/uploads/ckeditor/picture/data/2829/portrait-c.jpg" alt="Michael Duncan" class="portrait">
                <blockquote>
                    <p>“This service saves my firm time and energy.  It has allowed me to connect and collaborate with many other trusted professionals.”</p>
                    <cite class="author">Michael Duncan</cite>
                </blockquote>
            </figure>
        </div>
    </div>
</section>

