---
http_interactions:
- request:
    method: post
    uri: https://sandbox.sendle.com/api/orders
    body:
      encoding: UTF-8
      string: '{"sender":{}}'
    headers:
      Authorization:
      - Basic ZGFyZWtfbmVhcl9tZV9jb206QkJYbWRnVkt3eHk0WXZ6NXlDUnJKalNY
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"messages":{"description":["can''t be blank"],"sender":[{"contact":[{"name":["can''t
        be blank"]}],"address":[{"address_line1":["can''t be blank"],"suburb":["can''t
        be blank"],"postcode":["can''t be blank"],"state_code":["can''t be blank"],"state_name":["can''t
        be blank"]}]}],"receiver":[{"contact":[{"name":["can''t be blank"],"email":["Either
        email or Sendle ID must be present"]}],"address":[{"address_line1":["can''t
        be blank"],"suburb":["can''t be blank"],"postcode":["can''t be blank"],"state_code":["can''t
        be blank"],"state_name":["can''t be blank"]}],"instructions":["can''t be blank"]}]},"error":"unprocessable_entity","error_description":"The
        data you supplied is invalid. Error messages are in the messages section.
        Please fix those fields and try again."}'
  recorded_at: Mon, 10 Oct 2016 08:38:06 GMT
recorded_with: VCR 3.0.3
