---
http_interactions:
- request:
    method: post
    uri: https://sandbox.sendle.com/api/orders
    body:
      encoding: UTF-8
      string: '{"sender":{"contact":{"name":"Clark Kent","email":"clarkissuper@dailyplanet.xyz"},"address":{"address_line1":"123
        Gotham Ln","suburb":"Sydney","state_name":"NSW","postcode":"2000","country":"Australia"},"instructions":"Knock
        loudly"},"receiver":{"contact":{"name":"Clark Kent","email":"clarkissuper@dailyplanet.xyz"},"address":{"address_line1":"80
        Wentworth Park Road","suburb":"Glebe","state_name":"NSW","postcode":"2037","country":"Australia"},"instructions":"Give
        directly to Clark"},"pickup_date":"2016-10-11","description":"Kryptonite","kilogram_weight":1,"cubic_metre_volume":0.01,"customer_reference":"SupBdayPressie","metadata":{"your_data":"XYZ123"}}'
    headers:
      Authorization:
      - Basic ZGFyZWtfbmVhcl9tZV9jb206QkJYbWRnVkt3eHk0WXZ6NXlDUnJKalNY
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9c4b726df2a067b9d8649a7889386927"
    body:
      encoding: ASCII-8BIT
      string: '{"order_id":"8dd173b2-26fb-43d1-84c7-1eac4b328d89","state":"Pickup","order_url":"https://sendle-sandbox.herokuapp.com/api/orders/8dd173b2-26fb-43d1-84c7-1eac4b328d89","sendle_reference":"SB362F","tracking_url":"https://sendle-sandbox.herokuapp.com/tracking?ref=SB362F","metadata":{"your_data":"XYZ123"},"labels":null,"scheduling":{"is_cancellable":true,"pickup_date":"2016-10-11"},"description":"Kryptonite","confirmed_not_dangerous":false,"kilogram_weight":"1.0","cubic_metre_volume":"0.01","customer_reference":"SupBdayPressie","sender":{"contact":{"name":"Clark
        Kent","phone":null,"email":"darek@near-me.com","sendle_id":"darek_near_me_com"},"address":{"address_line1":"123
        Gotham Ln","address_line2":null,"suburb":"Sydney","state_name":"NSW","postcode":"2000","country":"Australia"},"instructions":"Knock
        loudly"},"receiver":{"contact":{"name":"Clark Kent","phone":null,"email":"clarkissuper@dailyplanet.xyz"},"address":{"address_line1":"80
        Wentworth Park Road","address_line2":null,"suburb":"Glebe","state_name":"NSW","postcode":"2037","country":"Australia"},"instructions":"Give
        directly to Clark"}}'
  recorded_at: Mon, 10 Oct 2016 08:38:05 GMT
recorded_with: VCR 3.0.3
