

// Generic styles to apply to everything

::selection, ::-moz-selection {
  background-color: $theme_blue;
}

p a,
p a:visited {
  color: $theme_blue;

  &:hover {
    color: darken( $theme_blue, 10%);
  }
}

strong {
  font-family: $font-bold;
}

.truncated-ellipsis {
  font-family: $font-bold;
  color: $theme_black;
}
