.row-fluid.header-row
  .span4
    Order from #{order.company_name}
  .span2
    Price
  .span2
    Quantity
  .span2
    Total
  .span2
    Actions

- order.line_items.each do |item|
  = render partial: 'cart_item', locals: {item: item}

.row-fluid.cart-row.no-hover
  .span7
    Total for order
    = order.display_total
  .span2.offset3
    = link_to t('buy_sell_market.cart.buttons.checkout'), order_checkout_path(order, 'address'), class: 'btn btn-green btn-large'
