.row-fluid
  .span12.centered
    %h1= t('buy_sell_market.cart.labels.empty_cart')

  .row-fluid
    .span12.centered
      = link_to t('buy_sell_market.cart.buttons.browse_products'), root_path(anchor: 'products'),
                  class: 'btn btn-blue btn-large'
