%header
  .button-links
    %ul
      %li
        = listing_message_navigation_link :index do
          %span= current_user.unread_messages_count.present? ? "Inbox (#{current_user.unread_messages_count})" : "Inbox"
      %li
        = listing_message_navigation_link :archived do
          %span Archived
