.row-fluid  
  .span8.offset2
    %h1 Messages

    .box
      = render "header"

      - if @threaded_listing_messages.blank?
        %center
          - if params[:action] == 'index'
            No new messages!
          - if params[:action] == 'archived'
            No archived messages

      - else
      - @threaded_listing_messages.each do |array_key, listing_messages|
        = render 'listing_message', listing_message: listing_messages.last.decorate
