%ul.file-manager-header-actions.folder-actions
  %li
    %button.action--upload{:type => "button"} Upload
  %li
    %button.action--new-folder{:type => "button"} New folder
  %li
    %button.action--new-file{:type => "button"} New file
