- content_for :domready do
  - if params[:action] == 'recurring_booking_successful'
    $(document).trigger('load.modal', ['#{booking_successful_listing_recurring_booking_path(@recurring_booking.listing, @recurring_booking)}']);
