<div class="header">
  <h1>
    {{ 'reservations_review.heading' | translate }}
  </h1>
  <p class="location-name">
    {{ listing.name }}
  </p>
  <p class="location-address">
    {{ location.address }}
  </p>
</div>

