%tr
  %td= link_to admin_resource_name(resource), [:global_admin, resource]
  %td= resource.email
  %td
    = link_to "Remove admin", global_admin_platform_admin_path(resource), :method => :delete,
        data: { confirm: 'Are you sure you want to remove platform admin access for this user?'}, :class => "btn btn-danger"
