<div class='carousel slide' data-interval='2000'>
  <div class='carousel-inner' role='listbox'>
    <div class='item active' style='background-image: url(https://d2rw3as29v290b.cloudfront.net/instances/175/uploads/ckeditor/picture/data/2177/header_slide1.png)'>
    </div>
    <div class='item' style='background-image: url(https://d2rw3as29v290b.cloudfront.net/instances/175/uploads/ckeditor/picture/data/2190/header_slide2.png)'>
    </div>
    <div class='item' style='background-image: url(https://d2rw3as29v290b.cloudfront.net/instances/175/uploads/ckeditor/picture/data/2191/header_slide3.png)'>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('.carousel').carousel();
  })
</script>
