#search_row.span10.offset1
  .row-fluid
    %h1= platform_context.tagline
  .black-box.row-fluid
    %form#listing_search.home_search{:action => search_path, :method => "get"}
      - if !platform_context.instance.buyable?
        .input-wrapper
          .geolocation.no-bookings
            %span.ico-crosshairs
        %input#search{:name => "loc", :placeholder => platform_context.search_field_placeholder, :type => "text", :value => "", :class => "query"}
      .button-wrapper
        %a.btn.btn-green.btn-large{ "data-disable-with" => "Searching...", :rel => "submit", :href => "" }
          %span.ico-search
          Search
        #suggest_location{:style => "display: none"}

    - if !platform_context.instance.buyable?
      - search_geofields.each do |geofield|
        = hidden_field_tag geofield, ''

- if platform_context.instance.searcher_type != 'fulltext' && !platform_context.instance.buyable?
  - content_for :domready do
    new Search.HomeController($('#listing_search'))
