<div class="span6 offset3" id="search_row">
  <div class="row-fluid">
    <h1 class="tagline">
      {{ platform_context.tagline }}
    </h1>
  </div>
  <div class="black-box row-fluid">
    <form action="/search" class="home_search" id="listing_search" method="get">
      <div class="no-text-search">
        <input id="search" name="q" type="hidden" value=" "></input>
        <a class="btn btn-green btn-large" data-disable-with="Searching..." rel="submit" href="">
          <span class="ico-search"></span>
          Search
        </a>
      </div>
    </form>
  </div>
</div>
