<div class="{{ platform_context.calculate_container }}" id="search_row">
  <div class="row-fluid">
    <h1>
      {{ platform_context.tagline }}
    </h1>
  </div>
  <div class="black-box row-fluid">
    {% include 'home/search_box_inputs.html' %}
  </div>
</div>
