- legacy false

- content_for :hero do
  .container-fluid
    .row-fluid
      = render :partial => "search_#{ platform_context.theme.is_company_theme? ? 'button' : 'box' }"

  - if not platform_context.homepage_content.blank?
    .call-to-action
      %a{href: '', 'data-call-to-action' => true}
        #{platform_context.call_to_action}
        %br
        %span.ico-chevron-down

%section.how-it-works
  :markdown
    #{platform_context.homepage_content}

- content_for :domready do
  new Home.BackgroundController($('#hero'))
  new Home.Controller($('body'))
