{% content_for 'hero' %}
  <div class="container-fluid">
    <div class="row-fluid">
      {% if platform_context.is_company_theme? %}
        {% include 'home/search_button' %}
      {% else %}
        {% include 'home/search_box' %}
      {% endif %}
    </div>
  </div>

  {% if platform_context.homepage_content != empty %}
    <div class="call-to-action">
      <a data-call-to-action="true">
        {{platform_context.call_to_action}}
        <br/>
        <span class="ico-chevron-down"></span>
      </a>
    </div>
  {% endif %}
{% endcontent_for %}

<section class="how-it-works">
  {% include 'shared/modules/latest_products' %}
  {{ platform_context.homepage_content }}
</section>

{% content_for 'domready' %}
  new Home.BackgroundController($('#hero'))
  new Home.Controller($('body'))
{% endcontent_for %}
