.sidebar
  .nav
    %a.nav-menu{href: "#"} Menu
    %ul
      %li
        %a{href: "/careers/business-development"} Business Development
      %li
        %a{href: "/careers/sales-representative"} Sales Representative
      %li
        %a{href: "/careers/operations-manager"} Operations Manager
      %li
        %a{href: "/careers/developer"} Ruby Developer
      %li
        %a{href: "/careers/designer"} Designer
