= render 'platform_home/shared/sessioncam' if Rails.env.production?
= render 'platform_home/shared/adroll' if Rails.env.production?
= render 'platform_home/shared/adwords_remarketing' if Rails.env.production?
= render 'platform_home/shared/hubspot' if Rails.env.production?
