.sidebar
  .nav
    %a.nav-menu{href: "#"} Menu
    %ul
      %li
        %a{href: "/about-us"} About Us
      %li
        %a{href: "/contact"} Contact
      %li
        %a{href: "/blog"} Blog
      %li
        %a{href: "/careers"} Careers
      %li
        %a{href: "/press-and-media"} Press & Media
      %li
        %a{href: "/brand"} Brand
