= simple_form_for @theme, :url => instance_admin_theme_design_path, :html => { :multipart => true } do |f|
  %legend Homepage
  .row-fluid
    .controls.controls-row
      = f.input :homepage_css, wrapper_html: { class: 'span6' }, input_html: { class: 'input-block-level' }
      = f.input :homepage_content, wrapper_html: { class: 'span6' }, input_html: { class: 'input-block-level' }
  = f.button :submit, 'Save', class: 'btn btn-primary pull-right'
