- title t('dashboard.nav.waiver_agreement_templates')

.dash-page
  .dash-head.clearfix
    %p= t('dashboard.nav.waiver_agreement_templates')
    = link_to '#', class: "dash-head-btn", data: { modal: true, href: new_dashboard_company_waiver_agreement_template_path } do
      .btn.blue{:role => "button"} Add Waiver Agreement

  .dash-body
    #waiver-agreement-template-list.table-responsive
      %table.table
        %thead
          %tr
            %th Agreement
            %th Actions
        %tbody
          = render @waiver_agreement_templates
