<main id="main">
    <div class="wrapper-a">
        <div class="back-to-search-results back-to-listings">
            <a href="search.html">Back to My Projects</a>
        </div>

        <article class="listing-a">
            <h1>Keynote Speech</h1>

            <div class="content">
                <div class="listing-properties">
                    <div class="overview">
                        <h2>Client Name: <span>Jane Lane</span></h2>
                        <div class="meta">Project posted <b>20</b> days ago</div>
                    </div>

                    <div class="properties">
                        <dl>
                            <dt>Client Name:</dt>
                            <dd>Jane Lane</dd>

                            <dt>Invite Sent:</dt>
                            <dd><time datetime="2016-07-27">7-27-2016</time></dd>

                            <dt>Workplace:</dt>
                            <dd>Online</dd>

                            <dt>Workplace:</dt>
                            <dd>Online</dd>

                            <dt>Languages:</dt>
                            <dd>English, Spanish</dd>
                        </dl>

                        <dl>
                            <dt>Approx. Budget:</dt>
                            <dd>$1800</dd>

                            <dt>Deadline:</dt>
                            <dd>9-25-2016</dd>

                            <dt>Approx. Time to Complete: </dt>
                            <dd>2 Weeks</dd>
                        </dl>
                    </div>
                </div>

                <div class="listing-description">
                    <h3>Vignette of a Scope:</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

                    <h3>Type of Deliverable:</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

                    <h3>Other Requirements:</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
                </div>
            </div>


            <aside class="sidebar">
                <ul class="actions-a">
                    <li><a href="./" class="button-a">Make an Offer</a></li>
                    <li><a href="./" class="button-b action-call">Call Client</a></li>
                    <li><a href="./" class="button-b action-message">Send Message</a></li>
                </ul>

                <hr>

                <h4>About Company</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet, quos quia esse beatae aliquam tempore eaque non quis. Autem neque hic nihil veniam cupiditate exercitationem reprehenderit quisquam consequatur repellendus?</p>

                <hr>

                <ul class="company-properties">
                    <li><b>10</b> Projects Posted</li>
                    <li><b>2</b> Projects Completed</li>
                    <li>{{ 'registrations.member_since' | translate }} 2/19/2015</li>
                </ul>

                <hr>

                <p class="payment-verified">
                    <strong>Payment Method Verified</strong>
                </p>

                <hr>

                <ul class="actions-a">
                    <li><a href="./" class="button-b action-flag">Flag as inappropriate</a></li>
                </ul>
            </aside>
        </article>
    </div>
</main>
