.row-fluid
  .span8.offset2
    %h1 Messages

    .box
      = render "header", messages: user_messages_decorator

      - if @threaded_user_messages.blank?
        - if params[:action] == 'index'
          %p.no-data No new messages!
        - if params[:action] == 'archived'
          %p.no-data No archived messages

      - else
        - @threaded_user_messages.each do |array_key, user_messages|
          = render 'user_message', user_message: user_messages.last.decorate
