<h2>Hi {{ user.first_name }}!</h2>

<p>We've received your application! It will be great to have you on board. Sit tight and we'll be in touch soon with more information on how you can complete your registeration to become a driver.</p>

<p>In the meantime, if you have any questions feel free to drop us a line at <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a></p>

<p>Best wishes from,<br />
The LocalDriva Team</p>
