<h2>G'day, {{ user.first_name }}!</h2>

<p>Thanks for registering with LocalDriva! We're a new marketplace connecting travelers across the globe with affordable rideshare drivers and local guides to give you a fair dinkum Ozzie experience on your next trip. With LocalDriva you've got a mate waiting for you on your next Australian trip!</p>

<p>Currently, we are only available in Sydney, but we are working to get you local drivers across Australia....and other global locations. Stay tuned!</p>

<p>We approve each driver individually. It means, that after completing your profile you will not immedially in our search results.</p>

<p>We're always here to help. If you need help from our support team just email us at  <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a> and we'll take care of you ASAP.</p>
<p><b>We're really stoked that you have decided to join us during LocalDriva's Beta Launch. We greatly value any of your suggestions or comments at support@localdriva.com. We'd really love to hear from you!</b></p>
