<h2>G'day, {{ user.first_name }}!</h2>

<p>Thanks for registering with LocalDriva! We're a new marketplace connecting travelers across the globe with affordable rideshare drivers and local guides to give you a fair dinkum Ozzie experience on your next trip. With LocalDriva you've got a mate waiting for you on your next Australian trip!</p>

<p>Currently, we are only available in Sydney, but we are working to get you local drivers across Australia....and other global locations. Stay tuned!</p>

<p style="padding-bottom: 0px;">We’re ready to help you:</p>
<ul>
  <li>Travel the city with a local offering the best advice on where to go and what to do.</li>
  <li>Experience the city through the eyes of a real local who will fully customise your trip to your interests.</li>
  <li>Book your own personal local driver and guide in advance for a fraction of the cost of other tour guides.</li>
  <li>Forget expensive taxis, navigating bus lines and spending precious time waiting for public transport. Enjoy the convenience and comfort of traveling to each destination in a private car.</li>
</ul>
<br/>
<p>We're always here to help. If you need help from our support team just email us at  <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a> and we'll take care of you ASAP.</p>
<p><b>We're really stoked that you have decided to join us during LocalDriva's Beta Launch. We greatly value any of your suggestions or comments at support@localdriva.com. We'd really love to hear from you!</b></p>
