<p>{{ user.first_name}},</p>

<p>Good on ya! You've successfully completed your profile. Now you can get cracking to book a driver for your next trip.</p>

<p>#1 Search for Drivers</p>
<p>#2 Connect with Drivers</p>
<p>#3 Communicate with Drivers</p>

<p>It's that simple! What are you waiting for??</p>
