<p>Congratulations {{ user.first_name}}!</p>

<p>You've completed adding your first booking within our our marketplace. You are now ready to begin communicating with various LocalDriva drivers. When you feel you have found a good match, invite them to the booking to get confirmation and complete your travel plans.</p>
