%li.listing.action-buttons
  .span4
    = option_type.name
  .span4
    = option_type.presentation
  .span3
    .links.right
      = link_to manage_buy_sell_option_type_path(option_type), :method => :delete, :confirm => 'Are you sure?', :class => "delete", style: 'padding-top: 0px;' do
        %span.ico-trash
        %span.text Delete

      = link_to edit_manage_buy_sell_option_type_path(option_type), :class => "delete", style: 'padding: 0 0 0 10px;' do
        %span.icon.ico-edit
        %span.text Edit
  .clearfix
