- title "Edit Option Type"

= show_manage_navigation(:products, :option_types)

.row-fluid
  .span8.offset2
    .box
      %ul.location-and-listings
        %li.location
          .name.left
            =t("manage.buy_sell.option_types.edit_header")

      = simple_form_for [:manage, :buy_sell, @option_type], :html => {multipart: true, class: "form-horizontal form-expandable" } do |f|

        = render 'form', f: f

        .actions
          = f.submit "Save"
