- content_for :domready do
  - if params[:action] == 'guest_rating'
    Modal.load('#{new_reservation_guest_rating_path(@reservation.id)}')
  - if params[:action] == 'host_rating'
    Modal.load('#{new_reservation_host_rating_path(@reservation.id)}')
