- title "Rate your Experience"

.row-fluid
  .span8.offset2
    %h1
      %span.ico-edit.padding Rate your Experience
    .box.ratings
      = render :partial => "ratings/form"
    .box
      %section.reservations
        = render @reservation
