%li.listing.action-buttons
  .span3
    = link_to taxonomy.name, edit_manage_buy_sell_taxonomy_path(taxonomy)
  .span2
    .links.right
      = link_to manage_buy_sell_taxonomy_path(taxonomy), :method => :delete, :confirm => 'Are you sure?', :class => "delete", style: 'padding-top: 0px;' do
        %span.ico-trash
        %span.text Delete
      = link_to edit_manage_buy_sell_taxonomy_path(taxonomy), :class => "delete", style: 'padding: 0 0 0 10px;' do
        %span.icon.ico-edit
        %span.text Edit
  .clearfix
