<h2>Hello there, {{ user.first_name }}!</h2>

<p>There are some new desks around you. Take a look and find the perfect place to work!</p>

{% include 'reservation_mailer/listings_in_near_html' %}

<a class="btn" href="{{ listing.search_url_with_tracking }}">Search More Desks</a>

<p>Not looking for a desk? <a href="{{ user.space_wizard_list_url_with_tracking }}">List your space</a>.</p>
