/*===== BUTTONS =====*/

.btn {
  border-radius: 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  padding: 8px 20px;

  &:focus {
    outline: none;
  }

  &.full {
    width: 100%;
  }

  &.half {
    width: 45%;
  }

  &:active {
    box-shadow: none;
  }

  &.blue {
    background: $color-blue;
    color: #fff;

    &:hover {
      background: $color-light-blue;
    }

    &:active {
      background: $color-dark-blue;
    }
  }

  &.gray {
    background: $color-gray;
    color: #fff;

    &:hover {
      background: $color-light-gray;
    }

    &:active {
      background: $color-dark-gray;
    }
  }

  &.red {
    background: $color-red;
    color: #fff;

    &:hover {
      background: $color-light-red;
    }

    &:active {
      background: $color-dark-red;
    }
  }

  &.dark-gray {
    background: $color-dark-gray;
    color: #fff;
  }

  &:focus {
    outline: none;
  }

  &.full {
    width: 100%;
  }

  .dash-head-btn &{
    float: right;
    font-size: 14px;
  }
}

.submit-bar {
  text-align: center;

  .btn {
    width: 30%;
    margin-left: 20px;
  }
}

