.control-fileupload, .with-upload-button .fileupload {
  margin-left: 15px;
  margin-bottom: 10px;

  .btn-blue {
    background: $color-blue;
    color: #fff;
  }

  .uploaded {
    .attachment {
      margin-left: 10px;

      img {
        vertical-align: text-top;
      }
    }
  }

  .hint-block {
    font-size: 12px;
  }
}
