/* Only add code here targeting modal's top classes, or subclasses if enclosed in top classes */

.modal-overlay {
  background: none;
}
.modal-content {
  padding: 0px;
  background-color: #fff;
  border-radius: 0px;
}

.modal-container {
  .modal-header {
    background: $color-blue;
  }

  .modal-title {
    color: #fff;
  }

  .modal-close {
    color: #fff;
    font-weight: 200;
    text-shadow: none;
    opacity: 1;
  }

  label {
    display: block;
  }

  input, textarea, .customSelect {
    margin: 15px 0;
  }

  input.email {
    background: url("/assets/dashboard/mail.png") left no-repeat;
    padding-left: 40px;
  }

  .btn {
    width: 45%;
    margin-top: 15px;
  }

  .load-hide {
    display: none;
  }

  #add-ach label {
    width: 100%;
  }

  .custom-select {
    width: 100% !important;
    height: 30px;
    margin-top: 18px;
  }

  img {
    margin: 15px 0;
  }

  #select-payment .table>tbody>tr>td {
    padding: 30px 8px;
    border-top: 1px solid #ddd;
  }

  .checkbox {
    margin: 0;
  }

  input#open, input[type="checkbox"] {
    position: initial;
    margin: 0;
  }

  input.margin-right {
    margin-right: 10px;
  }

  .btn.selectpicker {
    width: 100%;
  }

  .availability-rules {
    input, textarea, .customSelect {
      margin: 0px 0;
    }
  }

  .radio-container {
    margin-left:20px;

    input {
      margin-top: 4px;
    }
  }

}
