/*===== GENERAL STYLES =====*/

html {
  height: 100%;
}

body {
  margin: 0;
  background: #f2f2f2;
  height: 100%;
}

header {
  height: 50px;
  background: #000;
  padding-top: 10px;
}

* {
  font-family: $font-stack;
}

p, h1, h2, h3, h4, h5, a, label, td {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  color: $color-headings;
  font-weight: 600;
}

p {
  color: $color-dark-gray;
}

h1 {
  font-size: 40px;
}

a, a:hover, a:focus {
  color: $color-blue;
  text-decoration: none;
  outline: 0;
}

a:hover {
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}

section {
  background: #fff;
  padding: 50px 0;
  margin-bottom: 30px;
  border-bottom: solid #d5d5d5 2px;

  .container-fluid {
    width: 68%;
    margin: 0 auto;
  }

  .section-heading {
    color: #5dbded;
    font-weight: 300;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 600;
  }

  .section-heading:hover {
    color: #5dbded;
  }

  .list .col-md-3 {
    padding: none;
  }

  .listings-header .row {
    margin: 0;
  }

  .row {
    margin: 30px 0;
  }
}

.inline {
  display: inline-block;
}

.page-wrapper {
  width: 1100px;
  padding: 60px 0;
  margin: 0 auto;
  min-height: 81%;
}

.customSelect {
  border: solid #d4d4d4 1px;
  border-radius: 3px;
  background:#fff url("/assets/dashboard/arrow-down.png") right no-repeat;
  width: 100%;
  padding: 5px 0 5px 5px;
  font-weight: 300;
  font-size: 14px;
}

.blue {
  color: $color-blue;
}

.yellow {
  color: #fdcc51;
}

.divider {
  border: 1px solid #d5d5d5;
  margin: 40px 0;
}

.checkbox-icon-outer, i.custom-select-dropdown-icon.ico-chevron-down {
  display: none;
}

abbr[title]:not(.timeago) {
  border-bottom: none;
  color: $color-red;
  margin-left: -7px;
}

.error {

  .error-block, .help-inline {
    font-family: $font-stack;
    font-size: 14px !important;
  }
}

/*===== DASHBOARD =====*/

.dash-body {
  background: #fff;
  padding: 20px 50px;
}

.dash-body-container {
  width: 50%;
  margin: 0 auto;

  img {
    vertical-align: middle
  }

  p {
    vertical-align: middle;
    display: inline-block;
    width: 80%;
    margin-left: 20px;
  }
}

.dash-page {
  margin-bottom: 20px;
}

.bulk-upload {
  float: right;
  margin: 7px 15px 0 0;
  color: $color-blue;
}

/*===== RESERVATIONS =====*/

#reservations {

  .promote-location {

    h2 {
      margin: 50px 0px 20px;

      &:first-child {
        margin-top: 0px;
      }
    }
  }
}

h4{
  &.reservation-emphasis {
    margin-bottom: 25px;
  }

  &.other-reservation-separator {
    margin-bottom: 25px;
  }
}

.sharelocation {
  margin-top: 15px;
}

.recurring-booking-summary {
  margin-bottom: 20px;
}

/*===== ORDERS =====*/

.order {
  border: solid $color-ultra-light-gray 1px;
  margin-bottom: 50px;
}

.order-head {
  background: $color-ultra-light-gray;
  padding: 10px 20px;

  p:nth-child(1) {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  p, a {
    font-size: 12px;
  }

}

.dash-body .order-head .row {
  margin: 0;
}

.order-body {
  padding: 20px 30px;

  img {
    width: 100px;
  }

  .row {
    margin: 20px 0;
  }
  .order-status {
    .col-md-3 {
      margin-left: 0px;
      padding-left: 0px;
    }

    .warn {
      color: $color-red;
    }
    .info {
      color: $color-green;
    }
  }
}

.order-item .col-md-8, .additional-item .col-md-8 {
  padding: 0;
}

.order-details {
  display: inline-block;
  vertical-align: top;

  a, p {
    font-size: 14px;
    font-weight: 300;
  }

  p {
    color: #858585;
  }
}

.order-received {
  margin-bottom: 20px;
}

.additional-item {
  border-top: solid $color-ultra-light-gray 1px;
  padding-top: 20px;
}

.order-actions .btn {
  margin-bottom: 10px;
}

.order-tracking {
  margin-bottom: 15px;

  img {
    width: 17px;
    margin-right: 10px;
  }

  p {
    display: inline-block;
    vertical-align: top;
  }

  .unconfirmed {
    color: #e85c41;
  }

  .confirmed {
    color: #5dc988;
  }
}

.quantity {
  vertical-align: top;
  margin-right: 10px;
}

.action-row {
  text-align: right;
  margin-bottom: 15px;

  .btn {
    margin-left: 15px;
  }
}

.orders-body {
  padding: 20px 100px;
}

.orders-head {
  background: #b6b6b6;

  p {
    color: #fff;
  }
}

/*===== BULK UPLOAD =====*/

#modal-bulk-upload .modal-body p {
  margin-bottom: 30px;
}

/*===== SEARCH ROW =====*/
.search-row {
  margin: 20px 0 40px 0;

  input.search {
    width: 250px;
    float: right;
    background:#fff url("/assets/dashboard/search.png") right no-repeat;
  }

  .customSelect {
    width: 150px;
  }
}

/*===== LISTINGS =====*/

.listings-header {
  border-bottom: solid $color-ultra-light-gray 1px;
}

.dash-body .listings-header .row {
  margin: 0;
}

.listings-header p {
  font-size: 14px;
}

.dash-body .row {
  margin: 30px 0;
}

.listing-img img {
  width: 100px;
}

.listing-attr a, .listing-attr p {
  display: block;
  margin-top: 30px;
  font-size: 14px;
}

.edit-locations {

  .locations.row {
    margin: 0;
  }

  .show-more {
    padding-left: 15px;
    margin: 10px 0;
  }

}

.add-new {
  float: right;
}

/*===== MESSAGES =====*/

.customSelect.messages {
  width: 150px;
}

.circular-image img {
   width: 50px;
   height: 50px;
   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
   -ms-border-radius: 25px;
   -o-border-radius: 25px;
    border-radius: 25px;
}

.dash-body.inbox {
  padding: 0;

  .read {
    background: #f9f9f9;
  }

  .row {
    margin: 0;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
  }

  .message {
    padding: 25px 50px;
  }

  .message-title {
    font-size: 15px;
    color: #000;
  }

  .message-action {
    text-align: center;
    padding-top: 20px;
  }
}

.message.striped {
  background: #f9f9f9;
}

.dash-body.thread {
  padding: 0;

  .row {
    margin: 0;
  }

  .message {
    padding: 25px 50px 40px 50px;
  }

  .content {
    padding-left: 20px;
  }

  p span {
    color: #aaa;
  }

  .btn {
    padding: 8px 70px;
    margin-top: 20px;
  }
}

/*===== NOTIFICATIONS =====*/

.notifications {

  h5 {
    margin-bottom: 10px;
  }

  .notification-preference {
    margin-top: 20px;
  }
}

/*===== TRUST AND VERIFICATION =====*/

.verification {
  h5 {
    margin-bottom: 10px;
  }

  .btn {
    margin-top: 15px;
    width: 60%;
  }

  .col-md-7 {
    text-align: center;
  }
}

/*===== BLOG =====*/

input#enable-blog {
  margin-right: 15px;
}

.upload {
  display: inline-block;
  width: 125px;
  text-align: center;
  padding: 5px 10px;
  border: solid $color-light-gray 1px;

  input[type="file"] {
    display: none;
  }

  label {
    display: block;
  }

  span {
    display: inline-block;
    padding-top: 5px;
    margin-left: 15px;
  }

}

.upload:hover {
  cursor: pointer;
}

#blog-settings .btn, #blog-post .btn {
  margin-left: 20px;
}

#blog-publish-date {
  width: 40%;
  display: block;
  background:#fff url("/assets/dashboard/arrow-down.png") right no-repeat;

  &:hover {
    cursor: pointer;
  }
}

/*===== PAGINATION =====*/

.pagination {
  text-align: center;
  display: inherit;

  ul {
    box-shadow: none;
    list-style: none;
  }

  li {
    display: inline;
  }

  ul li a {
    background: transparent;
    border: none;
    float: inherit;
    font-size: 18px;
    padding: 4px 12px;
  }

  img {
    float: inherit;
  }

  a {
    color: #5dbded;
  }

  .page-link {
    padding-top: 10px;

    &.active {
      color: #000;
    }
  }
}

/*=====POPOVERS=====*/

.popover-content {
  padding: 14px 0;
}

.popover-list {
  list-style-type: none;

  li {
    padding: 5px 24px 5px 14px;
    width: 100%;
  }

  li:hover {
    background-color: #dff2fb;
  }

  a {
    color: #000;
    padding-left: 5px;
    text-decoration: none;
  }

}

/*===== DATEPICKER =====*/

#ui-datepicker-div {
  background: #fff;
  box-shadow: 5px 6px 25px #727272;
  width: initial;
  text-align: center;
  padding: 10px;

  .ui-datepicker-header {
    padding: 10px 5px;
  }

  table {
    margin-top: 15px;
  }

  table th {
    padding-bottom: 5px;
  }

  table td {
    height: 30px;
    width: 30px;
  }

  tr:nth-child(1) td {
    padding-top: 0;
  }

  td a, td span, th span {
    color: #000;
    font-size: 12px;
    text-align: center;
    padding: 7px;
    font-weight: 200;
  }

  .ui-datepicker-next {
    float: right;
  }

  .ui-datepicker-prev {
    float: left;
  }

  .ui-datepicker-other-month {
    background: #f7f9f9;
  }

}

/*===== SELECTPICKER =====*/

.bootstrap-select.btn-group .btn {

  .filter-option {
    color: #555;
    line-height: initial;
    height: initial;
    font-size: 14px;
  }

  .caret {
    border-top: 11px solid #3a3a3a;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: none;
    border-radius: 3px;
    top: 40%;
    right: 10px;
  }
}

/*===== FOOTER =====*/

.footer-wrapper {
  min-height: $footer-height;

  .container-fluid {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
  }

  * {
    font-family: $font-stack;
  }
}

/*===== MEDIA QUERIES =====*/

@media (max-width: 1130px) {
  .page-wrapper {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .dash-body {
    padding: 20px 30px;
  }

  .dash-head {
    p, a {
      font-size: 12px;
    }
  }

  section {
    padding: 20px 30px;
  }

 .input-container {
    display: block;
  }
}

@media (max-width: 991px) {
  .row .page-navigation {
    display: none;
  }

  .row .page-content {
    width: 100%;
  }

  .mobile-nav {
    display: block;
  }

  .dash-body.inbox {

    .message {
      padding: 25px 20px;
    }

    .col-md-7 {
      padding-top: 30px;
    }

    .message-action {
      text-align: left;
    }
  }

  .edit-locations .col-md-6 {
    padding: 0;
    margin-top: 10px;
  }

  .add-new {
    height: 25px;
    float: none;

    a {
      float: right;
    }
  }

  .order-head p:nth-child(1) {
    margin: 0;
  }

  .order-head [class*='col-'] {
    margin-bottom: 20px;
  }

}

@media (max-width: 767px) {
  .dash-sub-nav ul li {
    padding: 0 10px;
  }

  .listings-header {
    display: none;
  }

  .listings .row {
    margin-bottom: 40px;
  }

  .listing-attr a, .listing-attr p {
    margin: 0;
  }

  .dash-head-btn {
    float: none;
    display: block;
  }

  .submit-bar .btn {
    width: 100%;
    margin: 10px 0;
  }

  .form-horizontal .control-label {
    text-align: left;
  }
}

@media (max-width: 650px) {
  section .container-fluid {
    width: 100%;
  }

  .page-banner {
    padding: 20px 0;
  }
}

@media (max-width: 400px) {
  section {
    padding: 20px 10px;
  }

  .navbar .nav-links li a.nav-link {
    font-size: 16px;
  }

  .page-wrapper {
    width: 95%;
  }

  .page-content {
    padding: 0;
  }

  .dash-head {
    padding: 10px;

    ul li {
      margin-right: 10px;
    }
  }

  .dash-head-btn .btn {
    float: none;
    margin-top: 20px;
  }

  .search-row {
    margin: 0 0 20px 0;

    input.search {
      float: none;
      margin-top: 20px;
    }

    .custom-select {
      display: block;
    }
  }

  .order-head .span3 {
    margin-bottom: 15px;
  }

  .order-actions {
    padding: 0;
    margin-top: 20px;
  }

  .dash-body {
    padding: 20px 10px;

    &.inbox {

      .message {
        padding: 25px 20px;
      }

      .col-md-7 {
        padding-top: 30px;
      }

      .message-action {
        text-align: left;
      }
    }
  }

  .notifications label {
    font-size: 10px;
    vertical-align: middle;
  }

}

.wish-list-image {
  margin-right: 5px;
  max-height: 24px;
}

.document-requirements {
  .radio_buttons {
    margin-left: 15px;
    margin-bottom: 30px;

    label {
      font-size: 14px;
    }
  }
}

.payment-documents {
  font-size: 14px;

  .file {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 130px;
  }
}

.payment-documents-tabs {
  li {text-transform: uppercase;}
}

/* Shipping Profiles */
.row {
  .shipping_method_block.shipping_method_list {
    .col-md-9.input-container {
      padding-left: 33px;
    }
  }
}

.shipping_profiles_modal {
  .modal-content {
    .modal-body {
      padding: 15px 35px 0 35px;
    }

    .shipping-form {
      .shipping-cost {
        .controls {
          padding-top: 14px;
        }

        input.price {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }
}

form#boarding_form {
  .shipping_profiles_modal_edit_link {
    display: none;
  }
}
/* Shipping Profiles */
