%h1 Transactable Type Attibutes

= link_to 'New Transactable Type Attibute', new_admin_transactable_type_transactable_type_attribute_path(transactable_type), class: 'btn'

%table.table.table-striped
  %thead
    %tr
      %th Name
  %tbody
    - transactable_type.transactable_type_attributes.each do |resource|
      = render 'admin/transactable_type_attributes/index_row', :resource => resource
