%tr
  %td= link_to resource.name,  admin_transactable_type_transactable_type_attribute_path(resource.instance, resource)
  %td= link_to 'Edit', edit_admin_transactable_type_transactable_type_attribute_path(resource.instance, resource), class: 'btn'
