- unless hide_password
  .password-holder.input-icon-holder
    = form.input :password, label: false, placeholder: t('simple_form.placeholders.registration.password'),
      input_html: { tabindex: tab_index, autocomplete: 'new-password' }
    %span.ico-lock
