- title @page.metadata_title.presence || @page.path
- meta_description @page.metadata_meta_description.presence || truncate(strip_tags(@page.html_content.try(:squish)), length: 160)
- canonical_url @page.metadata_canonical_url.presence || request.original_url

= content_for :hero do
  = image_tag(@page.hero_image.url) if @page.hero_image.present?
%style
  = @page.css_content

.row-fluid
  .span8.offset2
    = raw Liquid::Template.parse(@page.html_content).render(nil, registers: { action_view: self }, filters: [LiquidFilters])
