.row-fluid
  .span12
    = image_tag "w-hotels/w-2.jpg" 

%hr 

.row-fluid.padding
  .span8
    = image_tag "w-hotels/w-1.jpg"     
  .span4
    %h1 Union Square W Hotel

%hr 

.row-fluid
  .span4
    %h1 Private Event Space 
  .span8
    = image_tag "w-hotels/w-3.jpg"     


%hr 

.row-fluid.padding
  .span8
    = image_tag "w-hotels/w-4.jpg"     
  .span4
    %h1 Meeting Room   