.content-container
  %h4 Tax categories
  .row
    .table-container.col-xs-12
      %table.table.sortable
        %thead
          %tr
            %th Name
            %th Description
            %th Default
            %th
        %tbody
          - @tax_categories.each do |tax_category|
            = render 'index_row', tax_category: tax_category

= content_for :header_buttons do
  = link_to 'New tax category', new_instance_admin_buy_sell_tax_category_path, class: 'pull-right btn btn-blue'

