<input type="text" name="query" class="search-form__query-input" id="field-q" placeholder="" value="{{ params['query'] }}" />
<button type="submit" class="button-a search-form__query-submit">
  <i class="fa fa-search" aria-hidden="true"></i>
  Search
</button>

<input type="hidden" name="per_page" value="{{ searcher.per_page }}" />
<input type="hidden" name="page" value="{{ searcher.current_page }}" />
<input type="hidden" name="sort" />
<input type="hidden" name="user_profiles[seller][enabled]" value="true" />
