<div class="search-form__results-summary">
  {% if searcher.results.size < 0 %}
    <p>There are no results to show for your current query.</p>
  {% else %}
    <p>{{ searcher.results.size }} Results Found</p>
    <div class="search-form__results-sort-by">
      <p>Sort by:</p>
      <ul class="dropdown">
        <span data-toggle="dropdown" class="dropdown-toggle">
          Rating
          <span class="caret"></span>
        </span>

        <ul class="dropdown-menu">
          <li><a href="?sort=price">Price</a></li>
          <li><a href="?sort=proximity#">Proximity</a></li>
        </ul>
      </ul>
    </div>
  {% endif %}
</div>

<div class="search-form__results-items">
  {% comment %}TODO: Remove after static html{% endcomment %}

  {% if searcher.results.size > 0 %}
    {% for user in searcher.results %}
      {% include "search/result_item", user: user %}
    {% endfor %}


    {% comment %}TODO: Verify{% endcomment %}
    <script>
      $(function() {
        {% for user in searcher.results %}
          $(document).trigger('user:loaded', 'user-{{user.id}}')
        {% endfor %}
      });
    </script>
  {% endif %}

  {% if searcher.next_page %}
    <p class="search-form__results-more-trigger">
      <button type="button" class="button-a button-lg" data-page='{{ searcher.next_page }}'>SHOW MORE RESULTS</button>
    </p>
  {% endif %}
</div>
