<main id="main">
  <div class="wrapper-a">
    <form action="/search" method="get" class="search-form no_inheritance">
      <fieldset class="search-form__query">
        {% include "search/query" %}
      </fieldset>

      <fieldset class="search-form__filters two-columns-aside" data-search-container="filters">
        {% include "search/basic_filters" %}
      </fieldset>

      <div class="search-form__results two-columns-content" data-search-container="results">
        {% include "search/results" %}
      </div>
    </form>
  </div>
</main>

