<main id="main">
  <div class="wrapper-a">
    <form action="/search" method="get" class="search-form no_inheritance">
      <fieldset class="search-form__query">
        {% include "search/query" %}
      </fieldset>

      <fieldset class="search-form__filters" data-search-container="filters">
        {% include "search/basic_filters" %}
      </fieldset>

        {% comment %}
        <div class="search-sort-order">
          <label for="search-order">Sort by:</label>
          <span class="select-a">
            <select id="search-order" name="sort" class="unstyled-select">
              <option {% if params['sort'] == blank %}selected{% endif %} value=''>Relevance</option>
              <option {% if params['sort'] == 'custom_attributes.company_name_asc' %}selected{% endif %} value='custom_attributes.company_name_asc'>Company name</option>
            </select>
          </span>
        </div>
        {% endcomment %}

      <div class="search-form__results" data-search-container="results">
        {% comment %}
        <header class="search-results-header">
          <div class="search-results-query-info">
            <span class="results-count"><b>{{ searcher.result_count }}</b> Result(s) Found</span>
          </div>
        </header>
        {% endcomment %}

        <div class="search-form__results-items">
          {% if searcher.result_count == 0 %}
            <p class="empty-resultset">There are no results to show for your current query.</p>
          {% else %}
            {% for user in searcher.results %}
              {% include "search/search_listing", user: user %}
            {% endfor %}
          {% endif %}
        </div>

        {% if searcher.next_page %}
          <p class="search-form__results-more-trigger">
            <button type="button" class="button-a" data-page='{{ searcher.next_page }}'>More Results</button>
          </p>
        {% endif %}
      </div>
    </form>
  </div>
</main>
