- @shipping_profiles.each do |shipping_category|
  = shipping_category.name
  = link_to t('general.edit'), '#', data: { href: edit_instance_admin_shipping_options_shipping_profile_path(shipping_category), modal: true, 'modal-class' => 'shipping_profiles_modal' }
  = link_to t('general.delete'), instance_admin_shipping_options_shipping_profile_path(shipping_category), :method => :delete, data: { confirm: t('confirmations.are_you_sure') }
  %br

