@import "instance_wizard/bootstrap.min";
@import "instance_wizard/bootstrap-select";
@import "instance_wizard/component";

@import "instance_wizard/style";

@import "instance_wizard/fonts";
@import "instance_wizard/flash";
