@import "common/common";
@import "common/fonts";

@import "instance_admin/variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "vendor/bootstrap-theme";

@import "components/fileupload";
@import "components/tags";

@import "instance_admin/support";
@import "instance_admin/style";

@import "instance_admin/rating_systems";
@import "instance_admin/reviews";
@import "instance_admin/users";
@import "instance_admin/approval_requests";
@import "instance_admin/reports";
@import "instance_admin/locales";
@import "instance_admin/upsell_addons";
@import "instance_admin/wish_lists";
@import "instance_admin/documents_upload";
@import "instance_admin/form_components";
@import "instance_admin/versions";
@import "instance_admin/shipping_profiles";
@import "instance_admin/theme/file_uploads";
@import "instance_admin/spam_reports";
@import "sections/schedule";
@import "instance_admin/search_types";
@import "instance_admin/content_holders";
@import "instance_admin/schedule";
@import "instance_admin/tabs";
@import "instance_admin/faqs";

@import "instance_admin/dashboard_modal";

@media print {
  nav {
    display: none !important;
  }

  #main-container {
    max-width: none;
    margin: 0 0 25px;
  }

  .main-header {
    padding: 15px;
    position: relative;

    .header-buttons {
      display: none;
    }
  }

  .header-filler {
    display: none;
  }

  a:after {
    display: none !important;
  }
}
