{% if @transactable_type.show_date_pickers %}
  <div class="search-mixed-filter" data-date-range-filter="true">
    <div class="date-range">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span2">
            <h4>{{ 'search.date_range.title' | translate }}</h4>
          </div>
          <div class="span10">
            <ul>
              <li class="filter-option">
                <input id="fake_start_date" type='text' name='fake_start_date' readonly='readonly' value="{{ date_start }}" />
              </li>

              <li class="filter-option">
                <input id="fake_end_date" type='text' name='fake_end_date' readonly='readonly' value="{{ date_end }}" />
              </li>

              <li class="filter-option">
                <div class="search-icon btn btn-green" id="date-range-update" data-date-range-filter-update="true">
                  {{ 'search.date_range.buttons.update' | translate }}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>            
  </div>
{% endif %}
