- if @transactable_type.show_date_pickers
  .search-mixed-filter{:'data-date-range-filter' => true}
    .date-range
      .container-fluid
        .row-fluid
          .span2
            %h4= t 'search.date_range.title'
          .span10
            %ul
              %li.filter-option
                %input#fake_start_date{type:'text', name: 'fake_start_date', readonly: 'readonly',
                  value: @searcher.search.display_dates[:start]}

              %li.filter-option
                %input#fake_end_date{type:'text', name: 'fake_end_date', readonly: 'readonly',
                  value: @searcher.search.display_dates[:end]}

              %li.filter-option
                .search-icon.btn.btn-green#date-range-update{:'data-date-range-filter-update' => true}
                  = t 'search.date_range.buttons.update'


