.search-mixed-filter{:'data-filter' => true}
  .container-fluid
    .row-fluid
      .span2
        %h4
          = t 'search.price_slider.title'
      .span10.price-slider-container
        #price-slider
