= form_tag instance_admin_manage_email_templates_searches_path, method: :get, enforce_utf8: :false do
  .filters
    = filter_query_text param_name: 'q', label: t('instance_admin.manage.admin_searchable.email_templates.search_types.search'), placeholder: t('instance_admin.manage.admin_searchable.search_by_keyword')

