#instanceAdminModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1" }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#myModalLabel.modal-title="#{heading}"
      .modal-body
        Loading...
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
