- if only_inputs.empty? || only_inputs.include?(:price)
  = f.input :transactable_pricing_id, as: :select, collection: f.object.transactable.action_type.pricings.by_price.decorate, label_method: :price_for_select, include_blank: true
