- if only_inputs.empty? || only_inputs.include?(:waiver_agreements)
  = f.fields_for :waiver_agreements do |form|
    = form.input :waiver_agreement_template_id, as: :hidden
    - wat = form.object.waiver_agreement_template
    - label_text =  t('reservations_review.wat_accept', link_to_wat: link_to(wat.name, '#', data: { modal: true, href: waiver_agreement_template_path(wat, transactable_id: f.object.transactable.id)})).html_safe
    = form.input :_destroy, as: :boolean, checked_value: '0', unchecked_value: '1', label: false, inline_label: label_text
