.dash-page
  .dash-head.clearfix
    %p MANAGE ADMINS
    = link_to new_dashboard_user_path, rel: "modal", class: "dash-head-btn" do
      .btn.blue{:role => "button"} Add Admin
  .dash-body
    #users-list.table-responsive
      %table.table
        %thead
          %tr
            %th Name
            %th Email
            %th Actions
        %tbody
          = render @users


