= simple_nested_form_for @instance, :url => instance_admin_settings_listings_path, :html => { :multipart => true } do |f|
  %fieldset
    %legend Listing Types
    #listing-types
      = f.fields_for :listing_types, wrapper: false  do |f|
        .row-fluid
          .controls.controls-row
            .fields
              = f.input :name, label: false, input_html: { class: 'span6' }
              %a{"data-target" => "#instanceAdminModal", "data-toggle" => "modal", "href" => "#{destroy_modal_instance_admin_settings_listing_type_path(f.object)}"}
                .fa.fa-trash-o.fa-2x.inline-form-icon
