body.orders-theme {
  @import "themes/flash";

  margin: 0;
  background: #f2f2f2;

//  header {
//    height: 50px;
//    background: black;
//    padding-top: 10px;
//  }

  header .container-fluid {
    width: 60%;
  }

  /*===== GENERAL STYLES =====*/
  p {
    color: #555555;
  }

  h1 {
    font-size: 40px;
  }

  a {
    color: #5dbded;
  }

  p, h1, h2, h3, h4, h5, a, label, td {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
  }

  h1, h2, h3, h4, h5 {
    color: #3a3a3a;
    font-weight: 600;
  }

  .inline {
    display: inline-block;
  }

  .page-wrapper {
    width: 60%;
    padding: 60px 0;
    margin: 0 auto;
  }

  .customSelect {
    border: solid #D4D4D4 1px;
    border-radius: 3px;
    background: #fff image-url('themes/checkout_theme/arrow-down.png') right no-repeat;
    padding: 2px 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    width: 150px;
  }

  /*===== BUTTONS =====*/

  .btn {
    width: 100%;
    text-align: center;
    padding: 6px 20px;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 15px;
  }

  .btn.gray {
    background: #dadada;
    color: #555;
  }

  .btn.blue {
    background: #5dbded;
  }

  /*===== NAV =====*/
  nav {
    padding-top: 45px;
  }

  nav li a, .mobile-nav .nav li a {
    color: #555;
    font-size: 14px;
  }

  nav li a {
    padding-left: 10px;
  }

  nav li.active, .mobile-nav .nav li.active {
    background: #5dbded;
  }

  nav li.active a, .mobile-nav .nav li.active a {
    color: #fff;
  }

  .mobile-nav {
    display: none;
  }

  .mobile-nav .nav {
    background: #fff;
  }

  .mobile-nav ul {
    margin: 0;
  }

  .mobile-nav ul li a {
    padding-left: 50px;
  }

  .mobile-nav-head {
    background: #b6b6b6;
    padding: 5px 15px;
  }

  .mobile-nav-head p {
    display: inline-block;
  }

  .mobile-nav-head img {
    float: right;
    margin-top: 5px;
  }

  /*===== DASH HEAD NAV=====*/
  .dash-head ul li {
    display: inline-block;
    margin-right: 60px;
  }

  .dash-head a {
    color: #555;
    padding-bottom: 10px;
    font-size: 16px;
  }

  .dash-head li.active a {
    border-bottom: 3px solid #5dbded;
  }

  /*===== DASHBOARD =====*/
  .dash-head {
    padding: 10px 40px;
    background: #dadada;
  }

  .dash-head p {
    display: inline-block;
  }

  .dash-body {
    background: #fff;
    padding: 20px 50px;
  }

  /*===== ORDERS =====*/
  .order {
    border: solid #f2f2f2 1px;
    margin-bottom: 50px;
  }

  .order-head {
    background: #f2f2f2;
    padding: 10px 20px 0 20px;
  }

  .order-head p:nth-child(1) {
    font-size: 14px;
    font-weight: 400;
  }

  .order-head p, .order-head a {
    font-size: 12px;
  }

  .order-body {
    padding: 20px 30px;
  }

  .order-body .row-fluid {
    margin: 20px 0;
  }

  .order-body img {
    width: 100px;
  }

  .order-details {
    display: inline-block;
    vertical-align: top;
  }

  .order-details a, p {
    font-size: 14px;
    font-weight: 300;
  }

  .order-details p {
    color: #858585;
  }

  .order-tracking {
    margin-bottom: 15px;
  }

  .order-tracking img {
    width: 17px;
    margin-right: 10px;
  }

  .order-tracking p {
    display: inline-block;
    vertical-align: top;
  }

  .order-tracking .uncomfirmed {
    color: #e85c41;
  }

  .order-tracking .comfirmed {
    color: #5dc988s;
  }

  section.checkout-form {
    background: #fff;
    padding: 40px 0;
    border-bottom: solid #d5d5d5 2px;
    margin-bottom: 25px;
  }

  section.checkout-form h2 {
    color: #5dbded;
    font-weight: 300;
    margin-bottom: 40px;
  }

  .additional-item {
    border-top: solid #f2f2f2 1px;
    padding-top: 20px;
  }

  /*===== SEARCH ROW =====*/
  .search-row {
    margin: 30px 0 40px 0;
  }

  .search-row p {
    display: inline-block;
  }

  /*====== FORMS ===== */
  label, .input-container {
    display: inline-block;
  }

  label {
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #555555;
    font-size: 16px;
  }

  form input[type="text"], form textarea {
    border-radius: 0;
    background: #fff url(images/search.png) right no-repeat;
    border: solid #D4D4D4 1px;
    padding: 2px 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    width: 300px;
  }

  input.search {
    float: right;
  }

  ::-webkit-input-placeholder {
    color: #cccccc;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #cccccc;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #cccccc;
  }

  :-ms-input-placeholder {
    color: #cccccc;
  }

  .field {
    padding: 5px 0;
    margin-bottom: 15px;
  }

  .input-container p {
    margin-top: 0;
    color: #555555;
    font-size: 14px;
  }

  /*===== PAGINATION =====*/

  .pagination {
    text-align: center;
  }

  .pagination ul {
    box-shadow: none;
  }

  .pagination ul li a {
    background: transparent;
    border: none;
  }

  .pagination .page-link {
    padding-top: 10px;
  }

  .pagination .page-link.active {
    color: #000;
  }

  /*===== MEDIA QUERIES =====*/
  @media (max-width: 1400px) {
    .dash-body {
      padding: 20px 30px;
    }

    .page-wrapper {
      width: 90%;
    }

    .dash-head p, .dash-head a {
      font-size: 12px;
    }
  }

  @media (max-width: 900px) {
    .row-fluid .page-navigation {
      display: none !important;
    }

    .row-fluid .page-content {
      width: 100%;
    }

    .mobile-nav {
      display: block;
    }
  }

  @media (max-width: 400px) {
    .dash-head {
      padding: 10px;
    }

    .dash-head ul li {
      margin-right: 10px;
    }

    .dash-body {
      padding: 20px 10px;
    }

    .search-row {
      margin: 0 0 20px 0;
    }

    .search-row .custom-select {
      display: block;
    }

    .search-row .search {
      float: none;
    }

    .order-head .span3 {
      margin-bottom: 15px;
    }

  }
}
