<p>To review the status of the {{ ticket.rfq }} and add additional comments, follow the link below:<br />
<a href="{{ platform_context.host | append:ticket.admin_url }}">{{ platform_context.host | append:ticket.admin_url }}</a></p>
