%h2.reservation-emphasis
  Your recurring booking was requested successfully!
.reservation-list.just-booked
  %ul
    %li
      = render @recurring_booking.decorate
- unless (@recurring_bookings - [@recurring_booking]).empty?
  %h2.other-reservation-separator
    #{pluralize((@recurring_bookings - [@recurring_booking]).count, ' other recurring booking')}
