-# TODO Deprecated
%h2.reservation-emphasis
  Your booking was requested successfully!
.reservation-list.just-booked
  %ul
    %li
      = render @reservation.decorate
- unless (@reservations - [@reservation]).empty?
  %h2.other-reservation-separator
    #{pluralize((@reservations - [@reservation]).count, ' other booking')}
