<p>Hey there <%= @name %>,</p>

<p><%= @sharer.name %> has shared a listing with you on Desks Near Me! Click the link below to check it out!</p>

<p><%= listing_url(@listing) %></p>

<%- if @message %>
  <p>They also wanted to say:</p>
  <p><%= @message %></p>
<%- end %>
