div.availability-rules .custom-availability-rules .day .open-time,
div.availability-rules .custom-availability-rules .day .close-time {
  width: auto;
}

.dashboard-home-link {
  &:hover {
   @include opacity(.7);
  }
}

.availability-rules {
  padding-left: 2px;

   .radio {

     .icon,
     .icon-to-fade {
       margin-top: 4px;
     }
   }

  .open-time,
  .close-time {
    margin-right: 10px;
    padding-right: 0px;
  }

}

.gallery {

  li.photo-item {
    margin-bottom: 20px;
    clear: both;

    img {
      float: left;
    }

    .delete-photo {
      float: left;
      margin: 0px 0 0 -45px;
      @include adjust-font-size-to(24px);
      @include text-shadow(black 0 0 5px);
      color: white;
      @include opacity(.5);

      &:hover {
        @include opacity(1);
      }
    }

    .caption-photo {
      margin-top: 10px;
    }

    .loading {
      background: image-url('ajax-loader.gif') no-repeat center;
      min-width: 20px;
      min-height: 24px;
    }

    &:last-child {
     margin-bottom: 0;
    }
  }
}

.btn.facebook,
.btn.linkedin,
.btn.twitter {

  @media (max-width: 668px) {
    margin-bottom: .25em;
    width: 100%;
    text-align: center;
  }
}

.avatar-container {
  display: inline-block;

  img {
    margin-right: 1em;
  }
}

section.dashboard {

  ul {
    list-style: none;

    li {
      list-style: none;
      overflow: hidden;
    }
    
    &.sharelocation {
      display: block;
      margin: 0 0 20px 0;
      overflow: auto;
      
      li {
        display: inline-block;
        float: left;
        margin: 0 1% 10px 0;
      }
    }
    
  }

  form {
    margin-top: 30px;
  }

  p.no_data {
    text-align: center;
    margin-top: 20px;
  }

  .dashboard-save {
    margin-bottom: 30px;
    text-align: center;
  }


  ul.locations {

    ul.location-and-listings {
      margin: 0px;
    }

    & > li {
      padding-bottom: 15px;

      .box {
        padding-bottom: 0.4em;

        header {
          margin-bottom: 0.4em;
        }
      }
    }

    form {
      .control-group {
        margin-bottom: 25px;
      }
    }

    li.location {
      overflow: hidden;

      font-size: 30px;
      color: $gray80;

      .name {
        float: left;
        margin-top: 7px;

        a {
          font-size: 18px;
          color: $gray80;
          position: relative;
          top: -3px;
        }
      } 

      .links {
        float: right;

        span {
          color: $pure-white;
        }

        a {
          @extend .btn;
          @extend .btn-blue;
          @extend .btn-medium;
          margin-right: 5px;

          &:last-child {
            margin-right: 0px;
          }
        }
      }

      @media (max-width: $ipad-width) {
        font-size: 22px;

        .links span {
          display: none;
        }
      }

    }

    li.listing{
      padding: 5px 15px 5px 20px;
      font-size: 20px;
      @include border-radius($border-radius-default);
      border: 1px solid $light-gray; 
      margin-top: 0.4em;

      .name {
        float: left;
        color: $gray60;
      }

      a {
        color: $gray60;
        font-size: 18px;

        &:hover {
          color: $gray120;
        }
      }

      @media (max-width: $ipad-width) {
        font-size: 18px;

        span {
          display: none;
        }
      }
    }

    li.new-location {
      padding: 0px;
      margin: 0px;
      border: none;

      a {
        color: $pure-white;

        &:hover {
          color: $pure-white;
        }
      }
    }
  }

  .spacer {
    margin-bottom: 20px;
  }

  .delete {
    float: left;
    padding-top: 10px;
    color: $gray160;
    font-size: 80%;

    &:hover {
      color: $gray80;
    }
  }

  .actions {

    a {
      width: 100%;
    }
  }

}

h1.manage-locations-home-link {
  line-height: 1.7em;
}
