#search {
  // TODO: This is probably a standard page component?
  border-top: 3px solid #2091d0;
  border-bottom: 1px solid #ffffff;

  height: 500px;
  background: image-url("sections/home/hero1.jpg") center center no-repeat;
}

#app_store_link {
  margin-top: -6px;
  display: block;
  text-indent: -9999px;
  background: image-url("sections/home/get-the-app.png") no-repeat;
  height: 172px;
}
