section.public {
  #hero {
    @extend .hero-blue-top;
    height: 500px;
    background: $dnm_grey image-url("sections/home/hero1.jpg") center center no-repeat;
    background-size: cover;
  }
}

#search_row {
  .wood-box {
    margin-top: 120px;
    padding: 12px;
  }

  // @see listings/#listing_search
}

#app_store_link {
  margin-top: -6px;
  display: block;
  text-indent: -9999px;
  background: image-url("sections/home/get-the-app.png") no-repeat;
  height: 172px;
}
