section.public {
  
  #hero {
    margin-top: -32px;
    height: 580px;
    width: auto;
    background: image-url("https://s3.amazonaws.com/desksnearme.production/uploads/photos/653/hall.jpg") center center no-repeat;
    background-size: cover;
    @include box-shadow(rgba(black, .2) 0 0 20px 20px inset); 

    @media (max-width: 767px) {
      height: 420px;
    }

    @media (max-width: 480px) {
      height: 380px;
    }   
  }

  .caption a {
    position: absolute;
    top: 580px;
    right: 20px;
    color: rgba(240,240,240,.7);

    &:hover {
      color: white;
    }

    @media (max-width: 767px) {
      top:430px;
    }

    @media (max-width: 480px) {
      display: none;
    }        
  }

  section#hero + .container { 
    width: 100%;
    padding: 0;
  } 
}

#search_row {
  margin-top: 180px;
  
  @media (max-width: 767px) {
    margin-top: 100px;
  }

  @media (max-width: 480px) {
    margin-top: 70px;
  }

  h1 {
    display: block;
    float: left;
    font:normal 48px/54px $font-medium, sans-serif;
    color: $light-gray;
    margin-bottom: 10px;
    @include text-shadow(black 0 0 5px, black 0 0 8px, black 0 0 10px, black 0 0 20px, black 0 0 30px);
    filter: glow(color=black,strength=3);
    -ms-filter: glow(color=black,strength=3);


    @media (max-width: 320px) {
      font:normal 28px/32px $font-medium, sans-serif;
    }
  }

  .black-box {
    position: relative;
    background: rgb(30,30,30);
    padding: 8px;
    border-radius: 12px;
    @include box-sizing(border-box);

    .geolocation.no-bookings {
      top:-40px;

      @media (max-width: 767px) {
        top:-48px;
      }
    }
  }

  h2 {
    float: left;
    color: #927d70;
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0 10px 10px;
    margin-top: 17px;
    margin-left: 10px;

    @media (max-width: 480px) {
      font:normal 16px/22px $font-medium, sans-serif;
    }      
  }
  form input[type="text"] {
    margin-bottom: 0;

    @media (max-width: 768px) {
      margin-bottom: 8px;
    }
  }
  
  form {
    clear: both;

    label {
      display: block;
      margin-bottom: 8px;
    }
  }

  // @see listings/#listing_search

  .availability-quantity {
  }

  .price-range {
    width: 370px;
    margin-right: 0;
    margin-left: 0px;
  }
}
  
section.how-it-works {
  text-align: center;

  .row-fluid {
    padding: 30px 0 0;
    margin: 0;
  }

  h1{
    @include adjust-font-size-to(60px);
    margin: 10px 0 0;
    font-weight: 900;
    color: $gray8;
  }

  h2{
    @include adjust-font-size-to(30px);
    margin: 10px 0 20px;
    color: $gray7;

    @media (max-width: 767px) {
      margin-top: 30px;
    }
  }

  p {
    margin: 20px auto 0;
    max-width: 280px;
  }

  .btn {
    width: auto;
    max-width: 300px;
    margin:0 auto 50px;
  }  

  hr {
    height: 0;
    background: none;
    border: none;
    border-bottom: 1px dashed $gray4;
  }

  p {
    @media (max-width: 767px) {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}  