@import "sections/listings/search";

section.listings, .search-results {
  table.reservations {
    th {
      font-weight: bold;
      text-align: center;
      padding-bottom: 4px;
    }

    td.day {
      font-weight: bold;
      font-size: 14px;
    }
  }

  .list .listing, &.list .listing {
    address {
      font-size: 14px;
    }
  }
}


article.listing {

  .column.description {
    color: $dnm_black;
    text-shadow: 0 1px 0 rgba(255,255,255,.8); /* drop shadow */

    .meta {
      strong { font-family: "banda"; font-weight: bold; }
      margin-bottom: 20px;
    }

    p {
      line-height: 150%;
      font-size: 16px;
      margin: 0;
    }

    .listing-link {
      margin-top: 20px;
    }
  }

  .column.map {

    address {
    }

    .map-wrapper {
      width: 600px;
      height: 345px;
      background: #fff;
      margin-top: 10px;
      border: solid $dnm_grey 5px;
      -moz-box-shadow: 0 1px 0 rgba(0,0,0,.25); /* drop shadow */
      -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.25); /* drop shadow */
      box-shadow: 0 1px 0 rgba(0,0,0,.25); /* drop shadow */
      @include border-radius(5px);

      #map {
        width: 600px;
        height: 345px;
      }
    }

  }


}

.legacy {
  article.listing {

    section.map {
      #map {
        height: 300px;
      }
    }

    p, .business_description {
      font-size: 16px;
      line-height: 150%;
      margin: 15px 0;
    }

    h1 {
      font-weight: 400;
      margin-bottom: 12px; }
    div.creator {
      img.avatar {
        width: 48px;
        float: right;
        margin-left: 12px; }
      text-align: right; }
    section.details h2 {
      border-bottom: 2px solid #CCC;
      margin: 24px 0 12px; } }

  section.list article.listing .details {
    float: left;
    /*  width: 50%;*/
    padding-top: 20px; }

  article.listing div.business_description p {
    font-size: 14px;
    line-height: 26px; }

  section.list article.listing {
    border-bottom: 1px solid #DDD;
    padding-bottom: 6px;
    overflow: hidden;
    h2 {
      font-weight: 500;
      line-height: 32px;
      a {
        &:link, &:visited {
          text-decoration: none; }
        &:hover {
          text-decoration: underline; } } }
    table {
      tr {
        td, th {
          border: none; }
        td {
          time, .details.availability {
            margin-top: 0px; } } }
      td .details {
        float: none;
        width: auto;
        padding-top: inherit; } }
    img {
      width: 54px;
      padding: 2px;
      background: #FFF;
      background: rgba(255, 255, 255, 0.6); }
    table.reservations {
      float: left;
      /*  width: 50%;*/ } }

  article.listing aside address {
    padding-left: 42px;
    background: transparent image-url("home.png") no-repeat 6px 6px;
    margin: 6px 0;
    font-style: normal;
    font-size: 14px;
    a {
      font-size: 12pxf; } }

}
