@import "sections/listings/search";

#content.search #results.map article.listing {
  display: none;
}

.popover-image-container {
  float: left;
  width: 94px;
  
  &, 
  img {
    height: 58px;
  }
  
  img {
    max-width: none;
  }
  
  a {
    display: block; 
    float: left;
  }
}

.listing-enabled-container {
  position: relative;

  div.control-group {
    position: absolute; 
    right: 0px; 
    top: -135px;
  }

  .switch-wrapper {
    @media (min-width: $iphone-landscape) {
      display: inline-block;
      margin-left: 20px;
    }
  }
}

