section.listings {

  h1 {
    margin: -10px 0 20px;
    float: left;

    a {
      display: inline-block;
      height: 28px;
      vertical-align: middle;
    }

    .ico-open-link {
      font-size: 14px;
      line-height: 18px;
      color: $gray160;

      &:hover {
        color: $gray80;
      }
    }
  }

  .span4.pull-left {
    margin-left: 0;

    @media (min-width: 768px) {
      width: 34%;
    }
  }

  ul.icons {
    float: right;
    li {
      font-size: 1em;
      display: inline-block;
      width: 22px;
      height: 22px;
      margin-left: 10px;
      a {
        display: block;
        color: $gray160;
        &:hover, &.hover {
          color: $gray80;
          @include transition(none);
        }
      }
    }
    @media (max-width: $ipad-width) {
      float: left;
    }
  }
}

.tab-pane#details {
  background: $theme_white;
  @include box-sizing(border-box);
  @include border-bottom-radius($border-radius-default);

  .row-fluid {
    padding: $padding-default;
    @include box-sizing(border-box);
    background: $theme_white;
  }
}

.availability-rules {

  .custom-availability-rules {

    .day {
      overflow: hidden;
      margin-top: 6px;
      padding: 6px 0;

      &.error {
        padding: 6px 0px 10px 0px;
      }

      &.control-group {
        margin-bottom: 0px;
      }

      .day-name {
        margin-top: 10px;
      }

      .closed-flag {
        margin-top: 13px;
      }

      .open-time,
      .close-time {
        position: relative;
      }

      .day-name,
      .open-time,
      .close-time,
      .closed-flag {
        float: left;
        width: 90px;
        height: 28px;

        @media (max-width: $iphone-landscape) {
          width: 110px;
        }
      }

      @media (max-width: $iphone-landscape) {

        .day-name {
          clear: both;
          width: 100%;
        }
      }
    }

    select {
      margin-top: -6px;
    }
  }
}
