section.locations {
  min-height: 800px;
  
  h1 {
    margin: -10px 0 20px;

    a {
      display: inline-block;
      vertical-align: top;
      height:14px;
    }

    .ico-link {
      font-size: 12px;
      line-height: 18px;
      color: black;
      opacity:.7;

      &:hover {
        opacity:1;
      }
    }
  }
}

.availability-rules {

  .custom-availability-rules {
    
    .day {
      overflow: hidden;
      padding: 6px 0;
      margin-top: 6px;

      .day-name, .open-time, .close-time, .closed-flag {
        float: left;
        height: 28px;
        width: 90px;

        @media (max-width: 480px) {
          width: 110px;
        }
      }

      @media (max-width: 480px) {
        
        .day-name {
          clear: both;
          width: 100%;
        }
      }
    }

    select {
      margin-top: -6px;
    }
  }
}
