section.locations {
  h1 {
    margin: 20px 0;

    a {
      display: inline-block;
      vertical-align: top;
      height:14px;
    }
    .ico-link {
      font-size: 12px;
      line-height: 18px;
      color: black;
      opacity:.7;

      &:hover {
        opacity:1;
      }
    }
  }
}
.availability-rules {
  .custom-availability-rules {
    .day {
      overflow: hidden;
      padding: 6px 0;

      .day-name, .open-time, .close-time, .closed-flag {
        float: left;
        height: 20px;
        width: 90px;
      }
    }
  }
}
