section.listings {

  .padding-row {
    padding: $padding-medium 0; 

    &.small {
      padding-top: 0;
    }
  }

  h2 {
    padding: $padding-default 0; 
    font-size: 150%;
    padding-bottom: 30px;

    span {
      font-size: 90%;
      padding-left: 10px;
    }
  }

  p {
    font-size: 110%;
  }

  .ask-a-question {

    @media (max-width: $booking-module-breakpoint - 1) {
      float: none;
      width: 100%;
      text-align: center;
    }

    span {

      &.ico-mail {
        display: none;
      }

      @media (min-width: $booking-module-breakpoint) and (max-width: $ipad-width) {
        display: none;

        &.ico-mail {
          display: inline;
        }
      }
    }
  }

  .span9 {

    @media (max-width: $booking-module-breakpoint - 1) {
      width: 100%;
    }
  }

  .amenities-container {
    padding-top: 15px;
    border-bottom: 1px solid $gray210;
    margin-bottom: 15px;

    .amenities-row {
      border-top: 1px solid $gray210; 

      .span3 {
        white-space: nowrap;
        line-height: 40px;
        height: 40px;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 16px;
      }

      @media (max-width: $booking-module-breakpoint-desktop) {
        border-top: 0;

        .span3 { 
          width: 50%;  
          margin-left: 0;
          border-top: 1px solid $gray210;
        }
      }

      @media (max-width: $ipad-width) {

        .span3 {
          border-top: 1px solid $gray210;
          width: 100%;
        }
      } 
    }
  }

  .administrator {
    position: relative;
    background: $gray60;
    @include box-sizing(border-box);
    @include border-radius($border-radius-default);

    img {
      float: left;
      width: 50%;
      min-height: 145px;
      @include border-corner-radius(top, left, $border-radius-default);
      @include border-corner-radius(bottom, left, $border-radius-default);
    }

    .info {

      float: left;
      padding: 15px;
      width: 50%;
      height: 50%;
      @include box-sizing(border-box);

      span.name {
        display: block;
        color: $gray210;
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      span.title {
        display: block;
        height: 2.4em;
        color: $gray160;
        font-size: 16px;
        line-height: 1.2em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .buttons {
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 50%;
      margin-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
      @include box-sizing(border-box);

      a.btn {
        width: 100%;
        height: 42px;
        line-height: 42px;
        font-size: 18px;
        text-align: center;
        white-space: nowrap;
        @include border-radius($border-radius-default);
      }

      a.btn.ask {
        margin-top: 8px;
      }

    }

    @media (min-width: $host-card-breakpoint-tiny) and (max-width: $host-card-breakpoint-small),
      (min-width: $host-card-breakpoint-medium) and (max-width: $host-card-breakpoint-large) {

      .info {
        padding: 8px;

        span.name {
          height: 22px;
          font-size: 18px;
          line-height: 22px;
        }

        span.title {
          height: 2.4em;
          font-size: 14px;
          line-height: 1.2em;
        }
      }

      .buttons {
        margin-bottom: 8px;
        padding-left: 8px;
        padding-right: 8px;

        a.btn {
          height: 30px;
          line-height: 30px;
          font-size: 14px;
        }
      }
    }

    @media (min-width: $booking-module-breakpoint + 1) {
      margin-left: 15px;
    }

  }

  article.listing, article.location, article.company, article.administrator {
    max-width: $space-full-image-width; 
  }

  .availabilities {
    @include box-sizing(border-box);
    @include border-radius($border-radius-default);
    background: $gray240;
    border: 1px solid $gray210;
    padding: 12px 20px;

    @media (min-width: $booking-module-breakpoint + 1) {
      margin-left: 15px;
    }

    @media (max-width: $ipad-width) {

      .span6 {
        width: 49%;
        display: inline-block;
        font-size: 80%;
      }
    }
  }

  #fullscreen-gallery {
    background: rgba(0, 0, 0, 1);

    .loading {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 11;
      width: 54px;
      height: 55px;
      margin-top: -27px;
      margin-left: -27px;
    }

    .carousel {

      .carousel-inner {
        height: 100%;
      }

      .item {
        img {
          max-height: 100%;

          &.smaller-size {
            max-height: 90% !important;
          }
        }

        .info {
          position: static;
          background: none;

          .caption {
            position: static !important;
            padding-top: 20px;
          }
        }
      }
    }
  }


  .other-listings {
    @include box-sizing(border-box);
    @include border-radius($border-radius-default);
    background: $gray230;

    @media (min-width: $booking-module-breakpoint + 1) {
      margin-left: 15px;
    }

    header {
      padding: 10px;
      display: block !important;

      p {
        font-size: 85%;
        margin-bottom: 0;

        a {
          color: $gray80;
        }
      }
    }
  }

  .map {
    @include border-radius($border-radius-default);
    background: $gray230;

    .map-container {
      width: auto;
      height: 250px;

      @media (max-width: $iphone-landscape + 1) {
        height: 200px;
      }
    }

    @media (min-width: $booking-module-breakpoint + 1) {
      margin-left: 15px;
    }

    .bottom-heading {
      position: relative;
      @include box-sizing(border-box);
      padding: 0 15px;
      min-height: 35px;

      a {
        display: block;
        color: $gray120;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 25px;
      }

      span {
        position: absolute;
        right: 15px;
        top: 0;
        font-size: 70%;
      }
    }
  }

  .listing-photos {

    #listing-siblings-container {
      img {
        @include border-radius($border-radius-bottom);
      }
    }

    .carousel-nav {
      width: 100%;
      max-width: $space-full-image-width;
      position: absolute;
      top: 45%;

      .carousel-control {
        color: $gray60;
        text-shadow: none;
        font-size: 20px;
        top: 45%;
        @include opacity(0.8);
        background: $gray230 !important;
        height: 48px;
        width: 33px;
        padding-top: 20px;


        &.right {
          left: auto;
          right: 0;
          @include border-radius($border-radius-left);
        }

        &.left {
          left: 0;
          right: auto;
          @include border-radius($border-radius-right);
        }
      }
    }

    .carousel {
      margin-bottom: 0;
      
      ol.carousel-indicators{
        bottom: 10px;
        left: 0px;
        top: auto;
        right: auto;

        li {
          width: 22px;
          height: 22px;
          @include border-radius(15px);
          text-indent: 0px;
          background: transparent;
          color: $gray160;
          font-size: 16px;
          text-align: center;
          line-height: 22px;
          border: 1px solid $gray160;
          margin-left: 8px;
          cursor: pointer;

          &.active {
            color: $gray245;
            border: 1px solid $gray245;
          }
        }
      }

      .carousel-inner {
        width: 100%;
        max-width: $space-full-image-width; 

        .item {
          width: 100%;
          height: 100%;

          img {
            @include border-radius($border-radius-default);          
            height: auto;
          }
        }
      }

      &#photos-container {
        max-width: $space-full-image-width; 
      }

      &#photos-container-enlarged {

        ol.carousel-indicators {
          position: fixed;
        }

        .carousel-inner {
          max-width: 100%;

          .item {
            width: 100%;

            img {
              margin-left: auto;
              margin-right: auto;
            }

            .info {

              .caption {
                position: fixed;
                right: 0;
                left: 0;
              }
            }
          }
        }

        .carousel-nav {
          max-width: 100%;
        }
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        @include box-sizing(border-box);
        @include opacity(0.8);
        color: $gray60;
        background: $gray230 !important;
        display: block;
        text-align: center;
        text-shadow: none;
        font-size: 20px;
        width: 40px;
        height: 36px;
        @include border-bottom-left-radius($border-radius-default);
        cursor: pointer;

        &:focus {
          outline: none !important;
        }

        &::-moz-focus-inner {
          border: 0;
        }

        &.close {
          position: fixed;
          @include border-bottom-left-radius($border-radius-default);          
        }
      }

      .info {
        @include box-sizing(border-box);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 15%;
        color: $theme_white;
        font-size: 13px;
        @include background-image(linear-gradient(rgba(250,250,250,0), $black));
        @include border-radius($border-radius-bottom);
        

        .caption {
          position: absolute;
          bottom: 15px;
          padding-left: 5px;
          padding-right: 5px;
          right: 5px;
          font-family: $font-bold;
        }
      }
    }
  }

  .container-row {
    width: 100%;

    .one-third.column {
      margin:0;
      width: 33.3333%;

      @media (max-width: $booking-module-breakpoint-desktop) {
        width: 50%;
      }

      @media (max-width: $booking-module-breakpoint) {
        width: 100%;
        clear: both;
      }
    }

    .two-thirds.column {
      margin: 0;
      width: 66.6666%;

      @media (max-width: $booking-module-breakpoint-desktop) {
        width: 50%;
      }

      @media (max-width: $booking-module-breakpoint) {
        width: 100%;
        clear: both;
      }	
    }
  }

  h1 {
    margin: -10px 0 20px;
    float: left;
  }

  .btn {
    @media (max-width: $booking-module-breakpoint) {
      font-size: 15px;
      height: 30px;
      line-height: 30px;
    }
  }

  .span4.pull-left {
    margin-left: 0;

    @media (min-width: 768px) {
      width: 34%;
    }
  }

  ul.icons {
    float: right;
    li {
      font-size: 1em;
      display: inline-block;
      width: 22px;
      height: 22px;
      margin-left: 10px;
      a {
        display: block;
        color: $gray160;
        &:hover, &.hover {
          color: $gray80;
          @include transition(none);
        }
      }
    }
    @media (max-width: $ipad-width) {
      float: left;
    }
  }
}

.tab-pane#details {
  background: $theme_white;
  @include box-sizing(border-box);
  @include border-bottom-radius($border-radius-default);

  .row-fluid {
    padding: $padding-default;
    @include box-sizing(border-box);
    background: $theme_white;
  }
}

.availability-rules {

  .custom-availability-rules {

    .day {
      overflow: hidden;
      margin-top: 6px;
      padding: 6px 0;

      &.error {
        padding: 6px 0px 10px 0px;
      }

      &.control-group {
        margin-bottom: 0px;
      }

      .day-name {
        margin-top: 10px;
      }

      .closed-flag {
        margin-top: 13px;
      }

      .open-time,
      .close-time {
        position: relative;
      }

      .day-name,
      .open-time,
      .close-time,
      .closed-flag {
        float: left;
        width: 90px;
        height: 28px;

        @media (max-width: $iphone-landscape) {
          width: 110px;
        }
      }

      @media (max-width: $iphone-landscape) {

        .day-name {
          clear: both;
          width: 100%;
        }
      }
    }

    select {
      margin-top: -6px;
    }
  }
}
