section#payments {

  .charges-graph {
    border: 1px solid $gray230;
    padding: 20px 0;
    margin-bottom: 20px;
    @include border-radius($default-border-radius);

    .charges-total {
      padding-right: 20px;
    }
  }

  .charges-details {

    .charge-line-item {
      padding-bottom: 20px;

      .location-name {
        margin-left: 10px;
        color: $gray190;
      }
    }
  }

  .total-number {
    padding: 0px 10px 0px 0px;
  }
  .total-text {
    color: $gray190;
  }

}

