section.host_ratings, section.guest_ratings {
  .ratings {
    overflow: hidden;
  }

  .errors {
    p {
      margin: 10px 0;
    }
  }

  .arrows {
    margin: 5px 0 0 10px;

    span {
      cursor: pointer;
      font-size: 3.6em;
      float: left;
      clear:left;

      &.ico-arrow-up {
        margin-bottom: 10px;
        color: $dnm_green;
      }
      &.ico-arrow-down {
        color: $dnm_red;
      }
    }
  }

  textarea {
    height: 150px;
    width: 400px;
  }

}
