section#reservations,
section.reservations {

    .price {
      color: $green;
  }

  .reservation-dates{
    cursor: pointer;
    border-bottom: 1px dashed black;
  }

  .guest_filter{
    margin-bottom: 30px;

    .button-container{
      padding: 5px 0px;
    }

    .btn-gray.inactive{
      border: 2px solid $light-gray !important;
      background-color: $dnm-white;
      .guest-count{
        color: $gray190;
      }
      &:hover {
        background: $light-gray;
        .guest-count{
          color: black;
        }
      }
    }
  }

  .actions .btn{
    width: 49%;
  }

  .expiry-message{
    font-size: 0.95em;
  }


  .reservation-emphasis{
    margin: 0px 0px 20px 0px;
    font-size: 28px;
  }

  .other-reservation-separator {
    margin: 20px 0px;
    font-size: 28px;
  }

  .reservation-navigation {
    margin-bottom: 25px;

    a {
      border: 2px solid $gray220 !important;
      background: $white;

      span {
        padding-right: 10px;
        color: $gray210;
      }

      &.active {
        background: $gray220;

        span {
          color: $black;
        }
      }
    }
  }

  .reservation-details {

    h2 {
      margin-top: 15px;

      &:first-child {
        margin-top: 0px;
      }

      @media (max-width: 767px) {
        margin-top: 0px;
      }
    }

    form {
      margin: 0px;
    }

    .actions .btn{ 
      margin-top: 15px;
      width: 140px; 

      @media (max-width: 767px) {
        margin-bottom: 15px;
      }
    }

    .add-calendar a{
      color: $gray120;

      span {
        padding-left: 5px;
      }
    }

    .reservation-status {

      &.confirmed i {
        @extend .ico-check;
        color: $green;
      }

      &.unconfirmed i {
        @extend .ico-warning;
        color: $orange;
      }

      &.cancelled i {
        @extend .ico-close;
        color: $red;
      }
    }

    .map-wrapper,
    .map-container {
      width: 100%;
      height: 100%;
    }

    .pending-confirmation {
      color: $orange
    }

    .host-avatar {
      margin-right: 10px;
    }
  }
}
