section#reservations,
section.reservations {

  .price {
      color: $green;
  }

  .reservation-dates{
    cursor: pointer;
    border-bottom: 1px dashed black;
  }

  .guest_filter{
    margin-bottom: 30px;

    .button-container{
      padding: 5px 0px;
    }

    .btn-gray.inactive{
      border: 2px solid $light-gray !important;
      background-color: $dnm-white;
      .guest-count{
        color: $gray190;
      }
      &:hover {
        background: $light-gray;
        .guest-count{
          color: black;
        }
      }
    }
  }

  .actions .btn{
    width: 49%;
  }

  .expiry-message{
    font-size: 0.95em;
  }

  .reservation-emphasis{
    margin: 0px 0px 20px 0px;
    font-size: 20px;
  }

  p.no-data {
    text-align: center;
    margin: 40px 0 25px 0;
  }

  .other-reservation-separator {
    margin: 20px 0px;
    font-size: 20px;
  }

  .reservation-navigation {
    margin-bottom: 30px;

    a {
      margin: 5px 0px;
      border: 2px solid $gray220 !important;
      background: $white;

      span {
        padding-right: 10px;
        color: $gray210;
      }

      &.active {
        background: $gray220;

        span {
          color: $black;
        }
      }
    }
    
    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
  }

  .reservation-details {

    h2 {
      margin-top: 15px;

      &:first-child {
        margin-top: 0px;

        @media (max-width: 767px) {
          margin-top: 15px;
        }
      }

      &.booking-header {
        @media (max-width: 767px) {
          margin-top: 0px;
        }
      }
    }

    form {
      margin: 0px;
    }

    .actions .btn{ 
      margin-top: 15px;
      width: 140px; 

      @media (max-width: 767px) {
        margin-bottom: 15px;
      }
    }

    .add-calendar a{
      color: $gray120;

      span {
        padding-left: 5px;
      }
    }

    .reservation-status {

      &.confirmed i {
        color: $green;
      }

      &.unconfirmed i {
        color: $orange;
      }

      &.cancelled i {
        color: $red;
      }
    }

    .map-wrapper,
    .map-container {
      width: 100%;
      height: 100%;
    }

    .pending-confirmation {
      color: $orange
    }

    .host-avatar {
      margin-right: 10px;
    }
  }
}

.modal-content .reservations-booking_successful {

  .icons {
    padding: $padding-default;
    
    h3 {
      margin: $padding-default 0;
      text-align: center;
    }

    ul {
      width: 100%;
      margin: 2 * $padding-default auto;
      padding: 0;
      text-align: center;

      li {
        display: inline;
        margin: 0;
        padding: 0 $padding-default;

        a {
          font-size: 34px;
          color: $gray80;

          &.ico-facebook-full:hover {
            color: $facebook-blue;
          }

          &.ico-twitter:hover {
            color: $twitter-blue;
          }

          &.ico-linkedin:hover {
            color: $linkedin-blue;
          }
        }
      }
    }
  }

  .buttons {
    a {
      width: 48%;
      text-align: center;
      cursor: pointer;

      &.btn-white {
        border: 1px solid $gray220!important;
        color: $theme_gray;
      }

      &.btn-green {
        margin-left: 3%;
      }
    }
  }
}

.reservations-review, .reservations-create {
  .box {

    h2 {
      margin-top: 2*$padding-default;
      margin-bottom: $padding-default;
    }

    .selected-dates-summary {
      margin: $padding-default 0;

      p {
        margin: $padding-default 0;
        color: $gray120;
      }
    }

    .order-summary {
      border-bottom: 1px solid $line-gray;
    }

    .contact-information {
      .controls {
        margin-left: 0;
      }
    }

    .submit-secure-payment {
      padding: $padding-default;
      border: 1px solid $line-gray;
      @include border-radius($border-radius-default);

      .text {
        margin-top: 6px;
      }
      .credit-cards-images {
        float: right;
      }
    }

    .credit-card {
      margin-top: $padding-default;
    }
  }
}
