
#signup {

  #service_buttons {
    .btn {
      $service-icons: sprite-map("sections/space-wizard/signup/service-icons/*.png");
      font-size: 22px;
      width: 33.3%;
      text-align: center;
      margin: 0;
      @include border-radius(0);

      &.facebook {
        @include border-left-radius($border-radius);
      }

      &.twitter {
        @include border-right-radius($border-radius);
      }

      @each $service in (twitter, facebook, linkedin) {
        i.icon-#{$service} {
          display: inline-block;
          vertical-align: text-top;
          background: $service-icons;
          @include sprite($service-icons, $service, true);
        }
      }
    }
  }

  .already-a-user {
    position: absolute;
    width: 100%;

    a {
      display: block;
      margin: 40px auto;
      color: $dnm_white;
      @include opacity(.7);
      @include transition(opacity, ease-in, .1s);

      &:hover {
        @include opacity(1);
      }
    }
  }

  #space_wizard {
    .already-a-user a {
      display: none;
    }
  }

  h3.legal {
    margin: 10px 0 0 0;
    color: $gray3;
    text-align: center;
  }

  h3.twitter-login {
    float:left;
    width: 180px;
    text-align: right;
    margin: 8px 20px 0 0;

    @media (max-width: 1080px) {
      display: block;
      text-align: left;
      margin-bottom: 8px;
      width: 100%;
      clear: both;
    }
  }

  .btn.facebook, 
  .btn.linkedin {
    
    @media (min-width: 767px) {
      margin-right: 2%;
    }    
  }

  .btn.linkedin {
    
    &:hover {
      background: darken(#4875B4, 15%);
    }
  }

  .btn.twitter {
    
    &:hover {
      background: darken(#33CCFF, 15%);
    }  
  }

  .btn.facebook {
    
    &:hover {
      background: darken(#3B5998, 15%);
    }  
  }  
}


.sign-up-modal {
  // Fix hr's existing modal
  form {
    overflow: visible;
  }
  
  #signup {
    margin: 0;
    
    .span8.offset2 {
      margin: 0;
      width: 100%;
      
      .box {
        margin: 0;
        padding: 0;
        background: transparent;
      }
      
      .box h2 {
        margin-top: -20px;
        padding: 10px;
      }      
    }    
  }

  p.notice {
    font-size: 12px;
    color: gray2;
    margin: .5em 0;
    font-weight: 600px;
  }     
}

