@import "sections/sign-up/third-party";

#signup {
  @media (min-width: 768px) {
   margin-top: 6em;
  }

  #service_buttons {
    .btn {
      $service-icons: sprite-map("sections/space-wizard/signup/service-icons/*.png");
      font-size: 22px;

      @each $service in (twitter, facebook, linkedin) {
        i.icon-#{$service} {
          display: inline-block;
          vertical-align: text-top;
          background: $service-icons;
          @include sprite($service-icons, $service, true);
        }
      }
    }
  }

  h3.twitter-login {
    float:left;
    width: 180px;
    text-align: right;
    margin: 8px 20px 0 0;

    @media (max-width: 1080px) {
      display: block;
      text-align: left;
      margin-bottom: 8px;
      width: 100%;
      clear: both;
    }
  }
  .btn.facebook, 
  .btn.linkedin,
  .btn.twitter {
    @media (max-width: 525px) {
      width: 100%;
      text-align: center;
      margin-bottom: .25em;
    }
  }
  .btn.linkedin {
    &:hover {
      background: darken(#4875B4, 15%);
    }
  }
  .btn.twitter {
    &:hover {
      background: darken(#33CCFF, 15%);
    }  
  }
  .btn.facebook {
    &:hover {
      background: darken(#3B5998, 15%);
    }  
  }  
}
