.sign-up {

  .third-party {

    h3 {
      color: $dnm_black;
      text-shadow: 0 1px 0 rgba(255,255,255,.75); /* drop shadow */
      font-size: 18px;
      margin: 23px 0;
      padding: 0;
    }

    img {
      margin-left: 20px;
      opacity: 0.7;
      &:hover {
        opacity: 1.0;
      }
    }

  }

  .sign-up-form {
    .intro {
      margin: 20px 10px;
      line-height: 150%;
      font-size: 16px;
    }

    p.reset-password {
      margin-left: 200px;
    }

    .control-group.boolean {
      margin: 40px 0 20px 0;
      input {
        float: left;
        margin-top: 3px;
      }
    }

    .control-group.organizations {
      margin-left: 200px;
      .control-label {
        margin: 0;
        float: none;
        width: auto;
        text-align: left;
        margin-bottom: 5px;
      }
      p { font-size: 12px; }
      .controls {
        margin: 0;
        overflow: hidden;
        .checkbox {
          width: 195px;
          float: left;
          margin-bottom: 15px;
          font-size: 14px;
          input {
            float: left;
            margin: 2px 5px 0 0;
          }
        }
      }
    }
  }

}