section.space_wizard {
  min-height: 800px;
  
  #space_wizard {

    form.new_desks {
      
      .currency-type {
        display: inline-block;
        margin-left: 8px;
        font-size: 16px;
      }

      input {
        z-index: 1;
        margin-left: -30px;
        padding-left: 30px;
        positon: relative;
      }

      .fieldset.template {
        display: none;
      }
    }

    .already-a-user {
      display: none;
    }
  }
  
  .input-disabled{
    @include opacity(.4);
    filter: inherit;
  }
}
