#loginRequiredModal{ style: 'display: none' }
  %h1 Login to continue
  %h2 This action requires you to be logged in.
  %a{class: "button-a small orange require-login-button", href: "/users/sign_in?wizard=onboarding"} Log In
