- title t('orders.index.title')

.dash-head.clearfix
  - # For later use
-#%ul
-#  %li.active
-#    %a{:href => "#"} ORDERS
-#  %li
-#    %a{:href => "#"} OPEN ORDERS
-#  %li
-#    %a{:href => "#"} CANCELLED ORDERS

.dash-body
  = render partial: 'buy_sell/orders/order', collection: @orders

- unless @orders.empty?
  .row-fluid
    .span12
      .pagination
        = will_paginate @orders, renderer: BuySellMarket::WillPaginateLinkRenderer::LinkRenderer, class: ''
