- title "Orders"

= show_manage_navigation(:orders)


%section#orders
  .row-fluid
    .span8.offset2
      %h1
        %span.ico-bookings.padding
        = t 'orders.index.title'

  = render partial: 'buy_sell/orders/order', collection: @orders

  .row-fluid
    .span8.offset2
      .box.centered
        = will_paginate @orders
