$dnm_blue:   #2792C1;
$dnm_purple: #91529c;
$dnm_red:    #e83d33;
$dnm_green:  #89a734;
$dnm_grey:   #394449;
$dnm_gray:   $dnm_grey;
$dnm_black:  #1e2222;

$blue:   #1F539F;
$purple: #91529c;
$red:    #e83d33;
$green:  #0A7355;
$orange:  #E59100;
$grey:   #394449;
$gray:   $grey;
$light-gray: #E2E2E2;
$black:  #1e2222;

$link_hover: darken($dnm_blue, 10%);