.container.fluid, .locations .container {
	position: relative;
	width:100%;
	@include box-sizing(border-box);
	max-width: 960px;

	.one-third.column {
		width: 33.3333%;
		@include box-sizing(border-box);
		margin:0;

		&.padding {
			padding: 0 20px;
		}
			
		&.right {
			float: right;
		}

		@media (max-width: 767px) {
			width: 100%;
			clear: both;
		}
	}

	.two-thirds.column {
		width: 66.6666%;
		@include box-sizing(border-box);
		margin:0;

		&.right {
			float: right;
		}

		@media (max-width: 767px) {
			width: 100%;
			clear: both;
		}	
	}
}
