.container.fluid, .locations .container {
	position: relative;
	width:100%;
	box-sizing: border-box;

	.one-third.column {
		width: 33.3%;
		box-sizing: border-box;
		margin:0;

		&.right {
			float: right;
		}

		@media (max-width: 767px) {
			width: 100%;
			clear: both;
		}
	}

	.two-thirds.column {
		width: 66.6%;
		box-sizing: border-box;
		margin:0;

		&.right {
			float: right;
		}

		@media (max-width: 767px) {
			width: 100%;
			clear: both;
		}	
	}
}
