.footer-wrapper {
  background: $theme_black;
  padding: 40px 0;

  .container-fluid {
    background: $theme_black;
  }

  @media (max-width: $ipad-width) {
    padding: 30px 0 5px;
  }
}

#habla_window_div #habla_sizebutton_a.habla_button {
  display: none;
}

#habla_window_div #habla_oplink_a {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: $font-medium;
}

#habla_window_div #habla_panel_div {
  font-family: $font-regular;
}

footer {

  .gap {
    padding-top: 22px;
  }

  line-height: 18px;

  #mixpanel {
    a {
      float: right;
      margin-top: 13px;
      @media (max-width:$ipad-width) {
        display:none;
      }
    }
  }

  .social-wrapper {
    @media (max-width:$ipad-width) {
      position: relative;
      overflow: hidden;
      float: right;
      width: 100%;

      ul.icons {
        clear: right;
        float: right;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        right: 50%;
      }

      li {
        left: 50%;
        display: block;
        position: relative;
      }
    }

    ul {
      &.icons {
        li {
          &:first-child {
            padding-right: 0;
          }
          padding: 0 15px 0 0;
          width: 27px;
          float: right;
          a:before {
            font-size: 27px;
          }
        }
      }
    }
  }

  li {
    float:left;
    text-align: center;
    padding-right: 25px;

    @media (max-width:$ipad-width) {
      width:25%;
      padding: 0 0 25px;
      .clear-footer { 
        clear: left;
      }
    }

  }

  a, a:visited {
    color: $gray120;
    text-decoration: none;
    text-align: center;
    font-family: $font-medium;

    &:hover {
      color: $gray210;
    }

   @media (max-width:$ipad-width) {
      font-size: 14px;
    }  
  }

  &:first-child a {
    padding-left: 0;
  }

  &.last a {
    background: 0;
  }

  &.active a {
    color: $gray120;
    &:hover {
      color: lighten($gray120, 10%);
    }
  }

  .copyright {
    @media (max-width:$ipad-width) {
      text-align: center;
    }

    span {
      font-size: 12px;
      padding: 0 13px 0 0;
      margin: 0 auto;
      text-align: center;
      line-height: 30px;
      color: $gray120;

      @media (max-width: $ipad-width) {
        margin-top: -25px;
        padding-bottom: 20px;
      }

      a {
        font-size: 12px;
      }
    }    
  }
}
