footer {
  border-top: solid lighten($dnm_black, 60%) 2px;
  .inner {
    padding-top: 17px;
  }
  line-height: 18px;
  li {
    float:left;
    width: 16.6%;
    text-align: center;
    a {
      color: $dnm_blue;
      text-decoration: none;
      font-size: 14px;
      text-align: center;
    }

    &:first-child a {
      padding-left: 0;
    }

    &.last a {
      background: 0;
    }

    &.active a {
      color: $dnm_grey;
      &:hover {
        color: lighten($dnm_grey, 10%);
      }
    }

  }

  .copyright p {
    font-size: 12px;
    padding: 15px 0 0 20px;
    max-width: 460px;
    margin: 0 auto;
    text-align: center;
    color: rgb(150,150,150);
  }

}
