select {
  margin: 16px 0;
}

.controls .switch{
  margin-top: 9px;
}

.custom-availability-rules select{
  margin: 16px 2px;
}

input[type=file] {
  margin: 12px 0;
}

input[type=radio] {
  vertical-align: inherit;
  padding-right: 4px;
}

input[type='checkbox'], 
input[type='radio'] {
  width: auto;
}

input[type=submit], 
input[type=text], 
input[type=email], 
input[type=password],
input[type=url],
input[type=tel] {
   -webkit-appearance: none;
   cursor: pointer;
}

label.radio {
  margin-right: 1em;
}

.radio_buttons.required {
  margin-top: 17px;
}

.form-horizontal {
  .control-group {
    &.control-fileupload {
      margin-bottom: 25px;
    }
  }
}

.photo-action {
  background-color: $blue;
  position: absolute;
  cursor: pointer;
  color: white;

  &:hover {
    background: lighten($theme_blue, 10%);
  }
}

.delete-photo {
  margin: 6px 0 0 -61px;
}

.resize-photo {
  margin: 30px 0 0 -105px;
}

.rotate-photo {
  z-index: 602;
  margin: 22px 0px 0 517px;
}

.single-photo {

  .fileupload {

    .uploaded {
      overflow: hidden;
    }

    .photo-item {
      float: left;
    }

    .thumbnail-processing {
      width: 144px;
      height: 44px;
      padding-top: 100px;
    }

    img {
      float: left;
    }

    .action {
      clear: both;
    }
  }
}
.fileupload {

  .ui-sortable {

    img {
      margin: 0 auto;
      width: 180px;
      height: 113px;
    }

  }

  input.browse-file {
    display: block;
    height: 0px;
    width: 0px;
    margin: 0px;
    padding: 0px;
  }

  .fileinput-button {
    margin-bottom: 8px;
    text-align: center;
    cursor: pointer;
  }

  .progress {
    clear: both;
  }

  .animated-progress-bar {
    height: 16px;
    background: image-url("progress-bar.gif") 50% 0% no-repeat;
  }

  .photo-placeholder{
    height: 110px;
    width: 182px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 4px;
    display: inline-block;
  }

  .photo-item {
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
    display: inline-block;
    padding: 4px;
    border: 1px dashed $black;

    .photo-position {
      margin: 6px 0 0 -174px;
      position: absolute;
    }

    img {
      margin: 0 auto;
      width: 180px;
      height: 113px;
    }

    input {
      margin: 0;
      width: 180px;
      display: block;
    }

  }

  .thumbnail-processing {
    width: 180px;
    height: 56px;
    text-align: center;
    padding-top: 109px;
    // hack only for chrome...
    @media screen and (-webkit-min-device-pixel-ratio:0) { 
      padding-top: 114px;
    }

    .loading-icon {
      width: 100%;
      height: 16px;
      background: url(/assets/ajax-loader.gif) no-repeat center;
    }

    .loading-text {
      padding-top: 2px;
      position: relative;

      .progress {
        position: absolute;
        top: 8px;
        left: 0px;
        width: 100%;
      }

    }
  }
}

#space_wizard {
  
  .periodicity {
    margin-right: 10px;
  }

  .chzn-container {
    margin: 16px 0;
  }
}

form {
  
  div.input, 
  div.field {
    margin-bottom: 20px;
  }

  div.input.check_boxes, 
  div.field.check_boxes, 
  div.input.boolean,
  div.input.radio_buttons {
    overflow: hidden;

    input {
      float: left;
    }

    label {
      margin-left: 24px;
      font-size: 14px;
      line-height: 22px;
    }

    .hint {
      clear: left;
    }
  }

  div.radio_buttons {
    overflow: hidden;
    margin-bottom: 8px;
  }

  .hint, 
  .help-block, 
  .preamble, 
  .error-block {
    display: block;
    margin-bottom: 0;
    padding-bottom: 6px;
    font-size: 12px;
    line-height: 16px;
    color: $red;
  }

  .hint, 
  .help-block, 
  .error-block {
    padding-left: 20px;

    &.no-icon {
      background: none;
      padding-left: 0;
    }
  }

  .error-block {
    color: $red;
    background: image-url("components/form/error.png") left top no-repeat;
  }

  .preamble {
    color: #1e2222;
  }

  .hint, 
  .help-block {
    background: image-url("components/form/hint.png") left top no-repeat;
    margin-top: 8px;

    &:before {
      @extend .ico-info:before;
      @extend .ico-info;
      padding-right: 10px;
    }  
  }

  .card-info.error, .row-fluid.error, control-group.error {
    

    // ul is for chosen
    .controls {
      input,
      textarea,
      ul,
      select {
        border-color: lighten($red, 10%);
      }
    }

  }

  label {

    a[rel=tooltip] {
      color: $theme_black;
      
      &:hover {
        color: $theme_gray;
      }
    }
  }

  label.control-label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;

    &.inline {
      display: inline-block;
      margin-bottom: auto;
      font-size: 14px;
    }
  }


  fieldset, 
  .fieldset {

    // Prevent additional padding at bottom of fieldset
    .control-group:last-child {
      margin-bottom: 0;
    }
  }

  input[type="text"], 
  input[type="password"], 
  input[type="email"], 
  input[type="tel"], 
  input[type="url"], 
  input[type="number"], 
  textarea {
    @include form-field;

    &.small {
      padding: 6px 8px;
    }


    // A mini input field

    &.mini {
      width: 80px;
    }

    &:disabled {
      @include opacity(0.5);
    }

    &[readonly="readonly"], &[readonly] {
      @include opacity(0.5);
    }
  }

  textarea {
    

    // 4 lines

    height: 88px;


    // 2 lines

    &.short {
      height: 44px;
    }


    // 8 Lines

    &.high {
      height: 176px;
    }
  }

  fieldset, 
  .fieldset {
    position: relative;
    margin-bottom: 20px;
    @include box-sizing(border-box);    
    padding: 14px;
    border: 1px solid #c6c6c6;
    @include border-radius($border-radius-default);

    > legend, 
    > .legend {
      @extend h2;
      border-radius: $border-radius-default $border-radius-default 0 0;
    }
  }

  // Wrapper element for input fields.
  //
  // Allows manipulation with respect to positioning elements relative
  // to the input as a psudo-container.

  .input-icon-wrapper {
    display: inline-block;
    position: relative;
    width: 100%;

    input {
      padding-left: 35px;
      background-image:-webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0));
    }


    // Icons

    .icon {
      position: absolute;
      top: 50%;
      left: 8px;
    }

    .icon.icon-loading {
      margin-top: -12px;
      width: 16px;
      height: 16px;
      background: image-url("components/form/input-loader.gif");
    }

    .icon.ico-crosshairs {
      margin-top: -17px;
      width: 22px;
      height: 23px;
      font-size: 26px;
      opacity: .6;
    }
  }

  input[type='submit'] {
    @extend .btn;
    @extend .btn-large;
    @extend .btn-green;
    width:100%;
    border: none;
    font-size: 18px;
  }
}


// Form with horizontal label alignment
//
// Usage:
//   <form class="form-horizontal">
//     <div class="control-group">
//       <label>Label on left</label>
//       <div class="controls">
//         <!-- input elements right of label -->
//       </div>
//     </div>
//     <div class="control-group indent">
//       <label>Top label</label>
//       <div class="controls">
//         <!-- input elements under label -->
//       </div>
//     </div>
//   </form>

.form-horizontal {
  
  .control-group {
    clear: both;
    margin-bottom: 10px;


    // An indented control group

    &.indent {
      margin-left: 200px;


      // Override the label so that it's not floating and doesn't float

      .control-label {
        display: block;
        float: none;
        margin: 0;
        margin-bottom: 5px;
        width: auto;
        text-align: left;
      }


      // Controls don't need a margin as already indented

      .controls {
        margin-left: 0;
      }
    }

    .control-label {
      float: left;
      margin-top: 11px;
      width: 180px;
      color: $gray60;
      text-align: right;

      &.social-networks {
        margin-top: 1px;
      }
      
      &.flush-top,
      &.boolean.optional {
        margin: 0 0 20px;

        @media (max-width: $iphone-landscape) {
          margin: 7px 0 0;
        }
      }
    }

    .controls {
      margin-left: 200px;

      input, 
      textarea {
        font-size: 18px;
        font-weight: normal;
      }
    }
  }
}


// Width overrides for restricted width forms

.two-thirds.column form.form-horizontal, 
.eleven.columns form.form-horizontal {
  
  input[type="text"], 
  input[type="password"], 
  input[type="email"], 
  input[type="url"], 
  input[type="tel"], 
  textarea {
    width: 367px;
  }

  .input-icon-wrapper {
    input[type="text"] {
      width: 340px;
    }
  }

  .controls {
    
    &.two-up input {
      width: 169px;
      
      &:first-child {
        margin-right: 4px;
      }
    }
  }

  .actions {
    margin-left: 196px;
    margin-bottom: 20px;
  }


  // Fieldsets require even further smaller width fields

  .fieldset, 
  fieldset {
    
    input[type="text"], 
    input[type="password"], 
    input[type="email"], 
    input[type="url"], 
    input[type="tel"], 
    textarea {
      width: 328px;
    }
  }
}

@media screen and (max-width:959px) {
  
  .two-thirds.column form.form-horizontal input[type="text"], 
  .two-thirds.column form.form-horizontal input[type="password"], 
  .two-thirds.column form.form-horizontal input[type="email"], 
  .two-thirds.column form.form-horizontal input[type="url"], 
  .two-thirds.column form.form-horizontal input[type="tel"], 
  .two-thirds.column form.form-horizontal textarea, 
  .two-thirds.column form.form-horizontal .controls.two-up input, 
  form .hint, 
  form .help-block, 
  .two-thirds.column form.form-horizontal .fieldset input[type="text"], 
  .two-thirds.column form.form-horizontal .fieldset textarea  {

    @include box-sizing(border-box);
    position:relative;
    float: left;
    clear: both;
    width: 100%;
  }

  form .controls .input-icon-wrapper,
  .two-thirds.column form.form-horizontal .input-icon-wrapper input[type="text"] {
    display:block;
    float:left;
    width:100%;
  }

  .form-horizontal .control-group .control-label {
    text-align: left;
  }

  .form-horizontal .control-group .controls {
    margin:10px 0;
    clear: both;
  }

  .two-thirds.column form.form-horizontal .actions, 
  .form-horizontal .control-group.indent {
    margin-left:0;
  }

  .actions input[type='submit'] {
    @include box-sizing(border-box);
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: $iphone-landscape) {

  select.currency {
    width: 100%; 
  }  
}

.input-icon-holder {
  position: relative;
  width: 100%;

  input {
    padding-left: 32px !important;

    &:focus {
      
      + span {
        color: $icon-hover !important;
      }
    }
  }

  span {
    position: absolute;
    top: 11px;
    left: 8px;
    color: $icon;
  }
}
  
