input,
textarea {
    -webkit-appearance: none;
    }
    
form {
  overflow: hidden;

  div.input, div.field {
    margin-bottom: 20px;
  }

  div.input.check_boxes, div.field.check_boxes, div.input.boolean,
  div.input.radio_buttons {
    overflow: hidden;

    input {
      float: left;
    }

    label {
      margin-left: 24px;
      font-size: 14px;
      line-height: 22px;
    }

    label.check_boxes, label.radio_buttons {
      margin-left: 0;
      font-size: 18px;
    }

    .checkbox, .radio {
      float: left;
      margin-right: 30px;
    }

    .hint {
      clear: left;
    }
  }

  div.radio_buttons {
    overflow: hidden;
    margin-bottom: 8px;
  }

  .hint, .help-block, .preamble, .error-block {
    display: block;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 6px;
    margin-bottom: 0;
  }

  .hint, .help-block, .error-block {
    padding-left: 20px;

    &.no-icon {
      background: none;
      padding-left: 0;
    }
  }

  .hint, .help-block {
    background: image-url("components/form/hint.png") left top no-repeat;
  }

  .error-block {
    color: #e83d33;
    background: image-url("components/form/error.png") left top no-repeat;
  }

  .preamble {
    color: #1e2222;
  }

  .control-group.error {
    input {
      border-color: #e58984;
    }
  }

  label {
    @extend .font-banda-bold;
  }

  label.control-label {
    font-size: 18px;
    display: block;
    margin-bottom: 8px;

    &.inline {
      display: inline-block;
      font-size: 14px;
      margin-bottom: auto;
    }
  }

  // Checkbox wrapper label
  //
  // Usage:
  //   <label class="checkbox"><input type="checkbox" />Label Text</label>
  label.checkbox {
    display: block;
    width: auto;
    padding-top: 6px;
    line-height: 18px;
    font-size: 14px;
    overflow: hidden;

    input {
      float: left;
      margin: 2px 5px 0 0;
    }
  }

  // Two-up controls
  // i.e. Controls with side-by-side group rendering
  .two-up {
    label.checkbox, label.radio {
      width: 195px;
      float: left;
      margin-bottom: 15px;

      &:nth-last-child(1), &:nth-last-child(2) {
        margin-bottom: 0;
      }
    }
  }

  fieldset, .fieldset {
    .two-up {
      label.checkbox, label.radio {
        width: 170px;
      }
    }

    // Prevent additional padding at bottom of fieldset
    .control-group:last-child {
      margin-bottom: 0;
    }
  }

  input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="url"], input[type="number"], textarea {
    @extend .font-banda;
    margin: 0;
    margin-bottom: 8px;
    padding: 8px 8px 8px 8px;
    line-height: 29px;
    background: rgb(240,240,240);
    border: 2px solid rgba(0,0,0,0.1);
    @include border-radius(8px);
    color: #707070;
    font-size: 22px;
    -webkit-transition: all .2s ease-in;
       -moz-transition: all .2s ease-in;
            transition: all .2s ease-in;

    &:focus {
      color:rgb(30,30,30);
      outline: none;
      border: 2px solid $blue;
    }

    &.small {
      padding: 6px 8px;
    }

    .wood-box &, .hero-wood-texture & {
      border: 1px solid #2e1d16;
    }

    // A mini input field
    &.mini {
      width: 60px;
    }
  }

  textarea {
    // 4 lines
    height: 88px;

    // 2 lines
    &.short {
      height: 44px;
    }

    // 8 Lines
    &.high {
      height: 176px;
    }
  }

  fieldset, .fieldset {
    border: 1px solid #c6c6c6;
    @include border-radius(8px);
    padding: 20px;
    margin-bottom: 20px;
    position: relative;

    > legend, > .legend {
      color: #a1a1a1;
      font-size: 16px;
      text-transform: uppercase;
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
    }
  }

  // Wrapper element for input fields.
  //
  // Allows manipulation with respect to positioning elements relative
  // to the input as a psudo-container.
  .input-icon-wrapper {
    display: inline-block;
    position: relative;

    input {
      padding-left: 35px;
    }

    // Icons
    .icon {
      position: absolute;
      top: 50%;
      left: 8px;
    }

    .icon.icon-loading {
      background: image-url("components/form/input-loader.gif");
      height: 16px;
      width: 16px;
      margin-top: -12px;
    }

    .icon.icon-geolocate {
      background: image-url("http://desksnearme.assets.s3.amazonaws.com/img/ui/search-crosshair.png");
      width: 22px;
      height: 23px;
      background-size: 22px 23px;
      margin-top: -15px;
    }
  }

  input[type='submit'] {
    border: none;
    @extend .btn;
    @extend .btn-large;
    @extend .btn-green;

    width:100%;

    font-size: 18px;
  }
}

// Form with horizontal label alignment
//
// Usage:
//   <form class="form-horizontal">
//     <div class="control-group">
//       <label>Label on left</label>
//       <div class="controls">
//         <!-- input elements right of label -->
//       </div>
//     </div>
//     <div class="control-group indent">
//       <label>Top label</label>
//       <div class="controls">
//         <!-- input elements under label -->
//       </div>
//     </div>
//   </form>
.form-horizontal {
  .control-group {
    margin-bottom: 10px;
    overflow: hidden;

    // An indented control group
    &.indent {
      margin-left: 200px;

      // Override the label so that it's not floating and doesn't float
      .control-label {
        width: auto;
        display: block;
        float: none;
        text-align: left;
        margin: 0;
        margin-bottom: 5px;
      }

      // Controls don't need a margin as already indented
      .controls {
        margin-left: 0;
      }
    }

    .control-label {
      @extend .font-banda-bold;
      width: 180px;
      float: left;
      margin-top: 7px;
      text-align: right;
      font-size: 16px;
      color: $dnm_black;

      abbr {
      }
    }

    .controls {
      margin-left: 200px;

      input, textarea {
        font-size: 18px;
        font-weight: normal;
      }
    }
  }
}

// Width overrides for restricted width forms
.two-thirds.column form.form-horizontal, .eleven.columns form.form-horizontal {
  input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], textarea {
    width: 355px;
  }

  .input-icon-wrapper {
    input[type="text"] {
      width: 328px;
    }
  }

  .controls {
    &.two-up input {
      width: 163px;
      &:first-child {
        margin-right: 6px;
      }
    }
  }

  .actions {
    margin-left: 196px;
    margin-bottom: 20px;
  }

  // Fieldsets require even further smaller width fields
  .fieldset, fieldset {
    input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], textarea {
      width: 330px;
    }
  }
}
@media screen and (max-width:959px) {
  .two-thirds.column form.form-horizontal input[type="text"], .two-thirds.column form.form-horizontal input[type="password"], .two-thirds.column form.form-horizontal input[type="email"], .two-thirds.column form.form-horizontal input[type="url"], .two-thirds.column form.form-horizontal input[type="tel"], .two-thirds.column form.form-horizontal textarea, .two-thirds.column form.form-horizontal .controls.two-up input, form .hint, form .help-block, .two-thirds.column form.form-horizontal .fieldset input[type="text"], .two-thirds.column form.form-horizontal .fieldset textarea  {
    position:relative;
    float: left;
    clear: both;
    width: 100%;
    box-sizing: border-box;
  }
  form .controls .input-icon-wrapper,  .two-thirds.column form.form-horizontal .input-icon-wrapper input[type="text"] {
    display:block;
    float:left;
    width:100%;
  }
  .form-horizontal .control-group .control-label {
    text-align: left;
  }
  .form-horizontal .control-group .controls {
    margin:10px 0;
  }
  .two-thirds.column form.form-horizontal .actions, .form-horizontal .control-group.indent {
    margin-left:0;
  }
  .two-thirds.column form.form-horizontal {

  }
  .actions input[type='submit'] {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
}
@media screen and (max-width:480px) {
  select.currency {
    width: 100%; 
  }  
  }
