form {
  overflow: hidden;

  div.input, div.field {
    margin-bottom: 20px;
  }

  div.input.check_boxes, div.field.check_boxes, div.input.boolean,
  div.input.radio_buttons {
    overflow: hidden;

    input {
      float: left;
    }

    label {
      margin-left: 24px;
      font-size: 14px;
      line-height: 22px;
    }

    label.check_boxes, label.radio_buttons {
      margin-left: 0;
      font-size: 18px;
    }

    .checkbox, .radio {
      float: left;
      margin-right: 30px;
    }

    .hint {
      clear: left;
    }
  }

  .hint, .help-block {
    font-size: 80%;
    font-size: 12px;
    line-height: 16px;
    display: block;
    padding-bottom: 6px;
    background: image-url("components/form/hint.png") left top no-repeat;
    padding-left: 20px;
  }

  label {
    @extend .font-banda-bold;
  }

  label.control-label {
    font-size: 18px;
    display: block;
    margin-bottom: 8px;

    &.inline {
      display: inline-block;
      font-size: 14px;
      margin-bottom: auto;
    }
  }

  // Checkbox wrapper label
  //
  // Usage:
  //   <label class="checkbox"><input type="checkbox" />Label Text</label>
  label.checkbox {
    display: block;
    width: auto;
    padding-top: 6px;
    line-height: 18px;
    font-size: 14px;

    input {
      float: left;
      margin: 2px 5px 0 0;
    }
  }

  // Two-up controls
  // i.e. Controls with side-by-side group rendering
  .two-up {
    label.checkbox {
      width: 195px;
      float: left;
      margin-bottom: 15px;
    }
  }

  input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="url"], input[type="number"], textarea {
    @extend .font-banda;
    margin: 0;
    margin-bottom: 8px;
    padding: 8px 8px 8px 8px;
    line-height: 22px;
    background: #fff;
    @include background(linear-gradient(#ececec, #fcfcfc));
    border: 1px solid rgba(0,0,0,0.4);
    @include border-radius(8px);
    @include box-shadow(
      inset rgba(0,0,0,0.4) 3px 3px 8px -4px,
      rgba(255,255,255,0.1) 0 1px 0 0
    );
    color: #707070;
    text-shadow: #fff 0 1px 0;
    font-size: 22px;

    &:focus {
      outline: none;
    }

    &.small {
      padding: 6px 8px;
    }

    .wood-box &, .hero-wood-texture & {
      border: 1px solid #2e1d16;
    }
  }

  // Wrapper element for input fields.
  //
  // Allows manipulation with respect to positioning elements relative
  // to the input as a psudo-container.
  .input-icon-wrapper {
    display: inline-block;
    position: relative;

    input {
      padding-left: 35px;
    }

    // Icons
    .icon {
      position: absolute;
      top: 50%;
      left: 8px;
    }

    .icon.icon-loading {
      background: image-url("components/form/input-loader.gif");
      height: 16px;
      width: 16px;
      margin-top: -12px;
    }

    .icon.icon-geolocate {
      background: image-url("components/form/input-target-icon.png");
      width: 22px;
      height: 23px;
      margin-top: -15px;
    }
  }

  textarea {
    height: 160px;
  }

  input[type='submit'] {
    border: none;
    @extend .btn;
    @extend .btn-medium;
    @extend .btn-green;

    font-size: 16px !important;
  }
}

// Form with horizontal label alignment
//
// Usage:
//   <form class="form-horizontal">
//     <div class="control-group">
//       <label>Label on left</label>
//       <div class="controls">
//         <!-- input elements right of label -->
//       </div>
//     </div>
//     <div class="control-group indent">
//       <label>Top label</label>
//       <div class="controls">
//         <!-- input elements under label -->
//       </div>
//     </div>
//   </form>
.form-horizontal {
  .control-group {
    margin-bottom: 10px;
    overflow: hidden;

    // An indented control group
    &.indent {
      margin-left: 200px;

      // Override the label so that it's not floating and doesn't float
      .control-label {
        width: auto;
        display: block;
        float: none;
        text-align: left;
        margin: 0;
        margin-bottom: 5px;
      }

      // Controls don't need a margin as already indented
      .controls {
        margin-left: 0;
      }
    }

    &.error {
      input {
        border-color: #cc0000;
      }
      .help-inline {
        color: #cc0000;
      }
    }

    .control-label {
      @extend .font-banda-bold;
      width: 180px;
      float: left;
      margin-top: 7px;
      text-align: right;
      font-size: 16px;
      color: $dnm_black;

      abbr {
      }
    }

    .controls {
      margin-left: 200px;

      input, textarea {
        font-size: 18px;
        font-weight: normal;
      }
    }
  }
}

// Width overrides for restricted width forms
.two-thirds.column form.form-horizontal {
  input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], textarea {
    width: 355px;
  }

  .input-icon-wrapper {
    input[type="text"] {
      width: 328px;
    }
  }

  .controls {
    &.two-up input {
      width: 163px;
      &:first-child {
        margin-right: 6px;
      }
    }
  }

  .actions {
    margin-left: 196px;
    margin-bottom: 20px;
  }
}
