// Generic styles to apply to everything

::selection, ::-moz-selection {
  background-color: #27B0E6;
  color: white;
}

.right {
  float: right;
}

.left {
  float: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

strong {
  font-weight: bold;
}

h1, h2, h3, h4, h5 {
  font-family: "futura-medium";
  font-weight: normal;
  color: #1e2222;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
}

p {
  margin-bottom: 20px;
}

.wood-texture {
  background: image-url("layout/seamless-wood-texture.jpg");
}

// An introduction paragraph at the top of the page content
.intro {
  margin: 20px 10px;
  line-height: 150%;
  font-size: 16px;
}

// A normal weighted h3
@mixin h3-normal {
  color: $dnm_black;
  text-shadow: 0 1px 0 rgba(255,255,255,.75); /* drop shadow */
  font-size: 18px;
  margin: 23px 0;
  padding: 0;
}

.h3-normal {
  @include h3-normal;
}

body, input {
  font-family: "futura-medium", sans-serif;
  letter-spacing: 1px;
  color: $dnm_black;
  line-height: 20px;
}

hr, .hr {
  padding: 0;
  border: 0;
  height: 1px;
  max-height: 1px;
  background: #a8a9a9;
  color: #a8a9a9;
  border-bottom: 1px solid #ffffff;
  border-bottom: 1px solid rgba(255,255,255,0.8);
  margin: 10px -12px 10px -12px;
}

// Inline rule to separate items
//
// i.e.
//  Something  -- or --  Something else
//
// Usage:
//  <span class="inline-rule"><span>or</span></span>
.inline-rule {
  display: inline-block;
  height: 1px;
  background: #b4b5b5;
  text-align: center;
  vertical-align: middle;
  line-height: 14px;
  margin: 0 10px;

  > span {
    display: inline-block;
    margin: 0 10px;
    padding: 0 5px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    position: relative;
    top: -7px;
    background: #f5f5f5;
    color: #898b8b;
  }
}

.divider {
  margin: 40px 0;

  &.small {
    margin: 20px 0;
  }
}

.close-button {
  text-indent: -9999px;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  @include opacity(0.9);
  background: image-url("layout/close.png");
  width: 16px;
  height: 17px;

  &:hover {
    @include opacity(1);
  }
}