// Generic styles to apply to everything

.right {
  float: right;
}

.left {
  float: left;
}

.text-right {
  text-align: right;
}

strong {
  font-weight: bold;
}

h1 {
  @extend .font-banda;
  font-size: 32px;
  color: #1e2222;
  text-shadow: 0 1px 0 rgba(255,255,255,0.8);
  margin-bottom: 20px;
}

p {
  margin-bottom: 12px;
}

.wood-texture {
  background: image-url("layout/seamless-wood-texture.jpg");
}

// An introduction paragraph at the top of the page content
.intro {
  margin: 20px 10px;
  line-height: 150%;
  font-size: 16px;
}

// A normal weighted h3
@mixin h3-normal {
  color: $dnm_black;
  text-shadow: 0 1px 0 rgba(255,255,255,.75); /* drop shadow */
  font-size: 18px;
  margin: 23px 0;
  padding: 0;
}

.h3-normal {
  @include h3-normal;
}
