.dnm-page {
	
	.navbar {
    background: $dnm_black;

    .navbar-inner {
      background: $dnm_black;
      padding: 0 0 10px 20px;
      max-width: 1400px;
      @include box-sizing(border-box);
      margin: 0 auto;
    }

		.logo-container {
			float: left;
      margin-top: 2px;

      @media (max-width: 320px) {
        margin-top:2px;
      }

      #logo {
        display:inline-block;
        float: left;
        margin-top: 12px;
        background: image-url("http://desksnearme.assets.s3.amazonaws.com/img/desksnear.me-white.png") no-repeat;
        width: 228px;
        height: 28px;
        background-size: 227px 28px;
        text-indent: -9999px;
        border: none !important;
        -webkit-transition: none;
           -moz-transition: none;
             -o-transition: none;
                transition: none; 

        @media (max-width: 600px) {
          background-size: 171px 21px;
          width: 171px;
          height: 21px;
          margin: 15px 0 0;
        } 
       
        @media (max-width: 320px) {
          background-size: 114px 14px;
          width: 114px;
          height: 18px;
          margin: 20px 0 0;
        }        
      }
		}	

    #header_links {
      padding-top: 10px;
      line-height: 38px;

      a.header-link {
        display: inline-block;
        float: right;
        color: $gray3;
        font-size: 20px;
        margin-right: 0;
        text-decoration: none;

        &:hover {
          color: white;
        }

        @media (max-width: 480px) {
          margin-right:10px;
        }
        @media (max-width: 320px) {
          font-size: 22px;
        }      
      }
    }

		a.btn.btn-blue {
      margin-top: 1px;
      text-align: center;
      float: right;
      margin-right: 20px;

			@media (max-width: 676px) {
				display: none;
			}
		}
	}
}
