@include font-face("icomoon", font-files("icomoon.woff", "icomoon.otf", "icomoon.ttf", "icomoon.svg#icomoon"), "icomoon.eot");

// Icon Font Styling 

span.padding:before {
  padding-right: .4em;
}
span.padding-left {
  padding-left: .4em;
}
.ico-phone:before {
  font-size: 75%;
  padding-right: 2px;
}
.ico-twitter:before {
  font-size: 125%;
}
.ico-lock:before {
  padding-right: 4px;
}

.ico-image:before, .ico-profile:before, .ico-save:before, .ico-instagram:before, .ico-link:before, .ico-phone:before, .ico-plus:before, .ico-marker:before, .ico-facebook:before, .ico-edit:before, .ico-drawer:before, .ico-twitter:before, .ico-close:before, .ico-search:before, .ico-clock:before, .ico-check:before, .ico-calender:before, .ico-arrow-up:before, .ico-arrow-left:before, .ico-arrow-right:before, .ico-arrow-down:before, .ico-app-store:before, .ico-info:before, .ico-login:before, .ico-lock:before, .ico-location:before, .ico-mail:before, .ico-linkedin:before, .ico-user:before, .ico-manage-guests:before, .ico-bookings:before, .ico-credit-card:before, .ico-trash:before, .ico-settings:before, .ico-logout:before, .ico-sign-up:before, .ico-add-location:before, .ico-upload-photos:before, .ico-desk:before, .ico-add-desk:before, .ico-crosshairs:before, .ico-dashboard:before, .ico-trash-open:before, .ico-tag:before, .ico-settings-2:before, .ico-list:before, .ico-heart:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.ico-image:before {
  content: "\e000";
}
.ico-profile:before {
  content: "\e001";
}
.ico-save:before {
  content: "\e002";
}
.ico-instagram:before {
  content: "\e003";
}
.ico-link:before {
  content: "\e004";
}
.ico-phone:before {
  content: "\e005";
}
.ico-plus:before {
  content: "\e006";
}
.ico-marker:before {
  content: "\e007";
}
.ico-facebook:before {
  content: "\e008";
}
.ico-edit:before {
  content: "\e009";
}
.ico-drawer:before {
  content: "\e00a";
}
.ico-twitter:before {
  content: "\e00b";
}
.ico-close:before {
  content: "\e00c";
}
.ico-search:before {
  content: "\e00d";
}
.ico-clock:before {
  content: "\e00e";
}
.ico-check:before {
  content: "\e00f";
}
.ico-calender:before {
  content: "\e010";
}
.ico-arrow-up:before {
  content: "\e011";
}
.ico-arrow-left:before {
  content: "\e012";
}
.ico-arrow-right:before {
  content: "\e013";
}
.ico-arrow-down:before {
  content: "\e014";
}
.ico-app-store:before {
  content: "\e015";
}
.ico-info:before {
  content: "\e016";
}
.ico-login:before {
  content: "\e017";
}
.ico-lock:before {
  content: "\e018";
}
.ico-location:before {
  content: "\e019";
}
.ico-mail:before {
  content: "\e01a";
}
.ico-linkedin:before {
  content: "\e01b";
}
.ico-user:before {
  content: "\e01c";
}
.ico-manage-guests:before {
  content: "\e01d";
}
.ico-bookings:before {
  content: "\e01e";
}
.ico-credit-card:before {
  content: "\e01f";
}
.ico-trash:before {
  content: "\e020";
}
.ico-settings:before {
  content: "\e021";
}
.ico-logout:before {
  content: "\e022";
}
.ico-sign-up:before {
  content: "\e023";
}
.ico-add-location:before {
  content: "\e024";
}
.ico-upload-photos:before {
  content: "\e025";
}
.ico-desk:before {
  content: "\e026";
}
.ico-add-desk:before {
  content: "\e027";
}
.ico-crosshairs:before {
  content: "\e028";
}
.ico-dashboard:before {
  content: "\e029";
}
.ico-trash:hover:before {
  content: "\e02a";
}
.ico-tag:before {
  content: "\e02b";
}
.ico-settings-2:before {
  content: "\e02c";
}
.ico-list:before {
  content: "\e02d";
}
.ico-heart:before {
  content: "\e02e";
}