@include font-face("icon-font", font-files("icon-font.woff", "icon-font.otf", "icon-font.ttf", "icon-font.svg#icon-font"), "icon-font.eot");

// Icon Font Styling 

span.padding:before {
  padding-right: .4em;
}
span.padding-left {
  padding-left: .4em;
}
.ico-phone:before {
  font-size: 75%;
  padding-right: 2px;
}
.ico-twitter:before {
  font-size: 125%;
}
.ico-lock:before {
  padding-right: 4px;
}

.ico-tag, .ico-print, .ico-screen, .ico-filter, .ico-calender-check-in, .ico-calender-check-out, .ico-user, .ico-plus, .ico-info, .ico-facebook, .ico-check, .ico-bookings, .ico-arrow-up, .ico-arrow-right, .ico-arrow-left, .ico-arrow-down, .ico-twitter, .ico-sign-up, .ico-search, .ico-phone, .ico-marker, .ico-mail, .ico-logout, .ico-login, .ico-lock, .ico-location, .ico-linkedin, .ico-instagram, .ico-edit, .ico-drawer, .ico-dashboard, .ico-crosshairs, .ico-close, .ico-clock, .ico-calender, .ico-add-location, .ico-manage-guests, .ico-link, .ico-app-store, .ico-credit-card, .ico-trash, .ico-settings, .ico-upload-photos, .ico-desk, .ico-add-desk, .ico-save, .ico-trash-open, .ico-profile, .ico-warning, .ico-chevron-up, .ico-chevron-right, .ico-chevron-down, .ico-chevron-left {
  font-family: 'icon-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.ico-tag:before {
  content: "\e000";
}
.ico-print:before {
  content: "\e001";
}
.ico-screen:before {
  content: "\e002";
}
.ico-filter:before {
  content: "\e003";
}
.ico-calender-check-in:before {
  content: "\e004";
}
.ico-calender-check-out:before {
  content: "\e005";
}
.ico-user:before {
  content: "\e006";
}
.ico-plus:before {
  content: "\e007";
}
.ico-info:before {
  content: "\e008";
}
.ico-facebook:before {
  content: "\e009";
}
.ico-check:before {
  content: "\e00a";
}
.ico-bookings:before {
  content: "\e00b";
}
.ico-arrow-up:before {
  content: "\e00c";
}
.ico-arrow-right:before {
  content: "\e00d";
}
.ico-arrow-left:before {
  content: "\e00e";
}
.ico-arrow-down:before {
  content: "\e00f";
}
.ico-twitter:before {
  content: "\e010";
}
.ico-sign-up:before {
  content: "\e011";
}
.ico-search:before {
  content: "\e012";
}
.ico-phone:before {
  content: "\e013";
}
.ico-marker:before {
  content: "\e014";
}
.ico-mail:before {
  content: "\e015";
}
.ico-logout:before {
  content: "\e016";
}
.ico-login:before {
  content: "\e017";
}
.ico-lock:before {
  content: "\e018";
}
.ico-location:before {
  content: "\e019";
}
.ico-linkedin:before {
  content: "\e01a";
}
.ico-instagram:before {
  content: "\e01b";
}
.ico-edit:before {
  content: "\e01c";
}
.ico-drawer:before {
  content: "\e01d";
}
.ico-dashboard:before {
  content: "\e01e";
}
.ico-crosshairs:before {
  content: "\e01f";
}
.ico-close:before {
  content: "\e020";
}
.ico-clock:before {
  content: "\e021";
}
.ico-calender:before {
  content: "\e022";
}
.ico-add-location:before {
  content: "\e023";
}
.ico-manage-guests:before {
  content: "\e024";
}
.ico-link:before {
  content: "\e025";
}
.ico-app-store:before {
  content: "\e026";
}
.ico-credit-card:before {
  content: "\e027";
}
.ico-trash:before {
  content: "\e028";
}
.ico-settings:before {
  content: "\e029";
}
.ico-upload-photos:before {
  content: "\e02a";
}
.ico-desk:before {
  content: "\e02b";
}
.ico-add-desk:before {
  content: "\e02c";
}
.ico-save:before {
  content: "\e02d";
}
.ico-trash-open:before {
  content: "\e02e";
}
.ico-profile:before {
  content: "\e02f";
}
.ico-warning:before {
  content: "\e030";
}
.ico-chevron-up:before {
  content: "\e031";
}
.ico-chevron-right:before {
  content: "\e032";
}
.ico-chevron-down:before {
  content: "\e033";
}
.ico-chevron-left:before {
  content: "\e034";
}