
@import "compass/typography/vertical_rhythm";
@import "compass/css3/font-face";

@include font-face('Futura-regular', 
  font-files(
    'futura-regular-web.woff', woff,
    'futura-regular-web.ttf', ttf,
    'futura-regular-web.svg', svg),
    'futura-regular-web.eot');

@include font-face('Futura-medium', 
  font-files(
    'futura-medium-web.woff', woff,
    'futura-medium-web.ttf', ttf,
    'futura-medium-web.svg', svg),
    'futura-medium-web.eot');

@include font-face('Futura-demi', 
  font-files(
    'futura-demi-web.woff', woff,
    'futura-demi-web.ttf', ttf,
    'futura-demi-web.svg', svg),
    'futura-demi-web.eot');

@include font-face('Futura-heavy', 
  font-files(
    'futura-heavy-web.woff', woff,
    'futura-heavy-web.ttf', ttf,
    'futura-heavy-web.svg', svg),
    'futura-heavy-web.eot');

$base-font-size: 18px;
$base-line-height: 28px;
$round-to-nearest-half-line: true;
@include establish-baseline;

body, 
input, 
textarea, 
select,
p {
  font:400 18px/28px $font-regular, sans-serif;
  color: $gray120;

  @media (max-width: 480px) {
    @include adjust-font-size-to(16px);
  }
}

h1,
h1 a, 
h2,
h2 a, 
h3,
h3 a, 
h4,
h4 a, 
h5,
h5 a {
  color: $gray80;
  font-family: $font-medium, sans-serif;
  font-weight: normal;

  &:hover {
    color: $gray80;
  }
}

h1 {
  margin-bottom: 20px;
  @include adjust-font-size-to(32px);

  @media (max-width: 480px) {
    @include adjust-font-size-to(24px);
  }  
}

h2 {
  @include adjust-font-size-to(24px);

  @media (max-width: 480px) {
    @include adjust-font-size-to(20px);
  }  
}

h3 {
  @include adjust-font-size-to(20px);
}

h4 {
  @include adjust-font-size-to(18px);
}

p {
  margin-bottom: 20px;
}

strong {
  font-family: $font-bold, sans-serif;
  font-weight: normal;
}

address {
  @include adjust-font-size-to(14px);

  .ico-marker {
    @include opacity(.7);
  }
}

// pnotice added for IE8 which does not display "reset password" link in modal when p element is used, it works for div though

p.notice, 
div.pnotice {
  margin: .5em 0;
  color: gray2;
  font-weight: 600px;
  font-size: 12px;
  filter: inherit;
  @include opacity(.7);
  @include transition(all .1s ease-in);

  &:hover {
    @include opacity(1);
    filter: inherit;
  } 
} 
