%tr
  %td= faq.question
  %td
    .pull-right
      = link_to [:edit, :instance_admin, faq] do
        .fa.fa-pencil.fa-2x.inline-form-icon
        
      = link_to [:instance_admin, faq], method: :delete,
          data: { confirm: t('confirmations.are_you_sure_you_want_to_delete_this_item') } do
        .fa.fa-trash-o.fa-2x.inline-form-icon
