.content-container
  %h4
    = t('instance_admin.manage.faq.faq')
  .row
    .table-container.col-xs-12
      %table#faqs.table.sortable
        %thead
          %tr
            %th= t('instance_admin.manage.faq.name')
            %th
        %tbody
          = render partial: 'faq', collection: @faqs
  .row
    .text-container.col-xs-12
      = link_to t('instance_admin.manage.faq.add_question'), new_instance_admin_support_faq_path, class: 'btn btn-blue pull-right'

- content_for :domready do
  $(function() { new InstanceAdmin.FaqsController($('table#faqs')); });
