<div class="incomplete-profile">
  <figure class="avatar">
    <img src="{{user.avatar_url_big}}" alt="{{ user.name }}">
  </figure>
  <h1>This profile is not finished!</h1>
  <p>It looks like this vendor hasn’t updated their profile yet. Come back later to find out more about <strong>{{ user.name }}.</strong></p>
</div>
