<section class="testimonials-a">
  <h3>Testimonials</h3>

  <div class="items">
    <blockquote class="home-grid-item">
      <p>“Aliquam vicis et ad enim utinam ad. Modo facilisi capto mara. Iustum macto singularis feugait vel plaga damnum feugait consequat eum lobortis.”</p>
      <footer>
        <cite>Juan J.</cite>
      </footer>
    </blockquote>

    <blockquote class="home-grid-item">
      <p>“Aliquam vicis et ad enim utinam ad. Modo facilisi capto mara. Iustum macto singularis feugait vel plaga damnum feugait consequat eum lobortis.”</p>
      <footer>
        <cite>Rosa Z.</cite>
      </footer>
    </blockquote>

    <blockquote class="home-grid-item">
      <p>“Aliquam vicis et ad enim utinam ad. Modo facilisi capto mara. Iustum macto singularis feugait vel plaga damnum feugait consequat eum lobortis.”</p>
      <footer>
        <cite>Carlos M.</cite>
      </footer>
    </blockquote>
  </div>
</section>
