<p class="checkbox-a {% if error != blank %}error{% endif %}">
    <input type="checkbox" name="user[accept_terms_of_service]" id="user_accept_terms_of_service" value="1" class="input-block-level" tabindex="4" {%if params.user.accept_terms_of_service %}checked="checked"{%endif%}>
  <label for="user_accept_terms_of_service">
    I accept the <a href="/terms-of-use" target="_blank">Terms of Use</a> and <a href="/privacy-policy" target="_blank">Privacy Policy</a>
  </label>
</p>
{% if error != blank %}
  <p class="error-block">
    {{ error }}
  </p>
{% endif %}
