{{ platform_context.set_blank_theme_name }}
{% assign title = platform_context.name | append: ' - ' | append: user.name %}
{% title title %}

<main id="main" class="registrations-show">
  {% if user.has_buyer_profile? == false %}
    <div class="back-to-search-results">
      <a href="/">Back to home page</a>
    </div>
    {% include "registrations/purchaser_profile", user: user %}
  {% else %}

    <div class="back-to-search-results">
      <a data-back-to-search-results-link href="/search">Back to search results</a>
    </div>

    {% if user.buyer_properties.company_name == blank %}
      {% include "registrations/incomplete_profile", user: user %}
    {% else %}
      {% include "registrations/vendor_profile", user: user %}
    {% endif %}

  {% endif %}
</main>
