/*!
 * Spacing
/* ---------------------------------------- */

._mYa {
    margin-bottom: 80px !important;
    margin-top: 80px !important;
}

._mYb {
    margin-bottom: 40px !important;
    margin-top: 40px !important;
}

._mBa {
    margin-bottom: 80px !important;
}

._mBb {
    margin-bottom: 40px !important;
}

._mTa {
    margin-top: 80px !important;
}

._mTb {
    margin-top: 40px !important;
}

@include bp($screen-tablet) {

    ._mYa {
        margin-bottom: 40px !important;
        margin-top: 40px !important;
    }

    ._mYb {
        margin-bottom: 25px !important;
        margin-top: 25px !important;
    }

    ._mBa {
        margin-bottom: 40px !important;
    }

    ._mBb {
        margin-bottom: 25px !important;
    }

    ._mTa {
        margin-top: 40px !important;
    }

    ._mTb {
        margin-top: 25px !important;
    }
}

@include bp($screen-mobile) {

    ._mYa {
        margin-bottom: 25px !important;
        margin-top: 25px !important;
    }

    ._mBa {
        margin-bottom: 25px !important;
    }

    ._mTa {
        margin-top: 25px !important;
    }
}
