- title "Reset Password"

.sign-up
  .container-fluid
    .row-fluid
      .span8.offset2
        .box
          %h2== Reset Your Password
          %p.intro
            Fill in your email below and we'll send you instructions to reset your password.

          = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { class: "form-horizontal" }) do |f|
            = f.input :email

            .actions
              = f.submit "Reset Password"


