<p style="text-align: center;">
<a href="{{ platform_context.host | append:listing.facebook_social_share_url }}" class="padding-right"><img alt="facebook" border="0" src="https://d2rw3as29v290b.cloudfront.net/mailers/facebook.png" /></a>

<a href="{{ platform_context.host | append:listing.twitter_social_share_url }}" class="padding-right"><img alt="twitter" border="0" src="https://d2rw3as29v290b.cloudfront.net/mailers/twitter.png" /></a>

<a href="{{ platform_context.host | append:listing.linkedin_social_share_url }}"><img alt="linkedin" border="0" src="https://d2rw3as29v290b.cloudfront.net/mailers/linkedin.png" /></a>
</p>
