<p>Dear <%= @user %>,</p>

<p><%= @reserver %> has made a reservation for listing, <%= @listing %>. The specifics of this reservation are set out below.</p>

<p><%= render :partial => "shared/mailers/booking_details", :locals => { :listing => @listing, :reservation => @reservation } %></p>
