<p>Dear <%= @user %>,</p>

<p>We'd like you to know that your request to reserve <%= @listing.name %> has been submitted. Bookings at this workspace require confirmation from the host. Most of our hosts respond within 5 hours but they have 24 hours to do so. Here is your reservation request for your files:</p>

<%= render :partial => "shared/mailers/booking_details", :locals => { :listing => @listing, :reservation => @reservation } %>

<p>You can see all of your <%= link_to 'travel plans', bookings_dashboard_url %> here and change them too.</p>
