<h2>Change of plans, {{ user.first_name }}!</h2>

<p>The booking for '<a href="{{ listing.listing_url }}">{{ listing.name }}</a>' at {{ listing.street }} has been cancelled by the guest.</p>

<p>No worries! We are working hard to send more guests your way.</p>

<p>As a reminder, listings shared online are getting rented faster than the ones who don't!</p>

<p>Let the world know about your listing!</p>

{% include 'reservation_mailer/social_links.html' %}

<p>We're always happy to help! Just send an email to <a href="mailto:happydesk@desksnear.me">happydesk@desksnear.me</a> or call us on 555-888-DESK (3375).</p>
