<p>Dear <%= @user %>,</p>

<p>Unfortunately, your reservation at <%= @listing %> on <%= l(@reservation.date, :format => :long) %>
has been cancelled. This reservation was previously confirmed, but the plans have changed.</p>

<p>Good luck finding another listing or reservation for this one on another day :)</p>


