<p>Dear <%= @user %>,</p>

<p>Unfortunately, your reservation at <%= @listing %> on <%= l(@reservation.date, :format => :long) %>
has been rejected.</p>

<p>I'm sure it's not personal -- they were probably just too busy that day :)</p>
