<p>Dear <%= @user %>,</p>

<p>Unfortunately, your reservation at <%= @listing %> has been rejected.</p>

<p><%= render :partial => "shared/mailers/booking_details", :locals => { :listing => @listing, :reservation => @reservation } %></p>	

<p>I'm sure it's not personal -- they were probably just too busy that day :)</p>

<p>Try again for another day here: (link to space page)</p>
