<p>Dear <%= @user %>,</p>

<p>Unfortunately, your booking at <%= @listing %> has been cancelled.</p>

<p><%= render :partial => "shared/mailers/booking_details", :locals => { :listing => @listing, :reservation => @reservation } %></p>

<p>This booking was previously confirmed, but the plans have changed. I’m sure it’s nothing personal. Good luck finding another workplace or booking for this one on another day :)</p>  
<p><a href="http://desksnear.me/search">Search for another space</a></p>


