= simple_form_for [:blog_admin, @blog_post], :html => { :multipart => true } do |f|
  = render 'blog/admin/blog_posts/blog_form', f: f

- content_for :script do
  :javascript
    $(function() {
      new BlogPostsForm($('.simple_form'));
    });
