<div>
  <h1>About myCSN</h1>
  
  <h2>Care Support Network (myCSN) is an online marketplace where older Australians and people with   disability can connect directly with trusted CareSupport Providers.</h2>
  <h2>It’s a simple, flexible and transparent way that brings choice, freedom and quality of life for both recipients and CareSupport Providers.</h2>

  <h3>We’re a Reliable Provider</h3>
  <p>As the only online marketplace registered with the NDIA and MyAgedCare, you can confidently access a diverse community of CareSupport Providers who deliver great service, time and again.  We are transparent with profiles and pricing so you know what to expect.</p>

  <h3>We’re a Choice Curator</h3>
  <p>There is a range of quality, trusted carers so you can handpick the person and service that best meets your specific needs.</p>

  <h3>We’re a Trusted Advisor</h3>
  <p>We have extensive experience in disability and aged care in Australia, having been serving in both communities for nearly two decades. We have our finger on the pulse so you can rely on us for the latest information and insights.</p>

  <h3>We’re a Community Connector</h3>
  <p>Each of you bring unique life experience and expertise: let’s share openly with one another so we can all benefit!</p>

  <h2>The Journey So Far...</h2>
  <div>
    <p>Australia is undergoing one of the greatest social reforms since Medicare came into effect in   1984. In the past, older Australians and people with disability seeking personal care support at   home had very little choice or control. Over time, the aged care and disability support systems h  ave   become complex, costly, unwieldy and inflexible – often making life extra difficult for people   attempting to navigate it all.</p>  
    <p>For the first time, we are seei  ng the opportunity for revolutionary change, thanks to the   introduction of Consumer Directed   Care (CDC) and the National Disability Insurance Scheme (ND  IS).</p>
    <p>Care Support Network (myCSN) is   part of this revolution. For a collective 30 years, founde  rs Rob   Evers and Irena Gelman have both b  een actively involved in Australia’s aged care and disabili  ty   support sectors. </p>  
    <p>We know from real-  life experience that a simple ‘tweaking’ of current services simply won’t solve   the challenges. An en  tirely fresh approach is desperately needed.</p>  
    <p>We imagine a new w  orld that combines the power of cutting-edge technology and authentic   community. Care Support Network makes that new world a reality via a secure online environment   connecting customers directly with trusted CareSupport Providers. </p>
  </div>



  <h2>myCSN brings freedom</h2>

  <h3>For Customers</h3>
  <p>Find CareSupport Providers who meet your specific needs.</p>
  <p>ALL CareSupport Providers have been through a stringent checking and validation process.</p>
  <p>Find valuable knowledge and relevant information, source additional services and connect with like-minded people.</p>  

  <h3>For CareSupport Providers</h3>
  <p>Control your own work life and balance it with family and personal life. Work when you want to, and with whom you want. </p>
  <p>Access independent comprehensive insurance cover,  professional development, financial and tax advice.</p>

  <h3>For Service Providers</h3>
  <p>Opportunity for traditional service providers to extend into the online service revolution. </p>
  <p>Partner with myCSN to offer a greater degree of flexibility to your customers at a much lower cost.</p>




</div>