<div>
  <h1>Vision, Purpose &amp; Values</h1>

  <h2>Our Vision</h2>
  <p>Older Australians and people with disability are enabled to lead full lives, connected to a supporting community where they can access the care, support and services that they want in a safe online environment.</p>

  <h2>Our Purpose</h2>
  <p>To create and maintain an online community and marketplace with greater choice and transparency for customers (older people and people with disability) as well as personal carers (CareSupport Providers).</p>
  <p>We enable people to feel connected, to control the choice of carers and type of care and support services that they receive.</p>
  <p>We equip personal CareSupport Providers with greater flexibility, work diversity, community and independence.</p>

  <h2>Our Values</h2>
  <ul>
    <li>Empowerment</li>
    <li>Simplicity</li>
    <li>Flexibility</li>
    <li>Collaboration</li>
  </ul>


</div>