<div>

  <h1>Our People</h1>

  <div>
    <div><img src="" /></div>
    <div>
      <h2>Rob Evers</h2>
      <h3>Founder and Managing Director</h3>
    </div>
  </div>
  <p>Rob is a co-founder and Managing Director of Care Support Network. He has been in leadership positions (CEO/Director) of aged care and disability organisations – both for profit and not for profit – since 2002. Prior, Rob was General Manager Australia for MYOB Limited, which grew four-fold under his leadership in 2000.</p>

  <div>
    <div><img src="" /></div>
    <div>
      <h2>Irena Gelman</h2>
      <h3>Founder and Chief Operating Officer</h3>
    </div>
  </div>
  <p>Irena has been providing HR consulting and advisory services since 2002 after an eight-year role with Westpac. Irena understands how to create an environment that attracts and retains staff and she has experienced first-hand the staffing challenges of the aged care and disability services sectors.</p>

  <div>
    <div><img src="" /></div>
    <div>
      <h2>Jessica Moodie</h2>
      <h3>Administrative Support</h3>
    </div>
  </div>
  <p>Jess has previously worked for an aged care provider, providing administrative support in both a residential facility and the central office. This background has given her a deep understanding of the need for older Australians` to be treated with the greatest dignity and for them to have choice and control over who cares for them.</p>

</div>