<div class="wrapper-a">
  <div class="choose-role">
    <h2>TELL US WHO YOU ARE</h2>

    <div class="signup-options">
      <div class="signup-option">
        <p>I am a client who is looking for a provider to take care of me.</p>
        <p><a href="/dashboard/edit_profile?role=buyer" class="button-a">Continue as a client</a></p>
      </div>

      <div class="signup-option">
        <p>I am an provider that offers my services to others.</p>
        <p><a href="/dashboard/edit_profile?role=seller" class="button-a">Continue as a provider</a></p>
      </div>
    </div>
  </div>
</div>
