<div class="wrapper-a">
  <div class="choose-role">
    <h2>TELL US WHO YOU ARE</h2>

    <div class="signup-options">
      <div class="signup-option">
        <p>I am a client who is looking for a care provider to take care of me.</p>
        <p><a href="/dashboard/consumer/general" class="button-a">I want to register as consumer</a></p>
      </div>

      <div class="signup-option">
        <p>I am a care provider who offers services to others.</p>
        <p><a href="/dashboard/carer/general" class="button-a">I want to register as care provider</a></p>
      </div>
    </div>
  </div>
</div>
