---
name: Lister Web Profile
slug: dashboard/carer/web-profile
layout_name: dashboard
---
<h1>Manage your profile</h1>
<div class="panel">
  <div class="panel-body">
    {% include 'shared/carer_navigation', active: 'web-profile' %}

    <div class='form-component-wrapper form-component-default'>
      {% assign current_user_id = current_user.id %}
      {% render_form lister_web_profile, object_class: User, object_id: @current_user_id %}
    </div>
  </div>
</div>
