---
name: Lister Formal Training
slug: dashboard/carer/formal-training
layout_name: dashboard
---
<h1>Manage your profile</h1>
<div class="panel">
  <div class="panel-body">
    {% include 'shared/carer_navigation', active: 'formal-training' %}

    <div class='form-component-wrapper form-component-default'>
      {% assign current_user_id = current_user.id %}
    </div>
  </div>
</div>
