---
name: Privacy Policy
---

<div class="container_main pages-privacy_policy">
  <h1>Privacy Policy</h1>

  <p class="text-right">Last Updated: 20 December 2016</p>

  <p>This privacy policy sets out how LocalDriva uses and protects any personal information that you provide us. We are committed to ensuring that your privacy is respected and protected. All information you provide to us will be used in accordance with this privacy statement.</p>

  <p>While, we take our best measures to safeguard the confidentiality of your personal information, such as limiting access to of such information to employees or contractors who reasonably need such information in order to provide services to you, please be aware that no measures are perfect or impenetrable.<br/>
  If you use the LocalDriva Platform, you consent to our collection of personal information in accordance withy this Privacy Policy.</p>

  <p>Examples of information that is subject to our Privacy Policy (collectively, <strong>“Information”</strong>), may include the following:</p>

  <p><strong>Personal Information</strong> - Personally identifying information that you send or receive when registering for or using the LocalDriva Platform, including, but not limited to, information such as you (or your fellow User’s) name, emails, addresses, websites, telephone numbers, payment details and photographs.</p>

  <p>We may also retain personal information if you provide it to us via e-mail or other means, i.e. when you send us comments, questions or suggestions. We may automatically retain certain types of information you use the LocalDriva Platform such as your IP address and the type of browser or operating system you use (<strong>“Log Data”</strong>). We use Log Data to monitor the use of the Platform and for technical administration.</p>

  <p><strong>Usage Data</strong> - Data collected anonymously and may include without limitation, all connection and service-related data submitted through your use of the LocalDriva platform relating to the connection request, server communication and data sharing, including network measurements, quality of service, date, time and location, not including Personal Information.</p>

  <p>Aggregate Information - Data collected about a group or category of services or Users from which individual User identities have been removed, to help us understand Users trends  in order that we can improve our services. We may share aggregate information about our Users with third parties for various purposes, including helping us better understand and improve our services, and for advertising and marketing purposes.</p>

  <p><strong>Information Usage</strong> - We may use Information for our own internal purposes, such as to estimate our user base, measure aggregate traffic patterns as well as to understand demographic, customer interest, and other trends among our Users.</p>
  <p>We may also engage certain trusted third parties to perform functions and provide services to us, including, without limitation, hosting and maintenance, customer relationship, database storage and management, and direct marketing campaigns. We may share Information with these third parties, but only to the extent necessary or useful to perform the functions required and, and only pursuant to binding contractual obligations requiring such third parties to maintain the privacy and security of your data.</p>

  <p>Information may be disclosed as part of any takeover, merger or acquisition, listing, corporate restructuring, or sale or pledge of company assets as well as in the event of an insolvency, bankruptcy or receivership in which Information may be transferred as one of the business assets of the company.</p>
  For marketing purposes we will not disclose your Personal Information (other than Aggregate Information) to third parties for the third parties’ direct marketing purposes, unless you first affirmatively agree to such disclosure.</p>

  <p>We may combine information about you that we have with information we obtain from business partners or other companies, in order to (for example) conduct marketing analysis and provide personalised services or to anticipate and resolve problems, to respond to customer support inquiries, and to create and inform you of new products and services from us that may better meet your needs. By requesting a service or clicking on an ad, you give consent for us or our marketing partners to communicate with you at any of the contact points you provide to us for any of the aforementioned purposes.</p>

  <p>We do not rent, sell, or share Personal Information about you with other people or non-affiliated companies except to provide products or services you’ve requested, when we have your permission, or under the following circumstances: (i) as may be necessary to perform internal analyses and business functions; (ii) as part of a business transfer; or (iii) when required by law or permitted to protect our rights, property, or safety.</p>
  We may display targeted advertisements based on Personal Information. However, we do not provide any Personal Information to the advertiser when you interact with or view a targeted ad. However, by interacting with or viewing an ad you are consenting to the possibility that the advertiser will assume that you meet the targeting criteria used to display the ad.</p>

  <p>Where required or ordered by the relevant authorities, we may release your Personal Information in the good faith belief that release is appropriate and necessary to comply with legal process or authority (e.g., a lawful subpoena, warrant or court order); to protect our rights, property, or personal safety, our Users, our employees, or the public; or if we reasonably believe that an emergency involving immediate danger of death or serious physical injury to any person requires disclosure of communications or justifies disclosure of records without delay. This may include sharing information with other companies, lawyers, courts or other government entities.</p>

  <p>We may disclose information pursuant to subpoenas, court orders, or other requests (including criminal and civil matters) if we have a good faith belief that the response is required by law. This may include respecting requests from jurisdictions outside of where we have a good faith belief that the response is required by law under the local laws in that jurisdiction, apply to Users from that jurisdiction, and are consistent with generally accepted international standards.</p>

  <p><strong>Third-Party Sites</strong> - LocalDriva may access third party information (such as your Twitter, Instagram or Facebook account information) through application interfaces. Please be aware that we may provide links to such third-party Web sites as a service to our Users. When you click on links of third parties on the Platform, you may be directed to another website or application. Some of these third party sites may be co-branded with our name/logo or our affiliated entity’s name/logo, even though they are not operated or maintained by us. We are not responsible for the privacy practices of websites operated by third parties that are linked to the Platform or for the privacy practices of third parties. You are solely responsible for reading and accepting their privacy and related policies.</p>

  <p><strong>Managing your Personal Information</strong> - We will not sell, distribute or lease your personal information to third parties unless we have your express permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we believe that you may be interested in, if you inform us that you do not object to this.</p>

  <p>You may request details of personal information which we hold about you. A small fee may be payable. If you would like a copy of the information held, you may contact <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a>.</p>
  If you believe that any information we are holding on you is incorrect or incomplete, please contact us at the above address. We will promptly correct any information found to be incorrect.</p>

  <p><strong>Responsibility</strong> - We are not responsible for third party circumvention of our security measures. You can reduce these risks by using common sense security practices such as refraining from sharing your information with other people.</p>
</div>
