{% content_for 'hero' %}
  <img src="shutterstock_228839311.jpg" alt="Page header" />
{% endcontent_for %}

<h2>Disability Support</h2>

<h3>The National Disability Insurance Scheme (NDIS)</h3>
<p>With the formal introduction of the NDIS on 1 July 2016, the federal and state governments have allowed people with disability to have choice and control over the supports that they need and from where they can access those supports.</p>

<p>By the time the NDIS is fully rolled out by 30 June 2019, it is estimated that there will be 460,000 participants in the scheme nationally. The scheme is being managed by the National Disability Insurance Agency (NDIA).</p>
<p>Further information about the NDIS can be accessed <a href="https://www.ndis.gov.au/html/sites/default/files/documents/About-us/About-theNDIS.pdf">here</a>.</p>
<p>To find out how to register with the NDIA, <a href="https://www.ndis.gov.au/ndis-access-checklist.html">click here</a>.</p>
<p>The role of the NDIA is to be both the ‘price setter’ of each of the services listed by them (which can be accessed <a href="https://www.ndis.gov.au/participants/reasonable-and-necessary-supports.html">here</a>) as well as to safeguard the quality of services provided to participants. You can access the NDIA’s Quality &amp; Safeguarding Framework <a href="https://www.ndis.gov.au/participants/safeguards.html">here</a>.</p>

<h3>What does the NDIS mean for me?</h3>
<p>If you qualify and are registered with the NDIA as a participant, you will have a plan developed, with your input, to determine your support needs and the amount of funding that you will receive to acquire those supports. You can either manage your funding package yourself OR have it managed by an independent plan manager OR appoint the NDIA to manage it on your behalf.</p>
<p>In either case, the value of your funding package will be broken down into the sections (or categories of service) that the NDIA have developed and you will be expected to spend the funds on the services that you determined you needed, within the funding allocated to each category. The 15 categories of services determined by the NDIA can be found in our search criteria on the left hand side of the screen. </p>
<p>In the event that your funding package is managed by the NDIA, the support services that you choose will need to be provided by service providers that are registered with the NDIA.</p>
<p>If your plan and funding package is managed independently of the NDIA, or by yourself, you will be able to acquire services from any service provider, regardless of whether or not they are registered with the NDIA. This gives you total control and choice over who provides your services and support.</p>

<h3>Can I utilise myCSN if I am registered with the NDIS?</h3>
<p>If you manage your plan yourself, or you choose to have it managed independently of the NDIA, you will most certainly be able to use <span><strong>myCSN</strong></span>. For more information <a href="https://www.ndis.gov.au/participant/self-managing-budgets/engaging-your-own-staff.html">click here</a></p>
<p>Choosing <span><strong>myCSN</strong></span> will give you the opportunity to match the qualifications, skills and attributes of a Carer with your own specific requirements. Obviously, qualifications and experience are important and they should be relevant to the services being provided. Individual Carers registered on <span><strong>myCSN</strong></span> will list attributes such as gender, language(s) spoken, cultural background, pet friendly, smoker friendly, having a vehicle, personal interests, being LGBT sensitive – any or all of which may be important to you as you seek to match the best Carer you can find to your specific requirements.</p>
<p><span><strong>myCSN</strong></span> is in the process of seeking registration as an approved service provider with the NDIA. We have developed payment systems that will link directly to the NDIA payment portal, ensuring a fast and reliable payment process.  </p>

<h3>Can I buy services on myCSN if I am <em>not</em> registered with the NDIS?</h3>
<p>Yes, most certainly! Because you are not reliant on NDIS funding, you are able to buy the services that you want, from whomever you want. <span><strong>myCSN</strong></span> enables both existing Service Providers and Individual Carers to register on our site, so you have total flexibility – choose a provider that you may be familiar with OR choose an Individual Carer – either way, you are in total control!</p>

<h3>What support services are available from the myCSN site?</h3>
<p>When it comes to support, there is not &#39;one size fits all&#39;.</p>
<p>That’s why Service Providers and Individual Carers registered with <span><strong>myCSN</strong></span> offer a diverse range of support services for adults and children with disability, including:</p>

<img src="Disability.png" />

<p><strong>Personal Support</strong></p>
<ul>
  <li>Help at home with cleaning, yard maintenance</li>
  <li>Meal preparation and mealtime assistance</li>
  <li>Personal medication management</li>
  <li>Personal care – toileting, showering / bathing, dressing and grooming</li>
</ul>
<p><strong>Lifestyle Support</strong></p>
<ul>
  <li>Support to get out and about in the community – appointments, social activities, special interests</li>
  <li>Transport to school, work, training</li>
  <li>Support for group activities, special interest activities</li>
</ul>
<p><strong>Independent Living</strong></p>
<ul>
  <li>Assistance with morning and / or evening routines</li>
  <li>Support to get to your destination</li>
</ul>
<p><strong>Therapy Support</strong></p>
<ul>
  <li>Support with planning for various therapies</li>
  <li>Support for complex needs</li>
  <li>Tailored therapies</li>
</ul>

<hr/>

<p><strong>Signing up to <span>myCSN</span> is free</strong> and gets you on the way to exercising total choice and control over your support needs</p>

<!-- sign up button -->