{% content_for 'hero' %}
  <img src="shutterstock_61894678.jpg" alt="Page header" />
{% endcontent_for %}

<h2>Aged Care at Home</h2>

<p><span><strong>myCSN</strong></span> – a single place to find a range of care options through local Service Providers and Individual Carers.<br/>
With <span><strong>myCSN</strong></span> you can diversify the type and range of services available to older Australians who want to live at home.</p>

<!-- sign up button -->

<hr/>

<h3>Take control of your care, from a range of services including:</h3>

<img src="AgedCare.png" />

<p><strong>Nursing Care</strong></p>
<ul>
  <li>Management of medications</li>
  <li>Wound care</li>
  <li>Continence management</li>
  <li>Catheter use</li>
  <li>Post-Operative Care</li>
</ul>
<p><strong>Personal Care</strong></p>
<ul>
  <li>Assistance with showering / bathing</li>
  <li>Dressing and grooming</li>
  <li>Toileting</li>
  <li>Mobility</li>
  <li>Minor medication management</li>
</ul>
<p><strong>Social Support</strong></p>
<ul>
  <li>Companionship</li>
  <li>Social outings and activities</li>
  <li>Exploring interests</li>
</ul>
<p><strong>Community Access</strong></p>
<ul>
  <li>Transport to appointments</li>
  <li>Transport to other social activities</li>
  <li>Shopping</li>
</ul>



<h3>Can I use myCSN if I don’t have a Home Care Package?</h3>
<p>Certainly! Older people who are not in receipt of a funded Home Care Package will easily find a range of services and Carers on the <span><strong>myCSN</strong></span> web site.  It’s an easy, safe and transparent way to engage the Carer who meets your specific requirements and who are happy to work with you.</p>

<h3></h3>
<p>As from 27<sup>th</sup> February 2017, older people who were <em>already receiving</em> Aged Care at Home from an approved service provider via a funded Home Care Package, are now able to exercise <strong>choice</strong> over how their care may be provided under the new legislated changes to the Aged Care Act.</p>
<p>If that is you, you may:</p>
<ul>
  <li>Continue to receive care and support from your existing provider, who will also manage your Home Care Package; or</li>
  <li>Continue to have the Home Care Package <strong>managed</strong> by your existing provider whilst exercising control over which services you wish to receive and by whom; or</li>
  <li>Utilise the services of an independent adviser to manage your Home Care Package, and determine which services you wish to receive and by whom.</li>
</ul>
<p>In the case of having your Home Care Package managed by your existing provider, but exercising control over the services, <span><strong>myCSN</strong></span> makes it very easy for you and your service provider to find and choose the services you want and provides the platform for you to choose the Carer that meets your requirements. Remember – you are in control!</p>
<p>The same applies if you are having your Home Care Package managed by an independent adviser.</p>
<p>You can choose your Carer by filtering a range of options including gender, qualifications and experience, specific skills as well as other attributes such as language(s) spoken, ability to travel, pet friendly, smoker etc. Then simply select and book the suitable Carer from the filtered list. The choice is totally in your hands!  </p>
<p><span><strong>myCSN’s</strong></span> easy to use booking and payment system simplifies the whole process of choosing your own Carer and booking them for when you want them.</p>
<p>For more information on Home Care packages and eligibility <a href="http://www.myagedcare.gov.au/help-home">click here</a>.</p>

<h3>Is it safe?</h3>
<p>You will have peace of mind knowing that all Carers registered with <span><strong>myCSN</strong></span> are appropriately skilled and qualified to deliver the services that they are offering; have been scrutinised to ensure that they meet all the mandatory requirements for providing Care; and their attributes have been validated by <span><strong>myCSN</strong></span>.</p>
<p>Ultimately, you have the choice of who you select to care for you. You will review their ratings and provide your rating following each service.  Our public 5-star rating system provides total transparency and rating of each person listed on our site.</p>
<p><span><strong>myCSN</strong></span> – <strong>putting choice and control in your hands</strong>.</p>

<hr/>

<p><strong>Signing up to <span>myCSN</span> is free</strong> and gets you on the way to exercising total choice and control over your support needs</p>

<!-- sign up button -->