- if payment_documents.not_uploaded_by(current_user.id).exists?
  %h3= t('dashboard.payment_documents.files_sent_to_me')
  %ul.payment-documents
  - payment_documents.not_uploaded_by(current_user.id).each do |pd|
    %li
      = link_to pd.decorate.document_info_label, pd.file.url, download: pd.file.file_name

- if payment_documents.uploaded_by(current_user.id).exists?
  %h3= t('dashboard.payment_documents.files_sent_by_me')
  %ul.payment-documents
  - payment_documents.uploaded_by(current_user.id).each do |pd|
    %li
      = link_to pd.decorate.document_info_label, pd.file.url, download: pd.file.file_name
