- title(params[:controller].include?('received') ? t('orders.title.orders_received') : t('orders.title.my_orders'))

- content_for :page_header do
  %h1= yield :title

.panel
  .panel-body
    - if @orders.empty?
      %p.empty-resultset= t 'orders.empty_list'
    - else
      .orders-a
        = render partial: 'dashboard/orders/order', collection: @orders

= will_paginate_dashboard(@orders)
