---
name: About
---

<div class="container_main pages-about">
  <h1>About</h1>

  <p>LocalDriva is an exciting new rideshare platform connecting travelers across the globe with affordable local driver and guides. LocalDriva gives you the convenience and comfort of having a personal driver and local guide on your next trip, at very affordable rates.</p>

 <p>There’s no more need to join large impersonal tour groups or pay huge amounts for custom guides when a friendly LocalDriva driver guide can show you around their city.</p>

  <p>Create your own fully customized journey using our local knowledge or choose one of our set itineraries according to your interests. Either way, sit back and relax while you are driven to the destinations of your choice in the comfort of a private car. No crowds. No waiting for transport. No travelling on someone else’s schedule. Let LocalDriva show you the best places to go on your terms.</p>

  <p>All drivers guides are reviewed by their passengers, so you can view driver reviews on their profile and feel confident about the level of service you will receive. All driver guides undergo a thorough approval process (including criminal background check, driving history, government registration, etc.) to ensure that our community remains a trusted and safe platform that travelers all over the world turn to when planning their overseas trip.</p>

  <p>Give LocalDriva a try and create unique local memories on your next trip!</p>

  <h2>How does LocalDriva Work?</h2>

  <p>It’s very easy to book a driver guide with LocalDriva for your next trip. Simply input your travel destination and dates into the LocalDriva website to view profiles of available drivers. We are currently only available in Sydney, but will soon be expanding to other Australian cities and then major travel destination globally.</p>

  <p>Once you have identified a driver or drivers you would like to book, send a private message via the website filling out the relevant information, such as your categories interests (e.g. beaches, food, historical sites….), number of passengers, number of hours you would like to make a booking for, etc. Once you and the driver agree on the booking details, you will receive a written confirmation together with payment instructions. Make your payment online, and you are now set for a convenient and local travel experience!</p>

  <p>Bookings are made on an hourly basis and hourly rates are standard and set at a low rate of <strong>AU$42 an hour</strong> (approximately US$30/ GBP24/ EUR29), so you can do much for more much less.</p>

  <p>Using Sydney as an example, the following give you an idea of how much you will save using LocalDriva*:</p>

  <p>For an approximately <strong>25 minute</strong> ride from Sydney CBD to the beautiful Bondi Beach (without Uber surge pricing) -</p>

  <table class="table">
    <thead>
      <tr>
        <th><strong>UberX</strong></th>
        <th><strong>Uber Black</strong></th>
        <th><strong>Regular Taxi</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>AU$24</strong></td>
        <td>AU$58</td>
        <td>AU$37</td>
      </tr>
    </tbody>
  </table>

  <p>A 45-50 minute trip from the CBD to the suburb of Cabramatta for an outstanding Asian meal (without Uber surge pricing) - </p>

  <table class="table">
    <thead>
      <tr>
        <th><strong>UberX</strong></th>
        <th><strong>Uber Black</strong></th>
        <th><strong>Regular Taxi</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>AU$86</td>
        <td>AU$186</td>
        <td>AU$108</td>
      </tr>
    </tbody>
  </table>

  <p><strong>With LocalDriva Standard, you pay only AU$42 for a <u>whole hour</u> of chauffeured driving and guide services!</strong></p>

  <p><small><em>*  Estimates based on <a href="https://ride.guru/" target="_blank">https://ride.guru/</a></em></small></p>

  <p>Have a look at some of the popular Sydney-based tour guide services*, which are priced as follows</p>

  <table class="table">
    <thead>
      <tr>
        <th>3 Hour Tour</th>
        <th>4 Hour Tour</th>
        <th>6 Hour Tour</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul class="list-unstyled">
            <li><strong>1-2 people: AU$395 </strong></li>
            <li><strong>3-4 people: AU$495 </strong></li>
            <li><strong>5-6 people: AU$595</strong></li>
          </ul>
        </td>
        <td>
          <ul>
            <li>1-3 guests: AU$500</li>
            <li>4+: AU$135 / person</li>
          </ul>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>LocalDriva Standard 3 Hours</td>
        <td>LocalDriva Standard 4 Hours</td>
        <td>LocalDriva Standard 6 Hours</td>
      </tr>
      <tr>
        <td>AU$126</td>
        <td><strong>AU$168</strong></td>
        <td><strong>AU$252</strong></td>
      </tr>
    </tbody>
  </table>

  <p><strong>With LocalDriva, not only do you have your own personal driver and guide to give you a truly <u>customized</u> and <u>local</u> experience, but you save!</strong></p>

  <p><small><em>* Rates taken from the websites of leading Sydney tour guide companies.</em></small></p>

</div>
