---
name: Become a Driver
---

<div class="container_main pages-become_a_driver">
  <h1>Become a Driver with LocalDriva!</h1>

  <div class="text-center"><a href="/users?role=buyer" data-href="/users?role=buyer" data-modal="true" data-modal-class="sign-up-modal" data-modal-overlay-close="disabled" class="button-a">APPLY TO BECOME A DRIVER</a></div>

  <h2>Why become a Driver with LocalDriva?</h2>

  <p>Are you interested in being your own boss, earning a <u>guaranteed hourly income</u> and meeting new people from all over the world? If so, join us at a LocalDriva.</p>

  <p>We are a new Australian rideshare platform focusing on providing better value rideshare services for travelers and anyone seeking hourly-based driving services. We differ from other rideshare services because we offer you the opportunity to know in advance who you will be driving and when you will be driving. You set your own schedule. Passengers will contact you directly via our website to request bookings of 1 to 12 hours and you decide which bookings you will accept.</p>

  <p>With LocalDriva there is no need to drive around waiting for passengers. Know in advance who you will be driving, when you are driving and where you are going.</p>

  <h2>Who can become a Driver?</h2>

  <p>We are currently operating in Sydney and are looking for Sydney-based locals to join our growing team. We are also happy to hear from drivers across Australia, as we will be expanding to major Australian cities in the second half of 2017.</p>

  <p>You don’t need any experience as a driver or tour guide. You just need to a vehicle in good condition and a great attitude. We provide full training and support.</p>

  <p>Our drivers are required to meet the following conditions:</p>

  <ul>
    <li>Be 21 years of age or more.</li>
    <li>Have a minimum of 3 years driving experience.</li>
    <li>Have lived in the city you will be driving for a minimum of 2 years.</li>
    <li>Have in place a comprehensive insurance policy under your own name.</li>
    <li>Hold an in-state driver’s license.</li>
    <li>Ensure that your vehicle is roadworthy.</li>
    <li>Undergo a criminal history and driving history check.</li>
    <li>Adhere to all relevant local regulations for rideshare drivers.</li>
    <li>Other requirements as requested by LocalDriva.</li>
  </ul>

  <h2>How are bookings made?</h2>
  <ul>
    <li>Drivers make an application to LocalDriva and create their personal profile on the LocalDriva website.</li>
    <li>Anyone can search the LocalDriva website for drivers.</li>
    <li>Registered LocalDriva users directly contact drivers through the LocalDriva website to request a booking.</li>
    <li>Once a payment is made, the booking is confirmed.</li>
  </ul>

  <p><strong>Click on the button below to start your application or email us at <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a> to receive more information on becoming a driver:</strong></p>

  <div class="text-center"><a href="/users?role=buyer" data-href="/users?role=buyer" data-modal="true" data-modal-class="sign-up-modal" data-modal-overlay-close="disabled" class="button-a">APPLY TO BECOME A DRIVER</a></div>
</div>
