---
name: Driver profile
---

<div class="container_main pages-driver_profile">
  <h1>Drivers</h1>

  <p>We may be biased, but we think LocalDriva drivers are a really great bunch of people. Our drivers are proud of their city and love showing it off to visitors. LocalDriva drivers have one simple goal... to take the worry, uncertainty and inconvenience out of travelling to make sure that you have a truly fun, authentic and memorable experience.</p>

  <p>All of our drivers are locals who know their city well and have undergone a rigorous application process to ensure that they live up to the high standards that LocalDriva sets, including:</p>

  <ul>
    <li>Criminal history check;</li>
    <li>Driving record check;</li>
    <li>Vehicle inspection;</li>
    <li>ID check;</li>
    <li>Full compliance with local regulations; and</li>
    <li>A strong desire to show visitors a great time.</li>
  </ul>

  <p>Search for drivers in the city of your choice and view each driver’s profile to make a decision who will be the perfect driver for your next trip.</p>

  <p>One of our driver guides Adam is a great example of what you can expect with LocalDriva. We sat down with Adam to ask him a few questions so that you could get to know him a bit better:</p>

  <dl>
    <dt>LD: What was it about LocalDriva that attracted you?</dt>
    <dd><strong>Adam:</strong> The main aspect that attracted me to LocalDriva was the opportunity to spend my working day sharing with new visitors all that Sydney has to offer. Basically all the things that I like to do myself!</dd>

    <dt>LD: What are some of your favourite areas in Sydney?</dt>
    <dd><strong>Adam:</strong> The two main areas of Sydney that standout for me and are absolute favourites are the beaches, my favourite being Coogee Beach and secondly (by no means least) the China Town district. Each brings its own distinct feel and colour and although quite different in their makeup, each reflect the character and diversity that help to make Sydney the unique place it is.</dd>

    <dt>LD: What are some of the best restaurants in Sydney that most tourists don’t know about?</dt>
    <dd><strong>Adam:</strong> Sticking to the China Town (Haymarket) theme, for me it’s the cheap eats in Sydney that stand out. One in particular that I love to frequent is Fung Shing Gourmet BBQ Restaurant in Sussex St. Being a fan of BBQ Pork, this place rarely disappoints! If looking to dine out with a view, then it would be hard to go past The Deck at Milsons point (Luna Park). Great food and given the spectacular views, and it’s not over priced.</dd>

    <dt>LD: What would you like people around the world to know about Sydney?</dt>
    <dd><strong>Adam:</strong> That outside well known aspects such as great weather and beautiful beaches etc. is the fact that it really is a great place to spend time and if your lucky enough, live permanently!</dd>
     
    <dt>LD: Finally, can you tell us one interesting fact about yourself?</dt>
    <dd><strong>Adam:</strong> I'm a literary tragic. I have written a pilot comedy sitcom that I hope to one day expand upon.</dd>
  </dl>

  <p>Adam at one of his favourite views of the Sydney Harbour Bridge.</p>
</div>
