---
name: Passenger profile
---

<div class="container_main pages-passenger_profile">
  <h1>PASSENGER PROFILE</h1>

  <p>LocalDriva is priced at an hourly rate well below other transport alternatives, so that anyone can use LocalDriva to create a truly authentic and memorable travel experience.</p>

  <p>LocalDriva was created to enable people from across the world to have the option to have an affordable, reliable and local transport option in any location.</p>

  <p>Look out for our upcoming passenger profile….</p>
</div>
