---
name: Passenger profile
---

<div class="container_main pages-passenger_profile">
  <h1>Passenger Profile</h1>

  <p>LocalDriva is priced at an hourly rate well below other transport alternatives, so that anyone can use LocalDriva to create a truly authentic and memorable travel experience.</p>

  <p>LocalDriva was created to enable people from across the world to have the option to have an affordable, reliable and local transport option in any location.</p>

  <p>Look out for our upcoming passenger profile….</p>

  <figure>
    <img src="https://d2rw3as29v290b.cloudfront.net/instances/211/uploads/images/ckeditor/picture/data/3667/Tourists.jpg" alt="Tourists" />
  </figure>
</div>
