---
name: Privacy Policy
---
<div class="wrapper-a">
    <main>
        <header class="section-header">
            <h1 class="hx-a">Upside of Talent Privacy Policy</h1>
            <h2 class="hx-b">Updated August 16, 2016</h2>
        </header>


        <p>This website (this <i>“Site”</i>) is owned, operated, and provided to you (<i>“You”</i>) by <b>UPSIDE OF TALENT LLC</b>, a Florida limited liability company (<i>“Company”</i>).</p>

        <p>Your access and use of the Site are governed by this Privacy Policy.  By accessing or using the Site or otherwise assenting to these terms and conditions, You agree to the terms and conditions contained in this Privacy Policy.  If You do not wish to abide by this Privacy Policy, You may not access or use the Site.</p>

        <h3>You and Company agree as follows:</h3>

        <ol>
            <li>
                <h4>Personally-Identifiable Information</h4>
                <p>Company may collect, maintain, and process personally-identifiable information that You voluntarily provide in accessing this Site (including, but not limited to, your name, company name, address, email address, login details), data related to your Site preferences, and Internet traffic data (as explained in Section 2).</p>
            </li>

            <li>
                <h4>Internet Traffic Data</h4>
                <p>When your computer connects to the Internet and to this Site, Internet traffic data is generated.  This data alone is not sufficient to identify you.  Company may collect, maintain, and process Internet traffic information including, but not limited to, the ISP origin of your connection, your address, the type and version of your Internet browser, and the length of your connection.  This information may be used to analyze this Site’s traffic and to improve this Site by tailoring it to the particular interests of our visitors.</p>
            </li>

            <li>
                <h4>Cookies</h4>
                <p>To improve this Site, Company may use “cookies” to customize the information presented to You.  Cookies are small files that are stored by your browser on your computer’s hard drive and which may contain information such as your Site preferences.  Most Internet browsers automatically accept cookies, but you can configure your browser to prevent cookies from being stored on your computer.  Some features of this Site will not function fully unless you configure your browser to accept cookies.</p>
            </li>

            <li>
                <h4>Use of Personally-Identifiable Information</h4>
                <p>Company does not sell, rent or lease personally-identifiable information to third parties.  Company reserves the right to disclose your personally-identifiable information as required by law and when Company believes that disclosure is necessary to protect its rights, or in the good-faith belief that it is necessary to comply with the law.  Further, Company may share personally-identifiable information and other information if Company believes, in its sole discretion, that such sharing is necessary or appropriate to: (a) respond to a court order, subpoena or other legal process; (b) comply with the law or legal process; (c) protect or defend the rights or property of Company or others; (d) enforce this Privacy Policy; or (e) respond to claims that the content of any communication violates the rights of others.  Except as otherwise set forth in this Privacy Policy, Company will not share personally-identifiable information with any third-party unless You have given prior consent or Company is compelled to do so by law or by the order of a court or agency.</p>
            </li>

            <li>
                <h4>No Rights of Third Parties</h4>
                <p>This Privacy Policy does not create rights enforceable by third parties or require disclosure of any personally-identifiable information.</p>
            </li>

            <li>
                <h4>Changes to this Privacy Policy</h4>
                <p>Company occasionally updates this Privacy Policy to reflect feedback or changes in the law without any notice to the User.  You should periodically review this Privacy Policy to be informed of how Company is protecting your information.  Each time You access or use this Site, You must review and abide by the then-current version of this Privacy Policy.</p>
            </li>

            <li>
                <h4>Contact Information</h4>
                <p>If you have any questions about this Privacy Policy, please contact us using the information below:</p>
                <p>Security Officer<br> 684 Bayway Blvd<br> Clearwater, FL 33767<br> <a href="mailto:Security_Officer@upsideoftalent.com">Security_Officer@upsideoftalent.com</a> </p>
            </li>
        </ol>

        <header class="section-header">
            <h1 class="hx-a">Upside of Talent Safe Harbor Privacy Policy</h1>
            <h2 class="hx-b">Updated August 16, 2016</h2>
        </header>

        <h3>Introduction</h3>
        <p><b>UPSIDE OF TALENT LLC</b>, a Florida limited liability company (<i>“Company”</i>) is committed to safeguarding the private information entrusted to it by customers, which is why Company adheres to the Safe Harbor Agreement concerning the transfer of personal data from the European Union (<i>“EU”</i>) to the United States.  Company complies with the U.S.-EU Safe Harbor Framework and follows the Safe Harbor Privacy Principles published by the U.S. Department of Commerce (the <i>“Principles”</i>) with respect to all private data.</p>

        <h3>Scope</h3>
        <p>This Safe Harbor Privacy Policy (the <i>“Policy”</i>) outlines our general policy and practices for implementing the Principles, including the types of information we gather, how we use it and the notice and choice affected individuals have regarding our use of and their ability to correct that information.  This privacy policy applies to all personal information received by Company whether in electronic, paper or verbal format.</p>
        <p>If there is any conflict between the policies in this Policy and the Principles, the Principles shall govern.  This Policy is intended to supplement the Company Privacy Policy, which can be found at <a href="https://http://upsideoftalent.com/privacy-policy">https://upsideoftalent.com/privacy-policy</a>. To learn more about the Safe Harbor Framework, please visit <a href="http://export.gov/safeharbor/" rel="external">http://export.gov/safeharbor/</a>.</p>

        <h3>Definitions</h3>
        <ol>
            <li><p><b>“Agent”</b> means any third party that processes, collects, or uses Personal Information under the instructions of, and solely for, Company or to which Company discloses Personal Information for use on Company’s behalf.</p></li>
            <li><p><b>“EU”</b> has the meaning attributed to it in the first unnumbered paragraph.</p></li>
            <li><p><b>“Company”</b> has the meaning attributed to it in the first unnumbered paragraph.</p></li>
            <li><p><b>“Personal Information”</b> or <b>“Information”</b> means information that (1) is transferred from the EU to the United States; (2) is recorded in any form; (3) is about, or pertains to a specific individual; and (4) can be linked to that individual.</p></li>
            <li><p><b>“Policy”</b> has the meaning attributed to it in the second unnumbered paragraph.</p></li>
            <li><p><b>“Principles”</b> has the meaning attributed to it in the first unnumbered paragraph.</p></li>
            <li><p><b>“Sensitive Personal Information”</b> means Personal Information that reveals race, ethnic origin, sexual orientation, political opinions, religious or philosophical beliefs, trade union membership or that concerns an individual’s health.</p></li>
        </ol>

        <h3>Principles</h3>

        <ol>
            <li>
                <h4>Notice</h4>

                <p>Company shall inform an individual of the purpose for which it collects and uses the Personal Information and the types of non-Agent third parties to which Company discloses or may disclose that Information.  Company shall provide the individual with the choice and means for limiting the use and disclosure of their Personal Information.  Notice will be provided in clear and conspicuous language when individuals are first asked to provide Personal Information to Company, or as soon as practicable thereafter, and in any event before Company uses or discloses the Information for a purpose other than for which it was originally collected.</p>
            </li>

            <li>
                <h4>Choice</h4>

                <p>Company will offer individuals the opportunity to choose (opt out) whether their Personal Information is (1) to be disclosed to a non-Agent third party or (2) to be used for a purpose other than the purpose for which it was originally collected or subsequently authorized by the individual.  For Sensitive Personal Information, Company will give individuals the opportunity to affirmatively or explicitly (opt in) consent to the disclosure of the information for a purpose other than the purpose for which it was originally collected or subsequently authorized by the individual.</p>
            </li>
            <li>
                <h4>Disclosures and Onward Transfers</h4>

                <p>Prior to disclosing Personal Information to a third party, Company shall notify the individual of such disclosure and allow the individual the choice (opt out) of such disclosure.  Company may disclose Private Information to its Agents in order for those Agents to obtain information needed to perform their functions.  However, Company’s Agents are restricted from using the Personal Information for purposes other than providing services for or to Company.  Company requires that its Agents that have access to Personal Information either subscribe to the Principles, are subject to a law providing an adequate level of privacy protection, or agree in writing to provide an adequate level of privacy protection.</p>

                <p>Company also may disclose Personal Information as required by law, legal process, or mandatory professional standards.  Before making any such disclosure, to the extent practical, Company will take reasonable steps to inform the customer of the intended disclosure so that the individual may take such actions as it deems necessary to protect the Personal Information.</p>
            </li>
            <li>
                <h4>Data Security</h4>

                <p>Company will take reasonable steps to protect the Information from loss, misuse and unauthorized access, disclosure, alteration and destruction.  Company has put in place appropriate physical, electronic and managerial procedures to safeguard and secure the Information from loss, misuse, unauthorized access or disclosure, alteration or destruction.  Company cannot guarantee the security of Information on or transmitted via the Internet.</p>
            </li>
            <li>
                <h4>Data Integrity</h4>

                <p>Company shall only process Personal Information in a way that is compatible with and relevant for the purpose for which it was collected or authorized by the individual.  To the extent necessary for those purposes, Company shall take reasonable steps to ensure that Personal Information is accurate, complete, current and reliable for its intended use.</p>
            </li>
            <li>
                <h4>Access</h4>

                <p>Upon request, to the extent practical, Company will provide individuals with reasonable access to their Personal Information.  Company will take reasonable steps to permit these individuals to correct, amend or delete any Personal Information that is demonstrated to be inaccurate or incomplete.  Company may limit or deny access to Personal Information as permitted by the Principles.  For example, Company may limit an individual’s access to Personal Information where the burden or expense of providing access would be disproportionate to the risks to the individual’s privacy or where the legitimate rights of persons other than the individual would be violated.</p>
            </li>
            <li>
                <h4>Enforcement</h4>

                <p>Company uses a self-assessment approach to assure compliance with this Safe Harbor Privacy Policy and periodically verifies that the policy is accurate, comprehensive for the information intended to be covered, prominently displayed, completely implemented and accessible and in conformity with the Principles.  Company encourages interested persons to raise any concerns using the contact information provided below.  Company will investigate and attempt to resolve any complaints and disputes regarding use and disclosure of Personal Information in accordance with the Principles.</p>

                <p>If a complaint or dispute cannot be resolved through Company’s internal process, Company and the individual agree to dispute resolution using the American Arbitration Association as a third party resolution provider.</p>
            </li>
        </ol>

        <h3>Amendments</h3>

        <p>This Policy may be amended from time to time consistent with the requirements of the Safe Harbor Framework and Principles.  Any such revised Policy will become effective as of the date it is posted on Company’s website.</p>

        <h3>Contact information</h3>

        <p>Questions, comments or complaints regarding Company’s Safe Harbor Privacy Policy or data collection and processing practices can be directed to: </p>

        <p>[[CONTACT INFORMATION]]</p>
    </main>
</div>
