---
name: Terms of Use
---
<div class="wrapper-a">
    <main>
        <header class="section-header">
            <h1 class="hx-a">Upside of Talent Terms of Use</h1>
            <h2 class="hx-b">Updated August 16, 2016</h2>
        </header>

        <p>By accessing or using the Upside of Talent website (the <i>“Site”</i>, <a href="https://www.upsideoftalent.com/">https://www.upsideoftalent.com/</a>) you agree to these <b>TERMS OF USE</b> (this <i>“Agreement”</i>).  The Site is owned, operated, and provided to you (<i>“You”</i>) by <b>UPSIDE OF TALENT LLC</b>, a Florida limited liability company (<i>“Company”</i>).  Your access and use of the Site is governed by this Agreement.  By accessing or using the Site or otherwise consenting to these terms and conditions, You agree to the terms and conditions contained in this Agreement.  If You do not wish to abide by this Agreement, You must not access or use the Site.</p>

        <p>From time to time, Company may revise this Agreement without any notice to You.  Each time you access or use the Site, You must review and abide by the then-current version of this Agreement.</p>

        <p>You and Company agree as follows:</p>

        <ol id="tos-1">
            <li id="tos-1">
                <h4>General Information.</h4>
                <p>Through the Site, Company provides a digital marketplace (the <i>“Marketplace”</i>) for professionals (each, a <i>“Subject Matter Expert”</i> or <i>“SME”</i>) to showcase their expertise for project-based work, offered for hire or pro bono, to small and medium-sized business (each, a <i>“Business”</i>).  You acknowledge that:  (1) Company is not a party to any agreement between a Business and an SME; (2) You are not an employee or agent of Company; (3) No SME is an employee or agent of Company; and (4) Company does not supervise, direct, or control your services or that of any SME.</p>
            </li>
            <li id="tos-2">
                <h4>Privacy Policy.</h4>
                <p>Company’s Privacy Policy (located at <a href="https://www.upsideoftalent.com/privacy-policy">https://www.upsideoftalent.com/privacy-policy</a>, the <i>“Privacy Policy”</i>) is incorporated herein, by reference, as if fully set forth herein.  In case of a conflict between any provision of the Privacy Policy and any provision of this Agreement, the provision of this Agreement will apply.</p>
            </li>
            <li id="tos-3">
                <h4>Permitted Use; General Obligations to Company.</h4>
                <ol>
                    <li id="tos-3-1">
                        <p>You shall use the Site only for the purposes expressly set forth on the Site and in this Agreement.  Any other use of the Site is prohibited. In case of a conflict between any statement on the Site and any provision of this Agreement, the provision of this Agreement will apply.</p>
                    </li>
                    <li id="tos-3-2">
                        <p>Notwithstanding any other provision of this Agreement, You shall not:  (a) access or use the Site for any purpose that is unlawful; (b) access or use the Site for any purpose that is not expressly permitted by the Site or this Agreement; (c) access or use the Site in any manner that could damage, disable, overburden, or impair any Company computer system, server, or network; (d) access or use the Site in any manner that interferes with any other person’s access or use of the Site; (e) attempt to gain unauthorized access to the Site, other accounts, or any Company computer system, server, or network; (f) access or use materials or information through any means not intentionally made available by Company; (g) access or use the Site from any place where access or use of the Site, or participation in the Upside of Talent Marketplace, is prohibited; or (h) access or use the Site, if You are a person, or person employed by or associated with any person, identified on the U.S. Department of Commerceʼs Denied Persons or Entity List, the U.S. Department of Treasuryʼs Specially Designated Nationals or Blocked Persons Lists, or the Department of Stateʼs Debarred Parties List or otherwise ineligible to receive items subject to U.S. export control laws and regulations, or other economic sanction rules of any sovereign nation.</p>
                    </li>
                    <li id="tos-3-3">
                        <p>Notwithstanding any other provision of this Agreement, You must ensure that your use and access of the Site complies with all applicable laws and regulations.</p>
                    </li>
                    <li id="tos-3-4">
                        <p>The Site is not intended to be accessed and used by persons under the age of 18.  You represent and warrant that you are at least 18 years of age.  If You are not at least 18 years of age, You shall not access or use the Site.</p>
                    </li>
                    <li id="tos-3-5">
                        <p>If You fail to abide by this Agreement in any way, or fail to pay any amount owed to Company when due, Company may prohibit you from accessing or using the Site.  No act or omission by Company will be deemed to be a waiver of any right or remedy provided under this Agreement or under applicable law.</p>
                    </li>
                </ol>
            </li>
            <li id="tos-4">
                <h4>User Content</h4>
                <ol>
                    <li id="tos-4-1">
                        <p>As to any information or other content You post to or through the Site or otherwise provide to Company (such information or content, <i>“Content”</i>), You represent and warrant that:  (1) the Content is wholly complete, true, and accurate; (2) You are the sole owner of the Content or have all rights, licenses, consents, and releases that are necessary and appropriate to grant to Company and all users of the Site all rights in such Content, as contemplated under this Agreement; (3) the Content is not protected from disclosure by any law, regulation, order, or contractual obligation; (4) the Content is not confidential and Company is entitled to use and disseminate the Content for any purpose, commercial or otherwise, without acknowledgement or compensation to You.  You shall not provide to Company, or post to or through the Site, any Content that is not wholly complete, true, and accurate; or of which you are not the sole owner or the possessor of all rights, licenses, consents, and releases that are necessary and appropriate to grant to Company and all users of the Site all rights in such Content, as contemplated by this Agreement.</p>
                    </li>
                    <li id="tos-4-2">
                        <p>You shall not post, submit, or provide to Company any Content that: (a) is harmful; vulgar; obscene; profane; sexually explicit; abusive; threatening; privacy invading; defamatory; racially, ethnically, or otherwise objectionable; or unlawful in any way; (b) infringes, violates, or may infringe or violate, any intellectual property or other right of another person; (c) is protected from disclosure by any law, regulation, order, or contractual obligation.</p>
                    </li>
                    <li id="tos-4-3">
                        <p>You acknowledge that Company does not endorse or pre-screen Content.  However, Company and its designees have the right, but not the obligation (in Company’s sole discretion), to reject, edit, move, or remove any Content.</p>
                    </li>
                    <li id="tos-4-4">
                        <p>As to any Content, You grant to Company and all Users an irrevocable, non-exclusive, non-transferable, non-sublicensable, fully paid, perpetual, worldwide license to use, copy, encode, store, archive, distribute, transmit, modify, translate, publicly display, and create derivative works from, the Content.  Additionally, You grant to Company the right to use the name you submit in connection with any Content.</p>
                    </li>
                    <li id="tos-4-5">
                        <p>You shall not copy, distribute, or display, in any way, any information You find on the Site on any other website or electronic forum without the express written consent of Company.  You acknowledge that, as between You and Company, Company is the exclusive owner of the Site.</p>
                    </li>
                </ol>
            </li>

            <li id="tos-5">
                <h4>The Upside of Talent Marketplace</h4>

                <ol>
                    <li id="tos-5-1">
                        <h5>Terms and Conditions Applicable to Businesses</h5>
                        <p>The terms and conditions set forth in <a href="#tos-5-1">Section 5.1</a> apply to each Business that accesses or uses the Site or otherwise participates in the Marketplace.</p>

                        <ol>
                            <li id="tos-5-1-1">
                                <p>If You have registered or are accessing or using the Site or are otherwise participating in the Marketplace as, or on behalf of, a Business (such Business, <i>“Your Business”</i>), you represent and warrant that:  (1) You are authorized to act on behalf of Your Business in all matters pertaining to the Site and the Business’s participation in the Marketplace; and (2) Your Business also agrees to the terms and conditions contained in this Agreement.</p>
                            </li>

                            <li id="tos-5-1-2">
                                <p>If You have registered or are accessing or using the Site or are otherwise participating in the Marketplace as, or on behalf of, a Business, You and Your Business shall:  (a) provide complete, true, and accurate information regarding Your Business as requested by Company; (b) ensure and maintain the confidentiality and security of your Marketplace and Site login credentials; and(c) immediately notify Company if your login credentials are compromised in any way.</p>
                            </li>
                            <li id="tos-5-1-3">
                                <p>You may engage one or more SMEs to provide services to Your Business.  If You engage an SME to provide services for Your Business, Your Business shall:  (1) enter into a written and fully executed agreement that clearly sets forth the services to be provided and the compensation to be paid for those services; (2) comply with all applicable laws and regulations pertaining to such engagement; (3) comply with all terms of the agreement between Your Business and the SME; (4) pay to Company a <i>“Marketplace Fee”</i> equal to 12% of the total compensation to be paid to the SME, plus any applicable credit card processing fees; and (5) timely and fully pay all federal, national, state, province, local, and other taxes due and owing as a result of such engagement.</p>
                            </li>
                            <li id="tos-5-1-4">
                                <p>The Marketplace Fee must be paid to Company immediately upon each engagement referenced in <a href="#tos-5-1-3">Section 5.1.3</a>. If Your Business fails to make any payment to Company when due under this Agreement, the unpaid amount shall accrue interest at the lesser of: (a) the rate of 1.5% per month; and (b) the highest rate of interest permitted by law.  Immediately upon Company’s request, You shall pay any amount due from Your Business that is not timely and fully paid by Your Business.</p>
                            </li>
                            <li id="tos-5-1-5">
                                <p>Whether Your Business engages any SME or not, You and Your Business shall not engage, enter into any arrangement for the provision of services with, employ, or pay any SME except as set forth in <a href="#tos-5-1-3">Sections 5.1.3</a> through <a href="#tos-5-1-4">5.1.4</a>.</p>
                            </li>
                        </ol>
                    </li>
                    <li id="tos-5-2">
                        <h5>Terms and Conditions Applicable to SMEs.</h5>
                        <p>The terms and conditions set forth in <a href="#tos-5-2">Section 5.2</a> apply to each SME that accesses or uses the Site or otherwise participates in the Marketplace.</p>
                        <ol>
                            <li id="tos-5-2-1">
                                <p>If You have registered, or are accessing or using the Site or are otherwise participating in the Marketplace, as an SME, you represent and warrant that:  (1) all information about You that is displayed on the Site is wholly complete, true, and accurate; and (2) You are not subject to any restrictive covenants, non-competition provisions, non-solicitation provisions, or other restrictions on your ability to work as engaged by a Business through the Marketplace.</p>
                            </li>
                            <li id="tos-5-2-2">
                                <p>If you are engaged by a Business to provide services, You shall:  (1) enter into a written and fully executed agreement that clearly sets forth the services to be provided and the compensation to be paid for those services; (2) comply with all applicable laws and regulations pertaining to such engagement and to your providing the services; (3) comply with all terms of the agreement between You and the Business; (4) comply with the terms of any obligation You have not to disclose or use particular information; (5) comply with all restrictive covenants, non-competition provisions, non-solicitation provisions, and other restrictions that are applicable to You; and (6) timely and fully pay all federal, national, state, province, local, and other taxes due and owing on monies earned or received by You as a result of such engagement.</p>
                            </li>
                            <li id="tos-5-2-3">
                                <p>With respect to any Business that identified you through the Marketplace or the Site, You shall not, directly or indirectly, request or accept work or payment for work from such Business except through the Site and the Marketplace, in accordance with <a href="#tos-5-1-3">Sections 5.1.3</a> and <a href="#tos-5-1-4">5.1.4</a>.</p>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>

            <li id="tos-6">
                <h4>DMCA Notice Procedure.</h4>
                <ol>
                    <li id="tos-6-1">
                        <p>Company will respond to allegations of copyright infringement in accordance with the Digital Millennium Copyright Act (the <i>“DMCA”</i>).</p>
                    </li>
                    <li id="tos-6-2">
                        <p>If you believe that your work was copied or posted on the Site in a way that constitutes copyright infringement, please contact our designated agent, Ed Thompson.</p>
                    </li>
                    <li id="tos-6-3">
                        <p>Your notification of alleged infringement must comply with the provisions of the DMCA and must include the following information:  (1) a description of the copyrighted work which You claim has been infringed (if you are not the owner of the work, you must also include your electronic or digital signature as a person authorized to act on behalf of the copyright owner); (2) a description of where the allegedly infringing material is located on the Site; (3) information reasonably sufficient to permit Company to contact you (such as an address, telephone number, and, if available, an email address where you may be reached); (4) a statement that you have a good faith belief that the use of the allegedly infringing material is not authorized by the copyright owner, its agent, or the law; and (5) a statement by You, made under penalty of perjury, that the information in your notification is accurate, and that you are the copyright owner or are authorized to act on the copyright owner’s behalf.</p>
                    </li>
                    <li id="tos-6-4">
                        <p>Upon receipt of such written notification, conforming to the DMCA and containing the information described in <a href="#tos-6-3">Section 6.3</a>, Company will remove or disable access to the allegedly infringing material, forward the written notification to the alleged infringer, and attempt to promptly notify the alleged infringer that the allegedly infringing material has been removed.</p>
                    </li>
                    <li id="tos-6-5">
                        <p>If allegedly infringing material is removed by Company, the alleged infringer may deliver a counter-notification to Company’s designated agent which complies with the provisions of the DMCA and includes the following information:  (1) a physical or electronic signature of the alleged infringer; (2) a description of the of the material that has been removed, or to which access has been disabled, and the location at which the material appeared on the Site before it was removed or access to it was disabled; (3) a statement, under penalty of perjury, that the alleged infringer has a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled; (4) the alleged infringer’s name, address, and telephone number, and a statement that the alleged infringer consents to the jurisdiction of United States District Court for the judicial district in which the address is located, or if the alleged infringer’s address is outside of the United States, for any judicial district in which Company may be found, and that the alleged infringer will accept service of process from the person who provided the notification or an agent of such person</p>
                    </li>
                    <li id="tos-6-6">
                        <p>Upon receipt of a counter-notification, conforming to the DMCA and containing the information described in <a href="#tos-6-5">Section 6.5</a>, Company will promptly provide You, the party who delivered the original notification, with a copy of the counter-notification and inform you that it will replace the removed material, or cease disabling access to it, within ten business days.  If Company’s designated agent does not receive notice from You that an action has been filed seeking a court order to prohibit the alleged infringer from engaging in the infringing activity complained of in the original notification, Company will replace the removed material, or cease disabling access to it, within ten to fourteen business days after receipt of the counter-notification.</p>
                    </li>
                </ol>
            </li>
            <li id="tos-7">
                <h4>Third-party Websites, Companies, and Products.</h4>
                <p>Mention of, or linking to, third party websites, companies, and products on the Site is for informational purposes only and constitutes neither an endorsement nor a recommendation.  Certain links on the Site will permit you to leave the Site.  The websites linked by the Site are not under the control of Company and Company is not responsible for the content of any linked website.</p>
            </li>
            <li id="tos-8">
                <h4>Indemnification</h4>
                <p>You must defend, indemnify, and hold harmless Company, its officers, directors, employees, and agents, from and against any claims, actions or demands, including, without limitation, all reasonable attorney’s fees and costs, made by any third party due to or resulting from your access or use of the Site or any Product, any breach of this Agreement by You, any false representation made by You in this Agreement, or any breach of a warranty made by You in this Agreement.</p>
            </li>
            <li id="tos-9">
                <h4>Disclaimers; Limitation of Liability.</h4>
                <ol class="tos-disclaimers">
                    <li id="tos-9-1"><p>THE SITE AND ALL OF ITS CONTENT ARE PROVIDED “AS IS,” WITHOUT WARRANTY OF ANY KIND, EXPRESS, IMPLIED, OR OTHERWISE.  TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, COMPANY DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, PERTAINING TO ALL CONTENT INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.  WITHOUT LIMITATION, COMPANY MAKES NO REPRESENTATIONS OR WARRANTIES AS TO:  (1) THE RELIABILITY, CAPABILITY, OR QUALIFICATIONS OF ANY SME; (2) THE RELIABILITY OR CAPABILITY OF ANY BUSINESS OR THE QUALITY, SECURITY, OF LEGALITY OF ANY ENGAGEMENT; OR (3) THE ACCURACY OF ANY INFORMATION DISPLAYED ON THE SITE OR THROUGH THE MARKETPLACE.</p></li>
                    <li id="tos-9-2"><p>YOUR USE OF THE SITE IS AT YOUR OWN RISK.  THE SITE MAY CONTAIN LINKS TO OTHER SITES. COMPANY IS NOT RESPONSIBLE FOR THE CONTENT OR PRIVACY POLICIES OF THOSE SITES.</p></li>
                    <li id="tos-9-3"><p>ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE SITE IS ACCESSED AT YOUR OWN RISK AND YOU ARE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF SUCH MATERIAL.</p></li>
                    <li id="tos-9-4"><p>IN NO EVENT WILL COMPANY BE LIABLE FOR ANY SPECIAL, INCIDENTAL, INDIRECT, OR CONSEQUENTIAL DAMAGES WHATSOEVER ARISING FROM YOUR ACCESS OR USE OF, OR INABILITY TO ACCESS OR USE, THE SITE OR THE PRODUCT.</p></li>
                    <li id="tos-9-5"><p>IN NO EVENT WILL COMPANY BE LIABLE FOR ANY DAMAGES WHATSOEVER ARISING IN ANY WAY FROM ANY CONTENT PROVIDED BY OR REPRESENTATIONS MADE BY ANY OTHER PERSON OR THE ACTIONS OR OMISSIONS OF ANY OTHER PERSON.</p></li>
                    <li id="tos-9-6"><p>IN ANY EVENT, COMPANY’S ENTIRE LIABILITY TO YOU UNDER ANY PROVISION OF THIS AGREEMENT OR ARISING FROM THE ACCESS OR USE OF THE SITE BY YOU OR ANY OTHER USER WILL BE LIMITED TO THE AMOUNT ACTUALLY PAID BY YOU TO COMPANY PURSUANT TO THIS AGREEMENT DURING THE 12 MONTHS PRECEDING THE EVENT GIVING RISE TO SUCH LIABILITY.</p></li>
                    <li id="tos-9-7"><p>ALL SERVICES PROVIDED BY COMPANY ARE PROVIDED “AS IS,” WITHOUT WARRANTY OF ANY KIND, EXPRESS, IMPLIED, OR OTHERWISE.  COMPANY DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, PERTAINING TO ANY PRODUCT INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.</p></li>
                </ol>
            </li>
            <li id="tos-10">
                <h4>Governing Law</h4>
                <p>This Agreement is governed and must be construed by the laws of the Commonwealth of Virginia, without regard to its conflict of law provisions.</p>
            </li>
            <li id="tos-11">
                <h4>Choice of Forum</h4>
                <p>Any party commencing against any other party any legal proceeding (including, without limitation, any tort claim) arising out of, relating to, or concerning this Agreement must bring that proceeding in the United States District Court for the Middle District of Florida or in the states courts located in Clearwater, Florida.  Each party hereby submits to the exclusive jurisdiction of those courts for the purposes of any such proceeding and waives any claim that any legal proceeding (including, without limitation, any tort claim) brought in accordance with this Section 11 has been brought in an inconvenient forum or that the venue of that proceeding is improper</p>
            </li>
            <li id="tos-12">
                <h4>Attorney’s Fees and Costs</h4>
                <p>In the event of any litigation arising under this Agreement for from the use or access of the Site by You, the substantially prevailing party is entitled to recover from the non-substantially prevailing party all of its costs and reasonable attorney’s fees incurred in such litigation.</p>
            </li>
            <li id="tos-13">
                <h4>Severability</h4>
                <p>In the event that any provision of this Agreement is invalidated by a court of competent jurisdiction, then all of the remaining provisions of this Agreement continue unabated and in full force and effect.</p>
            </li>
            <li id="tos-14">
                <h4>Binding Effect</h4>
                <p>This Agreement is binding upon each of the parties and upon their respective successors and assigns, and inures to the benefit of each of the parties and to their respective successors and assigns.</p>
            </li>
            <li id="tos-15">
                <h4>Entire Agreement</h4>
                <p>This Agreement contains the entire understanding and agreement between the parties as to its subject matter and must not be modified or superseded except upon the express consent of both parties.  This Agreement is not intended to confer upon any person, other than the parties, any rights or remedies.</p>
            </li>
        </ol>
    </main>
</div>
