---
name: The Journey
---

<div class="container_main pages-bookings">
  <h1>The Journey</h1>

  <p class="text-center"><em>“It’s not where you are going that’s important…. it’s how you get there”</em></p>

  <p>LocalDriva is about much more than getting you to where you need to go. It’s about getting you to where you want to go and creating memorable experiences on your way there. While other rideshare services take the shortest route, we take the most memorable route that lets you experience a side of the city through the eyes of a local.</p>

  <p>With LocalDriva you are in control of your trip. Our drivers will take you where you want to go at your own pace. However, you always have the benefit of an experienced local on-hand to guide you or suggest one of our custom Drivabout experiences. We don’t believe in itineraries. We believe that each booking should reflect your unique interests while remaining flexible enough to cater to your needs. That is why we have coined the term <strong>Drivabouts</strong>.</p>

  <h2>Drivabout</h2>

  <p><em>noun</em> driv·about \ˈdrȯi-va-ˌbau̇t\</p>
  <p>Derived from the Indigenous Australian word "walkabout", which means a short period of wandering bush life engaged in as an occasional interruption of regular work in an effort to satisfy one's itchy feet and a need to be elsewhere. <strong>Drivabout</strong> is pretty much the same thing...but with a car!</p>
  <p>Ask your driver when you are making a booking about <strong>Drivabouts!</strong></p>
  <p>When making a booking, tell us what type of experience you are seeking and we will suggest how you can achieve your goals, using our local knowledge of the city.</p>

  <ul class="list-checks">
    <li>Looking for an authentic Vietnamese noodle soup? We’ll not only take you to where the locals go but also let you experience you how they live.</li>
    <li>Want to find a small, hidden-away harbour side beach with jaw-dropping views of the city? We know just the place to take you.</li>
    <li>Seeking a stimulating and fun day trip that will also keep the kids entertained? Let us give you several options and take you there in the comfort and convenience of a private car.</li>
    <li>Eager to go on a half-day shopping spree at the best stores across the city without worrying about dragging heavy bags with you? We’ll get you there in half the time and double the comfort.</li>
  </ul>

  <p><strong>LocalDriva bookings are easy and can be made online as follows:</strong></p>

  <figure>
    <img src="https://d2rw3as29v290b.cloudfront.net/instances/211/uploads/images/ckeditor/picture/data/3662/image.png" alt="LocalDriva bookings are easy and can be made online" />
  </figure>

  <p>Let LocalDriva drivers show you both the landmarks and also the places beyond the tourists crowds that only locals know about. Search our website for drivers on your preferred dates, view the driver profiles and contact a driver directly to organise your trip. Once your booking is paid for and confirmed, all you have to do is sit back, enjoy the journey and let a friendly local create an authentic experience for you on your next trip.</p>

  <p><strong>LocalDriva makes custom tours affordable for everyone, so let LocalDriva give you a local experience on your next trip.</strong></p>
  <p>We are currently operating in Sydney only, but keep an eye out, as we will soon be expanding to other Australian cities and major cities across the globe!</p>
</div>
