<ol class="nav nav-pills user-profile-navigation">
  <li class="{% if active == 'general' %}active{% endif %}"><a href="/dashboard/carer/general" data-index="0">General</a></li>
  <li class="{% if active == 'web-profile' %}active{% endif %}"><a href="/dashboard/carer/web-profile" data-index="1">Web Profile</a></li>
  <li class="{% if active == 'services-list' %}active{% endif %}"><a href="/dashboard/carer/services-list" data-index="1">Services List</a></li>
</ol>
