<ol class="nav nav-pills user-profile-navigation">
  <li class="{% if active == 'general' %}active{% endif %}"><a href="/dashboard/consumer/general" data-index="0">General</a></li>
  <li class="{% if active == 'government-fundings' %}active{% endif %}"><a href="/dashboard/consumer/government-fundings" data-index="1">Government funding details</a></li>
  <li class="{% if active == 'emergency-contacts' %}active{% endif %}"><a href="/dashboard/consumer/emergency-contacts" data-index="1">Emergency Contacts</a></li>
  <li class="{% if active == 'my-needs' %}active{% endif %}"><a href="/dashboard/consumer/my-needs" data-index="1">My Care and Support Needs</a></li>
</ol>
