// breakpoints
$screen-lg: 1280px;
$screen-tablet: 1024px;
$screen-tablet-vertical: 768px;
$screen-mobile: 600px;
$screen-xs: 480px;


// fonts

$font-default: Intel Clear, Helvetica Neue, Helvetica, Arial, sans-serif;
$font-alt: Intel Clear Pro, Helvetica Neue, Helvetica, Arial, sans-serif;

$font-icons: Icons;

$modal-z-index: 1000;

$avatar-background: #f5f6f8;
