<center>
  Sent with <span>&hearts;</span>
</center>
<center>Don't want to receive these updates? <a href="{{ unsubscribe_link }}">Unsubscribe</a></center>
<center>{{ platform_context.address }}</center>
