<center>
  Sent with <span>&hearts;</span>
</center>
<center>You are receiving this email because you signed up to {{ platform_context.name }} using the email address {{ user.email }}</center>
<center>{{ platform_context.address }}</center>
