<h2>Booking Access Removed</h2>

<p>Passenger {{ lister.name }} has removed you from the booking. This consideration could be based on many factors such as: availability, budget, timeline, etc.<p>

<p>Don't worry. Your next booking is just around the corner, but if you feel that the passenger has not acted in good faith with this cancellation, please contact us at <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a>.</p>
