<h1>Hi, {{ lister.first_name }}</h1>

<p>Thank you so much for inviting me to your booking. However, I am not available for this opportunity at this time.</p>

<p>
  <a href="{{ enquirer.profile_url }}">{{ enquirer.first_name }}</a>
</p>
