<h2>Congratulations {{ enquirer.first_name }} - Project Completed!</h2>

<p>{{ lister.name }} has marked {{ transactable.name }} as complete. This means the project is over and it will be archived in our system.</p>

<p>Great job! #UoTSMEs are the <b>World’s Best Subject Matter Experts. On Demand.</b></p>

