<h2>Congratulations {{ enquirer.first_name }} - Booking Completed!</h2>

<p>{{ lister.name }} has marked {{ transactable.name }} as complete. This means the booking is over and it will be archived in our system.</p>

<p>Great job!</p>

