<h2>{{ lister.first_name }}!</h2>

<p>You have cancelled {{ transactable.name }}. This project will be moved to the archived projects section.  Alert notifications have been sent to any experts that have been invited to the project.
