<h1>Congratulations, {{ enquirer.first_name }}</h1>

<p>
You have been invited to a booking by passenger {{ lister.name }}. You now have the ability to review the booking details.
</p>

<p><a href="{{ transactable.listing_url }}">Click here to view the booking details.</a></p>

<p>You're options are to:</p>
<ul>
<li>Send message to Passenger for any clarifications or suggestions</li>
<li>Accept the Booking</li>
<li>Reject the Booking</li>
</ul>
