- title t('dashboard.nav.transfers')

- content_for :page_header do
  %h1= yield :title

.panel
  .panel-body
    = render partial: 'shared/chart', object: @chart
    = render partial: 'shared/chart/list/' + @chart.chart_type
