.row
  .input-container.col-xs-4
    .row
    - if ticket_message.user
      = link_to  profile_path(ticket_message.user ), target: '_blank' do
        = image_tag ticket_message.user.avatar.url(:medium)
    .row.name
      = ticket_message.full_name
    .row.time
      %time.timeago{:datetime => ticket_message.created_at.to_time.iso8601 }
        =ticket_message.created_at
  .input-container.col-xs-8
    =simple_format(ticket_message.message)
    .attachments.clearfix
      = render partial: 'support/ticket_message_attachments/attachment', collection: ticket_message.attachments, as: :ticket_message_attachment
