- title "Products"

.dash-head.clearfix
  %p MANAGE LISTINGS
  %a.dash-head-btn{:href => ""}
    .btn.blue Bulk Upload
.dash-body
  .new-profile
    =image_tag("themes/buy_sell/icon-cross.png")
    = link_to "New List Item", new_dashboard_product_path
  .dash-sub-nav
    %ul
      %li.active
        %a{:href => "#"} Transactible 1
      %li
        %a{:href => "#"} Transactible 2
  .listings-header
    .row
      .col-md-3
        %p Picture
      .col-md-3
        %p Name
      .col-md-3
        %p Quantity
      .col-md-2
        %p Price
  = render partial: 'product', collection: @products
  = will_paginate @products
