<div class="wrapper">
  <main role="main">
    <div class="branding">
      <img width="184" height="40" alt="{{platform_context.name}}" src="{{platform_context.logo_url}}">
      <h1 class="error-number">503</h1>
      <h2 class="semi-bold">Maintenance</h2>
      <p>Temporarily down for maintenance.</p>
    </div>
  </main>
</div>
