<div class="wrapper">
  <main role="main">
    <div class="branding">
      <img width="184" height="40" alt="{{platform_context.name}}" src="{{platform_context.logo_url}}">
      <h1 class="error-number">404</h1>
      <h2 class="semi-bold">Aw, Snap!</h2>
      <p>The page you were looking for could not be located.</p>

      {% include "errors/links.html" %}
    </div>
  </main>
</div>
