<div class="wrapper">
  <main role="main">
    <div class="branding">
      <img width="184" height="40" alt="{{platform_context.name}}" src="{{platform_context.logo_url}}">
      <h1 class="error-number">500</h1>
      <h2 class="semi-bold">Oops! Something went wrong. We're on it!</h2>
      <p> It looks as though we've broken something on our system. We've been notified, and will fix it as soon as possible.</p>

      {% include "errors/links.html" %}
    </div>
  </main>
</div>
