<footer class="wrapper-a mastfoot" itemtype="http://schema.org/Organization">
    <ul class="description">
        <li itemprop="logo">
            <img src="https://d2rw3as29v290b.cloudfront.net/instances/194/uploads/ckeditor/attachment_file/data/2773/volte-logo.svg" width="200"/>
        </li>
        <li itemprop="description">
            The Volte is a modern marketplace that allows you to invest in your style. Access to high end designer fashion has never been easier!
        </li>
    </ul>
    <ul class="general">
        <li>
            General
        </li>
        <li>
            <a>
                Home
            </a>
        </li>
        <li>
            <a>
                About
            </a>
        </li>
        <li>
            <a>
                FAQ
            </a>
        </li>
        <li>
            <a>
                Contact US
            </a>
        </li>
    </ul>
    <ul class="more">
        <li>
            More
        </li>
        <li>
            <a>
                Sign Up
            </a>
        </li>
        <li>
            <a>
                List Your Items
            </a>
        </li>
        <li>
            <a>
                Terms of Use
            </a>
        </li>
        <li>
            <a>
                Policies
            </a>
        </li>
    </ul>
    <ul class="connect">
        <li>
            Connect
        </li>
        <li itemprop="sameAs">
            <a>
                Facebook
            </a>
        </li>
        <li itemprop="sameAs">
            <a>
                Twitter
            </a>
        </li>
        <li itemprop="sameAs">
            <a>
                LinkedIn
            </a>
        </li>
        <li itemprop="sameAs">
            <a>
                Google+
            </a>
        </li>
        <li>
            <a>
                Blog
            </a>
        </li>
    </ul>
    <ul class="contact">
        <li>
            Contact
        </li>
        <li>
            <a>
                support@thevolte.com
            </a>
        </li>
    </ul>
    <div class="footer-bottom" role="contentinfo">
        <p class="copyrights" itemprop="copyrightHolder">
            © The Volte 2016. All rights reserved.
        </p>
        <p class="powered-by">
            <a>
                Powered by Near Me
            </a>
        </p>
    </div>
</footer>
