%tr
  %td= link_to transactable_collaborator.name, user_path(transactable_collaborator.user)
  %td.col-status
    - if transactable_collaborator.pending?
      =t('pending')
    - elsif transactable_collaborator.approved?
      =t('approved')

  %td
    - unless transactable_collaborator.approved_by_owner?
      %button.button-a.small.action--approve{"data-project-collaborator": transactable_collaborator.id, "data-action": 'PUT'}
        %span.intelicon-check
        = t :approve
    %button.button-a.small.action--remove.red{"data-project-collaborator": transactable_collaborator.id, "data-action": 'DELETE'}
      %span.intelicon-trash-outlined
      = t :remove
