<h2>Change of plans, {{ lister.first_name }}!</h2>

<p>The offer from {{ enquirer.name }} has been withdrawn.</p>

<p>We're always happy to help! Just send an email to <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a>.</p>
