<h2>Congratulations!, {{ user.first_name }}!</h2>

<p>You offer has been accepted by {{ transactable.creator.name }} and you will be able to get started working on this project per the agreed terms of your offer.</p>

<p>We're happy you are part of our community and expect to hear great things about your collaboration. The project can now be tracked under the <a href="{{ platform_context.host | append: listing.in_progress_index_url }}">My Projects > Projects in Progress</a> in your user dashboard.</p>
