@font-face {
  font-family: 'Brandon Bold';
  src: url('/assets/instance_admin/Brandon_bld.eot'); /* IE9 Compat Modes */
  src: url('/assets/instance_admin/Brandon_bld.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/instance_admin/Brandon_bld.woff') format('woff'), /* Modern Browsers */
       url('/assets/instance_admin/Brandon_bld.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/instance_admin/Brandon_bld.svg#41e76bd6e414417d52adb646f262964a') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Brandon Light';
  src: url('/assets/instance_admin/Brandon_light.eot'); /* IE9 Compat Modes */
  src: url('/assets/instance_admin/Brandon_light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/instance_admin/Brandon_light.woff') format('woff'), /* Modern Browsers */
       url('/assets/instance_admin/Brandon_light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/instance_admin/Brandon_light.svg#354fd4633228a7e3ae69c73de8c58871') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Brandon Medium';
  src: url('/assets/instance_admin/Brandon_med.eot'); /* IE9 Compat Modes */
  src: url('/assets/instance_admin/Brandon_med.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/instance_admin/Brandon_med.woff') format('woff'), /* Modern Browsers */
       url('/assets/instance_admin/Brandon_med.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/instance_admin/Brandon_med.svg#42e0c7c233eb5259e2b1a7ec7e16d4ce') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Avenir Regular';
  src: url('/assets/instance_admin/AvenirNext-Regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/instance_admin/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/instance_admin/AvenirNext-Regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/instance_admin/AvenirNext-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/instance_admin/AvenirNext-Regular.svg#fe299bf9c71888f1da7b2c2d74973b56') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'Avenir Light';
  src: url('/assets/instance_admin/AvenirNext-light.eot'); /* IE9 Compat Modes */
  src: url('/assets/instance_admin/AvenirNext-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/instance_admin/AvenirNext-light.woff') format('woff'), /* Modern Browsers */
       url('/assets/instance_admin/AvenirNext-light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/instance_admin/AvenirNext-light.svg#bdda6bf0cbb2275362361ca24e93166f') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'Avenir Bold';
  src: url('/assets/instance_admin/AvenirNext-Bold.eot'); /* IE9 Compat Modes */
  src: url('/assets/instance_admin/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/instance_admin/AvenirNext-Bold.woff') format('woff'), /* Modern Browsers */
       url('/assets/instance_admin/AvenirNext-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/instance_admin/AvenirNext-Bold.svg#92550229aad14ffa2dc273e49410d17e') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  700;
}
