#main-container.reviews, #main-container.rating_systems {
  min-width: 810px;
  margin-right: 355px;
  width: auto;

  .services {
    .content-container {
      border-right: none;
    }
  }
}
.rating_systems, .reviews {
  input[type='text'] {
    padding: 3px 5px;
    border: 1px solid #eee;
  }
  .rating-system {
    @extend .clearfix;
  }
  .save-btn {
    margin: 15px 0;
  }
  .title {
    color: #444445;
    font-weight: bold;
    text-transform: uppercase;
  }
  .define-title {
    font-weight: bold;
    margin-bottom: 20px;
  }
  .rating-blank-state {
    color: #6a6a6a;
    text-align: center;
    .question-icon {
      color: #fff;
      background-color: #c9c9c9;
      width: 25px;
      height: 25px;
      display: inline-block;
      border-radius: 50%;
      vertical-align: middle;
      text-align: center;
      padding-top: 4px;
      margin-right: 20px;
      font-weight: bold;
    }
  }
  .header {
    cursor: pointer;
    padding: 15px;

    label {
      margin-left: 45px;
      cursor: pointer;
    }
  }

  .service {
    > .header {
      background-color:  #fff;
      margin-bottom: 15px;

      .service-name label {
        margin-left: 20px;
        font-size: 16px;
      }
    }

    .only-if-both-completed {
      margin-left: 30px;
      margin-top: 10px;
    }
  }
  .rating-system {
    margin-left: 30px;
    .table-container {
      &.hidden {
        display: none;
      }
    }
    .line {
      position: relative;
      & + .line {
        margin-top: 10px;
      }
    }
    .header {
      border-bottom: none;
      background-color:  #e5e5e4;

      label {
        display: inline-block;
        margin-bottom: 0;
      }
    }
    .stars-description {
      border-bottom: 1px solid #efefef;
      padding-bottom: 30px;
      .img {
        position: absolute;
        top: 2px;
        left: 0;
      }
      .input {
        margin-left: 125px;
        input {
          width: 100%;
        }
      }
      .title {
        margin: 15px 0;
      }
    }

    .questions {
      padding-top: 15px;
      .question {

        .remove-question {
          .fa {
            font-size: 18px;
            margin-left: 15px;
            line-height: 27px;
          }
          &.enabled {
            .fa {
              color: #c0272d;
              cursor: pointer;
            }

          }
        }
        input[type='checkbox'] {
          display: none;
        }
        input {
          width: 506px;
          margin-left: 15px;
        }
        .controls{
          float: left;
        }

        label{
          width: 75px;
          float: left;
          line-height: 30px;
        }
      }

    }

  }
}
