/*===== SASS VARIABLES =====*/
$color-brand: #1a7fbb;

/*===== GENERAL STYLES =====*/
html body {
  background: #ebedef;
  overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}

.dropshadow {
  border-bottom: solid #eeeeee 5px;
}

.alert {
  color: #e83d33;
}

a:hover {
  text-decoration: none;
}

h4 {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}

/*===== HEADER =====*/

.main-header {
  background: #fff;
  height: 61px;
  min-width: 100%;
  padding: 15px 15px 0 250px;
  position: fixed;
  z-index: 1;
  font-size: 24px;
  font-family: 'Lato', sans-serif;

  .header-buttons {
    float: right;
  }
}

.breadcrumbs {
  float: left;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1.8;
}

.header-nav-wrapper {
  float: right;
  margin-bottom: 20px;
}

.btn-wrapper {
  margin-bottom: 20px;
  text-align: right;
}

.btn {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  margin-left: 15px;
  padding: 7px 25px;
}

.btn-margin-top {
  margin-top: 20px;
}

.btn:hover {
  color: #fff;
}

.btn:focus {
  color: #fff;
  outline: none;
}

.btn-blue {
  color: #FCFCFC;
  background-color: #479CCE;
  border-bottom: solid #1B75BB 3px;
  line-height: 1.5;
}

.btn-blue:hover {
  background-color: #3E89BD;
  border-bottom-color: #1373AF;
}

.btn-blue:focus {
  background-color: #3E89BD;
  border-bottom-color: #1373AF;
}

.btn-light {
  color: #479CCE;
  background-color: #fff;
  border: 1px solid #479CCE;
  line-height: 1.5;
}

.btn-light:hover {
  color: #479CCE;
  background-color: #F0F3F6;
  border: 1px solid #479CCE;
}

.btn-light:focus {
  color: #479CCE;
  background-color: #F0F3F6;
  border: 1px solid #479CCE;
}

.btn-neutral {
  color: #fff;
  background-color: #E45D51;
  line-height: 1.5;
}

.btn-neutral:hover {
  color: #fff;
  background-color: #CE5C54;
}

.btn-neutral:focus {
  color: #fff;
  background-color: #CE5C54;
}

.btn-smaller {
  line-height: 1;
}

.btn-bottom-margin {
  margin-bottom: 10px;
}

/*===== SIDEBAR NAV  =====*/

.brand {
  background: $color-brand;
  padding: 15px 0 0px 25px;
  height: 59px;

  .tooltip {
    .tooltip-inner {
      width: 150px;
    }
  }
}

.brand-logo {
  height: 30px;
  float: left;
}

.open-marketplace-icon {
  width: 23px;
  height: 24px;
  background: transparent url("/assets/instance_admin/enter-door.png") center center no-repeat;
  float: right;
  margin: 2px 14px 0 0;
}

.nav-wrapper {
  background: #2c2c2c;
  height: 100%;
  position: fixed;
  width: 217px;
  z-index: 2;

  .sidebar {
    height: 90%;
    overflow: auto;
    padding-top: 10px;

    ul {
      padding: 0;
    }

    li {
      margin: 0;
    }

    a {
      border-left: 5px solid transparent;
      color: #d9d9d9;
      display: inline-block;
      padding: 10px 0 6px 19px;
      text-decoration: none;
      width: 100%;
    }

    /*==Fix for Firefox auto-focus ==*/
    a:focus {
      background: none;
      outline: none;
    }

    a:hover, a:hover > .fa, a.active, a.active > .fa {
      background: #ebedef;
      border-left-color: $color-brand;
      color: $color-brand;
    }

    span {
      font-family: 'Lato', sans-serif;
      font-size: 14px;
    }

    .sub-nav span {
      padding-left: 43px;
      font-family: 'Lato', sans-serif;
    }
  }
}

/*===== SIDEBAR NAV ICONS =====*/

.fa {
  color: #d9d9d9;
  display: inline-block;
  margin-right: 16px;
}

.sidebar.nav .fa {
  font-size: 14px;
}


/*===== HELP BAR =====*/

#help-bar {
  background: #e9e9e9;
  float: right;
  height: 100%;
  padding: 0 5px;
  position: fixed;
  right: -316px;
  width: 346px;
  z-index: 0;
}

.help-bar-content {
  padding: 70px 20px;
}

.fa-long-arrow-left, .fa-long-arrow-right {
  bottom: 10px;
  color: #000;
  position: absolute;
}

/*===== MAIN CONTENT =====*/

.header-filler {
  height: 61px;
}

.flash-container {
  margin: 0 0 0 217px;
}

#main-container {
  margin: 0px 0 25px 230px;
  max-width: 1267px;
}

.sub-header-nav {
  border-bottom: solid #eeeeee 2px;
  padding: 0;
  margin: 0 0 20px;
  width: 100%;
  background-color: #f3f4f4;
  position: relative;
  height: 41px;
  top: 0;

  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 5px;
    height: 41px;
  }

  li {
    height: 41px;
    display: block;
    float: left;
  }

  a {
    color: #878787;
    padding: 0 15px 7px 15px;
    font-family: 'Lato', sans-serif;
    height: 41px;
    display: block;
    line-height: 41px;
  }

  a:hover, a.active {
    background-color: #fff;
    color: #555;
    text-decoration: none;
  }

  a.active {
    border-top: 1px solid #e2e3e4;
    border-left: 1px solid #e2e3e4;
    border-right: 1px solid #e2e3e4;
  }

  .sub-nav-btn {
    float: right;

    a {
      color: $color-brand;
    }
  }
}

.preferences {
  label {
    float: left !important;
  }
}

.preferences > .preferences-row > .input-container {
  border-top: none !important;
}

.cancellation-settings > .input-container {
  border-bottom: solid #eee 2px;
}

#main-container .content-container.partner-content {
  margin-bottom: 37px;
}

.popover {
  border-radius: 0;
  width: 125px;
}

.popover-content ul {
  list-style-type: none;
  padding: 0;
}

.popover i {
  margin-right: 10px;
  color: $color-brand;
}

.file-name {
  height: 15px;
}

/*===== FORMS =====*/


#main-container .content-container {
  border: 1px solid #E2E2E1;
  border-radius: 2px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  background-color: #fff;

  h4 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0;
  }

  p {
    margin-left: 15px;
  }

  .row {
    margin: 0;
    padding: 15px 0 15px 0;

    .input-container, .table-container, .text-container {
      padding-left: 10px;
      padding-right: 10px;
    }

    .input-container:first-child, .table-container:first-child, .text-container:first-child {
      padding-left: 20px;
    }

    .input-container:last-child, .table-container:last-child, .text-container:last-child {
      padding-right: 20px;
    }

    .text-container-full {
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
    }

    &.table-header {
      .input-container {
        font-weight: 500;
      }
    }

    &.heading-row {
      h4 {
        margin-left: 5px;
        margin-top: 5px;
      }
    }

    table {
      tr {
        th {
          font-weight: 500;
        }
      }
    }
  }

  .input-container, .table-container, .text-container {
    background: #fff;
    font-family: 'Lato', sans-serif;
    float: left;
  }

  .line-item-container {
    background: #fff;
    border-top: solid #eee 1px;
    border-bottom: solid #eee 1px;
    padding: 10px 15px;
    font-family: 'Lato', sans-serif;

    label {
      margin: 0;
      -webkit-user-select: none; /* webkit (safari, chrome) browsers */
      -moz-user-select: none; /* mozilla browsers */
      -khtml-user-select: none; /* webkit (konqueror) browsers */
      -ms-user-select: none; /* IE10+ */
    }
  }

  .line-item-btn {
    float: right;
    color: $color-brand;
    visibility: hidden;
  }

  .line-item-category {
    border-left: solid #46B272 4px;
  }

  .line-item-container.hover:hover {
    background: #ebf6fc;
    cursor: pointer;
  }

  .line-item-container.hover:hover .line-item-btn {
    visibility: visible;
  }

  .line-item-child {
    border-left: solid #d5d5d5 4px;
    float: right;
    width: 97%;
  }

  .table-container {
    min-width: 475px;
  }
}

.row {
  margin: 0;
}

form {
  label {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    display: block;

    &.checkboxes-inline {
      input[type="checkbox"] {
        position: static !important;
        margin-right: 10px;
      }
    }
  }

  .required abbr, abbr.required {
    color: #f00;
  }

  input {
    z-index: 0;
  }

  .checkbox input[type="checkbox"] {
    margin-left: 0px;
  }

  .check_boxes input[type="checkbox"] {
    position: relative;
    margin-right: 5px;
  }

  input:focus {
    box-shadow: none;
  }

  .error-block {
    color: #e60000;
    margin-left: 0 !important;
    margin-top: 10px;
  }

  .help-block {
    color: #768a98;
    margin-left: 0 !important;
    margin-top: 10px;
  }

  .control-group {
    > label.boolean {
      display: none;
    }
  }

  .control-group.boolean {
    .controls {
      input {
        margin-bottom: 4px;
        vertical-align: bottom;
        position: relative;
        margin-right: 4px;
      }
    }
  }

  .controls {
    label.checkbox {
      text-align: left;
    }
  }

  .control-group.date {
    .controls {
      select {
        display: inline-block;
        max-width: 100px;
      }
    }
  }
}

.form-group {
  margin: 0;
}

/*===== FORM FIELDS =====*/
.input-container, .line-item-container {

  .form-control {
    z-index: 0;
  }

  .form-control:focus {
    box-shadow: none;
  }

  .form-control::-moz-placeholder {
    color: #CACACA;
  }

  .form-control:-ms-input-placeholder {
    color: #CACACA;
  }

  .form-control::-webkit-input-placeholder {
    color: #CACACA;
  }

  .editor {
    padding: 0px;
  }
}

.field-upload {
  border: dashed #eeeeee 2px;
  padding: 50px 5px;
  width: 125px;
  font-style: italic;
  color: #CACACA;
  text-align: center;
}

.upload-file {
  display: none !important;
}

.field-upload:hover {
  cursor: pointer;
}

.field-textarea {
  border: 1px solid #eee;
  width: 100%;
  resize: vertical;
}

.field-textarea:focus {
  outline: none;
}

.bootstrap-select {
  width: 100% !important;
  margin-bottom: 0 !important;

  .dropdown-toggle {
    padding-left: 0;
    width: 100%;
  }
}

.selectpicker {
  display: block;
  background: #fff;
  border: none;
  outline: none;
  box-shadow: none;

}

.hidden {
  display:none;
}

.selectpicker:hover {
  background: #fff;
}

.selectpicker a {
  outline: none;
}

.dropdown-toggle.selectpicker.btn-default {
  background: #fff;
  box-shadow: none;
}

.form-group .bootstrap-select .btn:focus {
  background: #fff;
  box-shadow: none;
  outline: none !important;
}

.select-placeholder {
  color: #CACACA;
}

#main-container .new-ticket-wrapper {
  background: #e9e9e9;
}

#main-container .new-ticket-wrapper textarea {
  padding: 20px 20px;
}

#main-container .new-ticket-wrapper.dropshadow {
  border-bottom: solid #d5d5d5 5px;
}

.color-thumbnail {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.color-select {
  display: inline-block;
  width: 80%;
  position: relative;
  bottom: 10px;
  margin: 20px 0 0 12px;
}

.color-thumbnail.header {
  background: #7f7d7f;
}
.color-thumbnail.footer {
  background: #000;
}
.color-thumbnail.search {
  background: $color-brand;
}
.color-thumbnail.list {
  background: #65df7d;
}

/*===== TABLES =====*/
.table {
  font-size: 14px;
  margin-bottom: 0 !important;

  th, td {
    border: none !important;
  }

  th {
    font-weight: 500;
  }

  a {
    text-decoration: none;
  }

  .table-head-link, .table-body-link {
    text-align: right;
  }

  .table-head-link a {
    margin-left: 20px;
  }

  .table-body-link > a, .table-body-link > label {
    visibility: hidden;
    margin-left: 15px;
    color: $color-brand;
  }
}

.table-hover tbody tr:hover td {
    background: #ebf6fc;
}

.table-hover tbody tr:hover td a, .table-hover tbody tr:hover td label  {
    visibility: visible;
}

.amount-due {
  font-size: 20px;
}

.ticket-number {
  color: $color-brand;
}

/*===== PANELS =====*/
.panel {
  border-color: #ebebeb;
  border-bottom: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.panel-heading {
  background: #ebebeb;

  p {
    display: inline;
  }

  .fa {
    color: #444444;
    float: right;
    font-size: 30px;
  }
}

.panel-heading:hover {
  cursor: pointer;
}

.panel-info {
  .panel-heading {
    background-image: none;
    background-color: #f0f3f6;
    color: #555555;
    border-radius: 3px;
    border-color: #e2e3e4;
  }
}

.panel-body {
  border-top: 0 !important;
  padding: 5px 15px;

  table tbody td {
    font-family: 'Lato', sans-serif;
    padding-left: 30px;
  }
}

/*===== AVATARS =====*/
.admin-avatar {
  height: 50px;
  float: right;
}

/*===== MEDIA QUERIES =====*/
@media (max-width: 700px) {
  .main-header {
    min-width: 700px;
  }
}

/****************************************/
/*** Manage/Users loading indicators ****/
/****************************************/
.instance-admins-table td {
  .loading {
    display: none;
  }
}

/**************/
/*** Flash ****/
/**************/

.alert {
  cursor: pointer;
  z-index: 997;
  border: none;
  border-radius: 0;
  text-align: left;
  color: white;
  text-shadow: none;
  padding: 0 0 0 20px;
  width: 100%;

  &.static {
    position: static;
  }

  p {
      padding: 10px 49px 10px 0px;
      color: white;

      span.left-icon {
        margin-right: 15px;
      }

      span.right-icon {
        margin-left: 5px;
      }
  }

  a.close {
    position: absolute;
    right: 22px;
    color: white;

    &:hover {
      color: white;
    }
  }

  &.notice {
    position: relative;
    background-color: #ffebcb;

    a.close {
      width: 20px;
      height: 20px;
      display: inline-block;
      background: url(/assets/instance_admin/notices-sprites.png) -27px 0;
      vertical-align: middle;
      margin-right: 16px;
      top: 10px;

      opacity: 0.8;

      &:hover {
        color: white;
        opacity: 1.0;
      }
    }

    p {
      color: #e9b26e;

      i.ai-notice {
        width: 20px;
        height: 20px;
        display: inline-block;
        background: url(/assets/instance_admin/notices-sprites.png) 0 0;
        vertical-align: middle;
        margin-right: 16px;
      }
    }
  }

  &.error {
    position: relative;
    background-color: #f6cbbd;

    a.close {
      width: 20px;
      height: 20px;
      display: inline-block;
      background: url(/assets/instance_admin/notices-sprites.png) -27px -25px;
      vertical-align: middle;
      margin-right: 16px;
      top: 10px;

      opacity: 0.8;

      &:hover {
        color: white;
        opacity: 1.0;
      }
    }

    p {
      color: #e45d51;

      i.ai-error {
        width: 20px;
        height: 20px;
        display: inline-block;
        background: url(/assets/instance_admin/notices-sprites.png) 0 -25px;
        vertical-align: middle;
        margin-right: 16px;
      }
    }
  }

  &.success {
    position: relative;
    background-color: #c7e5d1;

    a.close {
      width: 20px;
      height: 20px;
      display: inline-block;
      background: url(/assets/instance_admin/notices-sprites.png) -27px -49px;
      vertical-align: middle;
      margin-right: 16px;
      top: 10px;

      opacity: 0.8;

      &:hover {
        color: white;
        opacity: 1.0;
      }
    }

    p {
      color: #52bc87;

      i.ai-success {
        width: 20px;
        height: 18px;
        display: inline-block;
        background: url(/assets/instance_admin/notices-sprites.png) 0 -49px;
        vertical-align: middle;
        margin-right: 16px;
      }
    }
  }

  &.deleted {
    background-color: #d9534f;
    position: relative;

    a.close {
      width: 20px;
      height: 20px;
      display: inline-block;
      background: url(/assets/instance_admin/notices-sprites.png) -27px 0px;
      vertical-align: middle;
      margin-right: 16px;
      top: 10px;

      opacity: 0.8;

      &:hover {
        color: white;
        opacity: 1.0;
      }
    }
  }

  &.warning {
    background-color: #f0ad4e;
    position: relative;

    a.close {
      width: 20px;
      height: 20px;
      display: inline-block;
      background: url(/assets/instance_admin/notices-sprites.png) -27px -49px;
      vertical-align: middle;
      margin-right: 16px;
      top: 10px;

      opacity: 0.8;

      &:hover {
        color: white;
        opacity: 1.0;
      }
    }
  }

  &.timeout {
    display: none !important;
    z-index: 0;
  }
}

/******************/
/*** Login Page ***/
/******************/

body.login {
  background-color: $primary_nav_color;
}

#login {
  margin-top: 210px;

  .login-form {
    width: 375px;
    margin: 0 auto;

    img {
      margin: 0 auto;
      margin-bottom: 30px;
      display: block;
    }

    input {
      padding-left: 26px;
      display: block;
      width: 100%;
      height: 40px;
      margin-top: 25px;
      box-sizing: border-box;
    }

    button {
      margin-top: 25px;
      margin-left: 0;
    }
  }
}

/********************/
/*** Photo Upload ***/
/********************/

.logo_image .fileupload .photo-item img{
  max-width: 400px;
}

.logo_retina_image .fileupload .photo-item img{
  max-width: 400px;
}

.favicon_image .fileupload .photo-item img{
  width: 32px;
  height: 32px;
}

.icon_image .fileupload .photo-item img{
  width: 60px;
  height: 60px;
}

.icon_retina_image .fileupload .photo-item img{
  width: 60px;
  height: 60px;
}

.hero_image .fileupload .photo-item img{
  width: 250px;
  height: 202px;
}

.single-photo .fileupload .uploaded .photo-item .thumbnail-processing {
  box-sizing: border-box;
  width: auto;
  height: auto;
  padding-top: 0px;
}

.logo_image .single-photo .fileupload .uploaded .photo-item .thumbnail-processing {
  height: 60px;
  padding-top: 11px;
}

.logo_retina_image .single-photo .fileupload .uploaded .photo-item .thumbnail-processing {
  height: 60px;
  padding-top: 11px;
}

.favicon_image .single-photo .fileupload .uploaded .photo-item .thumbnail-processing {
  height: 32px;
}

.icon_image .single-photo .fileupload .uploaded .photo-item .thumbnail-processing {
  height: 60px;
  padding-top: 11px;
}

.icon_retina_image .single-photo .fileupload .uploaded .photo-item .thumbnail-processing {
  height: 60px;
  padding-top: 11px;
}

.hero_image .single-photo .fileupload .uploaded .photo-item .thumbnail-processing {
  height: 202px;
  padding-top: 82px;
}

.jcrop-holder {
  margin-bottom: 30px;
  overflow: hidden;
}


.fileupload {
  .photo-action {
    position: relative;
    float: right;
    top: 0px !important;
    right: 0px !important;
  }

  .photo-item {
    box-sizing: border-box;
    width: 100%;
  }
}

.modal-content {
  h2 {
    font-size: 19px;
    line-height: 8px;
  }

  a.btn-blue {
    @extend .btn;
    @extend .btn-primary;
    background-color: #2f7fbe;
  }
}

.modal-content .actions input[type='submit'] {
  @extend .btn;
  @extend .btn-primary;
}

#payment-gateways {
  .submit-country-instance-payment-gateway {
    margin-top:14px;
  }
}

/************/
/*** Misc ***/
/************/

.box {
  margin: 20px;
}

/***********************/
/*** Modal ***/
/***********************/

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &.visible {
    opacity: 1;
  }

  html.no-rgba & {
    background: #000;
    opacity: 0.6;
  }

  z-index: $modal-z-index - 1;
}

.modal-wrapper {
  background: $gray240;
  border-radius: $border-radius-default;
}

.modal-container {
  z-index: $modal-z-index;
  padding-bottom: 50px;
  width: 600px;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;

  &.visible {
    opacity: 1;
  }

  &.loading .modal-close {
    display: none;
  }

  @media (max-width: $ipad-width) {
    position: fixed;
    top: 20px;
    right: 20px;
    left: 20px;
    margin: 0;
    width: 100%;
    width: auto;
  }
}

.modal-loading {
  @extend .modal-wrapper;
  height: 200px;
  background: $gray220 url("/assets/components/modal/loader.gif") center center no-repeat;
}

.modal-content {
  @extend .modal-wrapper;
  padding: $padding-default;

  header {
    display: block;
    margin-top: -$padding-default;
    margin-right: -$padding-default;
    margin-bottom: $padding-default;
    margin-left: -$padding-default;
    padding: $padding-default;
    background: $gray210;
    color: $gray80;
    border-top-left-radius: $border-radius-default;
    border-top-right-radius: $border-radius-default;

    h2 {
      color: $gray80;
    }
  }

  hr,
  .hr {
    border-bottom: 0;
    margin-left: -$padding-default;
    margin-right: -$padding-default;
    margin-top: $padding-default;
    margin-bottom: $padding-default;
    text-align: center;
  }

  .hr span {
    position: relative;
    top: -10px;
    display: inline-block;
    padding: 0 8px;
    background: transparent;
    color: $gray120;
    font-weight: bold;
  }

  .intro {
    font-weight: bold;
    color: $dnm_white;
  }
}

.modal-close {
  position: absolute;
  top: 6px;
  right: 8px;
  z-index: $modal-z-index + 3;
  width: 18px;
  height: 18px;
  color:$icon;
  font-size: 18px;

  &:hover {
    color: $icon-hover;
  }
}

.modal-body-wrapper {
  position: fixed;
  width: 100%;
}

.btn.dropdown-toggle.selectpicker {
  padding-left: 10px;
}

.bootstrap-select.btn-group .btn .filter-option {
  font-size: 12px;
  line-height: 20px;
  height: 20px;
}

th.actions-2 {
  width: 105px;
}

.icon-set {
  padding-top: 15px;
  padding-left: 15px;
  height: 60px;
}

.input-col-clearfix {
  height: 60px;
}

.pagination {
  span, em, a {
    background-color: #fff;
    padding: 8px;
    border: 1px solid #e1e1e1;
  }
}

.color-picker-container {
  min-height: 70px;
  min-width: 250px;

  .controls {
    position: relative;

    .color-picker-color {
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      display: inline-block;
      border-radius: 2px 0 0 2px;
      border-left: 1px solid #e2e3e4;
      border-top: 1px solid #e2e3e4;
      border-bottom: 1px solid #e2e3e4;
    }

    input {
      position: absolute;
      top:0;
      left: 29px;
      width: 178px;
      height: 30px;
      line-height: 30px;
      border: 1px solid #e2e3e4;
      text-indent: 3px;
      border-radius: 0px 2px 2px 0;
    }

    .default-container {
      position: absolute;
      left: 210px;
      top: 3px;
    }

    p.error-block {
      position: absolute;
      top: 30px;
    }
  }
}

.colorpicker {
  min-width: 125px;
}

/* Shipping options */
#main-container.dimensions_templates {
  table {
    thead {
      span.header-link {
        float: right;
      }
    }
  }

  form {
    .row.submit-row {
      margin-top: 25px;
      float: right;
    }
  }

  &.dimensions_templates-index {
    .new_dimensions_template_container_explanation {
      font-size: 20px;
      margin-bottom: 25px;
    }

    .new_dimensions_template_link_container {
      font-size: 24px;
      text-align: center;
    }
  }
}

#main-container.providers {
  form {
    .row.submit-row {
      margin-top: 25px;
      float: right;
    }
  }
}
/* End shipping options */

/* Admin custom styles */
.admin-stylish-inputs {
  div.control-group {
    width: 100%;
    margin-bottom: 10px;

    label {
      float: left;
      width: 200px;
    }
    div.controls {
      float: left;
    }

    input {
      border: 1px solid #eee;
      padding: 3px;
      width: 300px;
    }
  }

  div.control-group:after {
    content: '';
    display: block;
    clear: both;
  }
}

.hidden_form_element {
  display: none;
}

.hidden_form_element2 {
  position: absolute;
  left: -5000px;
  top: -5000px;
}

.translations-input-container {
  .left {
    float: left;
  }
  .right {
    float: left;
    padding: 0 0 0 15px;
  }
  .clear {
    clear: both;
  }
}

abbr[title] {
  border-bottom: 0 none;
  cursor: default;
  text-decoration: none;
}

i.fa-action-icon-submit {
  cursor: pointer;
}

/* Admin custom styles */
