.upsell_addons {
  .question-icon {
    color: #fff;
    background-color: #c9c9c9;
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    padding-top: 4px;
    margin-right: 20px;
    font-weight: bold;
  }
}
