/***********************************************************/
/* Common values used throughout Instance Admin's styling. */
/***********************************************************/

// Colors
$white:                     #FFFFFF;
$primary_nav_color:         #4A4C4F;
$background_color:          #F7F5F5;
$tab_background_color:      #FEFEFE;
$tab_border_color:          #B3B3B3;
$highlight_color:           #2F7FBE;
$form_field_outline_color:  #DEDFDF;
$error_color:               #b94a48;

// Glyphicons
$icon-font-path: "/assets/" !default;

// Typography
$light_text_color:          #A9ABAE;
$dark_text_color:           #3B3B3B;

// Stuff
$border-radius-default:         5px;
$input-color:               $dark_text_color;
$chart-border: #f4f4f4;
