.content-container
  %h4 Zones
  .row
    .table-container.col-xs-12
      %table.table.sortable
        %thead
          %tr
            %th Name
            %th Description
            %th Default tax zone
            %th
        %tbody
          - @zones.each do |zone|
            = render 'index_row', zone: zone

= content_for :header_buttons do
  = link_to 'New zone', new_instance_admin_buy_sell_zone_path, class: 'pull-right btn btn-blue'

