.wrap-a.reduce-top
  .contain

    %h1.h2
      = link_to t(:my_projects), dashboard_project_type_projects_path(@transactable_type)
      >
      = t :add_project
    / white box
    .box-a
      - unless current_user.instance_admin?
        .empty-projects
          %p.cta
          = t :extras_are_coming_soon
      - else
        = render 'form'
