.accordion-group {
  border-radius: $border-radius-default;
  background: $theme_white;

  .accordion-toggle {
    display: block !important;
    &:after {
      float: right
    }
  }

  //  By default, collapsed
  input + .accordion-toggle:after {
    content: "\44";
  }

  input[checked="checked"] + .accordion-toggle:after  {
    content: "\46";
  }
}

.accordion-dim {
  .accordion-group {
    border: none;
    background: $gray210;

    .accordion-toggle {
      color: $theme_white;
    }
  }
}
