<div class="customizations nested-fields-set">
  {% fields_for emergency_contacts, form: customizations %}
    <div class="nested-container">
      {% include 'forms/emergency_contacts_fields', form_object_emergency_contacts: form_object_emergency_contacts %}
    </div>
  {% endfields_for %}
  <div class="add-link">
    {% link_to_add_association label: 'Add Emergency Contact', form: form_object_customizations, class: 'btn', association: emergency_contacts, partial: forms/emergency_contacts_fields %}
  </div>
</div>
