{% assign form_object_emergency_contacts = emergency_contacts %}
<div class='panel nested-fields with-border'>
  {% fields_for properties, form: emergency_contacts %}
    {% input contact_name, input_html-tabindex: 1, form: properties %}
    {% input contact_phone, input_html-tabindex: 2, form: properties %}
    {% input contact_email, input_html-tabindex: 3, form: properties %}
    {% input contact_address, input_html-tabindex: 4, form: properties %}

    <div class='pull-right'>
      {% link_to_remove_association label: 'Remove', form: emergency_contacts %}
    </div>
  {% endfields_for %}
</div>
