{% assign form_object_qualifications = qualifications %}
<div class='panel nested-fields with-border'>
  {% fields_for properties, form: qualifications %}
    {% include 'forms/qualifications' %}
    {% input qualification, collection: @qualifications, form: properties %}
    {% comment %}
    Pawel the idea here is that this input field will overwrite select's value - this way we will be able to provide validation for qualification field
    {% input qualification, as: hidden, disabled: true, form: properties %}
    {% endcomment %}
    {% input year_completed, form: properties %}

    <div class='pull-right'>
      {% link_to_remove_association label: 'Remove', form: qualifications %}
    </div>
  {% endfields_for %}
</div>
