<div class='actions'>
  {% submit 'Save', class: 'desksnearme submit btn btn-green', data-disable_with: 'Saving...' %}
  {% submit "Save & Next", class: 'desksnearme submit btn btn-green', data-disable_with: 'Saving...' %}
</div>
