- if params[:controller] != 'locations'
  - @site_name = defined?(site_name) ? site_name : platform_context.site_name
  - @current_url = defined?(original_url) ? original_url : request.original_url
  - @description = defined?(description?) ? description : platform_context.description
  - @site_title = defined?(site_title) ? site_title : title_tag
  - @site_image_url = defined?(site_image_url) ? site_image_url : platform_context.theme.hero_image.url

  = render 'social/facebook'
  = render 'social/gplus'
  = render 'social/twitter'
