%meta{name: 'twitter:card', content: 'summary'}
%meta{name: 'twitter:site', content: @site_name}
%meta{name: 'twitter:title', content: @site_title}
%meta{name: 'twitter:description', content: @description}
%meta{name: 'twitter:image', content: @site_image_url}
%meta{name: 'twitter:url', content: @current_url}
