- category_name = field.split(" - ")[1]
- category = f.object.transactable_type.categories.roots.where(name: category_name).first
- if category.present?
  = render partial: 'dashboard/shared/fields/category', locals: { category: category, f: f, categorizable: f.object.transactable_type }
