%h2
  %abbr{ title: "required"} *
  = t('dashboard.photos.title')
%p= t('dashboard.photos.requirement')

= f.input :photo, as: :image, label: false, multiple: true, upload_url: dashboard_photos_path, upload_attr_name: "#{f.object_name}[photos_attributes][0][image]", collection: dashboard_transactable_photos_to_image_input_collection(@photos), sortable: true
