= render 'attachment', attachment: attachment, f: nil

:javascript
  $('li[data-seller-attachment="#{attachment.id}"] select[data-seller-attachment-access-level]').customSelect();
  $(document).trigger('init.sellerattachmentaccesslevelselector', [$('li[data-seller-attachment="#{attachment.id}"]')]);
