<h2>Hello {{ user.first_name }},</h2>

<p>Thanks for registering! We're thrilled you've joined the <b>BronXchange community</b>.</p>

<p>We appreciate the trust you've placed in us and look forward to helping you find and purchase from great local vendors.</p>

<p>We're always here to help. If you would like help from our support team, just email or call us! Send us a message at <a href="mailto:support@bronXchange.com">support@bronXchange.com</a> or call {{ platform_context.phone_number }} and we'll take care of you right away.</p>

<p><b>Make it a great day!</b></p>
