<p>Hello {{ lister.first_name }},</p>

<p>Congratulations! You have successfully completed your profile. Now you're ready for next steps. Here are three ways to get more done:</p>

<p>#1 Search for Vendors<br />
BronXchange will allow you to find local businesses from a wide range of industries. Find the best people for your ordering and service needs!
</p>

<p>#2 Connect with Vendors<br />
Our community allows you to communicate directly with Vendors through the BronXchange marketplace. Find out if they are the right fit to meet your needs.
</p>

<p>#3 Create an Order<br />
You can create an order by specifying what you are looking for. It is like a Request For a Proposal that you will send to the vendors from whom you would like to receive bids, or to provide them with information on your purchasing needs.
</p>

<p>#3 Ask a Vendor to send you a Quote<br />
Now you can simply send an invite to a vendor and wait for a reply.
</p>

<p><b>Make it a great day!</b></p>
