- if params[:action] == 'booking_successful'
  .modal.fade.in#booking_successful{tabindex: '-1', role: 'dialog', 'aria-hidden' => 'false', style: 'display: block;'}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: 'button', 'data-dismiss' => 'modal', 'aria-label' => 'Close'}
            %span{'aria-hidden' => 'true'} ×

          %p.modal-title Your purchase was successful!

        .modal-body.clearfix.text-center
          = link_to 'Add to Calendar', export_dashboard_reservation_path(@reservation, format: :ics),
              class: 'btn blue'

          = link_to 'Manage', '#', class: 'btn gray', 'data-dismiss' => 'modal'


  - content_for :domready do
    $('#booking_successful').modal();
