%table.table.table-striped
  %thead
    %tr
      %th State
      %th Company
      %th Charges
      %th Created at
      %th Transferred At
      %th Service Fees
      %th Transfer Amount

  - collection.each do |resource|
    = render 'global_admin/payment_transfers/payment_transfer', :resource => resource

