.row-fluid.support.detail
  .span8.offset2
    %h1 Request ##{@ticket.id}
    .box
      .header.clearfix
        .left
          %h2
            =@ticket.subject
        .right
          %h2
            =@ticket.state.titleize

      %h3.messages Messages
      = render partial: 'support/ticket_messages/ticket_message', collection: @ticket.messages, spacer_template: 'support/ticket_messages/spacer'

      -if @ticket.open?
        = render partial: 'support/ticket_messages/form', locals: { ticket: @ticket, message: @message, with_close: false, form_url: support_ticket_ticket_messages_path(@ticket) }

