<p>Unfortunately, {{ lister.name }} did not select your offer for {{ transactable.name }}.</p>

<p>You are able to submit another offer with updated details at your convenience.</p>

<p>If it doesn't work out this time, don't worry — there will be more opportunities!</p>

<p>Remember, we're always here to help. Feel free to reach out to our support team for more details. Send us a message at <a href="mailto:support@bronXchange.com">support@bronXchange.com</a> or call {{ platform_context.phone_number }}, and we'll take care of you right away.</p>

