<p>Congratulations — {{ transactable.creator.name }} has selected your offer! You can get started working on this order, according to the agreed terms.</p>

<p>We're happy that our community has provided you with this opportunity and wish you best of time working on this order. The order can now be tracked under the "My Orders" &gt; "Orders in Progress" in your user dashboard.</p>

<p>Take advantage of 48 hour rapid payment available through the BronXchange. To apply, click here to apply for Invoice Financing with our partner EVI.</p>

<p>Remember, we're always here to help. If you would like help from our support team, just email or call us. Send us a message at <a href="mailto:support@bronXchange.com">support@bronXchange.com</a> or call {{ platform_context.phone_number }}, and we'll take care of you right away.</p>

