<% unless current_user %>
<div class="please_signin">
  <h1>Do we know you?</h1>
  <p>Please <%= link_to 'Sign In/Up', authentications_path %> to book a desk.</p>
</div>
<% else %>
  <% unless current_user.bookings.on(@date).any? %>
    <%= render :partial => "form", :locals => {:workplace => @workplace, :booking => @booking}%>
  <% else %>
    <div class="already_booked">
      <h1>Awww Nuuu!</h1> 
      <p>You have already booked a desk for that date!</p>
      <p><%= link_to "Close", @workplace, :class => "cancel" %></p>
    </div>
  <% end %>
<% end %>
