- title t('orders.index.title')

.dash-head.clearfix
  - if params[:controller].include?('received')
    %p ORDERS RECEIVED
  - else
    %p MY ORDERS

.dash-body
  = render partial: 'dashboard/orders/order', collection: @orders

- unless @orders.empty?
  .row-fluid
    .col-md-12
      = will_paginate_styled(@orders)

