- title t('orders.index.title')

.dash-head.clearfix
  - if params[:controller].include?('received')
    %p ORDERS RECEIVED
  - else
    %p MY ORDERS

.dash-body
  - if @orders.any?
    = render partial: 'dashboard/orders/order', collection: @orders
  - else
    .dash-body-container
      = image_tag 'dashboard/exclamation.png'
      %p.inline= t 'orders.empty_list'

- unless @orders.empty?
  .row-fluid
    .col-md-12
      = will_paginate_styled(@orders)

