- title t('buy_sell_market.checkout.labels.order_details')

- content_for :page_header do
  %h1
    = link_to t('orders.title.my_orders'), dashboard_orders_path, class: 'hidden-xs hidden-sm'
    %span.hidden-xs.hidden-sm >
    =  t('buy_sell_market.checkout.labels.order_details')

.panel
  .panel-body
    .orders-a
      = render @order

- content_for :script do
  :javascript
    $(function() {
      $(document).trigger('init:disableorderform.nearme', 'form#checkout-form');
    });
