%hr/

%div{:data => {:"shipping-methods-list" => true}}
  = render 'dashboard/base/shipping_profiles_list', f: f

%p
  = link_to new_dashboard_shipping_category_path, class: 'btn btn-primary add_shipping_profile', data: { modal: true, "modal-class": 'shipping_profiles_modal' } do
    %span.fa.fa-plus
    = t('manage.buy_sell.shipping_profiles.add_new_shipping_profile')

%hr/
