- @user.published_blogs.limit(5).decorate.each do |post|
  %article.post
    .post-head.clearfix
      %h4.pull-left= link_to post.title, user_blog_post_show_path(user_id: @user, id: post)
      %p.pull-right.date= post.published_at
    .post-body
      %p
        = post.excerpt.html_safe

.submit-bar
  = link_to t('user_profile.buttons.visit_blog'), user_blog_posts_list_path(@user), class: 'btn green'
