.sorting-reviews{ 'data-sorting-reviews' => true }
  .row-fluid
    .span7
    .span5
      = t('registrations.sort')
      .dropdown.reviews-dropdown{ 'data-reviews-dropdown' => true, 'data-url' => reviews_collections_path(@user) }
        %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          %span.title{'data-title' => true}=t('user_reviews.reviews_about_this_seller') 
          %span.ico-chevron-down
        .clearfix
        %ul.dropdown-menu
          - if @reviews.exists?
            %li{'data-option' => 'reviews_about_seller'}=t('user_reviews.reviews_about_this_seller') 
          - if @reviews_left_by_seller.exists?
            %li{'data-option' => 'reviews_left_by_seller'}=t('user_reviews.reviews_left_by_this_seller') 
          - if @reviews_about_buyer.exists?
            %li{'data-option' => 'reviews_about_buyer'}=t('user_reviews.reviews_about_this_buyer')
          - if @reviews_left_by_buyer.exists?
            %li{'data-option' => 'reviews_left_by_buyer'}=t('user_reviews.reviews_left_by_this_buyer')

.reviews-content{'data-reviews-content' => true}
