- @user.companies.first.listings.decorate.in_groups_of(2) do |line|
  .row-fluid
    - line.each do |transactable|
      .span6
        - if transactable
          = link_to location_listing_path(transactable.location, transactable) do
            .item-img
              = image_tag(transactable.photos.first.try(:image_url, :large))
            .details.clearfix
              %p= transactable.name
              %p.name= transactable.location.address
              -#%p.price= product.display_price
