<a href="{{ transactable.location_prefixed_path }}">
  <div class="item-img">
    <img src="{{ transactable.photo_url }}" />
  </div>
  <div class="details clearfix">
    <p>
      {{ transactable.name }}
    </p>
    <p>
      {{ transactable.address }}
    </p>
  </div>
</a>
