%tr
  %td= link_to pages_path(resource.path), global_admin_page_path(resource)
  %td
    = link_to 'Edit', edit_global_admin_page_path(resource), class: 'btn'
    = link_to "Delete", [:admin, resource], :method => :delete,
        data: { confirm: 'Are you sure you want to delete this?' }, :class => "btn btn-danger"

