#category_form
  = render 'form'

  .content-container
    - @categories.each do |category|
      .input-container.col-xs-12
        .row
          %span.category-name= category.name
          .pull-right
            = link_to t('instance_admin.edit'),  url_for(['instance_admin', @controller_scope, @categorizable, category]) + '/edit'
            = link_to t('instance_admin.delete'),  url_for(['instance_admin', @controller_scope, @categorizable, category]),  method: :delete, data: { confirm: t('instance_admin.are_you_sure') }
