#category_form
  = render 'form'
  .content-container
    - @categories.each do |category|
      .input-container.col-xs-12
        .row
          %span.category-name= category.name
          .pull-right
            = link_to "Edit",  url_for(['instance_admin', @controller_scope, @categorable, category]) + '/edit'
            = link_to "Delete",  url_for(['instance_admin', @controller_scope, @categorable, category]),  method: :delete, data: { confirm: 'Are you sure you want to delete this?' }, title: 'Delete'
