- content_for :page_header do
  %h1= t 'wish_lists.name'

.panel
  .panel-body
    - if @items.any?
      .wish-list
        = render @items
    - else
      %p.empty-resultset= t 'wish_lists.empty_list'

- if @items.any?
  .form-actions
    = link_to t('wish_lists.buttons.clear'), clear_dashboard_wish_list_items_path, method: :delete, data: { confirm: t('wish_lists.confirmations.clear') }

