.booking-module-container {
  .booking-module {
    font: normal 32px/36px $font-regular, sans-serif;

    @media (max-width: $booking-module-breakpoint-size) {
      font: normal 26px/30px $font-regular, sans-serif;
    }

    @media (max-width: $iphone-portrait - 1) {
      font: normal 22px/28px $font-regular, sans-serif;
    }

    .label {
      .period {
        font-family: $font-bold;
      }

      @media (max-width: $iphone-portrait - 1) {

        .period {
          font-family: $font-regular;
        }
      }
    }
  }
}
