.checkbox {

  &.checked {

    .checkbox-icon-outer {
      color: $theme_white;
      background: $theme_blue;
    }
  }
}

.radio {

  &.checked {

    .radio-icon-outer {
      background: $theme_blue;

      .radio-icon-inner {
        background: $theme_white;
      }
    }
  }
}

.error {

  .radio {

    .radio-icon-outer {
      background: $theme_red;
    }
  }

}
