<ul class="actions-a">

  <li>
    <a href="{{ transactable.show_path }}" class="btn btn-default">Project details</a>
  </li>

  <li>
    <a class="btn btn-info" data-modal="true" href="{{ transactable.creator.user_message_path }}">Send Message</a>
  </li>

  {{ transactable.creator.click_to_call_button }}

  {% if can_make_offer == true %}
    <li>
      <a class="btn btn-info" href="{{ 'new_dashboard_order_path' | generate_url: transactable_id: transactable.id }}">Make an Offer</a>
    </li>
  {% endif %}
</ul>
