header#listing_search {
  form {
    .search-container {

      input[type="text"]#search {
        background: $theme_white;
      }
    }

    &.search_results {

      .search-icon {
        color: $theme_white;
      }
    }

  }

  .search-filters {

    .search-filter {
      border: 1px solid $theme_white;

      ul {
        border: 1px solid $theme_white;
        background: $theme_white;
      }

      &.active {
        background: $theme_white;
      }

    }
  }

}

/*** Listing View ***/
section.search section#results.list {

  article.listing {

    .listing-google-map-wrapper {

      .listing-google-map {

        .google-map-popover {

          .close {
            color: $theme_black;
          }
        }
      }
    }

    .info {
      color: $theme_white;
      @include background-image(linear-gradient(rgba(250, 250, 250, 0), $theme_black));
    }
  }

}

/*** End Listing View ***/

/*** List Table View ***/

/*** End List Table View ***/

/*** Infinite Scroll ***/

/*** End Infinite Scroll ***/

/*** Products View ***/

/*** End Products View ***/

section.search section#results.mixed {

  .list {
    .filters {
      .search-mixed-filter {
        .date-range {
          input {
            background: $theme_white;
          }

          #date-range-update {
            color: $theme_white;
          }
        }
      }
    }
  }

}
