%h1 Transactable Types

= link_to 'New Transactable Type', new_admin_instance_transactable_type_path(instance), class: 'btn'

%table.table.table-striped
  %thead
    %tr
      %th Name
  %tbody
    - instance.transactable_types.each do |resource|
      = render 'admin/transactable_types/index_row', :resource => resource
