%h4 Manage Partners
.content-container
  .row
    .table-container.col-xs-12.dropshadow
      %table.table
        %tbody
          - platform_context.instance.partners.each do |partner|
            = render 'index_row', partner: partner
.content-container
  = link_to 'Add Partner', new_instance_admin_manage_partner_path, class: 'pull-right btn btn-green'