%legend Manage Partners
= link_to 'Add Partner', new_instance_admin_manage_partner_path, class: 'pull-right btn btn-primary'

%table.table
  %tbody
    - platform_context.instance.partners.each do |partner|
      = render 'index_row', partner: partner
