Modal.close()
$('#location-list').prepend('#{escape_javascript( render @location )}');
$('.container.page-wrapper').prepend('#{escape_javascript( render 'shared/bootstrap_flash_messages')}');

- flash.discard
