$("#location-list .row[data-location-id=#{@location.id}]").hide('slow')
$(".alert").remove()
$('.container.page-wrapper').prepend('#{escape_javascript( render 'shared/bootstrap_flash_messages')}');
- flash.discard
