.content-container
  .sub-header-nav
    %ul
      - AnalyticsFacade::AnalyticsBase::ADMIN_CHARTS.each do |chart_type|
        %li
          = link_to t('instance_admin.analytics.' + chart_type) , instance_admin_analytics_overview_path(chart_type: chart_type), class: (params[:chart_type] || 'revenue') == chart_type ? 'active' : ''

  = render partial: 'shared/chart', object: @chart

