@font-face {
  font-family: 'fontello';
  src: url("/assets/dashboard/fontello/font/fontello.eot?61731709");
  src: url("/assets/dashboard/fontello/font/fontello.eot?61731709#iefix") format("embedded-opentype"), url("/assets/dashboard/fontello/font/fontello.woff?61731709") format("woff"), url("/assets/dashboard/fontello/font/fontello.ttf?61731709") format("truetype"), url("/assets/dashboard/fontello/font/fontello.svg?61731709#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

%fontello {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
