.jumbotron {
    padding: 30px;
    margin: 0 $padding-base-horizontal 30px;
    text-align: center;
    border: 3px solid $jumbotron-border;
    border-radius: $border-radius-base;
    background: $jumbotron-background;

    h1 {
        font-size: 21px;
        margin: 0 0 15px;
    }

    p {
        margin: 0;
    }

    @media (min-width: $screen-desktop) {
        padding-left: 100px;
        padding-right: 100px;
        margin-left: 0;
        margin-right: 0;
    }
}
