.content-container
  .row
    .table-container.col-xs-12.dropshadow
      %table.table
        %thead
          %tr
            %th Company
            %th Charges
            %th Created at
            %th Transferred At
            %th State
            %th Service Fees
            %th Transfer Amount

        - @payment_transfers.each do |resource|
          = render 'instance_admin/manage/transfers/payment_transfer', :resource => resource
