.row
  .table-container.col-xs-12
    %table.table
      %thead
        %tr
          - PaymentTransferDecorator.column_headings_for_report.each do |column_heading|
            %th= column_heading

      - @payment_transfers.each do |resource|
        = render 'instance_admin/manage/transfers/payment_transfer', :resource => resource
