%tr{class: resource.css_row_class }
  - resource.column_values_for_report.each do |column_value|
    %td
      = column_value
  %td
    = link_to t('instance_admin.details'), instance_admin_manage_transfer_path(resource)
