%h4= resource_class.name.underscore.humanize.pluralize

%p
  Transfers are generated automatically depending on your setting in 'Settings > Configuration' for
  outstanding charges we've recieved on behalf of hosts. The next batch will be generated at about:
  %strong
    = next_payment_transfers_date

= render 'list_table'

= will_paginate @payment_transfers
