%legend= resource_class.name.underscore.humanize.pluralize

%p
  Transfers are generated automatically at the start of every month for
  outstanding charges we've recieved on behalf of hosts. The next month's batch will be generated at about:
  %strong= l Time.zone.now.advance(:months => 1).beginning_of_month, format: :long

= render 'list_table'

= will_paginate collection
