/*!
* Defaults
/* ---------------------------------------- */

form {}

label {
  cursor: pointer;
  vertical-align: middle;
}

label:first-child {
  display: block;
  margin: 0 0 5px;
}

label em {
  color: #f00;
  font-style: normal;

  abbr {
    border: none;
  }
}

input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=url],
input[type=tel],
textarea,
select {
  width: 100%;
  height: 40px;
  padding: 0 9px;
  border: 1px solid #dde1ea;
  border-radius: 0;
  background: #fff;
  vertical-align: top;
  line-height: 38px;
  -webkit-appearance: none;
  outline: none;
}

.native.android input:not([type=checkbox]):not([type=radio]) {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

textarea {
  overflow: auto;
  height: auto;
  padding: 9px;
  line-height: 1.2;
  resize: vertical;
}

select {
  padding: 8px 15px 8px 8px;
  background: #fff url("/assets/community/select-a.png") 100% 50% no-repeat;
  line-height: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

select[multiple] {
  height: auto;
  background: #fff;
  outline: none;
  padding: 8px;
  line-height: normal;
  text-indent: 0;
  text-overflow: '';
}

select::-ms-expand {
  display: none;
}

.ie9 select,
.ie8 select {
  padding-right: 8px;
  padding-left: 6px;
  background-image: none;
}

.ie8 select {
  padding-top: 10px;
  padding-bottom: 10px;
}

.gecko select {
  padding-left: 3px;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  overflow: visible;
  cursor: pointer;
  -webkit-appearance: button;
}

button::-moz-focus-inner {
  padding: 0;
  border: none;
}

button[disabled],
input[disabled] {
  cursor: default;
}

::-webkit-input-placeholder {
  color: #aaa;
  font-style: normal;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #aaa !important;
  font-style: normal;
  opacity: 1;
}

:-moz-placeholder {
  color: #aaa;
  font-style: normal;
  opacity: 1;
}

::-moz-placeholder {
  color: #aaa;
  font-style: normal;
  opacity: 1;
}

.placeholder,
.placeholdersjs {
  color: #aaa !important;
  font-style: normal;
  opacity: 1;
}

select:invalid {
  color: #aaa;
}

/* tables */

table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;

  th,
  td {
    padding: 5px 10px;
    border: 1px solid #eee;
  }
}

/* headers */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 20px;
  color: #333;
  font: bold 10px / 1.2 $font-default;
}

h1,
.h1 {
  color: #000;
  font-size: 30px;
  font-weight: bold;
}

h2,
.h2 {
  color: #53565a;
  font-size: 24px;
  font-weight: normal;
}

h3,
.h3 {
  color: #00aeef;
  font-size: 24px;
  font-weight: normal;
}

h4,
.h4 {
  color: #53565a;
  font-size: 18px;
  font-weight: normal;
}

h5,
.h5 {
  color: #53565a;
  font-size: 16px;
  font-weight: normal;
}

h6,
.h6 {
  color: #53565a;
  font-size: 14px;
  font-weight: bold;
}

@include bp($screen-mobile) {
  h1,
  .h1 {
    font-size: 24px;
  }

  h2,
  .h2 {
    font-size: 20px;
  }

  h3,
  .h3 {
    font-size: 20px;
  }

  h4,
  .h4 {
    font-size: 16px;
  }

  h5,
  .h5 {
    font-size: 14px;
  }

  h6,
  .h6 {
    font-size: 14px;
  }
}


/* lists */

ul,
ol,
dd,
blockquote {
  padding-left: 40px;
}

ul,
ol {
  ul,
  ol {
    margin-bottom: 0;
  }
}

ol,
ul {
  list-style: none;
  counter-reset: ordered;
}

li {
  counter-increment: ordered;
}

ol li:before {
  position: absolute;
  content: counter(ordered) ".";
  width: 15px;
  margin: 0 0 0 -30px;
  text-align: right;
}

ul li:before {
  float: left;
  overflow: hidden;
  content: '\2022';
  margin: 0 0 0 -25px;
}

/* links */

a {
  background: transparent;
  color: #0071c5;
  text-decoration: none;
}

a,
a:before,
a:after,
label,
button {
  transition: border 0.25s, background 0.25s, color 0.25s, box-shadow 0.25s, opacity 0.25s;
}

a:hover {
  color: #00aeef;
  text-decoration: none;
}

a span {
  cursor: pointer;
}

/* images */

img {
  max-width: 100%;
  border-width: 0;
}

.ie8 img {
  max-width: none;
  box-sizing: content-box;
}

/* other */

blockquote {
  padding: 0;
  margin-left: 20px;
  color: #004280;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.8;
}

pre {
  padding: 10px;
  border: 1px solid #ccc;
  background: #f3f3f3;
  font: 12px/1.2 Consolas, Monaco, Courier New, monospace;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  padding: 2px 4px;
  background-color: #f9f2f4;
  color: #c7254e;
  font-size: 80%;
  white-space: pre;
}

hr {
  overflow: hidden;
  width: 100%;
  height: 1px;
  margin: 20px 0;
  border: none;
  border: none;
  background: #ccc;
  font-size: 0;
}

sup,
sub {
  font-size: 0.6875em;
  vertical-align: top;
}

sub {
  vertical-align: bottom;
}

/* jstree */
ul.jstree-container-ul li.jstree-node::before {
  content: normal;
}
