.entry-content-a{ id: "entry-content-#{comment.id}" }
  .entry-body{ class: ('edited' if comment.created_at != comment.updated_at) }
    = videoify_and_parse_with_markdown(comment.body , { iframe_width: 400, iframe_height: 225 })
  .entry-editor
    = render "comments/form", comment: comment
