- css_class = local_assigns[:is_active].present? ? "is-active" : ""

%div.comment{:class => css_class}
  - if current_user
    .publish-a
      = render "comments/form", comment: comment, comment_view: true

  - comments =  comment.commentable.comments.order("created_at DESC").paginate(page: 1, per_page: 10)
  .comments{ id: "comments-feed-#{comment.commentable&.id}", "data-comments-for": comment.commentable&.id, "data-current-user-id": current_user&.id }= render comments

  .aligncenter
    - if comments.total_pages > comments.current_page
      = link_to t(:load_more_comments), url_for([comment.commentable, "comments"]), data: { remote: true, "load-more-comments": true, params: { page: 2 }}
