= simple_form_for comment, url: url_to_comment(comment.commentable, comment), remote: true  do |f|
  - data = comment.persisted? ? nil : {'new-comment-for': comment.commentable.id }

  = f.input :body, label: false, input_html: { maxlength: 5000, data: data, cols: 40, rows: 3 }

  %p.action
    = f.submit I18n.t('activity_feed.user_status_submit'), class: 'button-a tiny'
