= render 'instance_admin/settings/location_types/index', instance: @instance
= render 'instance_admin/settings/location_types/new'

.settings-controller-modal
  = render 'instance_admin/shared/modal', heading: "Delete type"

