.content-container
  %h4 Tax rates
  .row
    .table-container.col-xs-12
      %table.table.sortable
        %thead
          %tr
            %th Zone
            %th Name
            %th Category
            %th Amount
            %th Included in price
            %th
        %tbody
          - @tax_rates.each do |tax_rate|
            = render 'index_row', tax_rate: tax_rate

= content_for :header_buttons do
  = link_to 'New tax rate', new_instance_admin_buy_sell_tax_rate_path, class: 'pull-right btn btn-blue'

