%h4.reservation-emphasis
  Your booking was requested successfully!

.reservation-list.just-booked
  = render 'reservation', reservation: @reservation.decorate

- unless (@reservations - [@reservation]).empty?
  %h4.other-reservation-separator
    #{pluralize((@reservations - [@reservation]).count, ' other booking')}
