.btn {
    padding: 10px 25px;
    text-align: center;
    background: $color-primary;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    font-weight: 400;
    letter-spacing: .02em;
    text-transform: uppercase;
    font-family: $font-stack-alt;
    transition: background .3s ease;
    font-size: 14 / 16 * 1rem;
    line-height: 1em;

    &:hover, &:focus, &:active {
        color: #fff;
        background: darken($color-primary, 10%);
    }

    @include breakpoint(600px) {
        display: inline-block;
    }
}

.btn-sm {
    padding: 5px 15px;
    font-size: 12 / 16 * 1rem;
}

.btn-xs {
    padding: 5px 10px;
    line-height: 1.4;
    font-size: 10 / 16 * 1rem;
}

.btn-delete {
    background: $color-danger;

    &:before {
        @include fa-icon;

        content: $fa-var-ban;
        margin-right: 10px;
    }

    &:hover, &:focus, &:active {
        background: lighten($color-danger, 10%);
    }
}

.btn-flat {
    background: none;
    color: $color-primary;

    &:hover, &:focus, &:active {
        color: darken($color-primary, 10%);
        background: rgba(0, 0, 0, 0.1);
    }
}

.btn-duplicate {
    &:before {
        @include fa-icon;

        margin-right: 10px;
        content: $fa-var-files-o;
    }
}

.btn-versions {
    &:before {
        @include fa-icon;

        margin-right: 10px;
        content: $fa-var-history;
    }
}

.go-back-link {
    margin-top: 0;
    border-bottom: 1px solid $color-separator;
    margin-bottom: 20px;
    padding-bottom: 20px;

    a, button {
        padding: 0;
        display: inline-block;
        border: none;
        font-weight: 400;
        letter-spacing: .02em;
        text-transform: uppercase;
        font-family: $font-stack-alt;
        color: $color-primary;
        background: none;
        text-decoration: none;
        font-size: 14 / 16 * 1rem;

        &:before {
            @include fa-icon;

            content: $fa-var-arrow-circle-o-left;
            margin-right: 5px;
            transition: transform .3s ease;
        }

        &:hover, &:focus, &:active {
            color: $color-active;

            &:before {
                transform: translateX(-5px);
            }
        }
    }
}
