
= simple_form_for @instance, :url => form_url, :html => { :multipart => true, :autocomplete => 'off', :method => form_method } do |f|
  %h4 Shippo
  .content-container
    .row.dropshadow
      .input-container.col-xs-6
        = f.input :shippo_username, required: false, input_html: { class: 'form-control' }
      .input-container.col-xs-6
        = f.input :shippo_password, required: false, input_html: { class: 'form-control' }, as: :string
    .row.submit-row
      = f.submit form_title, class: 'btn btn-green'

