* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    color: #6a6a6a;
    background: #fff;
    min-width: 100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


a { color: #0252aa; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

input, textarea, select { font-size: 18px; font-weight: 600; }
textarea { overflow: auto; }

.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

h2, h3, h4, h5 { font-weight: 600; }
h3 { letter-spacing: 2px; }

/*.container { width: 1114px; }*/

form{
  .error-block {
    border-radius: 5px;
    border: 2px solid #eed3d7;
    color: #b94a48;
    background-color: #f2dede;
    padding: 8px;
    margin-bottom: 20px;
    display: none;
  }
}

.left-bg {
  background-color: #ebebeb;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 50%;
  left: 0px;
  z-index: -1;
}

/* ===========================
  HEADER
===========================*/
.header { background:#2c2c2c; }
.header .brand { margin-top: 5px; background: url(/assets/platform_home/logo.png) no-repeat 0 0; width: 190px; height:35px; font-size: 0; line-height: 0; text-indent: -4000px; float:left; z-index: 999; position: relative; }

.container-fluid { width: 1217px; }
.container { width: 1114px; }
.navbar { display: inline-block; float: right; margin: 0; padding: 0; text-transform: uppercase; font-weight: 600; font-size:16px; line-height:16px;  }
.nav-pills>li { margin-left:20px; }
.nav-pills>li+li { margin-left:20px; }
.nav>li>a { color: #fff; padding: 15px 25px; }

.nav-pills>li.active>a { background:#167bb9; }
.nav-pills>li.active>a:hover { background:#2194cd; }
.navbar li a:hover { color: #2c2c2c; }

.nav.nav-tabs { border:0; text-align:center; margin-top:-51px; }
.nav.nav-tabs li { float:none; display: inline-block; width: 45%; padding: 0; }
.nav.nav-tabs li a { padding: 0; line-height:51px; text-transform: uppercase; font-size:19px; font-weight: 600; color: #404040; background:#f5f5f5; border: 0;  }
.nav.nav-tabs li.active a { border:0; background:#fff;  cursor: pointer; }

.navbar .nav { float:right; }
.brand { padding: 0; margin: 0; }
.header { padding: 16px 100px; }
.header span {display: inline-block; padding: 10px 20px; color: #fff;}

.glyphicon { font-family:'glyphicons-halflings-regular', arial, serif; }
.header .menu-btn {float:right; font-size:32px; display:none; }

.intro { text-align:center; background:#3e3e3e; color: #fff; text-transform: uppercase; padding: 115px 0; }
.intro { background-size: cover !important; background-position: center top !important; }
.intro h1 { font-size:33px; margin: 0; padding: 0; font-weight: 600; }
.intro.about { background: url('/assets/platform_home/banner-about.jpg'); }
.intro.features { background: url('/assets/platform_home/banner-features.jpg'); }
.intro.contact { background: url('/assets/platform_home/banner-contact.jpg'); }
.intro.careers { background: url('/assets/platform_home/banner-careers.jpg'); }

.main.main-secondary { padding-top:50px; background: #ebebeb;}
.content { padding-top:70px; padding-left:38px; background-color: white;}

.sidebar { padding-top: 70px; padding-left: 50px; background: #ebebeb; }
.sidebar li { list-style:none; list-style-position: outside; }
.sidebar ul { padding: 0; margin: 0; }
.sidebar a { color: #404040; font-size:17px; }
.sidebar li { padding-bottom:4px; }
.sidebar li.active a { color: #167bb9; }

.section { padding-bottom:50px; }
.section h3,
.section .section-title { padding: 0; margin: 0; color: #222222; font-size:19px; padding-bottom:7px; text-transform: uppercase; line-height:1.6;  }
.article { padding-bottom:40px; }

.section ul li { list-style:none; list-style-position: outside; }
.section .article ul { padding:10px 20px; }
.section .article ul li { list-style:disc; list-style-position: inside; }

.profile { position: relative; margin-bottom:28px; overflow: hidden; }
.profile-image img { display:block; width: 100%; }
.profile-content { position: absolute; top:0; left:0; width: 100%; height:100%; background: url(/assets/platform_home/profile-overlay.png) repeat 0 0; color: #fff; display:none; }
.profile:hover .profile-content {}
/*.pt-perspective { height:719px !important; }*/
.profile-content-inner { position: absolute; bottom:15px; left:15px; }

.profile-head { font-weight: 600; }
.profile-head .ico-border { height:2px; width: 70px; background:#fff; margin-top:20px; display:block; }
.profile-body { padding:20px 0 40px 0; }
.profile-foot { font-size:13px; line-height:22px; }
.profile-foot p { margin: 0; }
.profile-foot strong { text-transform: uppercase; font-weight: normal; }

.profile-title { font-size:33px; line-height:66px; margin:0 0 10px 0; font-size:33px; line-height:36px; }
.profile-head p { font-size:20px; margin: 0; }

.footer { background:#3e3e3e; padding: 56px 100px; color: #fff;  }
.footer a { color: #fff; }

.footer-logo { display:block; width: 253px; background: url(/assets/platform_home/footer-logo.png) no-repeat 0 0; height:46px; font-size: 0; line-height: 0; text-indent: -4000px; margin-bottom:33px;  }
.footer p { font-size:16px; line-height:27px; }

.footer-nav h5 { font-size:16px; margin: 0; padding: 0 0 10px 0; }
.footer-nav ul { font-size:16px; line-height:27px;  }
.footer-nav li { list-style:none; list-style-position: outside; }
.footer .col-md-7 p {margin: 0;}

.brands { padding-top:20px; }
.brand-logo { margin-bottom:55px; }
.brand-logo-image { height:354px; line-height:354px; text-align:center; position: relative; }
.brand-logo-image img { position: relative; }
.brand-logo-dark .brand-logo-image { background:#2c2c2c; }
.brand-logo-light .brand-logo-image { background:#fff; }
.brand-logo a { color: #767676;}
.brand-logo p { text-align: center;}
.brand-logo-factsheet {background-color: #ebebeb;}
.brand-logo .fact-sheet {top: 0px;}

.form-group .bootstrap-select.select { margin-bottom: 0px; }
.form-dropdown {height:45px;}

.hs-form input.hs-input { height:35px; color: #a6a6a6; font-size:18px; resize: none; }
.hs-form input.hs-input:focus { color: #404040; }
.hs-form textarea.hs-input { height:180px; }
.hs-form .actions { text-align:right;}
.hs-form .hs_submit .hs-button { background:#167bb9; width: 241px; line-height:45px; text-transform: uppercase; color: #fff; font-weight: 600; padding: 0; margin: 0; font-size:16px; box-shadow: none; border: none; }
.hs-form fieldset.form-columns-1  textarea.hs-input {width: 96%;}
.hs-form.stacked label { font-weight: 600; }
.hbspt-form .hs-form fieldset {max-width: none;}
.hbspt-form .hs-form fieldset input, .hbspt-form .hs-form fieldset textarea {max-width: none;}
.hbspt-form .hs-form .hs_submit .hs-button:hover, .hbspt-form .hs-form .hs_submit .hs-button:focus { background:#2194cd; box-shadow: none; border: none;}



.wrapper { position: relative; }
.success-message { position: absolute; top:0; left:0; width: 100%; height:100%; background: url(/assets/platform_home/profile-overlay.png) repeat 0 0; z-index: 999; color: #717171; display:none;  }
.success-message-content { background:#fff; width: 60%; margin: 0 auto; position: relative; top:50%; margin-top:-130px; text-align:center; padding-bottom:60px;  }
.success-message-content h3 { color: #404041; margin: 0; padding: 63px 0 43px 0; }
.success-message p { padding: 0 20px; }

.callout { background-color: #167bb9; text-align:center; padding: 70px 0; }
.callout  h3 { color: white; margin: 0;  font-size:33px; line-height:44px; font-weight: 600; text-transform: uppercase; padding-bottom:25px; }
.callout .btn.btn-primary { border: 1px solid white;}
.btn.btn-primary { font-size:16px; padding: 0 25px; text-transform: uppercase; line-height:46px; background:#167bb9; font-weight: 600; border:0; }
.btn.btn-primary:hover { background:#2194cd; };
.medias li { list-style:none; list-style-position: outside; }
.media-item {  background:#fff; height:355px; padding: 82px 20px; margin:0 26px 34px 0;  text-align:center; width: 100%; }
.media-logo { min-height: 84px; }

/*
    TABS
*/
.tab-content { background:#fff; margin-top: 2px;}
.section-tabs { background:#fff; margin-top:51px; }
.tab-pane { padding: 60px 0; }
.tab-pane h3 { text-align:center;  color: #404040; font-size: 33px; line-height:44px; text-transform: uppercase; margin: 0; padding: 40px 0 100px 0; }
.tab-pane .feature { text-align:center; padding: 0 15px; }
.tab-pane .feature .ico { display: inline-block; width: 63px; height:63px; background: url(/assets/platform_home/features.png) no-repeat 0 0; margin-bottom:20px; }
.tab-pane .feature .ico.ico-avatar { background-position:0 0; }
.tab-pane .feature .ico.ico-heart { background-position:-73px 0; }
.tab-pane .feature .ico.ico-buble { background-position:-143px 0; }
.tab-pane .feature .ico.ico-time { background-position:-219px 0; }
.tab-pane .feature .ico.ico-cost { background-position:-289px 0; }
.tab-pane .feature .ico.ico-key { background-position:-359px 0; }

.tab-pane .feature h4 { text-transform: uppercase; font-size:19px; color: #404040; }

.slider-small { text-align:center; max-width: 777px; margin: 0 auto; position: relative; }
.slider-clip { background:#222; -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px;  border-top-left-radius: 10px; -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; border-top-right-radius: 10px; padding:30px 20px 0 20px; display: inline-block; vertical-align: bottom; width: 577px; }

.slides .slide { float:left; }
.slides .slide img { display:block; width: 100%}

.slider-actions a { background: url(/assets/platform_home/slider-actions.png) no-repeat 0 -49px !important; width: 44px; height:44px; top:50%; margin-top:-22px;  position: absolute; top:50%; }
.slider-actions a.prev { background-position:0 0; left:0; }
.slider-actions a.next { background-position:right -49px !important; right:0; }

.slider-paging { position: relative; bottom: auto; left: auto; z-index: 15; width: auto; margin: 0; padding: 0; text-align: center; padding: 20px 0; }
.slider-paging a { width: 16px; height:16px;  margin: 0; border:2px solid #5c5c5c; font-size: 0; line-height: 0; text-indent: -4000px;  display: inline-block; border-radius: 16px; -moz-border-radius: 16px; -webkit-border-radius: 16px; -o-border-radius: 16px; margin-left:5px; }

.slider-paging a.selected { width: 16px; height:16px; background:#5c5c5c;  }

.section-form .form-contact { max-width: 415px; margin: 0 auto; }
.section-form p { width: 980px; margin: 0 auto;}
.section-secondary { background: #fff; padding:90px 0 0 0; }
.section-secondary h2 { text-align:center;  color: #404040; font-size: 33px; line-height:44px; text-transform: uppercase; margin: 0; padding: 0 0 30px 0; }
.section-secondary p { text-align:center; }

.section-form { text-align:center; color: #fff; position: relative; overflow: hidden; padding: 70px 0; }
.section-form img.bg { width: 100%; z-index: 1; position: absolute; top:0; left:0; }

.section-form .section-inner { z-index: 2; position: relative; }
.section-form .section-head { padding-bottom:60px; }
.section-form .section-head p { font-size: 18px; line-height: 1.6; max-width: 800px;}
.section-form .form-actions { text-align:center; }

.section-form h2 { color: #fff; font-size: 33px; line-height:44px; text-transform: uppercase; margin: 0; padding: 0 0 30px 0; }

.slide-item { text-align:center; position: relative; float:left; list-style:none; list-style-position: outside; height:719px; width: 100%; height:100%;  }
.slide-item .slide-image { position: relative; z-index: 1; width: 100%; display:block;  }
.slide-image.slide-image-mobile { display:none; }

.slide-content { position: absolute; top: 50%; width: 100%; margin-top:-125px; }
.slide-content h1 { font-weight: 600; font-size:52px; line-height:1.6; letter-spacing: 4px; margin-bottom: 0; }
.slide-content h1 br { display:none; }


.slide-item .btn.btn-primary:hover { border: 0; background:#2194cd; }
.top-slider { position: relative; display: none;}
.slider-caption { position: absolute; top:0; width: 100%; height:100%; left:0; z-index: 1; color: #fff; text-align:center;  }
.slider-caption p { margin-bottom:20px; }


.slide-foot { z-index: 2; width: 100%; text-align:center; position: absolute;  bottom:20px; }
.slide-foot a { color: #fff; display: inline-block; padding-right:20px; position: relative; line-height: 18px; }
.slide-foot a .ico-arrow-down { background: url(/assets/platform_home/ico-arrow-down.png) no-repeat 0 0; width: 17px; height:17px; display: inline-block; position: absolute; top:0; right:0; }


ul.expandables { margin-bottom: 0px; min-height: 330px; }
.expandable { list-style:none; list-style-position: outside; }
.expandable h4 { text-transform: uppercase; font-size:18px; line-height:1.6;  }
.expandable .section-body h4 {padding-top: 40px; }
.expandable .section-body h4:first-child{ padding: 0; }
.expandable .section-body ul { margin-bottom:20px; }
.expandable .section-body li:before { content:'+';  padding-right:10px; }

.caroufredsel_wrapper { margin: 0 !important; max-height: 881px;}

.section-image { padding-bottom:20px; }

.banner {font-size: 28px; padding: 40px; text-align: center;}
.banner img {margin: 25px;}

@media (-webkit-device-pixel-ratio: 2){
    .header .brand { background: url(/assets/platform_home/Logo-2x.png) no-repeat 0 0; -webkit-background-size: 190px 35px; background-size: 190px 35px; }
    .tab-pane .feature .ico { background: url(/assets/platform_home/features-@2x.png) no-repeat 0 0; -webkit-background-size: 402px 63px; background-size: 402px 63px; width: 64px; }

    .tab-pane .feature .ico.ico-avatar { background-position:-135px 0; }
    .tab-pane .feature .ico.ico-heart { background-position:-269px 0; }
    .tab-pane .feature .ico.ico-buble { background-position:-201px 0; }
    .tab-pane .feature .ico.ico-time { background-position:-334px 0; }
    .tab-pane .feature .ico.ico-cost { background-position:-68px 0; }
    .tab-pane .feature .ico.ico-key { background-position:0 0; }
}

@media (max-width: 1417px) {
    .section-form img.bg { width: 100%; height:100%; left:auto; right:0; }
}

@media (max-width: 1370px) {
    .section-form img.bg { width: 100%;  }
    .container-fluid { width: auto; }
}
@media (max-width: 1200px) {
    .container { width: auto; }
}

@media (max-width: 1160px) {
    .header { padding: 20px 0; }
    .navbar { float:none; clear: both; display:none;  }
    .navbar .nav-pills {padding-top: 15px;}
    .navbar li { margin: 0 0 10px 0 !important; display:block; float:none; display:block; }
    .navbar .nav { float:none; }
    .header .menu-btn { display:block; cursor: pointer;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        -ms-transition: color 0.3s;
        -o-transition: color 0.3s;
        transition: color 0.3s;
    }
    .header .menu-btn:hover { color: #fff; }
}

@media (max-width: 990px) {
    .section-form p { width: auto; }
    .section.gallery { text-align: center; }

    .footer { text-align:center; padding: 56px 0; }
    .footer-logo { display: inline-block; }
    .footer-nav { padding-top:20px; }
    .tab-pane .feature { padding-bottom:70px; }
    .tab-pane .feature .ico { margin-bottom:20px; }
    .slide-content h1 br { display:block; }

    .header .brand { background: url(/assets/platform_home/logo-mobile.png) no-repeat 0 0; width: 106px; height:37px; font-size: 0; line-height: 0; text-indent: -4000px;  margin-bottom:10px; }


    @media (-webkit-device-pixel-ratio: 2){
        .header .brand { background: url(/assets/platform_home/Mobile-Logo-2x.png) no-repeat 0 0; -webkit-background-size: 106px 35px;
        background-size: 106px 35px; }


    }

    .container { width: auto; }
    .intro { padding: 57px 0; }
    .main { padding: 0; }
    .main.main-secondary { padding-top:50px; }

    .sidebar { margin: 0 -15px; padding-top: 0px; padding-left:25px; }
    .widget-nav { padding-top:20px; }
    .sidebar li { padding-bottom:10px; }

    .content { padding-top:50px; }
    .section-image img { display: inline-block; }
    .success-message { position: fixed; top:0; left:0; width: 100%; height:100%; background: url(/assets/platform_home/profile-overlay.png) repeat 0 0; overflow: hidden; }
    .success-message-content { background:#fff; width: auto; margin: 0 20px; margin-top:-166px;  }
    .success-message p { padding: 0 10px; }
    .content { padding-left: 15px; }

    .media-item { margin-right:0; width: auto; height:auto;  min-height: 355px; }
}

@media (max-width: 960px) {
    .header { padding: 16px 20px; }
    .section-form { padding-left:15px; padding-right:15px; }
    .slide-image.slide-image-desktop { display:none; }
    .slide-image.slide-image-mobile { display:block; }
}

@media (max-width: 780px) {
    .featured-resource img { width: 90%; }
}
@media (max-width: 650px) {
    .section.gallery { text-align: left; }
    .slide-content h1 { font-size:40px;  }
    .main.main-secondary { padding-top:30px; }
    .section-image img { display:block; width: 100%; }
    .carousel-control { display:none; }
    .carousel .slide-image-wrap img { width: 100%; display:block; }
    .nav.nav-tabs li a { font-size:13px; line-height:48px; }
    .nav.nav-tabs { margin:-48px -15px 0 -15px; }

    .slider-actions { display:none; }
}
@media (max-width: 580px) {
    .slider-clip { width: 100%; }
}

@media (max-width: 440px) {
    .nav.nav-tabs li {width: 49%;}
    .nav.nav-tabs li a { font-size:10px;  }
    .banner img {display: block; margin: 40px auto;}
    .header span.phone {width: 100%; padding-left: 0;}

}

@media (max-width: 350px) {
    .slide-caption p { font-size:19px; line-height:26px; }
    .slide-caption { margin-top: 0; top:0;}

    .slide-content { top:0; margin-top: 0;}
    .slide-content h1 { font-size:30px; }
}

abbr[title], abbr[data-original-title] {
  border-bottom: 0 none !important;
}

