body.cart-theme {
  @import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");
  @import "themes/flash";

  margin: 0;
  background: #fff;

  header {
    height: 60px;
    background: black;
  }

  /*===== GENERAL STYLES =====*/
  p {
    color: #555555;
  }

  h1 {
    font-size: 40px;
  }

  a {
    color: #5dbded;
  }

  p, h1, h2, h3, h4, h5, a, label, td {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
  }

  h1, h2, h3, h4, h5 {
    color: #3a3a3a;
    font-weight: 600;
  }

  .inline {
    display: inline-block;
  }

  .page-wrapper {
    width: 63%;
    padding: 60px 0;
    margin: 0 auto;
  }

  /*===== BUTTONS AND INPUTS =====*/
  .button-row {
    margin-bottom: 40px;
  }

  .btn {
    padding: 7px 25px;
    border-radius: 0;
    text-align: center;
    font-size: 14px;
    vertical-align: top;
    font-weight: 300;
  }

  .btn.blue {
    background: #5dbded;
    color: #fff;
  }

  .btn.gray {
    background: #a7a7a7;
    color: #fff;
  }

  .btn.green {
    background: #5dc998;
    color: #fff;
  }

  .hasCustomSelect {
    background: #fff image-url('themes/cart_theme/arrow-down.png') right no-repeat;
    border: solid #D4D4D4 1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding: 0 5px;
    width: 60px;
    display: inline-block;

  }

  .checkout {
    text-align: right;
  }

  .checkout .btn.blue {
    margin: 20px 0 80px 0;
    padding: 7px 50px;
  }

  .checkout img {
    margin-right: 10px;
  }

  /*===== CART LAYOUT =====*/
  .cart-head h3 {
    margin-bottom: 40px;
  }

  .cart-head .btn.green {
    float: right;
  }

  /*===== ITEM LISTS =====*/
  .cart-item-list {
    border: solid #f0f0f0 1px;
  }

  .list-body {
    padding: 20px 30px 0px 30px;
  }

  .list-body-header p {
    font-size: 16px;
  }

  .list-head, .list-footer {
    background: #efefef;
    padding: 15px 35px;
  }

  .clear-all {
    float: right;
  }

  .clear-all p {
    margin-right: 15px;
  }

  .list-footer {
    text-align: right;
  }

  .list-footer h3 {
    color: #5dbded;
    font-weight: 300;
    margin: 0;
  }

  .list-head p {
    display: inline-block;
  }

  .list-head a {
    font-size: 16px;
  }

  .list-item {
    margin-bottom: 50px;
    padding: 10px 0;
  }

  .list-item p {
    font-size: 16px;
  }

  .list-item.additional-item {
    border-top: solid #f0f0f0 1px;
  }

  .list-item .heading {
    margin-bottom: 35px;
  }

  .item img {
    float: left;
    margin-right: 15px;
  }

  .value {
    margin-top: 35px;
  }

  /*===== MEDIA QUERIES =====*/
  @media (max-width: 767px) {
    .value {
      margin: 0;
    }

    .list-item .span2 {
      margin: 20px 0;
    }

    .list-item .span2 p:nth-child(1) {
      color: #000;
      font-weight: 600;
    }

    .page-wrapper {
      width: 90%;
    }

    .checkout {
      text-align: center;
    }

    .item img {
      float: none;
    }
  }
}
