-# TODO Deprecated
- unless reservation.archived?
  = form_for reservation, method: :post, url: user_cancel_reservation_path(reservation) do |f|
    = f.submit "Cancel", :confirm => "Do you really want to cancel this reservation?", :class => "btn btn-small btn-gray reservation-action"
- if reservation.remote_payment? && !reservation.paid? && !reservation.archived?
  = link_to "Pay now",  remote_payment_reservation_path(reservation), :class => "btn btn-small btn-orange reservation-action"
