body.checkout-theme {
  margin: 0;
  background: #f1f1f1;

  header {
    height: 60px;
    background: black;
  }

  /*===== GENERAL STYLES =====*/
  p {
    color: #555555;
  }

  h1 {
    font-size: 40px;
  }

  a {
    color: #5dbded;
  }

  p, h1, h2, h3, h4, h5, a, label, td {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
  }

  h1, h2, h3, h4, h5 {
    color: #3a3a3a;
    font-weight: 600;
  }

  td {
    font-weight: 300;
    font-size: 15px;
  }

  th {
    font-weight: 400;
    font-size: 15px;
    padding-bottom: 20px;
  }

  .inline {
    display: inline-block;
  }

  .page-wrapper {
    width: 63%;
    padding: 60px 0;
    margin: 0 auto;
  }

  section.checkout-form {
    background: #fff;
    padding: 40px 0;
    border-bottom: solid #d5d5d5 2px;
    margin-bottom: 25px;
  }

  .container-fluid {
    width: 70%;
  }

  section.checkout-form h2 {
    color: #5dbded;
    font-weight: 300;
    margin-bottom: 40px;
  }

  h2.page-heading {
    margin-bottom: 30px;
  }

  .divider {
    border: 1px solid #d5d5d5;
    margin: 40px 0;
  }

  .whats-this p {
    font-size: 14px;
  }

  .whats-this-link {
    color: #5dbded;
  }

  #whats-this-target.in {
    background: #f2f2f2;
    padding: 10px;
  }

  .order-complete {
    background: #5dbded;
    padding: 10px;
  }

  .order-complete p {
    color: #fff;
    font-weight: 300;
  }

  .shipping-details {
    border: solid #fafafa 2px;
    margin-bottom: 15px;
  }

  .shipping-details .heading {
    margin-bottom: 20px;
    color: #858585;
    font-weight: 300;
  }

  .shipping-options {
    padding: 10px 10px;
  }

  .item-list {
    background: #f2f2f2;
    padding: 10px 40px;
  }

  .item-list .row-fluid {
    margin-bottom: 20px;
  }

  .item-list p {
    font-weight: 300;
    font-size: 16px;
  }


  /*===== BUTTONS =====*/
  .button-row {
    margin-bottom: 40px;
    text-align: center;
  }

  .button-row .btn {
    float: right;
  }

  .button-row.complete {
    text-align: center;
  }

  .button-row.complete .btn {
    float: none;
  }

  .btn {
    padding: 7px 25px;
    border-radius: 0;
    text-align: center;
    font-size: 14px;
    vertical-align: top;
    font-weight: 300;
  }

  .btn.blue {
    background: #5dbded;
    color: #fff;
  }

  .btn.gray {
    background: #909090;
    color: #fff;
  }

  .btn.red {
    background: #e85c41;
    color: #fff;
  }

  .btn.login {
    background: #001856;
    color: #fff;
    padding: 7px 150px;
    margin: 20px 0;
  }

  .btn.back {
    padding: 7px 125px;
  }

  .btn.next {
    padding: 12px 125px;
    cursor: pointer;
  }

  .btn.back {
    margin-right: 50px;
  }

  .action-row {
    text-align: right;
    margin-bottom: 15px;
  }

  .action-row .btn {
    margin-left: 15px;
  }

  /*===== INPUTS AND FIELDS =====*/

  .customSelect {
    border: solid #D4D4D4 1px;
    background: #fff image-url('themes/product_theme/arrow.png') right no-repeat;
    width: 99%;
    padding: 5px 0 5px 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
  }

  label, .input-container {
    display: inline-block;
  }

  label {
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #555555;
    font-size: 16px;
  }

  form input[type="text"] {
    background: #fff;
    border: solid #D4D4D4 1px;
    border-radius: 0;
    width: 100%;
    padding: 5px 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
  }

  .radio-select p {
    display: inline-block;
    font-size: 14px;
  }

  .radio-select span {
    color: #5dbded;
    font-size: 14px;
  }

  .radio-select img {
    vertical-align: middle;
    margin-left: 20px;
  }

  form .row-fluid {
    margin-bottom: 20px;
  }

  ::-webkit-input-placeholder {
    color: #cccccc;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #cccccc;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #cccccc;
  }

  :-ms-input-placeholder {
    color: #cccccc;
  }

  /*===== TABLES ===== */
  table, table.payment-summary {
    width: 100%;
  }

  table.payment-totals {
    width: 55%;
  }

  .payment-totals td {
    text-align: right;
  }

  .payment-totals .total {
    font-size: 18px;
    font-weight: 400;
    color: #3a3a3a;
  }

  /*===== BREADCRUMBS =====*/
  .breadcrumbs {
    background: #d4effc;
  }

  .breadcrumbs ul {
    list-style-type: none;
    width: 100%;
  }

  .breadcrumbs li {
    display: inline-block;
    text-align: center;
    padding: 20px 0;
    width: 33%;
    position: relative;
  }

  .breadcrumbs li.active {
    background: #5dbded;
    color: #fff;
  }

  .breadcrumbs li.last {
    float: right;
  }

  .breadcrumbs li.active.first:after {
    content: "";
    border-top: 34px solid transparent;
    border-bottom: 34px solid transparent;
    border-left: 20px solid #5dbded;
    position: absolute;
    right: -20px;
    top: 0;
  }

  .breadcrumbs li.active.middle:after {
    content: "";
    border-top: 34px solid transparent;
    border-bottom: 34px solid transparent;
    border-left: 20px solid #5dbded;
    position: absolute;
    right: -20px;
    top: 0;
  }

  .breadcrumbs li.active.middle:before {
    content: "";
    border-top: 34px solid transparent;
    border-bottom: 34px solid transparent;
    border-left: 20px solid #d4effc;
    position: absolute;
    left: 0;
    top: 0;
  }

  .breadcrumbs li.active.last:before {
    content: "";
    border-top: 34px solid transparent;
    border-bottom: 34px solid transparent;
    border-left: 20px solid #d4effc;
    position: absolute;
    left: 0;
    top: 0;
  }

    /*===== MEDIA QUERIES =====*/
  @media (max-width: 792px) {
    .page-wrapper {
      width: 90%;
    }

    .button-row .btn {
      margin: 20px 0;
      width: 40%;
      padding: 7px 0;
      float: none;
    }

    section.checkout-form .container-fluid {
      width: 90%;
    }

    .btn.login {
      width: 100%;
      padding: 7px 0;
    }
  }

  @media (max-width: 400px) {
    .breadcrumbs li {
      width: 30%;
    }

    .breadcrumbs li.active:before, .breadcrumbs li.active:after {
      border-left: 0 !important;
    }
  }
}
