<p>
  If you have any questions, feedback, or just want to drop me a note, just hit reply to this email and I'll be sure to get back to you. 
</p>

<p>
  You can also find answers to frequently asked questions on our <%= link_to "support page", "http://support.desksnear.me" %>; and if you can’t find an answer to your question there, you can contact Customer Support (who are real people) on 1.888.998.DESK.
</p>

<p>
  Cheers, 
</p>

<p>
  Michelle Regner<br />
  CEO<br />
  Desks Near Me
</p>
