<p>
  Hi <%= @user.first_name %>,
</p>

<p>
  Thanks for listing your space with Desks Near Me!  
</p>

<p>
  We’re working really hard to make it easy for the right business professionals to find and book your space.
</p>

<p>
  You'll find that you can accept booking requests or automate them, accept payments direct to your account, and upload as many listings as you want. (It’s always free to list and add as many as you like.)
</p>

<p>
  Start building awareness of your listing by <%= link_to "Tweeting about your location", tweet_location_url(@user.listings.first.location) %> or adding <%= link_to "a link", location_url(@user.listings.first.location) %> to your email signature or company website.
</p>

<%= render 'footer' %>

