<p>
  Hi <%= @user.first_name %>,
</p>

<p>
  Welcome to Desks Near Me!
</p>

<p>
  I saw that you signed up but haven't added a space for rent.
</p>

<p>
  Do you have unused office space and desks you’d like to offer others to rent?
</p>

<p>
  Or, are you searching for a great space to work from with flexible access and great networking opportunities?<br />
  <%= link_to "You can search and book here", search_url %> to find a space for the day, week or month.
</p>

<p>
  And it's FREE (seriously) to add your space and start making money.
</p>

<p>
  Simply <%= link_to "log in here", manage_locations_url %> to add all the details.
</p>

<%= render 'footer' %>
