%li.location
  .name
    = location.persisted? ? location.name : 'New location'
  - if location.persisted? && params[:action] != 'new' && params[:action] != 'edit'
    .links
      = link_to new_manage_location_listing_path(location), :class => 'ico-add-desk' do
        %span
          Add Listing
      = link_to edit_manage_location_path(location), :class => 'ico-edit' do
        %span
          Edit Location
      = link_to location_path(location), :class => 'ico-open-link' do
        %span
          View Location
