- active ||= :space
%ul.box-nav
  %li{:class => ('active' if active == :space)}= link_to "Space Details", [:edit, :manage, @location]
  %li{:class => ('active' if active == :listings)}= link_to "Desks & Rooms", [:manage, @location, :listings]


