= render :layout => 'manage/layout/dashboard' do
  - if @locations.empty?
    %li.location.empty
      You haven't created any locations yet
  - else
    - @locations.each do |location|
      = render :partial => 'location_name_with_links', :locals => { :location => location }
      - if location.listings.empty?
        %li.listing.empty
          You haven't created any listings at this location!
      - else
        - location.listings.each do |listing|
          = render :partial => 'manage/listings/listing_name_with_link', :locals => { :location => location, :listing => listing }
