- readonly ||= false

.time-tracking-entry.nested-fields
  - if readonly == false
    .row
      .col-xs-10.col-sm-11
        = render "dashboard/order_items/transactable_line_item_fields", f: f, readonly: readonly
      .col-xs-2.col-sm-1.text-right
        = link_to_remove_association f, class: 'remove_fields' do
          %button.action--remove
  - else
    = render "dashboard/order_items/transactable_line_item_fields", f: f, readonly: readonly
