.content-container
  = simple_form_for @product_type, url: [:instance_admin, :buy_sell, @product_type] do |f|
    %input{ name: :action_name, type: :hidden, value: :search_settings }
    = render partial: 'instance_admin/manage/search/common', locals: {f: f}
    = render partial: 'instance_admin/manage/search/custom_attributes', locals: {f: f}
