.accordion-group {
  border-radius: $border-radius-default;
  background: $theme_white;

  a.accordion-toggle {
    background: url('//s3.amazonaws.com/desksnearme.assets/img/ui/arrow-down.png') right center no-repeat;
    background-origin: content-box;
    color: black;
    @include opacity(.8);
    @include transition(opacity .1s ease-in);

    &:hover {
      @include opacity(1);
    }
  }
}

.accordion-dim {

  .accordion-group {
    border:none;
    background: $gray210;

    a.accordion-toggle {
      color: $theme_white;
    }
  } 
}
