.accordion-group {

	background: $dnm_white;
	border-radius: 8px;

  a.accordion-toggle {
  	background: url('//desksnearme.assets.s3.amazonaws.com/img/ui/arrow-down.png') right center no-repeat;
  	background-origin: content-box;
  	color: black;
  	opacity: .8;
    @include transition(opacity .1s ease-in);

  	&:hover {
  		opacity: 1;
  	}
  }
}

.accordion-dim
{
  .accordion-group {
    background: $gray4;
    border:none;
    a.accordion-toggle {
      color: $dnm_white;
    }
  } 
}
