.booking-module-container {
  position: absolute; 
  top: 0;
  right: 0;
  width: 280px;

  @media (max-width: 480px) {
    position: relative;
    float: right; 
    clear: both;
    width: 100%;
  }


  .booking-module {
    position: relative;
    $padding: 12px;
    @include border-radius($border-radius);
    @include background-clip(border-box);
    background: $gray8;
    color: $gray3;
    padding: $padding;
    font: normal 22px/26px 'Futura-regular', sans-serif; 

    .book {
      width: 100%;

      .btn.disabled{
        @include opacity(0.5);
      }
      .btn.click-disabled{
        @include opacity(0.75);
      }
    }
      
    .calendar-wrapper {
      display: block;
      margin: 0 0 8px;
      padding: 6px 8px;
      @include border-radius(8px);
      @include box-sizing(border-box);
      background: $gray2;
      color: $gray6;
      width: 48%;
      float: left;

      &.date-end {
        float: right;
        margin-right:0;
      }

      .calendar {
        position: relative;
        display: inline-block;

        .dates, input {
          width: 30px;
          height:38px;
          display: inline-block;
          vertical-align: middle;
          border: 0;
          color: transparent;
          background: transparent;
          border: none;
          color: $gray6;

          &:focus {
            outline: none !important;
          }
        }
      }    
    }

    .quantity {
      position: relative;
      display: block;
      clear: both;
      height: 42px;
      line-height: 42px;

      span.customSelect {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 100%;
        min-width: 32px;
        padding:0;
        @include border-radius(8px);
        border: none;
        background: transparent;
      }

      .customSelectInner {
        width: 100% !important;
        background:url(components/customselect/canvas-list-nav-item-arrow.gif) no-repeat center right;
      }

    }

    .price {
      height: 42px;
      line-height: 42px;
      text-align: left;

      span {
        float: right;
      }
    }

    a.btn.btn-large {
      display: block;
      clear: both;
      width:100%;
      text-align:center;
    }
  }
}

