.booking-module-container {
  position: absolute; 
  top: 0;
  right: 0;
  width: 300px;

  @media (max-width: $booking-module-breakpoint) {
    @include box-sizing(content-box);
    position: relative;
    float: left;
    clear: both;
    margin: 0 -15px -15px;
    padding: 0 15px;
    width: 100%;

  }

  .book {
    width: 100%;

    .btn.disabled{
      @include opacity(0.5);
    }

    .btn.click-disabled{
      @include opacity(0.75);
    }
  }

  .booking-module {
    @include box-sizing(border-box);
    @include border-radius($border-radius-default);
    position: relative;
    padding: $padding-default;
    height: $listing-photo-height;
    background: $gray60;    
    color: $gray210;
    font: normal 22px/26px 'Futura-regular', sans-serif; 

    @media (max-width: $booking-module-breakpoint-desktop) {
      @include border-radius(0);
    }

    @media (max-width: $booking-module-breakpoint) {
      @include border-bottom-radius($border-radius-default);
      margin: 0 -15px;
    }

    .label {
      display: block;
      float: left;
      width: 30%;
      height: 34px;
      background: transparent;
      color: $gray210;
      font-size: 22px;
      text-align: center;

      &.unavailable {
        @include opacity(.1);
      }

      .period {
        display: block;
        clear: both;
        margin-top: 4px;
        color: $gray160;
        font-family: $font-bold;
        font-size: 50%;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      &.label-hourly-price {
        

        // Only one price field, center it.
        
        margin-left: 33%;
      }
    }

    .book {
      width: 100%;

      .btn.disabled{
        @include opacity(0.5);
      }

      .btn.click-disabled{
        @include opacity(0.75);
      }
    }
    
    hr {
      clear: both;
      margin: 0 -12px 10px;
      height: 0 !Important;
      border-bottom: 2px solid $gray120;
      background-color: $gray120;
    }

    .calendar-wrapper {
      @include border-radius($border-radius-default);
      display: block;
      float: left;
      margin: 0 0 6px;
      padding: 6px 4px 6px 6px;
      @include box-sizing(border-box);
      width: 48%;
      background: $gray230;
      color: $gray120;

      &.date-end, 
      &.time-picker {
        float: right;
        margin-right:0;
      }

      .calendar {
        position: relative;
        display: inline-block;

        .dates, 
        input {
          display: inline-block;
          width: 30px;
          height: 38px;
          border: 0;
          border: none;
          background: transparent;
          color: transparent;
          color: $gray120;
          vertical-align: middle;

          &:focus {
            outline: none !important;
          }
        }
      }    
    }

    .quantity {
      position: relative;
      display: block;
      clear: both;
      height: 42px;
      line-height: 42px;

      .resource {
        text-transform: capitalize;
      }

      span.customSelect {
        @include border-radius($border-radius-default);
        position: absolute;
        top: 0;
        right: 0;
        min-width: 32px;
        padding:0;
        border: none;
        background: transparent;
        font-size: 100%;
      }

      .customSelectInner {
        width: 100% !important;
        background: image-url('components/customselect/canvas-list-nav-item-arrow.gif') no-repeat center right;
      }
    }

    .price {
      margin-bottom: 8px;
      height: 30px;
      @include background-clip(border-box);       
      text-align: left;
      line-height: 30px;

      span {
        float: right;
      }
    }

    a.btn.btn-large {
      display: block;
      clear: both;
      width:100%;
      text-align:center;
    }
  }
}

