.box {
  $padding: 14px;
  @include border-radius(8px);
  margin-bottom: 20px;
  background: #f5f5f5;
  padding: $padding;
  @include border-bottom-radius(8px);
  font-size: 14px;
  line-height: 140%;

  h2 {
    display: block;
    background: image-url("layout/seamless-wood-texture.jpg");
    color: #fff;
    border: 1px solid #2b1b13;
    @include border-top-radius(8px);
    padding: 8px $padding;
    margin-top: -$padding;
    margin-left: -$padding;
    margin-right: -$padding;
    margin-bottom: $padding;

    // Wizzard items
    ul {
      overflow: hidden;

      li {
        float: left;
        color: #cebbae;
        font-size: 18px;
        background: image-url("components/box/list-separator.png") left center no-repeat;
        padding-left: 26px;
        padding-right: 8px;
        line-height: 60px;

          @media (max-width: 960px) {
            font-size: 14px;
            margin-left: -10px;
          }

          @media (max-width: 768px) {
            font-size: 12px;
            padding-left: 10px;
            padding-right: 0px;
            line-height: 40px;
            background: none;
            margin-left:0;

          }

          @media (max-width: 480px) {
            font-size:14px;
           } 

        &:first-child {
          background: none;
          padding-left: 0;
          margin-left:0 !important;
        }

        &:last-child {
          padding-right: 0;
        }

        &.current {
          color: #fff;
        }

        &.complete {
          a, span {
            display: inline-block;
            background: image-url("components/box/list-tick.png") left center no-repeat;
            padding-left: 24px;
          }
        }
      }
    }
  }

  hr, .hr {
    color: #cecfcf;
    background: #cecfcf;
    border-bottom: 1px solid #fefefe;
    margin-left: -$padding;
    margin-right: -$padding;
    text-align: center;
    > span {
      display: inline-block;
      background: #f5f5f5;
      padding: 0 8px;
      position: relative;
      top: -10px;
      color: #999999;
      font-size: 18px;
    }
  }

  .inner-box {
    position: relative;
    border: 1px solid #c6c6c6;
    @include border-radius(8px);
    padding: 10px;
    margin-bottom: 20px;
  }
}

.box-nav {
  background: #627077;
  border-bottom: 1px solid #b8b8b8;
  overflow: hidden;
  margin: -14px -14px 14px -14px;

  li {
    float: left;
    border-left: 1px solid #546066;
    a {
      border-left: 1px solid #758187;
    }

    a {
      display: block;
      padding: 0 10px;
      line-height: 40px;
      font-size: 14px;
      color: rgba(255,255,255,.6);

      &:hover {
        color: #fff;
      }
    }

    &:first-child, &:first-child a {
      border-left: none;
    }

    &:last-child, &.last {
      border-right: 1px solid #758187;
      a {
        border-right: 1px solid #546066;
      }
    }

    &.active {
      background: #4d5960;
      border-left: 1px solid #758187;

      a {
        border-left: 1px solid #333a3f;
      }

      a, a:hover {
        color: #fff;
      }

      &:first-child, &:first-child a {
        border-left: none;
      }

      &:last-child, &.last {
        border-right: 1px solid #758187;
        a {
          border-right: 1px solid #333a3f;
        }
      }
    }

    &.right-link {
      float: right;

      &, a {
        border-right: none;
        border-left: none;
      }

      a {
        font-weight: normal;
        background: image-url("components/nav/box-return.png") left 10px no-repeat;
        padding-left: 22px;
      }
    }
  }

  li.active + li:not(.right-link) {
    border-left: 1px solid #333a3f;
    a {
      border-left: 1px solid #758187;
    }
  }
}
