.box {
  position: relative;
  margin-bottom: 20px;
  padding: $padding-default;  
  @include box-sizing(border-box);  
  @include border-radius($border-radius-default);
  @include background-clip(border-box);
  background: $theme_white;
  line-height: 28px;

  header {
    display: block;
    margin-top: -$padding-default;
    margin-left: -$padding-default;
    margin-right: -$padding-default;
    margin-bottom: $padding-default;    
    padding: $padding-default;
    @include border-corner-radius(top, left, $border-radius-default);
    @include border-corner-radius(top, right, $border-radius-default);    
    background: $gray210;
    color: $gray80;

    h2 {
      color: $gray80;
    }
  }


  // List Your Space Flow

  ul.space-wizard {
    display: block;
    overflow: hidden;
    margin-top: -$padding-default;
    margin-right: -$padding-default;
    margin-bottom: $padding-default;
    margin-left: -$padding-default;
    @include border-corner-radius(top, left, $border-radius-default);
    @include border-corner-radius(top, right, $border-radius-default);    
    background: $gray230;

    li {
      float: left;
      padding: 0 $padding-default;
      @include box-sizing(border-box);
      width: 50%;
      border-right: 1px solid $gray210;
      color: $gray160;
      font-size: 22px;
      text-align: center;
      line-height: 60px;

      &:last-child {
        border: none;
      }

        @media (max-width: $iphone-landscape) {
          clear: both;
          width: 100%;
          border-right: none;
          border-bottom: 1px solid $gray240;
         } 

      &.current {
        border: none;
        background: $gray60;
        color: $gray230;
      }
    }
  }

  hr, 
  .hr {
    margin-right: -$padding-default;
    margin-left: -$padding-default;
    border-top: none;
    border-bottom: 2px solid $gray230;
    background: #cecfcf;
    color: $gray210;
    text-align: center;

    > span {
      position: relative;
      top: -10px;
      display: inline-block;
      padding-left: $padding-small;
      padding-right:$padding-small;
      background: $white;
      color: $gray160;
      font-size: 18px;
    }
  }

  .inner-box {
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid $gray210;
    @include border-radius($border-radius-default);
  }
}

.box-inverse {
  border: none;
  
  header {
    background: $gray80;
    color: $theme_white;
  }
}

.box-dim {
  border: none;
  
  header {
    background: $gray230;
  }
}


.box-nav {
  overflow: hidden;
  margin: -14px -14px 14px -14px;
  background: $gray220;

  li {
    float: left;

    a {
      display: block;
      padding: 0 10px;
      color: $gray230;
      line-height: 40px;

      &:hover {
        color: $theme_white;
      }
    }

    &.active {

      a, 
      a:hover {
        background: $theme_black;
        color: $theme_white;
      }

      &:first-child, 
      &:first-child a {
        border-left: none;
      }
    }

    &.right-link {
      float: right;

      a {
        padding-left: 22px;
        border-right: none;
        border-left: none;
        background: image-url("components/nav/box-return.png") left 10px no-repeat;
        font-weight: normal;
      }
    }
  }
}
