.btn, a.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 0 10px;
  @include transition(background .1s ease-in);

  .icon {
    vertical-align: middle;
  }

  &:visited, &:hover {
    color: #fff;
  }

  &.btn-outline {
    border-bottom: 1px solid rgba(0,0,0,0.8);

    &:active {
      margin-left: -1px;
      margin-top: -1px;
      border: 1px solid rgba(0,0,0,0.8);
    }
  }

  &.btn-small {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    @include border-radius(6px);
  }

  &.btn-medium {
    height: 38px;
    line-height: 38px;
    font-size: 18px;
    @include border-radius(8px);
  }

  &.btn-large {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    @include border-radius(8px);
    padding: 0 20px;
  }

  &.btn-blue {
    background: $dnm_blue;
    &:hover {
      background: darken($dnm_blue, 15%);
    }

    &:active {
      background: darken($dnm_blue, 25%);
    }
  }

  &.btn-green {
    background: $dnm_green;
    &:hover {
      background: darken($dnm_green, 15%);
    }

    &:active {
      background: darken($dnm_green, 25%);
    }
  }

  &.btn-red {
    background: #f34a40;
    &:hover {
      background: darken(#f34a40, 15%);
    }

    &:active {
      background: #e93e34;
      @include background(linear-gradient(top center, #e93e34, #f34a40));
    }
  }

}

.btn-group {
  display: inline-block;
  overflow: hidden;

  .btn {
    float: left;
    border-right: 1px solid #70882b;
    border-left: 1px solid #afc76b;
  }

  .btn:first-child:not(:last-child) {
    @include border-right-radius(0px);
    border-left: none;
  }

  .btn:not(:first-child):not(:last-child) {
    @include border-left-radius(0px);
    @include border-right-radius(0px);
  }

  .btn:last-child:not(:first-child) {
    @include border-left-radius(0px);
    border-right: none;
  }
}

