.btn, a.btn {
  display: inline-block;
  text-decoration: none;
  font-family: $font-medium;
  letter-spacing: 1px;
  color: #fff;
  padding: 0 10px;
  border: none !important;
  @include transition(background .1s ease-in);

  &.full-width {
    width: 100%;
    box-sizing: border-box;
  }

  &.margin-bottom {
    margin-bottom: 1em;
  }
  .icon {
    vertical-align: middle;
  }

  &:visited, &:hover {
    color: #fff !important;
  }

  &.btn-small {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    @include border-radius(6px);
  }

  &.btn-medium {
    height: 38px;
    line-height: 38px;
    font-size: 18px;
    @include border-radius(8px);
  }

  &.btn-large {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    @include border-radius(12px);
    padding: 0 20px;
  }

  &.btn-blue {
    background: $dnm_blue;
    &:hover {
      background: lighten($dnm_blue, 10%);
    }

    &:active {
      background: darken($dnm_blue, 10%);
    }
  }

  &.btn-green {
    background: $dnm_green;
    &:hover {
      background: lighten($dnm_green, 10%);
    }

    &:active {
      background: darken($dnm_green, 10%);
    }
  }

  &.btn-red {
    background: $dnm_red;
    &:hover {
      background: lighten($dnm_red, 10%);
    }

    &:active {
      background: #e93e34;
      background: darken($dnm_red, 10%);
    }
  }

  &.btn-orange {
    background: $orange;
    &:hover {
      background: lighten($orange, 10%);
    }

    &:active {
      background: darken($orange, 10%);
    }
  }  

  &.twitter {
    width:auto;
    text-align: center;
    box-sizing: border-box;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.btn-group {
  display: inline-block;
  overflow: hidden;

  .btn {
    float: left;
  }

  .btn:first-child:not(:last-child) {
    @include border-right-radius(0px);
    border-left: none;
  }

  .btn:not(:first-child):not(:last-child) {
    @include border-left-radius(0px);
    @include border-right-radius(0px);
  }

  .btn:last-child:not(:first-child) {
    @include border-left-radius(0px);
    border-right: none;
  }
}

