.btn, 
a.btn {
  display: inline-block;
  @include box-sizing(border-box);
  padding: 0 10px;
  border: none !important;
  color: $pure-white;
  font-family: $font-regular, sans-serif;
  text-decoration: none;
  letter-spacing: 1px;
  @include transition(background .1s ease-in);

  &.full-width {
    @include box-sizing(border-box);
    width: 100%;
  }

  &.margin-bottom {
    margin-bottom: 1em;
  }
  .icon {
    vertical-align: middle;
  }

  &:visited, &:hover {
    color: #fff ;
  }

  &.btn-small {
    height: 30px;
    @include border-radius($border-radius-mobile);
    line-height: 30px;
    font-size: 14px;
  }

  &.btn-medium {
    height: 38px;
    @include border-radius(8px);
    line-height: 38px;
    font-size: 18px;
  }

  &.btn-large {
    padding: 0 20px;
    height: 50px;
    @include border-radius($border-radius-default);
    font-size: 22px;
    line-height: 50px;
  }

  &.btn-blue {
    background: $blue;
    
    &:hover {
      background: lighten($dnm_blue, 10%);
    }

    &:active {
      background: darken($dnm_blue, 10%);
    }
  }

  &.btn-green {
    background: $green;
    
    &:hover {
      background: lighten($green, 10%);
    }

    &:active {
      background: darken($green, 10%);
    }
  }

  &.btn-red {
    background: $red;
    
    &:hover {
      background: darken($red, 10%);
    }

    &:active {
      background: darken($red, 15%);
    }
  }

  &.btn-orange {
    background: $orange;
    
    &:hover {
      background: lighten($orange, 10%);
    }

    &:active {
      background: darken($orange, 10%);
    }
  }


  &.twitter, 
  &.facebook, 
  &.linkedin {
    
    &.connected {
      background: $red;

      &:hover {
        background: darken($red, 10%);
      }
    }
  }

  &.twitter {
    background: $twitter-blue;

    &:hover {
      background: darken($twitter-blue, 15%);
    }
  }

  &.facebook {
    background: $facebook-blue;

    &:hover {
      background: darken($facebook-blue, 15%);
    }
  }

  &.linkedin {
    background: $linkedin-blue;

    &:hover {
      background: darken($linkedin-blue, 15%);
    }
  }
}

.btn-group {
  display: inline-block;
  overflow: hidden;

  .btn {
    float: left;
  }

  .btn:first-child:not(:last-child) {
    @include border-right-radius(0px);
    border-left: none;
  }

  .btn:not(:first-child):not(:last-child) {
    @include border-left-radius(0px);
    @include border-right-radius(0px);
  }

  .btn:last-child:not(:first-child) {
    @include border-left-radius(0px);
    border-right: none;
  }
}

