.alert {
  position: absolute;
  z-index: $flash-z-index;
  border: none;
  border-radius: 0px;
  top: 60px;
  text-align: center;
  color: white;
  text-shadow: none;
  padding: 0px;
  width: 100%;

  p {
    color: white;
    font-size: 24px;
    line-height: 60px;
    margin: 0px;
    padding: 0px 49px 0px 0px;

    span.left-icon {
      margin-right: 15px;
    }

    span.right-icon {
      margin-left: 5px;
    }
  }

  a.close {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 36px;
    line-height: 60px;
    color: white;
    @include opacity(.7);
  }

  &.green {
    background-color: #00693A;
  }

  &.blue {
    background-color: #004DA7;
  }

  &.red {
    background-color: #DB0006;
  }

  &.orange {
    background-color: #DB6606;
  }

}

.modal-content{

  .alert{
    position: relative;
    top: auto;
    left: auto;
  }
}

.flash {
  position: relative;
  border: 1px solid #c6c6c6;
  color: #394449;
  background: #f5f5f5;
  background-repeat: no-repeat;
  background-position: 13px 13px;
  margin: 12px 0;
  padding: 12px;
  font-size: 16px;
  background-image: image-url("components/flash/info.png");
  padding-left: 40px;
  @include border-radius(8px);

  &.error {
    border: 1px solid #e3aca9;
    color: #e83d33;
    background-image: image-url("components/flash/error.png");
  }

  &.notice, &.alert {

  }

  &.success {
    border: 1px solid #b9c88e;
    color: #89a734;
    background-image: image-url("components/flash/success.png");
  }

  &.message {

  }

  .close {
    position: absolute;
    top: 13px;
    right: 13px;
    background: image-url("layout/close.png");
    width: 16px;
    height: 17px;
    @include opacity(0.7);
    &:hover {
      @include opacity(1);
    }
  }
}
