.google-map {

  img {
    max-width: none;
  }

  label {
    width: auto;
    display: inline;
  }

  .gmnoprint,
  .gmnoprint {
    display: none;
  }

  .google-map-popover {
    background: $gray3; //#e6e7e8;
    border: 1px solid #858980;
    @include border-radius(5px);
    @include background-clip(border-box);
    // padding: 6px;
    color: #58595b;
    
    @media (max-height: 500px) {
      .google-map-popover-content {
        max-height: 130px;
        overflow-y: auto;
      }
    }
    
    h4 {
      padding: 6px;
      display: block;
      background: $gray6;
      color: $gray2;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      @include border-top-radius(3px);

    }
    
    .close {
      position: absolute;
      top: 0px;
      right: 3px;
      font-size: 75%;
    }

    em.arrow, em.arrow-border {
      position: absolute;
      top: 100%;
      left: 50%;
    }

    em.arrow {
      margin-left: -10px; // NB: Not -9px, as the map markers are not exactly symmetrical so it appears off-center
      @include css-arrow($width: 9px, $direction: down, $color: $gray3);
    }

    em.arrow-border {
      margin-left: -11px; // NB: Not -11px, as the map markers are not exactly symmetrical so it appears off-center
      @include css-arrow($width: 10px, $direction: down, $color: #858980);
    }
  }
}

.listing-sibling {
  border-bottom: 1px solid $gray5;

  &:last-child {
    border: none;
    @include border-bottom-radius(5px);
  }

  .popover-image-container {
    float: left;
    width: 94px;
    height: 58px;

    a {
      display: block; 
      float: left;
    }

    img {
      max-width: 100%;
    }
  }

  .popover-info-container {
    float: right;
    width: 191px;
    margin-right: 3px;
    background: transparent;

    h4 {
      padding: 0;
      background: transparent;

      a {
        display: block;
        text-overflow: ellipsis;
        margin-left: 10px;
        max-width: 172px;
        white-space: nowrap;
        overflow: hidden;
      }  
    }

    span.label {
      float: right;
      margin: 5px 0 0 1px;
      font-size: %80;
      padding: 2px 3px;
      letter-spacing: -1px;
    }  
  }
}

