#hero {

  &.collapsed {
    border-bottom: none;
  }
}

.hero-wood-texture {
  @extend .wood-texture;
  border-top: 1px solid #382a23;
  border-bottom: 1px solid #2b1b13;
  color: #cebbae;
  padding: 12px 0;
  text-shadow: none;
}

.hero-wood-spacer {
  @extend .hero-wood-texture;
  padding: 0;
  height: 16px;
}

.hero-gray-texture {
  background: image-url("layout/gray-texture.png");
  border-bottom: 1px solid #fff;
}

.hero-nav {
  @extend .hero-wood-texture;

  li {
    float: left;

    a {
      display: block;
      padding: 0 15px;
      line-height: 40px;
      font-size: 16px;
      color: rgba(255,255,255,.6);
      text-transform: uppercase;
    }

    &:first-child {
    }
  }

  li.current a, a:hover {
    color: #fff;
  }
}
