#hero {
  border-top: 3px solid $dnm_blue;
  border-bottom: 1px solid #ffffff;

  height: 500px;
  background: $dnm_grey image-url("sections/home/hero1.jpg") center center no-repeat;
  background-size: cover;

  .shadow {
    background: image-url("layout/header-shadow.png") top left repeat-x;
    position: relative;
    height: 32px;
  }

  &.collapsed {
    height: 35px;
    background: 0;
    border-bottom: 0;
  }

}