.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
  @include opacity(0);
  @include transition(opacity 0.3s ease-in-out);

  &.visible {
    @include opacity(1);
  }

  html.no-rgba & {
    background: #000;
    @include opacity(0.6);
  }

  z-index: $modal-z-index - 1;
}

.modal-wrapper {
  background: $gray240;
  @include border-radius($border-radius-default);
}

.modal-container {
  z-index: $modal-z-index;
  padding-bottom: 50px;
  width: 600px;
  @include transition(opacity 0.5s ease-in-out);
  @include opacity(0);

  &.visible {
    @include opacity(1);
  }

  &.loading .modal-close {
    display: none;
  }

  @media (max-width: 767px) {
    position: fixed;
    top: 20px;
    right: 20px;
    left: 20px;
    margin: 0;
    width: 100%;
    width: auto;
  }

  &.sign-up-modal {
    
    .modal-close {
      top: 12px;
      right: 20px;
    }

    .modal-content {
      background: transparent;

      h2 {
        margin-left: -10px;
        color: $gray230;
      }

      .hr {
        background: transparent;

        span {
          color: $gray220;
        }  
      }
    }

    .modal-loading {
      background: transparent;
    }    
  }
}

.modal-loading {
  @extend .modal-wrapper;
  height: 200px;
  background: $gray220 image-url("components/modal/loader.gif") center center no-repeat;
}

.modal-content {
  @extend .modal-wrapper;
  padding: $padding-default;
  z-index: $modal-z-index + 1;
  @include transition(opacity 0.2s);

  // NB: Chrome doesn't like other vendor-prefixed transition
  // types.
  @include transition(transform 0.4s);
  @include transition(-webkit-transform 0.4s);
  @include transition(-moz-transform 0.4s);
  @include transition(-ms-transform 0.4s);
  @include opacity(0);
  @include transform(translateY(-200px));

  &.visible {
    @include opacity(1);
    @include transform(translateY(0));
  }

  header {
    display: block;
    margin-top: -$padding-default;
    margin-right: -$padding-default;
    margin-bottom: $padding-default;
    margin-left: -$padding-default;
    padding: $padding-default;
    background: $gray210;
    color: $gray80;
    @include border-corner-radius(top, left, $border-radius-default);
    @include border-corner-radius(top, right, $border-radius-default);

    h2 {
      color: $gray80;
    }
  }

  hr, 
  .hr {
    border-bottom: 0;
    margin-left: -$padding-default;
    margin-right: -$padding-default;
    margin-top: $padding-default;
    margin-bottom: $padding-default;
    text-align: center;
  }

  .hr span {
    position: relative;
    top: -10px;
    display: inline-block;
    padding: 0 8px;
    background: transparent;
    color: $gray120;
    font-weight: bold;
  }
}

.modal-close {
  position: absolute;
  top: 6px;
  right: 8px;
  z-index: $modal-z-index + 3;
  width: 18px;
  height: 18px;
  color:$icon;
  font-size: 18px;

  &:hover {
    color: $icon-hover;
  } 
}

.modal-body-wrapper {
  position: fixed;
  width: 100%;
}


// Payments

input#card_number {
  padding-left: 50px;
}

.credit-card-icon {
  margin: -48px 0 18px 12px;
  width: 20px;
  font-size: 155%;
  opacity: .7;
}

.card-info {
  float: left 
}

.card-info.expiry {
  width: 49%;
  margin-right: 1%;
}

.card-info.security {
  width: 49%;
  margin-left: 1%;   
} 
