.navbar {
  background: $black;

  .navbar-inner {
    @include box-sizing(border-box);
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 0 0 20px;
    height: 60px;
    background: $black;

    #logo {
      float: left;
      margin-top: 4px;
      width: $theme_logo_width;
      height: 28px;
      border: none !important;
      background: url($theme_logo) no-repeat;
      text-indent: -9999px;
      @include transition(0,0,0);

      @media (max-width: $ipad-width) {
        width: 50px;
        height: 50px;
        margin: -8px 0 0;
        background: url($theme_icon);
       
      }

      @media (-webkit-min-device-pixel-ratio: 1.5), 
      (min-resolution: 144dpi) { 
        background: url($theme_logo2x) no-repeat;
        background-size: 100%;

        @media (max-width: $ipad-width) {
          background: url($theme_icon2x) no-repeat;
          background-size: 100%;        
        }
      }     
    }
  }

  .nav-links {
    padding-top: 10px;
    line-height: 40px;

    a.nav-link {
      display: inline-block;
      float: right;
      color: $gray160;
      font-size: 20px;
      text-decoration: none;

      &:hover {
        color: $gray210;
      }

      &.margin-right {
        margin-right: 20px;
      }

      @media (max-width: 600px) {
        span {
          display: none;
        }
      }
    }
  }

  a.btn.btn-blue {
    float: right;
    margin-top: 1px;
    margin-right: 10px;
    text-align: center;

    @media (max-width: 600px) {
      span {
        display: none;
      }
    }

    &.user-signed-in {

      @media (max-width: 900px) {
        span {
          display: none;
        }
      }
    }
  }
}

.navbar-inverse {
  
  ul.nav {
    float: right;

    li {
      
      @media (max-width: $ipad-width) {
       
       a.dropdown-toggle > span{
          display:none;
        }

      }

      ul.dropdown-menu {
        left: 8px;
        min-width: 130px;
        border: none;
        background:$theme_black;
        
        @media (max-width: $ipad-width) {
          left: -37px;

          &:before {
            left: 56px;
          }

          &:after {
            left: 55px;
          }
        }

        li {
          background:$theme_black;
          
          a {
            padding: 4px 8px;
            
            &:hover{
              background:$theme_black;
              color: $gray220;
            }
          }

          &.divider {
            border-color: $gray80;
            padding: 0;
          }
        }

        &::after{
          border-bottom-color:$theme_black;
        }
      }

      &.active {
        background: $theme_black;
        
        a {
          color: $theme_white;
        }
      }

      a {
        position: relative;
        display: block;
        padding: 8px 14px;
        color: $gray160;
        font:normal 16px/22px $font-medium, sans-serif;

        &:active {
          color: $gray220;
        }

        &.nav-link {
          font-size: 20px;
        }
      }

      &.dropdown.open {
        background: $theme_black;
        
        .dropdown-toggle {
          background: $theme_black;
        }
      }
    }
  }
}

.dropdown-menu .divider {
  margin: 2px 0;
}


// Accordian nav
// First level of elements expands out

ul.nav.accordian {
  
  > li {
    
    > a {
      padding-right: 35px;

      i {
        position: absolute;
        right: 12px;
        width: 16px;
        height: 17px;
      }
    }

    > ul {
      display: none;
      border-bottom: 1px solid transparent;

      li {
        border-bottom: 1px solid $gray210;
        background: $gray220;

        &:first-child {
          border-top: none;
        }

        &:last-child {
          border-bottom: none;
        }

        &:first-child:last-child {
        }

        a {
          padding-right: 36px;
          color: $pure-white;

          i {
            position: absolute;
            top: 8px;
            right: 12px;
            width: 13px;
            height: 23px;
          }
        }

        &:hover {
          
          > a i {
            display: block;
            @include opacity(0.5);
          }
        }

        &.active {
          
          > a i {
            display: block;
            @include opacity(1);
          }
        }
      }
    }

    &.expanded {
      

      // Expanded navs have different style borders

      border-bottom: none;

      > ul {
        display: block;
      }
    }
  }
}
