ul.nav {
  background: #f5f5f5;
  border-bottom: 1px solid #9e9e9e;
  @include border-radius(8px);
  overflow: hidden;

  li {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #d5d6d6; // gray

    &:hover, &.active {
      background: #f0eded;
    }

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }

    a {
      display: block;
      font:normal 16px/22px $font-medium, sans-serif;
      padding: 8px 16px;
      position: relative;

      &, &:hover, &:active, &:visited {
        color: #1e2222;
      }
    }
  }
}

// Accordian nav
// First level of elements expands out
ul.nav.accordian {
  > li {
    > a {
      padding-right: 35px;

      i {
        position: absolute;
        top: 14px;
        right: 12px;
        background: image-url("components/nav/collapsed.png");
        width: 16px;
        height: 17px;
      }
    }

    > ul {
      display: none;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #155f89;

      li {
        border-top: 1px solid #4da7d9;
        border-bottom: 1px solid #1a74a6;
        background: #2091d0;

        &:first-child {
          border-top: none;
        }

        &:last-child {
          border-bottom: none;
        }

        &:first-child:last-child {
        }

        a {
          color: #fff;
          padding-right: 36px;

          i {
            position: absolute;
            top: 12px;
            right: 12px;
            background: image-url("components/nav/arrow-right.png");
            width: 13px;
            height: 23px;
            display: none;
          }
        }

        &:hover {
          > a i {
            display: block;
            @include opacity(0.5);
          }
        }

        &.active {
          > a i {
            display: block;
            @include opacity(1);
          }
        }
      }
    }

    &.expanded {
      // Expanded navs have different style borders
      border-bottom: none;

      > a i {
        background: image-url("components/nav/expanded.png");
      }

      > ul {
        display: block;
      }
    }
  }
}
