.navbar {

  .navbar-inner {
    background: $black;
    @include box-sizing(border-box);
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 0 0 20px;
    height: 60px;

    #logo {
      float: left;
      margin-top: 4px;
      width: $theme_logo_width;
      height: 28px;
      background: image-url($theme_logo) no-repeat;
      text-indent: -9999px;

      @media (-webkit-min-device-pixel-ratio: 1.5), 
      (min-resolution: 144dpi) { 
        background: image-url($theme_logo2x) no-repeat;
        background-size: 100%;
      }     
    }

    @media (max-width: $ipad-width) {

      #logo {
        height: 50px;
        width: $theme_icon_width;
        margin-top: -10px;
        background: image-url($theme_icon) no-repeat;
      }
    }
  }

  .nav-links {
    line-height: 60px;

    .dropdown-menu {
      min-width: 130px;
    }

    a.nav-link {
      position: relative;
      display: inline-block;
      padding: 18px 20px;
      color: $gray160;
      font:normal 16px/22px $font-regular, sans-serif;
      font-size: 20px;

      span.icon {
        display: none;
      }

      @media (max-width: $ipad-width) {
          span.text { display: none; }
          span.icon { display: inherit; }
      }

      span.count {
        margin-left: 8px;
        background: $gray160;
        @include border-radius(0.7em);
        color: $theme_black;
        display: inline-block;
        line-height: 1.3em;
        font-size: 14px;
        text-align: center;
        width: 1.3em;
      }

      &:hover {
        color: $gray210;
      }

     .ico-chevron-down {
          padding-left: 8px;
          font-size: 14px;
      }

      &.btn-blue {
        height: 60px;
        margin: 0px;
        color: $pure-white;
        @include border-radius(0);

        &:hover {
          background: lighten($theme_blue, 10%);
        }
      }
    }
  }
}

/* Below is only for applying colors to the inverted theme.  Don't
   put other styles in here, use the navbar block above this one. */

.navbar-inverse {

  .navbar-inner {
    background: $black;
  }

  ul.nav {
    li {

      ul.dropdown-menu {
        background: $theme_black;

        li {
          background:$theme_black;

          a:hover{
              background:$theme_black;
              color: $gray220;
          }
        }

        &::after{
          border-bottom-color:$theme_black;
        }
      }

      &.active {
        background: $theme_black;
        
        a {
          color: $theme_white;
        }
      }

      a {
        color: $gray80;

        &:active {
          color: $gray220;
        }

      }

      &.dropdown.open {
        background: $theme_black;
        
        .dropdown-toggle {
          background: $theme_black;
        }
      }
    }
  }
}
/* end */

.manage-nav {

  /* Customize the navbar links to be fill the entire space of the .navbar */
  .navbar {
    background: $gray240;
    @include border-radius($border-radius-bottom);
    border: 1px solid $gray220;
    margin-bottom: 25px;

    .navbar-inner {
      padding: 0;
      background: $gray240; 
      filter: none;
      height: 50px;

      @media (max-width: $ipad-width) {
        height: auto;
      }
    }

    .nav {
      margin: 0;
      display: table;
      width: 100%;

      @media (max-width: $ipad-width) {
        display: block;
      }

      li {
        display: table-cell;
        width: 1%;
        float: none;

        @media (max-width: $ipad-width) {
          display: block;
          padding-left: 20px;

          &:last-child {
            padding-bottom: 10px;
          }
        }

        a {
          text-align: center;
          text-shadow: none;
          padding: 5px 0 0;
          color: $gray160;
          font-size: 18px;
          //display: inline-block;
          white-space: nowrap;

          &:hover, &.active {
            color: $gray80;
          }
        }
      }
    }
  }
}
