.overlay-container {
  position: absolute;
  z-index: 200;
  visibility: hidden;
  float: left;
  overflow: visible;
}

embed {
  z-index: 100;
}

.overlay-container.overlay-open {
  z-index: $absolute-top-z-index * 100;
  visibility: visible;
}

.overlay-backing {
  width: 0;
  height: 0;
  display: none;
  
  &.overlay-backing-visible {
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    overflow: hidden;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 150; 
  } 
}

.overlay-container.context {
  padding-top: 9px;
  width: 300px;
  
  h1 {
    font-weight: bold;
    font-size: 16px;
  }

  &.right {
    padding-top: 0;
    padding-left: 12px;
    background: transparent image-url("editor/overlay_context_arrow_left.png") no-repeat left center;
  }

  .overlay-content {
    @extend .box;
    overflow: hidden;
    border: 1px solid $gray160;
    background: $white;

    textarea {
      width: 250px;
      height: 80px;
    }
  }
}
