html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.dnm-page-body {
  position: relative;
  min-height: 100%;
  height: auto;
}

.content-wrapper {
  min-height: 100%;
  height: auto;

  .dnm-page {
    padding-top: 90px;

    &.with-sub-navbar {
      padding-top: 59px;
    }
  }

  .footer-push {
    height: $footer-height+60;
  }
}

.footer-wrapper {
  margin-top: -$footer-height;
  padding: 0;
  height: $footer-height;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .container-fluid {
    padding-top: 40px;
  }

  @media (max-width: $iphone-landscape) {
    height: $footer-height + 50;
  }

  @media (max-width: $ipad-width) {
    height: $footer-height + 50;
  }
}
