html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.content-wrapper {
  min-height: 100%;
  height: auto;

  .dnm-page {
    padding-top: 90px;
  }

  .footer-push {
    height: $footer-height;
  }
}

.footer-wrapper {
  padding: 0;
  height: $footer-height;

  .container-fluid {
    padding-top: 40px;
  }

  @media (max-width: $iphone-landscape) {
    margin-top: -$footer-height;
    height: $footer-height + 50;
  }

  @media (max-width: $ipad-width) {
    margin-top: -$footer-height;
    height: $footer-height + 50;
  }
}
