- if f.object.errors.any?
  .errors-global
    %h3
      %b= t('dashboard.transactables.transactable_not_saved')
      = t('dashboard.transactables.address_errors_html', count: f.object.errors.count)

    %ul
      - f.object.get_error_messages.each do |err|
        %li= err
