- content_for :booking_type_schedule_tab_content do
  = f.simple_fields_for :schedule, f.object.schedule || f.object.build_schedule(schedule: f.object.transactable_type.schedule.try(:schedule).try(:to_hash).try(:to_json)) do |schedule_form|
    = render 'schedules/fields', f: schedule_form
