@import "pure-css-loader/src/loader-default";

.user-entry-form {
  position: relative;
  padding: 20px;
  background: #f5f6f8;

  .user-entry-form-content {
    @include clear;

    position: relative;
    margin: 0 0 10px;

    figure {
      display: none;
    }

    @media (min-width: 768px) {
      figure {
        display: block;
        float: left;
        width: 34px;
        margin: 1px;

        img {
          height: auto;
          display: block;
          background: $avatar-background;
        }
      }

      figure ~ * {
        margin: 0;
        margin-left: 50px;
      }
    }

    .control-group {
      margin-bottom: 0;

      label {
        @include sr-only;
      }

      textarea {
        resize: none;
        padding-right: 45px;
      }
    }

    .image-upload-input {
      position: absolute;
      right: 0;
      top: 0;
      height: 38px;
      width: 38px;
      overflow: hidden;

      &::before {
        position: absolute;
        z-index: 5;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        line-height: 38px;
        text-align: center;
        font-size: 16px;
        color: #999;
        font-family: FontAwesome;
        content: $fa-var-camera-retro;
      }

      input {
        position: relative;
        z-index: 10;
        opacity: 0;
        font-size: 120px;
      }

      .env-test & {
        height: auto;
        width: auto;
        position: relative;
        overflow: visible;

        &::before {
          display: none;
        }

        input {
          opacity: 1;
        }
      }
    }
  }

  .user-entry-form-images {
    @include clear;
  }

  .submit-hint {
    display: none;
    position: absolute;
    right: 0;
    bottom: -18px;
    text-align: right;
    color: #999;
    font-size: 12px;
    margin: 0;

    @media (min-width: 768px) {
      display: block;
    }
  }

  .user-entry-form-image {
    position: relative;
    padding-top: 61%;
    width: 100%;
    margin: 10px 0 0;
    overflow: hidden;
    background: #fff;
    border: 2px solid #dde1ea;

    &.hidden {
      display: none;
    }

    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform-origin: 50% 50%;
      transform: translateY(-50%);
    }

    .orientation-1 {
      transform: translateY(-50%);
    }

    .orientation-2 {
      transform: translateY(-50%) scaleX(-1);
    }

    .orientation-3 {
      transform: translateY(-50%) rotate(180deg);
    }

    .orientation-4 {
      transform: translateY(-50%) scaleX(-1) rotate(180deg);
    }

    .orientation-5 {
      transform: translateY(-50%) scaleX(-1) rotate(90deg);
    }

    .orientation-6 {
      transform: translateY(-50%) rotate(90deg);
    }

    .orientation-7 {
      transform: translateY(-50%) rotateX(-1) rotate(270deg);
    }

    .orientation-8 {
      transform: translateY(-50%) rotate(270deg);
    }

    .remove {
      position: absolute;
      right: 0;
      top: 0;
      width: 20px;
      height: 20px;
      padding: 0;
      text-align: center;

      // border-radius: 100%;
      background: $color-red-2;
      border: none;
      font-size: 0;

      &::before {
        font-family: FontAwesome;
        content: $fa-var-remove;
        font-size: 12px;
        font-weight: normal;
        line-height: 20px;
        color: #fff;
      }
    }
  }

  .editor-toolbar {
    padding-right: 50px;
  }

  @media screen and (min-width: 768px) {
    .user-entry-form-image {
      width: 32%;
      padding-top: 19%;
    }
  }

  .action {
    text-align: right;
    margin-bottom: 0;
  }

  .action .button-a {
    padding: 0 20px;
  }

  .loader {
    position: absolute;

    &.is-active {
      background-color: rgba(0, 0, 0, 0.4);
    }

    &::after {
      position: absolute;
    }
  }
}

// codemirror integration
.publish-a {
  position: relative;
  z-index: 30;

  > .user-entry-form-overlay {
    position: fixed;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s ease;
    will-change: opacity;
  }

  form {
    position: relative;
    z-index: 10;
  }

  textarea {
    height: 38px;
    transition: height .3s ease;
    will-change: height;
  }

  .CodeMirror {
    height: 38px;
    padding-top: 3px;
  }

  .CodeMirror, .CodeMirror-scroll {
    min-height: 0;
  }

  .editor-toolbar, .editor-statusbar, .topics, .action {
    display: none;
  }

  &.focused, .entry-editor {
    & > .user-entry-form-overlay {
      opacity: 1;
      pointer-events: auto;
    }

    .CodeMirror {
      height: 300px;
      padding-top: 10px;
    }

    .editor-toolbar, .editor-statusbar, .topics, .action {
      display: block;
    }

    .user_status_update_text + .image-upload-input {
      top: 7px;
      right: 10px;
      margin-left: 0;

      &::before {
        color: #777;
        font-size: 15px;
      }
    }
  }
}

[data-user-entry-form-wrapper]:focus {
  outline: none;
}

.entry-editor .user_status_update_text + .image-upload-input {
  top: 7px;
  right: 10px;
  margin-left: 0;

  &::before {
    color: #777;
    font-size: 15px;
  }
}
