%article.location
  %h2
    The location
    - if current_user.try(:admin)
      = link_to login_as_admin_user_path(location.creator, :return_to => edit_manage_location_path(location)), :method => :post, :confirm => "This will log you out and re-log you in as location creator" do
        %span.ico-edit
  %p= location.description
  - if location.amenities.any?
    %h3 Amenities
    .amenities-container
      - location.amenities.order('name ASC').in_groups_of(4).each do |amenity_group|
        .row-fluid.amenities-row
          - amenity_group.compact.each do |amenity|
            .span3{title: amenity.name}
              = amenity.name
    .clearfix
