%article.location
  %h2
    The location
    - if user_can_edit_location?(current_user, location)
      = link_to edit_manage_location_path(location) do
        %span.ico-edit
  %p= location.description
  - if location.amenities.any?
    .amenities-block
      .amenities-header
        %h3 Amenities
        %a{href: '#amenities'}
          %h3 Amenities
          %span.ico-chevron-right
      .amenities-container
        - location.amenities.order('name ASC').in_groups_of(4).each do |amenity_group|
          .row-fluid.amenities-row
            - amenity_group.compact.each do |amenity|
              .span3{title: amenity.name}
                = amenity.name
    .clearfix
