- is_active = (local_assigns[:is_active].presence || false)

%footer
  %p.actions
    = link_to t(:comment), '#', data: { comment: '' }

    %span &bull;
    - if report = event.reported_by(current_user, request.remote_ip)
      = link_to t(:cancel_spam_report), url_for([event, report]), remote: true, method: :delete
    - elsif current_user
      = link_to t(:report_as_spam), url_for([event, event.spam_reports.build]), remote: true, method: :post


  = render 'comments/comments', comment: event.comments.build, is_active: is_active
