%head
  %meta{:charset => "utf-8"}/
  %title
    = t :global_page_title
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
  = stylesheet_link_tag    'community', media: 'all'

  %link{:href => "#{platform_context.favicon_image.url}", :rel => "shortcut icon"}/

  = csrf_meta_tags
