- if users.empty?
  %p.empty-resultset= t('user_profile.empty_resultset.users')
- else
  / grid
  .grid-a-search-a
    .wrap.content-container
      - users.each do |user|
        = render 'shared/person', user: user

  / more
  %p.more-a{:'data-see-more' => true, class: "#{users.next_page ? '' : 'hide-initially'}"}
    = link_to t(:see_more), see_more_route, remote: true, data: { next_page: users.next_page }
