.content-container
  - if !@dimensions_templates.length.zero?
    .shipping-options.dimensions-templates
      = render 'list_table', collection: @dimensions_templates
  - else
    .row
      .text-container
        %p
          You don't have any Dimensions Templates set up yet. Create one now by clicking below.
        %p
          = link_to t('instance_admin.shipping_options.dimensions_templates.add_new_dimensions_template'), new_instance_admin_shipping_options_dimensions_template_path
  
