@font-face {
  font-family: 'ArcherBold';
  src:  url('/assets/blog/Archer-Bold-Pro.eot');
  src:  url('/assets/blog/Archer-Bold-Pro.eot#iefix') format('embedded-opentype'),
        url('/assets/blog/Archer-Bold-Pro.woff') format('woff'),
        url('/assets/blog/Archer-Bold-Pro.ttf') format('truetype'),
        url('/assets/blog/Archer-Bold-Pro.svg#Archer-Bold-Pro') format('svg');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BookAntiqua-Bold';
  src:  url('/assets/blog/ANTQUAB.eot');
  src:  url('/assets/blog/ANTQUAB.eot#iefix') format('embedded-opentype'),
        url('/assets/blog/ANTQUAB.woff') format('woff'),
        url('/assets/blog/ANTQUAB.ttf') format('truetype'),
        url('/assets/blog/ANTQUAB.svg#ANTQUAB') format('svg');

  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'BookAntiqua-BoldItalic';
  src:  url('/assets/blog/ANTQUABI.eot');
  src:  url('/assets/blog/ANTQUABI.eot#iefix') format('embedded-opentype'),
        url('/assets/blog/ANTQUABI.woff') format('woff'),
        url('/assets/blog/ANTQUABI.ttf') format('truetype'),
        url('/assets/blog/ANTQUABI.svg#ANTQUABI') format('svg');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BookAntiqua-Italic';
  src:  url('/assets/blog/ANTQUAI.eot');
  src:  url('/assets/blog/ANTQUAI.eot#iefix') format('embedded-opentype'),
        url('/assets/blog/ANTQUAI.woff') format('woff'),
        url('/assets/blog/ANTQUAI.ttf') format('truetype'),
        url('/assets/blog/ANTQUAI.svg#ANTQUAI') format('svg');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BookAntiqua';
  src:  url('/assets/blog/BKANT.eot');
  src:  url('/assets/blog/BKANT.eot#iefix') format('embedded-opentype'),
        url('/assets/blog/BKANT.woff') format('woff'),
        url('/assets/blog/BKANT.ttf') format('truetype'),
        url('/assets/blog/BKANT.svg#BKANT') format('svg');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBold';
  src:  url('/assets/blog/Gotham-Bold.eot');
  src:  url('/assets/blog/Gotham-Bold.eot#iefix') format('embedded-opentype'),
        url('/assets/blog/Gotham-Bold.woff') format('woff'),
        url('/assets/blog/Gotham-Bold.ttf') format('truetype'),
        url('/assets/blog/Gotham-Bold.svg#Gotham-Bold') format('svg');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratBold';
  src:  url('/assets/blog/Montserrat-Bold.eot');
  src:  url('/assets/blog/Montserrat-Bold.eot#iefix') format('embedded-opentype'),
        url('/assets/blog/Montserrat-Bold.woff') format('woff'),
        url('/assets/blog/Montserrat-Bold.ttf') format('truetype'),
        url('/assets/blog/Montserrat-Bold.svg#Montserrat-Bold') format('svg');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OratorStd';
  src:  url('/assets/blog/OratorStd.eot');
  src:  url('/assets/blog/OratorStd.eot#iefix') format('embedded-opentype'),
        url('/assets/blog/OratorStd.woff') format('woff'),
        url('/assets/blog/OratorStd.ttf') format('truetype'),
        url('/assets/blog/OratorStd.svg#OratorStd') format('svg');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Regular';
  src:  url('/assets/blog/PTS55F.eot');
  src:  url('/assets/blog/PTS55F.eot#iefix') format('embedded-opentype'),
        url('/assets/blog/PTS55F.woff') format('woff'),
        url('/assets/blog/PTS55F.ttf') format('truetype'),
        url('/assets/blog/PTS55F.svg#PTS55F') format('svg');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Italic';
  src:  url('/assets/blog/PTS56F.eot');
  src:  url('/assets/blog/PTS56F.eot#iefix') format('embedded-opentype'),
        url('/assets/blog/PTS56F.woff') format('woff'),
        url('/assets/blog/PTS56F.ttf') format('truetype'),
        url('/assets/blog/PTS56F.svg#PTS56F') format('svg');

  font-weight: normal;
  font-style: normal;
}
