%h4 Manage Transactable Types

.content-container
  .row
    .table-container.col-xs-12.dropshadow
      %table.table
        %tbody
          - @transactable_types.each do |resource|
            %tr
              %td= link_to resource.name.humanize, instance_admin_manage_transactable_type_path(resource)
              %td= link_to 'Edit', edit_instance_admin_manage_transactable_type_path(resource), class: 'pull-right'

