@import "instance_admin/bootstrap";
@import "instance_admin/bootstrap-theme";
@import "instance_admin/bootstrap-select";
@import "bootstrap3-switch";
@import "chosen";

@import "select2";
@import "compass";

@import "jcrop";
@import "vendor/overrides/jcrop";
@import "vendor/overrides/chosen";
@import "vendor/icui";

@import "globals/*";
@import "components/nav";
@import "components/modal";
@import "components/flash";
@import "components/fileupload";
@import "components/tags";
@import "sections/schedule";

$font-stack: $font-regular, sans-serif, helvetica;

$color-blue: #5dbded;
$color-light-blue: #acdef7;
$color-dark-blue: #51a1ca;
$color-red: #e85c41;
$color-green: #007F00;
$color-light-red: #f5ad9e;
$color-dark-red: #c6533a;
$color-dark-gray: #555;
$color-gray: #b6b6b6;
$color-light-gray: #dadada;
$color-ultra-light-gray: #f2f2f2;
$color-headings: #3a3a3a;
$color-placeholder: #ccc;
$dark_text_color: #3B3B3B;

@import "dashboard/*";
@import "dashboard/pagination";

@import "fonts";
@import "layout/footer";

@import "instance_admin/jstree";
@import "instance_admin/jstree_themes/apple/style";

