/*
 *= require skeleton/skeleton
 */

@import "compass";
@import "compass/css3";
@import "compass/reset";
@import "layout/*";
@import "components/*";

@import "vendor/jquery-ui-1.8.23.custom.css.scss";

/* #Site Styles
================================================== */

// Full width container
.super-container {
}

body {
  background: image-url("layout/background-tile.png");

  @extend .font-banda;
}

header {
  margin-top: 15px !important;

  #logo {
    display: inline-block;
    background: image-url("layout/logo.png");
    width: 244px;
    height: 52px;
    text-indent: -9999px;
  }

  #header_links {
    padding-top: 10px;
    line-height: 38px;

    a.header-link {
      display: inline-block;
      color: $dnm_gray;
      font-size: 16px;
      margin-right: 30px;
      text-decoration: none;

      &:hover {
        color:rgb(10,10,10);
      }
    }
  }
}

#content > .container {
  padding-top: 30px;
  background: image-url("layout/background-logo.png") 0 -60px no-repeat;
  padding-bottom: 30px;
}

/* #Page Styles
================================================== */
@import "sections/*";

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  header {
    .btn.btn-blue {
      position:absolute;
      top:10px;
      right:0;
    }
    a.header-first, a.header-second {
      float:left;
    }  
  }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 767px) {
  header {
    #logo {
      display:block;
      margin:0 auto;
    }
    .btn.btn-blue {
      top:62px;
    }
    a.header-first, a.header-second {
      font-size:18px !important;
      text-align: center;
    }
  }
  section.public #search_row .wood-box {
  margin-top:60px; }
}
@media only screen and (max-width: 480px) {
  #header_links { 
    a.header-link {
      margin-right:15px !Important;
      font-size:14px !Important;
    }
    .btn.btn-blue {
      font-size:12px;
    }
    a.header-first, a.header-second {
      font-size:16px !important;
    }
  } 
  section.public #search_row .wood-box {
    margin-top:35px; 
  }
}
@font-face {
    font-family: 'futura-light';
    src: url('http://s3.amazonaws.com/desksnearme.assets/fonts/futurastd-light.eot');
    src: url('http://s3.amazonaws.com/desksnearme.assets/fonts/futurastd-light.eot?#iefix') format('embedded-opentype'),
         url('http://s3.amazonaws.com/desksnearme.assets/fonts/futurastd-light.woff') format('woff'),
         url('http://s3.amazonaws.com/desksnearme.assets/fonts/futurastd-light.ttf') format('truetype'),
         url('http://s3.amazonaws.com/desksnearme.assets/fonts/futurastd-light.svg#futura_std_lightlight') format('svg');
    font-weight: normal !important;
    font-style: normal !important; 
}
@font-face {
    font-family: "futura-medium";
    src: url('http://s3.amazonaws.com/desksnearme.assets/fonts/futurastd-medium.eot');
    src: url('http://s3.amazonaws.com/desksnearme.assets/fonts/futurastd-medium.eot?#iefix') format('embedded-opentype'),
         url('http://s3.amazonaws.com/desksnearme.assets/fonts/futurastd-medium.woff') format('woff'),
         url('http://desksnearme.assets.s3.amazonaws.com/fonts/futurastd-medium.ttf') format('truetype'),
         url('http://s3.amazonaws.com/desksnearme.assets/fonts/futurastd-medium.svg#futura_std_mediummedium') format('svg');
    font-weight: normal !important;
    font-style: normal !important;
}
@font-face {
    font-family: 'futura-heavy';
    src: url('http://s3.amazonaws.com/desksnearme.assets/fonts/futurastd-heavy.eot');
    src: url('http://s3.amazonaws.com/desksnearme.assets/fonts/futurastd-heavy.eot?#iefix') format('embedded-opentype'),
         url('http://s3.amazonaws.com/desksnearme.assets/fonts/futurastd-heavy.woff') format('woff'),
         url('http://s3.amazonaws.com/desksnearme.assets/fonts/futurastd-heavy.ttf') format('truetype'),
         url('http://s3.amazonaws.com/desksnearme.assets/fonts/futurastd-heavy.svg#futura_std_mediumheavy') format('svg');
    font-weight: normal !important;
    font-style: normal !important;
}