/*
 *= require skeleton/skeleton
 */


@import "compass";
@import "compass/css3";
@import "compass/reset";
@import "layout/*";
@import "components/*";

@import "vendor/jquery-ui-1.8.23.custom.css.scss";

/* #Site Styles
================================================== */


body {
  background: image-url("layout/background-tile.png");
}

header {
  margin: 15px 0 0;

  #logo {
    display: inline-block;
    background: image-url("layout/logo.png");
    width: 244px;
    height: 52px;
    text-indent: -9999px;
  }

  #header_links {
    padding-top: 10px;
    line-height: 38px;

    .user-welcome {
      font-size: 16px;
      text-transform: uppercase;
      color: #899296;
      font-weight: bold;
      margin-right: 30px;
      display: inline-block;

      strong {
        color: #394449;
      }
    }

    a.header-link {
      display: inline-block;
      color: $dnm_gray;
      font-size: 16px;
      margin-right: 30px;
      text-decoration: none;

      &:hover {
        color:rgb(10,10,10);
      }
    }
  }
}

#content > .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* #Page Styles
================================================== */
@import "sections/*";

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  header {
    .btn.btn-blue {
      position:absolute;
      top:10px;
      right:0;
    }
    a.header-first, a.header-second {
      float:left;
    }  
  }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 767px) {
  header {
    #logo {
      display:block;
      margin:0 auto;
    }
    .btn.btn-blue {
      top:62px;
    }
    a.header-first, a.header-second {
      font-size:18px !important;
      text-align: center;
    }
  }
  section.public #search_row .wood-box {
  margin-top:60px; }
}
@media only screen and (max-width: 480px) {
  #header_links { 
    a.header-link {
      margin-right:15px !Important;
      font-size:14px !Important;
    }
    .btn.btn-blue {
      font-size:12px;
    }
    a.header-first, a.header-second {
      font-size:16px !important;
    }
  } 
  section.public #search_row .wood-box {
    margin-top:35px; 
  }
}
