.overlay-container {
  position: absolute;
  visibility: hidden;
  float: left;
  overflow: visible;
  z-index: 200; }

embed {
  z-index: 100; }

.overlay-container.overlay-open {
  visibility: visible;
  z-index: 999900; }

.overlay-backing {
  width: 0;
  height: 0;
  display: none;
  &.overlay-backing-visible {
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    overflow: hidden;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 150; } }

.overlay-container.context {
  width: 300px;
  background: transparent image-url("overlay_arrow_center.png") no-repeat center top;
  padding-top: 9px;
  &.right {
    padding-top: 0;
    padding-left: 12px;
    background: transparent image-url("editor/overlay_context_arrow_left.png") no-repeat left center; }
  .overlay-content {
    background: #FFF;
    border: 1px solid #222;
    border-top-width: 0px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.6);
    padding: 10px;
    overflow: hidden; } }
