= simple_form_for [:instance_admin, :manage, resource], :html => { :multipart => true} do |f|
  .content-container.dropshadow
    .row
      .input-container.col-xs-12
        = f.input :name, input_html: { class: 'form-control' }

  .content-container
    = f.button :submit, 'Save', class: 'btn btn-green pull-right'
