.content-container.reports
  %h4 Manage workflows
  .row
    .text-container
      = render partial: 'instance_admin/shared/workflow_alerts_search_form'

  .row
    .table-container.col-xs-12
      %table.table
        %tbody
          - @workflows.each do |resource|
            %tr
              %td= link_to resource.name.humanize, instance_admin_manage_workflow_path(resource)
              %td= link_to t('instance_admin.edit'), edit_instance_admin_manage_workflow_path(resource), class: 'pull-right'

