= render :layout => 'manage/layout/users' do
  %li
    .box
      %header
        %ul.location-and-listings
          %li.location
            .name
              = @company.name
      %ul.location-and-listings
        - @users.each do |user|
          = render :partial => 'manage/users/user_name_with_link', :locals => { :user => user, :company => @company }
        %li.listing
          .links
            = link_to new_manage_user_path, :rel => 'modal.company-user-modal' do
              %span.icon.ico-plus
              %span.text
                Add user
