<div class="control-group check_boxes optional">
  <label class='control-label flush-top'>Ameneties</label>
  <div class="controls">
    <select multiple id="location_amenity_ids" name="amenity_ids" class='custom-select' data-placeholder=" ">
      {{#multiselect amenity_ids}}
        <% AmenityType.order('position ASC').all.each do |amenity_type| %>
          <optgroup label="<%= amenity_type.name %>">
          <% amenity_type.amenities.each do |amenity| %>
            <option value="<%= amenity.id %>"><%= amenity.name %></option>
          <% end %>
        </optgroup>
        <% end %>
      {{/multiselect}}
    </select>
    {{activateChosen}}
  </div>
</div>
