<div class="control-group">
  <label class='control-label flush-top'>Availability</label>
  <div class="controls availability-rules">
    {{#checkbox availability_template_id}}
      {{>app/templates/shared/_ruleList}}
    {{/checkbox}}
    {{>app/templates/shared/_customRules}}
  </div>
</div>

