<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#locations-holder"
    href="#collapse-locations-{{id}}-amenities">Amenities</a>
  </div>
  <div id="collapse-locations-{{id}}-amenities" class="accordion-body collapse in"
  style="height: 0px;">
    <div id="location-{{id}}-amenities" class="accordion-inner">Amenities content should come here</div>
  </div>
</div>

