<div class="control-group">
  <label class='control-label flush-top'>Availability</label>
  <div class="controls availability-rules">
    {{#checkbox availability_template_id}}
      {{>templates_shared_ruleList}}
    {{/checkbox}}
    {{>templates_shared_customRules}}
  </div>  
</div>

