<div class="control-group">
  <label class='control-label flush-top'>Availability</label>
  <div class="controls availability-rules">
    {{#checkbox availability_template_id}}
      {{!>app/templates/shared/ruleList}}
    {{/checkbox}}
    {{!>app/templates/shared/customRules}}
  </div>
</div>

