<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#locations-holder"
    href="#collapse-location-{{id}}-availability">Availability</a>
  </div>
  <div id="collapse-location-{{id}}-availability" class="accordion-body collapse in"
  style="height: 0px;">
    <div id="location-{{id}}-availability" class="accordion-inner">Availability content should come here</div>
  </div>
</div>
