<section class="nav">
  <head class="inverse">
    <span class="location-header" data-location-id="{{id}}">{{{name}}}</span>
  </head>
  <div class="accordion" id="location-{{id}}-listings-holder">
    {{> templates_locations_overview}} 
    {{> templates_locations_photos}} 
    {{> templates_locations_availability}} 
    {{> templates_locations_amenities}} 
  </div>
  <section id="listing-for-{{id}}" class="">{{> templates_listings_list}}</section>
</section>

