<h1>
  <span class='ico-location padding'> Manage Locations </span>
</h1>   
<section class="locations-holder">
  <section class="locations-area">
  </section>
  <div class="action"> 
    <a href="" class="btn btn-blue btn-large add-location" data-disable-with="Creating..."><span class="ico-add-location padding">Add Location</span></a>
  </div>
</section>
