<section class="locations-holder">
  {{#each locations}} {{> templates_locations_listItem}} {{/each}}
  <div class="action"> 
    <a href="" class="btn btn-blue btn-large add-location" data-disable-with="Creating..."><span class="ico-plus padding">New Location</span></a>
  </div>
</section>
