<section class="locations-holder">
  <div class="action"> 
    <a href="" class="btn btn-blue btn-large add-location" data-disable-with="Creating..."><span class="ico-plus padding">Add Location</span></a>
  </div>
</section>
