<section class="" id="locations-holder">
  {{#each locations}} {{> templates_locations_listItem}} {{/each}}
</section>
<a href="" class="btn btn-green btn-large add-location" data-behavior="" data-disable-with="Loading..."><span class="ico-plus padding">New Location</span></a>
