<div class="accordion" id="locations-holder">
  {{#info }} {{> templates_locations_listItem}} {{/info}}
</div>
<a href="" class="btn btn-green btn-large" data-behavior="" data-disable-with="Loading..."><span class="ico-plus padding">New Location</span></a>
