<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#locations-holder"
    href="#collapse-location-{{view_id}}-photos">Photos</a>
  </div>
  <div id="collapse-location-{{view_id}}-photos" class="accordion-body collapse in">
    <div id="location-{{id}}-photos" class="accordion-inner">Coming Soon</div>
  </div>
</div>
