<h1>Congratulations, {{ enquirer.first_name }}</h1>

<p>
You have been invited to a project by {{ lister.name }}. You will now have the ability to review the project details and contact the client for any questions or follow-up. If you are interested in the project, you can make offer at anytime. If you are not interested you may kindly reject the offer as well.
</p>

<p><a href="{{ transactable.listing_url }}">Click here to view the project details.</a></p>
