section.dashboard {

  ul.locations {

    li.new-location {

      a {
        &:hover {
          background: lighten($theme_blue, 10%);
        }
      }
    }
    li.new-location {

      a {
        background: $theme_blue;
      }
    }

  }
}

.bank_account_fields {
  .flash.error {
    color: $theme_red;

    ul li {
      color: $theme_red;
    }
  }
}

.control-fileupload {
  .btn-blue {
    background: $theme_blue;
  }
}
