section.dashboard {

  ul.locations {

    li.new-location {

      a {
        &:hover {
          background: lighten($theme_blue, 10%);
        }
      }
    }
    li.new-location {

      a {
        color: $pure-white;
      }
    }

  }
}

.control-fileupload {
  .btn-blue {
    background: $theme_blue;
  }
}
