section.home {

  #hero {
    background-image: image-url($theme_hero);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='#{$theme_hero}', sizingMethod='scale');

    > .hero-shadow {
      a {
        font:400 24px $font-regular, sans-serif;
      }
    }
  }
}

#search_row {
  h1 {
    font:400 48px/54px $font-regular, sans-serif;

    @media (max-width: $iphone-portrait) {
      font:normal 28px/32px $font-medium, sans-serif;
    }
  }

  h2 {
    @media (max-width: $iphone-landscape) {
      font:normal 16px/22px $font-medium, sans-serif;
    }
  }
}

