section.listings {
  /*===== TABS AND TABBED CONTENT =====*/

  .listing-photos {
    .carousel {
      .info {
        color: $theme_white;
      }
    }
  }
}

.tab-pane#details {
  background: $theme_white;

  .row-fluid {
    background: $theme_white;
  }
}
