section.listings {
  /*===== TABS AND TABBED CONTENT =====*/

  .listing-photos {
    .carousel {
      .info {
        color: $theme_white;
        @include background-image(linear-gradient(rgba(250, 250, 250, 0), $theme_black));

        .caption {
          font-family: $font-bold;
        }
      }
    }
  }
}

.tab-pane#details {
  background: $theme_white;

  .row-fluid {
    background: $theme_white;
  }
}
