section#reservations,
section.reservations {
  .reservation-navigation {

    a {
      background: $theme_white;

      &.active {

        span {
          color: $theme_black;
        }
      }
    }

  }

  .reservation-details {
    .reservation-status {

      &.confirmed i {
        color: $green;
      }

      &.unconfirmed i {
        color: $theme_orange;
      }

      &.cancelled i {
        color: $theme_red;
      }
    }

    .pending-confirmation {
      color: $theme_orange
    }
  }

}

.reservations-review, .reservations-create {
  .box {
    p {
      &.error-block {
        color: $theme_red;
      }
    }

    .tree_container .help-inline {
      color: $theme_red;
    }

    .flash {
      &.error {

        color: $theme_red;

        p {
          color: $theme_red;
        }

        ul li {
          color: $theme_red;
        }
      }
    }
  }
}

.modal-content {
  .reservations-booking_successful, .reservations-booking_failed {
    .buttons {
      a {
        &.btn-white {
          color: $theme_gray;
        }
      }
    }
  }
}
