%li.listing
  .name
    = listing.persisted? ? listing.name : 'New listing'
  - if listing.persisted? && params[:action] != 'new' && params[:action] != 'edit'
    = link_to edit_manage_location_listing_path(location, listing), :class => 'ico-edit right' do
      %span
        Edit
