- if listing.persisted?
  %li.listing{:class => (params[:action] != 'new' && params[:action] != 'edit') ? '' : 'edit-location'} 
    - if params[:action] != 'new' && params[:action] != 'edit'
      = link_to edit_manage_location_listing_path(location, listing) do
        = listing.name
        %span.ico-edit.right.no-hide
          %span.padding-left
            Edit #{current_theme.bookable_noun}
    - else
      .name
        = listing.name
