= simple_form_for [:manage, location, listing], :html => { :class => "form-horizontal", :multipart => true, :id => 'listing-form' } do |f|

  = render :partial => 'listings/listing_form', :locals => { :f => f, :listing => listing }

  = f.submit "Save", :id => 'submit-input'
