- if listing.persisted?
  %li.listing
    .name
      = listing.name
    - if params[:action] != 'new' && params[:action] != 'edit'
      = link_to edit_manage_location_listing_path(location, listing), :class => 'ico-edit right' do
        %span
          Edit #{current_instance.bookable_noun}
