.row-fluid
  .span8.offset2
    %h1
      %span.ico-location.padding
        Manage Locations
    %section.locations-holder
      %section.locations-area
        %div
          %section.box.location
            %header.location
              %span.padding.ico-location.location-header
                = @location.name
            %section.listings
              .accordion.listings-holder
                %div
                  %section.box.box-dim.listing
                    %header.listing
                      %span.padding.ico-desk.listing-header
                        New Listing
                    .accordion-inner
                      = render :partial => 'listing', :locals => {:listing => @listing, :location => @location}

            %section.listings
              .action
                = link_to '#', :class => 'btn btn-green btn-large add-listing', :id => 'submit-link', :disable_with => 'Submiting...' do
                  %span.ico-save.padding
                    Save

- content_for :script do
  :javascript
    $(function() {
      new Dashboard.ListingController($('#listing-form'))
      new AvailabilityRulesController($('#listing-form'))
    });

