<h2>{{ user.first_name }}!</h2>

<p>You have cancelled {{ transactable.name }}. This case will be moved to the archived cases section.  Alert notifications have been sent to any lawyers that have been invited to the case.
