<h2>Congratulations {{ enquirer.first_name }} - Case Completed!</h2>

<p>{{ lister.name }} has marked {{ transactable.name }} as complete. This means the case is over and it will be archived in our system.</p>

<p>Great job! LitVault's lawyers are the <b>World’s Best.</b></p>

