// Breakpoints

$iphone-portrait: 320px;
$iphone-landscape: 480px;
$responsive-small: 640px;
$video-small: 680px;
$ipad-width: 767px;
$desktop-breakpoint: 1100px;
$desktop-breakpoint-small: 980px;

// Colors
$light-color: rgb(241, 244, 221); 
$dark-color: rgb(50, 49, 51);
$pink-color: rgb(231, 50, 66);
