<h3>
  {{ 'buy_sell_market.products.labels.documents' | translate }}
</h3>
<ul>
  {% for attachment in attachments %}
    <li>
      <a href="{{ attachment.attachment_url }}" target="_blank">{{ attachment.title }}</a>
    </li>
  {% endfor %}
</ul>

