---
name: Footer
inject_pages: any_page
position: body_bottom
---
<div class='footer-wrapper'>
  <footer class="mastfoot wrapper-a" itemscope itemtype="http://schema.org/Organization">
    <div class="footer-about">
      <h2 class="struct-label" itemprop="name"><a href="/" itemprop="url">Care Support Network</a></h2>
      <img src="http://lvh.me:8080/assets/logo-dark.png" width="150" height="60" alt="Care Support Network logo" itemprop="logo" />
    </div>

    <p itemprop="description" class="footer-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <ul class="footer-nav footer-nav-primary">
      <li><a href="/">HOME</a></li>
      <li><a href="/services">SERVICES</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/testimonials">TESTIMONIALS</a></li>
    </ul>

    <ul class="footer-nav footer-nav-secondary">
      <li><a href="/blog">BLOG</a></li>
      <li><a href="/contact">CONTACT</a></li>
      <li><a href="/terms">TERMS</a></li>
      <li><a href="/privacy">PRIVACY</a></li>
    </ul>

    <div class="footer-info">
      <p class="footer-phone">1300 177 577</p>
      <p class="footer-email"><a href="mailto:help@mycsn.com.au">help@mycsn.com.au</a></p>
    </div>

    <ul class="footer-social">
      <li class="facebook"><a href="./" itemprop="sameAs" title="Go to our Facebook"></a></li>
      <li class="twitter"><a href="./" itemprop="sameAs" title="Go to our Twitter"></a></li>
      <li class="googleplus"><a href="./" itemprop="sameAs" title="Go to our Google+"></a></li>
      <li class="linkedin"><a href="./" itemprop="sameAs" title="Go to our LinkedIn"></a></li>
      <li class="instagram"><a href="./" itemprop="sameAs" title="Go to our Instagram"></a></li>
      <!-- <li class="youtube"><a href="./" itemprop="sameAs" title="Go to our YouTube"></a></li> -->
      <!-- <li class="feed"><a href="./" itemprop="sameAs" title="Go to our RSS Feed"></a></li> -->
    </ul>

    <p class="footer-copyrights" itemprop="copyrightHolder">&copy; myCSN. All Rights Reserved 2017</p>
  </footer>
</div>

