%tr
  %td= link_to resource.name, profile_path(resource)
  %td= resource.email
  %td= I18n.l(resource.created_at, format: :long)
  %td= link_to t('general.details'), edit_instance_admin_manage_user_path(resource)
