%h4 Manage Users

.content-container
  .row
    .table-container.col-xs-12.dropshadow
      %table.table
        %tr
          %th
            Name
          %th
            Email
          %th
            Signed Up
          %th
          %th
        - collection.each do |resource|
          - next if resource.banned?
          = render 'index_row', :resource => resource

= will_paginate collection
