.span4.avatar
  - if @user.avatar.file.present?
    .part
      = image_tag @user.avatar.url(:big)

  .social.info.part
    =render_social_connection(@user, @user.to_liquid.facebook_connections)
    =render_social_connection(@user, @user.to_liquid.linkedin_connections))
    =render_social_connection(@user, @user.to_liquid.twitter_connections)

    - if @user.social_url('instagram')
      = render '/registrations/social_connection', icon: 'ico-instagram', provider: 'instagram', count: false,
        link: @user.social_url('instagram'), rel: nil

    = render '/registrations/social_connection', icon: 'ico-mail', provider: 'mail', count: false,
      link: new_user_user_message_path(user_id: @user.slug), rel: 'modal'
