{% include 'registrations/blog/header.html' %}

<div class='blog-container'>
  <div class='blog-posts' id='user-blog-posts'>
  {% for blog_post in @blog_posts %}
    {% include 'registrations/blog/blog_post.html' %}
  {% endfor %}
  </div>
  <div id='infinite-scrolling'>
    {{ @blog_posts | pagination_links }}
  </div>
</div>
