---
name: About
---
<section class="pages pages-show pages-about_us" id="content">
    <div class="container-fluid">
      <div class="wrapper-a">
        <main>
          <header class="section-header">
            <h2>
              About
            </h2>
            <p>
              Everyone deserves their Cinderella moments.
            </p>
          </header>
          <h3>
            Who we are
          </h3>
          <p>
            The Volte is an online marketplace connecting savvy Cinderellas to a community of Fairy Godmothers. The Volte enables members to both borrow and lend high end designer wear to make the everyday just a little more special.
          </p>
          <h3>
            What we believe
          </h3>
          <p>
            Fashion should not be exclusive. No more prom queens, no more devils in Prada. Access is the new ownership and the Volte makes that happen.
          </p>
          <p>
            We are championing a new model of retail that enables individuals to experience beautiful aspirational products in their everyday life while also harnessing their own wardrobe to generate income.
          </p>
          <p>
            We also believe that sharing in the 21st century is both ethically and environmentally responsible.
          </p>
          <p>
            Our model also supports the fashion industry – we champion designers and allow up and coming designers to reach new markets through the designer dress rental industry.
          </p>
          <h3>
            Our Model
          </h3>
          <p>
            <strong>Partnering:</strong> We are always looking for new stores and designers to partner with. Both current and old season stock can be listed. The Volte is a risk free way to enter the online designer rental market.
          </p>
          <p>
            <strong>Connecting:</strong> We facilitate both sides of the experience allowing members to be both borrowers and lenders and harness their full fashion potential.
          </p>
          <p>
            <strong>Logistics:</strong> Our marketplace offers all members complimentary services which ensure the experience is seamless. This includes our door-to-door courier, professional photo editors, secure payment gateway and member ID verification. We are always looking for new ways to improve our marketplace.
          </p>
          <p>
            <strong>Analytics:</strong> With every view and every click we are learning more about what our members are interested in and what they are doing in the online environment. The Volte aims to be responsive to customer needs and desires on both sides of the rental market. Sophisticated Lenders can contact us about obtaining detailed analytic reports on their listings.
          </p>
        </main>
      </div>
    </div>
  </section>
