---
name: Borrow
---

<section class="pages pages-show pages-borrow" id="content">
    <div class="container-fluid">
      <div class="wrapper-a">
        <main>
          <header class="section-header">
            <h2>
              Borrow
            </h2>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -55.749 100 111.498"><path d="M47.993 6.548H31.345a2.007 2.007 0 0 1 0-4.013h14.643v-20.497c0-2.367-2.176-4.293-4.85-4.293H24.119a2.006 2.006 0 1 1 0-4.012h17.019c4.887 0 8.862 3.726 8.862 8.306V4.543a2.008 2.008 0 0 1-2.007 2.005m-78.354 0h-17.633A2.007 2.007 0 0 1-50 4.541v-22.503c0-4.581 3.976-8.306 8.864-8.306h17.26a2.006 2.006 0 1 1 0 4.012h-17.26c-2.674 0-4.851 1.926-4.851 4.293V2.534h15.626a2.006 2.006 0 0 1 0 4.014"></path><path d="M33.603 55.749h-67.204c-4.195 0-7.609-3.208-7.609-7.148V8.44a2.007 2.007 0 0 1 4.013 0v40.158c0 1.729 1.613 3.138 3.596 3.138h67.204c1.979 0 3.592-1.407 3.592-3.138V8.44a2.007 2.007 0 0 1 4.013 0v40.158c-.001 3.943-3.412 7.151-7.605 7.151"></path><path d="M.629 39.361c-.336 0-.674-.089-.989-.267a1.816 1.816 0 0 1-.666-.64c-3.83-3.207-17.503-18.086-20.369-23.576-3.578-6.854-1.849-16 3.854-20.386 2.065-1.59 4.46-2.432 6.925-2.432 4.439 0 8.476 2.653 10.795 7.1.229.438.418.705.556.861.135-.156.327-.422.557-.862 2.319-4.444 6.354-7.1 10.795-7.1 2.465 0 4.857.842 6.924 2.434 5.701 4.384 7.43 13.529 3.854 20.384C19.993 20.381 6.261 35.32 2.468 38.479c-.17.258-.4.47-.672.617a2.044 2.044 0 0 1-.947.252 2 2 0 0 1-.22.013M-10.616-3.925c-1.572 0-3.119.553-4.478 1.599-4.232 3.255-5.463 10.14-2.745 15.349C-15.371 17.752-3.083 31.132.734 34.702c3.813-3.565 16.104-16.95 18.571-21.679C22.024 7.814 20.792.929 16.563-2.326c-1.359-1.047-2.906-1.6-4.478-1.6-2.916 0-5.622 1.848-7.237 4.942C3.474 3.649 1.853 4.202.734 4.202c-1.12 0-2.743-.555-4.114-3.186-1.615-3.093-4.318-4.941-7.236-4.941m9.778-12.263c-.142 0-.283-.015-.422-.046-3.003-.646-29.511-6.486-35.749-12.035-3.344-2.975-5.225-6.983-5.293-11.285-.069-4.287 1.67-8.334 4.897-11.396 3.259-3.095 7.624-4.799 12.29-4.799 4.454 0 8.676 1.575 11.89 4.434C-7.105-45.87-.072-22.678 1.016-18.998a2.008 2.008 0 0 1-1.838 2.811l-.016-.001m-24.277-35.548c-3.633 0-7.017 1.313-9.528 3.697-2.402 2.281-3.698 5.271-3.647 8.422.051 3.166 1.454 6.131 3.948 8.351 4.064 3.615 21.174 8.162 30.577 10.356-2.708-8.585-8.124-23.845-12.127-27.407-2.479-2.205-5.754-3.419-9.223-3.419"></path><path d="M.837-16.188a2.007 2.007 0 0 1-1.924-2.571c.805-2.744 8.038-26.974 14.311-32.556 3.215-2.859 7.438-4.434 11.892-4.434 4.666 0 9.03 1.705 12.29 4.799 3.227 3.062 4.966 7.109 4.898 11.396-.069 4.302-1.949 8.31-5.293 11.285-6.239 5.549-32.748 11.388-35.75 12.035a1.953 1.953 0 0 1-.424.046m24.278-35.548c-3.47 0-6.744 1.215-9.224 3.42C11.89-44.755 6.474-29.495 3.767-20.91c9.402-2.194 26.512-6.741 30.576-10.356 2.496-2.22 3.897-5.186 3.948-8.351.052-3.15-1.245-6.141-3.647-8.421-2.514-2.385-5.896-3.698-9.529-3.698"></path><path d="M.121-1.185a2.005 2.005 0 0 1-2.006-2.006v-15.681a2.005 2.005 0 1 1 4.012 0V-3.19A2.004 2.004 0 0 1 .121-1.185"></path></svg>
          </header>
          <div class="boxes boxes-vertical">
            <div class="box">
              <div class="box-left">
                <h3>
                  Find it:
                </h3>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.74 69.855"><path fill-rule="evenodd" clip-rule="evenodd" stroke-width=".5" d="M28.285 34.284H45.872V46.523H26.867V34.284h1.418zm-3.778 22.181l2.828 10.556H45.404l2.829-10.556 2.734.73-2.633 9.825h3.069c7.842-.115 10.293-5.403 11.762-12.229l6.068-28.146H3.506l6.068 28.146c1.496 6.957 3.867 11.997 11.762 12.229h3.068l-2.631-9.825 2.734-.73zm11.863 13.39h15.034c9.33-.194 12.749-6.2 14.53-14.477l6.437-29.858.369-1.711H57.969C55.31 14.195 51.169 7.5 46.435 3.725 43.333 1.25 39.964.01 36.564 0c-3.391-.011-6.771 1.209-9.905 3.655-4.829 3.768-9.092 10.497-11.877 20.155H0l.368 1.711 6.438 29.858c1.733 8.062 5.309 14.477 14.53 14.477H36.37zM17.727 23.81c2.603-8.628 6.411-14.604 10.671-17.928 2.622-2.046 5.408-3.067 8.167-3.058 2.749.009 5.516 1.046 8.11 3.115 4.174 3.329 7.87 9.278 10.357 17.871H17.727zm25.311 13.307H29.702v6.57h13.336v-6.57z"/></svg>
              </div>
              <div class="box-right">
                <p>
                  Filter by color, length, occasion, designer and more to discover the perfect dress for your occasion.
                </p>
              </div>
            </div>
            <div class="box">
              <div class="box-left">
                <h3>
                  Request it:
                </h3>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.001 101 109.764"><g stroke-miterlimit="10"><path d="M50.726 86.016c-3.664 0-6.643 2.979-6.643 6.642s2.979 6.642 6.643 6.642c3.663 0 6.642-2.979 6.642-6.642s-2.979-6.642-6.642-6.642zm0 9.963c-1.832 0-3.321-1.492-3.321-3.321s1.489-3.321 3.321-3.321c1.829 0 3.319 1.492 3.319 3.321s-1.49 3.321-3.319 3.321z"/><path d="M96.686 1.627A1.657 1.657 0 0 0 94.581.588a1.658 1.658 0 0 0-1.039 2.104c10.959 32.273-4.484 52.718-19.99 64.395-.08-.08-.178-.137-.262-.21-.215-.182-.426-.368-.662-.522-.201-.133-.422-.236-.637-.347-.156-.078-.302-.175-.464-.24-.276-.115-.569-.189-.862-.269-.123-.032-.235-.083-.363-.106a6.763 6.763 0 0 0-1.311-.134 6.65 6.65 0 0 0-6.642 6.644c0 .415.049.823.125 1.228.024.134.063.259.097.388.045.179.075.357.135.529a38.89 38.89 0 0 0-5.556 4.087c-1.905-1.32-4.094-2.081-6.424-2.081-2.35 0-4.556.773-6.473 2.118a47.485 47.485 0 0 0-5.586-3.928c.059-.15.087-.312.133-.469.062-.204.134-.403.174-.617.082-.412.128-.83.128-1.255a6.65 6.65 0 0 0-6.642-6.644 6.606 6.606 0 0 0-4.753 2.019C12.045 55.584-3.542 35.099 7.464 2.692A1.658 1.658 0 0 0 6.424.588a1.659 1.659 0 0 0-2.105 1.039C-7.977 37.831 12.153 59.89 26.068 70.193a6.545 6.545 0 0 0-.25 1.708 6.649 6.649 0 0 0 6.642 6.642c1.627 0 3.102-.61 4.258-1.586a45.654 45.654 0 0 1 5.049 3.475c-2.65 3.038-4.326 7.388-4.326 12.227 0 9.155 5.959 16.605 13.285 16.605 7.323 0 13.282-7.45 13.282-16.605 0-4.868-1.693-9.243-4.375-12.283a36.837 36.837 0 0 1 4.93-3.558c1.178 1.061 2.721 1.727 4.428 1.727a6.65 6.65 0 0 0 6.643-6.642c0-.694-.137-1.353-.336-1.979C89.06 59.611 108.904 37.605 96.686 1.627zM32.459 75.222a3.325 3.325 0 0 1-3.321-3.32c0-.547.146-1.056.382-1.512.003-.009.011-.013.015-.021a3.366 3.366 0 0 1 1.205-1.297l.055-.029c.212-.127.44-.221.676-.297.056-.018.111-.037.168-.052.266-.07.539-.115.819-.115 1.83 0 3.321 1.49 3.321 3.321 0 .33-.062.654-.162.971-.011.034-.02.066-.032.1-.112.317-.27.626-.48.906-.006.005-.006.014-.009.019a3.304 3.304 0 0 1-2.637 1.326zm18.267 30.719c-5.495 0-9.963-5.96-9.963-13.284 0-7.325 4.468-13.284 9.963-13.284 5.493 0 9.963 5.959 9.963 13.284-.001 7.324-4.47 13.284-9.963 13.284zm18.265-30.719a3.32 3.32 0 0 1-2.748-1.459 3.28 3.28 0 0 1-.379-.787 2.132 2.132 0 0 1-.062-.202 3.275 3.275 0 0 1-.131-.872 3.325 3.325 0 0 1 3.32-3.321c.268 0 .526.04.777.102.068.018.134.042.199.062a3.253 3.253 0 0 1 .706.31c.463.278.865.668 1.158 1.159.002.007.01.011.012.016.291.492.47 1.059.47 1.672a3.33 3.33 0 0 1-3.322 3.32z"/></g></svg>
              </div>
              <div class="box-right">
                <p>
                  Send a request to book to the lender. You choose a delivery and rental period.
                </p>
              </div>
            </div>
            <div class="box">
              <div class="box-left">
                <h3>
                  Receive it:
                </h3>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -55.749 100 111.498"><path d="M47.993 6.548H31.345a2.007 2.007 0 0 1 0-4.013h14.643v-20.497c0-2.367-2.176-4.293-4.85-4.293H24.119a2.006 2.006 0 1 1 0-4.012h17.019c4.887 0 8.862 3.726 8.862 8.306V4.543a2.008 2.008 0 0 1-2.007 2.005m-78.354 0h-17.633A2.007 2.007 0 0 1-50 4.541v-22.503c0-4.581 3.976-8.306 8.864-8.306h17.26a2.006 2.006 0 1 1 0 4.012h-17.26c-2.674 0-4.851 1.926-4.851 4.293V2.534h15.626a2.006 2.006 0 0 1 0 4.014"/><path d="M33.603 55.749h-67.204c-4.195 0-7.609-3.208-7.609-7.148V8.44a2.007 2.007 0 0 1 4.013 0v40.158c0 1.729 1.613 3.138 3.596 3.138h67.204c1.979 0 3.592-1.407 3.592-3.138V8.44a2.007 2.007 0 0 1 4.013 0v40.158c-.001 3.943-3.412 7.151-7.605 7.151"/><path d="M.629 39.361c-.336 0-.674-.089-.989-.267a1.816 1.816 0 0 1-.666-.64c-3.83-3.207-17.503-18.086-20.369-23.576-3.578-6.854-1.849-16 3.854-20.386 2.065-1.59 4.46-2.432 6.925-2.432 4.439 0 8.476 2.653 10.795 7.1.229.438.418.705.556.861.135-.156.327-.422.557-.862 2.319-4.444 6.354-7.1 10.795-7.1 2.465 0 4.857.842 6.924 2.434 5.701 4.384 7.43 13.529 3.854 20.384C19.993 20.381 6.261 35.32 2.468 38.479c-.17.258-.4.47-.672.617a2.044 2.044 0 0 1-.947.252 2 2 0 0 1-.22.013M-10.616-3.925c-1.572 0-3.119.553-4.478 1.599-4.232 3.255-5.463 10.14-2.745 15.349C-15.371 17.752-3.083 31.132.734 34.702c3.813-3.565 16.104-16.95 18.571-21.679C22.024 7.814 20.792.929 16.563-2.326c-1.359-1.047-2.906-1.6-4.478-1.6-2.916 0-5.622 1.848-7.237 4.942C3.474 3.649 1.853 4.202.734 4.202c-1.12 0-2.743-.555-4.114-3.186-1.615-3.093-4.318-4.941-7.236-4.941m9.778-12.263c-.142 0-.283-.015-.422-.046-3.003-.646-29.511-6.486-35.749-12.035-3.344-2.975-5.225-6.983-5.293-11.285-.069-4.287 1.67-8.334 4.897-11.396 3.259-3.095 7.624-4.799 12.29-4.799 4.454 0 8.676 1.575 11.89 4.434C-7.105-45.87-.072-22.678 1.016-18.998a2.008 2.008 0 0 1-1.838 2.811l-.016-.001m-24.277-35.548c-3.633 0-7.017 1.313-9.528 3.697-2.402 2.281-3.698 5.271-3.647 8.422.051 3.166 1.454 6.131 3.948 8.351 4.064 3.615 21.174 8.162 30.577 10.356-2.708-8.585-8.124-23.845-12.127-27.407-2.479-2.205-5.754-3.419-9.223-3.419"/><path d="M.837-16.188a2.007 2.007 0 0 1-1.924-2.571c.805-2.744 8.038-26.974 14.311-32.556 3.215-2.859 7.438-4.434 11.892-4.434 4.666 0 9.03 1.705 12.29 4.799 3.227 3.062 4.966 7.109 4.898 11.396-.069 4.302-1.949 8.31-5.293 11.285-6.239 5.549-32.748 11.388-35.75 12.035a1.953 1.953 0 0 1-.424.046m24.278-35.548c-3.47 0-6.744 1.215-9.224 3.42C11.89-44.755 6.474-29.495 3.767-20.91c9.402-2.194 26.512-6.741 30.576-10.356 2.496-2.22 3.897-5.186 3.948-8.351.052-3.15-1.245-6.141-3.647-8.421-2.514-2.385-5.896-3.698-9.529-3.698"/><path d="M.121-1.185a2.005 2.005 0 0 1-2.006-2.006v-15.681a2.005 2.005 0 1 1 4.012 0V-3.19A2.004 2.004 0 0 1 .121-1.185"/></svg>
              </div>
              <div class="box-right">
                <p>
                  Once your booking request is accepted by the lender the dress will be delivered via courier service to your home, office or hotel (see our estimated shipping times to ensure that you will receive your order in time for your event).
                </p>
              </div>
            </div>
            <div class="box">
              <div class="box-left">
                <h3>
                  Return it:
                </h3>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 88.95"><path fill-rule="evenodd" clip-rule="evenodd" stroke-width=".7" d="M51.792 36.16v39.393h20.855c-.186-4.16-1.153-8.192-2.126-12.238-1.267-5.267-2.541-10.564-2.253-16.439.372-7.565 2.558-14.104 4.941-21.077 1.885-5.517 3.88-11.359 5.093-18.341l-10.249-2.49 3.085 6.089.321.636-.208.689c-1.181 3.883-3.621 8.68-7.599 13.426-3.012 3.595-6.925 7.185-11.86 10.352M35.702 5.467l-3.32 6.554c1.129 3.352 3.291 7.412 6.709 11.489a47.459 47.459 0 0 0 7.427 7.096L35.702 5.467zM48.206 36.16v39.393H27.35c.186-4.16 1.155-8.192 2.128-12.238 1.266-5.267 2.54-10.564 2.251-16.439-.372-7.571-2.559-14.101-4.939-21.077-1.886-5.517-3.88-11.359-5.094-18.341l10.25-2.49-3.086 6.089-.321.636.208.689c1.18 3.883 3.621 8.68 7.598 13.426 3.013 3.595 6.926 7.185 11.861 10.352m16.09-30.693l3.32 6.554c-1.127 3.352-3.293 7.412-6.708 11.489a47.556 47.556 0 0 1-7.428 7.096L64.296 5.467zM19.11 12.696L4.256 83.307l8.275 1.512 12.467-53.103c-.509-1.576-1.05-3.158-1.6-4.769-1.501-4.391-3.069-8.987-4.288-14.251m7.891 26.155l-11.37 48.44-.389 1.659-1.679-.307-11.759-2.151L0 86.163l.376-1.793L16.863 6.001l.231-1.106 1.1-.267L35.78.355 37.25 0l.597 1.386L50 29.631 62.152 1.386 62.749 0l1.469.355 17.588 4.273 1.099.267.232 1.106L99.623 84.37l.377 1.793-1.807.329-11.759 2.151-1.677.307-.39-1.659-11.37-48.44c-.596 2.637-1.015 5.335-1.154 8.193-.266 5.385.948 10.43 2.154 15.443 1.161 4.835 2.317 9.646 2.254 14.879l-.021 1.772H23.771l-.022-1.772c-.066-5.232 1.09-10.044 2.253-14.879 1.207-5.014 2.419-10.059 2.155-15.443-.141-2.857-.559-5.556-1.156-8.193M75 31.716c.51-1.576 1.051-3.158 1.601-4.769 1.5-4.391 3.069-8.987 4.287-14.251l14.854 70.611-8.275 1.512L75 31.716z"/></svg>
              </div>
              <div class="box-right">
                <p>
                  Simply repack your dress in the box it arrived in and add the shipping details to the front (these may arrive pre-printed in the box from your lender or you can print them off your booking confirmation). Some lenders may require you to dry clean the dress.
                </p>
              </div>
            </div>
          </div>
          <h3>
            Where do you ship to?
          </h3>
          <p>
            We ship Australia wide.
          </p>
          <h3>
            How long will it take for my dress to be delivered?
          </h3>
          <p>
            Have a look at our estimated delivery times to work out when your dress will arrive. Always confirm with the relevant lender when you need the dress delivered by.
          </p>
          <h3>
            Is there an express delivery option?
          </h3>
          <p>
            We are working on this at the moment. Within cities your dress will arrive pretty fast so if you are in a rush check out the lender locations.
          </p>
          <h3>
            Can I book a dress in advance?
          </h3>
          <p>
            Absolutely. Just send a request to book to the lender who has listed the dress using the availability calendar.
          </p>
          <h3>
            What is the dress doesn’t fit?
          </h3>
          <p>
            Unfortunately we do not currently offer a ‘try on’ service. As long as the dress matches the description we will be unable to refund any amounts paid.
          </p>
          <h3>
            What if my dress arrives wrinkled?
          </h3>
          <p>
            Our lenders will pack dresses carefully. However some fabrics are more prone to wrinkles so if you receive a dress with slight creases please hang the dress is a steamy bathroom and the steam will de-crease the dress. Do not iron or steam the dress unless you have expressly received written permission from the relevant lender.
          </p>
          <h3>
            What if my dress is too long?
          </h3>
          <p>
            It is your responsibility to ensure that you do not damage the dress. Please ensure that the dress is treated with care. Under no circumstances are you permitted to alter the dress.
          </p>
          <h3>
            How do I return my dress?
          </h3>
          <p>
            Simply repack your dress in the box it arrived in and add the shipping details to the front (these should arrive pre-printed in the box or you can print them off your booking).
          </p>
          <h3>
            Do I need to dry-clean my dress?
          </h3>
          <p>
            This is up to the lender you rent from but many lenders will include the cost of dry-cleaning in your rental fee so no need to clean just send it back.
          </p>
          <h3>
            What if I accidentally damage the dress?
          </h3>
          <p>
            All lenders and borrowers understand that accidents do happen. You need to contact the lender immediately in order to work out a resolution. You will be charged for the cost of repair and any disputes will be handled through The Volte’s dispute mediation process.
          </p>
          <h3>
            Why am I asked to complete a review?
          </h3>
          <The>Volte is all about trust. We encourage all lenders and borrowers to fill out a review after every booking to build trust in each other. Our community relies on honest and reliable reviews. Any reviews which are found to violate our Review Policy will be removed.  </The>
          <h3>
            Can I rent or lend if I am under 18?
          </h3>
          <You>will need a parent or guardian to rent or lend on your behalf. All liability will be accepted by them. </You>
          <h3>
            What if a lender asks me to pay them directly outside of The Volte’s site?
          </h3>
          <p>
            The Volte is designed to give you a reliable and secure online system. By going outside of this system we can no longer guarantee your security or transaction. It is a violation of The Volte’s terms and conditions to transact outside of our site.  If someone asks you to pay offline or directly please report this and we will investigate. By enabling us oversight of all transactions we are able to guarantee the experience.
          </p>
          <h3>
            How long is a rental period?
          </h3>
          <p>
            This depends on the lender. The most common rental periods are 4 or 8 day reservations. We recommend you book your order to arrive 1-2 days prior to your event to ensure you have plenty of time to get the perfect look. If you want a dress for longer send the lender a message and ask!
          </p>
          <h3>
            When will my credit card be charged?
          </h3>
          <p>
            When your reservation is accepted by the lender. Think of it like booking a flight or online shopping.
          </p>
          <h3>
            What if my rental ends on a Sunday or holiday?
          </h3>
          <p>
            Our courier does not operate on Sundays and public holidays, if your return date falls on one of these, please schedule your pickup back by 12pm the next business day. 
          </p>
          <h3>
            What if I am late returning my dress?
          </h3>
          <p>
            The Volte platform relies on both borrowers and lenders supporting each other to achieve excellent trust and service. When a borrower returns an item late it affects the lenders ability to clean and prepare the item for the next borrower. The system relies on you returning your item on time. If you are unable to do so for any reason our Late Fee Policy may apply.
          </p>
          <p>
            Any other queries please shoot us an email at <a href="mailto:support@thevolte.com">support@thevolte.com</a>
          </p>
        </main>
      </div>
    </div>
  </section>
