---
name: Borrow
---

<div class="wrapper-a">
  <main>
    <header class="section-header">
      <h2>
        Borrow
      </h2>
     </header>
    <div class="boxes boxes-vertical">
      <div class="box">
        <div class="box-left">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M12.9 25.9c-3.5 0-6.7-1.3-9.2-3.8C1.3 19.7 0 16.4 0 12.9c0-3.5 1.3-6.7 3.8-9.2C6.2 1.3 9.5 0 12.9 0c3.5 0 6.7 1.3 9.2 3.8 4.1 4.1 5 10.4 2.2 15.5-.6 1-1.3 2-2.2 2.9-2.4 2.3-5.7 3.7-9.2 3.7m0-24.5c-3.1 0-6 1.2-8.2 3.4C2.5 7 1.3 9.9 1.3 13c0 3.1 1.2 6 3.4 8.2 2.2 2.2 5.1 3.4 8.2 3.4 3.1 0 6-1.2 8.2-3.4.8-.8 1.4-1.6 1.9-2.6 2.5-4.5 1.7-10.2-1.9-13.8C19 2.6 16 1.4 12.9 1.4"/><path d="M27.7 32c-1.1 0-2.2-.4-3-1.2L18 24.1l1-1 6.7 6.7c1.1 1.1 3 1.1 4.1 0 1.1-1.1 1.1-3 0-4.1L23 18.9l1-1 6.8 6.8c1.7 1.7 1.7 4.4 0 6-.9.9-2 1.3-3.1 1.3"/></svg>
          <h3>FIND IT</h3>
        </div>
        <div class="box-right">
          <p>
            Filter by color, length, occasion, designer and more to discover the perfect dress for your occasion.
          </p>
        </div>
      </div>
      <div class="box">
        <div class="box-left">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M9.1 26.9l-1-7.9-.6.1H7L8 27zM12.3 26.9h.6l-.6-7.9-.6.1h-.5l.5 7.9zM20.3 27l.5-7.9h-.5l-.6-.1-.6 7.9h.6zM25 19.1h-.5l-.6-.1-1 7.9 1.1.1z"/><path d="M2.3 16.2L4 27.8c.2 1.3 1.4 2.4 2.8 2.4h18.4c1.4 0 2.6-1.1 2.8-2.4l1.7-11.6c1.3 0 2.3-1 2.3-2.3 0-1.3-1-2.3-2.3-2.3H19c-.7-.9-1.8-1.5-3-1.5-.6 0-1.2.2-1.7.4L7.3 1l-.9.7 7 9.6c-.1.1-.2.3-.3.4H2.3C1 11.7 0 12.7 0 14c0 1.2 1 2.2 2.3 2.2m27.4-3.4c.7 0 1.2.5 1.2 1.2 0 .6-.5 1.2-1.2 1.2H19.6c.1-.4.2-.8.2-1.2 0-.4-.1-.8-.2-1.1h10.1zM16 11.3c1.4 0 2.6 1.2 2.6 2.6 0 1.4-1.2 2.6-2.6 2.6-1.4 0-2.6-1.2-2.6-2.6 0-1.5 1.2-2.6 2.6-2.6m0 6.3c1.2 0 2.2-.6 2.9-1.4h9.6l-1.6 11.4c-.1.8-.9 1.5-1.7 1.5H6.8c-.8 0-1.6-.7-1.7-1.5L3.5 16.2h9.7c.6.9 1.7 1.4 2.8 1.4M2.3 12.8h10.2c-.1.4-.2.7-.2 1.1 0 .4.1.8.2 1.2H2.3c-.7 0-1.2-.5-1.2-1.2 0-.6.6-1.1 1.2-1.1"/><path d="M15.4 19.1h1.1V27h-1.1z"/></svg>
          <h3>REQUEST IT</h3>
        </div>
        <div class="box-right">
          <p>
            Send a request to book to the lender. You choose a delivery and rental period.
          </p>
        </div>
      </div>
      <div class="box">
        <div class="box-left">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M19.5 1.4L16 6.5l-3.5-5.1L0 6.3l3.9 5.6L0 17.4 4 19v7.8l11.8 4.6h.4L28 26.8V19l4-1.6-3.9-5.6L32 6.3 19.5 1.4zm.9 12.7l-3.9 1.5V8l9.7 3.8-5.8 2.3zm-4.9 1.5l-9.7-3.8L15.5 8v7.6zm-14-8.9l10.6-4.1 3.1 4.5-10.6 4.1-3.1-4.5zm0 10.2l3.1-4.5 10.6 4.1-3.1 4.5-10.6-4.1zM5 24.8v-5.5l7.5 2.9 3-4.4v12.3L5 26.1v-1.3zm22 0v1.3l-10.6 4.1V17.9l3 4.4 7.5-2.9v5.4zm3.5-7.9L19.9 21l-3.1-4.5 10.6-4.1 3.1 4.5zm-3.1-5.7L16.8 7.1l3.1-4.5 10.6 4.1-3.1 4.5z"/></svg>
          <h3>RECEIVE IT</h3>
        </div>
        <div class="box-right">
          <p>
            Once your booking request is accepted by the lender the dress will be delivered via courier service to your home, office or hotel (see our estimated shipping times to ensure that you will receive your order in time for your event).
          </p>
        </div>
      </div>
      <div class="box">
        <div class="box-left">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M21.6 8V3.6H0v21.2h2.9c.7 1.6 2.2 2.7 4.1 2.7 1.8 0 3.4-1.1 4.1-2.7h10.7c.7 1.6 2.2 2.7 4.1 2.7 1.8 0 3.4-1.1 4.1-2.7h2.2v-9.5L28.9 8h-7.3zM1.1 23.8v-2.2h1.7c-.2.5-.3 1-.3 1.6 0 .2 0 .4.1.6H1.1zM7 26.5c-1.8 0-3.3-1.5-3.3-3.3 0-1.8 1.5-3.3 3.3-3.3 1.8 0 3.3 1.5 3.3 3.3 0 1.8-1.5 3.3-3.3 3.3m0-7.7c-1.4 0-2.6.7-3.4 1.7H1.1V4.8h19.3v15.7h-10c-.8-1.1-2-1.7-3.4-1.7m4.3 5c0-.2.1-.4.1-.6 0-.6-.1-1.1-.3-1.6h10.6c-.2.5-.3 1-.3 1.6 0 .2 0 .4.1.6H11.3zm14.6 2.7c-1.8 0-3.3-1.5-3.3-3.3 0-1.8 1.5-3.3 3.3-3.3 1.8 0 3.3 1.5 3.3 3.3 0 1.8-1.5 3.3-3.3 3.3m5.1-2.7h-.8c0-.2.1-.4.1-.6 0-.6-.1-1.1-.3-1.6h1v2.2zm0-3.4h-1.7c-.8-1-2-1.7-3.4-1.7s-2.6.7-3.4 1.7h-.8V9.1h6.6l2.8 6.3v5z"/><path d="M22 13.7v1.1h4.7l.5 1.1.8 1.6h2.5v-1.2h-1.8l-1.3-2.6z"/></svg>
          <h3>RETURN IT</h3>
        </div>
        <div class="box-right">
          <p>
            Simply repack your dress in the box it arrived in and add the shipping details to the front (these may arrive pre-printed in the box from your lender or you can print them off your booking confirmation). Some lenders may require you to dry clean the dress.
          </p>
        </div>
      </div>
    </div>
    <h3>
      Where do you ship to?
    </h3>
    <p>
      We ship Australia wide.
    </p>
    <h3>
      How long will it take for my dress to be delivered?
    </h3>
    <p>
      Have a look at our estimated delivery times to work out when your dress will arrive. Always confirm with the relevant lender when you need the dress delivered by.
    </p>
    <h3>
      Is there an express delivery option?
    </h3>
    <p>
      We are working on this at the moment. Within cities your dress will arrive pretty fast so if you are in a rush check out the lender locations.
    </p>
    <h3>
      Can I book a dress in advance?
    </h3>
    <p>
      Absolutely. Just send a request to book to the lender who has listed the dress using the availability calendar.
    </p>
    <h3>
      What is the dress doesn’t fit?
    </h3>
    <p>
      Unfortunately we do not currently offer a ‘try on’ service. As long as the dress matches the description we will be unable to refund any amounts paid.
    </p>
    <h3>
      What if my dress arrives wrinkled?
    </h3>
    <p>
      Our lenders will pack dresses carefully. However some fabrics are more prone to wrinkles so if you receive a dress with slight creases please hang the dress is a steamy bathroom and the steam will de-crease the dress. Do not iron or steam the dress unless you have expressly received written permission from the relevant lender.
    </p>
    <h3>
      What if my dress is too long?
    </h3>
    <p>
      It is your responsibility to ensure that you do not damage the dress. Please ensure that the dress is treated with care. Under no circumstances are you permitted to alter the dress.
    </p>
    <h3>
      How do I return my dress?
    </h3>
    <p>
      Simply repack your dress in the box it arrived in and add the shipping details to the front (these should arrive pre-printed in the box or you can print them off your booking).
    </p>
    <h3>
      Do I need to dry-clean my dress?
    </h3>
    <p>
      This is up to the lender you rent from but many lenders will include the cost of dry-cleaning in your rental fee so no need to clean just send it back.
    </p>
    <h3>
      What if I accidentally damage the dress?
    </h3>
    <p>
      All lenders and borrowers understand that accidents do happen. You need to contact the lender immediately in order to work out a resolution. You will be charged for the cost of repair and any disputes will be handled through The Volte’s dispute mediation process.
    </p>
    <h3>
      Why am I asked to complete a review?
    </h3>
    <The>Volte is all about trust. We encourage all lenders and borrowers to fill out a review after every booking to build trust in each other. Our community relies on honest and reliable reviews. Any reviews which are found to violate our Review Policy will be removed.  </The>
    <h3>
      Can I rent or lend if I am under 18?
    </h3>
     You will need a parent or guardian to rent or lend on your behalf. All liability will be accepted by them.
    <h3>
      What if a lender asks me to pay them directly outside of The Volte’s site?
    </h3>
    <p>
      The Volte is designed to give you a reliable and secure online system. By going outside of this system we can no longer guarantee your security or transaction. It is a violation of The Volte’s terms and conditions to transact outside of our site.  If someone asks you to pay offline or directly please report this and we will investigate. By enabling us oversight of all transactions we are able to guarantee the experience.
    </p>
    <h3>
      How long is a rental period?
    </h3>
    <p>
      This depends on the lender. The most common rental periods are 4 or 8 day reservations. We recommend you book your order to arrive 1-2 days prior to your event to ensure you have plenty of time to get the perfect look. If you want a dress for longer send the lender a message and ask!
    </p>
    <h3>
      When will my credit card be charged?
    </h3>
    <p>
      When your reservation is accepted by the lender. Think of it like booking a flight or online shopping.
    </p>
    <h3>
      What if my rental ends on a Sunday or holiday?
    </h3>
    <p>
      Our courier does not operate on Sundays and public holidays, if your return date falls on one of these, please schedule your pickup back by 12pm the next business day. 
    </p>
    <h3>
      What if I am late returning my dress?
    </h3>
    <p>
      The Volte platform relies on both borrowers and lenders supporting each other to achieve excellent trust and service. When a borrower returns an item late it affects the lenders ability to clean and prepare the item for the next borrower. The system relies on you returning your item on time. If you are unable to do so for any reason our Late Fee Policy may apply.
    </p>
    <p>
      Any other queries please shoot us an email at <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a>
    </p>
  </main>
</div>
