---
name: Courier
---

<div class="wrapper-a">
<main>
  <header class="section-header">
    <h2>
      Courier
    </h2>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -37.35 100 74.699"><path d="M46.479 15.033h-5.263a13.653 13.653 0 0 0-10.71-5.222 13.653 13.653 0 0 0-10.717 5.222h-2.53v-35.291h20.438L46.49-.53l-.011 15.563zm0 10.311h-2.364c.072-.583.161-1.151.161-1.765a13.807 13.807 0 0 0-.97-5.017h3.172l.001 6.782zM30.507 33.84c-5.67 0-10.269-4.589-10.269-10.261 0-5.67 4.599-10.258 10.269-10.258 5.662 0 10.263 4.587 10.263 10.258 0 5.672-4.602 10.261-10.263 10.261m-45.217-8.496c.071-.583.178-1.151.178-1.765 0-1.721-.332-3.416-.974-5.017h33.194a13.88 13.88 0 0 0-.97 5.017c0 .613.093 1.182.172 1.765h-31.6zM-28.317 9.811a13.652 13.652 0 0 0-10.71 5.222h-7.45v-48.854H13.73v48.854h-31.323a13.682 13.682 0 0 0-10.724-5.222m0 24.03c-5.669-.012-10.255-4.612-10.249-10.269.01-5.673 4.61-10.261 10.275-10.25 5.671 0 10.261 4.607 10.251 10.269-.007 5.672-4.611 10.261-10.277 10.25m-18.16-8.497v-6.793h5.361a13.88 13.88 0 0 0-.974 5.029c0 .613.097 1.182.167 1.764h-4.554zm63.736-49.109V-37.35H-50v66.225h8.969c2.932 7.025 11.012 10.342 18.034 7.403a13.783 13.783 0 0 0 7.411-7.403H17.78c2.927 7.025 11.004 10.342 18.032 7.403a13.789 13.789 0 0 0 7.414-7.403H50V-.897L39.982-23.765H17.259z"></path><path d="M18.646-6.058v3.526h14.575L34.762.723l2.324 4.989h8.016V2.193h-5.781l-.011-.042-3.855-8.208-16.809-.001z"></path></svg>
  </header>
  <p>
    Every transaction executed through The Volte includes a door-to-door courier.
  </p>
  <h3>
    Courier Fees
  </h3>
  <p>
    Lenders and Borrowers each pay a courier fee. The Borrower pays for the item to be delivered and the Lender pays for the item to be returned.
  </p>
  <p>
    Our courier fees are based on capacity. It is important that you choose the correct package size so we charge the correct fees. Please note the capacity listed in each.
  </p>
  <table>
    <thead>
      <tr>
        <th>
          Size
        </th>
        <th>
          Same City
        </th>
        <th>
          National
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p>
            Shoebox (8L)
          </p>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -37.35 100 74.699"><path d="M46.479 15.033h-5.263a13.653 13.653 0 0 0-10.71-5.222 13.653 13.653 0 0 0-10.717 5.222h-2.53v-35.291h20.438L46.49-.53l-.011 15.563zm0 10.311h-2.364c.072-.583.161-1.151.161-1.765a13.807 13.807 0 0 0-.97-5.017h3.172l.001 6.782zM30.507 33.84c-5.67 0-10.269-4.589-10.269-10.261 0-5.67 4.599-10.258 10.269-10.258 5.662 0 10.263 4.587 10.263 10.258 0 5.672-4.602 10.261-10.263 10.261m-45.217-8.496c.071-.583.178-1.151.178-1.765 0-1.721-.332-3.416-.974-5.017h33.194a13.88 13.88 0 0 0-.97 5.017c0 .613.093 1.182.172 1.765h-31.6zM-28.317 9.811a13.652 13.652 0 0 0-10.71 5.222h-7.45v-48.854H13.73v48.854h-31.323a13.682 13.682 0 0 0-10.724-5.222m0 24.03c-5.669-.012-10.255-4.612-10.249-10.269.01-5.673 4.61-10.261 10.275-10.25 5.671 0 10.261 4.607 10.251 10.269-.007 5.672-4.611 10.261-10.277 10.25m-18.16-8.497v-6.793h5.361a13.88 13.88 0 0 0-.974 5.029c0 .613.097 1.182.167 1.764h-4.554zm63.736-49.109V-37.35H-50v66.225h8.969c2.932 7.025 11.012 10.342 18.034 7.403a13.783 13.783 0 0 0 7.411-7.403H17.78c2.927 7.025 11.004 10.342 18.032 7.403a13.789 13.789 0 0 0 7.414-7.403H50V-.897L39.982-23.765H17.259z"></path><path d="M18.646-6.058v3.526h14.575L34.762.723l2.324 4.989h8.016V2.193h-5.781l-.011-.042-3.855-8.208-16.809-.001z"></path></svg>
        </td>
        <td class="text-center" rowspan="4">
          $10.95
        </td>
        <td>
          $10.75
        </td>
      </tr>
      <tr>
        <td>
          <p>
            Briefcase (20L)
          </p>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -37.35 100 74.699"><path d="M46.479 15.033h-5.263a13.653 13.653 0 0 0-10.71-5.222 13.653 13.653 0 0 0-10.717 5.222h-2.53v-35.291h20.438L46.49-.53l-.011 15.563zm0 10.311h-2.364c.072-.583.161-1.151.161-1.765a13.807 13.807 0 0 0-.97-5.017h3.172l.001 6.782zM30.507 33.84c-5.67 0-10.269-4.589-10.269-10.261 0-5.67 4.599-10.258 10.269-10.258 5.662 0 10.263 4.587 10.263 10.258 0 5.672-4.602 10.261-10.263 10.261m-45.217-8.496c.071-.583.178-1.151.178-1.765 0-1.721-.332-3.416-.974-5.017h33.194a13.88 13.88 0 0 0-.97 5.017c0 .613.093 1.182.172 1.765h-31.6zM-28.317 9.811a13.652 13.652 0 0 0-10.71 5.222h-7.45v-48.854H13.73v48.854h-31.323a13.682 13.682 0 0 0-10.724-5.222m0 24.03c-5.669-.012-10.255-4.612-10.249-10.269.01-5.673 4.61-10.261 10.275-10.25 5.671 0 10.261 4.607 10.251 10.269-.007 5.672-4.611 10.261-10.277 10.25m-18.16-8.497v-6.793h5.361a13.88 13.88 0 0 0-.974 5.029c0 .613.097 1.182.167 1.764h-4.554zm63.736-49.109V-37.35H-50v66.225h8.969c2.932 7.025 11.012 10.342 18.034 7.403a13.783 13.783 0 0 0 7.411-7.403H17.78c2.927 7.025 11.004 10.342 18.032 7.403a13.789 13.789 0 0 0 7.414-7.403H50V-.897L39.982-23.765H17.259z"></path><path d="M18.646-6.058v3.526h14.575L34.762.723l2.324 4.989h8.016V2.193h-5.781l-.011-.042-3.855-8.208-16.809-.001z"></path></svg>
        </td>
        <td>
          $14.75
        </td>
      </tr>
      <tr>
        <td>
          <p>
            Carry-on (40L)
          </p>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -37.35 100 74.699"><path d="M46.479 15.033h-5.263a13.653 13.653 0 0 0-10.71-5.222 13.653 13.653 0 0 0-10.717 5.222h-2.53v-35.291h20.438L46.49-.53l-.011 15.563zm0 10.311h-2.364c.072-.583.161-1.151.161-1.765a13.807 13.807 0 0 0-.97-5.017h3.172l.001 6.782zM30.507 33.84c-5.67 0-10.269-4.589-10.269-10.261 0-5.67 4.599-10.258 10.269-10.258 5.662 0 10.263 4.587 10.263 10.258 0 5.672-4.602 10.261-10.263 10.261m-45.217-8.496c.071-.583.178-1.151.178-1.765 0-1.721-.332-3.416-.974-5.017h33.194a13.88 13.88 0 0 0-.97 5.017c0 .613.093 1.182.172 1.765h-31.6zM-28.317 9.811a13.652 13.652 0 0 0-10.71 5.222h-7.45v-48.854H13.73v48.854h-31.323a13.682 13.682 0 0 0-10.724-5.222m0 24.03c-5.669-.012-10.255-4.612-10.249-10.269.01-5.673 4.61-10.261 10.275-10.25 5.671 0 10.261 4.607 10.251 10.269-.007 5.672-4.611 10.261-10.277 10.25m-18.16-8.497v-6.793h5.361a13.88 13.88 0 0 0-.974 5.029c0 .613.097 1.182.167 1.764h-4.554zm63.736-49.109V-37.35H-50v66.225h8.969c2.932 7.025 11.012 10.342 18.034 7.403a13.783 13.783 0 0 0 7.411-7.403H17.78c2.927 7.025 11.004 10.342 18.032 7.403a13.789 13.789 0 0 0 7.414-7.403H50V-.897L39.982-23.765H17.259z"></path><path d="M18.646-6.058v3.526h14.575L34.762.723l2.324 4.989h8.016V2.193h-5.781l-.011-.042-3.855-8.208-16.809-.001z"></path></svg>
        </td>
        <td>
          $18.75
        </td>
      </tr>
      <tr>
        <td>
          <p>
            Check-in (100L)
          </p>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="-50 -37.35 100 74.699"><path d="M46.479 15.033h-5.263a13.653 13.653 0 0 0-10.71-5.222 13.653 13.653 0 0 0-10.717 5.222h-2.53v-35.291h20.438L46.49-.53l-.011 15.563zm0 10.311h-2.364c.072-.583.161-1.151.161-1.765a13.807 13.807 0 0 0-.97-5.017h3.172l.001 6.782zM30.507 33.84c-5.67 0-10.269-4.589-10.269-10.261 0-5.67 4.599-10.258 10.269-10.258 5.662 0 10.263 4.587 10.263 10.258 0 5.672-4.602 10.261-10.263 10.261m-45.217-8.496c.071-.583.178-1.151.178-1.765 0-1.721-.332-3.416-.974-5.017h33.194a13.88 13.88 0 0 0-.97 5.017c0 .613.093 1.182.172 1.765h-31.6zM-28.317 9.811a13.652 13.652 0 0 0-10.71 5.222h-7.45v-48.854H13.73v48.854h-31.323a13.682 13.682 0 0 0-10.724-5.222m0 24.03c-5.669-.012-10.255-4.612-10.249-10.269.01-5.673 4.61-10.261 10.275-10.25 5.671 0 10.261 4.607 10.251 10.269-.007 5.672-4.611 10.261-10.277 10.25m-18.16-8.497v-6.793h5.361a13.88 13.88 0 0 0-.974 5.029c0 .613.097 1.182.167 1.764h-4.554zm63.736-49.109V-37.35H-50v66.225h8.969c2.932 7.025 11.012 10.342 18.034 7.403a13.783 13.783 0 0 0 7.411-7.403H17.78c2.927 7.025 11.004 10.342 18.032 7.403a13.789 13.789 0 0 0 7.414-7.403H50V-.897L39.982-23.765H17.259z"></path><path d="M18.646-6.058v3.526h14.575L34.762.723l2.324 4.989h8.016V2.193h-5.781l-.011-.042-3.855-8.208-16.809-.001z"></path></svg>
        </td>
        <td>
          $24.75
        </td>
      </tr>
    </tbody>
  </table>
  <p>
    The Borrower agrees to send the package back in the same size package or smaller than the package size selected by the Lender.
  </p>
  <p>
    If you are in a non-capital city, you may still be in a city or town covered by the flat rate shplease contact us at <a href="mailto:support@thevolte.com">support@thevolte.com </a>for remote area pricing.
  </p>
  <h3>
    Packaging
  </h3>
  <p>
    Like you, we want your parcel to arrive in perfect condition.
  </p>
  <p>
    Parcels travel by road in vans and lorries, and are also handled by sorting machines so there will be some knocks and bumps along the way. Good packaging helps keep the contents safe and makes sure everything arrives as intended.
  </p>
  <ol>
    <li>
      Your packaging materials need to be tough and strong as you want a nice hard shell for your products to travel in.
    </li>
    <li>
      Seal it shut with strong tape.
    </li>
    <li>
      Don't be daft and substitute packaging items properly with 'fragile' or 'handle with care' stickers. Machines can't read, and so can't take extra care when sorting.
    </li>
  </ol>
  <p>
    We recommend Lenders use reusable plastic packaging. Not only is this good for the environment, it will make your transactions cheaper and simpler. Borrowers must return items in the plastic box they receive from the Lender. All items must be packed in a box. Dress bags will not be accepted by the courier and you may still be charged a fee.
  </p>
  <p>
    You can buy plastic boxes from many retailers including:
  </p>
  <ul>
    <li>
      Officeworks (<a href="www.officeworks.com.au">www.officeworks.com.au</a>)
    </li>
    <li>
      Bunnings (<a href="www.bunnings.com.au">www.bunnings.com.au</a>)
    </li>
    <li>
      K-Mart (<a href="www.kmart.com.au">www.kmart.com.au</a>)
    </li>
    <li>
      Masters (<a href="www.masters.com.au">www.masters.com.au</a>)
    </li>
  </ul>
  <h3>
    Delivery times
  </h3>
  <p>
    It is up to the Lender and Borrower to ensure that items are delivered by the agreed date.
  </p>
  <table>
    <thead>
      <tr>
        <th>
          Same city
        </th>
        <th>
          Same or next business day
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Sydney, Melbourne, Adelaide, Brisbane
        </td>
        <td>
          1-2 business days
        </td>
      </tr>
      <tr>
        <td>
          Perth - Adelaide
        </td>
        <td>
          3-4 business days
        </td>
      </tr>
      <tr>
        <td>
          Perth – Sydney/Mebourne
        </td>
        <td>
          4-6 business days
        </td>
      </tr>
      <tr>
        <td>
          Perth - Brisbane
        </td>
        <td>
          6-7 business days
        </td>
      </tr>
    </tbody>
  </table>
  <h3>
    Packing your items
  </h3>
  <p>
    Please ensure that you pack any items carefully. It is important that dresses are packed to reduce the risk of creasing.
  </p>
</main>
</div>
