---
name: Courier
---

<div class="wrapper-a">
  <main>
    <header class="section-header">
      <h2>
        Courier
      </h2>

    </header>
    <p>
      Every transaction executed through The Volte includes a door-to-door courier.
    </p>
    <h3>
      Courier Fees
    </h3>
    <p>
      Lenders and Borrowers each pay a courier fee. The Borrower pays for the item to be delivered and the Lender pays for the item to be returned.
    </p>
    <p>
      Our courier fees are based on capacity. It is important that you choose the correct package size so we charge the correct fees. Please note the capacity listed in each.
    </p>
   <table>
      <thead>
        <tr>
          <th>
            Size
          </th>
          <th>
            Same City
          </th>
          <th>
            National
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
              <i class="fa fa-gift"></i> Shoebox (8L)
          </td>
          <td class="text-center" rowspan="4">
            $10.95
          </td>
          <td>
            $10.75
          </td>
        </tr>
        <tr>
          <td>
            <i class="fa fa-briefcase"></i> Briefcase (20L)
          </td>
          <td>
            $14.75
          </td>
        </tr>
        <tr>
          <td>
              <i class="fa fa-suitcase"></i> Carry-on (40L)
          </td>
          <td>
            $18.75
          </td>
        </tr>
        <tr>
          <td>
                <i class="fa fa-truck"></i> Check-in (100L)
          </td>
          <td>
            $24.75
          </td>
        </tr>
      </tbody>
    </table>
    <p>
      The Borrower agrees to send the package back in the same size package or smaller than the package size selected by the Lender.
    </p>
    <p>
      If you are in a non-capital city, you may still be in a city or town covered by the flat rate shipping, please contact us at <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }} </a>for remote area pricing.
    </p>
    <h3>
      Packaging
    </h3>
    <p>
      Like you, we want your parcel to arrive in perfect condition.
    </p>
    <p>
      Parcels travel by road in vans and lorries, and are also handled by sorting machines so there will be some knocks and bumps along the way. Good packaging helps keep the contents safe and makes sure everything arrives as intended.
    </p>
    <ol class="bottom-spaced">
      <li>
        Your packaging materials need to be tough and strong as you want a nice hard shell for your products to travel in.
      </li>
      <li>
        Seal it shut with strong tape.
      </li>
      <li>
        Don't be daft and substitute packaging items properly with 'fragile' or 'handle with care' stickers. Machines can't read, and so can't take extra care when sorting.
      </li>
    </ol>
    <p>
      We recommend Lenders use reusable plastic packaging. Not only is this good for the environment, it will make your transactions cheaper and simpler. Borrowers must return items in the plastic box they receive from the Lender. All items must be packed in a box. Dress bags will not be accepted by the courier and you may still be charged a fee.
    </p>
    <p>
      You can buy plastic boxes from many retailers including:
    </p>
    <ul>
      <li>
        Officeworks (<a href="http://www.officeworks.com.au">www.officeworks.com.au</a>)
      </li>
      <li>
        Bunnings (<a href="http://www.bunnings.com.au">www.bunnings.com.au</a>)
      </li>
      <li>
        K-Mart (<a href="http://www.kmart.com.au">www.kmart.com.au</a>)
      </li>
    </ul>
    <h3>
      Delivery times
    </h3>
    <p>
      It is up to the Lender and Borrower to ensure that items are delivered by the agreed date. We ship to many other locations. Please contact us at <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a> to find out our shipping times and costs for other locations.
    </p>
    <table>
      <thead>
        <tr>
          <th>
            Area
          </th>
          <th>
            Estimated delivery
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Same city
          </td>
          <td>
            Same or next business day
          </td>
        </tr>
        <tr>
          <td>
            Between Sydney, Melbourne, Adelaide, Brisbane
          </td>
          <td>
            1-2 business days
          </td>
        </tr>
        <tr>
          <td>
            Perth - Adelaide
          </td>
          <td>
            3-4 business days
          </td>
        </tr>
        <tr>
          <td>
            Perth - Sydney/Mebourne
          </td>
          <td>
            4-6 business days
          </td>
        </tr>
        <tr>
          <td>
            Perth - Brisbane
          </td>
          <td>
            6-7 business days
          </td>
        </tr>
      </tbody>
    </table>
    <h3>
      Packing your items
    </h3>
    <p>
      Please ensure that you pack any items carefully. It is important that dresses are packed to reduce the risk of creasing.
    </p>
  </main>
</div>
