- name ||= nil
.search-mixed-filter{:'data-category-id' => local_assigns.has_key?(:category_id) ? category_id : '', :'data-div-cached-listings-ids' => header_name.underscore.tr(" ","-").gsub('desk', 'listing') + '-listings-ids', :'data-filter' => true, :"data-custom-attribute" => name, :'data-api-category-path' => dashboard_api_category_path(local_assigns.has_key?(:category_id) ? category_id : '')}
  .container-fluid
    .row-fluid
      .span2{title: header_name}
        %h4
          = header_name
      .span10
        %ul
          - options.each do |option|
            %li.filter-option
              %label.checkbox.small-checkbox
                %input{type: 'checkbox', name: input_name, value: option[0], checked: selected_values.include?(option[0].to_s) }
                %span.filter-label-text
                  #{option[1]}
