- name ||= nil
.search-mixed-filter{:'data-div-cached-listings-ids' => header_name.underscore.tr(" ","-").gsub('desk', 'listing') + '-listings-ids', :'data-filter' => true, :"data-custom-attribute" => name}
  .container-fluid
    .row-fluid
      .span2
        %h4= header_name
      .span10
        %ul
          - options.each do |option|
            %li.filter-option
              %label.checkbox.small-checkbox
                %input{type: 'checkbox', name: input_name, value: option[0], checked: selected_values.include?(option[0].to_s) }
                %span.filter-label-text
                  #{option[1]}

