%li.listing.action-buttons
  .span4
    = stock_location.name
  .span4
    = stock_location.active ? "ACTIVE" : "INACTIVE"
  .span3
    .links.right
      = link_to manage_buy_sell_stock_location_path(stock_location), :method => :delete, :confirm => 'Are you sure?', :class => "delete", style: 'padding-top: 0px;' do
        %span.ico-trash
        %span.text Delete

      = link_to edit_manage_buy_sell_stock_location_path(stock_location), :class => "delete", style: 'padding: 0 0 0 10px;' do
        %span.icon.ico-edit
        %span.text Edit
  .clearfix
