%p= t('data_upload.manage.edit.waiting', preview_link: link_to("preview xml", @data_upload.xml_file.url, target: :blank)).html_safe
= simple_form_for @data_upload, url: schedule_import_manage_transactable_type_data_upload_path(@transactable_type, @data_upload), method: :post do |f|
  = f.button :submit, t('data_upload.manage.edit.schedule_import'), class: 'btn btn-primary'
