- title "Data Upload"

= show_manage_navigation(:data_upload)

.row-fluid
  .span8.offset2
    %h1= t('data_upload.manage.edit.header', csv_identifier: @data_upload.csv_file_identifier)

    .box
      %p
      = render partial: "manage/transactable_types/data_uploads/edit_#{@data_upload.state}"

