<h2>Can we help, {{ lister.first_name }}?</h2>

<p>We noticed that you decided not to pay for your booking <a href="{{ transactable.listing_url }}">{{ listing.name }}</a>.</p>

<p>We'd love to know the reasons so we can provide a better service in the future for you and your potential Drivers.</p>

<p>Just reply to this email, or call us on {{ platform_context.phone_number }} - we value your feedback!</p>
