<h2>Great job {{ enquirer.first_name }}!</h2>

<p>Thank you for accepting the booking {{ transactable.name }}. You will be notified right after Passenger pays for it.</p>

<p>We're always happy to help! Just send an email to <a href="mailto:{{ platform_context.support_email }}">{{ platform_context.support_email }}</a>.</p>
