<p>Congratulations, {{ lister.first_name }}!</p>

<p>Driver {{ enquirer.name }}, has accepted your booking {{ transactable.name }}</p>
<p>To finalize the booking you have to provide a payment method for this booking.</p>
