<p>Congratulations, {{ lister.first_name }}!</p>

<p>You have received an offer from {{ enquirer.name }} for {{ listing.name }}. Click here to view the latest offers under the <a href="{{ platform_context.host | append: listing.index_url }}">My Projects > Projects Pending</a> section in your user dashboard.</p>

