- render_content_outside_container!

- title t('orders.index.title')


.dash-page
  .dash-head.clearfix
    - # For later use
    -#%ul
    -#  %li.active
    -#    %a{:href => "#"} ORDERS
    -#  %li
    -#    %a{:href => "#"} OPEN ORDERS
    -#  %li
    -#    %a{:href => "#"} CANCELLED ORDERS

  .dash-body
    - if @orders.empty?
      %p.centered
        = t('orders.labels.no_orders')
      %p= render partial: 'buy_sell_market/shared/browse_products_button'

    = render partial: 'order', collection: @orders

- unless @orders.empty?
  .row-fluid
    .span12
      .pagination
        = will_paginate @orders, renderer: BuySellMarket::WillPaginateLinkRenderer::LinkRenderer, class: ''
