- title "Bookings (#{@orders.count})"

%section#reservations
  .row-fluid
    .span8.offset2
      %h1
        %span.ico-bookings.padding My Orders
      .box
        %header
          .button-links
            %ul
              %li
                =orders_navigation_link('new')
              %li
                =orders_navigation_link('complete')

        = render 'index'