- if only_inputs.empty? || only_inputs.include?(:password)
  = f.input :password, :label => (f.object.persisted? ? t('general.change_password') : t('general.password') )
  = f.input :password_confirmation, :label => t('general.password_confirmation')

