.date select, .datetime select {
  width: auto;
}

.brand {
  margin-top: 25px;
}

.scribe {
  height: 400px;
  margin-top: 10px;

  &.small {
    height: 100px;
  }

  &.uneditable-input {
    color: #394449;
    cursor: pointer;
    white-space: normal;
  }

}
