- [:notice, :success, :warning, :error, :deleted].each do |key|
  - if flash[key].present?
    .multiline{class: "alert #{key}", :'data-flash-message' => true}
      = flash[key]
      %button.close{ type: 'button', "data-close": true }= t('flash_messages.close_label')

