<h2>Hello, {{ lister.first_name }}!</h2>

<p>The payment has been approved by {{ enquirer.name }}.</p>

<p><a class="btn" href="{{ reservation.host_show_url }}">Summary</a></p>

<p>Have a great day!</p>
