- is_template = defined?(template) && template
.fieldset{:class => ('template' if is_template)}
  = link_to 'Close', '', :class => 'close-button'

  .legend
    Listing ##{content_tag(:span, (@space.listings.index(f.object)||0)+1)}

  = render 'manage/listings/form', :f => f, :template => is_template

