#space_wizard.row-fluid
  .span8.offset2
    .box
      %ul.space-wizard
        %li{:class => space_wizard_step_class(0, step)}
          %span Sign Up
        %li{:class => space_wizard_step_class(1, step)}
          %span Company
        %li{:class => space_wizard_step_class(2, step)}
          %span Location
        %li{:class => space_wizard_step_class(3, step)}
          %span Listings

      = yield

