/* comment */

.comment-a {
  margin: 0 0 30px;

  & + .comment-a {
    border-top: 1px solid #e5e5e5;
    padding-top: 30px;
  }

  figure {
    float: left;
    width: 50px;
    margin: 0 -100% 0 0;

    img {
      width: 50px;
    }
  }

  figure ~ * {
    margin-left: 80px;

    @include bp-range($screen-lg, $screen-tablet) {
      margin-left: 70px;
    }


    @include bp($screen-tablet-vertical) {
      margin-left: 70px;
    }
  }

  .author {
    @include clear;

    margin-bottom: 3px;
    font-size: 14px;
    font-weight: bold;
  }

  .edit-link {
    float: right;
  }

  blockquote {
    margin-bottom: 3px;
    color: inherit;
    font: 14px/1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  .action--remove-comment,
  .action--report-spam {
    &::before {
      content: "\2022 ";
    }
  }

  @include bp($screen-mobile) {
    margin-bottom: 15px;

    figure {
      width: 30px;
    }

    figure ~ * {
      margin-left: 45px;
    }

    .meta {
      font-size: 12px;
    }
  }
}

.comment-content-a {
  .comment-editor {
    textarea {
      margin-top: 10px;
    }

    .action {
      text-align: right;
    }
  }

  .comment-body {
    display: block;
  }

  .comment-editor {
    display: none;
  }

  &.is-active {
    .comment-body {
      display: none;
    }

    .comment-editor {
      display: block;
    }
  }

  .comment-body.edited > *:last-child::after {
    content: " (edited)";
    opacity: 0.5;
    font-weight: normal;
    text-transform: lowercase;
  }
}

.edit-link-a {
  float: right;
}

/* Enable action links */
.comment-a {
  > .author .action--edit-comment,
  > .meta .action--remove-comment {
    display: none;
  }

  &.is-current-user {
    > .author .action--edit-comment {
      display: block;
    }

    > .meta .action--remove-comment {
      display: inline;
    }
  }
}
