/* comment */
@keyframes notifyNewComment {
  from {
    background: rgba(#fff5cc, 1);
  }

  to {
    background-color: rgba(#fff5cc, 0);
  }
}

.comment-a {
  position: relative;
  border-top: 1px solid #e5e5e5;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;

  &.new-entry {
    animation-name: notifyNewComment;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
  }

  figure {
    float: left;
    width: 50px;
    margin: 0 -100% 0 0;

    img {
      width: 50px;
    }
  }

  figure ~ * {
    margin-left: 80px;

    @include bp-range($screen-lg, $screen-tablet) {
      margin-left: 70px;
    }


    @include bp($screen-tablet-vertical) {
      margin-left: 70px;
    }
  }

  footer {
    margin-left: 80px !important;

    > .comments {
      margin-top: 10px;
      padding-top: 15px;

      > .comment-a {
        border-top: 1px solid #e5e5e5;
        padding-top: 10px;
      }

      &:empty {
        display: none;
      }

      > .comment {
        display: none;
        margin-top: 15px;
      }

      > .comment.is-active {
        display: block;
      }

      > .comment p {
        margin-bottom: 15px;
      }

      > .comment .action {
        text-align: right;
      }

      > .comment .button-a {
        padding: 0 29px;
      }
    }
  }

  .author {
    @include clear;

    margin-bottom: 3px;
    font-size: 14px;
    font-weight: bold;
  }

  .edit-link {
    float: right;
  }

  blockquote {
    margin-bottom: 3px;
    color: inherit;
    font: 14px/1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  .action--remove-comment,
  .action--report-spam {
    &::before {
      content: "\2022 ";
    }
  }

  @include bp($screen-tablet-vertical) {
    margin-bottom: 15px;

    figure {
      display: none;
    }

    figure ~ * {
      margin: 0;
    }

    .meta {
      font-size: 12px;
    }
  }
}

.new_comment .action [data-cancel-edit] {
  display: none;
}

#new_comment .action {
  display: none;
}
