/* hero */

.hero-a {
  position: relative;
  margin: 0;
  background: url("https://dmtyylqvwgyxw.cloudfront.net/instances/5011/uploads/images/ckeditor/picture/data/1421/hero-signed-out.jpg") center top no-repeat #333;
  background-size: cover;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.3;
  text-align: center;

  html.signed-in & {
    background-image: url("https://dmtyylqvwgyxw.cloudfront.net/instances/5011/uploads/images/ckeditor/picture/data/1420/home-signed-in.jpg");
  }

  &:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    background: rgba(0, 0, 0, 0.3);
  }

  > .contain {
    position: relative;
    padding: 200px 0;

    &.compact {
      padding: 100px 0;
    }
  }

  .hx {
    margin-bottom: 15px;
    color: inherit;
    font: bold 42px / 1 $font-alt;
  }

  p {
    max-width: 910px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    font-family: $font-alt;
  }

  .signup-cta {
    margin-top: 75px;
  }

  @include bp($screen-lg) {
    font-size: 24px;

    > .contain {
      padding: 175px 0;

      &.compact {
        padding: 100px 0;
      }
    }
  }


  @include bp($screen-tablet) {
    > .contain {
      padding: 150px 0;

      &.compact {
        padding: 75px 0;
      }
    }
  }


  @include bp($screen-mobile) {
    font-size: 18px;

    > .contain {
      padding: 100px 0;

      &.compact {
        padding: 50px 0;
      }
    }

    .hx {
      margin-bottom: 15px;
    }

    .button-a.large {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.benefits-section {
  padding-top: 50px;

  .hx {
    font-size: 35px;

    span {
      display: block;
    }
  }

  p {
    font-size: 22px;
    margin-right: 300px;
  }

  img.alignright {
    height: initial;
  }

  @include bp($screen-tablet-vertical) {
    img.alignright {
      margin-left: auto;
    }

    .hx {
      font-size: 24px;

      span {
        display: inline;
      }
    }

    p {
      font-size: 18px;
      margin-right: 0;
    }
  }
}
