/* hero */

.hero-a {
  position: relative;
  margin: 0;
  padding: 200px 0;
  background: url("/assets/hallmark/hero-a-bg-a.jpg") center top no-repeat #333;
  background-size: cover;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.3;
  text-align: center;

  html.signed-in & {
    background-image: url("/assets/hallmark/hero-a-signed-in.jpg");
  }

  &:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    background: rgba(0, 0, 0, 0.6);
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.6));
  }

  > .contain {
    position: relative;
  }

  .hx {
    margin-bottom: 15px;
    color: inherit;
    font: bold 42px / 1 $font-alt;
  }

  .hx + p {
    max-width: 910px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    font-family: $font-alt;
  }

  @include bp($screen-lg) {
    padding: 175px 0;
    font-size: 24px;
  }


  @include bp($screen-tablet) {
    padding: 150px 0;
  }


  @include bp($screen-mobile) {
    padding: 100px 0;
    font-size: 18px;

    .hx {
      margin-bottom: 15px;
    }

    .button-a.large {
      font-size: 16px;
      line-height: 20px;
    }
  }
}
