/* publish */

.publish-a {
  margin: 0 0 40px;

  .topics {
    margin-left: 50px;
    margin-top: 15px;
  }

  .topics label {
    display: block;
    margin: 0 0 5px;
  }

  .no-touch & .topics label {
    display: none;
  }

  @include bp($screen-xs) {
    margin: 0 -20px 30px;

    .topics {
      margin-left: 0;
    }
  }
}
