.search-types {
  .actions {
    float: right;
    transform: translateY(40%);

    a {
      display: none;

      &.is-active {
        display: block;
      }
    }

    @include bp($screen-tablet-vertical) {
      float: none;
      transform: none;
    }
  }
}
