/* topics */

.topics-a {
  overflow: hidden;

  .wrap {
    position: relative;
    margin: -50px -25px 0;
  }

  ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    border: 50px solid transparent;
    border-width: 50px 25px 0;
    font: 42px / 90px $font-alt;
  }

  li:before {
    display: none;
  }

  li a {
    display: block;
    position: relative;
    padding-top: 34%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  }

  li a:hover:before {
    background-color: rgba(0, 0, 0, 0.25);
  }

  li a:hover span {
    opacity: 1;
  }

  li a:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    background: rgba(0, 0, 0, 0.35);
  }

  li a span {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    margin: -45px 0 0;
    text-align: center;
    opacity: 0.9;
    transition: inherit;
  }

  li.big {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
  }

  li.big a {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: 0;
  }

  .a {
    padding-left: 50%;
  }

  .b {
    padding-right: 50%;
  }

  .b li.big {
    left: auto;
    right: 0;
  }

  @include bp($screen-tablet) {
    .wrap {
      margin: -30px -15px 0;
    }

    li {
      border-width: 30px 15px 0;
      font-size: 25px;
      line-height: 1;
    }

    li a span {
      margin-top: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }


  @include bp($screen-mobile) {
    .wrap {
      margin: -20px -10px 0;
    }

    li {
      border-width: 20px 10px 0;
    }

    .a {
      padding-left: 0;
    }

    .b {
      padding-right: 0;
    }

    li.big {
      position: static;
      left: auto;
      right: auto !important;
      top: auto;
      bottom: auto;
      width: 100%;
    }

    li.big a {
      position: relative;
      left: auto;
      top: auto;
      bottom: auto;
      right: auto;
      padding-top: 34%;
    }
  }
}
