---
name: Create a New Case
---

<div class="new-case-selection">
  <h1>What kind of case do you want to create?</h1>

  <p>
    {% for transactable_type in platform_context.transactable_types %}
    {% if current_user.registration_completed? %}
    {% assign new_form_path = "new_dashboard_company_transactable_path" | generate_url: transactable_type_id: transactable_type.id %}
    {% else %}
    {% assign return_to = "dashboard_company_transactables_path" | generate_url %}
    {% assign new_form_path = "transactable_type_space_wizard_list_path" | generate_url: transactable_type, return_to: @return_to %}
    {% endif %}

    <a href="{{ new_form_path }}" class="button-a">New {{ transactable_type.bookable_noun }}</a>
    {% endfor %}
  </p>
</div>
