<section class='home home-index' id='content'>
  <div class="container-fluid">
    <section class="hero-a" data-hero-slideshow-container>
      <div class="slideshow-a">
        <div class="item item-1 active" data-hero-slideshow-item>
          <h2>Discover a diverse range of aged care at home suppor and services near you</h2>
          <h3>Engage a personal carer, browse home care services and supports, find resources and explore events near you</h3>
        </div>
        <div class="item item-2" data-hero-slideshow-item>
          <h2>Discover a diverse range of disability supports and services near you</h2>
          <h3>Engage a support worker, browse disability services, find resources and explore events near you</h3>
        </div>
        <div class="item item-3" data-hero-slideshow-item>
          <h2>Discover the knowledge and information you need to support your decision making</h2>
          <h3>A wealth of relevant information is available about aged care at home and disability support</h3>
        </div>
        <div class="item item-4" data-hero-slideshow-item>
          <h2>Discover a whole community of like-minded people in a safe online environment</h2>
          <h3>Share stories, give and receive information on topics of interest, connect, attend events and even play games online with others.</h3>
        </div>
      </div>

      <form class="search no_inheritance" action="/search">
        <fieldset class="search-fields">
          <input type="text" placeholder="Search near you..." class="search-input" name="search-q">
          <button type="submit" class="search-submit button-a">
            <i class="fa fa-search" aria-hidden="true"></i>
            Search
          </button>
        </fieldset>
      </form>
    </section>
  </div>
</section>

<main id="main">
  <section class="home-section section-how-it-works">
    <div class="wrapper-a">
      <h2>HOW IT WORKS</h2>
      <div class="boxes">
        <div class="box">
          <div class="icon">
            <img src="http://lvh.me:8080/assets/how-it-works/search-icon.svg" alt="Search local care workers" />
          </div>
          <h3>Search local care workers</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        </div>

        <div class="box">
          <div class="icon">
            <img src="http://lvh.me:8080/assets/how-it-works/rates-icon.svg" alt="Agree rates, hours and services" />
          </div>
          <h3>Agree rates, hours and services</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        </div>

        <div class="box">
          <div class="icon">
            <img src="http://lvh.me:8080/assets/how-it-works/manage-icon.svg" alt="Manage and pay for your care online" />
          </div>
          <h3>Manage and pay for your care online</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        </div>
      </div>

      <a href="#start" class="button-a">START</a>
    </div>
  </section>

  <section class="home-section section-about">
    <div class="wrapper-a">
      <h2>ABOUT MYCSN.COM.AU</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>

      <!-- Need real video -->
      <iframe src="https://player.vimeo.com/video/8733915" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </section>

  <section class="home-section section-advantages">
    <div class="wrapper-a">
      <h2>ADVANTAGES</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis in numquam, ducimus id laboriosam perferendis reprehenderit totam fugit voluptatibus libero quam debitis magnam, dolores consectetur optio quibusdam sed, vitae expedita.</p>

      <div class="boxes">
        <div class="box">
          <div class="icon">
            <img src="http://lvh.me:8080/assets/advantages/community-icon.svg" alt="" />
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem perspiciatis nisi sed vitae ratione quisquam minima officia eos! Repellendus illum reprehenderit cumque deleniti impedit alias inventore totam. Ad cumque, consequatur.</p>
        </div>
        <div class="box">
          <div class="icon">
            <img src="http://lvh.me:8080/assets/advantages/less-risk-icon.svg" alt="" />
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam inventore animi asperiores commodi ad repellat voluptatibus magnam, quam provident fugiat! Libero veritatis laborum rem suscipit vitae, quae nihil vero nam?</p>
        </div>
        <div class="box">
          <div class="icon">
            <img src="http://lvh.me:8080/assets/advantages/meaningful-projects-icon.svg" alt="" />
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias perferendis mollitia, aspernatur, provident dicta ea assumenda reprehenderit nisi distinctio deserunt quam eligendi explicabo eius a. Architecto repellat sit laborum? Assumenda!</p>
        </div>
        <div class="box">
          <div class="icon">
            <img src="http://lvh.me:8080/assets/advantages/no-admin-headaches-icon.svg" alt="" />
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ipsa excepturi eaque quibusdam ex sit, quos nulla exercitationem quasi incidunt ullam possimus consequatur unde animi minima aut enim est quia!</p>
        </div>
        <div class="box">
          <div class="icon">
            <img src="http://lvh.me:8080/assets/advantages/targeted-experience-icon.svg" alt="" />
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus modi rerum libero, officiis, totam exercitationem maxime eius perspiciatis vel non quod sed, possimus veniam enim! Eius, perspiciatis nesciunt eum labore.</p>
        </div>
        <div class="box">
          <div class="icon"><img src="http://lvh.me:8080/assets/advantages/top-smes-icon.svg" alt="" /></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae harum laborum rerum, reiciendis quisquam similique quibusdam animi? Laboriosam asperiores adipisci porro cumque odio officiis illo excepturi provident. Repudiandae, dolorem, voluptas?</p>
        </div>
      </div>

      <a href="#start" class="button-a">START</a>
    </div>
  </section>

  <section class="home-section section-testimonials">
    <div class="wrapper-a">
      <h2>TESTIMONIALS</h2>
      <p>Here's what our customers have to say...</p>
      <ul class="testimonials-carousel">
        <li class="testimonials-carousel__item">
          <img src="http://lvh.me:8080/assets/testimonials/person-1.jpg" alt="" />
          <h3>Finding my care heroes</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil labore earum illo veritatis, ducimus, eaque asperiores fugiat quibusdam ipsum, id cum minima, deserunt laborum qui consectetur sint nulla at expedita!</p>
          <p class="testimonial-author">
            <p class="testimonial-author__name">GRANT L.</p>
            <p class="testimonial-author__description">Customer</p>
          </p>
        </li>
        <li class="testimonials-carousel__item">
          <img src="http://lvh.me:8080/assets/testimonials/person-2.jpg" alt="" />
          <h3>Designing life my way</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi consectetur doloremque enim debitis animi facilis ipsum, nesciunt natus sit dolores magnam culpa tempore libero totam, architecto consequatur ullam dolorum soluta.</p>
          <p class="testimonial-author">
            <p class="testimonial-author__name">KARA JONES</p>
            <p class="testimonial-author__description">Cafe Express</p>
          </p>
        </li>
        <li class="testimonials-carousel__item">
          <img src="http://lvh.me:8080/assets/testimonials/person-3.jpg" alt="" />
          <h3>A new lease on life at 91</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit consequatur sint quis, optio numquam consequuntur qui magni aliquam rerum, adipisci voluptas dolorum totam ab nostrum quae aspernatur accusamus temporibus in!</p>
          <p class="testimonial-author">
            <p class="testimonial-author__name">CHRIS RONELL</p>
            <p class="testimonial-author__description">Customer</p>
          </p>
        </li>
        <li class="testimonials-carousel__item">
          <img src="http://lvh.me:8080/assets/testimonials/person-1.jpg" alt="" />
          <h3>Finding my care heroes</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil labore earum illo veritatis, ducimus, eaque asperiores fugiat quibusdam ipsum, id cum minima, deserunt laborum qui consectetur sint nulla at expedita!</p>
          <p class="testimonial-author">
            <p class="testimonial-author__name">GRANT L.</p>
            <p class="testimonial-author__description">Customer</p>
          </p>
        </li>
        <li class="testimonials-carousel__item">
          <img src="http://lvh.me:8080/assets/testimonials/person-2.jpg" alt="" />
          <h3>Designing life my way</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi consectetur doloremque enim debitis animi facilis ipsum, nesciunt natus sit dolores magnam culpa tempore libero totam, architecto consequatur ullam dolorum soluta.</p>
          <p class="testimonial-author">
            <p class="testimonial-author__name">KARA JONES</p>
            <p class="testimonial-author__description">Cafe Express</p>
          </p>
        </li>
        <li class="testimonials-carousel__item">
          <img src="http://lvh.me:8080/assets/testimonials/person-3.jpg" alt="" />
          <h3>A new lease on life at 91</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit consequatur sint quis, optio numquam consequuntur qui magni aliquam rerum, adipisci voluptas dolorum totam ab nostrum quae aspernatur accusamus temporibus in!</p>
          <p class="testimonial-author">
            <p class="testimonial-author__name">CHRIS RONELL</p>
            <p class="testimonial-author__description">Customer</p>
          </p>
        </li>
      </ul>

      <a href="#start" class="button-a">READ MORE</a>
    </div>
  </section>

  <section class="home-section section-partners">
    <div class="wrapper-a">
      <h2>OUR PARTNERS</h2>
      <ul class="partners-carousel">
        <li class="partners-carousel__item">
          <img src="http://lvh.me:8080/assets/partners/partner-1.png" width="211" alt="" />
        </li>
        <li class="partners-carousel__item">
          <img src="http://lvh.me:8080/assets/partners/partner-2.png" width="101" alt="" />
        </li>
        <li class="partners-carousel__item">
          <img src="http://lvh.me:8080/assets/partners/partner-3.png" width="282" alt="" />
        </li>
        <li class="partners-carousel__item">
          <img src="http://lvh.me:8080/assets/partners/partner-4.png" width="101" alt="" />
        </li>
        <li class="partners-carousel__item">
          <img src="http://lvh.me:8080/assets/partners/partner-1.png" width="211" alt="" />
        </li>
        <li class="partners-carousel__item">
          <img src="http://lvh.me:8080/assets/partners/partner-2.png" width="101" alt="" />
        </li>
        <li class="partners-carousel__item">
          <img src="http://lvh.me:8080/assets/partners/partner-3.png" width="282" alt="" />
        </li>
        <li class="partners-carousel__item">
          <img src="http://lvh.me:8080/assets/partners/partner-4.png" width="101" alt="" />
        </li>
      </ul>
    </div>
  </section>
</main>
