- link = case tab
  - when :products
    - dashboard_company_products_path
  - when :services
    - dashboard_company_transactable_type_transactables_path(TransactableType.first) if TransactableType.first
  - when :reviews
    - dashboard_reviews_path
  - when :blog_posts
    - dashboard_blog_path

.text-center
  - key = (current_user && current_user.id == params[:id].to_i) ? 'user' : 'visitor'
  = t "user_profile.labels.#{key}.no_#{tab.to_s}", name: @user.first_name

  - if key == 'user' && tab != :reviews && link.present?
    %br
    %br
    = link_to t('user_profile.buttons.cta'), link, class: 'btn green cta'
