<div class="case-invite-content">
  <header>
    <h2>Request has been submitted</h2>
  </header>

  <p>Thank you.</p>

  <p>
    Your request has successfully been submitted. A workflow
    notification of this request will be sent to both parties.
  </p>

  <p>
    A reply or access to the case details will be provided to you
    in short order.
  </p>

  <div class='actions'>
    <button type="button" class='button-b' data-close>Close</button>
  </div>
</div>
