{% if global_errors != blank %}
<div class="errors-global">
  <h3>{{ 'flash_messages.space_wizard.complete_fields' | translate }}</h3>

  <ul>
    {% for error in global_errors %}
      <li>{{ error | remove_first: 'Property ' | remove_first: 'Pickup location ' | remove_first: 'Number of passengers ' | remove_first: 'Driver category ' | remove_first: 'Duration ' }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
