{% content_for 'meta' %}
  <meta name="proof_of_concept" value="yes!">
  <title>Super Cool Theme {{ params.controller }}</title>
{% endcontent_for %}

{% content_for 'tutorial' %}
  this is tutorial content
{% endcontent_for %}

<h1>Hello liquid!</h1>
