.content-container
  = render partial: 'instance_admin/manage/search/tabs', locals: {tab: :global}

  = render partial: 'instance_admin/manage/search/search_form', locals: {search_title: 'Global Search', include_select_engine: true, include_radius: true}