.dash-head.clearfix
  %p MANAGE LISTINGS > LIST NEW ITEM
  / %a.dash-head-btn{:href => ""}
  /   .btn.blue Bulk Upload
.dash-body
  = simple_form_for ["dashboard", @transactable_type, @transactable], wrapper: :bs3, :html => { :multipart => true, id: 'listing-form' } do |f|

    = render 'form', f: f

    .submit-bar
      = link_to dashboard_transactable_type_transactables_path(@transactable_type) do
        .btn.gray Cancel
      = f.submit "Save item", class: "btn medium blue"
