- title t('dashboard.nav.sent_to_me')

- content_for :page_header do
  %h1= yield :title

- tabs = []
- tabs.push({ name: t('dashboard.payment_documents.files_sent_to_me'), url: sent_to_me_dashboard_company_payment_documents_path, active: params[:action] == 'sent_to_me' })
- tabs.push({ name: t('dashboard.payment_documents.files_uploaded_by_me'), url: uploaded_by_me_dashboard_company_payment_documents_path, active: params[:action] == 'uploaded_by_me' })

= dashboard_panel_multi_tabs(tabs)
