<h2>Invoice Rejected</h2>

<p>{{ lister.name }} has rejected the latest invoice. Payment for the latest invoice will be not be processed.</p>

<p>Please review your information and re-submit invoice per your agreed terms.</p>

<p>Feel free to reach out to our support team for more details. Remember, we're always here to help. Send us a message at <a href="mailto:support@bronXchange.com">support@bronXchange.com</a> or call {{ platform_context.phone_number }}, and we'll take care of you right away.</p>
