<p class="first-paragraph">Hi there,</p>

<p>Thank you for your interest in <a href="http://near-me.com">Near Me</a>! We are excited to get you started on your very own peer-to-peer marketplace. A member of our team will be in touch with you shortly with next steps.</p>

<p>In the meantime, please take a peek at these peer-to-peer marketplace resources:</p>

<ul>
  <li><a href="http://near-me.com/blog">Near Me Blog</a></li>
  <li><a href="https://www.facebook.com/NearMeCo">Facebook</a></li>
  <li><a href="https://twitter.com/nearmeco">Twitter</a></li>
</ul>

<p>Thank you again for your interest in Near Me and I'm excited to see your idea come to life!
If you're super anxious to get in touch you can send your availability to Curtis@near-me.com.</p>

<p>Michelle Regner</br>
CEO and Co-Founder of Near Me</p>

<p> Register for our free webinar <a href="http://offers.near-me.com/best-practices">8 Best Practices to Build Your Successful Peer-to-Peer Marketplace</a> on Wednesday, August 13 at 1 pm PDT. </p>
