<p class="first-paragraph">Hi there!  Michelle here from the <a href="http://near-me.com">NearMe</a> team.</p>

<p>Thanks for your interest in <a href="http://near-me.com">NearMe</a>.</p>

<p>Here's a very short, personal <a href="https://plus.google.com/u/0/113390569055627999995/posts/KfV7eyTvMBF">hello video</a> I want to share with you.
<br />
<a href="https://plus.google.com/u/0/113390569055627999995/posts/KfV7eyTvMBF"><img border="0" src="http://near-me.com/assets/adam_michelle.jpg" /></a></p>

<p>Just around the corner we'll be opening up our platform for a public beta.
At the moment we do have a private beta for select clients big and small.</p>

<p>If you have a marketplace idea that you want to start, reply to me now to be a part of our private beta.</p>

<p>In the meantime please follow us <a href="https://twitter.com/NearMeCo">@NearMeCo</a> and on <a href="https://www.facebook.com/NearMeCo">Facebook</a> for best practices for successful marketplace, community building and industry news in the sharing economy.</p>

<p>So, stay tuned! You'll automatically be the first to know about our product launch!</p>

<p>Happy New Year!
<br />
Michelle 
<br /><br />
-- <br />
Michelle Regner<br />
CEO | Co-Founder<br />
<a href="http://www.near-me-app.com/">Near Me</a> &bull; <a href="http://www.desksnear.me/">Desks Near Me</a><br />
1.888.998.3375<br />
<br />
<a href="http://www.twitter.com/nearmeco">@nearmeco</a> &bull; <a href="http://www.twitter.com/desksnearme">@desksnearme</a></p>

