/ START JUMBOTRON
/ .jumbotron{"data-pages" => "parallax"}
/   .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
/     .inner
/       / START BREADCRUMB
/       %ul.breadcrumb
/         %li
/           %p Pages
/         %li
/           %a.active{:href => "#"} Barebone template
/ END BREADCRUMB
/ END JUMBOTRON
