.form-actions {
    position: relative;
    text-align: center;


    .info {
        display: block;
    }

    [type=submit] {
        width: 100%;
        @extend .btn;
        @extend .btn-default;
    }

    a {
        font-size: 16px;
        font-weight: bold;
    }

    @media (min-width: $screen-desktop) {
        .info {
            position: absolute;
            left: $padding-base-horizontal;
            top: 50%;
            margin-top: -0.5em;
            line-height: 1em;
            font-size: 16px;
            font-weight: bold;
            font-style: italic;
            color: $form-actions-info-color;
        }

        [type=submit] {
            width: percentage(4.5/12);
        }
    }
}



.action--remove {
    border: none;
    background: none;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;

    &:before {
        @include fa-icon();
        content: $fa-var-times-circle;
        font-size: 30px;
        color: $action-remove-color;
        // line-height: 40px;
    }

    &:hover, &:focus, &:active {
        &:before {
            color: $action-remove-color-active;
        }
    }

    @media (min-width: $screen-desktop) {
        &:before {
            font-size: 20px;
        }
    }
}

.removable-field {
    position: relative;
    display: inline-block;

    .form-group {
        width: calc(100% - 30px);
    }

    .action--remove {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.row.include-form-action {
    position: relative;

    .form-action {
        position: absolute;
        right: 0;
        top: 0;

        @media (min-width: $screen-desktop) {
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
