.pricing-model {

    > li {
        width: 32.5%;

        > label, > a {
            padding: 10px 0;
            // height: auto;

            &:before {
                @include fa-icon();
                display: block;
                margin-bottom: 5px;
                font-size: 30px;
                color: $box-option-heading-color;
            }
        }

        .pricing-model--time_based_booking:before {
            content: $fa-var-clock-o;
        }

        .pricing-model--event_booking:before {
            content: $fa-var-calendar;
        }

        .pricing-model--fixed:before {
            content: $fa-var-money;
        }

        .pricing-model--subscription_booking:before {
            content: $fa-var-refresh;
        }

        h5 {
            margin-bottom: 0;
            font-size: 14px;
        }

        p {
            display: none;
        }
    }

    @media (min-width: $screen-desktop) {
        > li {
            > a {
                height: 180px;
                padding: 0 30px;

                &:before {
                    font-size: 50px;
                }
            }

            h5 {
                margin-bottom: 5px;
                font-size: 16px;
            }

            p {
                display: block;
            }
        }
    }
}

.run-mode {
    display: inline;
}

.add-entry {
    position: relative;
    top: 10px;
    display: inline-block;
    margin-left: 10px;

    i {
        margin-right: 10px;
    }
}
