// tooltip
.tooltip {
    font-size: 16px;
    text-align: center;
    line-height: 2;
}

.tooltip-inner {
    padding: 10px 20px;
    max-width: 300px;
    min-width: 250px;
    text-align: left;
    white-space: pre-wrap;
}
