%div
  =f.hidden_field :id
  =f.hidden_field :company_id
  / TODO: add autocomplete on properties
  .control-group
    = f.label :property_name
    .controls
      = f.text_field :property_name
  .control-group
    = f.label :value
    .controls
      = f.text_field :value
