%li.listing.action-buttons
  .span4
    = product_property.property_name
  .span4
    = product_property.value

  .span3
    .links.right
      = link_to manage_buy_sell_product_product_property_path(@product, product_property), :method => :delete, :confirm => 'Are you sure?', :class => "delete", style: 'padding-top: 0px;' do
        %span.ico-trash
        %span.text Delete
      = link_to edit_manage_buy_sell_product_product_property_path(@product, product_property), :class => "delete", style: 'padding: 0 0 0 10px;' do
        %span.icon.ico-edit
        %span.text Edit
  .clearfix
