#search_row.span10.offset1
  .row-fluid
    %h1= platform_context_decorator.tagline
  .black-box.row-fluid
    %form#listing_search.home_search{:action => search_path, :method => "get"}
      .input-wrapper
        .geolocation.no-bookings
          %span.ico-crosshairs
        %input#search{:name => "q", :placeholder => "Search by city or address", :type => "text", :value => "", :class => "query"}
      .button-wrapper
        %a.btn.btn-green.btn-large{ "data-disable-with" => "Searching...", :rel => "submit", :href => "" }
          %span.ico-search
          Search
        #suggest_location{:style => "display: none"}

      - search_geofields.each do |geofield|
        = hidden_field_tag geofield, ''
