<form action="<%= search_path %>" method="get" class="big_search">
  <div class="inner">
    <input type="button" name="geolocate" value="" class="geolocation" />
    <input type="text" value="<%= value %>" placeholder="Search by city or address" name="q" id="search">
    <input type="submit" value="" id="submit">
  </div>    
</form>
<% content_for :script do -%>
<script type="text/javascript">
  $(function(){
    if(Modernizr.geolocation){
      var form = $("form.big_search");
      navigator.geolocation.getCurrentPosition(function(position) {
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ address: position.coords.latitude + "," + position.coords.longitude }, function(results, status) {
          var components = results[0].address_components,
              city = null;
          for(var i = 0, l = components.length; i < l; i++) {
             var types = components[i]['types'];
             if(types.indexOf('locality') >= 0 && types.indexOf('political') >= 0) city = components[i]['long_name'];
          }
          if(city) {
            $("input.geolocation", form).addClass("active").attr("geo-val", city).click(function(){  
              var form = $(this).parents('form').first();
              $("input:text", form).val($(this).attr("geo-val"));
            });
          }
        });
      });
    }
  });
</script>
<% end -%>