<form action="<%= search_path %>" method="get" class="big_search">
  <div class="inner">
    <input type="text" value="<%= value %>" placeholder="Search by city or address" name="q" id="search">
    <input type="submit" value="" id="submit">
  </div>    
</form>
