
<% content_for :upper do -%>
  <%= render :partial => "search_bar", :locals => { :value => "" } %>
<% end -%>

<% content_for :sidebar do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<p>Sup?</p>

<p><%= link_to "Create your Workspace, Today!", new_workplace_path %></p>

