
<section id="headline">
  <div class="grid_5 image">
    <%= image_tag "desk_marker.png" %>
  </div>
  <div class="grid_7 aside_text">
    <h2 class="tk-chaparral-pro">Where do you want to work today?</h2>
    <p>We are an awesome Rails Rumble app. Helping freelancers get out of the house!</p>
    <div class="search">
      <%= render :partial => "search/bar", :locals => { :value => "" } %>
      <div id="suggest_location" style="display: none"></div>
    </div>
  </div>
</section>

<div class="grid_7 alpha fancy-photos">
  <h2 class="tk-chaparral-pro">Featured Workplaces</h2>
  <%= render :partial => "workplaces/featured", :collection => @featured, :as => :workplace %>
  <br />
  <h2 class="tk-chaparral-pro">What we are up to</h2>
  <p>The Rails Rumble application goes further than the 48 hour competition. We are committed to continuing with this service and adding in new features making it easier and better for everyone. Its built for a need that a couple of us on the team need to fulfil, the need to get out of the home office.</p>
  <p>One of the main features that is in the pipeline is the ability to have a workspace and desks that have a daily rate. Some businesses have extra goodies available for their desks (like food, drinks or equipment access) and they like to have a small daily rate for incoming freelancers to pay.</p>
  <p>But thats not all! From everyone on the team, thanks for visiting and I hope you have fun with this service.</p>
  <em>&mdash; The Rad Warlike Annex</em>
</div>

<div class="grid_5 omega">
  <%= render :partial => "layouts/sidebar" %>
</div>

