- legacy false

- content_for :hero do
  .container
    #search_row.twelve.columns.offset-by-two
      .wood-box
        %h1 Need a space to work?
        %h2 Search from #{number_with_delimiter Listing.count} spaces nearby

        %form#listing_search.home_search{:action => search_path, :method => "get"}
          %input#search{:name => "q", :placeholder => "Search by city or address", :type => "text", :value => ""}
          %input.geolocation{:name => "geolocate", :type => "button", :value => ""}
          %a.btn.btn-green.btn-outline.btn-medium{ :rel => "submit", :href => "" }
            %i.icon
            Search

        #suggest_location{:style => "display: none"}
        /%hr
        /%p test

.one-third.column
  .box
    %h2 Introducing Desks Near Me
    %p
      Desks Near Me is a simple and beautiful way for freelancers, contractors, and other nomadic workers to see
      great places where they can work. So, where do you want to work today?

.one-third.column
  .box
    %h2 Our commitment to trust & safety
    %p
      Desks Near Me is safe. From our patent pending in-space technology to our 24/7 support line, we make sure
      that you can share your space, or visit one, without worry.

.one-third.column
  = link_to "Get the iPhone app", "", :id => "app_store_link"
