
<section id="headline">
  <div class="grid_5 image">
    <%= image_tag "desk_marker.png" %>
  </div>
  <div class="grid_7 aside_text">
    <h2 class="tk-chaparral-pro">Where do you want to work today?</h2>
    <p>We are an awesome Rails Rumble app. Helping freelancers get out of the house!</p>
    <div class="search">
      <%= render :partial => "search/bar", :locals => { :value => "" } %>
      <div id="suggest_location" style="display: none"></div>
    </div>
  </div>
</section>

<div class="grid_7 alpha fancy-photos">
  <h2 class="tk-chaparral-pro">Featured Workplaces</h2>
  <%= render :partial => "workplaces/featured", :collection => @featured, :as => :workplace %>
</div>

<div class="grid_5 omega">
  <%= render :partial => "layouts/sidebar" %>
</div>

