
<section id="headline">
  <div class="grid_5 image">
    <%= image_tag "desk_marker.png" %>
  </div>
  <div class="grid_7 aside_text">
    <h2 class="tk-chaparral-pro">Where do you want to work today?</h2>
    <p>We are an awesome Rails Rumble app. Helping freelancers get out of the house!</p>
    <div class="search">
      <%= render :partial => "search/bar", :locals => { :value => "" } %>
      <div id="suggest_location" style="display: none"></div>
    </div>
  </div>
</section>

<div class="grid_7 alpha fancy-photos">
  <h1 class="tk-chaparral-pro">Featured Workplaces</h1>
  <%= render :partial => "workplaces/featured", :collection => @featured, :as => :workplace %>
  <br />
  <h1 class="tk-chaparral-pro">What now?</h1>
  <p class="em">Rails Rumble is just the start for the DesksNearMe team. Our app is built for more than just a 48 hour competition.</p><p>We are committed to continuing with this service and adding in new features - making it easier and better for everyone. It's built for a need that many on the team have: the need to get out of the home office and hang out with cool people while we work.</p>
  <h1 class="tk-chaparral-pro">But our desks aren't free...</h1>
  <p>We know that many workplaces have extra goodies available for their desks (like food, drinks or equipment access) and they like to charge a small daily rate for visiting freelancers to pay. There are also dedicated co-working spaces out there which charge for access. For now, we think the best way to handle this is for you to mention this clearly in your workplace description.</p>
  <p><strong>After the Rumble is over, we will be working with our first users to discover the best way to manage listing of paid spaces.</strong></p>
  <p>But thats not all, we have other goodies up our sleeve! (You should see our backlog...) From everyone on the team, thanks for visiting and we hope you have fun with this service.</p>
  <em>&mdash; The Rad Warlike Annex</em>
</div>

<div class="grid_5 omega">
  <%= render :partial => "layouts/sidebar" %>
</div>

