<div class="row">
  <div class="col-md-4 col-md-offset-8 hidden-sm">
    <p class="listing-draft-cta">
    <i>{{ 'onboarding_wizard.finish_later' | translate  }}<input type="submit" name="save_as_draft" value="{{ 'onboarding_wizard.save_draft.label' | translate }}" data-disable-with="Saving..." class="saveasdraft btn-link"></i>
    </p>
  </div>
</div>
