.modal-header
  .modal-title= t('manage.photos.resize_succeeded')
.modal-body
  %p.aligncenter
    = t('manage.photos.changes_applied_soon')

.modal-footer
  %button.button-a.close-modal{:type => "button"}= t('manage.photos.continue')

