%tr
  %td= link_to resource.name, global_admin_instance_path(resource)
  %td= link_to 'Custom Views', global_admin_instance_instance_views_path(resource), class: 'btn'
  %td= link_to 'Edit', edit_global_admin_instance_path(resource), class: 'btn'
