/* Space Page */

.space {

  .box.host {
    position: relative;

    i {
      position: absolute;
      top: -3px;
      right: -3px;
      background: image-url("sections/listings/host-flag.png");
      height: 69px;
      width: 69px;
    }

    .avatar {
      float: left;
    }

    .name {
      font-size: 22px;
      line-height: 50px;
      margin-left: 60px;
    }
  }
}

