/* Space Page */

// Hero area
.space-hero-search-return {
  padding: 15px 0;

  a {
    display: block;
    line-height: 24px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background: image-url("sections/listings/search-return.png") center left no-repeat;
    padding-left: 36px;
    font-size: 20px;

    &, &:hover {
      color: #cebbae;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.space-hero-photos {
  position: relative;

  .photos-list {
    position: absolute;
    left: -125px;
    top: 0;
    padding-top: 16px;

    .prev, .next {
      display: block;
      width: 28px;
      height: 17px;
      margin-left: 40px;
      margin-bottom: 16px;

      @include opacity(0.8);
      cursor: pointer;

      &:hover {
        @include opacity(1);
      }
    }

    .prev {
      background: image-url("sections/listings/photos-list-prev.png");
    }

    .next {
      background: image-url("sections/listings/photos-list-next.png");
    }

    .photos-wrapper {
      height: 270px;
      overflow: hidden;

      ul {
        li {
          margin-bottom: 16px;

          img {
            display: block;
            border: 2px solid #ffffff;
            @include border-radius(6px);
          }

          &.selected {
            img {
              border-color: #a1ca2e;
            }
          }
        }
      }
    }
  }

  .photo {
    position: relative;
    height: 350px;
    background-size: cover;

    .caption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0,0,0,0.75);
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.6);
      padding: 12px;
      font-size: 12px;
    }
  }
}

#space, .space {

  h1 {
    line-height: 40px;
  }

  .box.host, .box.share {
    position: relative;

    i {
      position: absolute;
      top: -3px;
      right: -3px;
      height: 69px;
      width: 69px;
    }

    &.host i {
      background: image-url("sections/listings/host-flag.png");
    }

    &.share i {
      background: image-url("sections/listings/share-flag.png");
    }
  }

  .box.host {
    .avatar {
      float: left;
    }

    .name {
      font-size: 22px;
      line-height: 50px;
      margin-left: 60px;
    }
  }

  .box.share {
    .stButton {
      margin-right: 12px;
    }

    .first-row {
      margin-bottom: 6px;
    }
  }

  .amenities {
    font-size: 12px;
    line-height: 16px;

    $sprite-map: sprite-map("sections/listings/amenity-categories/*.png");

    dt {
      font-size: 16px;
      line-height: 20px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 4px;

      i {
        background: $sprite-map;
        line-height: 20px;
        display: inline-block;
        height: 20px;
        width: 20px;
        vertical-align: top;
        margin-bottom: 0px;
      }
    }

    dl {
      margin-bottom: 8px;
    }

    i.icon-amenity-access {
      background-position: sprite-position($sprite-map, "access");
    }

    i.icon-amenity-other {
      background-position: sprite-position($sprite-map, "entertainment");
    }
  }

  .map {
    .map-wrapper {
      margin-bottom: 10px;

      .map-container {
      }
    }

    address {
    }
  }

  .bookings {
    .listing {
      p {
        font-size: 12px;
        line-height: 14px;
      }

      .images, .description, .book {
        float: left;
        width: 295px;
        margin-left: 20px;

        &:first-child {
          margin-left: 0;
        }
      }

      .images {
        img {
          @include border-radius(6px);
        }
      }

      .description {
        h3 {
          font-size: 16px;
          margin-bottom: 0;
        }

        .price {
          font-size: 22px;
          font-weight: bold;

          .period {
            font-size: 16px;
            font-weight: normal;
          }
        }

      }

      .book {
        color: #848b8f;

        h3 {
          font-size: 12px;
          color: #8e9498;
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 0;
        }

        .booked-days {
          .booked-day {
            display: inline-block;
            @include border-radius(4px);
            padding: 7px;
            overflow: hidden;
            border: 1px solid #bfce94;
            margin: 0 6px 6px 0;
            min-width: 48px;
            color: #89a734;

            .date {
              font-size: 16px;
              font-weight: bold;
              display: block;

              sup {
                vertical-align: top;
                font-size: 9px;
              }
            }

            .month {
              font-size: 10px;
              display: block;
              text-transform: uppercase;
              line-height: 10px;
            }

            .count {
              float: right;
              border-left: 1px dashed #bfc0c0;
              color: #bfc0c0;
              font-weight: bold;
              font-size: 16px;
              line-height: 43px;
              padding: 0 0 0 4px;
              margin: -7px 0;
            }

            &.empty {
              border-color: #bfce94;
              .count {
                color: #bfc0c0;
              }
            }

            &.selected {
              border-color: #89a734;
              .count {
                color: #91529c;
              }
            }

            &.unavailable {
              border-color: #ee9994;
              color: #e83d33;
              .count {
                display: none;
              }
            }
          }
        }
      }
    }
  }

}

