$map-z-index: $nav-z-index - 20;

/*** Map View ***/
section.search#content {
  margin-top: -30px;

  .loading {
    position: fixed;
    top: 50%;
    right: 0;
    left: 0;
    z-index: $map-z-index + 2;
    margin: 0 auto;
    padding: 8px;
    width: 32px;
    height: 32px;
    background: $gray230;
    @include border-radius($border-radius-default);
  }

  .screen-locker {
    position: fixed;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    z-index: $map-z-index + 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .google-map-wrapper, 
  .google-map .inner {
    z-index: $map-z-index;

    @media (max-width: $iphone-landscape) {
      height: 150px;
    }
  }

  .google-map-wrapper .cluster[title] {
    margin-top: -10px;
    margin-left: -2px;
    border: 2px solid rgb(107,11,13);
    @include border-radius(42px);
    background: rgb(186,0,13) !important;
    color: $pure-white !important; 
    font-size: 14px !important;
  }

  #results.no_results {
    z-index: $map-z-index - 1;
    padding: 40px 0;

    &.map {
      position: absolute;
      top: 110px;
    }

    @media (max-width: $search-bar-breakpoint-desktop) {
      margin-top: 40px;
    }

    @media (max-width: $iphone-landscape) {
      margin-top: 30px;
    }

    @media (max-width: $iphone-portrait) {
      margin-top: 100px;
    }

  }

  div.google-map {
    background: $gray230;
    margin: 0;

    &.affix {
      z-index: $map-z-index;
      top: 48px;

      @media (min-width: 1400px) {

        .inner {
          width: 1360px;
        }
      }

      @media (max-width: 1399px) {
        left: 20px;
        right: 20px;
      }
    }

    .inner {
      height: 300px;

      @media (max-width: $iphone-landscape) {
        height: 150px;
      }
    }

    .search-map-redo-search-control {
      background: rgba(255,255,255,0.7);
      padding: 2px 4px;
      margin-left: 12px;
      @include border-radius($border-radius-default);

      label {
        font-size: 14px;
      }
    }

    @media (max-width: 960px) {
      .search-map-redo-search-control {
        display: none;
      }
    }
  }
}
/*** End Map View ***/

.google-map-popover-content .listing-sibling {
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: $gray210;
  }
}

.listing-map-popover-content {
  .ico-close {
    font-size: 50%;
  }
}

#search_row,
.black-box {

  .btn-green {
    width: 100%;
    text-align: center;
    overflow: hidden;
  }
}


/*** Home Page Search ***/
#listing_search {
  position: relative;

  .input-wrapper, .button-wrapper {
    position: relative;
    float: left;
    @include box-sizing(border-box);

  }

  .input-wrapper {
    width: 75%;
    padding-right: 8px;

    input {
      padding-left: 46px;
    }

    .geolocation {
      position: absolute;
      top: 12px;
      left: 18px;
    }
  }

  .button-wrapper {
    width: 25%;

    a {
      display: block;
    }
  }

  @media (max-width: $iphone-landscape) {
    .input-wrapper, .button-wrapper {
      float: none;
      display: block;
      width: 100%;
    }

    .input-wrapper {
      padding-right: 0;
      margin-bottom: 8px;
    }
  }
}
/*** End Home Page Search ***/

header#listing_search {
  position: fixed;
  top: 86px;
  right: 30px;
  left: 30px;
  z-index: $nav-z-index - 10;
  max-width: 1314px;
  padding: 0px 5px 5px 5px;
  margin: 0 auto;
  background: $gray230;
  @include border-radius($border-radius-default);

  @media (max-width: $iphone-landscape) {
    padding-top: 2px;
  }

  .header-inner {
    position: relative;
    max-width: 1360px;
    margin: -2px auto;
  }

  .list-map-toggle {
    position: absolute;
    top: 7px;
    left: 0px;
    width: 100px;
    height: 49px;
    background: transparent;
    @include border-radius($border-radius-default);

    @media (max-width: $iphone-landscape) {
      top: 5px;
      height: 28px;
      width: 54px;
      @include border-radius($border-radius-default);
    }

    a.map,
    a.list {  
      position: absolute;
      z-index: 100;
      display: block;
      width: 96px;
      height:45px;
      @include border-radius($border-radius-default);
      background: rgba($dnm_blue, 0.5);
      color: $dnm_white;
      font-size: 24px;
      text-align: center;
      line-height: 45px; 

      @media (max-width: $iphone-landscape) {
        height: 28px;
        width: 66px;
        left: 64px;
        font-size: 16px;
        line-height: 28px;
        @include border-radius($border-radius-default);
      }


      &:hover {
        background: rgba($dnm_blue, 0.75);
      }

      &.active {
        background: $dnm_blue;
        color: $dnm_white;
      }

      &.active:hover {
        background: $dnm_blue;
      }
    }

    a.map {
      top: 0;
      left: 100px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      .ico-marker:before {
        position: relative;
        left: -5px;
      }

      @media (max-width: $iphone-landscape) {
        left: 54px;
        width: 50px;
      }
    }

    a.list {
      top: 0;
      left: 0px;
      width: 96px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      .ico-list:before {
        position: relative;
        left: -8px;
      } 

      @media (max-width: $iphone-landscape) {
        width: 50px;
      }
    }
  }

  nav.search-view {
    height: 49px;
    margin-top: 5px;

    a {
      @include border-radius($border-radius-default);
      background: $gray230;
      color: $gray40;
      text-align: center; 
      line-height: 49px;
    }

    a:hover {
      background: $gray;
      color: $pure-white;
    }

    a span {
      line-height: 49px;
      font-size: 24px;
    }

  }

  form {
    max-width: 1400px;
    margin: 0 auto;    
    @include transition(margin .1s linear, padding .1s linear);

    input {
      margin-top: 5px;
      margin-bottom: 0px;

      @media (max-width: $ipad-width) {
        margin-top: 0px;
      }

    }

    .search-container {
      position: relative; 
      float: left;
      @include box-sizing(border-box);
      padding-left: 199px;
      padding-right: 449px;
      width: 100%;

      @media (max-width: $search-bar-breakpoint-desktop) {
        padding-right: 48px;
      }
      
      @media (max-width: $iphone-landscape) {
        padding-left: 108px;
        padding-right: 32px;
      }

      input[type="text"]#search {
        position: relative;
        display: block;
        float: left;
        margin-top: 5px 0 0;
        padding: 8px 5px 8px 45px;
        border: 2px solid $gray230;         
        background: $theme_white;

        &:focus {
          border: 2px solid $gray210;
        }

        @media (max-width: $iphone-landscape) {
          height: 28px;
          @include border-radius($border-radius-default);
          border: none;
          font-size: 16px;
          line-height: 24px !important;
          margin-top: 0px;
          margin-bottom: 3px;
          padding: 0 0 0 29px;
        }        
      }
    }

    &.search_results {

      .geolocation,
      .search-icon {
        @include transition(all .1s ease-in);
        position: absolute;
        line-height: 35px;
        font-size: 20px;
        cursor: pointer;

        @media (max-width: $iphone-landscape) {
          font-size: 18px;
        }
      }

      .geolocation {
        color: $icon;
        top: 13px;
        left: 214px;
        width: 34px;

        &:hover {
          color: $icon-hover;
        }

        @media (max-width: $ipad-width) {
          top: 9px;
        }

        @media (max-width: $iphone-landscape) {
          top: -2px;
          left: 114px;
        }
      }

      .search-icon {
        @include box-sizing(border-box);
        top: 7px;
        right: 401px;
        display: block;
        padding: 7px 11px 0 0;
        width: 45px;
        height: 45px;
        color: $theme_white;
        text-align: right;
        @include border-radius($border-radius-default);


        @media (max-width: $search-bar-breakpoint-desktop) {
          right: 0px;
        }

        @media (max-width: $iphone-landscape) {
          top: 5px;
          padding: 0 6px 0 0;
          line-height: 32px;
          width: 28px;
          height: 28px;
        }        
      }
    }

    @media (max-width: $ipad-width) {

      &.query-active {
        @include transition(padding .5s linear, margin .5s linear);

        .list-map-toggle {
          margin-left: -250px;
        }

        .search-container {
          padding-left: 0;
        }

        .geolocation {
          left: 8px;

          @media (max-width: $iphone-landscape) {
            left: 5px;
          }
        }
      } 
    }         
  }  

  .search-filters {
    position: absolute;
    top: 7px;
    width: 397px;
    right: 0px;
    font-size: 0.9em;

    .search-filter {
      position: relative;
      float: left;
      margin-right: 4px;
      padding: 8px 8px;
      border: 1px solid $theme_white;
      border-radius: $default-border-radius;

      &:last-child {
        margin-right: 0px;
      }

      a {
        display: block;
      }

      ul {
        display: none;
        position: absolute;
        z-index: $map-z-index+1;
        right: 0px;
        top: 30px;
        overflow-y: scroll;
        padding: 7px 0px;
        max-height: 200px;
        min-width: 100%;
        border: 1px solid $theme_white;
        border-radius: $default-border-radius;
        background: $theme_white;

        li { 
          overflow: hidden;
          padding: 0px 8px;
          white-space: nowrap;
        }

        label {
          float: left;
          margin: 0px;
          padding-left: 0px 0px 0px 39px;
        }

        @media (max-width: $iphone-portrait) {
          top: 25px;
        }
      }

      &.filter-margin {
        margin: 0px 5px;
      }

      &.active {
        background: $theme_white;
      }

      @media (max-width: $iphone-portrait) {
        @include box-sizing(border-box);
        clear: both;
        margin-right: 0px;
        width: 100%;
      }
    }

    h3 span{

      font-size: 0.8em;
      padding-right: 8px;
    }

    @media (max-width: $search-bar-breakpoint-desktop) {
      position: relative;
      top: 0px;
      right: 0px;
      margin-top: 5px;
    }

    @media (max-width: $iphone-portrait) {
      @include box-sizing(border-box);
      width: 100%;
    }
  }

  @media (max-width: $iphone-landscape) {
    position: absolute;
  }

}

/*** Listing View ***/
section.search section#results.list {
  margin-top: 80px;

  article.listing {
    @include box-sizing(border-box);
    float: left;
    position: relative;
    margin-top: 25px;
    background: $gray230;
    @include border-radius($border-radius-default);
    overflow: hidden;
    width: 22.9%;
    margin-left: 1%;
    margin-right: 1%; 

    @media (max-width: $iphone-landscape) {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px; 
    }

    @media (min-width: $iphone-landscape) and (max-width: $ipad-width) {
      width: 46.9%;
      margin-left: 1.5%;
      margin-right: 1.5%; 
    }

    @media (min-width: $ipad-width) and (max-width: $default-width) {
      width: 29.9%;
      margin-left: 1.5%;
      margin-right: 1.5%; 
    }

    .heading {
      @include box-sizing(border-box);
      padding-top: 8px;
      padding-left: 10px;
      height: 74px;

      .company {
        color: $gray160;
      }

      .company,
      .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .photo {
      @include box-sizing(border-box);
      z-index: -1;

      img {
        width: 100%;
      }
    }

    .info {
      @include box-sizing(border-box);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 25%;
      color: $theme_white;
      font-size: 13px;
      @include background-image(linear-gradient(rgba(250,250,250,0), $black));

      .miles,
      .price {
        position: absolute;
        bottom: 0;
        padding-left: 5px;
        padding-right: 5px;
      }

      .miles {
        left: 0;
      }

      .price {
        right: 0;
      }
    }
  }

  @media (max-width: $search-bar-breakpoint-desktop) {
    margin-top: 125px;
  }

  @media (max-width: $iphone-landscape) {
    margin-top: 100px;
  }

  @media (max-width: $iphone-portrait) {
    margin-top: 180px;
  }


}
/*** End Listing View ***/

/*** Infinite Scroll ***/
.ias_loader {

  h1{
    text-align: center;
    margin: 35px 0px;

    img{
      display: inline-block;
      margin: 0px 20px 4px 0px;
      vertical-align: middle;
    }
  }
}
/*** End Infinite Scroll ***/

form.search-notification-form {
  .control-group:not(.hidden) {
    margin: 0 auto;
    width: 285px;
    display: inline-block;
  }
  input[type=text], input[type=email] {
    font-size: 18px;
    font-weight: normal;
    height: 50px;
  }
  input[type=submit] {
    width: inherit;
    margin-left: 5px;
    vertical-align: top;
  }
}

