section.search {
  min-height:900px;

  .loading {
    margin: 100px auto;
    width: 30px;
  }

  .google-map-wrapper {
    margin-bottom: 12px;
  }

  .google-map-wrapper, .google-map .inner {
    height: 300px;

    @media (max-width: 480px) {
      height: 150px;
    }
  }

  div.google-map {
    background: #FFF;
    background: $gray2;
    padding: 3px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    margin: 12px 0;

    &.affix {
      z-index: 9000;
      top: 48px;

      @media (min-width: 1400px) {
        .inner {
          width: 1360px;
        }
      }

      @media (max-width: 1399px) {
        left: 20px;
        right: 20px;
      }
    }

    .inner {
      border: 1px solid #CCC;
      border-radius: 6px;
      -moz-border-radius: 6px;
      -o-border-radius: 6px;
      height: 300px;

      @media (max-width: 480px) {
        height: 150px;
      }
    }

    .search-map-redo-search-control {
      background: rgba(255,255,255,0.7);
      padding: 2px 4px;
      margin: 5px;
      @include border-radius(4px);

      label {
        font-size: 14px;
      }
    }

    .map-popover-content {
      padding-left: 20px;
      font-size: 15px;
      position: relative;

      h2 {
        font-size: 16px;
        margin: 0;
        line-height: 20px;

        a {
          color: $dnm_black;

          &:hover {
            color: $dnm_orange;
          }
        }
      }

      address {
        .ico-marker {
          width: 17px;
          display: inline-block;
          margin-left: -20px;
        }
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}

#search_row,
.black-box {
  .btn-green {
    width: 100%;
    text-align: center;
    overflow: hidden;
  }
}

#listing_search {
  .geolocation {
    position: absolute;
    top: 17px;
    left: 17px;
    border: 0;
    background: transparent;
    @include transition(all .1s ease-in);
    font-size: 32px;
    @include opacity(.6);
    color: $dnm_black;
    cursor: pointer;

    &:hover {
      opacity:.95;
    }

    &.no-bookings {
      position: relative;
      top: -48px;
      left: 10px;
      height: 20px;
    }
  }

  &.home_search input#search {
    padding: 8px 0 8px 50px;
    width: 100%;
    float:left;
  }

  &.search_results .geolocation {
    top: 9px;
    left: 10px;
  }

  &.search_results {
    .availability-quantity, .price-range, .amenities {
      margin: 10px 0 0;
    }
  }

  .slider {
    float: left;
    margin-left: 12px;
    margin-top: 6px;
    width: 180px;
  }

  label {
    font-size: 16px;
  }

  .value {
    float: left;
    margin-left: 20px;
    font-size: 16px;

    @media (max-width: 480px) {
      font-size: 14px;
    }
  }
  .price-range .value {
    margin-left:30px;
  }

  // On the search results page bar
  &.search_results {
    label {
      float: left;
      margin-right: 0;
    }

    .span6 {
      position: relative;
    }
    .slider {
      width: 60%;
    }

    input#search {
      position: relative;
      padding: 8px 0 8px 50px;
      background: $dnm_white;
      border: 2px solid #ebebeb;

      &:focus {
        border: 2px solid rgb(200,200,200);
      }
    }

    .associations {
      height: 24px;
    }

    .multiselect {
      margin: -4px 0 0;
      width: 100%;

      @media (max-width: 767px) {
        margin-left: 0;
      }
    }

    .availability-date-start {
      position: relative;
      float: left;
      width: 49%;
      margin-right: 2%;
    }

    .availability-date-end {
      position: relative;
      float: left;
      width: 49%;
    }

    .availability-date-start, .availability-date-end {
      input {
        width:100%;
      }
    }

    .availability-date-start, .availability-date-end {
      position: relative;

      .calendar {
        position: absolute;
        top: 10px;
        left: 10px;
        display: block;
        font-size: 28px;
        opacity: .6;
      }

      input {
        padding-left: 50px;
        width:100%;
        @include box-sizing(border-box);
        background: $dnm_white;

      }
    }
  }
}

.search-results {
  article.listing {
    float: left;
    width: 25%;
    height: 350px;
    overflow: hidden;

    &.focussed {
      h2, h2 a{
        color: #FF8D00;
      }
    }

    @media (max-width: 960px) {
      width: 33.333333333%;
      height: 300px;
    }

    @media (max-width: 650px) {
      width: 50%;
    }

    @media (max-width: 450px) {
      width: 100%;
      height: auto;
      margin-bottom: 1.5em;
    }

    h2 {
      margin: 0px 16px 6px 0;
      line-height: 32px;

      a {
        color: $dnm_black;
      }
    }
    address {
      padding-right: .75em;

      @media (max-width: 767px) {
        margin: 10px 0;
      }
    }

    img {
      max-width:100%;
      padding: 1px;
      background: $dnm_white;
      background: rgba(255, 255, 255, 0.6);
      display: block;
    }
  }
}
