.content-container
  %h4 Taxonomies
  .row
    .table-container.col-xs-12
      %table.table.sortable
        %thead
          %tr
            %th Name
            %th
        %tbody
          - @taxonomies.each do |taxonomy|
            = render 'index_row', taxonomy: taxonomy

= content_for :header_buttons do
  = link_to 'New taxonomy', new_instance_admin_buy_sell_taxonomy_path, class: 'pull-right btn btn-blue'

