%tr
  %td= link_to resource.name, admin_transactable_type_custom_attribute_path(resource.transactable_type, resource)
  %td= link_to 'Edit', edit_admin_transactable_type_custom_attribute_path(resource.transactable_type, resource), class: 'btn'
  %td= link_to "Delete", [:admin, resource.transactable_type, resource], :method => :delete, :confirm => "Are you sure you want to delete this?", :class => "btn btn-danger"
