<h2>Hello, {{ user.first_name }}!</h2>

<p>This is a notice to let you know that the report you have requested is finished.</p>

<p>You may download it using the link below:</p>

<p><a href="{{ 'instance_admin_marketplace_report_url' | generate_url: id: marketplace_report.id }}">Download Report</a></p>
