%section.bookings.quick-book
  .listings
    - if selected_listing
      = render :partial => 'booking', :locals => { :listing => selected_listing, :selected_listing => true }
      - unless (@location.listings - [selected_listing]).empty?
        %h2{:style => "margin: 40px 0 20px;"} 
          Other listings at this location  
    - (@location.listings - [selected_listing]).each do |listing|
      = render :partial => 'booking', :locals => { :listing => listing, :selected_listing => false }


- content_for :domready do
  $('.quantity select').customSelect();
