<div class="row-fluid booking-submit-row book">
  <a href="#" class="btn btn-green btn-large suggest-date" data-modal="true" data-href="{{listing.new_user_message_path}}">
    <span class="text">{{ 'reservations.booking_module.not_bookable' | translate }}</span>
  </a>
</div>
