.map
  .map-wrapper.google-map
    .map-container

  %address{"data-lat" => location.latitude, "data-lng" => location.longitude, :class => 'hidden'}
    #address-popover
      = location_format_address(location.address)
      = link_to "https://maps.google.com/maps?q=#{location.address}", target: '_blank' do
        %span.ico-open-link.padding
