%section.bookings.quick-book
  .listings
    - @location.listings.each do |listing|

      .listing.box{listing_data_attributes(listing)}
        .listing-photo-container
          .images
            - if listing.photos.any?
              .image
                = image_tag listing.photos.first.url(:space_listing)
        .listing-description-container
          %h3.listing-name
            = listing.name
          %p
            = truncate_with_ellipsis listing.description, 250, :class => "listing-description"

        = render 'booking_module', listing: listing
        .clearfix

