%section.bookings.quick-book
  .listings
    - @location.listings.each do |listing|

      .listing.box{listing_data_attributes(listing)}
        .images
          - if listing.photos.any?
            .image{:style => "margin-right: 15px;"}
              = image_tag listing.photos.first.url(:space_listing)

        %h3.listing-name
          = listing.name
        %p
          = truncate_with_ellipsis listing.description, 250, :class => "listing-description"

        = render 'booking_module', listing: listing
