.hero-gray-texture.hero-shadow
  .container.space-hero-photos
    .photos-list
      .prev
      .photos-wrapper
        %ul
          - @location.photos.each do |photo|
            %li
              = image_tag photo.url(:hero_preview), :alt => photo.caption, 'data-url' => photo.url(:hero)
      .next

    .photo{:style => "background-image: url('#{@location.photos.first.url}')"}
      .caption
        = @location.photos.first.caption
