.hero-gray-texture.hero-shadow
  .container.fluid
    .two-thirds.column.alpha.right
      .photo{:style => "background-image: url('#{@location.photos.first.url}')"}
        .caption
          = @location.photos.first.caption
    .one-third.column.fluid
      = image_tag("http://placehold.it/650x350")          
