.hero-gray-texture.hero-shadow
  .container.space-hero-photos
    .one-third.column.alpha
      = image_tag("http://placehold.it/350x350")
    .two-thirds.column.alpha
      .photo{:style => "background-image: url('#{@location.photos.first.url}')"}
        .caption
          = @location.photos.first.caption
