= form_tag "/locations/populate_address_components", :method => :post do 
  .wrap
    <input id="location_address" name="location[address]" value="something">
  - @locations.each do |location| 
    :javascript
      $(function() {
        // Initialize the location form
          new AddressComponentsPopulator('#{location.formatted_address}', #{location.id})
          });

  .actions
    <input type="submit" value="Submit"/>


