- render_content_outside_container!
- meta_title "Accounting Desks Near Me"

- pagesubject = "accountant"
- heroimage = "landing-page/hero-accounting.jpg"

%section#vendor-accounting
  .row-fluid
    .span12.header-image
      = image_tag heroimage
      .hero-gradient
      %h1 Accounting DesksNear.Me

  .container-fluid
    .row-fluid
      %h3 Share your extra office space with other #{pagesubject}s in your area.

    .row-fluid.padding-row.message-photos
      .span4.message
        %h2 Private Office
        %p Extra space in your office shouldn't be a burden. Showcasing your unused space can help attract like-minded professionals to help supplement leasing costs and continue to have others around you that share the same industry.
      .span8.photo.right
        = image_tag heroimage
        
  .container-fluid.calltoaction
    .row-fluid
      %h3 List your space for #{pagesubject}s
      %a{:title => 'List your desk', :href => '#', :class => 'btn btn-large btn-green'} List your desk