- render_content_outside_container!
- meta_title "Design Desks Near Me"

%section#landing-page
  .row-fluid.landing-page-background
    .span12.header-image#header-design
      .hero-color#color-design
      .container-fluid.calltoaction
        = image_tag "landing-page/logo-landing_page.png"
        %h1 Add your spare design desks and creative space.
        .row-fluid
          %h2 Connecting with thousands of trusted web design professionals looking for your space.
          %a{:title => 'List your desk', :href => '#', :class => 'btn btn-large btn-blue'} List your desk