- render_content_outside_container!
- meta_title "Legal Desks Near Me"

%section#landing-page
  .row-fluid.landing-page-background
    .span12.header-image#header-law
      .hero-color#color-law
      .container-fluid.calltoaction
        = image_tag "landing-page/logo-landing_page.png"
        %h1 Add your extra legal office or conference room here.
        .row-fluid
          %h2 When you list with DesksNear.Me you are connecting with thousands of trusted legal professionals looking for your space.
          %a{:title => 'List your desk', :href => '#', :class => 'btn btn-large btn-red'} List your desk