- title t('dashboard.nav.users')

- content_for :page_header do
  %h1= yield :title

  .options
    = link_to t('dashboard.users.add_admin_html'), new_dashboard_company_user_path, :"data-modal" => true

.panel
  .panel-body
    - if @users.length > 0
      = render @users
    - else
      %p.empty-resultset= t('dashboard.users.no_users')
