- is_active = (local_assigns[:is_active].presence || false)

%footer{ class: (defined?(footer_class) ? footer_class : '') }
  = render 'comments/activity_feed_comments', comment: event.comments.build, is_active: is_active
