- hide_comment_options = local_assigns[:hide_comment_options].presence || false
- target = local_assigns[:target].presence || "_self"
- formatted_event = setup_activity_feed_event(event, target)

- if event.event_source.present? && formatted_event.text.present? && formatted_event.image.present?
  - data = { activity_feed_event_id: event.id, creator_id: event.creator_id }
  - data[:user_entry] = '' if status_update_event?(event.event)
  - data[:user_entry] = '' if comment_event?(event.event)
  %article.status-a{ data: data }
    = render 'shared/activity_status_header', event: event, target: target, formatted_event: formatted_event
    = render 'shared/activity_status_body', event: event, target: target if event.has_body?
    = render 'shared/activity_status_footer', event: event unless event.has_body? || hide_comment_options
