.box-a
  / header with button
  .header-a
    %h2.hx
      = t :featured_projects
    %p.action
      = link_to t(:view_all), search_path(search_type: :projects, sort: :featured), class: 'button-a small light'

  .featured
    - projects.each do |project|
      = render 'shared/featured_project', project: project
