.box-a
  .header-a
    %h2.hx
      = t :featured_projects

  .featured
    - projects.each do |project|
      = render 'shared/featured_project', project: project

  .more-b
    = link_to t(:view_all), search_path(search_type: :projects, sort: :featured), class: 'button-a small light'

