.box-a

  .header-a
    %h2.hx
      = t :featured_users

  .featured
    - users.each do |user|
      = render 'shared/featured_user', user: user

  .more-b
    = link_to t(:view_all), search_path(search_type: :people, sort: "featured"), class: 'button-a small light'

