.box-a
  .header-a
    %h2.hx
      = t :featured_topics

  .featured
    - topics.each do |topic|
      = render 'shared/featured_topic', topic: topic

  .more-b
    = link_to t(:view_all), search_path(search_type: :topics, sort: :featured), class: 'button-a small light'
