// Google analytics
= render 'layouts/google_analytics'

// Sessioncam
= render 'shared/sessioncam'

// Mixpanel
= render 'shared/mixpanel' if DesksnearMe::Application.config.perform_mixpanel_requests && !self.mixpanel.requested_by_bot?
