.header-text-and-logo
  .v-wrap
    .v-box
      - if blog_instance.header_logo.present?
        = image_tag blog_instance.header_logo.url, class: 'blog-logo'
      - if blog_instance.header_icon.present?
        = image_tag blog_instance.header_icon.url, class: 'blog-icon'
      - if blog_instance.header_text.present?
        %span.header-text{class: blog_instance.header_logo.present? ? 'with-border' : ''}= blog_instance.header_text
      - if blog_instance.header_motto.present?
        %p.header-motto= blog_instance.header_motto
