.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner.nav-links
    = link_to platform_context.name, main_app.root_path, :id => "logo"
    #header_links.links-container.pull-right
      = render "layouts/header_navigation" unless no_header_links?
- unless no_header_links?
  = yield :manage_navbar
