<nav>
  <ul>
    <li class="grid_2"><%= link_to "Workplaces", "#" %></li>
    <% if current_user? %>
      <li class="grid_2"><%= link_to "Logout", logout_path %></li>
    <% else %>
      <li class="grid_4 joined"><%= link_to "Login with Twitter", login_path %></li>
    <% end %>
  </ul>
</nav>
