<section>
  <h1 class="tk-chaparral-pro">What is Desks Near Me?</h1>
  <p class="em">Desks Near Me is a simple and beautiful way for freelancers, contractors, and other nomadic workers to see great places where they can work.</p>
  <p>
    There are plenty of fantastic companies worldwide, such as Inspire9, The Frontier Group, eLabs, and Obtiva, who offer up their fantastic working environment to individuals who need a change of scenery or companions. This is fantastic! Unfortunately, until now, it hasn't been easy for individuals to find places like this or to even know that they existed.
  </p>
  <p>
    This is why we built Desks Near Me. So, start searching for a place to work above, or <%= link_to "add a place", new_workplace_path %> now!
  </p>
  <%= link_to new_workplace_path, :class => "huge_ass_button workplace" do %><%= image_tag "marker-big.png" %> Add my workplace<% end %>
</section>
<%= yield :sidebar %>