- is_required = !f.object.transactable_type.skip_location?

= f.association :location, collection: @locations, required: is_required, input_html: { :"data-location-field" => true }


%p.form-control-option{ :"data-location-actions" => true }
  = link_to 'Add New Location', new_dashboard_company_location_path, data: { modal: true }

  = render @locations, f: f


.map-location
