<ul class="gallery"></ul>
<div class="fileupload" action="/" method="POST" enctype="multipart/form-data">
  <div class="progressall">
    <div class="bar" style="width: 0%;height:18px;background:green;"></div>
  </div>
  <div class="action">
    <a href="" style="position:relative;" class="btn btn-blue btn-medium upload-photos fileinput-button">
      <span class="ico-upload-photos padding"></span>
      <span>Upload Photos</span>
      <input style="opacity:0;position:absolute;top:0;left:0; height:inherit;width:inherit;" type="file" name="files[]" multiple="">
    </a>
  </div>
</div>
