<ul class="gallery"></ul>
<div class="fileupload" action="/" method="POST" enctype="multipart/form-data">
  <label class="action">
    <input class="browse-file" type="file" name="files[]" multiple="">
    <span class="btn btn-blue btn-medium upload-photos fileinput-button">
      <span class="ico-upload-photos padding"></span>
      <span>Upload Photos</span>
    </span>
  </label>
</div>
