<div>
  <input id="availability_template_id_m-f9-5" name="availability_template_id" type="radio" value="M-F9-5">
  <label class="inline" for="availability_template_id_m-f9-5">Working Week (Mon - Fri, 9:00 AM - 5:00 PM)</label>
</div>
<div>
  <input data-custom-rules="true" id="availability_rules_custom" name="availability_template_id" type="radio" value="custom">
  <label class="inline" for="availability_rules_custom">Custom</label>
</div>
